Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Docs update
  doc/classes/ImageTexture.xml
  doc/classes/PortableCompressedTexture2D.xml
  doc/classes/Texture2D.xml
Due: make-rst, doc-status

Swapped xy-yx etc. labels on Transform2D, Transform3D, Basis, Projection in inspector
  editor/inspector/editor_properties.cpp
Due: copyright-headers

Fix glitched animation key after canceled dragging
  editor/animation/animation_track_editor.cpp
Due: copyright-headers

Fix Image format RGB565 conversion
  core/io/image.cpp
  modules/dds/dds_enums.h
  modules/dds/image_saver_dds.cpp
  modules/dds/texture_loader_dds.cpp
Due: copyright-headers, header-guards

change from default_feed to Default
  servers/microphone_server.cpp
Due: copyright-headers

Fix symlink copy in `DirAccess::copy_dir`.
  core/io/dir_access.cpp
Due: copyright-headers

[.NET] Fix `Quaternion(Vector3, Vector3)` constructor when vectors are the same.
  modules/mono/glue/GodotSharp/GodotSharp/Core/Quaternion.cs
Due: none

[Windows] Additionally use `cpuid` instruction to detect SSE4.2 support.
  platform/windows/cpu_feature_validation.c
Due: copyright-headers

Implement `@final` for methods and classes
  editor/doc/editor_help.cpp
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/tests/scripts/analyzer/errors/final_classes.gd
  modules/gdscript/tests/scripts/analyzer/errors/final_classes.out
  modules/gdscript/tests/scripts/analyzer/errors/final_methods.gd
  modules/gdscript/tests/scripts/analyzer/errors/final_methods.out
Due: make-rst, doc-status, copyright-headers, header-guards

Fix the crash by returning the actual type than TYPE_BOOL
  servers/rendering/shader_language.cpp
Due: copyright-headers

Deduplicate MethodBind::_gen_argument_type.
  core/extension/gdextension.cpp
  core/object/method_bind.cpp
  core/object/method_bind.h
Due: copyright-headers, header-guards

Add item ID to GridMap palette
  modules/gridmap/editor/grid_map_editor_plugin.cpp
Due: copyright-headers

OpenXR: fixed required extension tooltip
  modules/openxr/editor/openxr_interaction_profile_editor.cpp
Due: copyright-headers

Add `SVGTexture`support to `NinePatchRect`, `TextureProgressBar` and `StyleBoxTexture`.
  doc/classes/SVGTexture.xml
  scene/gui/nine_patch_rect.cpp
  scene/gui/texture_progress_bar.cpp
  scene/resources/style_box_texture.cpp
  scene/resources/svg_texture.cpp
  scene/resources/svg_texture.h
  scene/resources/texture.h
Due: make-rst, doc-status, copyright-headers, header-guards

Feat: runtime video recorder (web & pc)
  main/main.cpp
  modules/spx/spx.cpp
  modules/spx/spx_res_mgr.cpp
  modules/spx/spx_res_mgr.h
  modules/spx/spx_sprite.cpp
  modules/spx/spx_sprite.h
  platform/web/SCsub
  platform/web/godot_audio.h
  platform/web/js/engine/engine.js
  platform/web/js/libs/library_godot_audio.js
  platform/web/js/libs/library_godot_os.js
  platform/web/js/libs/library_godot_recorder.js
  servers/audio/audio_driver_hybrid.cpp
  servers/audio/audio_driver_hybrid.h
  servers/audio_server.cpp
  servers/audio_server.h
  servers/movie_writer/independent_audio_recorder.cpp
  servers/movie_writer/independent_audio_recorder.h
  servers/movie_writer/independent_video_recorder.cpp
  servers/movie_writer/independent_video_recorder.h
  servers/movie_writer/movie_utils.cpp
  servers/movie_writer/movie_utils.h
  servers/movie_writer/movie_writer.cpp
  servers/movie_writer/movie_writer.h
  servers/movie_writer/obs_style_movie_writer.cpp
  servers/movie_writer/obs_style_movie_writer.h
  servers/movie_writer/post_merge_processor.cpp
  servers/movie_writer/post_merge_processor.h
  servers/movie_writer/simple_audio_writer.cpp
  servers/movie_writer/simple_audio_writer.h
  servers/movie_writer/simple_video_writer.cpp
  servers/movie_writer/simple_video_writer.h
  servers/movie_writer/thread_safe_frame_buffer.cpp
  servers/movie_writer/thread_safe_frame_buffer.h
  servers/register_server_types.cpp
Due: eslint, jsdoc, copyright-headers, header-guards

[macOS] Regenerate editor `icns` file to include all resolutions.
  misc/dist/macos_tools.app/Contents/Resources/Godot.icns
  misc/dist/macos_tools.app/Contents/Resources/GodotLG.icns
Due: none

Allow setting `SVGTexture` oversampling factor for `Sprite3D`.
  doc/classes/Sprite3D.xml
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
  scene/resources/svg_texture.cpp
  scene/resources/svg_texture.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix some inspector action buttons not updating icon when theme changes
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
  editor/inspector/editor_properties_array_dict.cpp
  editor/inspector/editor_properties_array_dict.h
  editor/inspector/input_event_editor_plugin.cpp
  editor/inspector/input_event_editor_plugin.h
  editor/inspector/tool_button_editor_plugin.cpp
  editor/inspector/tool_button_editor_plugin.h
  editor/scene/3d/skeleton_3d_editor_plugin.cpp
  editor/scene/3d/skeleton_3d_editor_plugin.h
  editor/scene/gui/font_config_plugin.cpp
  editor/scene/gui/font_config_plugin.h
  editor/scene/packed_scene_editor_plugin.cpp
  editor/scene/packed_scene_editor_plugin.h
  editor/scene/texture/texture_region_editor_plugin.cpp
  modules/interactive_music/editor/audio_stream_interactive_editor_plugin.cpp
Due: copyright-headers, header-guards

Disable auto translation of flag names in the inspector
  editor/inspector/editor_properties.cpp
Due: copyright-headers

Write directories to preset's export_files when entire folder is selected
  editor/export/editor_export.cpp
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_preset.cpp
  editor/export/project_export.cpp
  editor/export/project_export.h
Due: copyright-headers, header-guards

Autocompletion: Remove duplicate code
  modules/gdscript/gdscript_editor.cpp
Due: copyright-headers

Compatibility: Fix cubemap faces order when setting texture data
  drivers/gles3/storage/texture_storage.cpp
Due: copyright-headers

Update property list when instance uniforms changed for `CanvasItem` and `GeometryInstance3D`
  scene/3d/mesh_instance_3d.cpp
  scene/3d/visual_instance_3d.cpp
  scene/main/canvas_item.cpp
Due: copyright-headers

[Windows] Release mouse buttons after native window drag/resize operation.
  platform/windows/display_server_windows.cpp
Due: copyright-headers

create AudioStreamEffect
  doc/classes/AudioEffect.xml
  doc/classes/AudioEffectAmplify.xml
  doc/classes/AudioEffectBandLimitFilter.xml
  doc/classes/AudioEffectBandPassFilter.xml
  doc/classes/AudioEffectCapture.xml
  doc/classes/AudioEffectCompressor.xml
  doc/classes/AudioEffectDelay.xml
  doc/classes/AudioEffectDistortion.xml
  doc/classes/AudioEffectEQ10.xml
  doc/classes/AudioEffectEQ21.xml
  doc/classes/AudioEffectEQ6.xml
  doc/classes/AudioEffectFilter.xml
  doc/classes/AudioEffectHardLimiter.xml
  doc/classes/AudioEffectHighPassFilter.xml
  doc/classes/AudioEffectHighShelfFilter.xml
  doc/classes/AudioEffectInstance.xml
  doc/classes/AudioEffectLimiter.xml
  doc/classes/AudioEffectLowPassFilter.xml
  doc/classes/AudioEffectLowShelfFilter.xml
  doc/classes/AudioEffectNotchFilter.xml
  doc/classes/AudioEffectPanner.xml
  doc/classes/AudioEffectPhaser.xml
  doc/classes/AudioEffectPitchShift.xml
  doc/classes/AudioEffectRecord.xml
  doc/classes/AudioEffectReverb.xml
  doc/classes/AudioEffectSpectrumAnalyzer.xml
  doc/classes/AudioEffectSpectrumAnalyzerInstance.xml
  doc/classes/AudioStreamEffect.xml
  doc/classes/AudioStreamPlaybackEffect.xml
  editor/audio/audio_stream_effect_editor_plugin.cpp
  editor/audio/audio_stream_effect_editor_plugin.h
  editor/icons/AudioStreamEffect.svg
  editor/register_editor_types.cpp
  scene/register_scene_types.cpp
  scene/resources/audio_stream_effect.cpp
  scene/resources/audio_stream_effect.h
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Add remove root node method to `EditorInterface`
  doc/classes/EditorInterface.xml
  editor/editor_interface.cpp
  editor/editor_interface.h
Due: make-rst, doc-status, copyright-headers, header-guards

Relocate `add_root_node` method to `EditorInterface` from `EditorScript` and deprecate old method
  doc/classes/EditorInterface.xml
  doc/classes/EditorScript.xml
  editor/editor_interface.cpp
  editor/editor_interface.h
  editor/script/editor_script.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

GDScript: Don't stop annotation argument parsing at file end
  modules/gdscript/gdscript_parser.cpp
Due: copyright-headers

Optimize TileMapLayer
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: copyright-headers, header-guards

Document `Tree.item_collapsed` also being emitted when the item is expanded
  doc/classes/Tree.xml
Due: make-rst, doc-status

Postpone adding new extension plugins to the editor.
  core/extension/gdextension.cpp
Due: copyright-headers

View resource signals in the Connections Dock
  editor/docks/node_dock.cpp
  editor/docks/node_dock.h
  editor/docks/scene_tree_dock.cpp
  editor/editor_node.cpp
  editor/scene/connections_dialog.cpp
  editor/scene/connections_dialog.h
Due: copyright-headers, header-guards

Improve EditorRunBar shortcut tooltips to be more informative
  editor/run/editor_run_bar.cpp
Due: copyright-headers

Add `--color` command line argument to control colored console output
  core/config/engine.cpp
  core/config/engine.h
  core/string/print_string.cpp
  doc/classes/@GlobalScope.xml
  drivers/unix/os_unix.cpp
  main/main.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Use global cache directory to store shader cache
  editor/file_system/editor_paths.cpp
Due: copyright-headers

Update _physics_process and _process docs to reflect implementation.
  doc/classes/MainLoop.xml
  doc/classes/Node.xml
Due: make-rst, doc-status

Clarifying and moving extra knowledge to note section
  doc/classes/MainLoop.xml
  doc/classes/Node.xml
Due: make-rst, doc-status

Fix GLTF zero-texture crash and texture bounds checking
  modules/gltf/gltf_document.cpp
Due: copyright-headers

Enhance GLTF import warnings with user-friendly messages
  modules/gltf/gltf_document.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
