Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Force multiple of 4 sizes for Betsy compressor.
  modules/betsy/image_compress_betsy.cpp
Due: copyright-headers

Fix get_rpm() on wheel which has steering
  scene/3d/physics/vehicle_body_3d.cpp
Due: copyright-headers

Add properties to configure space trimming on line break.
  doc/classes/Button.xml
  doc/classes/Label.xml
  doc/classes/Label3D.xml
  doc/classes/RichTextLabel.xml
  doc/classes/TextServer.xml
  scene/3d/label_3d.cpp
  scene/3d/label_3d.h
  scene/gui/button.cpp
  scene/gui/button.h
  scene/gui/item_list.cpp
  scene/gui/label.cpp
  scene/gui/label.h
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
  scene/gui/tree.cpp
  servers/text_server.cpp
  servers/text_server.h
  tests/servers/test_text_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Make SConstruct file check some envs before querying modules
  SConstruct
Due: none

[macOS/iOS] Fix system font family descriptor leak.
  platform/ios/os_ios.mm
  platform/macos/os_macos.mm
Due: copyright-headers

[macOS] Enable transparency for windows with decorations.
  platform/macos/display_server_macos.mm
  platform/macos/godot_window_delegate.mm
Due: copyright-headers

Fix error when embedded window is closed while resizing
  scene/main/viewport.cpp
Due: copyright-headers

[macOS] Fix editor loading crash on native menu click.
  editor/editor_node.cpp
Due: copyright-headers

Improve Jolt module initialization style
  modules/jolt_physics/register_types.cpp
Due: copyright-headers

confirm before quitting editor while project is running
  editor/editor_node.cpp
Due: copyright-headers

Allows functions calls in method track to be hidden by using GUI/Shortcut
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Due: copyright-headers, header-guards

`AudioStreamPlaybackWAV`: inherit from `Resampled`
  scene/resources/audio_stream_wav.cpp
  scene/resources/audio_stream_wav.h
Due: copyright-headers, header-guards

Overhaul CanvasItem documentation
  doc/classes/CanvasItem.xml
Due: make-rst, doc-status

StringLikeVariantOrder: Compare in-place
  core/string/string_name.h
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant.cpp
  core/variant/variant.h
Due: copyright-headers, header-guards

Fix `StreamPeerGZIP::finish()` internal buffer size usage
  core/io/stream_peer_gzip.cpp
  doc/classes/StreamPeerGZIP.xml
  tests/core/io/test_stream_peer_gzip.h
  tests/test_main.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Implement properties that recursively disables children's focus & mouse filter.
  doc/classes/Control.xml
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/graph_edit.cpp
  scene/gui/slider.cpp
  scene/gui/tab_container.cpp
  scene/main/viewport.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Add `MultiplayerSpawner` unit tests
  modules/multiplayer/tests/test_multiplayer_spawner.h
Due: copyright-headers, header-guards

Scene import: extract UID paths and store fallback
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/resource_importer_scene.h
  editor/import/3d/scene_import_settings.cpp
Due: copyright-headers, header-guards

Update Windows icon cache after export.
  platform/windows/export/export_plugin.cpp
Due: copyright-headers

StyleBoxFlat scale down corners when oveflowing to prevent glitchy overlapping shapes.
  scene/resources/style_box_flat.cpp
Due: copyright-headers

[TextEdit] Use actual indentation offset instead of space width for wrapped lines.
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  tests/scene/test_text_edit.h
Due: copyright-headers, header-guards

Use single RNG instance for `FileAccessEncrypted` IV generation.
  core/io/file_access_encrypted.cpp
  core/io/file_access_encrypted.h
  core/register_core_types.cpp
Due: copyright-headers, header-guards

[DisplayServer] Decouple `show_window(MAIN_WINDOW_ID)` from `DisplayServer` constructor, update project manager size/position after DS init.
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/editor_settings.h
  editor/project_manager.cpp
  editor/project_manager.h
  main/main.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
Due: copyright-headers, header-guards

[Label] Fix min. size calculation counting extra spacing twice.
  scene/gui/label.cpp
Due: copyright-headers

Improve `TileMap` and `TileSet` editors UI
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.cpp
  editor/plugins/tiles/tile_set_atlas_source_editor.h
  editor/plugins/tiles/tile_set_editor.cpp
  editor/plugins/tiles/tile_set_editor.h
Due: copyright-headers, header-guards

Unbind CSGShape::_update_shape() and make it public
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/gltf/gltf_document.cpp
Due: copyright-headers, header-guards

Camera2D code cleanup
  scene/2d/camera_2d.cpp
  scene/2d/camera_2d.h
Due: copyright-headers, header-guards

Defend against directories without trailing slashes
  editor/editor_file_system.cpp
  editor/filesystem_dock.cpp
Due: copyright-headers

Remove `String` clipping constructors. Callers should instead call constructors with explicit encoding names, with known length `Span`.
  core/io/plist.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_tokenizer_buffer.cpp
  modules/mbedtls/crypto_mbedtls.cpp
  modules/regex/regex.cpp
  modules/websocket/wsl_peer.cpp
  platform/macos/os_macos.mm
  platform/windows/os_windows.cpp
  tests/core/string/test_string.h
Due: copyright-headers, header-guards

[Editor] Change global menu icons theme independently of editor theme.
  editor/editor_dock_manager.cpp
  editor/editor_dock_manager.h
  editor/editor_node.cpp
  editor/themes/editor_icons.cpp
  scene/main/window.cpp
  scene/main/window.h
Due: copyright-headers, header-guards

fix(VideoStreamPlayer): Redraw when video resolution changes during playback
  scene/gui/video_stream_player.cpp
  scene/gui/video_stream_player.h
Due: copyright-headers, header-guards

Don't free already freed scenes when changing SceneTree current scene
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Due: copyright-headers, header-guards

Update mouse-entered state when subwindow closes (macOS display server)
  platform/macos/display_server_macos.mm
Due: copyright-headers

Change root node transform warning to only show up for position
  editor/gui/scene_tree_editor.cpp
Due: copyright-headers

Renderer: Fix Metal handling of cube textures; assert equal dimensions
  drivers/metal/rendering_device_driver_metal.mm
  servers/rendering/rendering_device.cpp
Due: copyright-headers

Refactor ColorPicker shapes
  scene/gui/color_mode.h
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  scene/gui/color_picker_shape.cpp
  scene/gui/color_picker_shape.h
Due: copyright-headers, header-guards

Fix use after free in the editor inspector section cleanup.
  editor/editor_inspector.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
