Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

macOS: Fix support for latest VulkanSDK .app name in install script
  misc/scripts/install_vulkan_sdk_macos.sh
Due: none

Array performance improvements to reduce copying/copy_on_write calls
  core/variant/array.cpp
Due: copyright-headers

Core: Add `[[nodiscard]]` to string-like classes
  core/io/image.cpp
  core/io/ip_address.h
  core/io/resource_format_binary.cpp
  core/string/node_path.h
  core/string/string_name.h
  core/string/ustring.h
  editor/script_create_dialog.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  scene/resources/animation_library.cpp
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_preprocessor.cpp
Due: copyright-headers, header-guards

Fix tests that fail when alone
  modules/gdscript/tests/gdscript_test_runner_suite.h
  tests/core/config/test_project_settings.h
Due: copyright-headers, header-guards

Fix `--test` help option not in template builds
  main/main.cpp
Due: copyright-headers

Move NavigationRegion3DGizmoPlugin to navigation_3d module
  editor/plugins/node_3d_editor_plugin.cpp
  modules/navigation_3d/editor/navigation_region_3d_editor_plugin.cpp
  modules/navigation_3d/editor/navigation_region_3d_editor_plugin.h
  modules/navigation_3d/editor/navigation_region_3d_gizmo_plugin.cpp
  modules/navigation_3d/editor/navigation_region_3d_gizmo_plugin.h
Due: copyright-headers, header-guards

Move NavigationObstacle3DEditorPlugin to navigation_3d module
  editor/register_editor_types.cpp
  modules/navigation_3d/editor/navigation_obstacle_3d_editor_plugin.cpp
  modules/navigation_3d/editor/navigation_obstacle_3d_editor_plugin.h
  modules/navigation_3d/register_types.cpp
Due: copyright-headers, header-guards

Add embedded window selector & dual game view
  core/config/engine.cpp
  core/config/engine.h
  editor/plugins/embedded_process.cpp
  editor/plugins/embedded_process.h
  editor/plugins/game_view_plugin.cpp
  editor/plugins/game_view_plugin.h
  main/main.cpp
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/editor/embedded_game_view_plugin.mm
  platform/macos/editor/embedded_process_macos.h
  platform/macos/editor/embedded_process_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/main/window.cpp
  servers/display_server.cpp
  servers/display_server.h
  servers/display_server_headless.h
Due: copyright-headers, header-guards

Add DUPLICATE_INTERNAL_STATE flag
  doc/classes/Node.xml
  misc/extension_api_validation/4.4-stable.expected
  scene/main/node.compat.inc
  scene/main/node.cpp
  scene/main/node.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add missing dictionary and array type hints
  scene/2d/polygon_2d.cpp
  scene/gui/code_edit.cpp
  scene/resources/syntax_highlighter.cpp
Due: copyright-headers

MacOS: Additional improvements and fixes for embedded window support
  editor/plugins/game_view_plugin.cpp
  main/main.cpp
  platform/macos/editor/embedded_process_macos.h
  platform/macos/editor/embedded_process_macos.mm
  platform/macos/godot_main_macos.mm
Due: copyright-headers, header-guards

Use `memnew_arr_placement` for `memnew_arr`, to optimize creating types that are zero constructible. Mark `GDScriptLanguage::CallLevel` as zero constructible.
  core/os/memory.h
  modules/gdscript/gdscript.h
Due: copyright-headers, header-guards

Change `TTR`, `TTRN`, `RTR`, `RTRN` to accept `StringName` instead of `String` for the translation key.
  core/string/ustring.cpp
  core/string/ustring.h
  editor/plugins/editor_resource_tooltip_plugins.cpp
Due: copyright-headers, header-guards

When `Char16String` or `CharString` are constructed, call `strlen` in the header instead of the module. This allows the compiler to do it at compile time (if known then).
  core/string/ustring.h
Due: copyright-headers, header-guards

CodeEditor: Make possible to select and copy error text
  editor/code_editor.cpp
  editor/code_editor.h
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/text_shader_editor.cpp
Due: copyright-headers, header-guards

Fix filename_filter property
  scene/gui/file_dialog.cpp
Due: copyright-headers

Remove _FORCE_INLINE_ from TextServer*::_ensure* methods
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
Due: copyright-headers, header-guards

Fix RandomPCG::random(int, int) overflow bug
  core/math/random_pcg.cpp
Due: copyright-headers

Improve JSON::stringify performance
  core/io/json.cpp
  core/io/json.h
  tests/core/io/test_json.h
Due: copyright-headers, header-guards

Implement lightmap support for multimesh.
  doc/classes/RenderingServer.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/mesh_storage.cpp
  drivers/gles3/storage/mesh_storage.h
  editor/plugins/mesh_editor_uv_tools.cpp
  editor/plugins/mesh_editor_uv_tools.h
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  editor/plugins/mesh_instance_3d_editor_plugin.h
  editor/plugins/multimesh_editor_plugin.cpp
  misc/extension_api_validation/4.4-stable.expected
  scene/3d/lightmap_gi.cpp
  scene/3d/multimesh_instance_3d.cpp
  scene/3d/multimesh_instance_3d.h
  servers/rendering/dummy/storage/mesh_storage.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/mesh_storage.cpp
  servers/rendering/storage/mesh_storage.h
  servers/rendering_server.compat.inc
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Improve Android editor layout
  editor/editor_node.cpp
  editor/editor_node.h
Due: copyright-headers, header-guards

Add editor setting to collapse main menu
  doc/classes/EditorSettings.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_settings.cpp
  editor/gui/touch_actions_panel.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix a few GDScript warning messages for grammar and consistency
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/tests/scripts/analyzer/warnings/get_node_without_onready.out
  modules/gdscript/tests/scripts/analyzer/warnings/redundant_await.out
  modules/gdscript/tests/scripts/parser/features/nested_arithmetic.out
  modules/gdscript/tests/scripts/parser/warnings/enum_assign_int_without_casting.out
  modules/gdscript/tests/scripts/parser/warnings/integer_division.out
  modules/gdscript/tests/scripts/parser/warnings/standalone_ternary.out
  modules/gdscript/tests/scripts/parser/warnings/unassigned_variable.out
  modules/gdscript/tests/scripts/parser/warnings/unassigned_variable_op_assign.out
  modules/gdscript/tests/scripts/runtime/features/await_without_coroutine.out
Due: copyright-headers

register_editor_types: Fix `DISABLE_DEPREACTED` typo
  editor/register_editor_types.cpp
Due: copyright-headers

Improve script backtrace print in crash handlers
  platform/linuxbsd/crash_handler_linuxbsd.cpp
  platform/macos/crash_handler_macos.mm
  platform/windows/crash_handler_windows_seh.cpp
  platform/windows/crash_handler_windows_signal.cpp
Due: copyright-headers

Add scaling of bezier handles when box scaling bezier keys
  editor/animation_bezier_editor.cpp
Due: copyright-headers

Allow disabling 2D when compiling export templates
  SConstruct
  scene/SCsub
  scene/main/canvas_item.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/register_scene_types.cpp
  scene/resources/SCsub
  scene/resources/packed_scene.cpp
  scene/resources/world_2d.h
  servers/SCsub
  servers/extensions/SCsub
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_2d_wrap_mt.cpp
  servers/physics_server_2d_wrap_mt.h
Due: copyright-headers, header-guards

Fix unexpected control position change when left/top offsets not match pos_cache
  scene/gui/control.cpp
Due: copyright-headers

RenderingDevice: introduce parameter 'mipmaps' for texture_create_from_extension()
  doc/classes/RenderingDevice.xml
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/metal/rendering_device_driver_metal.h
  drivers/metal/rendering_device_driver_metal.mm
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  misc/extension_api_validation/4.4-stable.expected
  modules/openxr/extensions/platform/openxr_d3d12_extension.cpp
  modules/openxr/extensions/platform/openxr_metal_extension.mm
  modules/openxr/extensions/platform/openxr_vulkan_extension.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/rendering_device.compat.inc
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_driver.h
Due: make-rst, doc-status, copyright-headers, header-guards

Change canvas_item transform and rect update logic of Control node
  scene/gui/control.cpp
  scene/gui/control.h
Due: copyright-headers, header-guards

Remove redundant line_spacing editor setting
  doc/classes/EditorSettings.xml
  editor/editor_native_shader_source_visualizer.cpp
  editor/editor_settings.cpp
Due: make-rst, doc-status, copyright-headers

modified to trigger on all implicit StringName calls
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Sample/StringNameFailures.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/StringName.GD0501.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/AnalyzerReleases.Unshipped.md
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Common.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/StringNameAnalyzer.cs
Due: none

code fix no longer present for non-constant strings
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/StringNameAnalyzer.cs
Due: none

Add capitalized `PRINT_VERBOSE` macro alongside the lowercase one
  core/string/print_string.h
Due: copyright-headers, header-guards

Compatibility: Disable environment ambient light when affected by light probes
  drivers/gles3/shaders/scene.glsl
Due: none

Annual versions bump for the Android platform
  .gitignore
  platform/android/export/export_plugin.cpp
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
  platform/android/java/app/settings.gradle
  platform/android/java/editor/build.gradle
  platform/android/java/gradle/wrapper/gradle-wrapper.properties
  platform/android/java/settings.gradle
Due: copyright-headers

implicit `StringName` cache
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringName.cs
Due: none

Inline `String::utf8` and `String::utf16` for their simplicity.
  core/string/ustring.cpp
  core/string/ustring.h
Due: copyright-headers, header-guards
