Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Buildsystem: Use pkg-config for miniupnpc and mbedtls
  platform/linuxbsd/detect.py
Due: none

Add rotate_toward to Vector2, Vector3, Basis and Quaternion
  core/math/basis.h
  core/math/quaternion.h
  core/math/vector2.h
  core/math/vector3.h
  core/variant/variant_call.cpp
  doc/classes/Basis.xml
  doc/classes/Quaternion.xml
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  tests/core/math/test_vector2.h
  tests/core/math/test_vector3.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix crash when selecting a keyframe in AnimationPlayer
  editor/editor_inspector.cpp
Due: copyright-headers

Automatically create default resources in the editor for many objects
  core/input/input_event.cpp
  editor/editor_data.cpp
  modules/noise/noise_texture_2d.cpp
  modules/noise/noise_texture_3d.cpp
  modules/openxr/action_map/openxr_interaction_profile.cpp
  scene/2d/animated_sprite_2d.cpp
  scene/2d/gpu_particles_2d.cpp
  scene/3d/fog_volume.cpp
  scene/3d/gpu_particles_3d.cpp
  scene/3d/sprite_3d.cpp
  scene/3d/world_environment.cpp
  scene/resources/curve_texture.cpp
  scene/resources/material.cpp
  scene/resources/sky.cpp
Due: copyright-headers

Fix `format` description being different between String and StringName
  doc/classes/String.xml
  doc/classes/StringName.xml
Due: make-rst, doc-status

fix fade_beats defined as int in audio_stream_interactive.h
  modules/interactive_music/audio_stream_interactive.h
Due: copyright-headers, header-guards

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Normalize normal tangent and binormal before interpolating in the mobile renderer to avoid precision errors on heavily scaled meshes
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Due: none

GDScript: Add C#-style property setter/getter shorthand
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_compiler.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_tokenizer.h
Due: copyright-headers, header-guards

remove duplicate read/write only property warning from ScriptPropertiesGenerator
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGenerator.cs
Due: none

Improve documentation on `@GlobalScope.PROPERTY_USAGE_SCRIPT_VARIABLE`
  doc/classes/@GlobalScope.xml
Due: make-rst, doc-status

Enable `SubViewportContainer` as a potential candidate for dropping in Drag&Drop
  scene/main/viewport.cpp
Due: copyright-headers

Remove unnecessary array construction when initializing the project manager
  editor/project_manager.cpp
Due: copyright-headers

[DisplayServer] [docs] Describe edge cases for `get_screen_from_rect()`
  doc/classes/DisplayServer.xml
Due: make-rst, doc-status

Update spirv-cross to latest version
  thirdparty/README.md
  thirdparty/spirv-cross/spirv.h
  thirdparty/spirv-cross/spirv.hpp
  thirdparty/spirv-cross/spirv_common.hpp
  thirdparty/spirv-cross/spirv_cross.cpp
  thirdparty/spirv-cross/spirv_cross_parsed_ir.cpp
  thirdparty/spirv-cross/spirv_glsl.cpp
  thirdparty/spirv-cross/spirv_msl.cpp
  thirdparty/spirv-cross/spirv_msl.hpp
  thirdparty/spirv-cross/spirv_reflect.cpp
Due: none

Update miniupnpc path
  modules/upnp/upnp.cpp
  modules/upnp/upnp.h
  modules/upnp/upnp_device.cpp
Due: copyright-headers, header-guards

adding signals and names
  scene/animation/animation_tree.cpp
  scene/scene_string_names.cpp
  scene/scene_string_names.h
Due: copyright-headers, header-guards

calling signals when setting state
  scene/animation/animation_node_state_machine.cpp
Due: copyright-headers

Fix incorrect order: `TTR(vformat` instead of `vformat(TTR`
  editor/editor_help_search.cpp
  editor/export/editor_export_platform_pc.cpp
  modules/gridmap/editor/grid_map_editor_plugin.cpp
Due: copyright-headers

[Label] Handle text as multiple independent paragraphs.
  doc/classes/Label.xml
  doc/classes/LabelSettings.xml
  scene/gui/label.cpp
  scene/gui/label.h
  scene/resources/label_settings.cpp
  scene/resources/label_settings.h
Due: make-rst, doc-status, copyright-headers, header-guards

Deprecate the pointless unsafe threading model for rendering
  core/config/project_settings.cpp
  core/io/resource_loader.cpp
  core/os/os.h
  main/main.cpp
  platform/macos/os_macos.mm
Due: copyright-headers, header-guards

Fix missing native file dialog title translation.
  editor/gui/editor_file_dialog.cpp
  scene/gui/file_dialog.cpp
  scene/main/viewport.cpp
  scene/main/window.cpp
  scene/main/window.h
Due: copyright-headers, header-guards

Fixes #99225
  editor/export/editor_export_platform_pc.cpp
Due: copyright-headers

Sort blend shapes in the inspector by ID instead of alphabetically
  scene/3d/mesh_instance_3d.cpp
Due: copyright-headers

Always render animation track name as RTL text
  editor/animation_track_editor.cpp
Due: copyright-headers

Reduce repeated text for SmoothStep and translations
  editor/plugins/visual_shader_editor_plugin.cpp
Due: copyright-headers

Resource UID fixes and improvements
  core/io/image.cpp
  core/io/resource_uid.cpp
  core/io/resource_uid.h
Due: copyright-headers, header-guards

Add Alpha from Grayscale import option to Texture2D
  core/io/image.cpp
  core/io/image.h
  doc/classes/Image.xml
  doc/classes/ResourceImporterTexture.xml
  editor/import/resource_importer_texture.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Allow more flexible adjustments of VisualInstance3D Lightmap Scale
  doc/classes/GeometryInstance3D.xml
  doc/classes/LightmapGI.xml
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
  scene/3d/visual_instance_3d.cpp
  scene/3d/visual_instance_3d.h
Due: make-rst, doc-status, copyright-headers, header-guards

Improve set_radial_initial_angle by removing loops
  doc/classes/TextureProgressBar.xml
  scene/gui/texture_progress_bar.cpp
  tests/scene/test_texture_progress_bar.h
  tests/test_main.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix file order issue with base and enumerated file-names
  core/string/ustring.cpp
Due: copyright-headers

Style: Update `pyproject.toml` syntax
  pyproject.toml
Due: none

small optimisation on . check
  core/string/ustring.cpp
Due: copyright-headers

Fix TODO comments in class reference
  doc/classes/ArrayMesh.xml
  doc/classes/ImporterMesh.xml
  doc/classes/RenderingServer.xml
  doc/classes/SurfaceTool.xml
Due: make-rst, doc-status

Clarify documentation for Geometry2D.line_intersects_line
  doc/classes/Geometry2D.xml
Due: make-rst, doc-status

Fix interactive music docs saying it's "not implemented"
  modules/minimp3/doc_classes/ResourceImporterMP3.xml
  modules/vorbis/doc_classes/ResourceImporterOggVorbis.xml
Due: make-rst, doc-status

Fix engine_type_colors's description
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status

Add note to `CanvasItem.clip_children` about nesting
  doc/classes/CanvasItem.xml
Due: make-rst, doc-status

Clarify `ResourceLoader.load_threaded_get_status()` completion ratio description
  doc/classes/ResourceLoader.xml
Due: make-rst, doc-status

Docs: Update TileSet to reference TileMapLayer instead of TileMap
  doc/classes/TileSet.xml
Due: make-rst, doc-status

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
