Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Fix billboard in gpuparticles
  drivers/gles3/shaders/particles_copy.glsl
  servers/rendering/renderer_rd/shaders/particles_copy.glsl
Due: none

Fix inpector properties overlapping their left containers
  editor/inspector/editor_inspector.cpp
Due: copyright-headers

Fix particle billboard ignoring scale
  drivers/gles3/shaders/particles_copy.glsl
  servers/rendering/renderer_rd/shaders/particles_copy.glsl
Due: none

Disable line antialiasing on D3D12.
  drivers/d3d12/rendering_device_driver_d3d12.cpp
Due: copyright-headers

Initialize area light variables with correct type
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: none

Initialize area light fallback values to vec3 since that is what they are in the user shader
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: none

Fix crash in register_scene_provider
  editor/scene/2d/scene_paint_2d_editor_plugin.cpp
Due: copyright-headers

Fix Cinematic Preview and Lock View Rotation labels on light theme in the 3D editor
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

Fix regressions to the Android editor introduced by https://github.com/godotengine/godot/pull/121670
  platform/android/java/lib/src/main/java/org/godotengine/godot/GodotGLRenderView.java
  platform/android/java/lib/src/main/java/org/godotengine/godot/GodotVulkanRenderView.java
  platform/android/java/lib/src/main/java/org/godotengine/godot/vulkan/VkRenderer.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/vulkan/VkThread.kt
Due: copyright-headers

Fix crash when failing to open log file for writing
  core/io/logger.cpp
Due: copyright-headers

[Buildsystem] Ping `master` cache after saving cache
  .github/actions/godot-cache-save/action.yml
Due: none

Fix building Android Editor with separate arches
  platform/android/java/build.gradle
  platform/android/java/editor/build.gradle
Due: none

Windows: Fix Shift key handling by detaching it from raw input
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Due: copyright-headers, header-guards

[4.7] SCons: Pass `-mcmodel=medium` on Linux x86_64 GCC sanitizers
  platform/linuxbsd/detect.py
Due: none

[4.7] Allow compiling with min macOS version up to 14
  drivers/coreaudio/audio_driver_coreaudio.mm
  modules/camera/camera_macos.mm
  platform/macos/display_server_macos_base.mm
  platform/macos/godot_application.mm
  platform/macos/godot_open_save_delegate.mm
  platform/macos/os_macos.mm
  platform/macos/tts_macos.mm
Due: copyright-headers

Fix hash function for `const char *` producing a pointer-based hash instead of a string-based hash.
  core/templates/hashfuncs.h
Due: copyright-headers, header-guards

Add Windows Arm64 COFF headers to ResourceImporterOBJ
  editor/import/3d/resource_importer_obj.cpp
Due: copyright-headers

Fix "invalid FFT frame size" guard rejecting correct buffer sizes.
  servers/audio/effects/audio_effect_pitch_shift.cpp
Due: copyright-headers

AudioStreamPlaylist: Fix doubled sample when switching streams
  modules/interactive_music/audio_stream_playlist.cpp
Due: copyright-headers

Seek past skipped shader variant payload
  servers/rendering/renderer_rd/shader_rd.cpp
Due: copyright-headers

Zero out the memory of disabled directional lights.
  servers/rendering/renderer_rd/environment/sky.cpp
Due: copyright-headers

Suppress warning about missing mesh tangents if TANGENT is assigned in the shader
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/material_storage.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
Due: copyright-headers, header-guards

Fix 3D rendering jittering when TAA is enabled in the Mobile renderer
  servers/rendering/renderer_viewport.cpp
Due: copyright-headers

[TextServer] Clamp internal font rendering size to 2048.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Due: copyright-headers

Update documentation for Curve set_point_offset
  doc/classes/Curve.xml
Due: make-rst, doc-status, validate-xml

[RTL] Fix last line height with some fallback fonts.
  scene/gui/rich_text_label.cpp
Due: copyright-headers

Fix reimporting saved-to-file meshes clearing surface override materials
  scene/resources/3d/importer_mesh.cpp
  scene/resources/mesh.h
Due: copyright-headers, header-guards

Animation Editor: Add a 'Mute Audio Tracks in editor' toggle
  editor/animation/animation_player_editor_plugin.cpp
  editor/animation/animation_player_editor_plugin.h
  editor/animation/animation_tree_editor_plugin.cpp
  editor/animation/animation_tree_editor_plugin.h
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
Due: copyright-headers, header-guards

Implement Resource Inheritance
  core/io/resource.cpp
  core/io/resource.h
  core/io/resource_format_binary.cpp
  core/object/class_db.cpp
  doc/classes/EditorSettings.xml
  doc/classes/Resource.xml
  editor/inspector/editor_resource_picker.cpp
  editor/inspector/editor_resource_picker.h
  scene/resources/resource_format_text.cpp
  tests/core/io/test_config_file.cpp
  tests/core/io/test_json_native.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix error appearing on opening quick setting
  modules/openxr/scene/openxr_render_model_manager.cpp
Due: copyright-headers

Fix unreachable code warning in double-precision builds
  editor/export/export_template_manager.cpp
Due: copyright-headers

[Editor] Disable `po` to `mo` conversion.
  editor/editor_builders.py
Due: none

Fix trail local mode. Trail now uses Y as up and Z as forward when in local mode
  scene/3d/trail_3d.cpp
Due: copyright-headers

(add) Documentation for MultiMesh buffer member
  doc/classes/MultiMesh.xml
Due: make-rst, doc-status, validate-xml

Fix UID support for script extends paths
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/gdscript/tests/scripts/analyzer/errors/extend_using_wrong_uid.gd
  modules/gdscript/tests/scripts/analyzer/errors/extend_using_wrong_uid.out
  modules/gdscript/tests/scripts/analyzer/features/extend_using_uid.gd
  modules/gdscript/tests/scripts/analyzer/features/extend_using_uid.out
  modules/gdscript/tests/scripts/analyzer/features/extend_using_uid_base.notest.gd
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

