Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Prevent double counting and cyclical error when gathering Resources
  editor/editor_node.cpp
  editor/inspector/editor_inspector.cpp
Due: copyright-headers

Add shader template support to rendering server
  doc/classes/RenderingServer.xml
  doc/classes/ShaderTemplate.xml
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/material_storage.h
  scene/register_scene_types.cpp
  scene/resources/shader.cpp
  scene/resources/shader_template.cpp
  scene/resources/shader_template.h
  servers/rendering/dummy/storage/material_storage.h
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/environment/fog.h
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/environment/sky.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
  servers/rendering/renderer_rd/shader_rd.h
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.h
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.h
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  servers/rendering/storage/material_storage.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix MJPEG camera decoding with actual frame size and lenient mode on Linux
  core/io/image.cpp
  core/io/image.h
  modules/camera/buffer_decoder.cpp
  modules/camera/buffer_decoder.h
  modules/camera/camera_feed_linux.cpp
  modules/jpg/image_loader_libjpeg_turbo.cpp
Due: copyright-headers, header-guards

Remove extra APIs introduced to the AHashSet
  core/templates/a_hash_set.h
Due: copyright-headers, header-guards

Fix incorrect transform method reference in CanvasItem.get_screen_transform() documentation
  doc/classes/CanvasItem.xml
  doc/classes/Control.xml
Due: make-rst, doc-status

Rework scene preview thumbnails - take 2
  doc/classes/EditorInterface.xml
  doc/classes/EditorSettings.xml
  editor/docks/filesystem_dock.cpp
  editor/editor_interface.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/resource_importer_scene.h
  editor/inspector/editor_preview_plugins.cpp
  editor/inspector/editor_preview_plugins.h
  editor/inspector/editor_resource_preview.cpp
  editor/inspector/editor_resource_preview.h
  editor/settings/editor_settings.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

thorvg: Update to 0.15.16
  thirdparty/README.md
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/inc/thorvg.h
  thirdparty/thorvg/src/common/tvgMath.h
  thirdparty/thorvg/src/common/tvgStr.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoaderCommon.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwCommon.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwFill.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwImage.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwMath.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwMemPool.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwPostEffect.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRaster.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRasterTexmap.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRenderer.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRenderer.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRle.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwShape.cpp
  thirdparty/thorvg/src/renderer/tvgCommon.h
  thirdparty/thorvg/src/renderer/tvgPaint.cpp
  thirdparty/thorvg/src/renderer/tvgPaint.h
  thirdparty/thorvg/src/renderer/tvgScene.h
  thirdparty/thorvg/src/renderer/tvgText.h
  thirdparty/thorvg/update-thorvg.sh
Due: none

GDScript: Improve evaluation of constant expressions with arrays/dictionaries
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/tests/scripts/analyzer/features/constant_expressions.gd
  modules/gdscript/tests/scripts/analyzer/features/constant_expressions.out
  modules/gdscript/tests/scripts/analyzer/features/type_test_usage.gd
  modules/gdscript/tests/scripts/utils.notest.gd
Due: copyright-headers, header-guards

Fix missing trailing dots in script editor search menu
  editor/script/script_editor_plugin.cpp
Due: copyright-headers

Add note about size parameter to Camera3D.set_frustum description
  doc/classes/Camera3D.xml
Due: make-rst, doc-status

Fix selection highlight not updating when selecting a hidden canvasitem lower in the tree dock
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
Due: copyright-headers, header-guards

Update CI `clang-format` & `clang-tidy` pre-commit hooks
  .pre-commit-config.yaml
  CHANGELOG.md
  servers/rendering/renderer_rd/effects/debug_effects.cpp
  servers/rendering/rendering_light_culler.cpp
  tests/core/io/test_marshalls.h
Due: copyright-headers, header-guards

libogg: Update to 1.3.6
  thirdparty/README.md
  thirdparty/libogg/bitwise.c
  thirdparty/libogg/framing.c
Due: none

Don't show exported script variables twice in the remote inspector
  scene/debugger/scene_debugger.cpp
Due: copyright-headers

Range: Don't use min for snap offset when it's too big
  scene/gui/range.cpp
Due: copyright-headers

Doc: Add missing func keyword to EditorDock._update_layout example
  doc/classes/EditorDock.xml
Due: make-rst, doc-status

style: Add explicit public modifiers to interface members
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/INodeExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Extensions/IPackedSceneExtensions.cs
Due: none

Remove arbitrary limits on BlendSpace editors' visible region
  editor/animation/animation_blend_space_1d_editor.cpp
  editor/animation/animation_blend_space_2d_editor.cpp
Due: copyright-headers

Disable Android devices mirroring for the Android editor
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
Due: copyright-headers, header-guards

Add ENet connection lifecycle and packet tests
  tests/modules/test_enet_connection.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

Add options for tab sizing strategy
  doc/classes/TabBar.xml
  doc/classes/TabContainer.xml
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
Due: make-rst, doc-status, copyright-headers, header-guards

Update the shortcuts for 'run the current scene' and 'run specific scene' so they trigger the last selected XR mode option
  editor/run/editor_run_bar.cpp
  editor/run/editor_run_bar.h
Due: copyright-headers, header-guards

Fix Android build regression introduced by https://github.com/godotengine/godot/pull/110829
  platform/android/java/app/build.gradle
  platform/android/java/lib/build.gradle
Due: none

Fix apk install after gradle build for the Android editor
  platform/android/export/android_editor_gradle_runner.cpp
  platform/android/export/android_editor_gradle_runner.h
  platform/android/export/export_plugin.cpp
Due: copyright-headers, header-guards

D3D12: Convert non-critical startup warnings to verbose prints
  drivers/d3d12/rendering_device_driver_d3d12.cpp
Due: copyright-headers

Fix bottom dock offsets and change Audio to EditorDock
  editor/audio/editor_audio_buses.cpp
  editor/audio/editor_audio_buses.h
  editor/editor_node.cpp
  editor/gui/editor_bottom_panel.cpp
  editor/gui/editor_bottom_panel.h
Due: copyright-headers, header-guards

Editor: Improve accessibility in Create New Project dialog
  editor/project_manager/project_dialog.cpp
Due: copyright-headers

ResourceLoader: Fix potential infinite recursion in progress reporting
  core/io/resource_loader.cpp
  core/io/resource_loader.h
Due: copyright-headers, header-guards

Expose `set_edited` and `is_edited` on EditorInterface
  doc/classes/EditorInterface.xml
  editor/editor_interface.cpp
  editor/editor_interface.h
Due: make-rst, doc-status, copyright-headers, header-guards

Unassign scene root before freeing
  editor/editor_data.cpp
Due: copyright-headers

Added scale3d and angle3d in particle process
  doc/classes/ParticleProcessMaterial.xml
  scene/resources/particle_process_material.cpp
  scene/resources/particle_process_material.h
Due: make-rst, doc-status, copyright-headers, header-guards

Use error macros and range-based for loops
  modules/mono/editor/bindings_generator.cpp
Due: copyright-headers

Fix crash when capturing ObjectDB snapshot
  scene/debugger/scene_debugger.cpp
Due: copyright-headers

Fix MovieWriter checking wrong directory for disk space
  servers/movie_writer/movie_writer.cpp
Due: copyright-headers

Enhance thread management for Apple platforms
  drivers/apple/thread_apple.cpp
Due: copyright-headers

Fix current tab when all tabs are hidden
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
Due: copyright-headers, header-guards

fix popup menu accelerator incorrect highlighting
  scene/gui/popup_menu.cpp
Due: copyright-headers

fix AudioStreamPlayer3D volume_db affecting only attenuation distance calculation, not actual volume.
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  editor/editor_node.cpp
  scene/3d/audio_stream_player_3d.cpp
  servers/audio/audio_server.cpp
  servers/audio/audio_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Exclude unsupported pixel formats from Linux camera feed
  modules/camera/camera_feed_linux.cpp
  modules/camera/camera_feed_linux.h
Due: copyright-headers, header-guards

Update doc/classes/Camera3D.xml
  doc/classes/Camera3D.xml
Due: make-rst, doc-status
