Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Filtering out invalid values from density and fog textures.
  servers/rendering/renderer_rd/shaders/environment/volumetric_fog_process.glsl
Due: none

Add a power-of-2 hotkeys to the 3D scene grid.
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
  scene/scene_string_names.h
Due: copyright-headers, header-guards

Server part 3: implement the last methods
  doc/classes/NavigationMeshArea3D.xml
  doc/classes/NavigationServer3D.xml
  modules/navigation_3d/3d/godot_navigation_server_3d.cpp
  modules/navigation_3d/3d/godot_navigation_server_3d.h
  modules/navigation_3d/3d/nav_mesh_generator_3d.cpp
  modules/navigation_3d/nav_area_3d.cpp
  modules/navigation_3d/nav_area_3d.h
  scene/3d/navigation/navigation_mesh_area_3d.cpp
  scene/3d/navigation/navigation_mesh_area_3d.h
  servers/navigation_3d/navigation_server_3d.cpp
  servers/navigation_3d/navigation_server_3d.h
  servers/navigation_3d/navigation_server_3d_dummy.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Add monitoring support + Test setters/getters (wip)
  doc/classes/NavigationServer3D.xml
  doc/classes/Performance.xml
  main/performance.cpp
  main/performance.h
  modules/navigation_3d/3d/godot_navigation_server_3d.cpp
  modules/navigation_3d/3d/godot_navigation_server_3d.h
  modules/navigation_3d/nav_map_3d.cpp
  modules/navigation_3d/nav_map_3d.h
  modules/navigation_3d/nav_utils_3d.h
  servers/navigation_3d/navigation_server_3d.cpp
  servers/navigation_3d/navigation_server_3d.h
  tests/servers/test_navigation_server_3d.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

`AudioStreamWAV`: Place tag reading code together
  scene/resources/audio_stream_wav.cpp
Due: copyright-headers

Fix cough
  doc/classes/NavigationMeshArea3D.xml
  doc/classes/NavigationServer3D.xml
  modules/navigation_3d/3d/godot_navigation_server_3d.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

[Web] Fix poll_export changing current export_preset
  platform/web/export/export_plugin.cpp
Due: copyright-headers

Refactor autotangent to unify logic and support application of smoothing only to selection
  editor/scene/3d/path_3d_editor_plugin.cpp
Due: copyright-headers

fix: propagate DC encoding through import and GPU packing
  modules/gaussian_splatting/core/gaussian_data_io.cpp
  modules/gaussian_splatting/io/resource_importer_ply.cpp
  modules/gaussian_splatting/io/resource_importer_spz.cpp
  modules/gaussian_splatting/io/spz_loader.cpp
  modules/gaussian_splatting/renderer/gaussian_gpu_layout.cpp
  modules/gaussian_splatting/tests/test_gaussian_importer.h
Due: copyright-headers, header-guards

GDScript: Destruct remaining instances when language is `finish`ed
  modules/gdscript/gdscript.cpp
Due: copyright-headers

Add mesh area to build options
  editor/settings/editor_build_profile.cpp
Due: copyright-headers

test: cover f16 dc-encoding packing
  modules/gaussian_splatting/tests/test_gaussian_importer.h
Due: copyright-headers, header-guards

New style for Remote/Local SceneTreeDock buttons
  editor/docks/scene_tree_dock.cpp
  editor/docks/scene_tree_dock.h
Due: copyright-headers, header-guards

Add screen space contact shadows for directional lights
  doc/classes/DirectionalLight3D.xml
  doc/classes/Environment.xml
  drivers/gles3/storage/light_storage.h
  scene/3d/light_3d.cpp
  scene/3d/light_3d.h
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/dummy/storage/light_storage.h
  servers/rendering/renderer_rd/effects/ss_effects.cpp
  servers/rendering/renderer_rd/effects/ss_effects.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/shaders/effects/screen_space_contact_shadows.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/light_data_inc.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
  servers/rendering/renderer_rd/storage_rd/render_data_rd.h
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/environment_storage.cpp
  servers/rendering/storage/environment_storage.h
  servers/rendering/storage/light_storage.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix EditorSpinSlider drag exceeding min/max boundaries
  editor/gui/editor_spin_slider.cpp
Due: copyright-headers

Add mutex lock in get_shader_rid()
  scene/resources/canvas_item_material.cpp
Due: copyright-headers

Wayland: Initialize libdecor earlier
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Rename libopusfile/opusfile to libopusfile/opus
  modules/opus/SCsub
  modules/opus/audio_stream_ogg_opus.h
  thirdparty/libopusfile/opus/opusfile.h
Due: copyright-headers, header-guards

GUI: Clamp caret column for wrapped line clicks
  scene/gui/text_edit.cpp
  tests/scene/test_text_edit.cpp
Due: copyright-headers

Try to avoid `queue_redraw` in 2D ray and shape cast `set_enabled` methods
  scene/2d/physics/ray_cast_2d.cpp
  scene/2d/physics/shape_cast_2d.cpp
Due: copyright-headers

Update doc/classes/RenderingServer.xml
  doc/classes/RenderingServer.xml
Due: make-rst, doc-status, validate-xml

Update Polygon2D.xml
  doc/classes/Polygon2D.xml
Due: make-rst, doc-status, validate-xml

Add fill rule optional argument to Geometry2D clipping functions
  core/core_bind.compat.inc
  core/core_bind.cpp
  core/core_bind.h
  core/math/geometry_2d.cpp
  core/math/geometry_2d.h
  doc/classes/Geometry2D.xml
  misc/extension_api_validation/4.6-stable/GH-118171.txt
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

add peak filter
  doc/classes/AudioEffectFilter.xml
  doc/classes/AudioEffectPeakFilter.xml
  servers/audio/audio_filter_sw.cpp
  servers/audio/effects/audio_effect_filter.h
  servers/register_server_types.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix Opus not using BSD-3-Clause license
  COPYRIGHT.txt
  thirdparty/README.md
Due: none

Improve libopus & libopusfile info
  thirdparty/README.md
  thirdparty/libopus/celt/arm/arm2gnu.pl
  thirdparty/libopus/celt/arm/armopts.s.in
  thirdparty/libopus/celt/arm/celt_pitch_xcorr_arm-gnu.S
  thirdparty/libopus/celt/arm/celt_pitch_xcorr_arm.s
Due: none

Rename OggOpus to Opus
  editor/icons/AudioStreamOpus.svg
  modules/opus/audio_stream_opus.cpp
  modules/opus/audio_stream_opus.h
  modules/opus/config.py
  modules/opus/doc_classes/AudioStreamOpus.xml
  modules/opus/doc_classes/AudioStreamPlaybackOggOpus.xml
  modules/opus/doc_classes/AudioStreamPlaybackOpus.xml
  modules/opus/doc_classes/ResourceImporterOpus.xml
  modules/opus/register_types.cpp
  modules/opus/resource_importer_opus.cpp
  modules/opus/resource_importer_opus.h
Due: make-rst, doc-status, validate-xml, svgo, copyright-headers, header-guards

GUI: Keep caret on correct wrap after text edits
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Due: copyright-headers, header-guards

copy full remote path except prefix root in debugger mode
  editor/debugger/editor_debugger_tree.cpp
Due: copyright-headers

fix: refresh editor import state and hot reload watches
  modules/gaussian_splatting/docs/GAUSSIAN_EDITOR_UX_REDESIGN_CHECKLIST.md
  modules/gaussian_splatting/editor/gaussian_editor_plugin.cpp
  modules/gaussian_splatting/editor/gaussian_editor_plugin.h
  modules/gaussian_splatting/editor/gaussian_import_settings_dialog.cpp
  modules/gaussian_splatting/editor/gaussian_import_settings_dialog.h
  modules/gaussian_splatting/tests/test_gaussian_importer.h
Due: copyright-headers, header-guards

test: add editor import reimport regressions
  modules/gaussian_splatting/editor/gaussian_editor_plugin.cpp
  modules/gaussian_splatting/editor/gaussian_editor_plugin.h
  modules/gaussian_splatting/editor/gaussian_import_settings_dialog.cpp
  modules/gaussian_splatting/editor/gaussian_import_settings_dialog.h
  modules/gaussian_splatting/tests/test_gaussian_importer.h
Due: copyright-headers, header-guards

fix: skip stale hot reload fanout on reload failure
  modules/gaussian_splatting/editor/gaussian_editor_plugin.cpp
  modules/gaussian_splatting/tests/test_gaussian_importer.h
Due: copyright-headers, header-guards

fix: scope node debug overlays to sole renderer owners
  modules/gaussian_splatting/editor/gaussian_inspector_plugins.cpp
  modules/gaussian_splatting/nodes/gaussian_splat_node_3d.cpp
  modules/gaussian_splatting/nodes/gaussian_splat_node_helpers.cpp
  modules/gaussian_splatting/tests/test_gaussian_splat_node.h
Due: copyright-headers, header-guards

fix: use public renderer access in debug helper
  modules/gaussian_splatting/nodes/gaussian_splat_node_helpers.cpp
Due: copyright-headers

fix: restore retained debug state on node re-entry
  modules/gaussian_splatting/nodes/gaussian_splat_node_3d.cpp
  modules/gaussian_splatting/tests/test_gaussian_splat_node.h
Due: copyright-headers, header-guards

fix: register hidden gaussian runtime settings
  docs/reference/project-settings.md
  modules/gaussian_splatting/core/gaussian_splat_manager.cpp
  modules/gaussian_splatting/tests/test_config_validation.h
Due: copyright-headers, header-guards

fix: keep renderdoc compatibility as force-enable setting
  docs/reference/project-settings.md
  modules/gaussian_splatting/core/gaussian_splat_manager.cpp
  modules/gaussian_splatting/tests/test_config_validation.h
Due: copyright-headers, header-guards

fix: preserve renderdoc autodetect without explicit override
  docs/reference/project-settings.md
  modules/gaussian_splatting/core/gaussian_splat_manager.cpp
  modules/gaussian_splatting/tests/test_config_validation.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

