Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Don't update scene tree when calling `Translation::set_locale()`
  core/string/translation.cpp
  core/string/translation.h
Due: copyright-headers, header-guards

ufbx: Update to 0.18.2
  thirdparty/README.md
  thirdparty/ufbx/ufbx.c
  thirdparty/ufbx/ufbx.h
Due: none

TileSet: Fix `-Wmaybe-uninitialized` warning on CompatibilityShapeData
  scene/resources/2d/tile_set.h
Due: copyright-headers, header-guards

Expose get_rpc_config and get_node_rpc_config
  core/object/script_language.cpp
  core/object/script_language.h
  doc/classes/Node.xml
  doc/classes/Script.xml
  misc/extension_api_validation/4.4-stable.expected
  scene/main/node.compat.inc
  scene/main/node.cpp
  scene/main/node.h
Due: make-rst, doc-status, copyright-headers, header-guards

Cleanup header includes for AddMetadataDialog
  editor/add_metadata_dialog.cpp
  editor/add_metadata_dialog.h
  editor/debugger/editor_expression_evaluator.cpp
  editor/editor_inspector.h
  editor/editor_sectioned_inspector.cpp
  editor/export/project_export.cpp
  editor/import_defaults_editor.cpp
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/control_editor_plugin.cpp
  editor/plugins/control_editor_plugin.h
  editor/plugins/sub_viewport_preview_editor_plugin.cpp
  editor/shader_globals_editor.cpp
  modules/openxr/editor/openxr_binding_modifier_editor.cpp
Due: copyright-headers, header-guards

Improve auto-translation of settings dialogs
  editor/action_map_editor.cpp
  editor/editor_autoload_settings.cpp
  editor/editor_locale_dialog.cpp
  editor/editor_locale_dialog.h
  editor/editor_sectioned_inspector.cpp
  editor/editor_sectioned_inspector.h
  editor/editor_settings_dialog.cpp
  editor/event_listener_line_edit.cpp
  editor/group_settings_editor.cpp
  editor/import_defaults_editor.cpp
  editor/localization_editor.cpp
  editor/plugins/editor_plugin_settings.cpp
  editor/project_settings_editor.cpp
  editor/shader_globals_editor.cpp
Due: copyright-headers, header-guards

Fix `unzSeekCurrentFile` not resetting `total_out_64`.
  thirdparty/minizip/patches/0001-godot-seek.patch
  thirdparty/minizip/unzip.c
Due: none

Fix category names in help search dialog not translated
  editor/editor_help_search.cpp
Due: copyright-headers

thorvg: Update to 0.15.13
  thirdparty/README.md
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/patches/0002-png-explicit-variable-scope.patch
  thirdparty/thorvg/src/loaders/external_jpg/tvgJpgLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoaderCommon.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgSceneBuilder.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRenderer.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRle.cpp
  thirdparty/thorvg/src/renderer/tvgPaint.cpp
  thirdparty/thorvg/src/renderer/tvgPaint.h
  thirdparty/thorvg/src/renderer/tvgRender.h
  thirdparty/thorvg/src/renderer/tvgShape.h
  thirdparty/thorvg/update-thorvg.sh
Due: none

LSP: Account for unicode identifiers
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/tests/scripts/lsp/class.gd
Due: copyright-headers

Add fuzzy search to method filtering
  editor/plugins/script_editor_plugin.cpp
Due: copyright-headers

Remove obsolete `VMap` forward declaration.
  scene/resources/visual_shader.h
Due: copyright-headers, header-guards

Allow TabBar drag and drop to be overridden Add tab mouse tests
  scene/gui/tab_bar.cpp
  tests/scene/test_tab_bar.h
  tests/scene/test_tab_container.h
Due: copyright-headers, header-guards

Linux: Drop `ppc32` (32-bit PowerPC) architecture support
  core/config/engine.cpp
  core/os/spin_lock.h
  doc/classes/Engine.xml
  editor/editor_property_name_processor.cpp
  editor/plugins/gdextension_export_plugin.h
  modules/jolt_physics/config.py
  platform/linuxbsd/detect.py
  platform/linuxbsd/doc_classes/EditorExportPlatformLinuxBSD.xml
  platform/linuxbsd/export/export_plugin.cpp
  platform_methods.py
Due: make-rst, doc-status, copyright-headers, header-guards

Fix shader compiler crash when parsing case labels with non-existent vars.
  servers/rendering/shader_language.cpp
Due: copyright-headers

Add fuzzy filtering to the script filtering
  editor/plugins/script_editor_plugin.cpp
Due: copyright-headers

Fix Reflection Mask not working on Mobile
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
Due: copyright-headers, header-guards

Fix: Removed freed up FontData's dangling data in Advanced and Fallback text server
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Due: copyright-headers

Renderer: Eliminates `String` allocations for all labels in the renderer
  drivers/metal/rendering_context_driver_metal.h
  drivers/metal/rendering_context_driver_metal.mm
  servers/rendering/renderer_rd/effects/fsr.h
  servers/rendering/renderer_rd/effects/metal_fx.h
  servers/rendering/renderer_rd/effects/spatial_upscaler.h
  servers/rendering/renderer_rd/effects/ss_effects.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
Due: copyright-headers, header-guards

Fix X11 boot splash scaling.
  platform/linuxbsd/x11/display_server_x11.cpp
Due: copyright-headers

fix missing ibl reconstruction from dfg multiscattering
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
Due: none

Remove force enter/exit logic from `JoltArea3D`
  modules/jolt_physics/objects/jolt_area_3d.cpp
  modules/jolt_physics/objects/jolt_area_3d.h
Due: copyright-headers, header-guards

Add a safety check for `CowData::_unref()`, for when something tries to add elements during destruction.
  core/templates/cowdata.h
Due: copyright-headers, header-guards

Improve Variant type menus in the editor
  editor/add_metadata_dialog.cpp
  editor/connections_dialog.cpp
  editor/connections_dialog.h
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
  editor/gui/editor_variant_type_selectors.cpp
  editor/gui/editor_variant_type_selectors.h
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
Due: copyright-headers, header-guards

JavaClassWrapper: Don't discard overloaded methods that differ by object type
  platform/android/java_class_wrapper.cpp
Due: copyright-headers

Un-support `force_trivial` parameter for `LocalVector`. Instead, users are reformatted to use `resize_uninitialized` to make it explicit that the resize does not initialize missing elements.
  core/math/bvh.h
  core/math/bvh_public.inc
  core/math/bvh_structs.inc
  core/templates/local_vector.h
  core/templates/pooled_list.h
Due: copyright-headers, header-guards

Add class icon cache to EditorNode
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_node.cpp
  editor/editor_node.h
Due: copyright-headers, header-guards

Allow empty click in scene tree dock
  editor/scene_tree_dock.cpp
Due: copyright-headers

Add dropdown to Movie Maker button in editor run bar to access settings
  editor/gui/editor_run_bar.cpp
  editor/gui/editor_run_bar.h
  editor/themes/editor_theme_manager.cpp
Due: copyright-headers, header-guards

Correctly place viewport and use viewport relative rect for the final blit in Compatibility renderer
  drivers/gles3/rasterizer_gles3.cpp
Due: copyright-headers

Shader Baker: Build when `deprecated=no`
  editor/plugins/shader_baker_export_plugin.cpp
Due: copyright-headers

Metal: Fix multi-view support
  servers/rendering/rendering_device_commons.cpp
Due: copyright-headers

Fix SCROLL_MODE_RESERVE with RTL layout
  scene/gui/scroll_container.cpp
Due: copyright-headers

Web: Add godot_pool_size/emscripten_pool_size config
  platform/web/detect.py
  platform/web/doc_classes/EditorExportPlatformWeb.xml
  platform/web/export/export_plugin.cpp
  platform/web/godot_js.h
  platform/web/js/engine/config.js
  platform/web/js/libs/library_godot_os.js
  platform/web/os_web.cpp
  platform/web/os_web.h
Due: make-rst, doc-status, eslint, jsdoc, copyright-headers, header-guards

Minor rendering and XR changes to allow Meta enivornment depth API to work entirely from GDExtension
  modules/openxr/openxr_api.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_viewport.cpp
  servers/rendering/rendering_server_default.cpp
Due: copyright-headers

[macOS] Fix borderless window maximization.
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/godot_window_delegate.mm
Due: copyright-headers, header-guards

Avoid -Wmissing-declarations warning in RenderingShaderContainer
  servers/rendering/rendering_shader_container.cpp
  servers/rendering/rendering_shader_container.h
Due: copyright-headers, header-guards

Use SSE 4.2 as a baseline when compiling Godot
  SConstruct
  modules/raycast/SCsub
Due: none

Remove redundant `queue_redraw()` & fix typo
  core/io/image.h
  modules/jpg/image_loader_libjpeg_turbo.cpp
  scene/gui/line_edit.cpp
Due: copyright-headers, header-guards
