Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$


Make editing scene in inspector mark currently opened scene as unsaved
  editor/editor_data.cpp
  editor/editor_data.h
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
  editor/scene/editor_scene_tabs.cpp
Due: copyright-headers, header-guards

Fix error when creating a new GDScript from a Resource Picker
  editor/inspector/editor_resource_picker.cpp
Due: copyright-headers

GDScript: Fix typed dictionary key checks for shallow scripts
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/tests/scripts/analyzer/errors/typed_dictionary.gd
  modules/gdscript/tests/scripts/analyzer/errors/typed_dictionary.out
  modules/gdscript/tests/scripts/analyzer/features/typed_dictionary_with_custom_class.gd
  modules/gdscript/tests/scripts/analyzer/features/typed_dictionary_with_custom_class.out
  modules/gdscript/tests/scripts/analyzer/features/typed_dictionary_with_custom_class_base.notest.gd
Due: copyright-headers, header-guards

small changes
  doc/classes/ProjectSettings.xml
  servers/rendering/renderer_rd/effects/ss_effects.cpp
  servers/rendering/renderer_rd/shaders/effects/ssil.glsl
  servers/rendering/renderer_rd/shaders/effects/ssil_blur.glsl
Due: make-rst, doc-status, validate-xml, copyright-headers

Fix margin that is too wide
  scene/gui/tree.cpp
Due: copyright-headers

move motion blur before DOF
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Due: copyright-headers

fix missing motion vectors on skeletal meshes and particles
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/storage/camera_attributes_storage.cpp
  servers/rendering/storage/camera_attributes_storage.h
Due: copyright-headers, header-guards

Use validated utility calls for implicitly convertible arguments
  modules/gdscript/gdscript_byte_codegen.cpp
Due: copyright-headers

Remove idle debugger tabs
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
Due: copyright-headers, header-guards

cleanup, remove tile_size and framerate_mode settings
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  editor/editor_node.cpp
  scene/resources/camera_attributes.cpp
  servers/rendering/renderer_rd/effects/motion_blur.cpp
  servers/rendering/renderer_rd/effects/motion_blur.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/effects/motion_blur_blur.glsl
  servers/rendering/renderer_rd/shaders/effects/motion_blur_preprocess.glsl
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
  servers/rendering/rendering_server_enums.h
  servers/rendering/storage/camera_attributes_storage.cpp
  servers/rendering/storage/camera_attributes_storage.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Jolt: Enable bend constraints for soft bodies
  modules/jolt_physics/objects/jolt_soft_body_3d.cpp
Due: copyright-headers

update default values, docs, and pre-processing
  doc/classes/CameraAttributesPractical.xml
  scene/resources/camera_attributes.h
  servers/rendering/renderer_rd/shaders/effects/motion_blur_preprocess.glsl
  servers/rendering/storage/camera_attributes_storage.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

TreeItem: Fix text width in CELL_MODE_CHECK
  scene/gui/tree.cpp
Due: copyright-headers

fix naming inconsistencies
  doc/classes/CameraAttributesPractical.xml
  doc/classes/RenderingServer.xml
  scene/resources/camera_attributes.cpp
  scene/resources/camera_attributes.h
  servers/rendering/renderer_rd/effects/motion_blur.cpp
  servers/rendering/renderer_rd/effects/motion_blur.h
  servers/rendering/renderer_rd/shaders/effects/motion_blur_preprocess.glsl
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/storage/camera_attributes_storage.cpp
  servers/rendering/storage/camera_attributes_storage.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix initialization of FileSystemDock fields
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
Due: copyright-headers, header-guards

Add contact hardening and fresnel based roughness to reflection probes reflections when using box projection
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: none

Fix node name casing before child name validation
  editor/docks/scene_tree_dock.cpp
Due: copyright-headers

Document that ResourceLoader methods accept uid:// identifiers
  doc/classes/ResourceLoader.xml
Due: make-rst, doc-status, validate-xml

Text improvements in Theme editor
  editor/scene/gui/theme_editor_plugin.cpp
Due: copyright-headers

Document which object properties survive an RPC
  modules/multiplayer/doc_classes/SceneMultiplayer.xml
Due: make-rst, doc-status, validate-xml

Update animation_bezier_editor.cpp
  editor/animation/animation_bezier_editor.cpp
Due: copyright-headers

Add `Node.get_path_to_descendant()` and use it in `duplicate()`
  doc/classes/Node.xml
  scene/main/node.cpp
  scene/main/node.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

WebXR: No longer require the WebXR Layers API
  modules/webxr/doc_classes/WebXRInterface.xml
  modules/webxr/godot_webxr.h
  modules/webxr/native/library_godot_webxr.js
  modules/webxr/webxr_interface.cpp
  modules/webxr/webxr_interface.h
  modules/webxr/webxr_interface_js.cpp
  modules/webxr/webxr_interface_js.h
Due: make-rst, doc-status, validate-xml, eslint, copyright-headers, header-guards

OpenGL: Emulate multiview when it's not supported
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shader_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/shaders/sky.glsl
  drivers/gles3/storage/render_scene_buffers_gles3.cpp
  drivers/gles3/storage/render_scene_buffers_gles3.h
  drivers/gles3/storage/texture_storage.cpp
  modules/webxr/webxr_interface_js.cpp
Due: copyright-headers, header-guards

Add missing class registrations
  editor/register_editor_types.cpp
  main/main.cpp
  modules/gdscript/register_types.cpp
  modules/navigation_3d/register_types.cpp
  platform/android/api/api.cpp
Due: copyright-headers

Fix: Make editing scene in inspector mark currently opened scene as unsaved.
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_node.cpp
Due: copyright-headers, header-guards

Use new `audio_stream.h` path
  modules/opus/audio_stream_opus.h
Due: copyright-headers, header-guards

Add a button in filesystem to open a PackedScene in the inspector
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/scene/editor_scene_tabs.cpp
Due: copyright-headers, header-guards

Add `interface/editor/fonts/custom_font_scale`
  doc/classes/EditorSettings.xml
  editor/gui/code_editor.cpp
  editor/settings/editor_settings.cpp
  editor/themes/editor_fonts.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers

Add capitalized `PRINT_VERBOSE` macro alongside the lowercase one
  core/string/print_string.h
Due: copyright-headers, header-guards

Add multi-file edit dependencies
  editor/docks/filesystem_dock.cpp
  editor/file_system/dependency_editor.cpp
  editor/file_system/dependency_editor.h
Due: copyright-headers, header-guards

Fix for Tool Scripts requiring Restart
  editor/script/script_editor_plugin.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
Due: copyright-headers, header-guards

Fix orthographic position reconstruction and reflections in GI
  servers/rendering/renderer_rd/environment/gi.cpp
  servers/rendering/renderer_rd/shaders/environment/gi.glsl
Due: copyright-headers

Replace Comment-Returns with Error Messages and Grammer Adjustments
  doc/classes/BitMap.xml
  scene/resources/bit_map.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers

Fix formatting error
  scene/resources/bit_map.cpp
Due: copyright-headers

Fix tooltip reappearing after dismiss with Escape
  scene/main/viewport.cpp
Due: copyright-headers

Fix `GLES3` padding in scene shader
  drivers/gles3/shaders/scene.glsl
Due: none
