Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

fix: address codex review — preserve instance fallback and sync radix validation
  modules/gaussian_splatting/interfaces/gpu_sorting_pipeline.cpp
  modules/gaussian_splatting/renderer/render_sorting_orchestrator.cpp
Due: copyright-headers

ISSUE-009: lock brush undo capture/restore under data_rwlock
  modules/gaussian_splatting/core/gaussian_data_edits.cpp
Due: copyright-headers

fix: address codex review — relax strict_global_sort default and preserve sort fallbacks
  modules/gaussian_splatting/renderer/gpu_sorting_config.h
  modules/gaussian_splatting/renderer/render_sorting_orchestrator.cpp
Due: copyright-headers, header-guards

gaussian core-data: complete RWLock migration and update issue board
  docs/agent_memory/GAUSSIAN_ISSUE_BOARD.md
  modules/gaussian_splatting/core/gaussian_data.cpp
  modules/gaussian_splatting/core/gaussian_data.h
  modules/gaussian_splatting/core/gaussian_data_io.cpp
Due: copyright-headers, header-guards

Tile renderer: guard zero-work dispatch and add lifecycle leak test
  modules/gaussian_splatting/renderer/tile_renderer.cpp
  modules/gaussian_splatting/tests/tile_renderer_regression_test.cpp
Due: copyright-headers

tile renderer: reset no-work raster metrics and add regression test
  modules/gaussian_splatting/renderer/tile_renderer.cpp
  modules/gaussian_splatting/tests/tile_renderer_regression_test.cpp
Due: copyright-headers

fix: address codex review — reinit tile renderer after leak test, fix sort fallback and zero-work detection
  modules/gaussian_splatting/renderer/render_sorting_orchestrator.cpp
  modules/gaussian_splatting/renderer/tile_renderer.cpp
  modules/gaussian_splatting/tests/tile_renderer_regression_test.cpp
Due: copyright-headers

Add option to create new material from shader
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
Due: copyright-headers, header-guards

tests: add shader telemetry/readback regression guards
  modules/gaussian_splatting/tests/README.md
  modules/gaussian_splatting/tests/check_shader_dependency_contract.py
  modules/gaussian_splatting/tests/test_batched_async_readback.cpp
  modules/gaussian_splatting/tests/test_overflow_auto_tuner_stale_stats.cpp
Due: copyright-headers

tests: wire shader dependency guard and harden async readback checks
  docs/agent_memory/GAUSSIAN_ISSUE_BOARD.md
  modules/gaussian_splatting/tests/check_shader_dependency_contract.py
  modules/gaussian_splatting/tests/test_batched_async_readback.cpp
  tests/ci/run_module_tests.py
Due: copyright-headers

sorting validation: accept header-sized indirect count buffers
  modules/gaussian_splatting/interfaces/gpu_sorting_pipeline.cpp
Due: copyright-headers

fix: address codex review — allow instance sort cache reuse in strict mode, scope subgroup prefix check
  modules/gaussian_splatting/renderer/gpu_sorter.cpp
Due: copyright-headers

ISSUE-018: use shared gs::settings helpers in streaming path
  modules/gaussian_splatting/core/gaussian_streaming.cpp
  modules/gaussian_splatting/renderer/gaussian_splat_renderer.cpp
Due: copyright-headers

ISSUE-019: remove friend-only access in streaming orchestrator
  modules/gaussian_splatting/renderer/render_streaming_orchestrator.cpp
  modules/gaussian_splatting/renderer/render_streaming_orchestrator.h
Due: copyright-headers, header-guards

tests: cover ISSUE-023 compatibility and ISSUE-025 asset getter safety
  modules/gaussian_splatting/tests/test_gaussian_importer.cpp
  modules/gaussian_splatting/tests/test_persistence_roundtrip.h
Due: copyright-headers, header-guards

tests: keep checksum validation for baseline persistence case
  modules/gaussian_splatting/tests/test_persistence_roundtrip.h
Due: copyright-headers, header-guards

fix: address codex review — preserve instance sort cache, CPU fallback, and OneSweep support
  modules/gaussian_splatting/renderer/render_sorting_orchestrator.cpp
Due: copyright-headers

build-ci: wire ISSUE-041..045 contract evidence
  docs/agent_memory/GAUSSIAN_ISSUE_BOARD.md
Due: none

gaussian core-data: complete RWLock migration and update issue board
  docs/agent_memory/GAUSSIAN_ISSUE_BOARD.md
Due: none

Update tile renderer issue board rows 011-015
  docs/agent_memory/GAUSSIAN_ISSUE_BOARD.md
Due: none

docs: update shader issue board statuses and evidence
  docs/agent_memory/GAUSSIAN_ISSUE_BOARD.md
Due: none

docs: update ISSUE-006..010 triage board and scope evidence
  docs/agent_memory/COORDINATOR_MEMORY.md
  docs/agent_memory/GAUSSIAN_ISSUE_BOARD.md
Due: none

tests: wire shader dependency guard and harden async readback checks
  docs/agent_memory/GAUSSIAN_ISSUE_BOARD.md
Due: none

docs: update compute issue board rows 026-030
  docs/agent_memory/GAUSSIAN_ISSUE_BOARD.md
Due: none

gaussian/editor: enforce tile shared-memory raster contract
  modules/gaussian_splatting/tests/test_tile_renderer.cpp
Due: copyright-headers

style: trim trailing whitespace in sorting pipeline
  modules/gaussian_splatting/interfaces/gpu_sorting_pipeline.cpp
Due: copyright-headers

fix: add missing ColorGradingResource include and batches_completed getter
  modules/gaussian_splatting/renderer/batched_async_readback.h
  modules/gaussian_splatting/renderer/tile_render_types.h
Due: copyright-headers, header-guards

Call stop after setting new sprite frames
  scene/2d/animated_sprite_2d.cpp
  scene/3d/sprite_3d.cpp
Due: copyright-headers

fix: GDScript const compatibility and add visual metrics to synthetic scenes
  tests/examples/godot/test_project/scenes/benchmark_suite/benchmark_suite_lane.gd
  tests/examples/godot/test_project/scenes/synthetic_showcase.gd
Due: none

Add versioned GitHub Pages docs pipeline with media LFS support
  .gitattributes
  .github/workflows/README.md
  .github/workflows/docs_pages.yml
  .gitignore
  Makefile
  README.md
  docs/BUILDING.md
  docs/README.md
  docs/assets/images/gaussian-pipeline.svg
  docs/assets/videos/gaussian-demo.mp4
  docs/assets/videos/gaussian-demo.webm
  docs/development/README.md
  docs/development/docs-site.md
  docs/features/README.md
  docs/features/media.md
  docs/index.md
  docs/requirements-site.txt
  mkdocs.yml
  package.json
  scripts/build_docs_site.py
  scripts/check_docs_media_budget.py
  scripts/stage_public_docs.py
  templates/gaussian_splat_template/assets/template_splats.ply
  tests/examples/godot/test_project/tests/fixtures/test_splats.gsplatworld
  tests/fixtures/test_splats.ply
Due: svgo

Fix previous keyframe needing to be pressed twice
  editor/animation/animation_player_editor_plugin.cpp
Due: copyright-headers

Fix CSG operations not respecting the `top_level` flag on child nodes
  modules/csg/csg_shape.cpp
Due: copyright-headers

fix: remove duplicated mike version/alias in docs deploy
  .github/workflows/docs_pages.yml
Due: none

Unify benchmark scenes under single-process orchestrator
  tests/ci/run_module_tests.py
  tests/examples/godot/test_project/scenes/benchmark_orchestrator.gd
  tests/examples/godot/test_project/scenes/benchmark_orchestrator.tscn
  tests/examples/godot/test_project/scenes/benchmark_small_baseline.gd
  tests/examples/godot/test_project/scenes/benchmark_suite/benchmark_suite_lane.gd
  tests/examples/godot/test_project/scenes/benchmark_unified.gd
  tests/examples/godot/test_project/scenes/benchmark_unified.tscn
  tests/examples/godot/test_project/scenes/synthetic_cloud.tscn
  tests/examples/godot/test_project/scenes/synthetic_cube.tscn
  tests/examples/godot/test_project/scenes/synthetic_flower_field.tscn
  tests/examples/godot/test_project/scenes/synthetic_mandelbulb.tscn
  tests/examples/godot/test_project/scenes/synthetic_plane.tscn
  tests/examples/godot/test_project/scenes/synthetic_showcase.gd
  tests/examples/godot/test_project/scenes/synthetic_sphere.tscn
  tests/examples/godot/test_project/scenes/synthetic_spiral.tscn
  tests/examples/godot/test_project/scenes/synthetic_torus.tscn
  tests/examples/godot/test_project/scripts/benchmark_scene_contract.gd
  tests/runtime/check_benchmark_asset_paths.py
  tests/runtime/prepare_synthetic_assets.py
  tests/runtime/run_benchmark.py
Due: none

Fix PackedScene instantiate losing collection types if property default is NIL
  scene/property_utils.cpp
  scene/property_utils.h
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
  tests/scene/test_packed_scene.cpp
  tests/scene/test_property_utils.cpp
Due: copyright-headers, header-guards

Make the resource type's default theme item editable in Theme editor
  editor/scene/gui/theme_editor_plugin.cpp
Due: copyright-headers

Editor: Poll snapping state when updating a transform
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Implement sandbox check for openKylin Kaiming
  platform/linuxbsd/os_linuxbsd.cpp
Due: copyright-headers

Ignore key echo for axis lock cycling during 3D transforms
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

Remove tab blank lines in os_linuxbsd.cpp
  platform/linuxbsd/os_linuxbsd.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

