Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Avoid unnecessary copies of container types
  core/config/project_settings.cpp
  core/input/input_map.cpp
  core/io/ip.cpp
  core/object/class_db.cpp
  editor/docks/filesystem_dock.cpp
  editor/docks/scene_tree_dock.cpp
  editor/docks/scene_tree_dock.h
  editor/export/editor_export.cpp
  editor/import/3d/scene_import_settings.cpp
  editor/inspector/editor_properties.cpp
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
  editor/scene/group_settings_editor.cpp
  editor/scene/scene_tree_editor.cpp
  editor/settings/editor_settings.cpp
  editor/settings/editor_settings_dialog.cpp
  editor/shader/shader_create_dialog.cpp
  editor/themes/editor_icons.cpp
  main/main.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/multiplayer/multiplayer_synchronizer.cpp
  modules/multiplayer/scene_multiplayer.h
  modules/multiplayer/scene_replication_interface.cpp
  modules/navigation_2d/2d/godot_navigation_server_2d.cpp
  modules/navigation_3d/3d/godot_navigation_server_3d.cpp
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/tile_map.cpp
  scene/gui/graph_edit.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
  scene/resources/2d/tile_set.cpp
Due: copyright-headers, header-guards

Add an easy way to reload editor addons
  editor/editor_node.cpp
  editor/editor_node.h
  editor/plugins/editor_plugin_settings.cpp
  editor/plugins/editor_plugin_settings.h
Due: copyright-headers, header-guards

Formatting fixes
  tests/scene/test_base_button.cpp
  tests/scene/test_button.cpp
Due: copyright-headers

Fix unwanted shape_aabb changing
  modules/godot_physics_2d/godot_collision_object_2d.cpp
Due: copyright-headers

Removed include.
  editor/scene/2d/polygon_2d_editor_plugin.cpp
Due: copyright-headers

Missed some show/hide elements.
  editor/scene/2d/polygon_2d_editor_plugin.cpp
  editor/scene/2d/polygon_2d_editor_plugin.h
Due: copyright-headers, header-guards

Added weight painting and QoL to Polygon2D Editor.
  editor/scene/2d/polygon_2d_editor_plugin.cpp
  editor/scene/2d/polygon_2d_editor_plugin.h
Due: copyright-headers, header-guards

Fix conversion issue.
  editor/scene/2d/polygon_2d_editor_plugin.cpp
Due: copyright-headers

Disable GPU threaded optimizations option
  core/os/os.h
  doc/classes/ProjectSettings.xml
  drivers/gles2/rasterizer_gles2.cpp
  drivers/gles3/rasterizer_gles3.cpp
  main/main.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Reload presets when export plugins are added and removed
  editor/export/editor_export.cpp
Due: copyright-headers

Tidying includes
  tests/scene/test_button.cpp
Due: copyright-headers

Increase minimum editor window size.
  editor/editor_node.cpp
Due: copyright-headers

CI: Replace `mypy` with `ty`
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Style: Apply `ty` fixes
  SConstruct
  core/profiling/SCsub
  doc/tools/make_rst.py
  drivers/apple_embedded/SCsub
  drivers/d3d12/SCsub
  methods.py
  misc/scripts/validate_xml.py
  misc/utility/scons_hints.py
  modules/mono/SCsub
  modules/mono/build_scripts/build_assemblies.py
  modules/openxr/SCsub
  modules/openxr/action_map/SCsub
  modules/openxr/editor/SCsub
  modules/openxr/extensions/SCsub
  modules/openxr/scene/SCsub
  modules/raycast/godot_update_embree.py
  platform/ios/detect.py
  platform/linuxbsd/detect.py
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/x11/SCsub
  platform/visionos/detect.py
  platform/web/SCsub
  platform/web/detect.py
  platform/web/emscripten_helpers.py
  platform/windows/detect.py
  tests/compatibility_test/SConstruct
  tests/test_builders.py
Due: none

Fix K2 lens distortion coefficient in GLES3 blit
  drivers/gles3/effects/copy_effects.cpp
Due: copyright-headers

Fixed GodotPhysicsDirectBodyState2D::get_velocity_at_local_position() ignoring custom center_of_mass.
  modules/godot_physics_2d/godot_body_2d.h
Due: copyright-headers, header-guards

Replace Area gravity point bool with a gravity type enum
  doc/classes/Area2D.xml
  doc/classes/Area3D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  modules/godot_physics_2d/godot_area_2d.cpp
  modules/godot_physics_2d/godot_area_2d.h
  modules/godot_physics_3d/godot_area_3d.cpp
  modules/godot_physics_3d/godot_area_3d.h
  modules/jolt_physics/objects/jolt_area_3d.cpp
  modules/jolt_physics/objects/jolt_area_3d.h
  scene/2d/physics/area_2d.cpp
  scene/2d/physics/area_2d.h
  scene/3d/physics/area_3d.cpp
  scene/3d/physics/area_3d.h
  servers/physics_2d/physics_server_2d.cpp
  servers/physics_2d/physics_server_2d.h
  servers/physics_2d/physics_server_2d_enums.h
  servers/physics_3d/physics_server_3d.cpp
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_enums.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Set accessibility name of next_page_button to "Next Page" instead of overwriting accessibility name of prev_page_button
  editor/inspector/editor_inspector.cpp
Due: copyright-headers

Rebase to latest and fix bug
  editor/scene/2d/polygon_2d_editor_plugin.cpp
Due: copyright-headers

Add a Target gravity type to Area for a custom target point
  doc/classes/Area2D.xml
  doc/classes/Area3D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  modules/godot_physics_2d/godot_area_2d.cpp
  modules/godot_physics_2d/godot_area_2d.h
  modules/godot_physics_2d/godot_physics_server_2d.cpp
  modules/godot_physics_2d/godot_physics_server_2d.h
  modules/godot_physics_3d/godot_area_3d.cpp
  modules/godot_physics_3d/godot_area_3d.h
  modules/godot_physics_3d/godot_physics_server_3d.cpp
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/jolt_physics/jolt_physics_server_3d.cpp
  modules/jolt_physics/jolt_physics_server_3d.h
  modules/jolt_physics/objects/jolt_area_3d.cpp
  modules/jolt_physics/objects/jolt_area_3d.h
  scene/2d/physics/area_2d.cpp
  scene/2d/physics/area_2d.h
  scene/3d/physics/area_3d.cpp
  scene/3d/physics/area_3d.h
  servers/physics_2d/physics_server_2d.cpp
  servers/physics_2d/physics_server_2d.h
  servers/physics_2d/physics_server_2d_dummy.h
  servers/physics_2d/physics_server_2d_enums.h
  servers/physics_2d/physics_server_2d_extension.h
  servers/physics_2d/physics_server_2d_wrap_mt.h
  servers/physics_3d/physics_server_3d.cpp
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_dummy.h
  servers/physics_3d/physics_server_3d_enums.h
  servers/physics_3d/physics_server_3d_extension.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Added weight colors and weight strength labels
  editor/scene/2d/polygon_2d_editor_plugin.cpp
  editor/scene/2d/polygon_2d_editor_plugin.h
Due: copyright-headers, header-guards

Improve stability of directional shadows when far from world origin
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers

Use more terse min-max function as suggested
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers

Fix shadowmap margin
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers

Fix my own PCSS shadows bug
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers

Apply Skyth's #120774 PCSS fix
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers

Fix leaks when opening EditorPropertyArray and EditorPropertyDictionary
  editor/inspector/editor_properties_array_dict.cpp
Due: copyright-headers

Deduplicate Area2D/3D space override enum
  doc/classes/Area2D.xml
  doc/classes/Area3D.xml
  misc/extension_api_validation/4.7-stable/GH-121102.txt
  scene/2d/physics/area_2d.compat.inc
  scene/2d/physics/area_2d.cpp
  scene/2d/physics/area_2d.h
  scene/3d/physics/area_3d.compat.inc
  scene/3d/physics/area_3d.cpp
  scene/3d/physics/area_3d.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

OpenXR: Allow flipping Y direction of motion vectors for frame synthesis
  doc/classes/ProjectSettings.xml
  main/main.cpp
  modules/openxr/extensions/openxr_frame_synthesis_extension.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers

Fix warning about await on abstract function
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/tests/scripts/analyzer/warnings/abc.notest.gd
  modules/gdscript/tests/scripts/analyzer/warnings/abc_child.notest.gd
  modules/gdscript/tests/scripts/analyzer/warnings/await_abstract_method.gd
  modules/gdscript/tests/scripts/analyzer/warnings/await_abstract_method.out
Due: copyright-headers, header-guards

mbedTLS: Update to version 3.6.5
  thirdparty/README.md
  thirdparty/mbedtls/include/mbedtls/bignum.h
  thirdparty/mbedtls/include/mbedtls/build_info.h
  thirdparty/mbedtls/include/mbedtls/cipher.h
  thirdparty/mbedtls/include/mbedtls/mbedtls_config.h
  thirdparty/mbedtls/include/mbedtls/threading.h
  thirdparty/mbedtls/include/psa/crypto_extra.h
  thirdparty/mbedtls/library/bignum.c
  thirdparty/mbedtls/library/bignum_core.c
  thirdparty/mbedtls/library/bignum_core.h
  thirdparty/mbedtls/library/bignum_core_invasive.h
  thirdparty/mbedtls/library/bignum_internal.h
  thirdparty/mbedtls/library/cipher.c
  thirdparty/mbedtls/library/cipher_invasive.h
  thirdparty/mbedtls/library/dhm.c
  thirdparty/mbedtls/library/ecdsa.c
  thirdparty/mbedtls/library/ecp.c
  thirdparty/mbedtls/library/psa_crypto.c
  thirdparty/mbedtls/library/psa_crypto_cipher.c
  thirdparty/mbedtls/library/psa_crypto_core.h
  thirdparty/mbedtls/library/rsa.c
  thirdparty/mbedtls/library/rsa_alt_helpers.c
  thirdparty/mbedtls/library/rsa_alt_helpers.h
  thirdparty/mbedtls/library/ssl_msg.c
  thirdparty/mbedtls/library/ssl_tls.c
  thirdparty/mbedtls/library/ssl_tls12_client.c
  thirdparty/mbedtls/library/threading.c
  thirdparty/mbedtls/library/threading_internal.h
  thirdparty/mbedtls/patches/0001-msvc-2019-psa-redeclaration.patch
Due: none

Fixed polygons not being adjusted after deletion
  editor/scene/2d/polygon_2d_editor_plugin.cpp
Due: copyright-headers

Fix Mouse Warp on Tablet/Trackpad mode
  editor/scene/3d/node_3d_editor_viewport.cpp
  editor/scene/3d/node_3d_editor_viewport.h
  scene/debugger/view_3d_controller.cpp
Due: copyright-headers, header-guards

GDScript: Replace AST node `datatype` with subtype specific fields
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/language_server/gdscript_extend_parser.cpp
Due: copyright-headers, header-guards

Set the Asset Store's default sorting to highest scored
  editor/asset_library/asset_library_editor_plugin.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

