Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$


[Image] Fix leftover note in `Image::load_exr_from_buffer`
  core/io/image.cpp
Due: copyright-headers

[FileDialog] Ignore filename edit `text_submitted` action when "Open" button is disabled.
  scene/gui/file_dialog.cpp
Due: copyright-headers

Tree: Fix range cell tooltip displaying full option list
  scene/gui/tree.cpp
  scene/gui/tree.h
Due: copyright-headers, header-guards

Move `WeakRef` to `CoreBind`, since it shouldn't be (and isn't) used internally.
  core/core_bind.cpp
  core/core_bind.h
  core/object/ref_counted.cpp
  core/object/ref_counted.h
  core/register_core_types.cpp
  core/variant/variant_utility.cpp
  modules/mono/glue/runtime_interop.cpp
  modules/objectdb_profiler/editor/snapshot_data.cpp
Due: copyright-headers, header-guards

CI: Silence warning about Metal not being supported in macOS x86_64 builds
  .github/workflows/macos_builds.yml
Due: none

Fix always true condition in editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.cpp
Due: copyright-headers

Fix `Signals Dock` tree not updating
  editor/scene/connections_dialog.cpp
  editor/scene/connections_dialog.h
  editor/script/script_editor_base.cpp
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
Due: copyright-headers, header-guards

Fix move node(s) here editor action for controls within container
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers

Standardize `×` across the class reference
  doc/classes/Area2D.xml
  doc/classes/Area3D.xml
  doc/classes/AreaLight3D.xml
  doc/classes/Image.xml
  doc/classes/Joint3D.xml
  doc/classes/ParallaxLayer.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/PrimitiveMesh.xml
  doc/classes/ResourceImporterLayeredTexture.xml
  doc/classes/ResourceImporterTexture.xml
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
Due: make-rst, doc-status, validate-xml

Fix EditorContextMenuPlugin shortcut support
  editor/docks/scene_tree_dock.cpp
  editor/inspector/editor_inspector.cpp
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/editor_scene_tabs.cpp
  editor/script/script_editor_plugin.cpp
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
Due: copyright-headers, header-guards

Allow `StringName`s to be used in `@export_enum`
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/tests/scripts/parser/errors/export_enum_wrong_array_type.out
  modules/gdscript/tests/scripts/parser/errors/export_enum_wrong_type.out
Due: make-rst, doc-status, validate-xml, copyright-headers

Allow toggling SceneTree::debug_collisions_hint at runtime
  doc/classes/SceneTree.xml
  editor/debugger/debugger_editor_plugin.cpp
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
  modules/csg/csg_shape.cpp
  modules/gridmap/grid_map.cpp
  modules/tilemap/tile_map_layer.cpp
  scene/2d/physics/collision_polygon_2d.cpp
  scene/2d/physics/collision_shape_2d.cpp
  scene/2d/physics/joints/joint_2d.cpp
  scene/2d/physics/ray_cast_2d.cpp
  scene/2d/physics/shape_cast_2d.cpp
  scene/2d/physics/touch_screen_button.cpp
  scene/3d/physics/collision_object_3d.cpp
  scene/3d/physics/ray_cast_3d.cpp
  scene/3d/physics/shape_cast_3d.cpp
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
  scene/main/node.h
  scene/main/scene_tree.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix plain black/white background in the Profiler and Visual Profiler when using modern theme
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_profiler.h
  editor/debugger/editor_visual_profiler.cpp
  editor/debugger/editor_visual_profiler.h
Due: copyright-headers, header-guards

[TextEdit] Fix lines_edited_from signal in clear()
  scene/gui/text_edit.cpp
  tests/scene/test_text_edit.cpp
Due: copyright-headers

Implement `DisplayServer.screen_get_scale()` on Windows
  doc/classes/DisplayServer.xml
  editor/settings/editor_settings.cpp
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Tweak reference to GodotPhysics3D being the default physics engine
  doc/classes/HeightMapShape3D.xml
  doc/classes/SoftBody3D.xml
Due: make-rst, doc-status, validate-xml

Fix various raytracing issues.
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_shader_container.cpp
Due: copyright-headers

Feature haptic
  drivers/apple_embedded/apple_embedded.mm
Due: copyright-headers

fix missing word in doc
  doc/classes/Resource.xml
Due: make-rst, doc-status, validate-xml

Fix behavior of find_keycode_from_string() being platform-specific
  core/os/keyboard.cpp
Due: copyright-headers

Add admonition support to editor help and make_rst.py
  doc/tools/make_rst.py
  editor/doc/editor_help.cpp
  editor/themes/editor_theme_manager.h
  editor/themes/theme_classic.cpp
  editor/themes/theme_modern.cpp
Due: copyright-headers, header-guards

Don't save overridden BoneAttachment3D transform
  scene/3d/bone_attachment_3d.cpp
Due: copyright-headers

Fix polygon not being adjusted after deletion.
  editor/scene/2d/polygon_2d_editor_plugin.cpp
Due: copyright-headers

Update color of the debugger tab on theme change
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
Due: copyright-headers, header-guards

Add Clear Project Cache option
  editor/editor_node.cpp
  editor/editor_node.h
  editor/file_system/editor_file_system.cpp
  editor/file_system/editor_file_system.h
  main/main.cpp
Due: copyright-headers, header-guards

Hide Initial Clip property if not relevant in AudioStreamInteractive editor
  modules/interactive_music/audio_stream_interactive.cpp
Due: copyright-headers

Remove duplicate property translations in TileSet editor
  modules/tilemap/editor/tile_set_atlas_source_editor.cpp
  modules/tilemap/editor/tile_set_atlas_source_editor.h
Due: copyright-headers, header-guards

Fix error message pop up when instantiating a scene within itself
  editor/docks/scene_tree_dock.cpp
Due: copyright-headers

Metal: fix crash using `texture_create_from_extension`
  drivers/metal/rendering_device_driver_metal.cpp
Due: copyright-headers

[CodeEdit] Clamp code completion popup pos to the left edge
  scene/gui/code_edit.cpp
Due: copyright-headers

Add checkbox to exclude title from translation template
  core/config/project_settings.cpp
  editor/translations/localization_editor.cpp
  editor/translations/localization_editor.h
  editor/translations/template_generator.cpp
  editor/translations/template_generator.h
Due: copyright-headers, header-guards

OpenXR: Check buffer id with plane tracking
  doc/classes/ProjectSettings.xml
  modules/openxr/doc_classes/OpenXRPlaneTracker.xml
  modules/openxr/doc_classes/OpenXRSpatialPlaneTrackingCapability.xml
  modules/openxr/extensions/spatial_entities/openxr_spatial_entities.cpp
  modules/openxr/extensions/spatial_entities/openxr_spatial_entities.h
  modules/openxr/extensions/spatial_entities/openxr_spatial_plane_tracking.cpp
  modules/openxr/extensions/spatial_entities/openxr_spatial_plane_tracking.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Particles: Fix GPUParticles2D 'finished' signal ignoring speed_scale
  scene/2d/gpu_particles_2d.cpp
  scene/3d/gpu_particles_3d.cpp
Due: copyright-headers

AudioStreamPlaylist: Fix doubled sample when switching streams
  modules/interactive_music/audio_stream_playlist.cpp
Due: copyright-headers

Fix opengl3_angle renderer crashing if render thread is enabled
  drivers/egl/egl_manager.cpp
Due: copyright-headers

Rename `p_base` to `r_base` in `Variant::construct`
  core/variant/variant_construct.cpp
Due: copyright-headers

making the sphere taper work in most cases
  scene/3d/spring_bone_collision_3d.cpp
  scene/3d/spring_bone_collision_3d.h
  scene/3d/spring_bone_collision_capsule_3d.cpp
  scene/3d/spring_bone_collision_capsule_3d.h
  scene/3d/spring_bone_collision_plane_3d.cpp
  scene/3d/spring_bone_collision_plane_3d.h
  scene/3d/spring_bone_collision_sphere_3d.cpp
  scene/3d/spring_bone_collision_sphere_3d.h
  scene/3d/spring_bone_simulator_3d.cpp
Due: copyright-headers, header-guards

mbedTLS: Ignore TLSv1.3 session ticket during poll/handshake
  modules/mbedtls/stream_peer_mbedtls.cpp
Due: copyright-headers

make COLLIDE_MODE instead of inside flag
  editor/scene/3d/gizmos/spring_bone_3d_gizmo_plugin.cpp
  scene/3d/spring_bone_collision_3d.cpp
  scene/3d/spring_bone_collision_3d.h
  scene/3d/spring_bone_collision_sphere_3d.cpp
  scene/3d/spring_bone_collision_sphere_3d.h
Due: copyright-headers, header-guards
