Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Check for argument count in generic marshaller
  platform/linuxbsd/wayland/embedder.cpp
Due: copyright-headers

Kick clients referencing unknown objects
  platform/linuxbsd/wayland/embedder.cpp
Due: copyright-headers

Update ClassDB::class_call_static doc
  doc/classes/ClassDB.xml
Due: make-rst, doc-status

D3D12: Fix shader model check, initialization error handling
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device_graph.cpp
Due: copyright-headers

Android: Add option to change background color and fix system bar regression
  platform/android/doc_classes/EditorExportPlatformAndroid.xml
  platform/android/export/export_plugin.cpp
  platform/android/java/app/src/com/godot/game/GodotApp.java
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
Due: make-rst, doc-status, copyright-headers

VisibleOnScreenEnabler3D now has new moving points similiar to CSG Shapes and Fog Volume.
  editor/scene/3d/gizmos/visible_on_screen_notifier_3d_gizmo_plugin.cpp
Due: copyright-headers

Improve 2D Particle Emission Mask dialog
  editor/scene/2d/particles_2d_editor_plugin.cpp
  editor/scene/2d/particles_2d_editor_plugin.h
Due: copyright-headers, header-guards

Added Inspector Locking System
  editor/icons/LockActive.svg
  editor/icons/LockDeactive.svg
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
Due: svgo, copyright-headers, header-guards

Update access-kit to 0.17.0
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/windows_builds.yml
  doc/classes/DisplayServer.xml
  drivers/accesskit/accessibility_driver_accesskit.cpp
  scene/gui/item_list.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/scroll_container.cpp
  scene/gui/text_edit.cpp
  scene/gui/tree.cpp
  servers/display_server.cpp
  servers/display_server.h
  thirdparty/README.md
  thirdparty/accesskit/include/accesskit.h
Due: make-rst, doc-status, copyright-headers, header-guards

Deduplicate MethodBind::_gen_argument_type.
  core/extension/gdextension.cpp
  core/object/method_bind.cpp
  core/object/method_bind.h
Due: copyright-headers, header-guards

fix AudioListener3D not tracking self velocity for doppler
  doc/classes/AudioListener3D.xml
  doc/classes/AudioStreamPlayer3D.xml
  doc/classes/Camera3D.xml
  scene/3d/audio_listener_3d.cpp
  scene/3d/audio_listener_3d.h
  scene/3d/audio_stream_player_3d.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Reformatting with clang-format
  editor/scene/3d/gizmos/visible_on_screen_notifier_3d_gizmo_plugin.cpp
Due: copyright-headers

Use safe ObjectID for mouse over controls.
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: copyright-headers, header-guards

Round gradient colors.
  scene/resources/gradient_texture.cpp
Due: copyright-headers

Avoid color conversion roundtrip in colorpicker
  scene/gui/color_picker.cpp
Due: copyright-headers

Remove outdated note from EditorScript description
  doc/classes/EditorScript.xml
Due: make-rst, doc-status

Removes the need to have a display name for built-in action overrides
  core/input/input_map.cpp
Due: copyright-headers

Revert changes
  editor/scene/3d/gizmos/visible_on_screen_notifier_3d_gizmo_plugin.cpp
Due: copyright-headers

Fix TextEdit styles and disable clipping.
  doc/classes/TextEdit.xml
  editor/themes/editor_theme_manager.cpp
  scene/gui/code_edit.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Due: make-rst, doc-status, copyright-headers, header-guards

Optimize the callback argument of popup_create_dialog()
  doc/classes/EditorInterface.xml
  editor/gui/create_dialog.cpp
Due: make-rst, doc-status, copyright-headers

Fix missing 3d gizmos
  scene/3d/node_3d.cpp
Due: copyright-headers

microphone docs done using --doctool
  doc/classes/@GlobalScope.xml
Due: make-rst, doc-status

Make rotation gizmo white outline a 4th handle that rotates around the camera's view-axis
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Ensure that threads only process one pump task.
  core/object/worker_thread_pool.cpp
  core/object/worker_thread_pool.h
  modules/betsy/image_compress_betsy.cpp
  servers/physics_server_2d_wrap_mt.cpp
  servers/physics_server_3d_wrap_mt.cpp
  servers/rendering/rendering_server_default.cpp
Due: copyright-headers, header-guards

Update Skin.xml - Fully descriptio added
  doc/classes/Skin.xml
Due: make-rst, doc-status

Add project settings for default importers
  core/io/resource_importer.cpp
  core/io/resource_importer.h
  editor/import/import_defaults_editor.cpp
  editor/import/import_defaults_editor.h
  editor/settings/project_settings_editor.cpp
Due: copyright-headers, header-guards

fix force_update_tranform not working on kinematic bodies
  modules/godot_physics_2d/godot_body_2d.cpp
  modules/godot_physics_3d/godot_body_3d.cpp
Due: copyright-headers

Cleanup EditorPluginList
  editor/editor_node.cpp
  editor/editor_node.h
  editor/plugins/editor_plugin.cpp
  editor/plugins/editor_plugin_list.cpp
  editor/plugins/editor_plugin_list.h
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers, header-guards

change vector& to vector because it's a cow array
  servers/microphone/microphone_feed.cpp
Due: copyright-headers

TextureRD: Ignore invalid free error and keep rid unchanged when replacing rd texture
  scene/resources/texture_rd.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
Due: copyright-headers

fix class reference alphabetic order
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status

CI: Add headless import test
  .github/actions/godot-project-test/action.yml
Due: none

Trim trailing whitespace
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

Add default texture filtering option
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  scene/3d/label_3d.cpp
  scene/3d/label_3d.h
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
  scene/resources/material.cpp
  scene/resources/material.h
  servers/rendering/dummy/rasterizer_scene_dummy.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: copyright-headers, header-guards

CI: Add problem matcher for Godot
  misc/utility/problem-matchers.json
  tests/test_main.cpp
Due: copyright-headers

fix crashes on get_connections
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Due: copyright-headers, header-guards

Define 'viewport' for parity with GDScript's '$viewport'
  doc/classes/Viewport.xml
Due: make-rst, doc-status

Tests: Fix unfiltered error output
  modules/gltf/tests/test_gltf_images.h
Due: copyright-headers, header-guards

Update HDR 2D documentation to include Compatibility support.
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
Due: make-rst, doc-status

MacOS: Fix embedded screen_get_scale API
  platform/macos/display_server_embedded.h
  platform/macos/display_server_embedded.mm
  platform/macos/editor/embedded_process_macos.mm
Due: copyright-headers, header-guards
