Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Fix popup shadows misbehaving with `content_scale_factor`
  scene/gui/popup.cpp
  scene/gui/popup_menu.cpp
Due: copyright-headers

fix android mono export causing conflicts
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  modules/mono/thirdparty/libSystem.Security.Cryptography.Native.Android.jar
  platform/android/java/app/build.gradle
Due: none

clipper2: Update to 1.5.2
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/clipper2/include/clipper2/clipper.core.h
  thirdparty/clipper2/include/clipper2/clipper.engine.h
  thirdparty/clipper2/include/clipper2/clipper.export.h
  thirdparty/clipper2/include/clipper2/clipper.h
  thirdparty/clipper2/include/clipper2/clipper.minkowski.h
  thirdparty/clipper2/include/clipper2/clipper.offset.h
  thirdparty/clipper2/include/clipper2/clipper.rectclip.h
  thirdparty/clipper2/include/clipper2/clipper.version.h
  thirdparty/clipper2/patches/0001-disable-exceptions.patch
  thirdparty/clipper2/patches/0002-llvm-disable-int128-math.patch
  thirdparty/clipper2/src/clipper.engine.cpp
  thirdparty/clipper2/src/clipper.offset.cpp
  thirdparty/clipper2/src/clipper.rectclip.cpp
Due: none

Silence missing icon error if UID cache is missing
  editor/project_manager/project_list.cpp
Due: copyright-headers

Add changeable freelook speed in Game Window
  editor/plugins/game_view_plugin.cpp
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
Due: copyright-headers, header-guards

C#: Validate project TFM for Android template exports
  platform/android/export/export_plugin.cpp
Due: copyright-headers

improve drag and drop
  editor/gui/scene_tree_editor.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/scene_tree_dock.cpp
  scene/main/node.cpp
  scene/main/node.h
  scene/resources/packed_scene.cpp
Due: copyright-headers, header-guards

fixed rename and updated node_cache missing parent item
  editor/gui/scene_tree_editor.cpp
  editor/gui/scene_tree_editor.h
Due: copyright-headers, header-guards

Add the ability to expose nodes for direct access in instantiated scenes
  doc/classes/EditorSettings.xml
  editor/editor_data.cpp
  editor/editor_settings.cpp
  editor/gui/scene_tree_editor.cpp
  editor/gui/scene_tree_editor.h
  editor/icons/SceneExposedNode.svg
  editor/icons/SceneExposedNodeInstanced.svg
  editor/import/3d/resource_importer_scene.cpp
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
  scene/main/node.cpp
  scene/main/node.h
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
  scene/resources/resource_format_text.cpp
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Split repeated translation in Game plugin
  editor/plugins/game_view_plugin.cpp
Due: copyright-headers

Betsy: Remove OGRE aliases
  modules/betsy/CrossPlatformSettings_piece_all.glsl
  modules/betsy/alpha_stitch.glsl
  modules/betsy/bc1.glsl
  modules/betsy/bc4.glsl
  modules/betsy/bc6h.glsl
  modules/betsy/betsy_common_inc.glsl
Due: none

Implement seek operation in Theora video files
  doc/classes/VideoStreamPlayer.xml
  modules/theora/video_stream_theora.cpp
  modules/theora/video_stream_theora.h
  scene/gui/video_stream_player.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Use permanent audio buffer
  modules/theora/video_stream_theora.cpp
  modules/theora/video_stream_theora.h
Due: copyright-headers, header-guards

Downmix 4/6/8-channel audio to stereo
  servers/audio/audio_rb_resampler.cpp
Due: copyright-headers

Add 8-channel audio support
  modules/theora/video_stream_theora.h
  servers/audio/audio_rb_resampler.cpp
  servers/audio/audio_rb_resampler.h
Due: copyright-headers, header-guards

Wayland: Fix build config with `so_wrap` disabled
  platform/linuxbsd/detect.py
  platform/linuxbsd/wayland/dynwrappers/libdecor-so_wrap.c
  platform/linuxbsd/wayland/dynwrappers/libdecor-so_wrap.h
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

Add SMAA 1x
  COPYRIGHT.txt
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
  pyproject.toml
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/rendering/renderer_rd/effects/smaa.cpp
  servers/rendering/renderer_rd/effects/smaa.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/effects/smaa_blending.glsl
  servers/rendering/renderer_rd/shaders/effects/smaa_edge_detection.glsl
  servers/rendering/renderer_rd/shaders/effects/smaa_weight_calculation.glsl
  servers/rendering/storage/render_scene_buffers.cpp
  servers/rendering_server.cpp
  servers/rendering_server.h
  thirdparty/smaa/AreaTex.h
  thirdparty/smaa/LICENSE.txt
  thirdparty/smaa/SearchTex.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix file loggin log rotation
  core/io/logger.cpp
  tests/core/io/test_logger.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

Improve path handling in EditorQuickOpenDialog
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/gui/editor_quick_open_dialog.cpp
Due: copyright-headers, header-guards

Add node_notify signal for animation trees
  doc/classes/AnimationNode.xml
  doc/classes/AnimationTree.xml
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_node_state_machine.cpp
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
  scene/scene_string_names.h
Due: make-rst, doc-status, copyright-headers, header-guards

2D: Fix free of invalid ID
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Due: copyright-headers

[Web] Add library emitter to make sources dependent of compiler version
  methods.py
  platform/web/detect.py
Due: none

Fix focus being lost after adding a new input map entry in the editor
  editor/action_map_editor.cpp
Due: copyright-headers

Wayland: Fix engine stalls wihle waiting frames
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Fix TileMapLayer bug where dirty cells could be marked twice
  scene/2d/tile_map_layer.cpp
Due: copyright-headers

[Windows] Remove visible WINDOW_MODE_FULLSCREEN border by setting window region.
  doc/classes/DisplayServer.xml
  platform/windows/display_server_windows.cpp
Due: make-rst, doc-status, copyright-headers

Autocompletion: Account for invalid annotations when making arghint
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.h
Due: copyright-headers, header-guards

[FileDialog] Update filename/buttons state when first item is selected on folder/filter change.
  scene/gui/file_dialog.cpp
Due: copyright-headers

[AudioStreamGenerator] Add mixing rate presets, update docs.
  doc/classes/AudioStreamGenerator.xml
  doc/classes/ProjectSettings.xml
  servers/audio/effects/audio_stream_generator.cpp
  servers/audio/effects/audio_stream_generator.h
Due: make-rst, doc-status, copyright-headers, header-guards

Docs: BitMap: Added description for opaque_to_polygons method
  doc/classes/BitMap.xml
Due: make-rst, doc-status

Clear state before setting new file
  modules/theora/video_stream_theora.cpp
Due: copyright-headers

Dynamic audio buffer size
  modules/theora/video_stream_theora.cpp
  modules/theora/video_stream_theora.h
Due: copyright-headers, header-guards

Improve performance of certain physics queries when using Jolt Physics
  modules/jolt_physics/spaces/jolt_physics_direct_space_state_3d.cpp
  modules/jolt_physics/spaces/jolt_query_collectors.h
Due: copyright-headers, header-guards

Wayland: Unstuck keys with same keycode
  platform/linuxbsd/wayland/key_mapping_xkb.cpp
  platform/linuxbsd/wayland/key_mapping_xkb.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

Drop preload Resources as UID
  doc/classes/EditorSettings.xml
  editor/editor_property_name_processor.cpp
  editor/editor_settings.cpp
  editor/plugins/script_text_editor.cpp
Due: make-rst, doc-status, copyright-headers

Prevent `changed` signal spam on resource reload.
  core/io/resource.cpp
  core/io/resource.h
Due: copyright-headers, header-guards

Don't start decoding video before keyframe
  modules/theora/video_stream_theora.cpp
Due: copyright-headers

Split repeated translation for floating windows
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/window_wrapper.cpp
Due: copyright-headers
