Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Allow creating GDExtension plugins from inside the Godot editor
  .github/changed_files.yml
  .pre-commit-config.yaml
  editor/gui/editor_validation_panel.cpp
  editor/gui/editor_validation_panel.h
  editor/settings/gdextension/SCsub
  editor/settings/gdextension/cpp_scons/SCsub
  editor/settings/gdextension/cpp_scons/cpp_scons_gdext_creator.cpp
  editor/settings/gdextension/cpp_scons/cpp_scons_gdext_creator.h
  editor/settings/gdextension/cpp_scons/template/SConstruct_top_level
  editor/settings/gdextension/cpp_scons/template/SCsub
  editor/settings/gdextension/cpp_scons/template/addon/SConstruct_addon
  editor/settings/gdextension/cpp_scons/template/addon/doc_classes/ExampleNode.xml
  editor/settings/gdextension/cpp_scons/template/addon/gdext.gitignore
  editor/settings/gdextension/cpp_scons/template/addon/icons/ExampleNode.svg
  editor/settings/gdextension/cpp_scons/template/addon/icons/ExampleNode.svg.import
  editor/settings/gdextension/cpp_scons/template/addon/library_name.gdextension
  editor/settings/gdextension/cpp_scons/template/addon/src/gdext_defines.h
  editor/settings/gdextension/cpp_scons/template/addon/src/initialize_gdextension.cpp
  editor/settings/gdextension/cpp_scons/template/config.py
  editor/settings/gdextension/cpp_scons/template/example_node.cpp
  editor/settings/gdextension/cpp_scons/template/example_node.h
  editor/settings/gdextension/cpp_scons/template/register_types.cpp
  editor/settings/gdextension/cpp_scons/template/register_types.h
  editor/settings/gdextension/cpp_scons/template/shared_defines.h
  editor/settings/gdextension/cpp_scons/template/tests/test_base_name.h
  editor/settings/gdextension/cpp_scons/template/tests/test_example_node.h
  editor/settings/gdextension/gdextension_create_dialog.cpp
  editor/settings/gdextension/gdextension_create_dialog.h
  editor/settings/gdextension/gdextension_creator_plugin.h
  editor/settings/gdextension/project_settings_gdextension.cpp
  misc/scripts/header_guards.py
Due: make-rst, doc-status, validate-xml, svgo, copyright-headers, header-guards

Tweak viewport resolution display in View Information panel in the 3D editor
  editor/inspector/editor_resource_tooltip_plugins.cpp
  editor/scene/3d/gpu_particles_collision_sdf_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_viewport.cpp
  editor/scene/3d/voxel_gi_editor_plugin.cpp
Due: copyright-headers

TAA Rework
  servers/rendering/renderer_rd/effects/taa.cpp
  servers/rendering/renderer_rd/effects/taa.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/shaders/effects/taa_resolve.glsl
Due: copyright-headers, header-guards

Moved editor plugins enabled to editor settings.
  editor/editor_node.cpp
  editor/plugins/editor_plugin_settings.cpp
  editor/plugins/editor_plugin_settings.h
  editor/plugins/plugin_config_dialog.cpp
  editor/plugins/plugin_config_dialog.h
  editor/settings/editor_settings_dialog.cpp
  editor/settings/editor_settings_dialog.h
  editor/settings/project_settings_editor.cpp
Due: copyright-headers, header-guards

Fix `CowData` `Span` constructor.
  core/cowdata.h
Due: copyright-headers, header-guards

Fix crash capturing script backtraces when ScriptBacktrace is disabled by build profile
  core/object/script_language.cpp
Due: copyright-headers

Fix CharacterBody2D BVH performance issue
  modules/godot_physics_2d/godot_body_2d.cpp
Due: copyright-headers

Add null checking to append_gltf_node
  modules/gltf/gltf_state.cpp
Due: copyright-headers

Fix updating of closed script files
  editor/script/find_in_files.cpp
Due: copyright-headers

Don't include `physics_server_2d.h` in `world_2d.h`
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/physics/collision_object_2d.cpp
  scene/2d/physics/ray_cast_2d.cpp
  scene/main/viewport.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_jiggle.cpp
  scene/resources/world_2d.cpp
  scene/resources/world_2d.h
Due: copyright-headers, header-guards

Add bounds checks to prevent integer underflow in packet size validation
  modules/multiplayer/scene_replication_interface.cpp
Due: copyright-headers

Update editor/editor_node.cpp
  editor/editor_node.cpp
Due: copyright-headers

Add proper instructions for using scene paint 2D
  editor/scene/2d/scene_paint_2d_editor_plugin.cpp
  editor/scene/2d/scene_paint_2d_editor_plugin.h
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
Due: copyright-headers, header-guards

Expose SO_REUSEADDR and SO_REUSEPORT socket flags to PacketPeerUDP
  core/io/net_socket.h
  core/io/packet_peer_udp.cpp
  core/io/packet_peer_udp.h
  doc/classes/PacketPeerUDP.xml
  drivers/unix/net_socket_unix.cpp
  drivers/unix/net_socket_unix.h
  drivers/windows/net_socket_winsock.cpp
  drivers/windows/net_socket_winsock.h
  platform/web/net_socket_web.h
  tests/core/io/test_stream_peer_tcp.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix combination of MSAA 2D, screen-space AA and bilinear upscaling breaking 3D rendering.
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Due: copyright-headers

add shortcuts for filesystem right click menu
  editor/docks/filesystem_dock.cpp
Due: copyright-headers

Simplify some CMD/CTRL strings
  editor/gui/editor_spin_slider.cpp
  editor/scene/2d/polygon_2d_editor_plugin.cpp
  editor/scene/2d/tiles/tile_map_layer_editor.cpp
Due: copyright-headers

Use the fast flag if using PNG Movie Writer
  core/io/image.cpp
  core/io/image.h
  drivers/png/png_driver_common.cpp
  drivers/png/png_driver_common.h
  drivers/png/resource_saver_png.cpp
  drivers/png/resource_saver_png.h
  servers/movie_writer/movie_writer_pngwav.cpp
Due: copyright-headers, header-guards

Add option for CSG nodes to use backface collisions.
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/csg/doc_classes/CSGShape3D.xml
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Add NavigationMesh Resource Inspector Preview
  modules/navigation_3d/editor/navigation_mesh_editor_plugin.cpp
  modules/navigation_3d/editor/navigation_mesh_editor_plugin.h
Due: copyright-headers, header-guards

[Docs] Improve description of resize method inside all PackedArray classes
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  doc/classes/PackedVector4Array.xml
Due: make-rst, doc-status, validate-xml

Fix upgrade lock crash when disable class ScriptBacktrace but print backtrace
  core/object/script_language.cpp
Due: copyright-headers

Fix time limit in `EditorResourcePreview::_idle_callback`
  editor/inspector/editor_resource_preview.cpp
Due: copyright-headers

Rename `text_shader_editor` to `shader_text_editor`
  editor/script/script_editor_plugin.cpp
  editor/shader/shader_text_editor.cpp
  editor/shader/shader_text_editor.h
Due: copyright-headers, header-guards

[Core] Remove Unused OS::RenderingDriver Enum
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/OS.xml
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Add lock/unlock multiple children buttons to the 2D/3D editor
  editor/editor_node.cpp
  editor/icons/LockMultiple.svg
  editor/icons/UnLockMultiple.svg
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
  editor/scene/scene_tree_editor.cpp
  editor/scene/scene_tree_editor.h
Due: svgo, copyright-headers, header-guards

core: optimize Shortcut::is_event_array_equal
  core/input/shortcut.cpp
Due: copyright-headers

C#: Cache Array/Vector/String memory alignment information at startup
  core/templates/cowdata.h
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/GodotPluginsInitializerGenerator.cs
  modules/mono/glue/GodotSharp/GodotPlugins/Main.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/InteropStructs.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/Marshaling.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.cs
  modules/mono/glue/runtime_interop.cpp
  modules/mono/mono_gd/gd_mono.cpp
Due: copyright-headers, header-guards

Fix FindInFiles handling of unicode identifiers
  editor/script/find_in_files.cpp
Due: copyright-headers

Add resolution to draw_circle and related functions
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
Due: copyright-headers, header-guards

Update `_show_error()` Method to include autowrap
  editor/project_manager/project_manager.cpp
  editor/project_manager/project_manager.h
Due: copyright-headers, header-guards

Asset Store: Fix image width on Editor Scales other than 100%
  editor/asset_library/asset_library_editor_plugin.cpp
Due: copyright-headers

Don't include `physics_server_3d.h` in `world_3d.h`
  editor/scene/3d/node_3d_editor_viewport.cpp
  editor/scene/3d/path_3d_editor_plugin.cpp
  modules/csg/csg_shape.cpp
  modules/gridmap/grid_map.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/camera_3d.cpp
  scene/3d/physics/area_3d.cpp
  scene/3d/physics/collision_object_3d.cpp
  scene/3d/physics/collision_object_3d.h
  scene/3d/physics/ray_cast_3d.cpp
  scene/3d/physics/shape_cast_3d.cpp
  scene/3d/physics/shape_cast_3d.h
  scene/3d/physics/spring_arm_3d.cpp
  scene/debugger/runtime_node_select.cpp
  scene/main/viewport.cpp
  scene/resources/3d/world_3d.cpp
  scene/resources/3d/world_3d.h
Due: copyright-headers, header-guards

Preffix underscore on dragged onready variables based on EditorSetting
  doc/classes/EditorSettings.xml
  editor/script/script_text_editor.cpp
  editor/settings/editor_settings.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers

Update EditorSettings.xml
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status, validate-xml

Refactor Main argument handling
  editor/editor_node.cpp
  main/main.cpp
  main/main.h
Due: copyright-headers, header-guards

Fix single-threaded HTTPRequest download speed
  doc/classes/HTTPRequest.xml
  scene/main/http_request.cpp
  scene/main/http_request.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Refactor AnimatedTexture
  doc/classes/AnimatedTexture.xml
  scene/resources/animated_texture.cpp
  scene/resources/animated_texture.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix GPU & CPU Particle Gizmos deforming based on CanvasItem
  core/math/geometry_2d.h
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/2d/gpu_particles_2d.cpp
  scene/2d/gpu_particles_2d.h
  scene/main/canvas_item.cpp
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

