Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Add `GDScript` optimizer
  core/print_string.cpp
  core/print_string.h
  doc/classes/ProjectSettings.xml
  editor/editor_log.cpp
  editor/editor_log.h
  editor/editor_property_name_processor.cpp
  modules/gdscript/doc_classes/GDScript.xml
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_compiler.h
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_optimizer.cpp
  modules/gdscript/gdscript_optimizer.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_reconstructor.cpp
  modules/gdscript/gdscript_reconstructor.h
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_tokenizer.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add helper method for loading binary header
  core/io/resource_format_binary.cpp
Due: copyright-headers

Add column boundary check in the autocompletion.
  scene/gui/code_edit.cpp
Due: copyright-headers

OpenXR: Fix ViewportTextures not displaying correct texture (RendererRD)
  modules/openxr/extensions/platform/openxr_d3d12_extension.cpp
  modules/openxr/extensions/platform/openxr_d3d12_extension.h
  modules/openxr/extensions/platform/openxr_metal_extension.h
  modules/openxr/extensions/platform/openxr_metal_extension.mm
  modules/openxr/extensions/platform/openxr_vulkan_extension.cpp
  modules/openxr/extensions/platform/openxr_vulkan_extension.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
Due: copyright-headers, header-guards

Clamp menus at the bottom of the screen.
  scene/gui/menu_button.cpp
  scene/gui/popup_menu.cpp
Due: copyright-headers

VisualShaderEditor: Merge continuous input port default value change actions
  editor/shader/visual_shader_editor_plugin.cpp
Due: copyright-headers

CI: Ensure prettier/clearer sanitizer output
  .github/workflows/linux_builds.yml
  misc/error_suppressions/asan.txt
  misc/error_suppressions/lsan.txt
  misc/error_suppressions/tsan.txt
  misc/error_suppressions/ubsan.txt
Due: none

Fix safe area regression on older Android versions
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
Due: copyright-headers

Switch LOD generation to use iterative simplification
  scene/resources/3d/importer_mesh.cpp
Due: copyright-headers

Enable component pruning during simplification
  scene/resources/3d/importer_mesh.cpp
Due: copyright-headers

SpinBox: Add a property to set whether `custom_arrow_step` rounds value
  doc/classes/SpinBox.xml
  scene/gui/color_picker.cpp
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
Due: make-rst, doc-status, copyright-headers, header-guards

Allow attaching scripts to nodes with previously-non-abstract scripts
  scene/resources/packed_scene.cpp
Due: copyright-headers

Fix physics interpolation with springbones
  scene/3d/spring_bone_simulator_3d.cpp
Due: copyright-headers

Cleanup some things in shader editor code
  editor/shader/shader_create_dialog.cpp
  editor/shader/shader_create_dialog.h
  editor/shader/shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
  scene/resources/shader.h
  servers/rendering/shader_types.cpp
Due: copyright-headers, header-guards

Organize toggle files button logic in shader editor
  editor/shader/shader_editor.h
  editor/shader/shader_editor_plugin.cpp
  editor/shader/text_shader_editor.cpp
  editor/shader/text_shader_editor.h
  editor/shader/visual_shader_editor_plugin.h
Due: copyright-headers, header-guards

Fix MSVC warning for potential mod by 0 (C4724)
  editor/plugins/gizmos/collision_polygon_3d_gizmo_plugin.cpp
Due: copyright-headers

[CI] Use Xcode 16 for macOS build.
  .github/workflows/macos_builds.yml
Due: none

[4.3] Fix MSVC warning for potential mod by 0 (C4724)
  editor/plugins/gizmos/collision_polygon_3d_gizmo_plugin.cpp
Due: copyright-headers

Separate visual shader code out of shader editor plugin and dialog
  editor/docks/filesystem_dock.cpp
  editor/shader/shader_create_dialog.cpp
  editor/shader/shader_create_dialog.h
  editor/shader/shader_editor_plugin.cpp
  editor/shader/shader_editor_plugin.h
  editor/shader/shader_language_editor_plugin.cpp
  editor/shader/shader_language_editor_plugin.h
  editor/shader/text_shader_language_plugin.cpp
  editor/shader/text_shader_language_plugin.h
  editor/shader/visual_shader_language_plugin.cpp
  editor/shader/visual_shader_language_plugin.h
Due: copyright-headers, header-guards

[4.4] Implement reading UID resource references in VariantParser
  core/io/resource_loader.cpp
  core/variant/variant_parser.cpp
Due: copyright-headers

[4.4] GLTF: Fix nasty bug with incorrect buffer indices
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
Due: copyright-headers, header-guards

Cleanup EditorFIleSystem code
  editor/file_system/editor_file_system.cpp
  editor/file_system/editor_file_system.h
Due: copyright-headers, header-guards

[4.2] Fix incorrect Vulkan include in vulkan_context.h
  drivers/vulkan/vulkan_context.h
Due: copyright-headers, header-guards

Remove FileCache struct
  editor/file_system/editor_file_system.cpp
  editor/file_system/editor_file_system.h
Due: copyright-headers, header-guards

Fix the issue of inheritance
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/features/property_getter_class_inheritance.gd
  modules/gdscript/tests/scripts/analyzer/features/property_getter_class_inheritance.out
  modules/gdscript/tests/scripts/analyzer/features/property_setter_class_inheritance.gd
  modules/gdscript/tests/scripts/analyzer/features/property_setter_class_inheritance.out
Due: copyright-headers

Make `SceneTree` not crash when receiving a notification without a root being set.
  scene/main/scene_tree.cpp
Due: copyright-headers

Use symbols instead of text when possible to shorten PopupMenu shortcut labels
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Due: copyright-headers, header-guards

[4.3] Install older .NET 6 on Linux CI to fix compiling
  .github/workflows/linux_builds.yml
Due: none

[4.3] GLTF: Fix nasty bug with incorrect buffer indices
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
  modules/gltf/structures/gltf_accessor.h
Due: copyright-headers, header-guards

[4.3] Improve editor 2D/3D main screen auto-switching logic
  editor/editor_node.cpp
  editor/editor_node.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/text_editor.h
Due: copyright-headers, header-guards

[4.3] Add `CLIP_SPACE_FAR` built-in to spatial shader
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/material_storage.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/shader_types.cpp
Due: copyright-headers

Fix `WindowUtils::copy_and_rename_pdb` path shortening
  platform/windows/windows_utils.cpp
Due: copyright-headers

Update cached resource instance's data after saving another instance in editor
  core/io/resource_saver.cpp
  core/io/resource_saver.h
  editor/editor_node.cpp
  editor/editor_node.h
Due: copyright-headers, header-guards

[Windows] Use UNC style long paths for network share paths.
  drivers/windows/dir_access_windows.cpp
  drivers/windows/file_access_windows.cpp
  platform/windows/display_server_windows.cpp
  platform/windows/export/export_plugin.cpp
  platform/windows/os_windows.cpp
Due: copyright-headers

Optimize `Resource::set_path()`
  core/io/resource.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
