Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Ensure fog_sky_affect is used even when using a background color
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
Due: copyright-headers

prevent the click to get processed further after a paste action
  modules/gridmap/editor/grid_map_editor_plugin.cpp
Due: copyright-headers

Add `stop_callable` to `AudioStreamPlayerInternal`
  scene/2d/audio_stream_player_2d.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/audio/audio_stream_player.cpp
  scene/audio/audio_stream_player_internal.cpp
  scene/audio/audio_stream_player_internal.h
Due: copyright-headers, header-guards

Ensure selected node is a descendant of the edited scene
  editor/plugins/node_3d_editor_plugin.cpp
Due: copyright-headers

OpenXR: Fix support for building against distro package
  modules/openxr/openxr_interface.cpp
Due: copyright-headers

Add fixed fog to the sky in the Compatibility renderer
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/sky.glsl
  servers/rendering/renderer_rd/shaders/environment/sky.glsl
Due: copyright-headers

Fix uid:// Paths Fail to Load at Editor Startup
  editor/editor_file_system.cpp
Due: copyright-headers

Fix node.duplicate, return nullptr if this operation fails.
  scene/main/node.cpp
Due: copyright-headers

Fix scene node selection problem when no auto expand
  editor/gui/scene_tree_editor.cpp
Due: copyright-headers

Fix eslint .pre-commit-config.yaml by removing commas
  .pre-commit-config.yaml
Due: none

Fix `EditorInterface.get_selected_paths()` working incorrectly when FileSystemDock is in split mode
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Due: copyright-headers, header-guards

Fix Parallax2D repeats being not relative to its transform
  doc/classes/RenderingServer.xml
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.h
  scene/2d/parallax_layer.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
  servers/rendering/renderer_canvas_render.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix Skeleton2D.{_set|_get} always returning true
  scene/2d/skeleton_2d.cpp
  scene/3d/skeleton_3d.cpp
Due: copyright-headers

Fix bone2d scaling
  scene/2d/skeleton_2d.cpp
Due: copyright-headers

Fix no validation on Blender path on importation
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/gltf/editor/editor_scene_importer_blend.h
Due: copyright-headers, header-guards

Fix backspace always unfolding previous line
  scene/gui/code_edit.cpp
  tests/scene/test_code_edit.h
Due: copyright-headers, header-guards

Clear drag preview material on `NOTIFICATION_DRAG_END`
  editor/plugins/node_3d_editor_plugin.cpp
Due: copyright-headers

StringName: Use inline static field definitions
  core/string/string_name.cpp
  core/string/string_name.h
Due: copyright-headers, header-guards

Redraw SubViewportContainer on SubViewport size change
  scene/main/viewport.cpp
Due: copyright-headers

Avoid potential crash on signal disconnection
  core/object/object.cpp
Due: copyright-headers

Use transformed roughness instead of raw roughness to calculate roughness fade in SSR
  servers/rendering/renderer_rd/shaders/effects/screen_space_reflection.glsl
Due: none

Fix virtual binding for `ScriptLanguageExtension::_reload_scripts`
  core/object/script_language_extension.cpp
  doc/classes/ScriptLanguageExtension.xml
Due: make-rst, doc-status, copyright-headers

C#: Fallback to CoreCLR/MonoVM hosting APIs when hostfxr/NativeAOT fails
  editor/export/editor_export_plugin.cpp
  editor/export/editor_export_plugin.h
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Godot.NET.Sdk.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Android.props
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.props
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono.h
  modules/mono/thirdparty/libSystem.Security.Cryptography.Native.Android.jar
  platform/android/export/export_plugin.cpp
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
  platform/android/java/app/src/com/godot/game/GodotApp.java
  platform/android/java/build.gradle
Due: copyright-headers, header-guards

GLTF: Propagate owner for root node children
  modules/gltf/gltf_document.cpp
Due: copyright-headers

Fix MenuBar popup placement assuming it's in viewport default canvas
  scene/gui/menu_bar.cpp
Due: copyright-headers

Fix gizmos without visible geometry not being selectable
  editor/plugins/node_3d_editor_gizmos.cpp
  editor/plugins/node_3d_editor_gizmos.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Fix GLES3 crash with Mesh surface with exactly 65536 vertices
  drivers/gles3/storage/mesh_storage.cpp
Due: copyright-headers

Fallback to theme icon when no custom icon is set in autocompletion
  editor/code_editor.cpp
Due: copyright-headers

Add model_normal_matrix for fragment shader
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Due: none

Fix small graph editor pins at higher display scales
  editor/plugins/visual_shader_editor_plugin.cpp
Due: copyright-headers

Fix display dialog while saving scene
  editor/editor_node.cpp
  editor/editor_node.h
Due: copyright-headers, header-guards

Fix errors about `UndoRedo` history mismatch when deleting bezier track
  editor/animation_bezier_editor.cpp
Due: copyright-headers

Fix huge tscn icon in FileSystem split mode using list view
  editor/filesystem_dock.cpp
Due: copyright-headers

Relax motion vector updates to allow skipped frames for skeletons
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
Due: copyright-headers

Fix double free in FSR2 destructor
  servers/rendering/renderer_rd/effects/fsr2.cpp
Due: copyright-headers

Remember "View Grid" (per-viewport) setting between editor sessions
  editor/plugins/node_3d_editor_plugin.cpp
Due: copyright-headers

Fix drag&drop between window on Windows
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Due: copyright-headers, header-guards

Fix curve2d incorrect sample range description
  doc/classes/Curve2D.xml
Due: make-rst, doc-status

Minor AnimationNodeBlendSpace2D documentation fixes
  doc/classes/AnimationNodeBlendSpace2D.xml
Due: make-rst, doc-status

Fix Vector3 Slerp Normalizing Zero Vectors
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
Due: none
