Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$


CI: Add pre-commit hook for XML schema validation
  .github/workflows/static_checks.yml
  .pre-commit-config.yaml
  misc/scripts/validate_xml.py
Due: none

Fix typos and link tutorial in WebRTCPeerConnection docs
  modules/webrtc/doc_classes/WebRTCPeerConnection.xml
Due: make-rst, doc-status, validate-xml

Use EditorDock for Search Results
  editor/script/find_in_files.cpp
  editor/script/find_in_files.h
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
Due: copyright-headers, header-guards

Prevent shallow scripts from leaking into the `ResourceCache`
  modules/SCsub
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_cache.cpp
  modules/gdscript/gdscript_cache.h
  modules/gdscript/tests/gdscript_test_runner_suite.h
Due: copyright-headers, header-guards

Fix sprite_frames_editor_plugin compilation with deprecated=no
  editor/scene/sprite_frames_editor_plugin.cpp
Due: copyright-headers

Fix loading old-style translation files
  core/string/translation.cpp
Due: copyright-headers

Use new dock system for SpriteFrames Dock
  editor/docks/editor_dock_manager.cpp
  editor/scene/sprite_frames_editor_plugin.cpp
  editor/scene/sprite_frames_editor_plugin.h
Due: copyright-headers, header-guards

Make dock tabs switch on button release
  editor/docks/editor_dock_manager.cpp
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
Due: copyright-headers, header-guards

Fix `ScrollContainer` ignoring internal nodes added externally
  scene/gui/scroll_container.cpp
Due: copyright-headers

Add shortcuts in tooltips to the animation editor's play/pause buttons
  editor/animation/animation_player_editor_plugin.cpp
  editor/animation/animation_player_editor_plugin.h
Due: copyright-headers, header-guards

Fix truncation of node name in bezier animation editor
  editor/animation/animation_bezier_editor.cpp
Due: copyright-headers

Fix radiance/reflection fallback texture types.
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Due: copyright-headers

Fix modifiying shortcuts in project manager causing crash
  editor/settings/editor_settings_dialog.cpp
Due: copyright-headers

Unmark `Node::is_editable_instance()` parameter as required
  scene/main/node.cpp
  scene/main/node.h
Due: copyright-headers, header-guards

Synchronize the names for `RequiredParam<T>` arguments in header files
  core/input/input.h
  core/input/input_map.h
  core/io/resource_saver.h
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/jolt_physics/jolt_physics_server_3d.h
  scene/2d/physics/area_2d.h
  scene/2d/physics/collision_object_2d.h
  scene/2d/physics/physics_body_2d.h
  scene/2d/physics/ray_cast_2d.h
  scene/2d/physics/shape_cast_2d.h
  scene/3d/physics/area_3d.h
  scene/3d/physics/collision_object_3d.h
  scene/3d/physics/physics_body_3d.h
  scene/3d/physics/ray_cast_3d.h
  scene/3d/physics/shape_cast_3d.h
  scene/3d/physics/soft_body_3d.h
  scene/animation/tween.h
  scene/gui/container.h
  scene/gui/control.h
  scene/main/canvas_item.h
  scene/main/node.h
  scene/main/scene_tree.h
  scene/main/viewport.h
  scene/resources/2d/shape_2d.h
  servers/physics_2d/physics_server_2d.h
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_dummy.h
Due: copyright-headers, header-guards

SCons: Remove transitive includes in `libc++`
  SConstruct
  core/typedefs.h
  drivers/metal/metal_objects.h
  thirdparty/README.md
  thirdparty/basis_universal/patches/0006-explicit-includes.patch
  thirdparty/basis_universal/transcoder/basisu_containers_impl.h
  thirdparty/embree/common/sys/vector.h
  thirdparty/embree/common/tasking/taskschedulerinternal.h
  thirdparty/embree/patches/0006-explicit-includes.patch
  thirdparty/jolt_physics/Jolt/Core/Core.h
  thirdparty/mingw-std-threads/mingw.condition_variable.h
  thirdparty/mingw-std-threads/mingw.mutex.h
  thirdparty/mingw-std-threads/patches/0003-explicit-includes.patch
  thirdparty/thorvg/patches/0003-explicit-includes.patch
  thirdparty/thorvg/src/common/tvgCompressor.cpp
  thirdparty/thorvg/src/common/tvgStr.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgUtil.cpp
Due: copyright-headers, header-guards

Fix CreateDialog returning wrong type
  editor/gui/create_dialog.cpp
  editor/scene/scene_create_dialog.cpp
  editor/script/script_create_dialog.cpp
Due: copyright-headers

Removed "None" option in Version Control Editor for issue #113419
  editor/version_control/version_control_editor_plugin.cpp
Due: copyright-headers

Fix miscellaneous oddities around the class reference (part 7)
  doc/classes/Array.xml
  doc/classes/BaseMaterial3D.xml
  doc/classes/CanvasItem.xml
  doc/classes/Dictionary.xml
  doc/classes/DisplayServer.xml
  doc/classes/EditorExportPlatformExtension.xml
  doc/classes/EditorSettings.xml
  doc/classes/FileAccess.xml
  doc/classes/FileDialog.xml
  doc/classes/Font.xml
  doc/classes/GraphEdit.xml
  doc/classes/JSONRPC.xml
  doc/classes/LineEdit.xml
  doc/classes/MenuBar.xml
  doc/classes/Mutex.xml
  doc/classes/NavigationPolygon.xml
  doc/classes/Path3D.xml
  doc/classes/Performance.xml
  doc/classes/PortableCompressedTexture2D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/Range.xml
  doc/classes/RayCast2D.xml
  doc/classes/Resource.xml
  doc/classes/ResourceUID.xml
  doc/classes/Skeleton3D.xml
  doc/classes/SkeletonModifier3D.xml
  doc/classes/SpringArm3D.xml
  doc/classes/String.xml
  doc/classes/StringName.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  doc/classes/Thread.xml
  doc/classes/XRInterfaceExtension.xml
  modules/gltf/doc_classes/GLTFNode.xml
  modules/openxr/doc_classes/OpenXRInterface.xml
  modules/webrtc/doc_classes/WebRTCPeerConnection.xml
  platform/android/doc_classes/EditorExportPlatformAndroid.xml
  platform/web/doc_classes/EditorExportPlatformWeb.xml
Due: make-rst, doc-status, validate-xml

Add `agx_white`, `agx_contrast` and HDR support to the AgX tonemapper.
  doc/classes/Environment.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/effects/post.glsl
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/shaders/sky.glsl
  drivers/gles3/shaders/tonemap_inc.glsl
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/renderer_rd/effects/tone_mapper.cpp
  servers/rendering/renderer_rd/effects/tone_mapper.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
  servers/rendering/renderer_rd/shaders/effects/tonemap_mobile.glsl
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/environment_storage.cpp
  servers/rendering/storage/environment_storage.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix DistractionFreeMode and BottomPanel
  editor/docks/editor_dock_manager.cpp
  editor/gui/editor_bottom_panel.cpp
Due: copyright-headers

Use `GDType` for GDExtension types as well.
  core/extension/gdextension.cpp
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/gdtype.cpp
  core/object/object.cpp
  core/object/object.h
Due: copyright-headers, header-guards

Fix `GridMap` Move Action Undo/Redo/Cancel
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/gridmap/editor/grid_map_editor_plugin.h
Due: copyright-headers, header-guards

Avoid nested parentheses in physical/Unicode InputEventKey text conversion
  core/input/input_event.cpp
  editor/settings/event_listener_line_edit.cpp
  tests/core/input/test_input_event_key.h
Due: copyright-headers, header-guards

added zoom to fit for SpriteFramesEditorPlugin
  editor/scene/sprite_frames_editor_plugin.cpp
  editor/scene/sprite_frames_editor_plugin.h
Due: copyright-headers, header-guards

[FileDialog] Use base dir instead of ".." when going up.
  scene/gui/file_dialog.cpp
Due: copyright-headers

[RTL] Fix relative index getting out of sync.
  scene/gui/rich_text_label.cpp
Due: copyright-headers

X11: Skip Motif function hints when borderless
  platform/linuxbsd/x11/display_server_x11.cpp
Due: copyright-headers

Ensure paths in autoload info
  core/config/project_settings.cpp
  core/config/project_settings.h
  main/main.cpp
Due: copyright-headers, header-guards

Changed `typeof()` example to include `typeof()`
  doc/classes/@GlobalScope.xml
Due: make-rst, doc-status, validate-xml

Fix crash in command_queue_mt due to destruction of wrong object
  core/templates/command_queue_mt.h
Due: copyright-headers, header-guards

Increase PopupMenu vertical separation to improve touch usability
  doc/classes/EditorSettings.xml
  editor/editor_node.cpp
  editor/themes/theme_classic.cpp
  editor/themes/theme_modern.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers

Remove unused code in EditorBottomPanel and remove deprecated bottom panel operation
  editor/gui/editor_bottom_panel.cpp
  editor/gui/editor_bottom_panel.h
  editor/run/editor_run_bar.cpp
  editor/scene/2d/polygon_2d_editor_plugin.h
Due: copyright-headers, header-guards

Make `!configured` checks in `profiling.cpp` soft checks, returning dummies.
  core/profiling/profiling.cpp
Due: copyright-headers

Fix GameStateSnapshots not being freed
  modules/objectdb_profiler/editor/objectdb_profiler_panel.cpp
  modules/objectdb_profiler/editor/objectdb_profiler_panel.h
  modules/objectdb_profiler/editor/snapshot_data.cpp
  modules/objectdb_profiler/editor/snapshot_data.h
Due: copyright-headers, header-guards

GDScript: Ensure correct caching of cyclic references
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_cache.cpp
  modules/gdscript/gdscript_cache.h
Due: copyright-headers, header-guards

Use multiple children for dock SplitContainers
  editor/debugger/script_editor_debugger.cpp
  editor/docks/editor_dock_manager.cpp
  editor/docks/editor_dock_manager.h
  editor/editor_node.cpp
  editor/editor_node.h
Due: copyright-headers, header-guards

[macOS] Fix profiler cleanup.
  platform/macos/godot_main_macos.mm
  platform/macos/os_macos.mm
Due: copyright-headers

[Editor] Fix missing "+" in the bunch of tooltips.
  editor/gui/code_editor.cpp
  editor/run/game_view_plugin.cpp
  editor/scene/2d/path_2d_editor_plugin.cpp
  editor/scene/2d/tiles/tile_map_layer_editor.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/path_3d_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers

Correctly set GDScript internal path for shallow scripts
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_cache.cpp
Due: copyright-headers
