Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Add audio sends
  doc/classes/Area2D.xml
  doc/classes/AudioStreamPlayer.xml
  doc/classes/AudioStreamPlayer2D.xml
  doc/classes/AudioStreamPlayer3D.xml
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/audio_stream_player_2d.h
  scene/2d/physics/area_2d.cpp
  scene/2d/physics/area_2d.h
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/audio_stream_player_3d.h
  scene/audio/audio_stream_player.cpp
  scene/audio/audio_stream_player.h
  scene/audio/audio_stream_player_internal.cpp
  scene/audio/audio_stream_player_internal.h
Due: make-rst, doc-status, copyright-headers, header-guards

fix format
  servers/rendering/renderer_rd/shaders/forward_clustered/integrate_dfg.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
Due: none

Fix missing Vector4(i) and Projection in C# bindings generator
  modules/mono/editor/bindings_generator.cpp
Due: copyright-headers

Implement COMPLETION_DECLARATION and function tooltips
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Due: copyright-headers, header-guards

fix error when packing node in tree with children
  scene/resources/packed_scene.cpp
Due: copyright-headers

Clarify XRController input name corresponds to actions in the action set
  doc/classes/XRController3D.xml
Due: make-rst, doc-status

[DisplayServer] Implement `get_accent_color` on Linux.
  doc/classes/DisplayServer.xml
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/freedesktop_portal_desktop.h
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add p_delta argument to _process_modification() and expose advance()
  doc/classes/Skeleton3D.xml
  doc/classes/SkeletonModifier3D.xml
  misc/extension_api_validation/4.4-stable.expected
  scene/3d/look_at_modifier_3d.cpp
  scene/3d/look_at_modifier_3d.h
  scene/3d/physical_bone_simulator_3d.cpp
  scene/3d/physical_bone_simulator_3d.h
  scene/3d/retarget_modifier_3d.cpp
  scene/3d/retarget_modifier_3d.h
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
  scene/3d/skeleton_ik_3d.cpp
  scene/3d/skeleton_ik_3d.h
  scene/3d/skeleton_modifier_3d.cpp
  scene/3d/skeleton_modifier_3d.h
  scene/3d/spring_bone_simulator_3d.cpp
  scene/3d/spring_bone_simulator_3d.h
  scene/3d/xr/xr_body_modifier_3d.cpp
  scene/3d/xr/xr_body_modifier_3d.h
  scene/3d/xr/xr_hand_modifier_3d.cpp
  scene/3d/xr/xr_hand_modifier_3d.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix "Unicode parsing error" spam when opening editor.
  core/os/keyboard.cpp
Due: copyright-headers

Omit `+` when converting just modifiers to keycodes. Error when trying to convert `Key::NONE` to keycodes.
  core/os/keyboard.cpp
Due: copyright-headers

Add `String::concat` and `string.extend` functions, for string concatenations where the contributors to the final string are well-known at the time of call.
  core/math/aabb.cpp
  core/math/basis.cpp
  core/math/color.cpp
  core/math/face3.cpp
  core/math/plane.cpp
  core/math/projection.cpp
  core/math/quaternion.cpp
  core/math/rect2.cpp
  core/math/rect2i.cpp
  core/math/transform_2d.cpp
  core/math/transform_3d.cpp
  core/math/vector2.cpp
  core/math/vector2i.cpp
  core/math/vector3.cpp
  core/math/vector3i.cpp
  core/math/vector4.cpp
  core/math/vector4i.cpp
  core/string/ustring.h
  core/variant/variant.cpp
Due: copyright-headers, header-guards

Add LOOKUP_RESULT_LAMBDA and lambda function tooltips
  modules/gdscript/editor/gdscript_docgen.cpp
Due: copyright-headers

Add missing Projection constructor with 16 real_t values
  core/math/projection.cpp
  core/math/projection.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Projection.cs
Due: copyright-headers, header-guards

Fix console errors and crash in cleanup code for PhysicalBoneSimulator3D
  scene/3d/physical_bone_simulator_3d.cpp
  scene/3d/physics/physical_bone_3d.cpp
  scene/3d/skeleton_3d.cpp
Due: copyright-headers

Fix `Color` precision error in the documentation generated on M4 macOS.
  core/math/color.cpp
Due: copyright-headers

GDScript: Fix head class range to include `class_name`
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/tests/scripts/lsp/first_line_class_name.gd
  modules/gdscript/tests/test_lsp.h
Due: copyright-headers, header-guards

Use `resize_zeroed` instead of `resize` then `fill(0)` in several places.
  core/io/pck_packer.cpp
  editor/export/editor_export_platform.cpp
  platform/windows/windows_utils.cpp
  scene/resources/surface_tool.cpp
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/shader_rd.cpp
Due: copyright-headers

Bind `SceneState` methods `get_path` and `get_base_scene_state`
  doc/classes/SceneState.xml
  scene/resources/packed_scene.cpp
Due: make-rst, doc-status, copyright-headers

add animation filtering to animation editor
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Due: copyright-headers, header-guards

Replace explicit `Vector::Iterator`, `ConstIterator`, and `LocalVector` iterators with plain pointers.
  core/templates/local_vector.h
  core/templates/vector.h
Due: copyright-headers, header-guards

[Core] Add convenience access to front/back element of `List`
  core/templates/list.h
Due: copyright-headers, header-guards

Subscript cases
  core/debugger/remote_debugger_peer.cpp
  core/io/udp_server.cpp
  editor/debugger/editor_debugger_tree.cpp
  editor/editor_inspector.cpp
  editor/export/project_export.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/scene_import_settings.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  modules/enet/enet_multiplayer_peer.cpp
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/multiplayer/scene_replication_interface.cpp
  modules/websocket/remote_debugger_peer_websocket.cpp
  scene/2d/animated_sprite_2d.cpp
  scene/3d/sprite_3d.cpp
  scene/debugger/scene_debugger.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_physicalbones.cpp
  servers/rendering/renderer_viewport.cpp
  tests/core/object/test_object.h
  tests/core/variant/test_dictionary.h
Due: copyright-headers, header-guards

Apply `pre-commit` changes
  editor/gui/touch_actions_panel.h
  editor/icons/DragHandle.svg
  editor/icons/Orientation.svg
  editor/icons/Redo.svg
Due: svgo, copyright-headers, header-guards

Focus `Don't Save` in `Reload Saved Scene` and don't save unmodified scenes
  editor/editor_node.cpp
  editor/editor_node.h
Due: copyright-headers, header-guards

Adjust perspective camera gizmo with respect to `keep_aspect` setting
  editor/plugins/gizmos/camera_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/camera_3d_gizmo_plugin.h
Due: copyright-headers, header-guards

Fix crash with SDFGI when zfar is very large
  servers/rendering/renderer_rd/shaders/environment/gi.glsl
Due: none

Remove the need to restart editor when modifying `3D Gizmos` settings
  editor/editor_settings.cpp
  editor/plugins/gizmos/audio_stream_player_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/audio_stream_player_3d_gizmo_plugin.h
  editor/plugins/gizmos/camera_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/camera_3d_gizmo_plugin.h
  editor/plugins/gizmos/cpu_particles_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/cpu_particles_3d_gizmo_plugin.h
  editor/plugins/gizmos/decal_gizmo_plugin.cpp
  editor/plugins/gizmos/decal_gizmo_plugin.h
  editor/plugins/gizmos/fog_volume_gizmo_plugin.cpp
  editor/plugins/gizmos/fog_volume_gizmo_plugin.h
  editor/plugins/gizmos/gpu_particles_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/gpu_particles_3d_gizmo_plugin.h
  editor/plugins/gizmos/gpu_particles_collision_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/gpu_particles_collision_3d_gizmo_plugin.h
  editor/plugins/gizmos/joint_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/joint_3d_gizmo_plugin.h
  editor/plugins/gizmos/lightmap_gi_gizmo_plugin.cpp
  editor/plugins/gizmos/lightmap_gi_gizmo_plugin.h
  editor/plugins/gizmos/lightmap_probe_gizmo_plugin.cpp
  editor/plugins/gizmos/lightmap_probe_gizmo_plugin.h
  editor/plugins/gizmos/occluder_instance_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/occluder_instance_3d_gizmo_plugin.h
  editor/plugins/gizmos/particles_3d_emission_shape_gizmo_plugin.cpp
  editor/plugins/gizmos/particles_3d_emission_shape_gizmo_plugin.h
  editor/plugins/gizmos/reflection_probe_gizmo_plugin.cpp
  editor/plugins/gizmos/reflection_probe_gizmo_plugin.h
  editor/plugins/gizmos/visible_on_screen_notifier_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/visible_on_screen_notifier_3d_gizmo_plugin.h
  editor/plugins/gizmos/voxel_gi_gizmo_plugin.cpp
  editor/plugins/gizmos/voxel_gi_gizmo_plugin.h
  editor/plugins/node_3d_editor_gizmos.h
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
  modules/csg/editor/csg_gizmos.cpp
  modules/csg/editor/csg_gizmos.h
Due: copyright-headers, header-guards

Add `Memory::alloc_static_zeroed` to allocate memory that's filled with zeroes. This is generally faster than `malloc` followed by `memset`.
  core/os/memory.cpp
  core/os/memory.h
Due: copyright-headers, header-guards

[RTL] Fix custom effects not updating.
  doc/classes/RichTextLabel.xml
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Due: make-rst, doc-status, copyright-headers, header-guards

Rename Select Mode to Transform Mode, and create a new Select Mode without transform gizmo
  editor/icons/ToolTransform.svg
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Due: svgo, copyright-headers, header-guards

Add a volumetric fog toggle to the editor environment preview
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  scene/3d/fog_volume.cpp
Due: copyright-headers, header-guards

Document using negative indices in OptionButton's `set_item_*()` methods
  doc/classes/OptionButton.xml
Due: make-rst, doc-status

Document saving and loading JSON from/to the filesystem in JSON class example
  doc/classes/JSON.xml
Due: make-rst, doc-status

Remove TOOLS_ENABLED checks from editor/
  editor/editor_interface.cpp
  editor/editor_interface.h
  editor/editor_settings.cpp
  editor/editor_settings.h
  editor/import/resource_importer_texture.cpp
  editor/plugins/camera_2d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  modules/csg/editor/csg_gizmos.cpp
  modules/csg/editor/csg_gizmos.h
  modules/fbx/editor/editor_scene_importer_fbx2gltf.cpp
  modules/fbx/editor/editor_scene_importer_fbx2gltf.h
  modules/fbx/editor/editor_scene_importer_ufbx.cpp
  modules/fbx/editor/editor_scene_importer_ufbx.h
  modules/gltf/editor/editor_import_blend_runner.cpp
  modules/gltf/editor/editor_import_blend_runner.h
  modules/gltf/editor/editor_scene_exporter_gltf_plugin.cpp
  modules/gltf/editor/editor_scene_exporter_gltf_plugin.h
  modules/gltf/editor/editor_scene_exporter_gltf_settings.h
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/gltf/editor/editor_scene_importer_blend.h
  modules/gltf/editor/editor_scene_importer_gltf.cpp
  modules/gltf/editor/editor_scene_importer_gltf.h
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/gridmap/editor/grid_map_editor_plugin.h
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/mono/editor/editor_internal_calls.cpp
  modules/navigation/editor/navigation_mesh_editor_plugin.cpp
  modules/navigation/editor/navigation_mesh_editor_plugin.h
  modules/noise/SCsub
  modules/noise/editor/noise_editor_plugin.cpp
  modules/noise/editor/noise_editor_plugin.h
  modules/websocket/editor/editor_debugger_server_websocket.cpp
  modules/websocket/editor/editor_debugger_server_websocket.h
Due: copyright-headers, header-guards
