Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

factor out common SourceGenerator target
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.Implementation.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.targets
Due: none

Expose `LineEdit` `edit` and `unedit` methods.
  doc/classes/LineEdit.xml
  editor/code_editor.cpp
  scene/gui/color_picker.cpp
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
Due: make-rst, doc-status, copyright-headers, header-guards

[iOS] Add support for dark and tinted icon versions.
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
  platform/ios/export/export_plugin.cpp
Due: make-rst, doc-status, copyright-headers

[GraphEdit] Only print warning for connection layer deletion when justified
  scene/gui/graph_edit.cpp
Due: copyright-headers

[Core] Add convenience access to front/back element of `List`
  core/templates/list.h
Due: copyright-headers, header-guards

Subscript cases
  core/debugger/remote_debugger_peer.cpp
  core/io/udp_server.cpp
  editor/debugger/editor_debugger_tree.cpp
  editor/editor_inspector.cpp
  editor/export/project_export.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/scene_import_settings.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  modules/enet/enet_multiplayer_peer.cpp
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/multiplayer/scene_replication_interface.cpp
  modules/websocket/remote_debugger_peer_websocket.cpp
  scene/2d/animated_sprite_2d.cpp
  scene/3d/sprite_3d.cpp
  scene/debugger/scene_debugger.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_physicalbones.cpp
  servers/rendering/renderer_viewport.cpp
  tests/core/object/test_object.h
  tests/core/variant/test_dictionary.h
Due: copyright-headers, header-guards

Add a focus border on `ScrollContainer`
  doc/classes/EditorInspector.xml
  doc/classes/ScrollContainer.xml
  editor/editor_inspector.cpp
  editor/editor_properties.cpp
  editor/themes/editor_theme_manager.cpp
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
  scene/theme/default_theme.cpp
  tests/scene/test_control.h
Due: make-rst, doc-status, copyright-headers, header-guards

Improving detection of ccache on Mac
  platform/macos/detect.py
Due: none

Make module dependency check recursive
  SConstruct
  methods.py
Due: none

Configure MSAA properly in canvas renderer's pipelines.
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Due: copyright-headers

Don't rescan filesystem when duplicating
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/filesystem_dock.cpp
Due: copyright-headers, header-guards

Make the "Quick Open" dialog available via EditorInterface
  doc/classes/EditorInterface.xml
  editor/editor_interface.cpp
  editor/editor_interface.h
Due: make-rst, doc-status, copyright-headers, header-guards

Windows - display every log message in Visual Studio Output windows via OutputDebugString. Removed WINDOWS_DEBUG_OUTPUT_ENABLED mechanism which only shows errors and warnings.
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/windows/windows_terminal_logger.cpp
Due: copyright-headers, header-guards

Editor without title bar
  doc/classes/DisplayServer.xml
  doc/classes/EditorSettings.xml
  doc/classes/ProjectSettings.xml
  doc/classes/Window.xml
  editor/editor_node.cpp
  editor/icons/WindowClose.svg
  editor/icons/WindowMaximize.svg
  editor/icons/WindowMinimize.svg
  editor/icons/WindowRestore.svg
  editor/project_manager.cpp
  editor/themes/editor_theme_manager.cpp
  main/main.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/main/window.cpp
  scene/main/window.h
  scene/theme/default_theme.cpp
  scene/theme/icons/maximize.svg
  scene/theme/icons/maximize_disabled.svg
  scene/theme/icons/maximize_hl.svg
  scene/theme/icons/minimize.svg
  scene/theme/icons/minimize_hl.svg
  scene/theme/icons/restore.svg
  scene/theme/icons/restore_hl.svg
  servers/display_server.h
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Fix AudioStreamPlayer.get_playback_position() always returning 0 when using AudioStreamInteractive
  modules/interactive_music/audio_stream_interactive.cpp
Due: copyright-headers

Store and display custom Git branch name in version information
  core/SCsub
  core/config/engine.cpp
  core/version.h
  doc/classes/Engine.xml
  editor/editor_about.cpp
  editor/gui/editor_version_button.cpp
  editor/gui/editor_version_button.h
  main/main.cpp
  methods.py
Due: make-rst, doc-status, copyright-headers, header-guards

Partially revert 96780, remove warnings from project/editor settings `_get`.
  core/config/project_settings.cpp
  core/io/resource_format_binary.cpp
  editor/editor_settings.cpp
  scene/resources/resource_format_text.cpp
Due: copyright-headers

Use LocalVector in Array
  core/variant/array.cpp
Due: copyright-headers

potential fix to my tests
  tests/scene/test_reflection_probe.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

OpenXR: Add support for Wayland on Linux
  .github/workflows/linux_builds.yml
  doc/classes/DisplayServer.xml
  drivers/egl/egl_manager.cpp
  drivers/egl/egl_manager.h
  modules/openxr/SCsub
  modules/openxr/extensions/platform/openxr_opengl_extension.cpp
  modules/openxr/extensions/platform/openxr_opengl_extension.h
  modules/openxr/openxr_platform_inc.h
  platform/android/display_server_android.cpp
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  servers/display_server.cpp
  servers/display_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

allow using implementations only without running the generators + allow passing revised compilations
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/ScriptSerializationGeneratorTests.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/ScriptSignalsGeneratorTests.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ExtensionMethods.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/GeneratorExecutionContext.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Generators/GodotPluginsInitializerGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Generators/ScriptMethodsGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Generators/ScriptPathAttributeGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Generators/ScriptPropertiesGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Generators/ScriptPropertyDefValGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Generators/ScriptRegistrarGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Generators/ScriptSerializationGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Generators/ScriptSignalsGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.Implementation.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/GodotPluginsInitializerGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/IGeneratorExecutionContext.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPathAttributeGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPathAttributeGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertyDefValGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptRegistrarGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSerializationGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSignalsGeneratorImplementation.cs
Due: none

Fix most of `TextEdit` visual issues.
  doc/classes/TextEdit.xml
  scene/gui/code_edit.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  tests/scene/test_text_edit.h
Due: make-rst, doc-status, copyright-headers, header-guards

package props file properly
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.Implementation.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.targets
Due: none

cccc
  core/variant/dictionary.cpp
  core/variant/variant_call.cpp
  modules/game_help/logic/body_main.cpp
  scene/3d/human_anim/human.cpp
  scene/3d/human_anim/human.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
Due: copyright-headers, header-guards

add generatorinvoker
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/IGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Implementations/GeneratorInvoker.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPathAttributeGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertyDefValGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptRegistrarGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSerializationGeneratorImplementation.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSignalsGeneratorImplementation.cs
Due: none

3334444
  modules/game_help/logic/body_main.cpp
  scene/3d/human_anim/human.cpp
  scene/3d/human_anim/human.h
Due: copyright-headers, header-guards

2D: Combine texture state to batch more subsequent commands together
  drivers/metal/metal_objects.mm
  drivers/metal/rendering_device_driver_metal.mm
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
  servers/rendering/renderer_rd/shaders/canvas.glsl
  servers/rendering/renderer_rd/shaders/canvas_uniforms_inc.glsl
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.h
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_compiler.h
Due: copyright-headers, header-guards

ccccc
  modules/game_help/logic/body_main.cpp
  scene/3d/human_anim/human.cpp
Due: copyright-headers

Fix quick open background panel style
  editor/gui/editor_quick_open_dialog.cpp
Due: copyright-headers

Add _resource_changed() helper method to EditorResourcePicker
  editor/editor_resource_picker.cpp
  editor/editor_resource_picker.h
Due: copyright-headers, header-guards

Unify particle editors
  doc/classes/CPUParticles3D.xml
  editor/editor_node.cpp
  editor/plugins/cpu_particles_2d_editor_plugin.cpp
  editor/plugins/cpu_particles_2d_editor_plugin.h
  editor/plugins/cpu_particles_3d_editor_plugin.cpp
  editor/plugins/cpu_particles_3d_editor_plugin.h
  editor/plugins/gpu_particles_2d_editor_plugin.cpp
  editor/plugins/gpu_particles_2d_editor_plugin.h
  editor/plugins/gpu_particles_3d_editor_plugin.cpp
  editor/plugins/gpu_particles_3d_editor_plugin.h
  editor/plugins/particles_editor_plugin.cpp
  editor/plugins/particles_editor_plugin.h
  editor/register_editor_types.cpp
  scene/3d/cpu_particles_3d.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Optimize FileSystem Dock filtering
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Due: copyright-headers, header-guards

Fix implementation of property_can_revert() in various classes
  core/config/project_settings.cpp
  editor/editor_settings.cpp
  editor/multi_node_edit.cpp
  editor/plugins/font_config_plugin.cpp
  scene/3d/node_3d.cpp
  scene/resources/material.cpp
Due: copyright-headers

Use collision detection ray to reposition an object already in the scene
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Fix 3D HDR texture import with lossless compression
  editor/import/resource_importer_layered_texture.cpp
  editor/import/resource_importer_texture.cpp
Due: copyright-headers

Allow seconds snapping to use minimum intervals of 0.0001 once more
  editor/animation_track_editor.cpp
Due: copyright-headers

New icon
  icon.svg
  icon_outlined.png
  icon_outlined.svg
  logo.png
  logo.svg
  logo_outlined.png
  logo_outlined.svg
Due: svgo

Support output to HDR monitors
  core/config/project_settings.cpp
  doc/classes/DisplayServer.xml
  doc/classes/ProjectSettings.xml
  drivers/d3d12/rendering_context_driver_d3d12.cpp
  drivers/d3d12/rendering_context_driver_d3d12.h
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/metal/rendering_context_driver_metal.h
  drivers/metal/rendering_context_driver_metal.mm
  drivers/metal/rendering_device_driver_metal.h
  drivers/metal/rendering_device_driver_metal.mm
  drivers/vulkan/rendering_context_driver_vulkan.cpp
  drivers/vulkan/rendering_context_driver_vulkan.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  editor/editor_node.cpp
  main/main.cpp
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  servers/display_server.cpp
  servers/display_server.h
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/renderer_rd/renderer_compositor_rd.h
  servers/rendering/renderer_rd/shaders/blit.glsl
  servers/rendering/renderer_rd/shaders/canvas.glsl
  servers/rendering/renderer_rd/shaders/color_space_inc.glsl
  servers/rendering/renderer_rd/shaders/effects/copy_to_fb.glsl
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
  servers/rendering/renderer_rd/shaders/environment/sdfgi_debug.glsl
  servers/rendering/rendering_context_driver.cpp
  servers/rendering/rendering_context_driver.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_commons.h
  servers/rendering/rendering_device_driver.h
Due: make-rst, doc-status, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
