Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Remove redundant `queue_redraw()` & fix typo
  core/io/image.h
  modules/jpg/image_loader_libjpeg_turbo.cpp
  scene/gui/line_edit.cpp
Due: copyright-headers, header-guards

Code style update
  editor/animation_preview.cpp
  editor/animation_preview.h
  editor/animation_track_editor.cpp
  editor/animation_track_editor_plugins.cpp
  editor/animation_track_editor_plugins.h
  editor/audio_stream_preview.cpp
  editor/audio_stream_preview.h
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
  scene/resources/animation.cpp
Due: copyright-headers, header-guards

Fix transparency background issue on Android
  doc/classes/DisplayServer.xml
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/android/java/app/res/values/themes.xml
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java/editor/src/main/res/values/themes.xml
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotGLRenderView.java
  platform/android/java/lib/src/org/godotengine/godot/GodotVulkanRenderView.java
Due: make-rst, doc-status, copyright-headers, header-guards

Animation
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
  editor/editor_node.cpp
  editor/gui/scene_tree_editor.cpp
  editor/plugins/animation/SCsub
  editor/plugins/animation/animation_blend_space_1d_editor.cpp
  editor/plugins/animation/animation_blend_space_1d_editor.h
  editor/plugins/animation/animation_blend_space_2d_editor.cpp
  editor/plugins/animation/animation_blend_space_2d_editor.h
  editor/plugins/animation/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation/animation_blend_tree_editor_plugin.h
  editor/plugins/animation/animation_library_editor.cpp
  editor/plugins/animation/animation_library_editor.h
  editor/plugins/animation/animation_player_editor_plugin.cpp
  editor/plugins/animation/animation_player_editor_plugin.h
  editor/plugins/animation/animation_state_machine_editor.cpp
  editor/plugins/animation/animation_state_machine_editor.h
  editor/plugins/animation/animation_tree_editor_plugin.cpp
  editor/plugins/animation/animation_tree_editor_plugin.h
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/register_editor_types.cpp
  editor/scene_tree_dock.cpp
  scu_builders.py
Due: copyright-headers, header-guards

Shaders
  editor/editor_node.cpp
  editor/import/resource_importer_shader_file.cpp
  editor/plugins/SCsub
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/shader/SCsub
  editor/plugins/shader/shader_editor_plugin.cpp
  editor/plugins/shader/shader_editor_plugin.h
  editor/plugins/shader/shader_file_editor_plugin.cpp
  editor/plugins/shader/shader_file_editor_plugin.h
  editor/plugins/shader/text_shader_editor.cpp
  editor/plugins/shader/text_shader_editor.h
  editor/plugins/shader/visual_shader_editor_plugin.cpp
  editor/plugins/shader/visual_shader_editor_plugin.h
  editor/register_editor_types.cpp
  scu_builders.py
Due: copyright-headers, header-guards

2D
  editor/plugins/2d/SCsub
  editor/plugins/2d/abstract_polygon_2d_editor.cpp
  editor/plugins/2d/abstract_polygon_2d_editor.h
  editor/plugins/2d/camera_2d_editor_plugin.cpp
  editor/plugins/2d/camera_2d_editor_plugin.h
  editor/plugins/2d/light_occluder_2d_editor_plugin.cpp
  editor/plugins/2d/light_occluder_2d_editor_plugin.h
  editor/plugins/2d/line_2d_editor_plugin.cpp
  editor/plugins/2d/line_2d_editor_plugin.h
  editor/plugins/2d/parallax_background_editor_plugin.cpp
  editor/plugins/2d/parallax_background_editor_plugin.h
  editor/plugins/2d/path_2d_editor_plugin.cpp
  editor/plugins/2d/path_2d_editor_plugin.h
  editor/plugins/2d/physics/SCsub
  editor/plugins/2d/physics/cast_2d_editor_plugin.cpp
  editor/plugins/2d/physics/cast_2d_editor_plugin.h
  editor/plugins/2d/physics/collision_polygon_2d_editor_plugin.cpp
  editor/plugins/2d/physics/collision_polygon_2d_editor_plugin.h
  editor/plugins/2d/physics/collision_shape_2d_editor_plugin.cpp
  editor/plugins/2d/physics/collision_shape_2d_editor_plugin.h
  editor/plugins/2d/polygon_2d_editor_plugin.cpp
  editor/plugins/2d/polygon_2d_editor_plugin.h
  editor/plugins/2d/skeleton_2d_editor_plugin.cpp
  editor/plugins/2d/skeleton_2d_editor_plugin.h
  editor/plugins/2d/sprite_2d_editor_plugin.cpp
  editor/plugins/2d/sprite_2d_editor_plugin.h
  editor/plugins/SCsub
  editor/register_editor_types.cpp
  modules/navigation_2d/editor/navigation_obstacle_2d_editor_plugin.h
  modules/navigation_2d/editor/navigation_region_2d_editor_plugin.h
  scu_builders.py
Due: copyright-headers, header-guards

Script
  editor/animation_track_editor.cpp
  editor/code_editor.cpp
  editor/connections_dialog.cpp
  editor/debugger/debug_adapter/debug_adapter_parser.cpp
  editor/debugger/editor_debugger_node.cpp
  editor/editor_file_system.cpp
  editor/editor_help.cpp
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/editor_resource_picker.cpp
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform_apple_embedded.cpp
  editor/filesystem_dock.h
  editor/gui/scene_tree_editor.cpp
  editor/inspector_dock.cpp
  editor/plugins/SCsub
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/debugger_editor_plugin.cpp
  editor/plugins/editor_plugin.cpp
  editor/plugins/script/SCsub
  editor/plugins/script/editor_script_plugin.cpp
  editor/plugins/script/editor_script_plugin.h
  editor/plugins/script/script_editor_plugin.cpp
  editor/plugins/script/script_editor_plugin.h
  editor/plugins/script/script_text_editor.cpp
  editor/plugins/script/script_text_editor.h
  editor/plugins/text_editor.h
  editor/plugins/version_control_editor_plugin.cpp
  editor/register_editor_types.cpp
  editor/rename_dialog.cpp
  editor/scene_tree_dock.cpp
  modules/gdscript/editor/gdscript_highlighter.h
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/mono/editor/editor_internal_calls.cpp
Due: copyright-headers, header-guards

Animation 2
  editor/SCsub
  editor/animation/SCsub
  editor/animation/animation_bezier_editor.cpp
  editor/animation/animation_bezier_editor.h
  editor/animation/animation_track_editor.cpp
  editor/animation/animation_track_editor.h
  editor/animation/animation_track_editor_plugins.cpp
  editor/animation/animation_track_editor_plugins.h
  editor/plugins/animation/animation_player_editor_plugin.h
  scu_builders.py
Due: copyright-headers, header-guards

Translation
  editor/SCsub
  editor/editor_help.cpp
  editor/editor_node.cpp
  editor/editor_settings.cpp
  editor/import/dynamic_font_import_settings.cpp
  editor/inspector/editor_properties_array_dict.h
  editor/plugins/editor_plugin.cpp
  editor/plugins/packed_scene_translation_parser_plugin.h
  editor/project_settings_editor.h
  editor/register_editor_types.cpp
  editor/translations/SCsub
  editor/translations/editor_locale_dialog.cpp
  editor/translations/editor_locale_dialog.h
  editor/translations/editor_translation.cpp
  editor/translations/editor_translation.h
  editor/translations/editor_translation_parser.cpp
  editor/translations/editor_translation_parser.h
  editor/translations/localization_editor.cpp
  editor/translations/localization_editor.h
  editor/translations/pot_generator.cpp
  editor/translations/pot_generator.h
  main/main.cpp
  modules/gdscript/editor/gdscript_translation_parser_plugin.h
  modules/gdscript/register_types.cpp
  scu_builders.py
Due: copyright-headers, header-guards

Import
  editor/editor_node.cpp
  editor/import/editor_atlas_packer.cpp
  editor/import/editor_atlas_packer.h
  editor/import/fbx_importer_manager.cpp
  editor/import/fbx_importer_manager.h
  editor/import/import_defaults_editor.cpp
  editor/import/import_defaults_editor.h
  editor/import/resource_importer_texture_atlas.cpp
  editor/project_settings_editor.h
Due: copyright-headers, header-guards

Documentation
  core/extension/extension_api_dump.cpp
  editor/SCsub
  editor/connections_dialog.cpp
  editor/create_dialog.h
  editor/doc/SCsub
  editor/doc/doc_tools.cpp
  editor/doc/doc_tools.h
  editor/doc/editor_help.cpp
  editor/doc/editor_help.h
  editor/doc/editor_help_search.cpp
  editor/doc/editor_help_search.h
  editor/editor_build_profile.h
  editor/editor_feature_profile.h
  editor/editor_file_system.cpp
  editor/editor_node.cpp
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_resource_picker.cpp
  editor/inspector/property_selector.cpp
  editor/plugins/script/script_editor_plugin.cpp
  editor/plugins/script/script_text_editor.cpp
  editor/plugins/theme_editor_plugin.cpp
  main/main.cpp
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/tests/test_lsp.h
  modules/mono/editor/bindings_generator.h
  scene/resources/shader.cpp
  scu_builders.py
Due: copyright-headers, header-guards

Shaders 2
  editor/SCsub
  editor/docks/filesystem_dock.cpp
  editor/docks/scene_tree_dock.cpp
  editor/editor_node.cpp
  editor/plugins/shader/shader_editor_plugin.cpp
  editor/settings/project_settings_editor.h
  editor/shader/SCsub
  editor/shader/editor_native_shader_source_visualizer.cpp
  editor/shader/editor_native_shader_source_visualizer.h
  editor/shader/shader_create_dialog.cpp
  editor/shader/shader_create_dialog.h
  editor/shader/shader_globals_editor.cpp
  editor/shader/shader_globals_editor.h
  scu_builders.py
Due: copyright-headers, header-guards

Project manager
  editor/project_manager/engine_update_label.cpp
  editor/project_manager/engine_update_label.h
  editor/project_manager/project_list.cpp
  editor/project_manager/project_manager.cpp
  editor/project_manager/project_manager.h
  editor/settings/editor_settings.cpp
  main/main.cpp
Due: copyright-headers, header-guards

Scene
  editor/SCsub
  editor/animation/animation_track_editor.cpp
  editor/docks/filesystem_dock.cpp
  editor/docks/node_dock.cpp
  editor/docks/scene_tree_dock.cpp
  editor/docks/scene_tree_dock.h
  editor/editor_interface.cpp
  editor/editor_node.cpp
  editor/editor_script.cpp
  editor/inspector/editor_properties.cpp
  editor/plugins/3d/multimesh_editor_plugin.cpp
  editor/project_upgrade_tool.cpp
  editor/scene/SCsub
  editor/scene/connections_dialog.cpp
  editor/scene/connections_dialog.h
  editor/scene/editor_scene_tabs.cpp
  editor/scene/editor_scene_tabs.h
  editor/scene/group_settings_editor.cpp
  editor/scene/group_settings_editor.h
  editor/scene/rename_dialog.cpp
  editor/scene/rename_dialog.h
  editor/scene/reparent_dialog.cpp
  editor/scene/reparent_dialog.h
  editor/scene/scene_create_dialog.cpp
  editor/scene/scene_create_dialog.h
  editor/scene/scene_tree_editor.cpp
  editor/scene/scene_tree_editor.h
  editor/settings/project_settings_editor.h
  modules/multiplayer/editor/replication_editor.cpp
  scu_builders.py
Due: copyright-headers, header-guards

Run
  editor/SCsub
  editor/debugger/debug_adapter/debug_adapter_parser.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_visual_profiler.cpp
  editor/editor_interface.cpp
  editor/editor_node.cpp
  editor/plugins/3d/node_3d_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/debugger_editor_plugin.cpp
  editor/plugins/game_view_plugin.cpp
  editor/plugins/script/script_editor_plugin.cpp
  editor/run/SCsub
  editor/run/editor_run.cpp
  editor/run/editor_run.h
  editor/run/editor_run_bar.cpp
  editor/run/editor_run_bar.h
  editor/run/editor_run_native.cpp
  editor/run/editor_run_native.h
  editor/run/run_instances_dialog.cpp
  editor/run/run_instances_dialog.h
  editor/scene/editor_scene_tabs.cpp
  modules/mono/editor/editor_internal_calls.cpp
  modules/multiplayer/editor/editor_network_profiler.cpp
  scu_builders.py
Due: copyright-headers, header-guards

Script 2
  editor/SCsub
  editor/docks/filesystem_dock.h
  editor/docks/scene_tree_dock.h
  editor/editor_node.cpp
  editor/gui/code_editor.cpp
  editor/gui/code_editor.h
  editor/plugins/script/editor_script_plugin.cpp
  editor/plugins/script/script_editor_plugin.cpp
  editor/plugins/script/script_text_editor.h
  editor/plugins/shader/text_shader_editor.h
  editor/plugins/text_editor.h
  editor/register_editor_types.cpp
  editor/script/SCsub
  editor/script/editor_script.cpp
  editor/script/editor_script.h
  editor/script/find_in_files.cpp
  editor/script/find_in_files.h
  editor/script/script_create_dialog.cpp
  editor/script/script_create_dialog.h
  scu_builders.py
Due: copyright-headers, header-guards

Project Upgrade
  editor/SCsub
  editor/editor_node.cpp
  editor/project_upgrade/SCsub
  editor/project_upgrade/project_converter_3_to_4.cpp
  editor/project_upgrade/project_converter_3_to_4.h
  editor/project_upgrade/project_upgrade_tool.cpp
  editor/project_upgrade/project_upgrade_tool.h
  editor/project_upgrade/renames_map_3_to_4.cpp
  editor/project_upgrade/renames_map_3_to_4.h
  main/main.cpp
  modules/gdscript/gdscript_analyzer.cpp
  scu_builders.py
Due: copyright-headers, header-guards

Gui
  editor/docks/filesystem_dock.cpp
  editor/docks/inspector_dock.h
  editor/editor_asset_installer.cpp
  editor/editor_interface.cpp
  editor/editor_node.cpp
  editor/export/export_template_manager.cpp
  editor/gui/create_dialog.cpp
  editor/gui/create_dialog.h
  editor/gui/directory_create_dialog.cpp
  editor/gui/directory_create_dialog.h
  editor/gui/editor_about.cpp
  editor/gui/editor_about.h
  editor/gui/editor_dir_dialog.cpp
  editor/gui/progress_dialog.cpp
  editor/gui/progress_dialog.h
  editor/inspector/editor_properties.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/project_manager/project_manager.cpp
  editor/scene/scene_create_dialog.cpp
  editor/script/script_create_dialog.cpp
  editor/window_wrapper.cpp
  main/main.cpp
  modules/openxr/editor/openxr_binding_modifiers_dialog.h
Due: copyright-headers, header-guards

Export
  editor/SCsub
  editor/editor_node.cpp
  editor/export/register_exporters.h
  editor/register_editor_types.cpp
Due: copyright-headers, header-guards

Textures
  editor/plugins/3d/camera_3d_editor_plugin.h
  editor/plugins/SCsub
  editor/plugins/sub_viewport_preview_editor_plugin.h
  editor/plugins/texture/SCsub
  editor/plugins/texture/color_channel_selector.cpp
  editor/plugins/texture/color_channel_selector.h
  editor/plugins/texture/gradient_texture_2d_editor_plugin.cpp
  editor/plugins/texture/gradient_texture_2d_editor_plugin.h
  editor/plugins/texture/texture_3d_editor_plugin.cpp
  editor/plugins/texture/texture_3d_editor_plugin.h
  editor/plugins/texture/texture_editor_plugin.cpp
  editor/plugins/texture/texture_editor_plugin.h
  editor/plugins/texture/texture_layered_editor_plugin.cpp
  editor/plugins/texture/texture_layered_editor_plugin.h
  editor/plugins/texture/texture_region_editor_plugin.cpp
  editor/plugins/texture/texture_region_editor_plugin.h
  editor/register_editor_types.cpp
  scu_builders.py
Due: copyright-headers, header-guards

Theme
  editor/plugins/SCsub
  editor/plugins/theme/SCsub
  editor/plugins/theme/theme_editor_plugin.cpp
  editor/plugins/theme/theme_editor_plugin.h
  editor/plugins/theme/theme_editor_preview.cpp
  editor/plugins/theme/theme_editor_preview.h
  editor/register_editor_types.cpp
Due: copyright-headers, header-guards

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Gui 2
  editor/plugins/SCsub
  editor/plugins/gui/SCsub
  editor/plugins/gui/control_editor_plugin.cpp
  editor/plugins/gui/control_editor_plugin.h
  editor/plugins/gui/font_config_plugin.cpp
  editor/plugins/gui/font_config_plugin.h
  editor/plugins/gui/style_box_editor_plugin.cpp
  editor/plugins/gui/style_box_editor_plugin.h
  editor/register_editor_types.cpp
  scene/gui/control.cpp
  scu_builders.py
Due: copyright-headers, header-guards

Fix docgen showing wrong parent class in some situations
  modules/gdscript/editor/gdscript_docgen.cpp
Due: copyright-headers

Editor: Add ability to rename theme types
  doc/classes/Theme.xml
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.h
  scene/resources/theme.cpp
  scene/resources/theme.h
Due: make-rst, doc-status, copyright-headers, header-guards

Mobile: Fix lightmap instances count
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Due: copyright-headers

Fix Run Instances window being too big
  editor/run_instances_dialog.cpp
Due: copyright-headers

Add `white` and `contrast` parameters to the AgX tonemapper.
  doc/classes/Environment.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/effects/post.glsl
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/shaders/sky.glsl
  drivers/gles3/shaders/tonemap_inc.glsl
  misc/extension_api_validation/4.4-stable.expected
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/renderer_rd/effects/tone_mapper.cpp
  servers/rendering/renderer_rd/effects/tone_mapper.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/environment_storage.cpp
  servers/rendering/storage/environment_storage.h
  servers/rendering_server.compat.inc
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Change the order of applying damp to a RigidBody2D in 2D physics
  modules/godot_physics_2d/godot_body_2d.cpp
Due: copyright-headers

[macOS] Fix borderless window maximization.
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/godot_window_delegate.mm
Due: copyright-headers, header-guards

Add `Show Modified` button to Project/Editor settings
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_sectioned_inspector.cpp
  editor/editor_sectioned_inspector.h
  editor/editor_settings_dialog.cpp
  editor/editor_settings_dialog.h
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
Due: copyright-headers, header-guards

Adds ability to specify whether to Run on Separate Thread for editor
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix alphabetical order of codespell ignore list
  pyproject.toml
Due: none

Improve auto-translatio of Script Editor
  core/input/input_map.cpp
  editor/code_editor.cpp
  editor/debugger/editor_debugger_node.cpp
  editor/editor_help.cpp
  editor/editor_help.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
Due: copyright-headers, header-guards

Reorganize scroll and zoom elements in the audio import dialog
  editor/import/audio_stream_import_settings.cpp
  editor/import/audio_stream_import_settings.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
