Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Backport 65910 for Godot 3
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
Due: copyright-headers, header-guards

Document radial_center_offset bounds
  doc/classes/TextureProgress.xml
Due: make-rst, doc-status

Physics Interpolation - fix client interpolation pump
  scene/main/scene_tree.cpp
Due: copyright-headers

Enable builds with miniupnpc API 18
  modules/upnp/upnp.cpp
Due: copyright-headers

Fix Button not listing `hover_pressed` stylebox
  doc/classes/Button.xml
  scene/resources/default_theme/default_theme.cpp
Due: make-rst, doc-status, copyright-headers

[3.x] Do not auto add default script and country codes to the locale.
  core/translation.cpp
  core/translation.h
Due: copyright-headers, header-guards

[Buildsystem] Improve cache handling
  SConstruct
  methods.py
Due: none

Physics Interpolation - Auto-reset on `set_physics_interpolation_mode()`
  scene/2d/camera_2d.cpp
  scene/3d/camera.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
Due: copyright-headers

Fix random multithreaded crash that happens when setting the audio stream on a AudioStreamRandomPitch stream.
  servers/audio/audio_stream.cpp
Due: copyright-headers

Fix error when non-ASCII characters in resource pack path
  core/io/file_access_zip.cpp
Due: copyright-headers

[3.x] Document Timer autostart in tool scripts
  doc/classes/Timer.xml
Due: make-rst, doc-status

[JavaScript] Don't cache emsdk
  .github/workflows/javascript_builds.yml
Due: none

[3.x] Bind Array and Pool*Array get and set functions
  core/dictionary.cpp
  core/dictionary.h
  core/variant_call.cpp
  doc/classes/Array.xml
  doc/classes/Dictionary.xml
  doc/classes/PoolByteArray.xml
  doc/classes/PoolColorArray.xml
  doc/classes/PoolIntArray.xml
  doc/classes/PoolRealArray.xml
  doc/classes/PoolStringArray.xml
  doc/classes/PoolVector2Array.xml
  doc/classes/PoolVector3Array.xml
Due: make-rst, doc-status, copyright-headers, header-guards

CI: Update Ubuntu runners to 24.04, but keep 22.04 for Linux builds
  .github/workflows/android_builds.yml
  .github/workflows/javascript_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/server_builds.yml
  .github/workflows/static_checks.yml
  core/io/http_client.cpp
  core/io/packet_peer_udp.cpp
  core/io/stream_peer.cpp
  doc/translations/extract.py
  editor/editor_builders.py
  editor/icons/editor_icons_builders.py
  gles_builders.py
  main/main_builders.py
  modules/denoise/resource_to_cpp.py
  modules/gdnative/gdnative_builders.py
  platform/osx/platform_osx_builders.py
  platform/windows/platform_windows_builders.py
  platform/x11/platform_x11_builders.py
  scene/2d/tile_map.cpp
  scu_builders.py
Due: copyright-headers

Fix VS project generation with SCons 4.8.0+
  methods.py
Due: none

Ameliorate performance regression due to directional shadow `fade_start`
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/scene.glsl
Due: copyright-headers, header-guards

embree: Fix invalid output operators raising errors with GCC 15
  thirdparty/embree/kernels/geometry/pointi.h
  thirdparty/embree/kernels/subdiv/bezier_curve.h
  thirdparty/embree/patches/embree-fix-output-operator.patch
Due: none

Add rename_dependencies method to ResourceLoader.
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/ResourceLoader.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Update OS.xml
  doc/classes/OS.xml
Due: make-rst, doc-status

Add copyright attribution metadata to icon.svg
  icon.svg
Due: svgo

Update MainLoop.xml
  doc/classes/MainLoop.xml
Due: make-rst, doc-status

Replace global oversampling with overrideable per-viewport oversampling.
  doc/classes/CanvasItem.xml
  doc/classes/Font.xml
  doc/classes/FontFile.xml
  doc/classes/ResourceImporterDynamicFont.xml
  doc/classes/SystemFont.xml
  doc/classes/TextLine.xml
  doc/classes/TextParagraph.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  doc/classes/Viewport.xml
  main/main.cpp
  misc/extension_api_validation/4.4-stable.expected
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  scene/main/canvas_item.compat.inc
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/main/window.cpp
  scene/main/window.h
  scene/resources/font.compat.inc
  scene/resources/font.cpp
  scene/resources/font.h
  scene/resources/text_line.compat.inc
  scene/resources/text_line.cpp
  scene/resources/text_line.h
  scene/resources/text_paragraph.compat.inc
  scene/resources/text_paragraph.cpp
  scene/resources/text_paragraph.h
  servers/text/text_server_dummy.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.compat.inc
  servers/text_server.cpp
  servers/text_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add guard to skip tests when the ORMMaterial3D class is unavailable
  tests/scene/test_o_r_m_material_3d.h
Due: copyright-headers, header-guards

[TextServer] Add monitors for fonts and shaped text buffers.
  doc/classes/Performance.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  main/performance.cpp
  main/performance.h
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add notes about InputEventKey property usage.
  doc/classes/InputEventKey.xml
Due: make-rst, doc-status

Add embedded window selector & dual game view
  core/config/engine.cpp
  core/config/engine.h
  editor/plugins/embedded_process.cpp
  editor/plugins/embedded_process.h
  editor/plugins/game_view_plugin.cpp
  editor/plugins/game_view_plugin.h
  main/main.cpp
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/main/window.cpp
  servers/display_server.cpp
  servers/display_server.h
  servers/display_server_headless.h
Due: copyright-headers, header-guards

Implement KHR_node_visibility in the GLTF module
  modules/gltf/doc_classes/GLTFDocument.xml
  modules/gltf/doc_classes/GLTFNode.xml
  modules/gltf/editor/editor_scene_exporter_gltf_settings.cpp
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
  modules/gltf/structures/gltf_node.cpp
  modules/gltf/structures/gltf_node.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix `Array::insert`
  core/variant/array.cpp
  tests/core/variant/test_array.h
Due: copyright-headers, header-guards

[Polygon2DEditor] Add tool to automatically move center of gravity to origin.
  editor/icons/CurveCenter.svg
  editor/icons/EditorPathNullHandle.svg
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/abstract_polygon_2d_editor.h
  editor/plugins/collision_polygon_2d_editor_plugin.cpp
  editor/plugins/collision_polygon_2d_editor_plugin.h
Due: svgo, copyright-headers, header-guards

Gui: Fix invalid menu bar hover
  scene/gui/menu_bar.cpp
Due: copyright-headers

Add GridMap Octant visual debug
  modules/gridmap/doc_classes/GridMap.xml
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
Due: make-rst, doc-status, copyright-headers, header-guards

Queue hover update when creating TreeItem
  scene/gui/tree.cpp
  scene/gui/tree.h
Due: copyright-headers, header-guards

[FileSystemList] Fix edit popup not accounting scroll position.
  editor/filesystem_dock.cpp
Due: copyright-headers

Update character_body_2d.cpp
  scene/2d/physics/character_body_2d.cpp
Due: copyright-headers

Add Vector2.reversed() and Vector3.reversed()
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector3.h
  core/variant/variant_call.cpp
Due: copyright-headers, header-guards

Add option for path3d to snap to colliders
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
Due: copyright-headers, header-guards

Rendering: Don't cache `texture_2d_get` in tool script
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
Due: copyright-headers, header-guards
