Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

[TextServer] Check if texture cache is valid when loading glyph.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Due: copyright-headers

Fix script errors due to autoloads when using --check-only and --script
  main/main.cpp
Due: copyright-headers

VisualShader Conversion fails with Embeds
  editor/docks/filesystem_dock.cpp
  editor/shader/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Due: copyright-headers, header-guards

Metal: Ensure baking to binary sets minimum target OS
  drivers/metal/metal_device_properties.h
  drivers/metal/metal_device_properties.mm
  drivers/metal/metal_utils.h
  drivers/metal/rendering_device_driver_metal.mm
  drivers/metal/rendering_shader_container_metal.h
  drivers/metal/rendering_shader_container_metal.mm
  editor/export/shader_baker_export_plugin.cpp
  editor/export/shader_baker_export_plugin.h
  editor/shader/shader_baker/shader_baker_export_plugin_platform_d3d12.cpp
  editor/shader/shader_baker/shader_baker_export_plugin_platform_d3d12.h
  editor/shader/shader_baker/shader_baker_export_plugin_platform_metal.cpp
  editor/shader/shader_baker/shader_baker_export_plugin_platform_metal.h
  editor/shader/shader_baker/shader_baker_export_plugin_platform_vulkan.cpp
  editor/shader/shader_baker/shader_baker_export_plugin_platform_vulkan.h
Due: copyright-headers, header-guards

[TextServer] Do not add extra spacing to zero-width glyphs.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Due: copyright-headers

Update SVGO to 4.0.0
  .pre-commit-config.yaml
  editor/icons/AudioMute.svg
  editor/icons/AudioStreamPlayer.svg
  editor/icons/AudioStreamPlayer2D.svg
  editor/icons/AudioStreamPlayer3D.svg
  editor/icons/BoneAttachment3D.svg
  editor/icons/ProfilerAutostartWarning.svg
  misc/utility/svgo.config.mjs
Due: svgo

Open translation CSV in the text editor instead of printing errors.
  editor/editor_node.cpp
  editor/editor_node.h
Due: copyright-headers, header-guards

improve the Cpp dialect selection for Rider, when MSVC is not used
  misc/msvs/nmake.substitution.props
Due: none

fix for multi select expose/unexpose
  editor/docks/scene_tree_dock.cpp
Due: copyright-headers

Add the ability to expose nodes for direct access in instantiated scenes
  doc/classes/EditorSettings.xml
  editor/docks/scene_tree_dock.cpp
  editor/docks/scene_tree_dock.h
  editor/editor_data.cpp
  editor/icons/SceneExposedNode.svg
  editor/icons/SceneExposedNodeInstanced.svg
  editor/import/3d/resource_importer_scene.cpp
  editor/scene/scene_tree_editor.cpp
  editor/scene/scene_tree_editor.h
  editor/settings/editor_settings.cpp
  scene/gui/tree.cpp
  scene/gui/tree.h
  scene/main/node.cpp
  scene/main/node.h
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
  scene/resources/resource_format_text.cpp
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

review fixes
  editor/docks/scene_tree_dock.cpp
  editor/scene/scene_tree_editor.cpp
Due: copyright-headers

fix for drag/drop instantiation, fix for node drag ordering
  editor/docks/scene_tree_dock.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

Fix vanishing node references in double-nested exposed instances
  scene/resources/packed_scene.cpp
Due: copyright-headers

Wrapper For Spx Fixed Bug And Refactor Fixed Dragging Axis Conflict Bug Logic Separation Using the Builder Pattern
  modules/spx/gdextension_spx_ext.cpp
  modules/spx/gdextension_spx_ext.h
  modules/spx/spx_draw_tiles.cpp
  modules/spx/spx_draw_tiles.h
  modules/spx/spx_ext_mgr.cpp
  modules/spx/spx_ext_mgr.h
  platform/web/godot_js_spx.cpp
  platform/web/js/engine/gdspx.js
Due: eslint, copyright-headers, header-guards

Fix orphan StringName
  servers/rendering/rendering_device.cpp
Due: copyright-headers

Improve tile source tooltips
  editor/scene/2d/tiles/tile_map_layer_editor.cpp
  editor/scene/2d/tiles/tile_map_layer_editor.h
  editor/scene/2d/tiles/tile_set_editor.cpp
  editor/scene/2d/tiles/tile_set_editor.h
  editor/scene/2d/tiles/tiles_editor_plugin.cpp
  editor/scene/2d/tiles/tiles_editor_plugin.h
Due: copyright-headers, header-guards

JoltPhysics: Fix orphan StringName
  modules/jolt_physics/spaces/jolt_job_system.cpp
Due: copyright-headers

Changed approach to have Editor_Node call FileSystemDock::navigate_to_path() directly instead.
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
  editor/editor_node.cpp
  editor/editor_node.h
Due: copyright-headers, header-guards

fix: appease vulkan validation layers (and still fail to decode)
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  modules/matroska/video_stream_h264.cpp
  modules/matroska/video_stream_matroska.cpp
  scene/resources/video_stream_encoding.cpp
  scene/resources/video_stream_encoding.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_commons.h
  servers/rendering/rendering_device_driver.h
Due: copyright-headers, header-guards

Fix reflection probes not recreating downsampled textures when mode changes.
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
Due: copyright-headers, header-guards

Update AUTHORS and DONORS list
  .mailmap
  AUTHORS.md
  DONORS.md
Due: none

Put the code that checks if json files are actually json files into a more fitting place.
  editor/script/script_editor_plugin.cpp
Due: copyright-headers

Use `language` command line argument to override editor locale.
  editor/settings/editor_settings.cpp
  editor/settings/editor_settings.h
  main/main.cpp
  main/main.h
Due: copyright-headers, header-guards

CI: Bump Linux builder to Ubuntu 24.04
  .github/workflows/linux_builds.yml
  misc/error_suppressions/lsan.txt
  modules/gdscript/gdscript_tokenizer_buffer.cpp
Due: copyright-headers

Fix Redundant calls of CIE _update_lock_and_group_button on SceneTree selection.
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/scene_tree_editor.cpp
Due: copyright-headers

Switch globals to hashmap
  platform/linuxbsd/wayland/embedder.cpp
  platform/linuxbsd/wayland/embedder.h
Due: copyright-headers, header-guards

Add option to BoneConstraint3D to make reference target allow node
  doc/classes/BoneConstraint3D.xml
  doc/classes/ConvertTransformModifier3D.xml
  doc/classes/CopyTransformModifier3D.xml
  scene/3d/aim_modifier_3d.cpp
  scene/3d/aim_modifier_3d.h
  scene/3d/bone_constraint_3d.cpp
  scene/3d/bone_constraint_3d.h
  scene/3d/convert_transform_modifier_3d.cpp
  scene/3d/convert_transform_modifier_3d.h
  scene/3d/copy_transform_modifier_3d.cpp
  scene/3d/copy_transform_modifier_3d.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix not embedded clients
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Add Media Foundation conversion and support for additional camera formats
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Support signals
  modules/camera/camera_win.cpp
Due: copyright-headers

Improve more safely
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Update CameraServer and CameraFeed xml
  doc/classes/CameraFeed.xml
  doc/classes/CameraServer.xml
Due: make-rst, doc-status

Add CameraFeed support for Windows
  modules/camera/SCsub
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Decode image using BufferDecoder
  modules/camera/SCsub
  modules/camera/buffer_decoder.cpp
  modules/camera/buffer_decoder.h
  modules/camera/camera_feed_linux.cpp
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Refactor error handling
  modules/camera/camera_win.cpp
Due: copyright-headers

Prevent infinite loop in set_monitoring_feeds
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Update code style
  modules/camera/buffer_decoder.cpp
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
