Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

[Core] Add convenience access to front/back element of `List`
  core/templates/list.h
Due: copyright-headers, header-guards

Subscript cases
  core/debugger/remote_debugger_peer.cpp
  core/io/udp_server.cpp
  editor/debugger/editor_debugger_tree.cpp
  editor/editor_inspector.cpp
  editor/export/project_export.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/scene_import_settings.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  modules/enet/enet_multiplayer_peer.cpp
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/multiplayer/scene_replication_interface.cpp
  modules/websocket/remote_debugger_peer_websocket.cpp
  scene/2d/animated_sprite_2d.cpp
  scene/3d/sprite_3d.cpp
  scene/debugger/scene_debugger.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_physicalbones.cpp
  servers/rendering/renderer_viewport.cpp
Due: copyright-headers

split Rider and Fleet as different external editors for Godot C#
  modules/mono/editor/GodotTools/GodotTools/ExternalEditorId.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/GodotTools.csproj
  modules/mono/editor/GodotTools/GodotTools/Ides/GodotIdeManager.cs
  modules/mono/editor/GodotTools/GodotTools/Ides/Rider/RiderPathManager.cs
Due: none

Add a Scaling Modifier to scale animation Keys
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Due: copyright-headers, header-guards

Smoke test: In collections, log an error if `reserve()` is called with a number smaller than the current size. Don't log an error if it is called with a number smaller than the current capacity.
  core/math/a_star.cpp
  core/string/string_buffer.h
  core/templates/a_hash_map.h
  core/templates/hash_map.h
  core/templates/hash_set.h
  core/templates/local_vector.h
  core/templates/oa_hash_map.h
Due: copyright-headers, header-guards

Android Editor: Add new actions and enhancements to TouchActionsPanel
  editor/gui/touch_actions_panel.cpp
  editor/gui/touch_actions_panel.h
Due: copyright-headers, header-guards

done text hint for sprite2d
  editor/plugins/sprite_2d_editor_plugin.cpp
  editor/plugins/sprite_2d_editor_plugin.h
Due: copyright-headers, header-guards

Fix issue with playing a custom scene from a UID
  editor/gui/editor_run_bar.cpp
Due: copyright-headers

Update tests/scene/test_occluder_instance_3d.h
  tests/scene/test_occluder_instance_3d.h
Due: copyright-headers, header-guards

Add credits roll
  editor/credits_roll.cpp
  editor/credits_roll.h
  editor/editor_about.cpp
Due: copyright-headers, header-guards

Properly "declared" handle_cmdline
  gdscript_test_runner.h
Due: copyright-headers, header-guards

[.NET] Fix `string.PathJoin` to be consistent with core
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Due: none

Optimize PrimitiveMesh _create_mesh_array function by avoiding CoW behavior and dynamic memory allocations
  scene/resources/3d/primitive_meshes.cpp
Due: copyright-headers

Lightmapper: Compress albedo and emission atlases with Betsy if available
  modules/betsy/image_compress_betsy.cpp
  modules/betsy/image_compress_betsy.h
  modules/lightmapper_rd/lightmapper_rd.cpp
Due: copyright-headers, header-guards

[Core] Make `Dictionary.get_or_add` check for read-only
  core/variant/dictionary.cpp
  tests/core/variant/test_dictionary.h
Due: copyright-headers, header-guards

[Core] Add `set_safe` method to `Array` and `Dictionary`
  core/variant/array.cpp
  core/variant/array.h
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  tests/core/variant/test_dictionary.h
Due: copyright-headers, header-guards

[Editor] Add support for displaying unsigned integers in the inspector
  core/object/object.h
  doc/classes/@GlobalScope.xml
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_properties_vector.cpp
  editor/editor_properties_vector.h
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_editor.cpp
  servers/rendering/shader_language.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Remove unnecessary `friend class` declarations of `CowData`. Use default implementations for various containers.
  core/string/ustring.h
  core/templates/cowdata.h
  core/templates/vector.h
  core/templates/vmap.h
  scene/resources/visual_shader.h
Due: copyright-headers, header-guards

Change `StringName.operator const void *` to `explicit operator bool`.
  core/string/string_name.h
  modules/gdscript/gdscript_editor.cpp
Due: copyright-headers, header-guards

Rename Select Mode to Transform Mode, and create a new Select Mode without transform gizmo
  editor/icons/ToolTransform.svg
  editor/plugins/game_view_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Due: svgo, copyright-headers, header-guards

Update donation link to `fund.godotengine.org`
  DONORS.md
  editor/editor_node.cpp
  misc/dist/linux/org.godotengine.Godot.appdata.xml
Due: copyright-headers

Update color_names.inc
  core/math/color_names.inc
Due: copyright-headers

Add _generate_image_now private func
  modules/noise/noise_texture_2d.cpp
  modules/noise/noise_texture_2d.h
Due: copyright-headers, header-guards

Rendering: Fix `Math` constant conversion
  drivers/gles3/storage/material_storage.cpp
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
Due: copyright-headers

Optimize `is_quoted` implementation. Remove unused `is_enclosed_in` from `String`.
  core/string/ustring.cpp
  core/string/ustring.h
Due: copyright-headers, header-guards

Optimize `String::get_data` / `CharString::get_data` / `Char16String::get_data` by avoiding a dereference of ptr, and inlining the function. Optimize `String::is_empty` by avoiding fetching the size.
  core/string/ustring.cpp
  core/string/ustring.h
Due: copyright-headers, header-guards

Add ruler width editor setting to 2D editor
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Due: make-rst, doc-status, copyright-headers, header-guards

GradientTexture: Call `emit_changed` after updating texture
  scene/resources/gradient_texture.cpp
  scene/resources/gradient_texture.h
Due: copyright-headers, header-guards

Improve documentation on `is_nan()` and `NAN` constant
  doc/classes/@GlobalScope.xml
  modules/gdscript/doc_classes/@GDScript.xml
Due: make-rst, doc-status

Clarify expected return values for EditorSyntaxHighlighter's virtual methods
  doc/classes/EditorSyntaxHighlighter.xml
Due: make-rst, doc-status

Fix custom scene argument if it's referenced as UID.
  main/main.cpp
Due: copyright-headers

Optimize / refactor `CowData`, combining `resize` and `fork` to avoid unnecessary reallocations.
  core/templates/cowdata.h
Due: copyright-headers, header-guards
