Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Add methods to decode/encode Windows system encodings.
  core/os/os.cpp
  core/os/os.h
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  doc/classes/PackedByteArray.xml
  doc/classes/String.xml
  doc/classes/StringName.xml
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Due: make-rst, doc-status, copyright-headers, header-guards

Improve robustness
  drivers/wasapi/audio_driver_wasapi.cpp
Due: copyright-headers

shashashabibibi
  editor/plugins/skeleton_3d_editor_plugin.cpp
  modules/game_help/logic/animator/character_animation_node.cpp
  modules/game_help/logic/animator/character_animation_node.h
  scene/3d/skeleton_3d.cpp
Due: copyright-headers, header-guards

Fix bugs
  drivers/wasapi/audio_driver_wasapi.cpp
Due: copyright-headers

ResourceLoader: Fixup resource changed feature (no. 2)
  core/io/resource_loader.cpp
Due: copyright-headers

Fix initialization
  drivers/wasapi/audio_driver_wasapi.cpp
Due: copyright-headers

EditorResourcePreview: Let loads complete after exit requested
  editor/editor_resource_preview.cpp
Due: copyright-headers

aaa
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
Due: copyright-headers, header-guards

Add class icons to script list, separate doc list
  editor/icons/ToolScript.svg
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
Due: svgo, copyright-headers, header-guards

把把把把v
  scene/3d/skeleton_3d.cpp
Due: copyright-headers

Implement optimizations to BitMap.grow_mask
  scene/resources/bit_map.cpp
  tests/scene/test_bit_map.h
Due: copyright-headers, header-guards

Using Ref<> in new BitMap unit test
  tests/scene/test_bit_map.h
Due: copyright-headers, header-guards

Revert "WorkerThreadPool: Enhance lifetime for more flexibility"
  core/object/worker_thread_pool.cpp
  core/register_core_types.cpp
  main/main.cpp
Due: copyright-headers

Remove Useless Viewport::gui.key_input_accepted
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: copyright-headers, header-guards

Style: Format yaml files
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/actions/download-artifact/action.yml
  .github/actions/godot-api-dump/action.yml
  .github/actions/godot-build/action.yml
  .github/actions/godot-cache-restore/action.yml
  .github/actions/godot-cache-save/action.yml
  .github/actions/godot-converter-test/action.yml
  .github/actions/godot-deps/action.yml
  .github/actions/godot-project-test/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/android_builds.yml
  .github/workflows/godot_cpp_test.yml
  .github/workflows/ios_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/runner.yml
  .github/workflows/static_checks.yml
  .github/workflows/web_builds.yml
  .github/workflows/windows_builds.yml
  .pre-commit-config.yaml
Due: none

Optimize Hash Map
  core/templates/hash_map.h
  core/templates/hashfuncs.h
  core/variant/variant.cpp
  core/variant/variant.h
  tests/core/templates/test_hash_map.h
Due: copyright-headers, header-guards

Add Mesh.create_convex_shapes() to expose convex decomposition for scripts
  doc/classes/Mesh.xml
  scene/resources/mesh.cpp
  scene/resources/mesh.h
Due: make-rst, doc-status, copyright-headers, header-guards

Update the Android editor flavors to avoid vendor-specific references
  .github/workflows/android_builds.yml
  platform/android/java/build.gradle
  platform/android/java/editor/build.gradle
  platform/android/java/editor/src/android/java/org/godotengine/editor/GodotEditor.kt
  platform/android/java/editor/src/horizonos/AndroidManifest.xml
  platform/android/java/editor/src/horizonos/assets/vr_splash.png
  platform/android/java/editor/src/horizonos/java/org/godotengine/editor/GodotEditor.kt
  platform/android/java/editor/src/horizonos/java/org/godotengine/editor/GodotXRGame.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
  platform/android/java/lib/src/org/godotengine/godot/utils/DeviceUtils.kt
Due: none

Style: Consolidate & migrate GDScript `.editorconfig`
  modules/gdscript/.editorconfig
  modules/gdscript/tests/scripts/.editorconfig
  modules/gdscript/tests/scripts/parser/.editorconfig
Due: none

Style: Change hardcoded template `crlf` to `lf`
  .gitattributes
  misc/scripts/file_format.py
Due: none

Wayland: Simplify cursor code and fix custom cursors
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

Skip redundant pixel checks around distance mask in BitMap::grow_mask
  scene/resources/bit_map.cpp
Due: copyright-headers

Fix typo in RenderingServer docs
  doc/classes/RenderingServer.xml
Due: make-rst, doc-status

2D: Fix use-after-free in batch rendering
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
Due: copyright-headers, header-guards

Remove some control spacers from editor.
  editor/animation_track_editor.cpp
  editor/connections_dialog.cpp
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_visual_profiler.cpp
  editor/dependency_editor.cpp
  editor/editor_audio_buses.cpp
  editor/editor_settings_dialog.cpp
  editor/export/export_template_manager.cpp
  editor/export/project_export.cpp
  editor/gui/editor_dir_dialog.cpp
  editor/gui/editor_file_dialog.cpp
  editor/import/3d/scene_import_settings.cpp
  editor/import/audio_stream_import_settings.cpp
  editor/import_defaults_editor.cpp
  editor/inspector_dock.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/editor_plugin_settings.cpp
  editor/plugins/material_editor_plugin.cpp
  editor/plugins/mesh_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/progress_dialog.cpp
  editor/progress_dialog.h
  editor/project_settings_editor.cpp
  editor/scene_tree_dock.cpp
  modules/multiplayer/editor/editor_network_profiler.cpp
Due: copyright-headers, header-guards

Add TextEdit option to prevent copying without a selection
  doc/classes/EditorSettings.xml
  doc/classes/TextEdit.xml
  editor/code_editor.cpp
  editor/editor_settings.cpp
  scene/gui/code_edit.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  tests/scene/test_code_edit.h
  tests/scene/test_text_edit.h
Due: make-rst, doc-status, copyright-headers, header-guards

8888899999
  modules/game_help/logic/animator/body_animator.cpp
  modules/game_help/logic/animator/body_animator.h
  scene/animation/animation_mixer.h
Due: copyright-headers, header-guards

ffff
  modules/game_help/logic/animator/body_animator.h
Due: copyright-headers, header-guards

dfdf
  modules/game_help/logic/animator/body_animator.h
Due: copyright-headers, header-guards

綠豆芽
  modules/game_help/logic/animator/body_animator.cpp
  modules/game_help/logic/animator/body_animator.h
  scene/animation/animation_mixer.h
Due: copyright-headers, header-guards

Fix `VSlider` grabber area.
  scene/gui/slider.cpp
Due: copyright-headers

Fix editor_doc_cache locked on editor startup
  platform/android/export/export_plugin.cpp
Due: copyright-headers

Update `_gui_input` documentation.
  doc/classes/Control.xml
Due: make-rst, doc-status

Fixed resource loader using not fully loaded scripts
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_cache.cpp
Due: copyright-headers, header-guards

[macOS] Fix dynamic library lookup for system libraries.
  platform/macos/os_macos.mm
Due: copyright-headers

Fix syncing PhysicalBone internal poses individually
  scene/3d/physical_bone_simulator_3d.cpp
  scene/3d/physical_bone_simulator_3d.h
Due: copyright-headers, header-guards

updated class documentation of CSGShape3D method use_collision() for clarity.
  modules/csg/doc_classes/CSGShape3D.xml
Due: make-rst, doc-status

Fix script properties reload from external editor
  editor/connections_dialog.cpp
  editor/editor_file_system.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
Due: copyright-headers

Fix empty load errors popup
  editor/editor_node.cpp
  editor/editor_node.h
Due: copyright-headers, header-guards

Fix gizmo redraw performance for PlaneMesh with larger subdiv value
  editor/plugins/gizmos/mesh_instance_3d_gizmo_plugin.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
