Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

In Node.xml mentioned that Node::duplicate also copies children.
  doc/classes/Node.xml
Due: make-rst, doc-status

Add movement caveats to InputEventMouseMotion docs
  doc/classes/InputEventMouseMotion.xml
Due: make-rst, doc-status

docs: update UPnP gdscript snippet to latest gdscript
  modules/upnp/doc_classes/UPNP.xml
Due: make-rst, doc-status

Fix miscellaneous oddities around the class reference
  doc/classes/AStar2D.xml
  doc/classes/CPUParticles2D.xml
  doc/classes/CameraAttributes.xml
  doc/classes/Control.xml
  doc/classes/EditorResourcePreviewGenerator.xml
  doc/classes/Environment.xml
  doc/classes/GPUParticles2D.xml
  doc/classes/GPUParticles3D.xml
  doc/classes/GPUParticlesCollision3D.xml
  doc/classes/HTTPClient.xml
  doc/classes/MeshInstance3D.xml
  doc/classes/Node.xml
  doc/classes/Object.xml
  doc/classes/PhysicalBone3D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RigidBody3D.xml
  doc/classes/SkeletonModification2DTwoBoneIK.xml
  doc/classes/StyleBoxTexture.xml
  doc/classes/TouchScreenButton.xml
  modules/noise/doc_classes/FastNoiseLite.xml
  platform/web/doc_classes/EditorExportPlatformWeb.xml
Due: make-rst, doc-status

docs: highlight lack of joystick info on majority of platforms
  doc/classes/Input.xml
Due: make-rst, doc-status

Document conversion function needed for normal texture in CompositorEffect
  doc/classes/CompositorEffect.xml
Due: make-rst, doc-status

Clarify `Timer.start()` documentation to match the current behavior.
  doc/classes/Timer.xml
Due: make-rst, doc-status

Add tutorial link in Compositor and CompositorEffect docs
  doc/classes/Compositor.xml
  doc/classes/CompositorEffect.xml
Due: make-rst, doc-status

Add template images to the Cubemap class documentation
  doc/classes/Cubemap.xml
Due: make-rst, doc-status

Updated TreeItem documentation
  doc/classes/TreeItem.xml
Due: make-rst, doc-status

Document time rollover setting in ProjectSettings.xml
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

[DisplayServer] [docs] Improve readability of `get_screen_from_rect()`
  doc/classes/DisplayServer.xml
Due: make-rst, doc-status

Better explanation for the replication interval and delta interval in the MultiplayerSynchronizer node
  modules/multiplayer/doc_classes/MultiplayerSynchronizer.xml
Due: make-rst, doc-status

Fix setting TileMap data compatibility format broken by #98898.
  scene/2d/tile_map.cpp
Due: copyright-headers

Metal: Ensure position invariance is captured from SPIRV-Cross
  drivers/metal/rendering_device_driver_metal.mm
Due: copyright-headers

abc
  modules/game_help/logic/animator/human_animation.h
  modules/game_help/logic/body_main.cpp
  modules/game_help/logic/body_main.h
Due: copyright-headers, header-guards

Buildsystem: better platform list printing
  SConstruct
Due: none

[Linux] Use safe IDs for native file dialog options.
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/freedesktop_portal_desktop.h
Due: copyright-headers, header-guards

Fix error emitting when reset a visual shader preview parameter
  editor/plugins/visual_shader_editor_plugin.cpp
Due: copyright-headers

Fix crash when inserting keyframes with empty properties array
  editor/editor_inspector.cpp
Due: copyright-headers

Add swap connection option to visual shader graph
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
Due: copyright-headers, header-guards

Use processed filter list for native dialogs.
  editor/gui/editor_file_dialog.cpp
  editor/gui/editor_file_dialog.h
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/macos/godot_open_save_delegate.mm
  platform/windows/display_server_windows.cpp
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Due: copyright-headers, header-guards

Buildsystem: Refactor compiler detection code
  SConstruct
  methods.py
  platform/macos/detect.py
Due: none

rename reverb to reflectivity to match docs
  doc/classes/AudioEffectReverb.xml
  servers/audio/effects/audio_effect_reverb.cpp
  servers/audio/effects/audio_effect_reverb.h
  servers/audio/effects/reverb_filter.cpp
  servers/audio/effects/reverb_filter.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add back `AnimationPlayer.get_argument_options`
  modules/gdscript/tests/scripts/completion/argument_options/argument_options.tscn
  modules/gdscript/tests/scripts/completion/argument_options/play_inferred.cfg
  modules/gdscript/tests/scripts/completion/argument_options/play_inferred.gd
  modules/gdscript/tests/scripts/completion/argument_options/play_typed.cfg
  modules/gdscript/tests/scripts/completion/argument_options/play_typed.gd
  modules/gdscript/tests/scripts/completion/argument_options/play_untyped.cfg
  modules/gdscript/tests/scripts/completion/argument_options/play_untyped.gd
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
Due: copyright-headers, header-guards

fixed navigation obstacle carving broken during 07b7f76
  modules/navigation/2d/nav_mesh_generator_2d.cpp
Due: copyright-headers

Fix calculation of inercia and centre of mass to account for shapes not centered
  modules/godot_physics_2d/godot_body_2d.cpp
Due: copyright-headers

Fix 32-bit Windows build.
  platform/windows/os_windows.cpp
Due: copyright-headers

Import WAV (and now AIFF) files with dr_wav
  COPYRIGHT.txt
  doc/classes/ResourceImporterWAV.xml
  editor/import/resource_importer_wav.cpp
  thirdparty/README.md
  thirdparty/dr_libs/LICENSE
  thirdparty/dr_libs/dr_wav.h
Due: make-rst, doc-status, copyright-headers

Update Z Index property location in Node2D class reference
  doc/classes/Control.xml
  doc/classes/Node2D.xml
Due: make-rst, doc-status

SCons: Improve cache purging logic
  .github/actions/godot-build/action.yml
  .github/actions/godot-cache-restore/action.yml
  .github/actions/godot-cache-save/action.yml
  .github/workflows/godot_cpp_test.yml
  .gitignore
  SConstruct
  methods.py
Due: none

Fix boot splash loading when path is UID
  core/io/image.cpp
  editor/editor_node.cpp
  main/main.cpp
  platform/android/export/export_plugin.cpp
  platform/ios/export/export_plugin.cpp
  platform/macos/export/export_plugin.cpp
  platform/web/export/export_plugin.cpp
  platform/windows/export/export_plugin.cpp
  scene/main/scene_tree.cpp
Due: copyright-headers

ccc
  editor/translations/properties/zh_CN.po
  modules/game_help/logic/animator/human_animation.h
  modules/game_help/logic/body_main.cpp
  modules/game_help/logic/body_main.h
Due: copyright-headers, header-guards

hide unused exp_edit from SpinBox inspector
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
Due: copyright-headers, header-guards

adding enter and exit signals to animation tree
  scene/animation/animation_tree.cpp
  scene/scene_string_names.cpp
  scene/scene_string_names.h
Due: copyright-headers, header-guards

emitting signals in animation state machine
  scene/animation/animation_node_state_machine.cpp
Due: copyright-headers

SCons: Fix up build after cache logic changes
  methods.py
Due: none

cccc
  modules/game_help/logic/animator/human_animation.h
Due: copyright-headers, header-guards

Fix `--generate-mono-glue` printing an unknown CLI argument warning
  main/main.cpp
Due: copyright-headers

LSP: Fix spec violations that break the VSCode outline
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/tests/scripts/lsp/first_line_comment.gd
  modules/gdscript/tests/test_lsp.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
