Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Add file sort to FileDialog
  doc/classes/FileDialog.xml
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
  scene/theme/default_theme.cpp
  scene/theme/icons/sort.svg
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Make it possible to run CI manually if `DISABLE_GODOT_CI` is set.
  .github/workflows/runner.yml
Due: none

Document output parameters of `EditorImportPlugin.import`
  doc/classes/EditorImportPlugin.xml
Due: make-rst, doc-status

Validate AnimationTree parameter types
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
Due: copyright-headers, header-guards

Add exclude prefix to POT generator
  core/config/project_settings.cpp
  editor/localization_editor.cpp
  editor/localization_editor.h
  editor/pot_generator.cpp
Due: copyright-headers, header-guards

Improve auto-translation of settings dialogs
  editor/action_map_editor.cpp
  editor/editor_autoload_settings.cpp
  editor/editor_locale_dialog.cpp
  editor/editor_locale_dialog.h
  editor/editor_sectioned_inspector.cpp
  editor/editor_sectioned_inspector.h
  editor/editor_settings_dialog.cpp
  editor/event_listener_line_edit.cpp
  editor/group_settings_editor.cpp
  editor/import_defaults_editor.cpp
  editor/localization_editor.cpp
  editor/plugins/editor_plugin_settings.cpp
  editor/project_settings_editor.cpp
  editor/shader_globals_editor.cpp
Due: copyright-headers, header-guards

Optimize and simplify sarray.
  core/string/ustring.h
Due: copyright-headers, header-guards

CI: Format SCons input flags & build action
  .github/actions/godot-build/action.yml
  .github/actions/godot-cpp-build/action.yml
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/web_builds.yml
  .github/workflows/windows_builds.yml
Due: none

Rewrite textureProjLod usage to avoid a Vulkan validation error.
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
  servers/rendering/renderer_rd/shaders/canvas.glsl
  servers/rendering/renderer_rd/shaders/canvas_uniforms_inc.glsl
Due: copyright-headers, header-guards

[Wayland] Implement the cursor-shape-v1 protocol
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
  thirdparty/wayland-protocols/staging/cursor-shape/README
  thirdparty/wayland-protocols/staging/cursor-shape/cursor-shape-v1.xml
Due: copyright-headers, header-guards

Add notes about the signs of Projection functions
  doc/classes/Projection.xml
Due: make-rst, doc-status

Core: Convert `Pair`/`KeyValue` to `constexpr`
  core/math/a_star.h
  core/os/os.h
  core/templates/cowdata.h
  core/templates/hashfuncs.h
  core/templates/pair.h
  modules/fbx/fbx_state.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: copyright-headers, header-guards

Remove the option to compress Android native libraries
  platform/android/doc_classes/EditorExportPlatformAndroid.xml
  platform/android/export/export_plugin.cpp
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
Due: make-rst, doc-status, copyright-headers

Fixes gdscript static variable does not contain `static` qualifier
  core/doc_data.h
  editor/editor_help.cpp
  editor/editor_help.h
  modules/gdscript/editor/gdscript_docgen.cpp
Due: copyright-headers, header-guards

Add support for exporting to Google Play Instant
  platform/android/doc_classes/EditorExportPlatformAndroid.xml
  platform/android/export/export_plugin.cpp
Due: make-rst, doc-status, copyright-headers

Fix Reflection Mask not working on Mobile
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
Due: copyright-headers, header-guards

Expand the imported texture channel count for remapping if necessary
  editor/import/resource_importer_texture.cpp
Due: copyright-headers

Fix redundant signal connection in TextureRegionEditor
  editor/plugins/texture_region_editor_plugin.cpp
Due: copyright-headers

Add `set_action_disabled` and `is_action_disabled` methods
  core/input/input.cpp
  core/input/input.h
  doc/classes/Input.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Style: Remove redundant `DEBUG_METHODS_ENABLED`
  core/config/project_settings.cpp
  core/config/project_settings.h
  core/core_bind.cpp
  core/core_constants.cpp
  core/extension/gdextension.cpp
  core/object/callable_method_pointer.h
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/method_bind.cpp
  core/object/method_bind.h
  core/object/object.h
  core/typedefs.h
  core/variant/binder_common.h
  core/variant/variant_call.cpp
  core/variant/variant_construct.h
  core/variant/variant_utility.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/mono/class_db_api_json.cpp
  modules/mono/class_db_api_json.h
  modules/mono/csharp_script.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono.h
  tests/core/object/test_class_db.h
Due: copyright-headers, header-guards

Use vertex colors (if present) as attributes during simplification
  scene/resources/3d/importer_mesh.cpp
Due: copyright-headers

Change fuzzy search to only set case sensitive within set_query
  core/string/fuzzy_search.cpp
  core/string/fuzzy_search.h
Due: copyright-headers, header-guards

Added atlas texture srgb and projector sampler in the fog shaders Added computation of the projector in the fog
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/environment/fog.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/shaders/environment/volumetric_fog_process.glsl
Due: copyright-headers, header-guards

Replaced repeated function calls with local variable
  core/string/ustring.cpp
Due: copyright-headers

GDScript: Add abstract methods
  doc/classes/@GlobalScope.xml
  editor/editor_help.cpp
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/tests/scripts/analyzer/errors/abstract_methods.gd
  modules/gdscript/tests/scripts/analyzer/errors/abstract_methods.out
  modules/gdscript/tests/scripts/parser/errors/abstract_func_with_body.gd
  modules/gdscript/tests/scripts/parser/errors/abstract_func_with_body.out
  modules/gdscript/tests/scripts/parser/errors/abstract_static_func.gd
  modules/gdscript/tests/scripts/parser/errors/abstract_static_func.out
  modules/gdscript/tests/scripts/parser/errors/duplicate_abstract.out
  modules/gdscript/tests/scripts/parser/errors/duplicate_abstract_class.gd
  modules/gdscript/tests/scripts/parser/errors/duplicate_abstract_class.out
  modules/gdscript/tests/scripts/parser/errors/duplicate_abstract_func.gd
  modules/gdscript/tests/scripts/parser/errors/duplicate_abstract_func.out
  modules/gdscript/tests/scripts/parser/errors/static_abstract_func.gd
  modules/gdscript/tests/scripts/parser/errors/static_abstract_func.out
  modules/gdscript/tests/scripts/runtime/features/abstract_methods.gd
  modules/gdscript/tests/scripts/runtime/features/abstract_methods.out
  modules/gdscript/tests/scripts/runtime/features/member_info_inheritance.gd
  modules/gdscript/tests/scripts/runtime/features/member_info_inheritance.out
  modules/gdscript/tests/scripts/utils.notest.gd
Due: make-rst, doc-status, copyright-headers, header-guards

Fix typo in `Node.get_child` documentation
  doc/classes/Node.xml
Due: make-rst, doc-status

Fix crash when checking unsaved history
  editor/editor_undo_redo_manager.cpp
Due: copyright-headers

Add MultiNodeEdit support for NavigationRegion3D
  modules/navigation_3d/3d/godot_navigation_server_3d.cpp
  modules/navigation_3d/3d/godot_navigation_server_3d.h
  modules/navigation_3d/3d/nav_mesh_generator_3d.cpp
  modules/navigation_3d/3d/nav_mesh_generator_3d.h
  modules/navigation_3d/editor/navigation_region_3d_editor_plugin.cpp
  modules/navigation_3d/editor/navigation_region_3d_editor_plugin.h
  servers/navigation_server_3d.h
  servers/navigation_server_3d_dummy.h
Due: copyright-headers, header-guards

clang-format
  core/string/ustring.cpp
Due: copyright-headers

Add GridMap octant related queries and tests
  modules/gridmap/doc_classes/GridMap.xml
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
  modules/gridmap/tests/test_grid_map.h
Due: make-rst, doc-status, copyright-headers, header-guards

Update NavigationServer statistics on frame process
  modules/navigation_2d/2d/godot_navigation_server_2d.cpp
  modules/navigation_3d/3d/godot_navigation_server_3d.cpp
  tests/servers/test_navigation_server_2d.h
  tests/servers/test_navigation_server_3d.h
Due: copyright-headers, header-guards

Improve the message overlay in the 3D editor
  doc/classes/EditorNode3DGizmo.xml
  doc/classes/EditorNode3DGizmoPlugin.xml
  editor/plugins/gizmos/audio_stream_player_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/camera_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/collision_shape_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/light_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/occluder_instance_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/reflection_probe_gizmo_plugin.cpp
  editor/plugins/gizmos/soft_body_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/visible_on_screen_notifier_3d_gizmo_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  editor/plugins/path_3d_editor_plugin.cpp
  modules/csg/editor/csg_gizmos.cpp
  modules/navigation_3d/editor/navigation_link_3d_gizmo_plugin.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Android: Don't request CAMERA permission on editor startup
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
Due: none

Fix GridMap scenario crash when outside tree
  modules/gridmap/grid_map.cpp
Due: copyright-headers

Rework dialog default titles
  doc/classes/AcceptDialog.xml
  doc/classes/ConfirmationDialog.xml
  doc/classes/FileDialog.xml
  doc/classes/Window.xml
  scene/gui/color_picker.cpp
  scene/gui/dialogs.cpp
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
  scene/main/window.cpp
  scene/main/window.h
Due: make-rst, doc-status, copyright-headers, header-guards

Update the logic to validate the java version
  platform/android/java/app/build.gradle
Due: none

correct libjpeg-turbo patches
  thirdparty/libjpeg-turbo/patches/0001-cmake-generated-headers.patch
  thirdparty/libjpeg-turbo/src/jmorecfg.h
Due: none

Update the GodotOpenXR meta-data removal logic
  platform/android/java/editor/src/horizonos/AndroidManifest.xml
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java/editor/src/picoos/AndroidManifest.xml
Due: none

Improve the material preview in the inspector
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  editor/plugins/material_editor_plugin.cpp
  editor/plugins/material_editor_plugin.h
Due: make-rst, doc-status, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
