Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, copyright-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java|glsl)$
        types_or: [text]
        exclude: |
          (?x)^(
            tests/python_build.*|
            .*thirdparty.*|
            .*platform/android/java/lib/src/com.*|
            .*-so_wrap.*
          )

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.2.0
    hooks:
      - id: black
        files: (\.py$|SConstruct|SCsub)
        types_or: [text]
        exclude: .*thirdparty.*
        args:
          - --line-length=120

  - repo: local
    hooks:
      - id: make-rst
        name: make-rst
        entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
        pass_filenames: false
        language: python
        files: ^(doc|modules|platform).*xml$

      - id: copyright-headers
        name: copyright-headers
        language: python
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$
        entry: python3 misc/scripts/copyright_headers.py
        exclude: |
          (?x)^(
            .*thirdparty.*|
            .*-so_wrap.*|
            core/math/bvh_.*\.inc$|
            platform/android/java/lib/src/com.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
            platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
          )

      - id: dotnet-format
        name: dotnet-format
        language: python
        entry: python3 misc/scripts/dotnet_format.py
        types_or: [c#]

[CI] [macOS] Fix CI with new GitHub runners
  .github/workflows/macos_builds.yml
Due: none

[DBus] Process file dialog callback in the main event loop instead of using deferred call.
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/freedesktop_portal_desktop.h
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
Due: copyright-headers

Fixed Typo in Camera 2D node's anchor mode
  scene/2d/camera_2d.cpp
Due: copyright-headers

[iOS] Fix sensors orientation.
  platform/ios/display_server_ios.h
  platform/ios/display_server_ios.mm
  platform/ios/godot_view.mm
Due: copyright-headers

Fix issue with copy shader not working in multiview
  servers/rendering/renderer_rd/shaders/effects/copy_to_fb.glsl
Due: none

Enforce using .NET SDK >= 8 in modules/mono/
  modules/mono/build_scripts/build_assemblies.py
  modules/mono/global.json
Due: none

Further speed up closing multiple scripts
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Due: copyright-headers

Reuse single erase pattern in tile editor
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_map_layer_editor.h
Due: copyright-headers

Fix errors and warnings when loading Skeleton2D Modifications
  scene/2d/skeleton_2d.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_ccdik.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_fabrik.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_jiggle.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_lookat.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_physicalbones.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_twoboneik.cpp
Due: copyright-headers

SCons: `scons_version` to environment variable
  SConstruct
  methods.py
Due: none

Remove uv_editor_bounds editor setting
  editor/plugins/polygon_2d_editor_plugin.cpp
Due: copyright-headers

Fix load subtask not being registered leading to false progress values.
  core/io/resource_loader.cpp
Due: copyright-headers

GDScript: Fix uninitialized local variables not being reset
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_codegen.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_compiler.h
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/features/reset_uninit_local_vars.gd
  modules/gdscript/tests/scripts/runtime/features/reset_uninit_local_vars.out
Due: copyright-headers

Change 2D navigation mesh baking to use floating point coordinates
  modules/navigation/2d/nav_mesh_generator_2d.cpp
Due: copyright-headers

Fixed particle spread values effecting particle velocity
  scene/resources/particle_process_material.cpp
Due: copyright-headers

Set animation step from importers. Increase default step from 10 to 30 FPS.
  doc/classes/Animation.xml
  editor/import/3d/editor_import_collada.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  modules/fbx/fbx_document.cpp
  modules/gltf/gltf_document.cpp
  scene/resources/animation.h
  tests/scene/test_animation.h
Due: make-rst, copyright-headers

Reset state of SkeletonModification2D when loaded from cache
  scene/resources/2d/skeleton/skeleton_modification_2d.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d.h
Due: copyright-headers

Rework MeshInstance3d collision shape creation into a subMenu and add all static body options
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  editor/plugins/mesh_instance_3d_editor_plugin.h
Due: copyright-headers

[CI] [macOS] Build for both `arm64` and `x86_64`
  .github/workflows/macos_builds.yml
Due: none

Fix Path3D tilt gizmo raycasting against local plane
  editor/plugins/path_3d_editor_plugin.cpp
Due: copyright-headers

Core: Use `<type_traits>` where applicable
  core/object/class_db.h
  core/variant/type_info.h
Due: copyright-headers

Fix error when moving FileSystem dock
  editor/gui/editor_dir_dialog.cpp
Due: copyright-headers

Use TextEdit caret color for minimap highlight
  scene/gui/text_edit.cpp
Due: copyright-headers

Fix move_and_slide wall slide acceleration (3D)
  scene/3d/physics/character_body_3d.cpp
Due: copyright-headers

Register text enter for script base class
  editor/script_create_dialog.cpp
Due: copyright-headers

Strip ANSI escape codes from file logging
  core/io/logger.cpp
  core/io/logger.h
Due: copyright-headers

NavigationRegion test suppress warning
  tests/scene/test_navigation_region_3d.h
Due: copyright-headers

[PopupMenu] Fix incorrect vertical scroll bar visible at fractional content scale
  scene/gui/popup_menu.cpp
Due: copyright-headers

Fix syntax error in camera_attributes_set_exposure documentation
  doc/classes/RenderingServer.xml
Due: make-rst

Fix Tree minimum size calculation
  doc/classes/Tree.xml
  scene/gui/tree.cpp
Due: make-rst, copyright-headers

Sync controller mappings DB with SDL 2 community repo
  core/input/gamecontrollerdb.txt
Due: none

Fixed port cache calculation in GraphNode
  scene/gui/graph_node.cpp
Due: copyright-headers

GDScript: Fix test `reset_uninit_local_vars.gd` failure
  modules/gdscript/tests/scripts/runtime/features/reset_uninit_local_vars.gd
Due: none

Don't ignore `audio/driver/output_latency.web`
  main/main.cpp
Due: copyright-headers

Clarify transform inheritance of CanvasItem nodes
  doc/classes/CanvasItem.xml
Due: make-rst

Fix errors/crashes related to skipped imports
  editor/import_dock.cpp
  editor/import_dock.h
  modules/gltf/editor/editor_scene_importer_blend.cpp
Due: copyright-headers

Add support for explicitly-defined compound triggers in GLTF files
  modules/gltf/extensions/physics/gltf_document_extension_physics.cpp
Due: copyright-headers

Add adjustments and color correction to Compatibility renderer
  drivers/gles3/effects/post_effects.cpp
  drivers/gles3/effects/post_effects.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/effects/post.glsl
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/shaders/sky.glsl
  drivers/gles3/shaders/tonemap.glsl
  drivers/gles3/shaders/tonemap_inc.glsl
  servers/rendering/storage/environment_storage.cpp
Due: copyright-headers

Add LIGHT_VERTEX to fragment shader
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/material_storage.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/shader_types.cpp
Due: copyright-headers

Fix error message when removing only child from GraphNode
  scene/gui/graph_node.cpp
  tests/scene/test_graph_node.h
Due: copyright-headers
