Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Add ability to disable shadow blur on StyleBoxFlat
  doc/classes/StyleBoxFlat.xml
  scene/resources/style_box_flat.cpp
  scene/resources/style_box_flat.h
Due: make-rst, doc-status, copyright-headers, header-guards

formatting
  modules/share/config.py
  modules/share/godot_share.mm
Due: copyright-headers

apns token signal and variables
  modules/notifications/SCsub
  modules/notifications/config.py
  modules/notifications/godot_notifications.h
  modules/notifications/godot_notifications.mm
  modules/notifications/register_types.cpp
  modules/notifications/register_types.h
  platform/ios/app_delegate.mm
  platform/ios/os_ios.mm
Due: copyright-headers, header-guards

ccccc
  modules/game_help/logic/animator/character_animation_node.h
  scene/3d/skeleton_3d.cpp
Due: copyright-headers, header-guards

OpenXR: change bindings to 'flatten' source paths
  modules/openxr/action_map/openxr_action_map.cpp
  modules/openxr/action_map/openxr_interaction_profile.cpp
  modules/openxr/action_map/openxr_interaction_profile.h
  modules/openxr/doc_classes/OpenXRIPBinding.xml
  modules/openxr/editor/openxr_interaction_profile_editor.cpp
  modules/openxr/openxr_interface.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

fffff
  modules/game_help/logic/animator/character_animation_node.h
  modules/game_help/logic/body_main.cpp
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
Due: copyright-headers, header-guards

Fix websocket dropping messages for WSLPeer Allows WSLPeer to grab the length of incoming messages Only accept them if they fit in in_buffer
  modules/websocket/packet_buffer.h
  modules/websocket/wsl_peer.cpp
  modules/websocket/wsl_peer.h
Due: copyright-headers, header-guards

Doc: advising against using ResourceLoader for save games to aboid possible remote code execution
  doc/classes/ResourceLoader.xml
Due: make-rst, doc-status

@GGScdipt Doc: advising against using load for untrusted resoruces due to possible Remote Code xecution.
  modules/gdscript/doc_classes/@GDScript.xml
Due: make-rst, doc-status

moving link into tutorial section out of description
  doc/classes/ResourceLoader.xml
Due: make-rst, doc-status

Fix `AnimationNode`'s `_process` qualifier in documentation
  doc/classes/AnimationNode.xml
Due: make-rst, doc-status

Fix non const animation node `_process` virtual function
  scene/animation/animation_tree.h
Due: copyright-headers, header-guards

Apply suggestions from code review
  doc/classes/ResourceLoader.xml
  modules/gdscript/doc_classes/@GDScript.xml
Due: make-rst, doc-status

fixing unintentional extra space
  doc/classes/ResourceLoader.xml
  modules/gdscript/doc_classes/@GDScript.xml
Due: make-rst, doc-status

@GDScript DOC: warning against possible remote code execution trough str_to_var
  doc/classes/@GlobalScope.xml
Due: make-rst, doc-status

GDScript: Don't highlight unexposed classes
  modules/gdscript/editor/gdscript_highlighter.cpp
Due: copyright-headers

Add support for `inf` and `nan` values to `JSON::stringify` and `JSON::parse_string`
  core/extension/gdextension_compat_hashes.cpp
  core/io/json.cpp
  core/io/json.h
  doc/classes/JSON.xml
Due: make-rst, doc-status, copyright-headers, header-guards

ConfigFile Doc: Adding guidance against remote code execution
  doc/classes/ConfigFile.xml
Due: make-rst, doc-status

Added option to force _can_drop_data() call
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: make-rst, doc-status, copyright-headers, header-guards

2D: Combine texture state to batch more subsequent commands together
  core/templates/lru.h
  core/typedefs.h
  drivers/metal/metal_objects.mm
  drivers/metal/rendering_device_driver_metal.mm
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
  servers/rendering/renderer_rd/shaders/canvas.glsl
  servers/rendering/renderer_rd/shaders/canvas_uniforms_inc.glsl
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.h
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_compiler.h
  tests/core/test_ctz.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

Fix InputEvent device id clash
  core/config/project_settings.cpp
  core/input/input_event.cpp
  core/input/input_event.h
  core/input/input_map.cpp
  core/input/input_map.h
  editor/event_listener_line_edit.cpp
  editor/input_event_configuration_dialog.cpp
Due: copyright-headers, header-guards

Move preprocessor to end of line for iterator, remove redeclaration incompatible with ubershader method definitions
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Due: none

fix formatting mistakes in config file warning code block
  doc/classes/ConfigFile.xml
Due: make-rst, doc-status

takes formatting out of clang-tidy
  .clang-format
  .clang-tidy
Due: none

support protection for signals, fixed access protection not working in derived class
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Due: copyright-headers, header-guards

OpenXR: Add support for binding modifiers
  doc/classes/ProjectSettings.xml
  editor/icons/Modifiers.svg
  main/main.cpp
  modules/openxr/action_map/openxr_action_map.cpp
  modules/openxr/action_map/openxr_action_map.h
  modules/openxr/action_map/openxr_binding_modifier.cpp
  modules/openxr/action_map/openxr_binding_modifier.h
  modules/openxr/action_map/openxr_interaction_profile.cpp
  modules/openxr/action_map/openxr_interaction_profile.h
  modules/openxr/config.py
  modules/openxr/doc_classes/OpenXRAnalogThresholdEditor.xml
  modules/openxr/doc_classes/OpenXRAnalogThresholdModifier.xml
  modules/openxr/doc_classes/OpenXRBindingModifier.xml
  modules/openxr/doc_classes/OpenXRBindingModifierEditor.xml
  modules/openxr/doc_classes/OpenXRDpadBindingEditor.xml
  modules/openxr/doc_classes/OpenXRDpadBindingModifier.xml
  modules/openxr/doc_classes/OpenXRIPBinding.xml
  modules/openxr/doc_classes/OpenXRInteractionProfile.xml
  modules/openxr/doc_classes/OpenXRInteractionProfileEditor.xml
  modules/openxr/doc_classes/OpenXRInteractionProfileEditorBase.xml
  modules/openxr/editor/openxr_action_map_editor.cpp
  modules/openxr/editor/openxr_action_map_editor.h
  modules/openxr/editor/openxr_binding_modifier_editor.cpp
  modules/openxr/editor/openxr_binding_modifier_editor.h
  modules/openxr/editor/openxr_binding_modifiers_dialog.cpp
  modules/openxr/editor/openxr_binding_modifiers_dialog.h
  modules/openxr/editor/openxr_interaction_profile_editor.cpp
  modules/openxr/editor/openxr_interaction_profile_editor.h
  modules/openxr/extensions/openxr_dpad_binding_extension.cpp
  modules/openxr/extensions/openxr_dpad_binding_extension.h
  modules/openxr/extensions/openxr_valve_analog_threshold_extension.cpp
  modules/openxr/extensions/openxr_valve_analog_threshold_extension.h
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/register_types.cpp
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Revert incorrect rounding when 2D transform snapping
  servers/rendering/renderer_canvas_cull.cpp
Due: copyright-headers

Add note to RayCast3D docs about `_ready()`
  doc/classes/RayCast3D.xml
Due: make-rst, doc-status

[Font Importer] Update Unicode block list to Unicode 16.0
  editor/import/dynamic_font_import_settings.cpp
Due: copyright-headers

fixing capitalization mistakes
  doc/classes/ConfigFile.xml
Due: make-rst, doc-status

removed extra empty line to pass CI check
  modules/gdscript/gdscript_analyzer.cpp
Due: copyright-headers

Fix unreachable code in `lightmap_gi.cpp`
  scene/3d/lightmap_gi.cpp
Due: copyright-headers

Updated CI/CD No. 1
  .github/workflows/linux_builds.yml
  .github/workflows/windows_builds.yml
  misc/scripts/install_vulkan_sdk_macos.sh
Due: none

Forgot to add new line at end of file.
  misc/scripts/install_vulkan_sdk_macos.sh
Due: none

2024.10.13
  README.md
Due: none

Fix for Template w/ GCC failing (WINDOWS) Attempt No. 1
  .github/workflows/windows_builds.yml
  drivers/d3d12/SCsub
  drivers/d3d12/dxil_hash.cpp
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  platform/windows/detect.py
Due: copyright-headers

LoL Linting got me.
  .github/workflows/windows_builds.yml
  drivers/d3d12/rendering_device_driver_d3d12.cpp
Due: copyright-headers

cccc
  modules/game_help/logic/animator/character_animation_node.h
  modules/game_help/logic/animator/character_update_tool.cpp
  modules/game_help/logic/animator/character_update_tool.h
  modules/game_help/logic/animator/human_animation.h
Due: copyright-headers, header-guards

toggled of clang test for windows
  .github/workflows/windows_builds.yml
Due: none

temporarily banned the function of `@private` and `@protected`, with `private` and `protected` keywords introduced as reserved words
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_tokenizer.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
