Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, copyright-headers

make-rst:
  name: make-rst
  entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
  pass_filenames: false
  language: python

copyright-headers:
  name: copyright-headers
  language: python
  entry: python3 misc/scripts/copyright_headers.py

Fix gizmo on top material option having no effect
  editor/plugins/node_3d_editor_gizmos.cpp
Due: copyright-headers

Consistent resizing in nested SplitContainers
  doc/classes/SplitContainer.xml
  editor/debugger/script_editor_debugger.cpp
  editor/editor_dock_manager.cpp
  scene/gui/split_container.cpp
  scene/gui/split_container.h
Due: make-rst, copyright-headers

Fix mistakes in functions srgb_to_linear() and linear_to_srgb()
  core/math/color.h
Due: copyright-headers

Add HeightMapShape3D update with Image data
  doc/classes/HeightMapShape3D.xml
  scene/resources/3d/height_map_shape_3d.cpp
  scene/resources/3d/height_map_shape_3d.h
Due: make-rst, copyright-headers

Increase coverage of timestamps for visual profiler
  drivers/gles3/storage/particles_storage.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/rendering_server_default.cpp
Due: copyright-headers

Fix broken layout of asset library page
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/asset_library_editor_plugin.h
Due: copyright-headers

Can't use subpasses when we're using Canvas background mode in Mobile
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Due: copyright-headers

add partial path return option for astar
  core/math/a_star.compat.inc
  core/math/a_star.cpp
  core/math/a_star.h
  core/math/a_star_grid_2d.compat.inc
  core/math/a_star_grid_2d.cpp
  core/math/a_star_grid_2d.h
  doc/classes/AStar2D.xml
  doc/classes/AStar3D.xml
  doc/classes/AStarGrid2D.xml
  misc/extension_api_validation/4.2-stable.expected
Due: make-rst, copyright-headers

[TextServer] Expose ICU title case string conversion to scripting.
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Due: make-rst, copyright-headers

Make 2D navigation mesh baking parse all TileMapLayers
  modules/navigation/2d/nav_mesh_generator_2d.cpp
Due: copyright-headers

Show TileMap collision debug shape outlines
  scene/2d/tile_map_layer.cpp
  scene/resources/2d/shape_2d.cpp
Due: copyright-headers

Extract parsing command line file to a separate class + add unit tests
  platform/android/java/lib/build.gradle
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/utils/CommandLineFileParser.kt
  platform/android/java/lib/srcTest/java/org/godotengine/godot/utils/CommandLineFileParserTest.kt
Due: none

Fix NavigationServer.set_debug_enabled() doing nothing
  servers/navigation_server_3d.cpp
Due: copyright-headers

Use Reverse Z for the depth buffer
  core/math/projection.cpp
  core/math/projection.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/cube_to_dp.glsl
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/shaders/sky.glsl
  drivers/gles3/storage/light_storage.cpp
  drivers/gles3/storage/texture_storage.cpp
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/effects/debug_effects.cpp
  servers/rendering/renderer_rd/effects/fsr2.cpp
  servers/rendering/renderer_rd/effects/ss_effects.cpp
  servers/rendering/renderer_rd/environment/gi.cpp
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/effects/bokeh_dof.glsl
  servers/rendering/renderer_rd/shaders/effects/bokeh_dof_raster.glsl
  servers/rendering/renderer_rd/shaders/effects/cube_to_dp.glsl
  servers/rendering/renderer_rd/shaders/effects/screen_space_reflection_scale.glsl
  servers/rendering/renderer_rd/shaders/environment/gi.glsl
  servers/rendering/renderer_rd/shaders/environment/sky.glsl
  servers/rendering/renderer_rd/shaders/environment/volumetric_fog_process.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/rendering_device.h
Due: copyright-headers

Add first interaction action to better inform newcomers
  .github/workflows/first_interaction.yml
Due: none

[TileMap] Fix forcing cleanup on exiting tree/canvas
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: copyright-headers

Fix wrong return type mention in AStarGrid2D docs
  doc/classes/AStar2D.xml
  doc/classes/AStar3D.xml
  doc/classes/AStarGrid2D.xml
Due: make-rst

Add GraphFrame and integrate it in VisualShader
  doc/classes/GraphEdit.xml
  doc/classes/GraphElement.xml
  doc/classes/GraphFrame.xml
  doc/classes/VisualShader.xml
  doc/classes/VisualShaderNode.xml
  doc/classes/VisualShaderNodeComment.xml
  doc/classes/VisualShaderNodeFrame.xml
  editor/icons/GraphFrame.svg
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  editor/themes/editor_theme_manager.cpp
  misc/extension_api_validation/4.2-stable.expected
  scene/animation/animation_tree.cpp
  scene/animation/animation_tree.h
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
  scene/gui/graph_element.cpp
  scene/gui/graph_frame.cpp
  scene/gui/graph_frame.h
  scene/gui/graph_node.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/theme/default_theme.cpp
Due: make-rst, copyright-headers

Improve performance by extracting windowManager and getRotatedValues()
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
Due: none

Correctly update TileMapLayer highlighting when disabling it
  editor/plugins/tiles/tile_map_layer_editor.cpp
Due: copyright-headers

Fix AudioStreamSynchronized playing/finished state
  modules/interactive_music/audio_stream_synchronized.cpp
Due: copyright-headers

Core: Use fixed-width integer types in Variant
  core/variant/variant.cpp
  core/variant/variant.h
  platform/ios/detect.py
Due: copyright-headers

Add support for OpenXR composition layers
  doc/classes/RenderingServer.xml
  modules/openxr/config.py
  modules/openxr/doc_classes/OpenXRCompositionLayer.xml
  modules/openxr/doc_classes/OpenXRCompositionLayerCylinder.xml
  modules/openxr/doc_classes/OpenXRCompositionLayerEquirect.xml
  modules/openxr/doc_classes/OpenXRCompositionLayerQuad.xml
  modules/openxr/extensions/openxr_composition_layer_extension.cpp
  modules/openxr/extensions/openxr_composition_layer_extension.h
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/register_types.cpp
  modules/openxr/scene/openxr_composition_layer.cpp
  modules/openxr/scene/openxr_composition_layer.h
  modules/openxr/scene/openxr_composition_layer_cylinder.cpp
  modules/openxr/scene/openxr_composition_layer_cylinder.h
  modules/openxr/scene/openxr_composition_layer_equirect.cpp
  modules/openxr/scene/openxr_composition_layer_equirect.h
  modules/openxr/scene/openxr_composition_layer_quad.cpp
  modules/openxr/scene/openxr_composition_layer_quad.h
  scene/main/viewport.cpp
  servers/rendering/renderer_viewport.cpp
  servers/rendering/renderer_viewport.h
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: make-rst, copyright-headers

Fixes "no cached rect" errors in TileMapLayer editor
  editor/plugins/tiles/tile_map_layer_editor.cpp
  scene/resources/2d/tile_set.h
Due: copyright-headers

Fix negative value for position_smoothing_speed being allowed.
  scene/2d/camera_2d.cpp
Due: copyright-headers

SCons: Fix Ninja compilation with MSVC
  .gitignore
  core/crypto/SCsub
  modules/mbedtls/SCsub
Due: none

Remove Control z-index warning
  scene/gui/control.cpp
Due: copyright-headers

Remove unused header
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_visual_profiler.cpp
  modules/multiplayer/editor/editor_network_profiler.cpp
Due: copyright-headers

Do not save autostart profiler settings
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_profiler.h
  editor/debugger/editor_visual_profiler.cpp
  editor/debugger/editor_visual_profiler.h
  editor/debugger/script_editor_debugger.cpp
  modules/multiplayer/editor/editor_network_profiler.cpp
  modules/multiplayer/editor/editor_network_profiler.h
Due: make-rst, copyright-headers

Implement Autostart Feature for Profiler / Visual Profiler / Network Profiler
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_profiler.h
  editor/debugger/editor_visual_profiler.cpp
  editor/debugger/editor_visual_profiler.h
  editor/debugger/script_editor_debugger.cpp
  modules/multiplayer/editor/editor_network_profiler.cpp
  modules/multiplayer/editor/editor_network_profiler.h
  modules/multiplayer/editor/multiplayer_editor_plugin.cpp
Due: make-rst, copyright-headers

mbedtls: Update to upstream version 2.28.8
  thirdparty/README.md
  thirdparty/mbedtls/include/mbedtls/aesni.h
  thirdparty/mbedtls/include/mbedtls/config.h
  thirdparty/mbedtls/include/mbedtls/ecp.h
  thirdparty/mbedtls/include/mbedtls/net_sockets.h
  thirdparty/mbedtls/include/mbedtls/version.h
  thirdparty/mbedtls/library/aes.c
  thirdparty/mbedtls/library/aesni.c
  thirdparty/mbedtls/library/common.h
  thirdparty/mbedtls/library/ecp.c
  thirdparty/mbedtls/library/ecp_curves.c
  thirdparty/mbedtls/library/entropy_poll.c
  thirdparty/mbedtls/library/gcm.c
  thirdparty/mbedtls/library/net_sockets.c
  thirdparty/mbedtls/library/pk_wrap.c
  thirdparty/mbedtls/library/pkcs12.c
  thirdparty/mbedtls/library/pkcs5.c
  thirdparty/mbedtls/library/pkwrite.c
  thirdparty/mbedtls/library/platform_util.c
  thirdparty/mbedtls/library/ssl_tls.c
  thirdparty/mbedtls/library/timing.c
  thirdparty/mbedtls/library/version_features.c
Due: none

certs: Sync with Mozilla bundle as of Mar 11, 2024
  thirdparty/README.md
  thirdparty/certs/ca-certificates.crt
Due: none

Fix captured variable serialization in delegates
  modules/mono/glue/GodotSharp/GodotSharp/Core/DelegateUtils.cs
Due: none

Remove release_focus()
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_visual_profiler.cpp
  modules/multiplayer/editor/editor_network_profiler.cpp
Due: copyright-headers

SCons: Refactor `selected_platform` conditional
  SConstruct
Due: none

Fix FileSystemDock behavior when dropping an item in the current folder
  editor/filesystem_dock.cpp
Due: copyright-headers

Update lingering `do/while(0)` defines
  core/math/convex_hull.cpp
  core/os/pool_allocator.cpp
  core/variant/variant_op.cpp
  modules/openxr/util.h
Due: copyright-headers

Allow Decal Emission Energy values above 128 in the inspector
  scene/3d/decal.cpp
Due: copyright-headers

Update modules/multiplayer/editor/editor_network_profiler.cpp
  modules/multiplayer/editor/editor_network_profiler.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc|modules|platform).*xml$
  copyright-headers: any of: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$, but not: (?x)^(
  tests/python_build.*|
  .*thirdparty.*|
  .*platform/android/java/lib/src/com.*|
  .*-so_wrap.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
)

