Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Play store crash investigations
  platform/android/display_server_android.cpp
  platform/android/java/lib/src/main/java/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/vulkan/VkThread.kt
Due: copyright-headers

correct keycode to volume down
  platform/macos/godot_application.mm
Due: copyright-headers

avoid running 'GetVolumeInfotmationW' on network drives efficiently
  drivers/windows/dir_access_windows.cpp
Due: copyright-headers

Ensure key is erased in hashmap `instance_shader_parameters` instead of value
  scene/3d/visual_instance_3d.cpp
  scene/main/canvas_item.cpp
Due: copyright-headers

Wayland: Fix IME popup position under fractional scaling on KDE Plasma
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Asset Store: Fix image width on Editor Scales other than 100%
  editor/asset_library/asset_library_editor_plugin.cpp
Due: copyright-headers

Fix axis inversion setting for 3D navigation
  scene/debugger/runtime_node_select.cpp
Due: copyright-headers

Expose the property clipboard
  doc/classes/EditorInspector.xml
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix inspector Array/Dictionary slot button leaks
  editor/inspector/editor_properties_array_dict.cpp
Due: copyright-headers

Fix debug NavigationRegion3D colors not updating until project re-start
  modules/navigation_3d/editor/navigation_region_3d_gizmo_plugin.cpp
Due: copyright-headers

Prevent stale updates to parent maximum size cache
  scene/gui/control.cpp
Due: copyright-headers

Fix children's `parent_maximum_size_cache` unable to update twice in a frame
  scene/gui/control.cpp
Due: copyright-headers

Fix and improve Light3D bake mode descriptions
  doc/classes/Light3D.xml
Due: make-rst, doc-status, validate-xml

Fix 3D ruler tool tooltip
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

Don't use `get_item_idx_from_text()` to disable items
  editor/animation/animation_state_machine_editor.cpp
  editor/docks/scene_tree_dock.cpp
Due: copyright-headers

AudioStreamInteractive: Fix FADE_DISABLED/_OUT with filler clip
  modules/interactive_music/audio_stream_interactive.cpp
Due: copyright-headers

Tree: Fix range cell tooltip displaying full option list
  scene/gui/tree.cpp
  scene/gui/tree.h
Due: copyright-headers, header-guards

Core: Fix `append_utf16` default argument conflict
  core/string/ustring.h
  tests/core/string/test_string.cpp
Due: copyright-headers, header-guards

Clarify global coordinates for PhysicsDirectSpaceState2D queries
  doc/classes/PhysicsDirectSpaceState2D.xml
  doc/classes/PhysicsShapeQueryParameters2D.xml
Due: make-rst, doc-status, validate-xml

Make RID_Owners threadsafe in the Dummy Renderer
  servers/rendering/dummy/storage/material_storage.h
  servers/rendering/dummy/storage/mesh_storage.h
  servers/rendering/dummy/storage/texture_storage.h
Due: copyright-headers, header-guards

Try to track usage instead of globally.
  doc/classes/RenderingDevice.xml
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix Java code style and trailing newline
  platform/android/java/lib/src/main/java/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java/lib/src/main/java/org/godotengine/godot/input/InputEventRunnable.java
Due: copyright-headers

Add Input.get_device_orientation() returning hardware-fused quaternion
  core/input/input.cpp
  core/input/input.h
  doc/classes/Input.xml
  doc/classes/ProjectSettings.xml
  drivers/apple_embedded/display_server_apple_embedded.h
  drivers/apple_embedded/display_server_apple_embedded.mm
  drivers/apple_embedded/godot_view_apple_embedded.mm
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/main/java/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/GodotLib.java
  platform/android/java/lib/src/main/java/org/godotengine/godot/input/GodotInputHandler.java
  platform/android/java/lib/src/main/java/org/godotengine/godot/input/InputEventRunnable.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Apply pre-commit Java formatting (operator spacing, no aligned spaces)
  platform/android/java/lib/src/main/java/org/godotengine/godot/input/GodotInputHandler.java
Due: copyright-headers

Update platform/android/java/lib/src/main/java/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/Godot.kt
Due: none

Android: Address review feedback on rotation sensor path
  platform/android/java/lib/src/main/java/org/godotengine/godot/input/GodotInputHandler.java
Due: copyright-headers

Sort device_orientation entries alphabetically in XML docs
  doc/classes/Input.xml
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status, validate-xml

Update doc/classes/Input.xml
  doc/classes/Input.xml
Due: make-rst, doc-status, validate-xml

Android: Rename remaining mRotationVector use-sites after rename suggestion
  platform/android/java/lib/src/main/java/org/godotengine/godot/Godot.kt
Due: none

[Editor] Load both exact match and base language translations.
  editor/translations/editor_translation.cpp
Due: copyright-headers

Improve type info in many debug prints
  core/object/object.cpp
  core/object/object.h
  core/object/script_language.cpp
  core/object/script_language.h
  core/variant/array.cpp
  core/variant/array.h
  core/variant/container_type_validate.h
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant.cpp
  core/variant/variant.h
  core/variant/variant_callable.cpp
  core/variant/variant_utility.cpp
  core/variant/variant_utility.h
  doc/classes/@GlobalScope.xml
  doc/classes/Script.xml
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_utility_functions.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/errors/construct_abstract_class.out
  modules/gdscript/tests/scripts/runtime/errors/for_loop_iterator_array_size.out
  modules/gdscript/tests/scripts/runtime/errors/invalid_property_assignment.out
  modules/gdscript/tests/scripts/runtime/errors/non_static_method_call_on_native_class.out
  modules/gdscript/tests/scripts/runtime/errors/outer_class_constants.out
  modules/gdscript/tests/scripts/runtime/errors/typed_array.out
  modules/gdscript/tests/scripts/runtime/errors/typed_dictionary.out
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

tests fully passing
  scene/resources/resource_format_text.cpp
  scene/resources/resource_format_text.h
  tests/core/io/test_resource.cpp
Due: copyright-headers, header-guards

Fix crash when setting the root Viewport's World3D to null
  scene/main/viewport.cpp
Due: copyright-headers

Deduplicate context and file menu options
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
Due: copyright-headers, header-guards

fix memory leaks
  tests/core/io/test_resource.cpp
Due: copyright-headers

Updated the HSldier and VSldier styling options
  doc/classes/Slider.xml
  editor/scene/gui/theme_editor_preview.cpp
  scene/gui/slider.cpp
  scene/gui/slider.h
  scene/theme/default_theme.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fixed focus overlay not rendering as expected
  scene/gui/slider.cpp
Due: copyright-headers

Allow disabling 2D when compiling export templates
  SConstruct
  modules/tilemap/config.py
  scene/2d/SCsub
  scene/SCsub
  scene/debugger/runtime_node_select.cpp
  scene/debugger/runtime_node_select.h
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
  scene/main/canvas_item.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/register_scene_types.cpp
  scene/resources/SCsub
  scene/resources/packed_scene.cpp
  scene/resources/world_2d.h
Due: copyright-headers, header-guards

Improved button styling
  doc/classes/Button.xml
  scene/gui/base_button.cpp
  scene/gui/button.cpp
  scene/gui/button.h
  scene/theme/default_theme.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

