Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Android: Handle stride-aligned camera planes
  modules/camera/camera_android.cpp
  modules/camera/camera_android.h
Due: copyright-headers, header-guards

fix: relax vswhere command conditions for broader compatibility
  methods.py
Due: none

DRY getting cell terrain pattern
  editor/scene/2d/tiles/tile_map_layer_editor.cpp
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: copyright-headers, header-guards

Replace RBSet<TerrainConstraint> with RBMap and new TerrainConstraints class
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: copyright-headers, header-guards

DRY preparing to fill terrain
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: copyright-headers, header-guards

CLI issues
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: copyright-headers, header-guards

Improved performance of terrain painting by removing many redundant operations
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: copyright-headers, header-guards

Added ability to get a list of project settings changed.
  core/config/project_settings.cpp
  core/config/project_settings.h
  doc/classes/ProjectSettings.xml
  tests/core/config/test_project_settings.h
Due: make-rst, doc-status, copyright-headers, header-guards

Update make_shader_material error handling to use ERR_FAIL_V_MSG
  editor/scene/material_editor_plugin.cpp
Due: copyright-headers

Automatically open newly created script
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
Due: copyright-headers, header-guards

Shader Baker: Fix Linux export warning
  editor/export/shader_baker_export_plugin.cpp
  editor/export/shader_baker_export_plugin.h
Due: copyright-headers, header-guards

Fix: Allow conversion of uninitialized SkyMaterials
  editor/scene/material_editor_plugin.cpp
Due: copyright-headers

Add `RequiredParam<T>` and `RequiredValue<T>` to mark `Object *` arguments and return values as required
  core/error/error_macros.h
  core/extension/extension_api_dump.cpp
  core/extension/gdextension_interface.h
  core/object/object.h
  core/typedefs.h
  core/variant/binder_common.h
  core/variant/method_ptrcall.h
  core/variant/required_ptr.h
  core/variant/type_info.h
  core/variant/variant_internal.h
  tests/core/object/test_object.h
Due: copyright-headers, header-guards

Use `RequiredParam` and `RequiredResult` in a handful of places in order to test
  core/core_bind.cpp
  core/core_bind.h
  core/io/resource_saver.cpp
  core/io/resource_saver.h
  scene/animation/tween.cpp
  scene/animation/tween.h
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Due: copyright-headers, header-guards

Docs: Proofreading for grammar and spelling
  doc/classes/Camera3D.xml
  doc/classes/CameraAttributesPhysical.xml
  doc/classes/CanvasItem.xml
  doc/classes/CanvasLayer.xml
  doc/classes/EditorImportPlugin.xml
  doc/classes/InputEvent.xml
  doc/classes/Marker2D.xml
  doc/classes/Marker3D.xml
  doc/classes/NavigationAgent2D.xml
  doc/classes/NavigationAgent3D.xml
  doc/classes/NavigationObstacle2D.xml
  doc/classes/NavigationObstacle3D.xml
  doc/classes/NavigationPathQueryParameters2D.xml
  doc/classes/NavigationPathQueryParameters3D.xml
  doc/classes/NavigationRegion2D.xml
  doc/classes/NavigationRegion3D.xml
  doc/classes/NavigationServer2D.xml
  doc/classes/NavigationServer3D.xml
  doc/classes/OS.xml
  doc/classes/PackedByteArray.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RDPipelineRasterizationState.xml
  doc/classes/SkeletonIK3D.xml
  doc/classes/SkeletonModification2D.xml
  doc/classes/SkeletonModificationStack2D.xml
  doc/classes/SkeletonProfile.xml
  doc/classes/SpringBoneSimulator3D.xml
  doc/classes/TextEdit.xml
  doc/classes/TileSet.xml
  doc/classes/Viewport.xml
  doc/classes/VisualShaderNode.xml
  doc/classes/VisualShaderNodeParticleEmit.xml
Due: make-rst, doc-status

Focus shader text editor when opened with quick open dialog
  editor/shader/shader_editor_plugin.cpp
  editor/shader/shader_editor_plugin.h
Due: copyright-headers, header-guards

Move `WeakRef` to `CoreBind`, since it shouldn't be (and isn't) used internally.
  core/core_bind.cpp
  core/core_bind.h
  core/object/ref_counted.cpp
  core/object/ref_counted.h
  core/register_core_types.cpp
  core/variant/variant_utility.cpp
  modules/mono/glue/runtime_interop.cpp
  modules/objectdb_profiler/editor/snapshot_data.cpp
Due: copyright-headers, header-guards

Improve PROPERTY_USAGE_ARRAY description
  doc/classes/@GlobalScope.xml
Due: make-rst, doc-status

WIP
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Due: copyright-headers, header-guards

Bind enum and fix doc
  doc/classes/RigidBody3D.xml
  servers/physics_3d/physics_server_3d.cpp
Due: make-rst, doc-status, copyright-headers

Fix tree item editable area missing icon max width bug
  scene/gui/tree.cpp
Due: copyright-headers

Fix PopupMenu submenu item not popping on mouse enter
  doc/classes/PopupMenu.xml
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Due: make-rst, doc-status, copyright-headers, header-guards

build optimised for web
  custom.py
Due: none

Simplify Node Filter's placeholder in Scene dock
  editor/docks/scene_tree_dock.cpp
Due: copyright-headers

Convert 3.x `transform` animation tracks
  editor/import/3d/resource_importer_scene.cpp
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
  scene/resources/animation.cpp
  scene/resources/animation.h
Due: copyright-headers, header-guards

Support setting old `material/#` properties on MeshInstance3D
  scene/3d/mesh_instance_3d.cpp
Due: copyright-headers

Add `_start_load()`, `_finish_load()` to `Resource`
  core/io/resource.cpp
  core/io/resource.h
  core/io/resource_format_binary.cpp
  scene/resources/resource_format_text.cpp
  scene/resources/resource_format_text.h
Due: copyright-headers, header-guards

Convert 3.x shaders
  editor/shader/text_shader_editor.cpp
  editor/shader/text_shader_editor.h
  scene/resources/shader.cpp
  scene/resources/shader.h
  servers/rendering/shader_converter.cpp
  servers/rendering/shader_converter.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  tests/servers/rendering/test_shader_converter.h
  tests/servers/rendering/test_shader_language.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

Adds check for value changed.
  scene/gui/virtual_joystick.cpp
Due: copyright-headers

Refactor Create New options
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
Due: copyright-headers, header-guards

Corrected enum order
  doc/classes/PhysicsServer3D.xml
  servers/physics_3d/physics_server_3d.h
Due: make-rst, doc-status, copyright-headers, header-guards

Refactor Bottom Panel to be a TabContainer
  doc/classes/EditorPlugin.xml
  editor/debugger/debugger_editor_plugin.cpp
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
  editor/docks/editor_dock_manager.cpp
  editor/docks/editor_dock_manager.h
  editor/editor_log.cpp
  editor/editor_log.h
  editor/editor_node.cpp
  editor/gui/editor_bottom_panel.cpp
  editor/gui/editor_bottom_panel.h
  editor/script/script_editor_plugin.cpp
  editor/shader/shader_editor_plugin.cpp
  editor/shader/shader_editor_plugin.h
  editor/themes/theme_classic.cpp
  editor/themes/theme_modern.cpp
  editor/version_control/version_control_editor_plugin.cpp
  editor/version_control/version_control_editor_plugin.h
Due: make-rst, doc-status, copyright-headers, header-guards

Allow conversion of uninitialized SkyMaterials
  editor/scene/material_editor_plugin.cpp
Due: copyright-headers

Fix GDScript code sample for `@GlobalScope.instance_from_id()`
  doc/classes/@GlobalScope.xml
Due: make-rst, doc-status

Fix consume_line_continuations() skipping characters
  servers/rendering/shader_preprocessor.cpp
  servers/rendering/shader_preprocessor.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
