Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Support signals
  modules/camera/camera_win.cpp
Due: copyright-headers

Add CameraFeed support for Windows
  modules/camera/SCsub
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Update CameraServer and CameraFeed xml
  doc/classes/CameraFeed.xml
  doc/classes/CameraServer.xml
Due: make-rst, doc-status

Refactor error handling
  modules/camera/camera_win.cpp
Due: copyright-headers

Add Media Foundation conversion and support for additional camera formats
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Decode image using BufferDecoder
  modules/camera/SCsub
  modules/camera/buffer_decoder.cpp
  modules/camera/buffer_decoder.h
  modules/camera/camera_feed_linux.cpp
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Prevent infinite loop in set_monitoring_feeds
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Update code style
  modules/camera/buffer_decoder.cpp
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Tweak
  modules/camera/buffer_decoder.cpp
  modules/camera/camera_win.cpp
Due: copyright-headers

Improve more safely
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Fix camera reactivation with IMFActivate
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

log hint for device-in-use errors
  modules/camera/camera_win.cpp
Due: copyright-headers

Fix camera color order and flip issues on Windows laptops
  modules/camera/buffer_decoder.cpp
  modules/camera/buffer_decoder.h
  modules/camera/camera_win.cpp
Due: copyright-headers, header-guards

Add Zed to External Editor exec flags autofill
  editor/settings/editor_settings.cpp
Due: copyright-headers

Fix crash when box selecting remote 3D physics nodes
  scene/debugger/scene_debugger.cpp
Due: copyright-headers

HDR output for linuxbsd (wayland)
  doc/classes/DisplayServer.xml
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
  thirdparty/wayland-protocols/staging/color-management/README
  thirdparty/wayland-protocols/staging/color-management/color-management-v1.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Use RenderingContextDriverVulkan to conditionally disable metadata
  drivers/vulkan/rendering_context_driver_vulkan.cpp
  drivers/vulkan/rendering_context_driver_vulkan.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  platform/linuxbsd/wayland/rendering_context_driver_vulkan_wayland.cpp
  platform/linuxbsd/wayland/rendering_context_driver_vulkan_wayland.h
Due: copyright-headers, header-guards

Document TextMesh performance caveats
  doc/classes/TextMesh.xml
Due: make-rst, doc-status

Document popups being invisible by default
  doc/classes/AcceptDialog.xml
  doc/classes/ConfirmationDialog.xml
  doc/classes/EditorFileDialog.xml
  doc/classes/FileDialog.xml
  doc/classes/Popup.xml
  doc/classes/PopupMenu.xml
Due: make-rst, doc-status

Improve `Environment` saturation color adjustment.
  drivers/gles3/shaders/effects/post.glsl
  scene/resources/environment.cpp
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
Due: copyright-headers

Add `agx_white` and `agx_contrast` parameters to the AgX tonemapper.
  doc/classes/Environment.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/effects/post.glsl
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/shaders/sky.glsl
  drivers/gles3/shaders/tonemap_inc.glsl
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/renderer_rd/effects/tone_mapper.cpp
  servers/rendering/renderer_rd/effects/tone_mapper.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/environment_storage.cpp
  servers/rendering/storage/environment_storage.h
Due: make-rst, doc-status, copyright-headers, header-guards

Disabled "tonemap" feature in editor preview environment by default to give better out-of-the-box HDR experience
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

Removed comment that is always unnecessarily conflicting with my AgX PR.
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
Due: none

[TextServer] Fix range for zero-width glyphs extra spacing.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_fb/text_server_fb.cpp
Due: copyright-headers

CI: Add hook to validate includes
  .clang-format
  .pre-commit-config.yaml
  misc/scripts/validate_includes.py
  misc/utility/clang_format_glsl.yml
Due: none

Add unit tests for StreamPeerTCP
  tests/core/io/test_stream_peer_tcp.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

Even more minor review fixes
  scene/2d/navigation/navigation_obstacle_2d.cpp
  scene/2d/navigation/navigation_region_2d.cpp
  scene/2d/physics/collision_polygon_2d.cpp
  scene/2d/physics/collision_shape_2d.cpp
  scene/2d/physics/joints/damped_spring_joint_2d.cpp
  scene/2d/physics/joints/damped_spring_joint_2d.h
  scene/2d/physics/joints/groove_joint_2d.cpp
  scene/2d/physics/joints/groove_joint_2d.h
  scene/2d/physics/joints/pin_joint_2d.cpp
  scene/2d/physics/joints/pin_joint_2d.h
  scene/2d/physics/ray_cast_2d.cpp
  scene/2d/physics/ray_cast_2d.h
  scene/2d/physics/shape_cast_2d.cpp
  scene/2d/visible_on_screen_notifier_2d.cpp
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
Due: copyright-headers, header-guards

Fixes to AgX PR cherry pick.
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/storage/environment_storage.cpp
Due: copyright-headers

Further optimized Reinhard tonemapper for Forward+/Mobile
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
  servers/rendering/storage/environment_storage.cpp
Due: copyright-headers

Refactor Bottom Panel to be a TabContainer
  doc/classes/EditorPlugin.xml
  editor/debugger/debugger_editor_plugin.cpp
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
  editor/docks/editor_dock_manager.cpp
  editor/docks/editor_dock_manager.h
  editor/editor_log.cpp
  editor/editor_log.h
  editor/editor_node.cpp
  editor/gui/editor_bottom_panel.cpp
  editor/gui/editor_bottom_panel.h
  editor/script/script_editor_plugin.cpp
  editor/shader/shader_editor_plugin.cpp
  editor/shader/shader_editor_plugin.h
  editor/themes/editor_theme_manager.cpp
  editor/version_control/version_control_editor_plugin.cpp
  editor/version_control/version_control_editor_plugin.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix SDFGI dynamic light culling with Y-scaled cascades
  servers/rendering/renderer_rd/environment/gi.cpp
Due: copyright-headers

Adjust StyleBoxFlat antialiasing to account for Viewport oversampling
  scene/resources/style_box_flat.cpp
Due: copyright-headers

Add Persistent Buffers
  doc/classes/RenderingDevice.xml
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/metal/metal_objects.h
  drivers/metal/metal_objects.mm
  drivers/metal/rendering_device_driver_metal.h
  drivers/metal/rendering_device_driver_metal.mm
  drivers/metal/rendering_shader_container_metal.h
  drivers/metal/rendering_shader_container_metal.mm
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  editor/export/shader_baker_export_plugin.cpp
  editor/export/shader_baker_export_plugin.h
  servers/rendering/multi_uma_buffer.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
  servers/rendering/renderer_rd/shader_rd.cpp
  servers/rendering/renderer_rd/shader_rd.h
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_commons.h
  servers/rendering/rendering_device_driver.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
  servers/rendering/rendering_shader_container.cpp
  servers/rendering/rendering_shader_container.h
  thirdparty/d3d12ma/D3D12MemAlloc.cpp
  thirdparty/d3d12ma/D3D12MemAlloc.h
  thirdparty/d3d12ma/LICENSE.txt
  thirdparty/d3d12ma/README.md
  thirdparty/d3d12ma/patches/0001-mingw-support.patch
Due: make-rst, doc-status, copyright-headers, header-guards

Fix BaseMaterial3D UV Offset/Scale and Emission on UV2 ignored when baking VoxelGI
  scene/3d/voxelizer.cpp
  scene/3d/voxelizer.h
Due: copyright-headers, header-guards

Refactor SDFGI cascade AABB calculation to use cached y_scale vector
  servers/rendering/renderer_rd/environment/gi.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
