Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Address various suggestions/improvements
  doc/classes/EditorSettings.xml
  editor/editor_resource_picker.cpp
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
Due: make-rst, doc-status, copyright-headers, header-guards

Allow Quick Open dialog to preview change in scene
  doc/classes/EditorSettings.xml
  editor/editor_properties.cpp
  editor/editor_resource_picker.cpp
  editor/editor_resource_picker.h
  editor/editor_settings.cpp
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
Due: make-rst, doc-status, copyright-headers, header-guards

Only allow Instant Preview to be used if Quick Open menu is being used to modify a property
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
Due: copyright-headers, header-guards

Only allow property-based Quick Load when resource to modify is defined (otherwise default to old behavior)
  editor/editor_resource_picker.cpp
Due: copyright-headers

Support for deprecated display in language server
  core/object/script_language.h
  doc/classes/CodeEdit.xml
  editor/code_editor.cpp
  misc/extension_api_validation/4.4-stable.expected
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/godot_lsp.h
  modules/mono/glue/GodotSharp/GodotSharp/Compat.cs
  scene/gui/code_edit.compat.inc
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  tests/scene/test_code_edit.h
Due: make-rst, doc-status, copyright-headers, header-guards

Comments spelling fixes
  core/templates/tuple.h
  modules/gltf/skin_tool.cpp
  modules/zip/doc_classes/ZIPPacker.xml
  platform/macos/display_server_embedded.h
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Due: make-rst, doc-status, copyright-headers, header-guards

Ruler Mode Enhancement for 3D Scene
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Add legacy wayland-drm protocol
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/wayland/snooper.h
  thirdparty/README.md
  thirdparty/mesa/src/egl/wayland/wayland-drm/wayland-drm.xml
Due: copyright-headers, header-guards

Fix the issue of GLSL code format checking
  servers/rendering/renderer_rd/shaders/effects/sgsr1/sgsr1_shader_mobile.glsl
Due: none

Fix GDScript tooltip showing global method overrides with warnings.
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/scripts/analyzer/warnings/overriding_native_method.gd
  modules/gdscript/tests/scripts/analyzer/warnings/overriding_native_method.out
Due: copyright-headers, header-guards

ShaderCompiler: Optimize compilation error printing
  servers/rendering/renderer_rd/shader_rd.cpp
  servers/rendering/shader_compiler.cpp
Due: copyright-headers

Track and report wl_drm state on instance binding
  platform/linuxbsd/wayland/snooper.cpp
  platform/linuxbsd/wayland/snooper.h
Due: copyright-headers, header-guards

Track and report wl_shm state on instance binding
  platform/linuxbsd/wayland/snooper.cpp
  platform/linuxbsd/wayland/snooper.h
Due: copyright-headers, header-guards

Change `Node` children to use `LocalVector`
  scene/main/node.cpp
  scene/main/node.h
Due: copyright-headers, header-guards

Add note about possible uselessness of wl_drm support
  platform/linuxbsd/wayland/snooper.cpp
Due: copyright-headers

Add tracking note to TODO list
  platform/linuxbsd/wayland/snooper.cpp
Due: copyright-headers

feat: nested arrays, and partial completion of nested dictionaries
  core/variant/array.cpp
  core/variant/array.h
  core/variant/container_type_validate.h
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Due: copyright-headers, header-guards

fix: update array and container type validate to fully recurse, and remove temporary comments
  core/variant/array.cpp
  core/variant/array.h
  core/variant/container_type_validate.h
Due: copyright-headers, header-guards

OpenXR: Adding support for the render model extension
  doc/classes/ProjectSettings.xml
  main/main.cpp
  modules/openxr/config.py
  modules/openxr/doc_classes/OpenXRExtensionWrapper.xml
  modules/openxr/doc_classes/OpenXRRenderModel.xml
  modules/openxr/doc_classes/OpenXRRenderModelExtension.xml
  modules/openxr/doc_classes/OpenXRRenderModelManager.xml
  modules/openxr/extensions/openxr_extension_wrapper.cpp
  modules/openxr/extensions/openxr_extension_wrapper.h
  modules/openxr/extensions/openxr_render_model_extension.cpp
  modules/openxr/extensions/openxr_render_model_extension.h
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_uuid.h
  modules/openxr/register_types.cpp
  modules/openxr/scene/openxr_render_model.cpp
  modules/openxr/scene/openxr_render_model.h
  modules/openxr/scene/openxr_render_model_manager.cpp
  modules/openxr/scene/openxr_render_model_manager.h
Due: make-rst, doc-status, copyright-headers, header-guards

fix: ensure recursion is working and improve comments
  core/variant/array.cpp
  core/variant/array.h
  core/variant/container_type_validate.h
  modules/gdscript/gdscript_parser.cpp
Due: copyright-headers, header-guards

fix: remove over generic sillyness
  modules/gdscript/gdscript_parser.cpp
Due: copyright-headers

Add a fade in to stream playback on start
  servers/audio_server.cpp
  servers/audio_server.h
Due: copyright-headers, header-guards

lint: fix formatting
  core/variant/array.cpp
  core/variant/array.h
  core/variant/container_type_validate.h
  modules/gdscript/gdscript_analyzer.cpp
Due: copyright-headers, header-guards

Improve `ResourceLoader.get_dependencies()`'s description
  doc/classes/ResourceFormatLoader.xml
  doc/classes/ResourceLoader.xml
Due: make-rst, doc-status

Remove get_used_cells to avoid unecessary allocations in navigation baking
  editor/plugins/tiles/tiles_editor_plugin.cpp
  scene/2d/tile_map_layer.cpp
Due: copyright-headers

fix + update
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/animation_track_editor_plugins.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
Due: copyright-headers, header-guards

Fix ensure compatibility
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_viewport.cpp
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add support for running hybrid apps from the XR editor
  editor/debugger/editor_debugger_node.cpp
  editor/editor_node.cpp
  platform/android/SCsub
  platform/android/editor/editor_utils_jni.cpp
  platform/android/editor/editor_utils_jni.h
  platform/android/editor/game_menu_utils_jni.cpp
  platform/android/editor/game_menu_utils_jni.h
  platform/android/java/editor/build.gradle
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotGame.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/EditorMessageDispatcher.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotGame.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/embed/EmbeddedGodotGame.kt
  platform/android/java/lib/build.gradle
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotActivity.kt
  platform/android/java/lib/src/org/godotengine/godot/editor/utils/EditorUtils.kt
  platform/android/java/lib/src/org/godotengine/godot/editor/utils/GameMenuUtils.kt
  platform/android/java/lib/src/org/godotengine/godot/xr/HybridAppUtils.kt
Due: copyright-headers, header-guards

Fix scale and position of popups with `force_native`.
  scene/gui/menu_button.cpp
  scene/gui/option_button.cpp
  scene/gui/popup_menu.cpp
  scene/main/viewport.h
  scene/main/window.cpp
  scene/main/window.h
Due: copyright-headers, header-guards

Fix the code formatting
  servers/rendering/renderer_rd/effects/sgsr1.cpp
  servers/rendering/renderer_rd/effects/sgsr1.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/effects/sgsr1/sgsr1_shader_mobile.glsl
Due: copyright-headers, header-guards

Get tilemap polygons
  doc/classes/TileMapLayer.xml
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: make-rst, doc-status, copyright-headers, header-guards

Allow non-self-contained `dotnet publish`
  modules/mono/editor/GodotTools/GodotTools/Build/BuildInfo.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/Build/BuildSystem.cs
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/hostfxr_resolver.cpp
  modules/mono/mono_gd/hostfxr_resolver.h
  modules/mono/mono_gd/semver.cpp
  modules/mono/mono_gd/semver.h
Due: copyright-headers, header-guards

Add reversed zoom settings in "editors/3d/navigation/zoom_style" for actual default Maya behavior.
  editor/editor_settings.cpp
  editor/editor_settings_dialog.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Fix Resource Duplication test errors
  tests/core/io/test_resource.h
Due: copyright-headers, header-guards

Fix tests warning line break project setting
  main/main.cpp
  servers/text_server.cpp
Due: copyright-headers

LSP: Extract annotations from `EditorHelp`
  modules/gdscript/language_server/gdscript_workspace.cpp
Due: copyright-headers

Editor: Add some gizmo handles for `MeshInstance3D`
  editor/plugins/gizmos/gizmo_3d_helper.cpp
  editor/plugins/gizmos/gizmo_3d_helper.h
  editor/plugins/gizmos/mesh_instance_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/mesh_instance_3d_gizmo_plugin.h
Due: copyright-headers, header-guards

LSP: Don't serialize empty documentation
  modules/gdscript/language_server/godot_lsp.h
Due: copyright-headers, header-guards

Highlighting: Improve enum support
  modules/gdscript/editor/gdscript_highlighter.cpp
Due: copyright-headers
