Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Add `profiler` option to `SCons` builds. Add `tracy` option to `profiler`. If set, a tracy profiling client will be injected into the Godot binary.
  SConstruct
  core/SCsub
  core/profiling/SCsub
  core/profiling/profiling.cpp
  core/profiling/profiling.h
  core/profiling/profiling_builders.py
  platform/android/java_godot_lib_jni.cpp
  platform/linuxbsd/godot_linuxbsd.cpp
  platform/macos/godot_main_macos.mm
  platform/macos/os_macos.mm
  platform/visionos/main_visionos.mm
  platform/web/web_main.cpp
  platform/windows/godot_windows.cpp
Due: copyright-headers, header-guards

Add some important profiling hooks.
  core/profiling/profiling.cpp
  core/profiling/profiling.h
  drivers/apple_embedded/os_apple_embedded.mm
  main/main.cpp
  platform/android/os_android.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  platform/macos/godot_content_view.mm
  platform/macos/os_macos.mm
  platform/web/os_web.cpp
  platform/windows/os_windows.cpp
  scene/main/scene_tree.cpp
  servers/rendering/renderer_viewport.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_server_default.cpp
Due: copyright-headers, header-guards

wip
  servers/audio/audio_stream.cpp
  servers/audio/audio_stream.h
Due: copyright-headers, header-guards

Add Parallax2D Preview
  doc/classes/EditorSettings.xml
  editor/register_editor_types.cpp
  editor/scene/2d/parallax_2d_editor_plugin.cpp
  editor/scene/2d/parallax_2d_editor_plugin.h
  editor/settings/editor_settings.cpp
  scene/2d/parallax_2d.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Tile Baking Setting for NavigationRegion3D
  doc/classes/NavigationMesh.xml
  modules/navigation_3d/3d/nav_mesh_generator_3d.cpp
  modules/navigation_3d/3d/nav_mesh_generator_3d.h
  scene/resources/navigation_mesh.cpp
  scene/resources/navigation_mesh.h
Due: make-rst, doc-status, copyright-headers, header-guards

Added Copy/Paste Properties For Groups
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
  editor/scene/3d/skeleton_3d_editor_plugin.cpp
Due: copyright-headers, header-guards

Allow localizing the application name with project translations
  core/config/project_settings.cpp
  core/string/translation_server.cpp
  core/string/translation_server.h
  doc/classes/ProjectSettings.xml
  editor/editor_node.cpp
  editor/export/editor_export_platform_apple_embedded.cpp
  editor/translations/localization_editor.cpp
  editor/translations/template_generator.cpp
  main/main.cpp
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/macos/export/export_plugin.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Scene Dock: Simplify Filter Nodes related UI
  editor/docks/scene_tree_dock.cpp
  editor/docks/scene_tree_dock.h
Due: copyright-headers, header-guards

Initial working set_mass_properties commit
  modules/godot_physics_3d/godot_body_3d.cpp
  modules/godot_physics_3d/godot_body_3d.h
  modules/godot_physics_3d/godot_physics_server_3d.cpp
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/jolt_physics/jolt_physics_server_3d.cpp
  modules/jolt_physics/jolt_physics_server_3d.h
  modules/jolt_physics/objects/jolt_body_3d.cpp
  modules/jolt_physics/objects/jolt_body_3d.h
  scene/3d/physics/rigid_body_3d.cpp
  scene/3d/physics/rigid_body_3d.h
  servers/physics_3d/physics_server_3d.cpp
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_dummy.h
  servers/physics_3d/physics_server_3d_extension.cpp
  servers/physics_3d/physics_server_3d_extension.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
Due: copyright-headers, header-guards

Doc updated
  doc/classes/PhysicsServer3D.xml
  doc/classes/RigidBody3D.xml
Due: make-rst, doc-status

Fix incorrect material and mesh thumbnails
  editor/inspector/editor_resource_preview.cpp
  editor/inspector/editor_resource_preview.h
Due: copyright-headers, header-guards

Fix LSP symbol lookup failing due to skipping a character
  modules/gdscript/language_server/gdscript_extend_parser.cpp
Due: copyright-headers

Add `instance_index` option to parameters in visual shaders
  doc/classes/VisualShaderNodeParameter.xml
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Revamp autoload creation
  editor/scene/scene_create_dialog.cpp
  editor/scene/scene_create_dialog.h
  editor/settings/editor_autoload_settings.cpp
  editor/settings/editor_autoload_settings.h
  editor/settings/project_settings_editor.cpp
Due: copyright-headers, header-guards

Image: Properly round floating point values to integers
  core/io/image.cpp
Due: copyright-headers

Fix partially received packets in web build
  modules/websocket/emws_peer.cpp
  modules/websocket/packet_buffer.h
Due: copyright-headers, header-guards

Prevent emitting signals when previewing resource
  editor/gui/editor_quick_open_dialog.cpp
Due: copyright-headers

disable discard and frag errors in gdshaderinc
  servers/rendering/shader_language.cpp
Due: copyright-headers

Re-implement `scu_build` without globbing.
  SConstruct
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  methods.py
  scu_builders.py
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Due: copyright-headers

Fix incorrect IPv6 validation logic in String::is_valid_ip_address()
  core/string/ustring.cpp
Due: copyright-headers

Expose PropertyUsageFlags in ExportAttribute
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGenerator.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/ExportAttribute.cs
Due: none

Fix editor crash on exit
  platform/android/editor/game_menu_utils_jni.cpp
  platform/android/os_android.cpp
Due: copyright-headers

Add error message to Quick Open dialog if callback is invalid
  editor/gui/editor_quick_open_dialog.cpp
Due: copyright-headers

Add `SizeContainer`
  doc/classes/SizeContainer.xml
  scene/gui/size_container.cpp
  scene/gui/size_container.h
Due: make-rst, doc-status, copyright-headers, header-guards

Small correction to doc
  doc/classes/PhysicsServer3D.xml
Due: make-rst, doc-status

Fix custom audio track blend flag on reimport
  scene/resources/animation.cpp
Due: copyright-headers

Jolt: Don't try to wake up static bodies
  modules/jolt_physics/objects/jolt_body_3d.cpp
Due: copyright-headers

Fix CylinderShape3D property order to match other shapes.
  scene/resources/3d/cylinder_shape_3d.cpp
Due: copyright-headers

Add bracket pair colorization for GDScript
  doc/classes/EditorSettings.xml
  editor/settings/editor_settings.cpp
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/editor/gdscript_highlighter.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add “Inherit Emitter Scale” flag to ParticleProcessMaterial
  doc/classes/ParticleProcessMaterial.xml
  scene/resources/particle_process_material.cpp
  scene/resources/particle_process_material.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix Polygon2D disappearing when sync bones without painting weights
  scene/2d/polygon_2d.cpp
Due: copyright-headers

Fixed formatting
  modules/navigation_3d/3d/nav_mesh_generator_3d.cpp
Due: copyright-headers

Fix incorrectly range for expressions
  modules/gdscript/gdscript_parser.cpp
Due: copyright-headers

v2 Implement audio absolute time and scheduled play
  doc/classes/AudioServer.xml
  doc/classes/AudioStreamPlaybackScheduled.xml
  doc/classes/ScheduledAudioStreamPlayer.xml
  doc/classes/ScheduledAudioStreamPlayer2D.xml
  doc/classes/ScheduledAudioStreamPlayer3D.xml
  editor/icons/ScheduledAudioStreamPlayer.svg
  editor/icons/ScheduledAudioStreamPlayer2D.svg
  editor/icons/ScheduledAudioStreamPlayer3D.svg
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/audio_stream_player_2d.h
  scene/2d/scheduled_audio_stream_player_2d.cpp
  scene/2d/scheduled_audio_stream_player_2d.h
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/audio_stream_player_3d.h
  scene/3d/scheduled_audio_stream_player_3d.cpp
  scene/3d/scheduled_audio_stream_player_3d.h
  scene/audio/audio_stream_player.cpp
  scene/audio/audio_stream_player.h
  scene/audio/audio_stream_player_internal.cpp
  scene/audio/audio_stream_player_internal.h
  scene/audio/scheduled_audio_stream_player.cpp
  scene/audio/scheduled_audio_stream_player.h
  scene/register_scene_types.cpp
  scene/resources/audio_stream_playback_scheduled.cpp
  scene/resources/audio_stream_playback_scheduled.h
  servers/audio/audio_server.cpp
  servers/audio/audio_server.h
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

PopupMenu: Add theme option for merging icon and checkbox gutters
  doc/classes/PopupMenu.xml
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
  scene/theme/default_theme.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Move the line of calling animation_finished signal to ensure stopping
  scene/animation/animation_player.cpp
Due: copyright-headers

Fix JacobianIK to apply gradient correctly
  doc/classes/JacobianIK3D.xml
  scene/3d/jacobian_ik_3d.cpp
Due: make-rst, doc-status, copyright-headers

Prevent instant transforms when region selecting or using ruler
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers
