Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

GDScript: Invalidate cached parser chain when reloading
  modules/gdscript/gdscript_cache.cpp
  modules/gdscript/gdscript_cache.h
Due: copyright-headers, header-guards

Mention timeout unit in ENetConnection::service docs
  modules/enet/doc_classes/ENetConnection.xml
Due: make-rst, doc-status

Fix orphan StringName's in ShaderLanguage
  servers/rendering/shader_language.cpp
Due: copyright-headers

[Button] Use align_to_largest_stylebox for min. size calculation.
  doc/classes/Button.xml
  scene/gui/button.cpp
Due: make-rst, doc-status, copyright-headers

Added reference to AnimationMixer.root_motion_track
  doc/classes/Animation.xml
  doc/classes/AnimationMixer.xml
Due: make-rst, doc-status

Speed up scene group scanning for text scenes
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
Due: copyright-headers, header-guards

Fix asset pipeline coordinate systems doc url
  doc/classes/Basis.xml
  doc/classes/Transform3D.xml
Due: make-rst, doc-status

Enable usage of asan-enabled versions of prebuilt libraries
  platform/windows/detect.py
Due: none

Clarify that the `Mesh.ARRAY_NORMAL` array will normalize its contents internally
  doc/classes/Mesh.xml
Due: make-rst, doc-status

Fix crashes reported by the Google Play Console
  main/main.cpp
  platform/android/java/app/config.gradle
  platform/android/java/editor/build.gradle
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotFragment.java
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java/lib/src/org/godotengine/godot/utils/BenchmarkUtils.kt
Due: copyright-headers

Clamp bezier handle length to half the length of animation
  editor/animation_bezier_editor.cpp
  editor/animation_bezier_editor.h
  editor/animation_track_editor.cpp
  scene/resources/animation.cpp
  scene/resources/animation.h
Due: copyright-headers, header-guards

Fix custom resources often missing from Quick Load dialog
  editor/editor_file_system.cpp
Due: copyright-headers

Fix sprite frame editor crash with null `frames` pounter
  editor/plugins/sprite_frames_editor_plugin.cpp
Due: copyright-headers

Add `bigint` support on JS value conversion
  platform/web/js/libs/library_godot_javascript_singleton.js
Due: eslint

Allow live reloading of built-in scripts
  editor/plugins/script_editor_plugin.cpp
  modules/gdscript/gdscript.cpp
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
Due: copyright-headers, header-guards

add-prevent-retrigger-property
  doc/classes/Timer.xml
  scene/main/timer.cpp
  scene/main/timer.h
Due: make-rst, doc-status, copyright-headers, header-guards

fix-prevent-retrigger-type
  doc/classes/Timer.xml
Due: make-rst, doc-status

Wayland: scale pointer hint on resize
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

Fix re-import glb model doesn't change the old glb model
  editor/editor_node.cpp
Due: copyright-headers

Wayland: scale relative pointer motion
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Wayland: switch pointer position handling to doubles
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

Fix IME blocking controls
  platform/web/js/libs/library_godot_input.js
Due: eslint

Switched to ERR_FAIL_COND_V_MSG macro for showing a meaningful error message
  scene/resources/visual_shader.cpp
Due: copyright-headers

GDScript: Fix implicit cast to typed array when passing parameter
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/features/typed_array_implicit_cast_param.gd
  modules/gdscript/tests/scripts/runtime/features/typed_array_implicit_cast_param.out
Due: copyright-headers

Update Animation.track_set_path and AnimationMixer.root_motion_track
  doc/classes/Animation.xml
  doc/classes/AnimationMixer.xml
Due: make-rst, doc-status

Add pixel snap for Parallax2D
  scene/2d/parallax_2d.cpp
Due: copyright-headers

Added external camera feed and occlusion based on a depthmap
  build_android.py
  doc/classes/CameraFeed.xml
  drivers/gles3/effects/copy_effects.cpp
  drivers/gles3/effects/feed_effects.cpp
  drivers/gles3/effects/feed_effects.h
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shader_gles3.cpp
  drivers/gles3/shaders/SCsub
  drivers/gles3/shaders/effects/copy.glsl
  drivers/gles3/shaders/feed.glsl
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  scene/resources/environment.cpp
  servers/camera/camera_feed.cpp
  servers/camera/camera_feed.h
  servers/rendering/dummy/storage/texture_storage.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/environment_storage.cpp
  servers/rendering/storage/environment_storage.h
  servers/rendering/storage/texture_storage.h
  servers/rendering_server.cpp
  servers/rendering_server.h
  thirdparty/glad/gl.c
  thirdparty/glad/glad/gl.h
Due: make-rst, doc-status, copyright-headers, header-guards

Remove unused assignment in Parallax2D
  scene/2d/parallax_2d.cpp
Due: copyright-headers

Fixed Timestep Interpolation: Fix behaviour on pause
  scene/2d/camera_2d.cpp
  scene/main/node.cpp
Due: copyright-headers

修復生成vs解決方案錯誤呀
  modules/game_help/unity/unity_link_server.cpp
  modules/godot_jolt/src/spaces/jolt_physics_direct_space_state_3d.cpp
  thirdparty/spirv-tools/source/opt/composite.cpp
  thirdparty/spirv-tools/source/opt/dead_insert_elim_pass.cpp
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/GLSL.std.450.h
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/OpenCL.std.h
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/extinst.glsl.std.450.grammar.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/extinst.opencl.std.100.grammar.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/spirv.core.grammar.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/spirv.cs
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/spirv.h
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/spirv.hpp
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/spirv.hpp11
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/spirv.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/spirv.lua
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_0/spirv.py
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/GLSL.std.450.h
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/OpenCL.std.h
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/extinst.glsl.std.450.grammar.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/extinst.opencl.std.100.grammar.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/spirv.core.grammar.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/spirv.cs
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/spirv.h
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/spirv.hpp
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/spirv.hpp11
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/spirv.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/spirv.lua
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_1/spirv.py
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/GLSL.std.450.h
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/OpenCL.std.h
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/extinst.glsl.std.450.grammar.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/extinst.opencl.std.100.grammar.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/spirv.core.grammar.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/spirv.cs
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/spirv.h
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/spirv.hpp
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/spirv.hpp11
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/spirv.json
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/spirv.lua
  thirdparty/spirv-tools/spirv-headers/include/spirv/1_2/spirv.py
Due: copyright-headers

Fix first time of Toggle Last Opened Bottom Panel opens Output panel
  editor/editor_dock_manager.cpp
  editor/editor_dock_manager.h
  editor/gui/editor_bottom_panel.cpp
Due: copyright-headers, header-guards

Save all scenes and scripts before exporting a project
  editor/editor_node.cpp
  editor/editor_node.h
  editor/export/project_export.cpp
Due: copyright-headers, header-guards

Fix physics tick counter
  core/input/input.cpp
  main/main.cpp
  scene/2d/camera_2d.h
  scene/2d/navigation_agent_2d.cpp
  scene/2d/navigation_agent_2d.h
  scene/3d/navigation_agent_3d.cpp
  scene/3d/navigation_agent_3d.h
Due: copyright-headers, header-guards

Implement MSAA per-sample shading option to improve rendering quality
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  drivers/vulkan/rendering_device_driver_vulkan.cpp
Due: make-rst, doc-status, copyright-headers

[WIP] Start adding Viewport properties for MSAA per-sample shading
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/rendering/dummy/storage/texture_storage.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
  servers/rendering/renderer_viewport.cpp
  servers/rendering/renderer_viewport.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/texture_storage.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: copyright-headers, header-guards

Fix Web samples finished missing signal
  platform/web/audio_driver_web.cpp
  platform/web/audio_driver_web.h
  platform/web/godot_audio.h
  platform/web/js/libs/library_godot_audio.js
  scene/audio/audio_stream_player_internal.cpp
  servers/audio/audio_stream.h
Due: eslint, copyright-headers, header-guards

Fix custom shortcut Ctrl-Space in Script Editor add a space
  editor/editor_node.cpp
Due: copyright-headers

Fixed Timestep Interpolation (3D)
  core/error/error_macros.cpp
  core/error/error_macros.h
  core/math/transform_interpolator.cpp
  core/math/transform_interpolator.h
  doc/classes/Node3D.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
  main/main.cpp
  main/main_timer_sync.cpp
  scene/3d/camera_3d.cpp
  scene/3d/camera_3d.h
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/3d/skeleton_ik_3d.cpp
  scene/3d/visual_instance_3d.cpp
  scene/3d/visual_instance_3d.h
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/main/viewport.cpp
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server_constants.h
  servers/rendering/rendering_server_default.cpp
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix Toggle Last Opened Bottom Panel not working after restoring FileSystem Dock to the side
  editor/gui/editor_bottom_panel.cpp
Due: copyright-headers

Fix .blend files with quotation marks in filename fail to import
  modules/gltf/editor/editor_import_blend_runner.cpp
  modules/gltf/editor/editor_import_blend_runner.h
  modules/gltf/editor/editor_scene_importer_blend.cpp
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
