Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python3 doc/tools/doc_status.py

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

copyright-headers:
  name: copyright-headers
  language: python
  entry: python3 misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python3 misc/scripts/header_guards.py

Ensure Motion Vectors are enabled by particles and skeletons when using the Motion Vector debug draw option
  servers/rendering/renderer_viewport.cpp
Due: copyright-headers

Fix find highlight when switching scripts
  editor/code_editor.cpp
Due: copyright-headers

Fix reimporting assets with csv in the project
  core/io/resource_importer.cpp
  editor/editor_file_system.cpp
Due: copyright-headers

Fix Adreno 3xx compatibility for devices with newer driver versions
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
  drivers/gles3/storage/config.cpp
  drivers/gles3/storage/config.h
  drivers/gles3/storage/particles_storage.cpp
Due: copyright-headers, header-guards

Ensure post processing happens when adjustments are enabled in the Compatibility renderer
  doc/classes/Environment.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/storage/render_scene_buffers_gles3.cpp
  drivers/gles3/storage/render_scene_buffers_gles3.h
Due: make-rst, doc-status, copyright-headers, header-guards

swizzles for vector2, vector2i, vector3, and vector3i
  core/math/vector2.h
  core/math/vector2i.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/math/vector3i.cpp
  core/math/vector3i.h
  core/variant/variant_call.cpp
  core/variant/variant_setget.cpp
  core/variant/variant_setget.h
Due: copyright-headers, header-guards

Add Texture Smooth Pixel Filter property to BaseMaterial3D
  doc/classes/BaseMaterial3D.xml
  doc/classes/Label3D.xml
  doc/classes/SpriteBase3D.xml
  scene/3d/label_3d.cpp
  scene/3d/label_3d.h
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
  scene/resources/material.cpp
  scene/resources/material.h
Due: make-rst, doc-status, copyright-headers, header-guards

Track compositor effects that use motion vectors so we enable required logic
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/storage/compositor_storage.cpp
  servers/rendering/storage/compositor_storage.h
Due: copyright-headers, header-guards

code style fixes
  core/math/vector2.h
  core/math/vector2i.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/math/vector3i.cpp
  core/math/vector3i.h
  core/variant/variant_setget.cpp
Due: copyright-headers, header-guards

Make visual shader's `DefaultTextureParam` use `Texture` instead of `Texture2D`
  doc/classes/Shader.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/shader.cpp
  scene/resources/shader.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Due: make-rst, doc-status, copyright-headers, header-guards

code style fixes pt2
  core/math/vector2.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/math/vector3i.cpp
  core/math/vector3i.h
Due: copyright-headers, header-guards

[X11] Detect XWayland and disable screen capture support.
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
Due: copyright-headers, header-guards

Editor: Fix `EditorHelpBit` title height is wrong on initialization
  editor/editor_help.cpp
Due: copyright-headers

Add unit test cases for ImageTexture3D
  tests/scene/test_image_texture_3d.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

[Image Font Importer] Fix reading advance after hex/dec range.
  editor/import/resource_importer_imagefont.cpp
Due: copyright-headers

OpenXR: Add HTC/MSFT hand interaction profiles
  modules/openxr/action_map/openxr_interaction_profile_metadata.cpp
  modules/openxr/extensions/openxr_htc_controller_extension.cpp
  modules/openxr/extensions/openxr_htc_controller_extension.h
  modules/openxr/extensions/openxr_htc_vive_tracker_extension.cpp
  modules/openxr/extensions/openxr_wmr_controller_extension.cpp
  modules/openxr/extensions/openxr_wmr_controller_extension.h
Due: copyright-headers, header-guards

Fix description for `Input.vibrate_handheld()`
  doc/classes/Input.xml
Due: make-rst, doc-status

ResourceLoader: Avoid deadlock when awaiting a loader thread that failed early
  core/io/resource_loader.cpp
Due: copyright-headers

feat: light_settings method
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/shaders/canvas.glsl
  servers/rendering/shader_types.cpp
Due: copyright-headers

Allow cancelling actions in Path2D editor
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.h
Due: copyright-headers, header-guards

feat: extract light_settings_code
  servers/rendering/renderer_rd/shaders/canvas.glsl
Due: none

Fix EditorProperty spacing
  editor/editor_inspector.cpp
  editor/icons/Key.svg
Due: copyright-headers

feat: sample light texture at surface, step pixel rounding option
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/shaders/canvas.glsl
  servers/rendering/shader_types.cpp
Due: copyright-headers

Remove no longer needed thread safety measures
  core/io/resource.cpp
Due: copyright-headers

[TextServer, GDExtension] Fix building text servers as GDExtension, expose new/changed low-level methods to GDExtension API.
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_interface.h
  core/io/image.cpp
  core/io/image.h
  core/variant/variant_call.cpp
  doc/classes/Dictionary.xml
  doc/classes/Image.xml
  modules/text_server_adv/gdextension_build/SConstruct
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/gdextension_build/SConstruct
  modules/text_server_fb/register_types.cpp
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Autocompletion: Add support for string name option in more places
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/tests/README.md
  modules/gdscript/tests/scripts/completion/argument_options/string_literals/add_node_path_tween.cfg
  modules/gdscript/tests/scripts/completion/argument_options/string_literals/add_node_path_tween.gd
  modules/gdscript/tests/scripts/completion/argument_options/string_literals/add_string_name_input_event.cfg
  modules/gdscript/tests/scripts/completion/argument_options/string_literals/add_string_name_input_event.gd
  modules/gdscript/tests/scripts/completion/argument_options/string_literals/dont_add_node_path_tween.cfg
  modules/gdscript/tests/scripts/completion/argument_options/string_literals/dont_add_node_path_tween.gd
  modules/gdscript/tests/scripts/completion/argument_options/string_literals/dont_add_string_name_input_event.cfg
  modules/gdscript/tests/scripts/completion/argument_options/string_literals/dont_add_string_name_input_event.gd
  modules/gdscript/tests/scripts/project.godot
  modules/gdscript/tests/test_completion.h
Due: copyright-headers, header-guards

[Window] Ignore duplicate mouse enter events.
  scene/main/window.cpp
Due: copyright-headers

Fix issues related to code-signing for macOS exports
  platform/macos/export/codesign.cpp
  platform/macos/export/export_plugin.cpp
Due: copyright-headers

editor: warn on UID duplicates This commonly occurs when files are copied outside of the editor and don't get new UIDs.
  editor/editor_file_system.cpp
Due: copyright-headers

Input use GetKeyState instead of GetAsyncKeyState
  platform/windows/display_server_windows.cpp
Due: copyright-headers

Ensure sky reflection is updated when ambient mode is set to background
  drivers/gles3/rasterizer_scene_gles3.cpp
Due: copyright-headers

Un-negate the origin of INV_VIEW_MATRIX when using doubles builds of the engine.
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.cpp
Due: copyright-headers

Fix Crash when trying to undo SpriteFrames animation rename #93079
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.h
Due: copyright-headers, header-guards

Create susu
  doc/susu
Due: none

Create susutest
  tests/susutest
Due: none

Unsetting the owner of `ImporterMeshInstance3D` before adding it to skeleton's child
  modules/gltf/gltf_document.cpp
Due: copyright-headers

[Image Font Importer] Adds support for `\uXXXX` in the kerning config strings.
  editor/import/resource_importer_imagefont.cpp
Due: copyright-headers

Simplify right-click track insertion code
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp)$ and not ((?x)^(
  .*/thread\.h$|
  .*/platform_config\.h$|
  .*/platform_gl\.$h
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
