Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Fix asset store zoom mode crash in project manager.
  editor/asset_library/asset_library_editor_plugin.cpp
Due: copyright-headers

Fix/improve the pretty print for GDB
  misc/utility/godot_gdb_pretty_print.py
Due: none

Add pseudolocalization preview to the editor
  editor/editor_node.cpp
  editor/editor_node.h
  editor/translations/editor_translation_preview_button.cpp
  editor/translations/editor_translation_preview_menu.cpp
  editor/translations/editor_translation_preview_menu.h
Due: copyright-headers, header-guards

Improve 2D editor dropping code
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
Due: copyright-headers, header-guards

Fix 3D transform gizmo visibility after node lock/unlock
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
  editor/scene/scene_tree_editor.cpp
Due: copyright-headers, header-guards

Account for relative extends paths in a GDScript utility function
  modules/gdscript/gdscript.cpp
Due: copyright-headers

Update `qoa.h` to `1bf9bc0467`
  scene/resources/audio_stream_wav.cpp
  scene/resources/audio_stream_wav.h
  thirdparty/README.md
  thirdparty/misc/qoa.h
Due: copyright-headers, header-guards

Expose ArrayMesh surface RD buffer RIDs to GDExtensions
  doc/classes/Mesh.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/storage/mesh_storage.h
  scene/resources/mesh.cpp
  scene/resources/mesh.h
  servers/rendering/dummy/storage/mesh_storage.h
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.h
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
  servers/rendering/rendering_server_enums.h
  servers/rendering/storage/mesh_storage.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Use VHS Circle as the default editor color picker shape
  editor/settings/editor_settings.cpp
Due: copyright-headers

Fix OBJ importer ignoring vertex color alpha channel
  editor/import/3d/resource_importer_obj.cpp
Due: copyright-headers

Clear base script in GDScript::clear
  modules/gdscript/gdscript.cpp
Due: copyright-headers

Add sticky tree item support
  doc/classes/EditorSettings.xml
  doc/classes/Tree.xml
  editor/settings/editor_settings.cpp
  editor/themes/editor_theme_manager.cpp
  editor/themes/editor_theme_manager.h
  editor/themes/theme_classic.cpp
  editor/themes/theme_modern.cpp
  scene/gui/tree.cpp
  scene/gui/tree.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix massive CPU leak in NavigationAgent2D/3D after unpausing
  modules/navigation_2d/nav_agent_2d.cpp
  modules/navigation_3d/nav_agent_3d.cpp
Due: copyright-headers

Make `NodePath` copy-on-write, to avoid it changing accidentally by owned copies.
  core/string/node_path.cpp
  core/string/node_path.h
Due: copyright-headers, header-guards

Fix match dictionary no value print_match_pattern
  modules/gdscript/gdscript_parser.cpp
Due: copyright-headers

Fix some classes being incorrectly marked as 100% documented in `doc_status.py`
  doc/tools/doc_status.py
Due: none

GDScript: Prevent function states from leaking into typed temporaries, when overwriting with coroutines
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/tests/scripts/runtime/features/await_with_overwritten_coroutine.gd
  modules/gdscript/tests/scripts/runtime/features/await_with_overwritten_coroutine.out
Due: copyright-headers

[FileDialog] Sync "show hidden file" button state when toggled by shortcut.
  scene/gui/file_dialog.cpp
Due: copyright-headers

Add support for joypad touchpads
  core/input/input.cpp
  core/input/input.h
  doc/classes/Input.xml
  drivers/sdl/joypad_sdl.cpp
  drivers/sdl/joypad_sdl.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Various `Input` class documentation fixes
  doc/classes/Input.xml
Due: make-rst, doc-status, validate-xml

Split `Node3DEditorViewport` into a dedicated file
  editor/debugger/script_editor_debugger.cpp
  editor/docks/scene_tree_dock.cpp
  editor/editor_interface.cpp
  editor/editor_node.cpp
  editor/plugins/editor_plugin.cpp
  editor/scene/3d/camera_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_constants.h
  editor/scene/3d/node_3d_editor_gizmos.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
  editor/scene/3d/node_3d_editor_viewport.cpp
  editor/scene/3d/node_3d_editor_viewport.h
  editor/scene/3d/path_3d_editor_plugin.cpp
  editor/scene/3d/polygon_3d_editor_plugin.cpp
  editor/settings/editor_settings_dialog.cpp
  modules/gridmap/editor/grid_map_editor_plugin.cpp
Due: copyright-headers, header-guards

Remove undocumented script only enter world callbacks
  scene/3d/node_3d.cpp
Due: copyright-headers

GDScript: Don't register unexposed classes as constants
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_analyzer.cpp
Due: copyright-headers

Expose EditorNode3DGizmo::is_selected
  doc/classes/EditorNode3DGizmo.xml
  editor/scene/3d/node_3d_editor_gizmos.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers

Remove constructors from MP3 and Ogg Vorbis streams
  modules/mp3/audio_stream_mp3.cpp
  modules/mp3/audio_stream_mp3.h
  modules/vorbis/audio_stream_ogg_vorbis.cpp
  modules/vorbis/audio_stream_ogg_vorbis.h
Due: copyright-headers, header-guards

Fix unused DirAccess::create in movie writer disk space check
  servers/movie_writer/movie_writer.cpp
Due: copyright-headers

Add empty icons for file dialog menu to the default theme.
  scene/theme/default_theme.cpp
Due: copyright-headers

Add support for named `[url]` tags in `print_rich()` ANSI conversion
  core/string/print_string.cpp
  doc/classes/@GlobalScope.xml
Due: make-rst, doc-status, validate-xml, copyright-headers

Editor: Add Filter to Project Export → Options tab
  editor/export/editor_export_preset.cpp
  editor/export/editor_export_preset.h
  editor/export/project_export.cpp
  editor/export/project_export.h
Due: copyright-headers, header-guards

Alter Camera3D FOV bounds error conditions from between 1 and 179 inclusive to between 0 and 180 exclusive.
  scene/3d/camera_3d.cpp
Due: copyright-headers

Fix input attachments triggering the texture type validation.
  servers/rendering/rendering_shader_container.cpp
Due: copyright-headers

[macOS/iOS/Windows] Add method to get full list of user preferred locales and use it for the editor locale selection.
  core/core_bind.cpp
  core/core_bind.h
  core/os/os.h
  doc/classes/OS.xml
  drivers/apple_embedded/os_apple_embedded.h
  drivers/apple_embedded/os_apple_embedded.mm
  editor/settings/editor_settings.cpp
  platform/macos/os_macos.h
  platform/macos/os_macos.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/windows/winrt_utils.cpp
  platform/windows/winrt_utils.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Add Addons tab to project settings editor
  editor/settings/project_settings_editor.cpp
Due: copyright-headers

Autocompletion: Remove unnecessary `HashMap` copy
  modules/gdscript/gdscript_editor.cpp
Due: copyright-headers

[Export] Suppress duplicate texture format errors in UI and add missing in console mode.
  editor/export/editor_export_platform_apple_embedded.cpp
  platform/android/export/export_plugin.cpp
  platform/macos/export/export_plugin.cpp
  platform/web/export/export_plugin.cpp
Due: copyright-headers

Add support for Vector4-based _CUSTOM attributes when importing glTF files; enable import into CUSTOM3 shader built-in
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
Due: copyright-headers, header-guards

Exchange use of `ClassDB::is_parent_class()` with `Object::is_class()` where possible
  core/variant/container_type_validate.h
  editor/docks/scene_tree_dock.cpp
  editor/inspector/editor_properties_array_dict.cpp
  editor/script/script_text_editor.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_utility_functions.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/mono/csharp_script.cpp
  modules/mono/glue/runtime_interop.cpp
Due: copyright-headers, header-guards

Use Vector4 storage for tangents in SurfaceTool for consistency
  scene/resources/3d/importer_mesh.cpp
  scene/resources/mesh.cpp
  scene/resources/surface_tool.cpp
  scene/resources/surface_tool.h
Due: copyright-headers, header-guards

Allow shader containers to be loaded in parallel.
  core/io/compression.cpp
  servers/rendering/renderer_rd/shader_rd.cpp
  servers/rendering/renderer_rd/shader_rd.h
  servers/rendering/rendering_device.cpp
Due: copyright-headers, header-guards

Introduce `EditorLanguage` and move `ScriptLanguage::complete_code` into it.
  core/object/editor_language.h
  core/object/script_language.h
  core/object/script_language_extension.cpp
  core/object/script_language_extension.h
  editor/script/script_text_editor.cpp
  modules/gdscript/editor/gdscript_editor_language.h
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/register_types.cpp
  modules/gdscript/tests/test_completion.h
  modules/mono/csharp_script.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

