Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Add a warning for when the scene root node is transformed
  editor/gui/scene_tree_editor.cpp
  editor/gui/scene_tree_editor.h
Due: copyright-headers, header-guards

Highlight hovered `GraphEdit` connection by widening the line
  doc/classes/GraphEdit.xml
  editor/themes/editor_theme_manager.cpp
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
  scene/theme/default_theme.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Document limitations of refraction from using screen texture
  doc/classes/BaseMaterial3D.xml
Due: make-rst, doc-status

[GDScript] Fix `Packed*Array` `OP_IN` using low precision int and float as input.
  core/variant/variant_op.cpp
Due: copyright-headers

Enable Deploy with Remote Debug by default in the editor
  editor/editor_run_native.cpp
  editor/plugins/debugger_editor_plugin.cpp
Due: copyright-headers

Add UndoRedo support to Load Emission Mask/Points
  editor/plugins/particles_editor_plugin.cpp
Due: copyright-headers

Fix displaying of embedded `Window`
  scene/main/viewport.cpp
  scene/main/window.cpp
Due: copyright-headers

[Windows, FileDialog] Prepend drive letter to the absolute paths without drive letter.
  editor/gui/editor_file_dialog.cpp
  scene/gui/file_dialog.cpp
Due: copyright-headers

Metal: Support Apple4 GPUs (2017 era iOS devices)
  drivers/metal/metal_device_properties.h
  drivers/metal/metal_device_properties.mm
  drivers/metal/metal_objects.h
  drivers/metal/metal_objects.mm
  drivers/metal/rendering_device_driver_metal.h
  drivers/metal/rendering_device_driver_metal.mm
  thirdparty/README.md
  thirdparty/spirv-cross/spirv.hpp
  thirdparty/spirv-cross/spirv_common.hpp
  thirdparty/spirv-cross/spirv_cross.cpp
  thirdparty/spirv-cross/spirv_cross_parsed_ir.cpp
  thirdparty/spirv-cross/spirv_glsl.cpp
  thirdparty/spirv-cross/spirv_msl.cpp
  thirdparty/spirv-cross/spirv_msl.hpp
  thirdparty/spirv-cross/spirv_reflect.cpp
Due: copyright-headers, header-guards

Betsy: Fix stack-use-after-scope when using BC3 and BC5
  modules/betsy/image_compress_betsy.cpp
Due: copyright-headers

[EditorFileDialog] Do not update file selection on filter change if nothing was previously selected.
  editor/gui/editor_file_dialog.cpp
Due: copyright-headers

Fix early navigtion path return
  modules/navigation/3d/nav_mesh_queries_3d.cpp
Due: copyright-headers

LightmapGI: fix crash during baking when sky is null
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Due: copyright-headers

Rationalize busy waits
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/editor_log.cpp
  editor/editor_node.cpp
  modules/gltf/editor/editor_scene_importer_blend.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Due: copyright-headers, header-guards

GDExtension: Add icon path to class creation info
  core/extension/gdextension.cpp
  core/extension/gdextension_interface.h
  core/extension/gdextension_manager.cpp
Due: copyright-headers, header-guards

Optimize `CowData` and `LocalVector` functions `.insert` and `.remove_at` by using move semantics.
  core/templates/cowdata.h
  core/templates/local_vector.h
Due: copyright-headers, header-guards

Allow Timer nodes to ignore engine time scale
  doc/classes/Timer.xml
  scene/main/timer.cpp
  scene/main/timer.h
Due: make-rst, doc-status, copyright-headers, header-guards

Abstract `CowData`'s reallocations into `_realloc` to consolidate duplicate logic.
  core/templates/cowdata.h
Due: copyright-headers, header-guards

Fix Android native file picker
  platform/android/java/lib/src/org/godotengine/godot/io/FilePicker.kt
  platform/android/java_godot_wrapper.cpp
Due: copyright-headers

Fix crash when duplicating Decal or Light3D nodes
  scene/3d/decal.cpp
  scene/3d/light_3d.cpp
Due: copyright-headers

Remove unused variable in GDScriptLanguage.
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_vm.cpp
Due: copyright-headers, header-guards

[TextServer] Fix use of `find_char` in text servers
  modules/text_server_adv/thorvg_svg_in_ot.cpp
  modules/text_server_fb/thorvg_svg_in_ot.cpp
Due: copyright-headers

Add option to disable Swipe-to-Dismiss for Wear OS
  platform/android/doc_classes/EditorExportPlatformAndroid.xml
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/android/java/app/res/values/themes.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Rename `GDExtensionCompatHashes` to make it clear it's only for exceptional situations
  core/extension/extension_api_dump.cpp
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_manager.cpp
  core/extension/gdextension_special_compat_hashes.cpp
  core/extension/gdextension_special_compat_hashes.h
Due: copyright-headers, header-guards

Unset last focused window when it is destroyed.
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
Due: copyright-headers

Increase precision in linear_to_srgb and srgb_to_linear
  core/math/color.h
  tests/core/math/test_color.h
Due: copyright-headers, header-guards

Fixed incorrect use of vertical scroll where it should have been horizontal.
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Follow-up of ArrayMesh::surface_remove addition
  doc/classes/ArrayMesh.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/storage/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.h
  tests/scene/test_arraymesh.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix @export open scene button not working
  editor/plugins/packed_scene_editor_plugin.cpp
Due: copyright-headers

Fix autostart indicator going to wrong debugger
  editor/gui/editor_run_bar.cpp
Due: copyright-headers

Rendering: MoltenVK hack is no longer required, as bug was fixed.
  servers/rendering/renderer_rd/effects/fsr.cpp
Due: copyright-headers

Fix blurred content of embedded windows
  scene/main/viewport.cpp
  scene/main/window.cpp
Due: copyright-headers

OpenXR: Make sure wedge on DPad modifier is expressed in degrees.
  modules/openxr/extensions/openxr_dpad_binding_extension.cpp
Due: copyright-headers

[.NET] Update required .NET SDK version in error messages
  modules/mono/mono_gd/gd_mono.cpp
Due: copyright-headers

[MenuBar] Use PopupMenu title property as a menu name.
  doc/classes/MenuBar.xml
  doc/classes/Window.xml
  scene/gui/menu_bar.cpp
  scene/gui/menu_bar.h
  scene/main/window.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Properly transform light rect and occluder rect to perform light2d culling in canvas space
  drivers/gles3/rasterizer_canvas_gles3.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_viewport.cpp
Due: copyright-headers

Don't recursively call _update_tree
  editor/gui/scene_tree_editor.cpp
Due: copyright-headers
