Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$


Fix warnings and error panel font not updating
  editor/script/script_text_editor.cpp
  editor/shader/text_shader_editor.cpp
Due: copyright-headers

Explain Dictionary.set() return value in docs
  doc/classes/Dictionary.xml
Due: make-rst, doc-status, validate-xml

Add indicator to linked Resources
  editor/editor_node.cpp
  editor/editor_node.h
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_resource_picker.cpp
  editor/inspector/editor_resource_picker.h
  editor/inspector/multi_node_edit.cpp
  editor/scene/scene_tree_editor.cpp
Due: copyright-headers, header-guards

Fix the material preview sphere
  editor/inspector/editor_preview_plugins.cpp
Due: copyright-headers

Fix TileSet editor crash on terrain pick in paint mode
  editor/inspector/editor_properties.cpp
  editor/inspector/editor_properties.h
  editor/scene/2d/tiles/tile_data_editors.cpp
Due: copyright-headers, header-guards

Greatly reduce shader conversion time & fix spec constant bitmasking on D3D12.
  drivers/d3d12/rendering_shader_container_d3d12.cpp
  misc/scripts/install_d3d12_sdk_windows.py
Due: copyright-headers

Fix drawing of slot icons in GraphNode when slots are not continuous
  scene/gui/graph_node.cpp
Due: copyright-headers

Document color format caveats in `Image.set_pixel()`
  doc/classes/Image.xml
Due: make-rst, doc-status, validate-xml

Add more Dictionary tests
  tests/core/variant/test_dictionary.h
Due: copyright-headers, header-guards

Fix Camera2D limit checks for inverted boundaries
  scene/2d/camera_2d.cpp
Due: copyright-headers

Modern style: switch to classic renderer name colors
  editor/themes/theme_modern.cpp
Due: copyright-headers

Update VisualShader on theme changes
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
Due: copyright-headers, header-guards

Fix GraphEdit contrast
  editor/themes/theme_modern.cpp
Due: copyright-headers

Fix `grab_focus` incorrectly handling `FOCUS_ACCESSIBILITY`.
  scene/gui/control.cpp
Due: copyright-headers

Don't assign a uid when copying resource file whose `importer` name is `keep` or `skip`
  editor/file_system/editor_file_system.cpp
Due: copyright-headers

Separate branching ping-pong time and delta
  scene/animation/animation_blend_tree.cpp
Due: copyright-headers

Fix crash for classes without an icon
  editor/doc/editor_help.cpp
Due: copyright-headers

Use proper bitshift for tonemap srgb flag in Forward+ renderer
  servers/rendering/renderer_rd/effects/tone_mapper.h
Due: copyright-headers, header-guards

Enhance contrast on Modern theme
  editor/themes/editor_theme_manager.cpp
  editor/themes/editor_theme_manager.h
Due: copyright-headers, header-guards

Fix icon colors in light color preset of modern theme
  editor/themes/editor_theme_manager.h
  editor/themes/theme_classic.cpp
  editor/themes/theme_modern.cpp
Due: copyright-headers, header-guards

Fix wrong color for timeline indicator in the light theme
  editor/icons/TimelineIndicator.svg
Due: svgo

Fix contrast for light color presets in the classic theme
  editor/themes/editor_theme_manager.cpp
Due: copyright-headers

Fix incorrect transform calculation in `Camera2D` when using a custom viewport
  scene/2d/camera_2d.cpp
Due: copyright-headers

MSVC: check catalog_productSemanticVersion instead of catalog_productDisplayVersion for compiler version
  methods.py
Due: none

Fix resource picker button style
  editor/inspector/editor_resource_picker.cpp
Due: copyright-headers

Remove default skeleton path in MeshInstance3D
  core/config/project_settings.cpp
  doc/classes/MeshInstance3D.xml
  doc/classes/ProjectSettings.xml
  scene/3d/mesh_instance_3d.cpp
  scene/3d/mesh_instance_3d.h
  scene/register_scene_types.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fixing CollisionPolygon3D debug shape rendering.
  editor/scene/3d/gizmos/physics/collision_polygon_3d_gizmo_plugin.cpp
Due: copyright-headers

EditorFileSystem: Simplify resource loading logic on startup
  editor/file_system/editor_file_system.cpp
Due: copyright-headers

Jolt: Add null checks to jolt_free and jolt_aligned_free
  modules/jolt_physics/jolt_globals.cpp
Due: copyright-headers

Enable maximize button for Editor/Project settings, Export and Editor Features dialogs.
  editor/export/project_export.cpp
  editor/settings/editor_feature_profile.cpp
  editor/settings/editor_settings_dialog.cpp
  editor/settings/project_settings_editor.cpp
Due: copyright-headers

Remove undefined method
  scene/3d/skeleton_3d.h
Due: copyright-headers, header-guards

Allow previewing DPITexture in Inspector
  editor/scene/texture/texture_editor_plugin.cpp
Due: copyright-headers

Fix ternary expression for structs in shaders
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Due: copyright-headers, header-guards

Make editor language setting default to Auto
  doc/classes/EditorInterface.xml
  doc/classes/EditorSettings.xml
  editor/editor_interface.cpp
  editor/editor_interface.h
  editor/inspector/editor_property_name_processor.cpp
  editor/settings/editor_settings.cpp
  editor/settings/editor_settings.h
  modules/mono/editor/GodotTools/GodotTools/Build/BuildSystem.cs
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Create HWND swap chain when window transparency is disabled on D3D12.
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  platform/windows/display_server_windows.cpp
Due: copyright-headers

Allow fixing indirect missing dependencies manually
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/file_system/dependency_editor.cpp
  editor/file_system/dependency_editor.h
Due: copyright-headers, header-guards

fix ProjectManager import dialog error
  editor/project_manager/project_dialog.cpp
  editor/project_manager/project_dialog.h
Due: copyright-headers, header-guards

Save project metadata less often
  editor/editor_node.cpp
  editor/settings/editor_settings.cpp
  editor/settings/editor_settings.h
Due: copyright-headers, header-guards

GDExtension: Add missing method flag
  core/extension/gdextension_interface.h
Due: copyright-headers, header-guards

Improve rendering driver fallback on Windows.
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Due: copyright-headers, header-guards
