Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, copyright-headers

make-rst:
  name: make-rst
  entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
  pass_filenames: false
  language: python

copyright-headers:
  name: copyright-headers
  language: python
  entry: python3 misc/scripts/copyright_headers.py

Fix missing i18n for some editor strings
  editor/editor_build_profile.cpp
  editor/editor_properties.cpp
  editor/groups_editor.cpp
  modules/multiplayer/editor/replication_editor.cpp
  modules/openxr/editor/openxr_action_set_editor.cpp
  modules/openxr/editor/openxr_select_interaction_profile_dialog.cpp
Due: copyright-headers

First batch of fixes/improvements after review
  doc/classes/GraphFrame.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  scene/gui/graph_edit.cpp
  scene/gui/graph_frame.cpp
  scene/gui/graph_frame.h
Due: make-rst, copyright-headers

OpenXR: Change timing of xrWaitFrame
  doc/classes/RenderingServer.xml
  modules/openxr/doc_classes/OpenXRAPIExtension.xml
  modules/openxr/extensions/openxr_hand_tracking_extension.cpp
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_api_extension.cpp
  modules/openxr/openxr_api_extension.h
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: make-rst, copyright-headers

Fix Path2D's add new point's UndoRedo bug
  editor/plugins/path_2d_editor_plugin.cpp
Due: copyright-headers

Use local variable to stop memory leak.
  modules/upnp/upnp.cpp
Due: copyright-headers

[NativeMenu] Move files to the `display` subfolder.
  platform/macos/native_menu_macos.h
  platform/windows/native_menu_windows.h
  servers/SCsub
  servers/display/SCsub
  servers/display/native_menu.cpp
  servers/display/native_menu.h
  servers/display_server.h
  servers/register_server_types.cpp
Due: copyright-headers

Fix path3d's pick works incorrectly when viewport is in half resolution
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  editor/plugins/path_3d_editor_plugin.cpp
Due: copyright-headers

[RTL] Move shadow and foreground/background boxes drawing into a separate draw steps.
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Due: copyright-headers

Add more use cases for persistent buffers
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
Due: copyright-headers

Properly skip printing version header with `--no-header`
  core/config/engine.cpp
  core/config/engine.h
  main/main.cpp
Due: copyright-headers

Return ERR_UNAVAILABLE if native dialog is not supported
  servers/display_server.cpp
Due: copyright-headers

Improve performance by sorting by depth
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Due: copyright-headers

[DisplayServer] Add separate feature flags for different native dialog types.
  doc/classes/DisplayServer.xml
  platform/android/display_server_android.cpp
  platform/ios/display_server_ios.mm
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/web/display_server_web.cpp
  platform/windows/display_server_windows.cpp
  scene/gui/file_dialog.cpp
  servers/display_server.cpp
  servers/display_server.h
Due: make-rst, copyright-headers

Add draw_texture_rotated() to CanvasItem
  doc/classes/CanvasItem.xml
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
Due: make-rst, copyright-headers

Fix some build errors with `disable_3d=yes`
  main/main.cpp
  tests/test_main.cpp
Due: copyright-headers

[Navigation] Restore 2D only navigation
  modules/navigation/SCsub
  modules/navigation/config.py
  tests/test_main.cpp
Due: copyright-headers

Remove some 3D only codepaths
  modules/navigation/SCsub
  modules/navigation/nav_agent.cpp
  modules/navigation/nav_agent.h
  modules/navigation/nav_map.cpp
  modules/navigation/nav_map.h
  modules/navigation/nav_obstacle.cpp
  modules/navigation/nav_obstacle.h
Due: copyright-headers

[TileSet] Expose `TileData.is_valid_terrain_peering_bit`
  doc/classes/TileData.xml
  scene/resources/2d/tile_set.cpp
Due: make-rst, copyright-headers

Fix wrong extension filter for dependency editor
  editor/dependency_editor.cpp
Due: copyright-headers

Disable auto-translation in sub-resource list menu
  editor/scene_tree_dock.cpp
Due: copyright-headers

Fix missing InputEventMidi from MIDI input
  core/os/midi_driver.cpp
  core/os/midi_driver.h
Due: copyright-headers

Always add decimal when printing float
  core/extension/extension_api_dump.cpp
  core/math/rect2.cpp
  core/math/vector2.cpp
  core/math/vector3.cpp
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant.cpp
  modules/gdscript/tests/scripts/analyzer/features/class_inference_is_weak.out
  modules/gdscript/tests/scripts/analyzer/features/const_conversions.gd
  modules/gdscript/tests/scripts/analyzer/features/external_inner_class_as_constant.out
  modules/gdscript/tests/scripts/analyzer/features/typed_array_usage.gd
  modules/gdscript/tests/scripts/parser/features/export_arrays.out
  modules/gdscript/tests/scripts/parser/features/export_variable.out
  modules/gdscript/tests/scripts/parser/features/number_literals_with_sign.out
  modules/gdscript/tests/scripts/parser/features/number_separators.out
  modules/gdscript/tests/scripts/parser/features/operator_assign.out
  modules/gdscript/tests/scripts/runtime/features/chain_assignment_works.out
  modules/gdscript/tests/scripts/runtime/features/conversion_for_default_parameter.out
  modules/gdscript/tests/scripts/runtime/features/parameter_shadowing.out
  modules/gdscript/tests/scripts/runtime/features/stringify.out
  modules/mono/editor/bindings_generator.cpp
  tests/core/math/test_aabb.h
  tests/core/math/test_rect2.h
  tests/core/string/test_string.h
  tests/core/variant/test_variant_utility.h
Due: copyright-headers

4.1 Update README.md with contributors images
  README.md
Due: none

Refactor check for overriden methods in inner classes
  editor/plugins/script_text_editor.cpp
Due: copyright-headers

Fix a special case for button masks
  scene/main/viewport.cpp
Due: copyright-headers

Improve warning messages related to Vulkan pipeline cache
  drivers/vulkan/rendering_device_driver_vulkan.cpp
Due: copyright-headers

Fix `input_event` signal on Android
  platform/android/os_android.cpp
Due: copyright-headers

Change 2D navigation mesh baking to use floating point coordinates
  modules/navigation/2d/nav_mesh_generator_2d.cpp
Due: copyright-headers

Rename some arguments called "position"
  doc/classes/CollisionObject3D.xml
  doc/classes/GraphEdit.xml
  doc/classes/StatusIndicator.xml
  doc/classes/Tree.xml
  scene/3d/physics/collision_object_3d.cpp
  scene/gui/graph_edit.cpp
  scene/gui/tree.cpp
  scene/main/status_indicator.cpp
Due: make-rst, copyright-headers

Initial draft: use a custom lookup (baked by a dictionary) to handle InvokeGodotClassMethod and HasGodotClassMethod
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/Methods_ScriptMethods.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/OuterClass.NestedClass_ScriptMethods.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ScriptBoilerplate_ScriptMethods.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGenerator.cs
  modules/mono/editor/bindings_generator.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptMethodRegistry.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/InteropStructs.cs
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
Due: copyright-headers

Reorganize some code to have 2D things grouped together
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
  editor/plugins/sprite_frames_editor_plugin.cpp
  main/main.cpp
  main/performance.cpp
  scene/register_scene_types.cpp
  scene/resources/world_2d.cpp
Due: copyright-headers

Relax grid parameter constraints in texture region editor
  editor/plugins/texture_region_editor_plugin.cpp
  editor/plugins/texture_region_editor_plugin.h
Due: copyright-headers

Support “clear points” function in Path3D editor
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
  scene/resources/curve.cpp
  scene/resources/curve.h
Due: copyright-headers

fix: android build due to unescaped space in env path
  methods.py
  platform/android/detect.py
Due: none

[Linux/Portal] Fix incorrect DBus connection usage.
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/freedesktop_portal_desktop.h
Due: copyright-headers

Implement `OS.execute_with_pipe` method to run process with redirected stdio. Implement `pipe://*` path handling for creation of named pipes.
  core/core_bind.cpp
  core/core_bind.h
  core/io/file_access.cpp
  core/io/file_access.h
  core/os/os.h
  doc/classes/OS.xml
  drivers/unix/file_access_unix_pipe.cpp
  drivers/unix/file_access_unix_pipe.h
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  drivers/windows/file_access_windows_pipe.cpp
  drivers/windows/file_access_windows_pipe.h
  platform/web/os_web.cpp
  platform/web/os_web.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Due: make-rst, copyright-headers

Fix duplicating resources regression
  scene/main/node.cpp
Due: copyright-headers

Replace more push constants with uniform buffers
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/effects/copy_effects.h
  servers/rendering/renderer_rd/shaders/effects/copy.glsl
  servers/rendering/renderer_rd/shaders/effects/copy_to_fb.glsl
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/rendering_device.cpp
Due: copyright-headers

Refactor tangent and normal generation to be in ImporterMesh.
  doc/classes/ImporterMesh.xml
  scene/resources/3d/importer_mesh.cpp
  scene/resources/3d/importer_mesh.h
  tests/scene/test_importer_mesh.h
Due: make-rst, copyright-headers

Path conditions:
  make-rst: any of: ^(doc|modules|platform).*xml$
  copyright-headers: any of: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$, but not: (?x)^(
  tests/python_build.*|
  .*thirdparty.*|
  .*platform/android/java/lib/src/com.*|
  .*-so_wrap.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
)

