Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp)$ and not ((?x)^(
  .*/thread\.h$|
  .*/platform_config\.h$|
  .*/platform_gl\.$h
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Check if GodotConvexPolygonShape3D initialization happened
  servers/physics_3d/godot_shape_3d.cpp
Due: copyright-headers

ThorVG: Update to 0.13.7
  thirdparty/README.md
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/inc/thorvg.h
  thirdparty/thorvg/src/common/tvgCompressor.cpp
  thirdparty/thorvg/src/common/tvgCompressor.h
  thirdparty/thorvg/src/common/tvgMath.cpp
  thirdparty/thorvg/src/common/tvgMath.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgSceneBuilder.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwFill.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwMemPool.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRasterTexmap.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRenderer.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRle.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwShape.cpp
  thirdparty/thorvg/src/renderer/tvgPaint.cpp
  thirdparty/thorvg/src/renderer/tvgRender.cpp
  thirdparty/thorvg/src/renderer/tvgRender.h
  thirdparty/thorvg/src/renderer/tvgShape.cpp
  thirdparty/thorvg/src/renderer/tvgShape.h
  thirdparty/thorvg/update-thorvg.sh
Due: none

Force editor progress dialog size update.
  editor/progress_dialog.cpp
  editor/progress_dialog.h
Due: copyright-headers, header-guards

Expose `update_docs_from_script` method
  doc/classes/ScriptEditor.xml
  editor/plugins/script_editor_plugin.cpp
Due: make-rst, doc-status, copyright-headers

456
  core/string/string_name.cpp
  core/string/string_name.h
  core/string/ustring.cpp
  modules/game_help/logic/animator/body_animator.cpp
  modules/game_help/logic/animator/body_animator.h
  modules/game_help/logic/body_main.cpp
  modules/godot_jolt/jolt/Physics/Collision/Shape/ScaleHelpers.h
  modules/limboai/blackboard/blackboard_plan.cpp
  scene/animation/animation_tree.cpp
Due: copyright-headers, header-guards

Add more search keywords for various String methods
  doc/classes/String.xml
  doc/classes/StringName.xml
  modules/gdscript/doc_classes/@GDScript.xml
Due: make-rst, doc-status

Correcting Vector3 operator *
  doc/classes/Basis.xml
Due: make-rst, doc-status

Add missing inspector dock update after node deletion
  editor/scene_tree_dock.cpp
Due: copyright-headers

Match the coding style for concatenating String
  core/string/node_path.cpp
  scene/resources/skeleton_profile.cpp
Due: copyright-headers

Physics Interpolation - refactor `Camera` and fix `get_camera_transform()`
  core/error_macros.cpp
  core/error_macros.h
  doc/classes/VisualServer.xml
  scene/2d/cpu_particles_2d.cpp
  scene/3d/camera.cpp
  scene/3d/camera.h
  scene/3d/cpu_particles.cpp
  scene/3d/spatial.cpp
  scene/3d/visual_instance.cpp
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  servers/visual/rasterizer.cpp
  servers/visual/visual_server_constants.h
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_scene.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.cpp
  servers/visual_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add keybinds for folding and unfolding comments
  doc/classes/CodeEdit.xml
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/text_editor.cpp
  editor/plugins/text_editor.h
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix native file dialogs being shown on `set_visible(false)`
  scene/gui/file_dialog.cpp
Due: copyright-headers

Expose get_skeleton() from SkeletonModifier3D
  doc/classes/SkeletonModifier3D.xml
  scene/3d/skeleton_modifier_3d.cpp
Due: make-rst, doc-status, copyright-headers

Change 3D navigation edge connection margin debug to only show virtual edge
  scene/3d/navigation_region_3d.cpp
Due: copyright-headers

Fix freeze after building C#
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.types.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.cs
  modules/mono/glue/runtime_interop.cpp
Due: copyright-headers, header-guards

Fix double TOOLS_ENABLED checks from NO_EDITOR_SPLASH.
  main/main.cpp
Due: copyright-headers

Run proper cleanup when exiting gdscript test generator
  modules/gdscript/tests/gdscript_test_runner.cpp
Due: copyright-headers

Fix assertion about StringName constrution after StringName deconfiguration
  core/debugger/engine_profiler.cpp
  core/debugger/engine_profiler.h
  core/string/string_name.h
Due: copyright-headers, header-guards

Add get_editor_current_tool method to EditorInterface
  editor/editor_interface.cpp
  editor/editor_interface.h
Due: copyright-headers, header-guards

add doc
  doc/classes/EditorInterface.xml
Due: make-rst, doc-status

Add get_concatenated_bone_names() to Skeleton3D for Modifier's hint
  doc/classes/Skeleton3D.xml
  scene/3d/bone_attachment_3d.cpp
  scene/3d/physics/physical_bone_3d.cpp
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
  scene/3d/skeleton_ik_3d.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix crash navigating Tree without an existing selection
  scene/gui/tree.cpp
Due: copyright-headers

rename methods; add method for fetching 3D tool mode
  doc/classes/EditorInterface.xml
  editor/editor_interface.cpp
  editor/editor_interface.h
Due: make-rst, doc-status, copyright-headers, header-guards

Configure the splash screen for the Android editor
  platform/android/java/app/config.gradle
  platform/android/java/editor/build.gradle
  platform/android/java/editor/src/debug/res/values/strings.xml
  platform/android/java/editor/src/dev/res/values/strings.xml
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotEditor.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotGame.kt
  platform/android/java/editor/src/main/res/layout/godot_editor_layout.xml
  platform/android/java/editor/src/main/res/values/strings.xml
  platform/android/java/editor/src/main/res/values/themes.xml
  platform/android/java/lib/src/org/godotengine/godot/GodotActivity.kt
Due: none

Update the splash screen logic for the Godot app template
  main/main.cpp
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/android/java/app/build.gradle
  platform/android/java/app/res/drawable-nodpi/splash.png
  platform/android/java/app/res/drawable-nodpi/splash_bg_color.png
  platform/android/java/app/res/drawable/splash_drawable.xml
  platform/android/java/app/res/values/themes.xml
  platform/android/java/app/src/com/godot/game/GodotApp.java
Due: copyright-headers, header-guards

CI: Pin Python 3.12.3 to workaround GHA issue
  .github/actions/godot-deps/action.yml
Due: none

[RTL] Fix list item prefix width not taken into account.
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Due: copyright-headers, header-guards

Fix example for Basis * Vector3 in documentation
  doc/classes/Basis.xml
Due: make-rst, doc-status

Implement a LayoutContainer
  doc/classes/LayoutContainer.xml
  editor/icons/LayoutContainer.svg
  scene/gui/layout_container.cpp
  scene/gui/layout_container.h
  scene/register_scene_types.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix incorrect camera transform of animation view in the import window
  editor/import/3d/scene_import_settings.cpp
Due: copyright-headers

Fix `GodotConeTwistJoint3D::getSolveSwingLimit` returning wrong member variable
  servers/physics_3d/joints/godot_cone_twist_joint_3d.h
Due: copyright-headers, header-guards

Implement X-draw-order switch in TileMapLayer
  doc/classes/TileMap.xml
  doc/classes/TileMapLayer.xml
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: make-rst, doc-status, copyright-headers, header-guards

Consistently display script icons for nodes in connect dialog's scene tree editor
  editor/gui/scene_tree_editor.cpp
Due: copyright-headers

Fix editor screenshots menu button's tooltip.
  editor/editor_node.cpp
Due: copyright-headers

Allow changing project theme without restart
  editor/editor_node.cpp
  editor/editor_node.h
  scene/theme/theme_db.cpp
  scene/theme/theme_db.h
Due: copyright-headers, header-guards

Make `AudioDriverOpenSL`'s input callback thread-safe.
  platform/android/audio_driver_opensl.cpp
  servers/audio/audio_stream.cpp
Due: copyright-headers

Add input lock to `AudioDriver`.
  platform/android/audio_driver_opensl.cpp
  platform/android/audio_driver_opensl.h
  servers/audio/audio_stream.cpp
  servers/audio_server.h
Due: copyright-headers, header-guards

Fix potential issues with `OpenSL`.
  platform/android/audio_driver_opensl.cpp
Due: copyright-headers

[Button] Adds theme option to align button text and icon to either largest or current stylebox.
  doc/classes/Button.xml
  editor/themes/editor_theme_manager.cpp
  scene/gui/button.cpp
  scene/gui/button.h
  scene/theme/default_theme.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

[Window] Fix mouse hover state of the main window when mouse enter event was sent before setting callbacks.
  scene/main/window.cpp
Due: copyright-headers
