Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Make shaderLanguage's parser recognize sampler passed in from array
  servers/rendering/shader_language.cpp
Due: copyright-headers

Fix y position of OpenGL viewport and clear screen correctly
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
Due: copyright-headers, header-guards

Fix unclear `PROPERTY_USAGE_STORAGE`/`EDITOR` description
  doc/classes/@GlobalScope.xml
Due: make-rst, doc-status

Enable `restart_if_changed` for the touchscreen editor settings
  editor/editor_settings.cpp
  editor/plugins/curve_editor_plugin.cpp
  editor/themes/editor_theme_manager.cpp
Due: copyright-headers

Update Node docs to change iOS to Android for NOTIFICATION_WM_GO_BACK_REQUEST
  doc/classes/Node.xml
Due: make-rst, doc-status

Disable long press for mouse events
  platform/android/java/lib/src/org/godotengine/godot/input/GodotGestureHandler.kt
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
Due: copyright-headers

Fix potential null access in `TextEdit`
  scene/gui/text_edit.cpp
Due: copyright-headers

Always render when XR is enabled, even if no OS windows can draw
  doc/classes/DisplayServer.xml
  main/main.cpp
  modules/openxr/openxr_interface.cpp
  servers/display_server.cpp
  servers/display_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix resources being skipped in InstancePlaceholder
  scene/main/instance_placeholder.cpp
Due: copyright-headers

Fix audio samples not being able to be "finished"
  platform/web/audio_driver_web.cpp
  scene/audio/audio_stream_player_internal.cpp
  servers/audio/audio_stream.h
  servers/audio_server.cpp
  servers/audio_server.h
Due: copyright-headers, header-guards

Editor: Consider tabs when calculating column for jump to error
  editor/code_editor.cpp
  editor/plugins/script_text_editor.cpp
Due: copyright-headers

Fix GDScript "if" error message
  modules/gdscript/gdscript_parser.cpp
Due: copyright-headers

7890
  modules/game_help/logic/animator/body_animator.cpp
  modules/game_help/logic/animator/body_animator.h
  modules/game_help/logic/body_main.cpp
  modules/game_help/logic/body_main.h
  modules/game_help/logic/character_manager.cpp
  modules/game_help/logic/character_manager.h
  modules/game_help/logic/character_shape/character_body_prefab.h
  modules/renik/renik.cpp
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Due: copyright-headers, header-guards

Fix typos
  doc/classes/DisplayServer.xml
  doc/classes/ResourceUID.xml
  doc/classes/TileData.xml
  editor/editor_build_profile.cpp
  editor/editor_build_profile.h
  editor/plugins/script_editor_plugin.h
  modules/lightmapper_rd/lightmapper_rd.cpp
  scene/main/node.h
  servers/rendering/rendering_device.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

[Audio] Prevent crash in interactive playback
  modules/interactive_music/audio_stream_interactive.cpp
  modules/interactive_music/register_types.cpp
Due: copyright-headers

Add editor setting to disable zoom shortcut
  doc/classes/EditorSettings.xml
  editor/code_editor.cpp
  editor/code_editor.h
  editor/editor_settings.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Automatically enable newly-installed plugins
  editor/editor_asset_installer.cpp
  editor/editor_asset_installer.h
Due: copyright-headers, header-guards

fix for: #93415
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Due: copyright-headers, header-guards

Removed Unique Name Access From Node Moved To Root
  editor/scene_tree_dock.cpp
Due: copyright-headers

Add warning when use FSR1 on renderer other than forward plus
  servers/rendering/renderer_viewport.cpp
Due: copyright-headers

Improve Curve preview colors for consistency
  editor/plugins/curve_editor_plugin.cpp
Due: copyright-headers

Linux/X11: Fix memory leak from created screen images
  platform/linuxbsd/x11/display_server_x11.cpp
Due: copyright-headers

[Core] Fix TypedArray encoding when full objects is disabled
  core/io/marshalls.cpp
Due: copyright-headers

Few fixes for `VisualShaderNodeRotationByAxis`
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader_nodes.cpp
Due: copyright-headers

Fix internal connection count decreased if visual shader node removed
  scene/resources/visual_shader.cpp
Due: copyright-headers

Autocompletion: register depended parsers with the main parser
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Due: copyright-headers, header-guards

Speed up `GDScriptLanguage::finish`
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
Due: copyright-headers, header-guards

Fix handling of missing bin file in gltf separate
  modules/gltf/gltf_document.cpp
Due: copyright-headers

Fix issue causing input lock when drag scrolling a `Tree` element on touchscreen devices
  scene/gui/tree.cpp
  scene/gui/tree.h
Due: copyright-headers, header-guards

[Tests] Fix various unit tests on minimal builds
  scene/gui/line_edit.cpp
  scene/gui/menu_bar.cpp
  scene/gui/menu_button.cpp
  tests/core/io/test_http_client.h
  tests/core/io/test_image.h
  tests/scene/test_graph_node.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

[CI] Run unit tests on desktop release templates
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/windows_builds.yml
Due: none

Fix empty region in AtlasTexture
  doc/classes/AtlasTexture.xml
  scene/resources/atlas_texture.cpp
  scene/resources/atlas_texture.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix new stream types `mix()` not returning 0 when inactive
  modules/interactive_music/audio_stream_interactive.cpp
  modules/interactive_music/audio_stream_playlist.cpp
  modules/interactive_music/audio_stream_synchronized.cpp
Due: copyright-headers

Add tests for OptionButton
  tests/scene/test_option_button.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

[macOS] Fix codesigning of .NET helper executables when sandboxing is disabled.
  platform/macos/export/export_plugin.cpp
  platform/macos/export/export_plugin.h
Due: copyright-headers, header-guards

Fix Crash when adding scenes with a group to the level scene
  editor/groups_editor.cpp
Due: copyright-headers

Fix dynamic-stack-buffer-overflow crash when executing random functions on random physics objects
  scene/3d/physics/rigid_body_3d.cpp
Due: copyright-headers

ResourceLoader: Fix sync issues with error reporting
  core/io/resource_loader.cpp
Due: copyright-headers

Add note about `Script.has_source_code` and GDScript binary tokenization
  doc/classes/Script.xml
Due: make-rst, doc-status

Implement offscreen rendering
  main/main.cpp
  servers/SCsub
  servers/display_server.cpp
  servers/display_server_offscreen.cpp
  servers/display_server_offscreen.h
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering_context_driver_vulkan_headless.cpp
  servers/rendering_context_driver_vulkan_headless.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
