Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Fix scroll container min size calculation
  scene/gui/scroll_container.cpp
Due: copyright-headers

Fix Unable to use ResourceLoader in C# after threaded load in GDScript #92798
  core/core_bind.cpp
  core/core_bind.h
  core/object/class_db.cpp
  core/object/class_db.h
  core/variant/array.cpp
  core/variant/array.h
Due: copyright-headers, header-guards

[Label3D] Fix updating labels in subvieports on oversampling change.
  scene/3d/label_3d.cpp
  scene/main/window.cpp
Due: copyright-headers

Improve ClassDB::_is_parent_class performance
  core/object/class_db.cpp
Due: copyright-headers

Add Control+Shift+U (rebindabe) action for Unicode input, show hex as it is entered.
  core/input/input_map.cpp
  doc/classes/LineEdit.xml
  doc/classes/ProjectSettings.xml
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix load error popup showing on every progress dialog
  editor/editor_node.cpp
  editor/editor_node.h
Due: copyright-headers, header-guards

[MP] Fix broken RPCs after dictionary keys type change
  modules/multiplayer/scene_rpc_interface.cpp
  modules/multiplayer/scene_rpc_interface.h
Due: copyright-headers, header-guards

Fix polygon node losing its UV toolbar by adding a call to the show method when assinging a node.
  editor/plugins/abstract_polygon_2d_editor.cpp
Due: copyright-headers

Add validation to glTF importer for Blendshape and Animation
  modules/fbx/fbx_document.cpp
  modules/gltf/gltf_document.cpp
  scene/resources/3d/importer_mesh.cpp
  scene/resources/3d/importer_mesh.h
Due: copyright-headers, header-guards

Document conversion function needed for normal texture in CompositorEffect
  doc/classes/CompositorEffect.xml
Due: make-rst, doc-status

[Editor,Servers]: Minor optimizations
  editor/editor_inspector.cpp
  servers/audio_server.cpp
  servers/rendering/renderer_viewport.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_server_default.cpp
Due: copyright-headers

Fix shader incorrectly expects `int` on `uint` and vice-versa in cases
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Due: copyright-headers, header-guards

Fix Dictionary.merge() type validation
  core/variant/dictionary.cpp
Due: copyright-headers

Fix a crash in ImporterMesh::create_shadow_mesh for non-triangle surfaces
  scene/resources/3d/importer_mesh.cpp
Due: copyright-headers

[Editor] Expose more editor settings to documentation
  doc/classes/EditorSettings.xml
  editor/debugger/debug_adapter/debug_adapter_server.cpp
  editor/debugger/editor_file_server.cpp
  editor/editor_help.cpp
  editor/editor_native_shader_source_visualizer.cpp
  editor/editor_settings.cpp
  editor/export/editor_export_plugin.cpp
  editor/export/editor_export_plugin.h
  editor/plugins/asset_library_editor_plugin.cpp
  editor/plugins/bone_map_editor_plugin.cpp
  editor/plugins/gizmos/audio_stream_player_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/camera_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/cpu_particles_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/decal_gizmo_plugin.cpp
  editor/plugins/gizmos/fog_volume_gizmo_plugin.cpp
  editor/plugins/gizmos/gpu_particles_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/gpu_particles_collision_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/joint_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/lightmap_gi_gizmo_plugin.cpp
  editor/plugins/gizmos/lightmap_probe_gizmo_plugin.cpp
  editor/plugins/gizmos/occluder_instance_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/reflection_probe_gizmo_plugin.cpp
  editor/plugins/gizmos/visible_on_screen_notifier_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/voxel_gi_gizmo_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/version_control_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  modules/csg/editor/csg_gizmos.cpp
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/language_server/gdscript_language_server.cpp
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/openxr/editor/openxr_select_runtime.cpp
  platform/android/export/export.cpp
  platform/ios/export/export.cpp
  platform/macos/export/export.cpp
  platform/web/export/export.cpp
  platform/windows/export/export.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

ResourceLoader: Fixup resource changed feature (no. 2)
  core/io/resource_loader.cpp
Due: copyright-headers

LSP: Omit some values based on specification version 3.17
  modules/gdscript/language_server/godot_lsp.h
Due: copyright-headers, header-guards

Fix typo in RenderingServer docs
  doc/classes/RenderingServer.xml
Due: make-rst, doc-status

Object: Add tests about the safety of tail destruction
  modules/gdscript/tests/scripts/runtime/features/self_destruction.gd
  modules/gdscript/tests/scripts/runtime/features/self_destruction.out
  tests/core/object/test_object.h
Due: copyright-headers, header-guards

Wayland: Simplify cursor code and fix custom cursors
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

Fix `VSlider` grabber area.
  scene/gui/slider.cpp
Due: copyright-headers

Expose get_rpc_config and get_node_rpc_config
  core/object/script_language.cpp
  core/object/script_language.h
  core/object/script_language_extension.h
  doc/classes/Node.xml
  doc/classes/Script.xml
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/multiplayer/scene_rpc_interface.cpp
  scene/main/node.cpp
  scene/main/node.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix editor_doc_cache locked on editor startup
  platform/android/export/export_plugin.cpp
Due: copyright-headers

Fix Path2D editor not updating gizmos on selection
  editor/plugins/path_2d_editor_plugin.cpp
Due: copyright-headers

Make detach script non-destructive operation
  editor/scene_tree_dock.cpp
Due: copyright-headers

Enable Drag and Drop for SubViewports and Windows
  doc/classes/Viewport.xml
  platform/linuxbsd/x11/display_server_x11.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/main/window.cpp
  scene/main/window.h
  tests/scene/test_viewport.h
Due: make-rst, doc-status, copyright-headers, header-guards

Don't rescan filesystem when adding new directory
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Due: copyright-headers, header-guards

Core: Fix `operator[]` for typed dictionaries
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant_setget.cpp
  modules/gdscript/tests/scripts/runtime/errors/typed_dictionary_assign_differently_typed_key.gd
  modules/gdscript/tests/scripts/runtime/errors/typed_dictionary_assign_differently_typed_key.out
  modules/gdscript/tests/scripts/runtime/errors/typed_dictionary_assign_differently_typed_value.gd
  modules/gdscript/tests/scripts/runtime/errors/typed_dictionary_assign_differently_typed_value.out
Due: copyright-headers, header-guards

Style: Format yaml files
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/actions/download-artifact/action.yml
  .github/actions/godot-api-dump/action.yml
  .github/actions/godot-build/action.yml
  .github/actions/godot-cache-restore/action.yml
  .github/actions/godot-cache-save/action.yml
  .github/actions/godot-converter-test/action.yml
  .github/actions/godot-deps/action.yml
  .github/actions/godot-project-test/action.yml
  .github/actions/upload-artifact/action.yml
  .github/workflows/android_builds.yml
  .github/workflows/godot_cpp_test.yml
  .github/workflows/ios_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/runner.yml
  .github/workflows/static_checks.yml
  .github/workflows/web_builds.yml
  .github/workflows/windows_builds.yml
  .pre-commit-config.yaml
Due: none

Style: Consolidate & migrate GDScript `.editorconfig`
  modules/gdscript/.editorconfig
  modules/gdscript/tests/scripts/.editorconfig
  modules/gdscript/tests/scripts/parser/.editorconfig
Due: none

Fix script properties reload from external editor
  editor/connections_dialog.cpp
  editor/editor_file_system.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
Due: copyright-headers

Fix gizmo redraw performance for PlaneMesh with larger subdiv value
  editor/plugins/gizmos/mesh_instance_3d_gizmo_plugin.cpp
Due: copyright-headers

Improve wording on XRPose's `name` description
  doc/classes/XRPose.xml
Due: make-rst, doc-status

Allow opening of polygon editor without texture
  editor/plugins/polygon_2d_editor_plugin.cpp
Due: copyright-headers

Add CommandQueue to Betsy
  modules/betsy/image_compress_betsy.cpp
  modules/betsy/image_compress_betsy.h
Due: copyright-headers, header-guards

Remove Useless Viewport::gui.key_input_accepted
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: copyright-headers, header-guards

Use distance to AABB surface to calculate Mesh LOD instead of using supports
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Due: copyright-headers

fix astar partial path destination can be solid/disabled
  core/math/a_star.cpp
  core/math/a_star.h
  core/math/a_star_grid_2d.cpp
  core/math/a_star_grid_2d.h
  doc/classes/AStar2D.xml
  doc/classes/AStar3D.xml
  doc/classes/AStarGrid2D.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Betsy: Add caching and BC1 compression support
  core/io/image.cpp
  core/io/image.h
  doc/classes/ProjectSettings.xml
  modules/betsy/SCsub
  modules/betsy/bc1.glsl
  modules/betsy/betsy_bc1.h
  modules/betsy/image_compress_betsy.cpp
  modules/betsy/image_compress_betsy.h
  modules/betsy/register_types.cpp
  servers/rendering_server.cpp
  thirdparty/README.md
Due: make-rst, doc-status, copyright-headers, header-guards

Fix broken sky shader
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_compiler.h
Due: copyright-headers, header-guards
