Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

If changing cell_size.z of a hex gridmap, keep x in sync.
  modules/gridmap/grid_map.cpp
Due: copyright-headers

Revert variable name
  editor/editor_node.cpp
Due: copyright-headers

Improve Mesh UV1/UV2 preview in the editor
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  editor/plugins/mesh_instance_3d_editor_plugin.h
Due: copyright-headers, header-guards

Improve "No meshes to bake" LightmapGI error dialog in the editor
  editor/plugins/lightmap_gi_editor_plugin.cpp
Due: copyright-headers

Disable auto translate of FileDialog's file list
  scene/gui/file_dialog.cpp
Due: copyright-headers

[TextServer] Reset subpixel shift on blank glyphs and import option to enable/disable it.
  doc/classes/FontFile.xml
  doc/classes/ResourceImporterDynamicFont.xml
  doc/classes/SystemFont.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  editor/import/dynamic_font_import_settings.cpp
  editor/import/resource_importer_dynamic_font.cpp
  editor/import/resource_importer_imagefont.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  scene/resources/font.cpp
  scene/resources/font.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

[Android] Implement support for accent color retrieval
  doc/classes/DisplayServer.xml
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
Due: make-rst, doc-status, copyright-headers, header-guards

fix save to wav
  scene/resources/audio_stream_wav.cpp
Due: copyright-headers

Add dependency detection improvements to the render graph.
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/effects/copy_effects.h
  servers/rendering/renderer_rd/shaders/effects/cube_to_dp.glsl
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.h
  servers/rendering/rendering_device_driver.cpp
  servers/rendering/rendering_device_driver.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
Due: copyright-headers, header-guards

Fix parser error on lambda corner case, fixes #97204
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/tests/scripts/parser/features/lambda_dedent_corner_case.gd
  modules/gdscript/tests/scripts/parser/features/lambda_dedent_corner_case.out
Due: copyright-headers

[Core,Drivers] Improve use of `Ref.is_null/valid`
  core/input/input_map.cpp
  core/io/image.cpp
  core/io/packet_peer_udp.cpp
  core/io/plist.cpp
  core/io/remote_filesystem_client.cpp
  core/io/resource.cpp
  core/io/resource_format_binary.cpp
  core/io/resource_loader.cpp
  core/io/stream_peer_tcp.cpp
  core/io/tcp_server.cpp
  core/io/udp_server.cpp
  core/object/object.cpp
  drivers/gles3/storage/texture_storage.cpp
  drivers/png/resource_saver_png.cpp
Due: copyright-headers

Core: Mutual conversion operators to constructors
  core/math/rect2.cpp
  core/math/rect2.h
  core/math/rect2i.cpp
  core/math/rect2i.h
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector2i.cpp
  core/math/vector2i.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/math/vector3i.cpp
  core/math/vector3i.h
  core/math/vector4.cpp
  core/math/vector4.h
  core/math/vector4i.cpp
  core/math/vector4i.h
Due: copyright-headers, header-guards

Add node active property and lifecycle methods
  doc/classes/EditorSettings.xml
  doc/classes/Node.xml
  editor/editor_settings.cpp
  editor/gui/scene_tree_editor.cpp
  editor/gui/scene_tree_editor.h
  scene/2d/camera_2d.cpp
  scene/3d/camera_3d.cpp
  scene/3d/camera_3d.h
  scene/3d/node_3d.cpp
  scene/main/canvas_item.cpp
  scene/main/canvas_layer.cpp
  scene/main/node.cpp
  scene/main/node.h
  scene/scene_string_names.cpp
  scene/scene_string_names.h
  tests/scene/test_node.h
Due: make-rst, doc-status, copyright-headers, header-guards

Avoid infinite recursion when AnimationPlayer.current_animation is set to an empty string
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
Due: copyright-headers, header-guards

Default UI font: enable Inter features
  editor/themes/editor_fonts.cpp
Due: copyright-headers

improve error message when calling callable parameters with () operator
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/errors/call_callable_parameter_with_paranthesis.gd
  modules/gdscript/tests/scripts/analyzer/errors/call_callable_parameter_with_paranthesis.out
  modules/gdscript/tests/scripts/analyzer/errors/call_lambda_with_paranthesis.gd
  modules/gdscript/tests/scripts/analyzer/errors/call_lambda_with_paranthesis.out
Due: copyright-headers

Clean up Image
  core/io/image.cpp
  core/io/image.h
Due: copyright-headers, header-guards

Add quad mesh to material preview
  editor/icons/MaterialPreviewQuad.svg
  editor/plugins/material_editor_plugin.cpp
  editor/plugins/material_editor_plugin.h
  editor/themes/editor_color_map.cpp
Due: svgo, copyright-headers, header-guards

[Editor] Copy encryption and script settings on export preset duplication.
  editor/export/project_export.cpp
Due: copyright-headers

fixed some minor code errors
  drivers/gles3/shaders/tonemap_inc.glsl
  scene/resources/environment.cpp
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
Due: copyright-headers

fixed some minor clang style errors
  drivers/gles3/shaders/tonemap_inc.glsl
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
Due: none

fixed some minor clang style errors2
  drivers/gles3/shaders/tonemap_inc.glsl
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
Due: none

fixed some minor clang style errors3
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
Due: none

fixed some minor clang style errors4
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
Due: none

fixed some minor clang style errors5
  doc/classes/RenderingServer.xml
Due: make-rst, doc-status

fixed some minor clang style errors6
  doc/classes/Environment.xml
Due: make-rst, doc-status

Add Codium support to C# external editors
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
Due: none

[Editor] Fix EditorSettings.xml docs for "ask_before_revoking_unique_name"
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status

fixed some minor clang style errors7
  doc/classes/Environment.xml
  doc/classes/RenderingServer.xml
Due: make-rst, doc-status

renamed some stuff
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/windows_builds.yml
  README.md
  core/config/project_settings.cpp
  editor/editor_about.cpp
  misc/dist/html/editor.html
  misc/dist/html/manifest.json
  misc/dist/windows/godot.iss
  modules/openxr/openxr_api.cpp
  platform/linuxbsd/SCsub
  platform/linuxbsd/freedesktop_screensaver.cpp
  platform/macos/SCsub
  platform/macos/display_server_macos.mm
  platform/windows/SCsub
  platform/windows/display_server_windows.cpp
  platform/windows/godot_res_wrap.rc
  tests/core/io/test_json.h
  version.py
Due: eslint, copyright-headers, header-guards

Docs: Fix AABB is_finite() and is_equal_approx()
  doc/classes/AABB.xml
Due: make-rst, doc-status

mono workflow
  .github/workflows/windows_builds.yml
Due: none

fixed some minor code errors, and added mono workflow
  .github/workflows/windows_builds.yml
  doc/classes/Environment.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/shaders/tonemap_inc.glsl
  scene/resources/environment.cpp
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
Due: make-rst, doc-status, copyright-headers

think this fixed the angle refrence
  .github/workflows/windows_builds.yml
Due: none

Better logic for Environment settings in the inspector
  scene/resources/environment.cpp
Due: copyright-headers

Add prefix to struct member names in shader compiler
  servers/rendering/shader_compiler.cpp
Due: copyright-headers

migrate the vsproj creation from godot to blazium
  SConstruct
  methods.py
  misc/msvs/vcxproj.template
  scu_builders.py
Due: none

now the web editor are working
  misc/dist/html/editor.html
  misc/dist/html/full-size.html
  misc/dist/html/manifest.json
  misc/dist/html/service-worker.js
  platform/web/emscripten_helpers.py
  platform/web/eslint.config.cjs
  platform/web/export/export_plugin.cpp
  platform/web/js/engine/engine.externs.js
  platform/web/js/engine/engine.js
Due: eslint, jsdoc, copyright-headers

Update Aabb.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Aabb.cs
Due: none

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
