Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Fix collision solver to use correct motion parameters in static world boundary checks
  modules/godot_physics_2d/godot_collision_solver_2d.cpp
Due: copyright-headers

Fix argument order in GodotArea2Pair2D instantiation for broadphase pair
  modules/godot_physics_2d/godot_space_2d.cpp
Due: copyright-headers

Add `OS::get_command_key()` to get CTRL or META
  core/core_bind.cpp
  core/core_bind.h
  core/os/os.h
  doc/classes/OS.xml
  drivers/apple_embedded/os_apple_embedded.h
  platform/macos/os_macos.h
  platform/web/godot_js.h
  platform/web/js/libs/library_godot_os.js
  platform/web/os_web.cpp
  platform/web/os_web.h
Due: make-rst, doc-status, eslint, copyright-headers, header-guards

Replace repetitive meta/ctrl condition with a method
  core/input/input_event.cpp
  core/os/keyboard.cpp
  core/os/os.cpp
  core/os/os.h
  editor/gui/editor_spin_slider.cpp
  editor/scene/2d/polygon_2d_editor_plugin.cpp
  editor/scene/2d/tiles/tile_map_layer_editor.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/settings/editor_settings.cpp
  editor/settings/event_listener_line_edit.cpp
  scene/gui/code_edit.cpp
Due: copyright-headers, header-guards

Automatically open newly created script
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
Due: copyright-headers, header-guards

Add spherical harmonics sky
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/effects/copy_effects.h
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/environment/sky.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/effects/sh_from_cubemap.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/scene_data_inc.glsl
  servers/rendering/renderer_rd/shaders/spherical_harmonics_inc.glsl
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.h
Due: copyright-headers, header-guards

Add environment variable access defines to SDL linux build config
  drivers/sdl/SDL_build_config_private.h
Due: copyright-headers, header-guards

Store editor log button state globally
  editor/editor_log.cpp
Due: copyright-headers

*finally* fix port+slot layout, fix name conflicts and bugs
  editor/shader/visual_shader_editor_plugin.cpp
  editor/themes/editor_theme_manager.cpp
  scene/gui/graph_node.cpp
  scene/gui/graph_node.h
  scene/gui/graph_node_indexed.cpp
  scene/gui/graph_node_indexed.h
  scene/gui/graph_port.cpp
  scene/gui/graph_port.h
  scene/theme/default_theme.cpp
Due: copyright-headers, header-guards

fix port expansion, get_filtered_port_count
  editor/shader/visual_shader_editor_plugin.cpp
  scene/gui/graph_node.cpp
Due: copyright-headers

Thirdparty: Fix SDL arm64 compilation on Windows
  thirdparty/sdl/patches/0004-errno-include.patch
  thirdparty/sdl/stdlib/SDL_malloc.c
Due: none

Fix modifier order in keycode string generation
  core/input/input_event.cpp
  core/os/keyboard.cpp
  tests/core/input/test_input_event_key.h
Due: copyright-headers, header-guards

Alternate Implementation
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
Due: copyright-headers, header-guards

[4.3] Add `CLIP_SPACE_FAR` built-in to spatial shader
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/material_storage.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/visual_shader.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/shader_types.cpp
Due: copyright-headers

Allow tab_rmb_clicked signal to always be emitted
  doc/classes/TabBar.xml
  editor/docks/editor_dock_manager.cpp
  editor/docks/editor_dock_manager.h
  scene/gui/tab_bar.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

fix connections, port hotzones, many other issues
  editor/animation/animation_blend_tree_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.cpp
  scene/gui/graph_connection.cpp
  scene/gui/graph_connection.h
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
  scene/gui/graph_node.cpp
  scene/gui/graph_node.h
  scene/gui/graph_node_indexed.cpp
  scene/gui/graph_node_indexed.h
  scene/gui/graph_port.cpp
Due: copyright-headers, header-guards

update API
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Due: copyright-headers, header-guards

fix issue introduced by a prior fix
  editor/shader/visual_shader_editor_plugin.cpp
Due: copyright-headers

Fix compile error for windows
  servers/camera_server.h
Due: copyright-headers, header-guards

Consolidate frame_changed signal into CameraFeed
  modules/camera/camera_android.cpp
  modules/camera/camera_feed_linux.cpp
  servers/camera/camera_feed.cpp
  servers/camera/camera_feed.h
Due: copyright-headers, header-guards

Multiselect for unwrap uv2
  editor/scene/3d/mesh_instance_3d_editor_plugin.cpp
Due: copyright-headers

Fix typo in `TextParagraph.direction` hint string
  scene/resources/text_paragraph.cpp
Due: copyright-headers

Move 2D and 3D particle editors to the 2D and 3D folders
  editor/register_editor_types.cpp
  editor/scene/2d/particles_2d_editor_plugin.cpp
  editor/scene/2d/particles_2d_editor_plugin.h
  editor/scene/3d/particles_3d_editor_plugin.cpp
  editor/scene/3d/particles_3d_editor_plugin.h
  editor/scene/particles_editor_plugin.cpp
Due: copyright-headers, header-guards

TabBar current tab now stays -1 when adding first tab on deselect_enable
  scene/gui/tab_bar.cpp
  tests/scene/test_tab_bar.h
Due: copyright-headers, header-guards

improve APIs and fix various issues
  editor/shader/visual_shader_editor_plugin.cpp
  scene/gui/graph_connection.cpp
  scene/gui/graph_connection.h
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
  scene/gui/graph_node.cpp
  scene/gui/graph_node.h
  scene/gui/graph_node_indexed.cpp
  scene/gui/graph_port.cpp
  scene/gui/graph_port.h
Due: copyright-headers, header-guards

Adds `null` and range checks to `DisplayServerMacOSBase::clipboard_get()`.
  platform/macos/display_server_macos_base.mm
Due: copyright-headers

Fix using libudev with SDL
  drivers/sdl/SCsub
  drivers/sdl/SDL_build_config_private.h
  platform/linuxbsd/detect.py
  thirdparty/README.md
  thirdparty/sdl/core/linux/SDL_udev.c
  thirdparty/sdl/core/linux/SDL_udev.h
  thirdparty/sdl/hidapi/linux/hid.c
  thirdparty/sdl/patches/0004-fix-libudev.patch
Due: copyright-headers, header-guards

Editor: Add some gizmo handles for `MeshInstance3D`
  editor/scene/3d/gizmos/gizmo_3d_helper.cpp
  editor/scene/3d/gizmos/gizmo_3d_helper.h
  editor/scene/3d/gizmos/mesh_instance_3d_gizmo_plugin.cpp
  editor/scene/3d/gizmos/mesh_instance_3d_gizmo_plugin.h
Due: copyright-headers, header-guards

Use inotify to detect devices for better reliability on Linux
  drivers/sdl/SDL_build_config_private.h
Due: copyright-headers, header-guards

Add multi-node 3D collision based snapping
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

Add the ability to snap faces to the normal of a target node
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Add vector components to 3D ruler tool
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Deactivate orientation gizmo on window exit
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

VRAM Uncompressed: Optimize channels when possible
  core/io/image.cpp
  core/io/image.h
  editor/import/resource_importer_texture.cpp
Due: copyright-headers, header-guards

Fix: Tilemap tools not overriding main editor tools
  editor/scene/2d/tiles/tile_map_layer_editor.cpp
Due: copyright-headers

Fix can't remove inspector plugins after reaching max count
  editor/inspector/editor_inspector.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
