Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Simplify assigning pointer
  scene/gui/control.cpp
Due: copyright-headers

Whitespace Fixes
  core/templates/vector.h
Due: copyright-headers, header-guards

Remove comment
  scene/gui/control.cpp
Due: copyright-headers

`save_to_wav`: Improve error message and remove unhandled format code
  scene/resources/audio_stream_wav.cpp
Due: copyright-headers

Remove obvious comment
  scene/gui/control.cpp
Due: copyright-headers

Simplify assigning control pointer
  scene/gui/control.cpp
Due: copyright-headers

Correct Parameters in Documentation
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  doc/classes/PackedVector4Array.xml
Due: make-rst, doc-status

size() <= 0 and size() < 1.
  core/debugger/remote_debugger.cpp
  core/os/keyboard.cpp
  editor/code_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/tiles/tile_set_scenes_collection_source_editor.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/mono/editor/bindings_generator.cpp
  scene/gui/item_list.cpp
  scene/gui/rich_text_label.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_physicalbones.cpp
  scene/resources/3d/primitive_meshes.cpp
Due: copyright-headers

Remove pointless `_3D_DISABLED` checks in editor code
  editor/gui/editor_run_bar.cpp
  editor/plugins/game_view_plugin.cpp
Due: copyright-headers

Add `color_conversion_disabled` shader hint.
  drivers/gles3/storage/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Due: copyright-headers, header-guards

Minor doc update for `low_processor_mode_sleep_usec` editor settings
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status

include jpg compression source files
  modules/libjpeg/SCsub
  thirdparty/libjpeg/cjpeg.c
  thirdparty/libjpeg/jcapimin.c
  thirdparty/libjpeg/jcapistd.c
  thirdparty/libjpeg/jcarith.c
  thirdparty/libjpeg/jccoefct.c
  thirdparty/libjpeg/jccolor.c
  thirdparty/libjpeg/jcdctmgr.c
  thirdparty/libjpeg/jchuff.c
  thirdparty/libjpeg/jcmainct.c
  thirdparty/libjpeg/jcmarker.c
  thirdparty/libjpeg/jcmaster.c
  thirdparty/libjpeg/jcsample.c
Due: none

Path3D: custom debug color and custom debug show
  doc/classes/Path3D.xml
  editor/plugins/path_3d_editor_plugin.cpp
  editor/plugins/path_3d_editor_plugin.h
  scene/3d/path_3d.cpp
  scene/3d/path_3d.h
Due: make-rst, doc-status, copyright-headers, header-guards

Correcting type on Find_Seq inner loop
  core/templates/span.h
Due: copyright-headers, header-guards

Add custom shader support to SpriteBase3D
  editor/shader_create_dialog.cpp
  editor/shader_create_dialog.h
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
  scene/3d/visual_instance_3d.cpp
Due: copyright-headers, header-guards

Update README.md
  README.md
Due: none

Update core_bind.h
  core/core_bind.h
Due: copyright-headers, header-guards

Update core_bind.compat.inc
  core/core_bind.compat.inc
Due: copyright-headers

Optimize the custom doc for shaders. ﻿
  editor/editor_inspector.cpp
  scene/resources/shader.cpp
Due: copyright-headers

Fix typos in ProjectSettings class reference
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

C#: Implement tooltips for Signals and Properties in the inspector.
  editor/editor_file_system.cpp
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Sample/ClassDoc.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/ScriptDocsGeneratorTests.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ClassAllDoc_ScriptDocs.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ClassDoc_ScriptDocs.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ClassAllDoc.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ClassDoc.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ExtensionMethods.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptDocsGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPathAttributeGenerator.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ManagedCallbacks.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.cs
  modules/mono/mono_gd/gd_mono_cache.cpp
  modules/mono/mono_gd/gd_mono_cache.h
Due: copyright-headers, header-guards

LSP: Fix file URI handling + warn about workspace project mismatch
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/godot_lsp.h
Due: copyright-headers, header-guards

Overhaul `Resource::duplicate()`
  core/io/image.cpp
  core/io/image.h
  core/io/resource.cpp
  core/io/resource.h
  doc/classes/Resource.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Overhaul `Resource::duplicate_for_local_scene()`
  core/io/resource.cpp
  core/io/resource.h
Due: copyright-headers, header-guards

Overhaul `Variant::duplicate()` for resources
  core/io/resource.cpp
  core/io/resource.h
  core/variant/array.cpp
  core/variant/array.h
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant.h
  core/variant/variant_call.cpp
  core/variant/variant_deep_duplicate.h
  core/variant/variant_setget.cpp
  doc/classes/Array.xml
  doc/classes/Dictionary.xml
  doc/classes/Resource.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Add tests for resource duplication
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  tests/core/io/test_resource.h
Due: copyright-headers, header-guards

Shortcut should not be accepted if focus_owner is Tree
  editor/editor_inspector.cpp
Due: copyright-headers

Fix parents of exposed nodes sticking around when toggling editable children. Fix edge case for import
  editor/gui/scene_tree_editor.cpp
  editor/icons/SceneExposedNode.svg
  editor/icons/SceneExposedNodeInstanced.svg
  editor/import/3d/resource_importer_scene.cpp
  editor/scene_tree_dock.cpp
  scene/resources/packed_scene.cpp
Due: svgo, copyright-headers

Prompt to restart when project data (.godot) is missing
  editor/editor_node.cpp
  editor/editor_node.h
Due: copyright-headers, header-guards

Add MultiNodeEdit support for NavigationRegion3D
  modules/navigation/3d/godot_navigation_server_3d.cpp
  modules/navigation/3d/godot_navigation_server_3d.h
  modules/navigation/3d/nav_mesh_generator_3d.cpp
  modules/navigation/3d/nav_mesh_generator_3d.h
  modules/navigation/editor/navigation_mesh_editor_plugin.cpp
  modules/navigation/editor/navigation_mesh_editor_plugin.h
  servers/navigation_server_3d.h
  servers/navigation_server_3d_dummy.h
Due: copyright-headers, header-guards

Tweak a few miscellaneous localization strings
  editor/editor_inspector.cpp
  editor/editor_run_native.cpp
  modules/openxr/editor/openxr_binding_modifier_editor.cpp
  platform/linuxbsd/export/export_plugin.cpp
Due: copyright-headers

OpenXR: Clean-up `OpenXRExtensionWrapper` by removing multiple inheritance and deprecating `OpenXRExtensionWrapperExtension`
  misc/extension_api_validation/4.4-stable.expected
  modules/openxr/doc_classes/OpenXRAPIExtension.xml
  modules/openxr/doc_classes/OpenXRExtensionWrapper.xml
  modules/openxr/doc_classes/OpenXRExtensionWrapperExtension.xml
  modules/openxr/extensions/openxr_composition_layer_depth_extension.h
  modules/openxr/extensions/openxr_composition_layer_extension.h
  modules/openxr/extensions/openxr_extension_wrapper.cpp
  modules/openxr/extensions/openxr_extension_wrapper.h
  modules/openxr/extensions/openxr_extension_wrapper_extension.h
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_api_extension.compat.inc
  modules/openxr/openxr_api_extension.cpp
  modules/openxr/openxr_api_extension.h
  modules/openxr/register_types.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Overhaul Node2D documentation
  doc/classes/Node2D.xml
Due: make-rst, doc-status

Optimize `Color::to_html` by allocating less.
  core/math/color.cpp
  core/string/char_utils.h
  core/string/ustring.cpp
Due: copyright-headers, header-guards

Fix *even* more miscellaneous oddities around the class reference
  doc/classes/AnimatedSprite2D.xml
  doc/classes/AnimatedSprite3D.xml
  doc/classes/AnimationMixer.xml
  doc/classes/AnimationPlayer.xml
  doc/classes/AudioEffectPhaser.xml
  doc/classes/BoneAttachment3D.xml
  doc/classes/CodeEdit.xml
  doc/classes/Control.xml
  doc/classes/DisplayServer.xml
  doc/classes/EditorExportPreset.xml
  doc/classes/Mesh.xml
  doc/classes/OS.xml
  doc/classes/PrimitiveMesh.xml
  doc/classes/RenderingDevice.xml
  doc/classes/RenderingServer.xml
  doc/classes/Skeleton3D.xml
  doc/classes/SkeletonModifier3D.xml
  doc/classes/TextServer.xml
  doc/classes/Viewport.xml
  doc/classes/Window.xml
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gltf/doc_classes/GLTFAccessor.xml
  modules/gltf/doc_classes/GLTFLight.xml
  modules/gltf/doc_classes/GLTFNode.xml
  modules/gltf/doc_classes/GLTFPhysicsBody.xml
  modules/gltf/doc_classes/GLTFPhysicsShape.xml
  modules/gltf/doc_classes/GLTFState.xml
  platform/android/doc_classes/EditorExportPlatformAndroid.xml
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
Due: make-rst, doc-status

Fix icons with non-ASCII file names in project manager.
  core/io/resource_uid.cpp
Due: copyright-headers

Update doc/classes/Object.xml
  doc/classes/Object.xml
Due: make-rst, doc-status

Add compression level support to ZipPacker
  .github/CODEOWNERS
  modules/zip/SCsub
  modules/zip/doc_classes/ZIPPacker.xml
  modules/zip/doc_classes/ZIPReader.xml
  modules/zip/tests/data/test.zip
  modules/zip/tests/test_zip.cpp
  modules/zip/tests/test_zip.h
  modules/zip/zip_packer.cpp
  modules/zip/zip_packer.h
  modules/zip/zip_reader.cpp
Due: make-rst, doc-status, copyright-headers, header-guards
