Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Update doc/classes/Camera3D.xml
  doc/classes/Camera3D.xml
Due: make-rst, doc-status

Add platform lifecycle callbacks to CameraServer base class
  drivers/apple_embedded/godot_view_controller.mm
  modules/camera/camera_android.cpp
  modules/camera/camera_android.h
  platform/android/java/lib/src/main/java/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/GodotLib.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_lib_jni.h
  servers/camera/camera_server.h
Due: copyright-headers, header-guards

Hide property groups from the "Members" section in the remote inspector
  scene/debugger/scene_debugger.cpp
Due: copyright-headers

CI: Bump SCons version [4.10.0→4.10.1]
  .github/actions/godot-deps/action.yml
Due: none

Changed _collision_box_capsule to be more analytical, and similar to _collision_sphere_box
  modules/godot_physics_3d/godot_collision_solver_3d_sat.cpp
Due: copyright-headers

Add ENet connection event lifecycle test
  modules/enet/tests/test_enet_connection.h
  tests/modules/test_enet_connection.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

Make all unsupported renderer message features consistently warnings
  drivers/gles3/storage/material_storage.cpp
  editor/editor_node.cpp
  editor/project_manager/project_dialog.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
  main/main.cpp
  scene/2d/gpu_particles_2d.cpp
  scene/3d/decal.cpp
  scene/3d/gpu_particles_3d.cpp
  scene/3d/visual_instance_3d.cpp
  servers/rendering/renderer_viewport.cpp
  servers/rendering/storage/camera_attributes_storage.cpp
  servers/rendering/storage/environment_storage.cpp
Due: copyright-headers

Fix wrong tab when TabContainer was not in tree
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
Due: copyright-headers, header-guards

Add solo/hide/lock/delete buttons to node groups in bezier track editor
  editor/animation/animation_bezier_editor.cpp
  editor/animation/animation_bezier_editor.h
  editor/animation/animation_track_editor.cpp
Due: copyright-headers, header-guards

[Issue Template] Emphasize listing all tested versions
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

EmbeddedProcess: Fix invalid deferred call
  editor/run/embedded_process.cpp
Due: copyright-headers

Fix incorrect material and mesh thumbnails
  editor/inspector/editor_resource_preview.cpp
  editor/inspector/editor_resource_preview.h
Due: copyright-headers, header-guards

Fix `ProjectManager` UI going below window
  editor/project_manager/project_manager.cpp
Due: copyright-headers

Make remote debug elements ignore the canvas scaling
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
Due: copyright-headers, header-guards

Add helper function in project setting to register global shader parameter
  core/config/project_settings.cpp
  core/config/project_settings.h
  doc/classes/ProjectSettings.xml
  editor/shader/shader_globals_editor.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Add NOTIFICATION_RESOURCE_DESERIALIZED
  core/io/resource.cpp
  core/io/resource.h
  core/io/resource_format_binary.cpp
  doc/classes/Resource.xml
  scene/resources/resource_format_text.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix screen-space AA when upscaling using bilinear filtering
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Due: copyright-headers

Use physical key shortcuts for the animation editor's play/pause buttons
  editor/animation/animation_player_editor_plugin.cpp
Due: copyright-headers

Apply default renderer setting immediately in Project Manager
  editor/project_manager/project_dialog.cpp
Due: copyright-headers

Use Unicode arrow symbols throughout the editor
  editor/animation/animation_library_editor.cpp
  editor/animation/animation_state_machine_editor.cpp
  editor/plugins/plugin_config_dialog.cpp
  editor/scene/2d/tiles/tile_proxies_manager_dialog.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.cpp
  modules/interactive_music/editor/audio_stream_interactive_editor_plugin.cpp
  modules/objectdb_profiler/editor/snapshot_data.cpp
Due: copyright-headers

Fix issues with property height in the inspector
  editor/gui/editor_spin_slider.cpp
  editor/gui/editor_spin_slider.h
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
  editor/inspector/editor_properties.cpp
  editor/inspector/editor_properties.h
  editor/inspector/editor_properties_array_dict.cpp
  editor/inspector/editor_resource_picker.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/gui/theme_editor_preview.cpp
  editor/themes/editor_theme_manager.cpp
  editor/themes/editor_theme_manager.h
  editor/themes/theme_classic.cpp
  editor/themes/theme_modern.cpp
Due: copyright-headers, header-guards

Change behavior of negative delta in rotate_toward, also update docs to reflect that.
  core/math/math_funcs.h
  doc/classes/@GlobalScope.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Mathf.cs
  tests/core/math/test_math_funcs.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add 7 container visualizations
  editor/register_editor_types.cpp
  editor/scene/gui/container_editor_plugin.cpp
  editor/scene/gui/container_editor_plugin.h
  editor/scene/gui/margin_container_editor_plugin.cpp
  scene/gui/box_container.cpp
  scene/gui/box_container.h
  scene/gui/flow_container.cpp
  scene/gui/flow_container.h
  scene/gui/grid_container.cpp
  scene/gui/grid_container.h
  scene/gui/split_container.h
Due: copyright-headers, header-guards

Make DDS file imported resources instead of directly loaded.
  modules/dds/register_types.cpp
  modules/dds/texture_loader_dds.cpp
  modules/dds/texture_loader_dds.h
Due: copyright-headers, header-guards

Improve TAA
  servers/rendering/renderer_rd/effects/taa.cpp
  servers/rendering/renderer_rd/effects/taa.h
  servers/rendering/renderer_rd/shaders/effects/taa_resolve.glsl
Due: copyright-headers, header-guards

Expand Hide button in `EditorHelp` search
  editor/doc/editor_help.cpp
Due: copyright-headers

`EditorHelp`: Scroll to the only result found every time
  editor/doc/editor_help.cpp
Due: copyright-headers

set shader path before compilation
  drivers/gles3/storage/material_storage.cpp
  servers/rendering/rendering_server_default.h
Due: copyright-headers, header-guards

Fix crash by shortcut setting in project manager
  editor/editor_undo_redo_manager.cpp
  editor/project_manager/project_manager.cpp
  editor/project_manager/project_manager.h
Due: copyright-headers, header-guards

Add parameter to request_process_time to have particle process without emission.
  doc/classes/CPUParticles2D.xml
  doc/classes/CPUParticles3D.xml
  doc/classes/GPUParticles2D.xml
  doc/classes/GPUParticles3D.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/storage/particles_storage.cpp
  drivers/gles3/storage/particles_storage.h
  misc/extension_api_validation/4.5-stable.expected
  scene/2d/cpu_particles_2d.compat.inc
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/2d/gpu_particles_2d.compat.inc
  scene/2d/gpu_particles_2d.cpp
  scene/2d/gpu_particles_2d.h
  scene/3d/cpu_particles_3d.compat.inc
  scene/3d/cpu_particles_3d.cpp
  scene/3d/cpu_particles_3d.h
  scene/3d/gpu_particles_3d.compat.inc
  scene/3d/gpu_particles_3d.cpp
  scene/3d/gpu_particles_3d.h
  servers/rendering/dummy/storage/particles_storage.h
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.h
  servers/rendering/rendering_server.compat.inc
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/particles_storage.h
Due: make-rst, doc-status, copyright-headers, header-guards

Apply suggestions from code review
  doc/classes/CPUParticles2D.xml
  doc/classes/CPUParticles3D.xml
  doc/classes/GPUParticles2D.xml
  doc/classes/GPUParticles3D.xml
  doc/classes/RenderingServer.xml
  misc/extension_api_validation/4.5-stable.expected
  scene/3d/cpu_particles_3d.cpp
  scene/3d/cpu_particles_3d.h
  scene/3d/gpu_particles_3d.cpp
  scene/3d/gpu_particles_3d.h
  servers/rendering/rendering_server.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Add BoneTwistDisperser3D to propagate IK target's twist
  doc/classes/BoneTwistDisperser3D.xml
  doc/classes/ConvertTransformModifier3D.xml
  editor/icons/BoneTwistDisperser3D.svg
  scene/3d/bone_twist_disperser_3d.cpp
  scene/3d/bone_twist_disperser_3d.h
  scene/register_scene_types.cpp
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Add *.translation files to the generated gitignore.
  editor/version_control/editor_vcs_interface.cpp
Due: copyright-headers

Fix get_base() returning RID(0) for Light3D nodes
  scene/3d/light_3d.cpp
  scene/3d/light_3d.h
Due: copyright-headers, header-guards

Make EditorFileDialog inherit FileDialog
  doc/classes/EditorFileDialog.xml
  doc/classes/FileDialog.xml
  editor/asset_library/asset_library_editor_plugin.cpp
  editor/docks/filesystem_dock.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/export/project_export.cpp
  editor/export/project_export.h
  editor/gui/editor_file_dialog.cpp
  editor/gui/editor_file_dialog.h
  editor/project_manager/project_dialog.cpp
  editor/project_manager/project_manager.cpp
  editor/script/script_create_dialog.cpp
  editor/settings/editor_settings.cpp
  editor/settings/editor_settings.h
  editor/settings/project_settings_editor.cpp
  editor/shader/shader_create_dialog.cpp
  editor/themes/theme_classic.cpp
  editor/themes/theme_modern.cpp
  misc/extension_api_validation/4.5-stable.expected
  modules/openxr/editor/openxr_action_map_editor.cpp
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Due: make-rst, doc-status, copyright-headers, header-guards

Append VCS metatada to existing file or create new file if not found
  editor/version_control/editor_vcs_interface.cpp
Due: copyright-headers

Optimization Skeleton3D
  core/object/object.h
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
  scene/animation/animation_mixer.cpp
Due: copyright-headers, header-guards
