Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Automatically include text server data if project includes translations requiring it.
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  editor/export/editor_export_platform.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add DPITexture update()
  doc/classes/DPITexture.xml
  editor/import/resource_importer_svg.cpp
  scene/resources/dpi_texture.cpp
  scene/resources/dpi_texture.h
Due: make-rst, doc-status, copyright-headers, header-guards

modified: drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
Due: copyright-headers

Add static sprite
  modules/spx/spx_ext_mgr.cpp
  modules/spx/spx_ext_mgr.h
  modules/spx/spx_physic_mgr.h
Due: copyright-headers, header-guards

Improve Make Sub-Resources Unique with toaster
  editor/docks/inspector_dock.cpp
  editor/docks/inspector_dock.h
Due: copyright-headers, header-guards

makerst: Skip generated header for translations
  doc/tools/make_rst.py
Due: none

Remove unused `multiplayer` member from `Node`
  scene/main/node.h
Due: copyright-headers, header-guards

Fix Quick Open history
  editor/gui/editor_quick_open_dialog.cpp
Due: copyright-headers

FTI - Fix physics body resets when using `sync_to_physics`
  scene/2d/collision_object_2d.cpp
  scene/2d/collision_object_2d.h
  scene/2d/physics_body_2d.cpp
  scene/3d/collision_object.cpp
  scene/3d/collision_object.h
  scene/3d/physics_body.cpp
Due: copyright-headers, header-guards

Use get_file_uid() where applicable
  editor/docks/filesystem_dock.cpp
  editor/file_system/editor_file_system.cpp
  editor/inspector/editor_properties.cpp
  editor/script/script_editor_plugin.cpp
Due: copyright-headers

Add Change Scene option to scene tree dock
  editor/docks/scene_tree_dock.cpp
  editor/docks/scene_tree_dock.h
Due: copyright-headers, header-guards

FTI - Fix physics body resets when using `sync_to_physics`
  scene/2d/physics/animatable_body_2d.cpp
  scene/2d/physics/collision_object_2d.cpp
  scene/2d/physics/collision_object_2d.h
  scene/2d/physics/rigid_body_2d.cpp
  scene/3d/physics/animatable_body_3d.cpp
  scene/3d/physics/collision_object_3d.cpp
  scene/3d/physics/collision_object_3d.h
  scene/3d/physics/physical_bone_3d.cpp
  scene/3d/physics/rigid_body_3d.cpp
Due: copyright-headers, header-guards

[GDScript]: Resolve autocomplete for chained calls after GET_NODE.
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/tests/scripts/completion/get_node/method_chain/unique_animation_queue_chain.cfg
  modules/gdscript/tests/scripts/completion/get_node/method_chain/unique_animation_queue_chain.gd
Due: copyright-headers

[GDScript]: Add inline Color8 picker support.
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
Due: copyright-headers, header-guards

empty meshes bug fix
  scene/resources/surface_tool.cpp
Due: copyright-headers

Add pivot_offset_ratio property to Control
  doc/classes/Control.xml
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
  scene/gui/control.cpp
  scene/gui/control.h
Due: make-rst, doc-status, copyright-headers, header-guards

Expose OS.disable_default_crash_handler() for extensions
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/OS.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Fix clear color being incorrect in `Environment` background with HDR 2D.
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/rendering_device.h
Due: copyright-headers, header-guards

Implement motion vectors in compatibility renderer
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/config.cpp
  drivers/gles3/storage/config.h
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/mesh_storage.cpp
  drivers/gles3/storage/mesh_storage.h
  drivers/gles3/storage/particles_storage.cpp
  drivers/gles3/storage/particles_storage.h
  drivers/gles3/storage/render_scene_buffers_gles3.cpp
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
Due: copyright-headers, header-guards

Fix `Color` precision error in the documentation generated on M3/M4 macOS.
  thirdparty/misc/ok_color.h
  thirdparty/misc/patches/ok_color-0001-srgb_to_okhsl_precision.patch
Due: none

Reduce code duplication in material conversion
  editor/scene/material_editor_plugin.cpp
Due: copyright-headers

Add `white` and `contrast` parameters to the AgX tonemapper.
  doc/classes/Environment.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/effects/post.glsl
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/shaders/sky.glsl
  drivers/gles3/shaders/tonemap_inc.glsl
  misc/extension_api_validation/4.4-stable_4.5-stable.expected
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/renderer_rd/effects/tone_mapper.cpp
  servers/rendering/renderer_rd/effects/tone_mapper.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/environment_storage.cpp
  servers/rendering/storage/environment_storage.h
  servers/rendering_server.compat.inc
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Improve physics body/shape scale warnings, check shear/global, add to 2D
  scene/2d/physics/collision_object_2d.cpp
  scene/2d/physics/collision_polygon_2d.cpp
  scene/2d/physics/collision_shape_2d.cpp
  scene/3d/physics/collision_object_3d.cpp
  scene/3d/physics/collision_polygon_3d.cpp
  scene/3d/physics/collision_shape_3d.cpp
Due: copyright-headers

v0.1 add vsg node to vs
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Due: copyright-headers, header-guards

set minsdk to 21. Sorted the fseeko error.
  platform/android/detect.py
  platform/android/export/export_plugin.cpp
  platform/android/java/app/config.gradle
  thirdparty/opus/patches/android-api-21-support.patch
  thirdparty/opus/stream.c
Due: copyright-headers

ShaderGraph abstraction (WIP)
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
  scene/resources/visual_shader_particle_nodes.cpp
  scene/resources/visual_shader_particle_nodes.h
Due: copyright-headers, header-guards

Implement VisualShaderGroup [WIP] Part 1
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Due: copyright-headers, header-guards

Change all undo/redo calls to use editing_shader_graph
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Due: copyright-headers, header-guards

Implement group input and output nodes (WIP)
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Due: copyright-headers, header-guards

Allow editing VSG
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Due: copyright-headers, header-guards

Add icon, allow editing the title, fix editing and improve UX
  editor/icons/VisualShaderGroup.svg
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
  editor/themes/editor_theme_manager.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Due: svgo, copyright-headers, header-guards

Move visual shader group stuff to a separate file
  editor/shader/visual_shader_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  scene/resources/visual_shader_group.cpp
  scene/resources/visual_shader_group.h
Due: copyright-headers, header-guards

Add VisualShaderGroupPortsDialog
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader_group.cpp
  scene/resources/visual_shader_group.h
Due: copyright-headers, header-guards

Use Ref<> instead of normal pointer for ShaderGraph, fix crash
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
Due: copyright-headers, header-guards

Improve group input/output port editing + implement input/output port (de)serialization
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
  scene/resources/visual_shader_group.cpp
  scene/resources/visual_shader_group.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
