Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Mark referenced packages in SDK as implicitly defined
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.targets
Due: none

AudioStreamImport: Make play and stop buttons accessible through keyboard
  editor/import/audio_stream_import_settings.cpp
Due: copyright-headers

Fix crash when checking unsaved history
  editor/editor_undo_redo_manager.cpp
Due: copyright-headers

Fix words not being selected by endpoints
  scene/gui/text_edit.cpp
  tests/scene/test_text_edit.h
Due: copyright-headers, header-guards

Core: Convert `Pair`/`KeyValue` to `constexpr`
  core/math/a_star.h
  core/os/os.h
  core/templates/cowdata.h
  core/templates/hashfuncs.h
  core/templates/pair.h
  modules/fbx/fbx_state.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: copyright-headers, header-guards

Rewrite textureProjLod usage to avoid a Vulkan validation error.
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
  servers/rendering/renderer_rd/shaders/canvas.glsl
  servers/rendering/renderer_rd/shaders/canvas_uniforms_inc.glsl
Due: copyright-headers, header-guards

Use vertex colors (if present) as attributes during simplification
  scene/resources/3d/importer_mesh.cpp
Due: copyright-headers

Fix Xbox Controller on Android
  core/input/godotcontrollerdb.txt
  platform/android/java/lib/src/org/godotengine/godot/input/GodotInputHandler.java
Due: copyright-headers

Add alphabetical sorting to Animation Player
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Due: copyright-headers, header-guards

Update the GodotOpenXR meta-data removal logic
  platform/android/java/editor/src/horizonos/AndroidManifest.xml
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java/editor/src/picoos/AndroidManifest.xml
Due: none

Update the logic to validate the java version
  platform/android/java/app/build.gradle
Due: none

Fix typo in `Node.get_child` documentation
  doc/classes/Node.xml
Due: make-rst, doc-status

Fix redundant signal connection in TextureRegionEditor
  editor/plugins/texture_region_editor_plugin.cpp
Due: copyright-headers

Fix GridMap scenario crash when outside tree
  modules/gridmap/grid_map.cpp
Due: copyright-headers

Android: Don't request CAMERA permission on editor startup
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
Due: none

CI: Format SCons input flags & build action
  .github/actions/godot-build/action.yml
  .github/actions/godot-cpp-build/action.yml
  .github/workflows/android_builds.yml
  .github/workflows/ios_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/web_builds.yml
  .github/workflows/windows_builds.yml
Due: none

Hide scrollbar in the audio stream importer dialog when unneeded
  editor/import/audio_stream_import_settings.cpp
  editor/import/audio_stream_import_settings.h
Due: copyright-headers, header-guards

Expand the imported texture channel count for remapping if necessary
  editor/import/resource_importer_texture.cpp
Due: copyright-headers

Add file sort to FileDialog
  doc/classes/FileDialog.xml
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
  scene/theme/default_theme.cpp
  scene/theme/icons/sort.svg
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

add animation filtering to animation editor
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Due: copyright-headers, header-guards

Add select node shortcut to list view in Animation Player Editor
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Due: copyright-headers, header-guards

fix crash on aot unloading
  modules/mono/mono_gd/gd_mono.cpp
Due: copyright-headers

[Wayland] Implement the cursor-shape-v1 protocol
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
  thirdparty/wayland-protocols/staging/cursor-shape/README
  thirdparty/wayland-protocols/staging/cursor-shape/cursor-shape-v1.xml
Due: copyright-headers, header-guards

Revert "Fix unexpected control position change when left/top offsets not match pos_cache"
  scene/gui/control.cpp
Due: copyright-headers

Fix InputEventMouseMotion reference
  doc/classes/InputEventMouseMotion.xml
Due: make-rst, doc-status

Revert "Fix #100536: Control set_position resizes offsets/anchors"
  scene/gui/control.cpp
  scene/gui/control.h
  tests/scene/test_control.h
Due: copyright-headers, header-guards

Improve ScriptLanguage get keyword API.
  core/object/script_language.h
  core/object/script_language_extension.h
  editor/editor_autoload_settings.cpp
  editor/plugins/editor_preview_plugins.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/script_create_dialog.cpp
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_editor.cpp
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
Due: copyright-headers, header-guards

Deselect all when renaming a node or deleting a node/connection
  editor/plugins/animation_state_machine_editor.cpp
Due: copyright-headers

Do not grab focus on filename LineEdit in EditorFileDialog when outside the tree
  editor/gui/editor_file_dialog.cpp
Due: copyright-headers

macOS: Ensure LayerHost size is set when first embedded
  platform/macos/editor/embedded_process_macos.mm
Due: copyright-headers

etcpak: Fix decompressing non-power of 2 mipmaps
  modules/etcpak/image_decompress_etcpak.cpp
Due: copyright-headers

Changed NodeOneShot fading so that it does not depend on input delta
  doc/classes/AnimationNodeOneShot.xml
  scene/animation/animation_blend_tree.cpp
Due: make-rst, doc-status, copyright-headers

Improve State Machine BlendTree node to properly display conditions
  editor/plugins/animation_blend_tree_editor_plugin.cpp
Due: copyright-headers

[Web] Always return `0` for `OS::get_process_id()`
  doc/classes/OS.xml
  platform/web/os_web.cpp
Due: make-rst, doc-status, copyright-headers

Style: Remove redundant `DEBUG_METHODS_ENABLED`
  core/config/project_settings.cpp
  core/config/project_settings.h
  core/core_bind.cpp
  core/core_constants.cpp
  core/extension/gdextension.cpp
  core/object/callable_method_pointer.h
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/method_bind.cpp
  core/object/method_bind.h
  core/object/object.h
  core/typedefs.h
  core/variant/binder_common.h
  core/variant/variant_call.cpp
  core/variant/variant_construct.h
  core/variant/variant_utility.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/mono/class_db_api_json.cpp
  modules/mono/class_db_api_json.h
  modules/mono/csharp_script.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.h
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono.h
  tests/core/object/test_class_db.h
Due: copyright-headers, header-guards

Add `Memory::alloc_static_zeroed` to allocate memory that's filled with zeroes. This is generally faster than `malloc` followed by `memset` / loop-set to 0.
  core/io/zip_io.cpp
  core/os/memory.cpp
  core/os/memory.h
  core/templates/a_hash_map.h
  core/templates/hash_map.h
  core/templates/hash_set.h
  core/templates/oa_hash_map.h
  drivers/gles3/shader_gles3.cpp
Due: copyright-headers, header-guards

Fix Quaternion arc constructor tolerance
  core/math/quaternion.h
Due: copyright-headers, header-guards

Adjust SVG in OT scaling and baseline.
  modules/text_server_adv/thorvg_svg_in_ot.cpp
  modules/text_server_fb/thorvg_svg_in_ot.cpp
Due: copyright-headers

Fix rest update process by dirty flag to not take into account pose
  scene/3d/skeleton_3d.cpp
Due: copyright-headers

Fix LineEdit with secret checked reveals the secret when a selection is dragged
  scene/gui/line_edit.cpp
Due: copyright-headers
