Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$


Update logo/run_icon for OpenHarmony
  platform/openharmony/export/logo.svg
  platform/openharmony/export/run_icon.svg
Due: svgo

Fix for dev_mode
  platform/openharmony/bridge_openharmony.cpp
  platform/openharmony/os_openharmony.cpp
Due: none

Fix for conflicts
  .github/CODEOWNERS
  misc/dist/openharmony_template/entry/src/main/cpp/napi_init.cpp
  platform/openharmony/audio_driver_openharmony.cpp
  platform/openharmony/audio_driver_openharmony.h
  platform/openharmony/bridge_openharmony.cpp
  platform/openharmony/bridge_openharmony.h
  platform/openharmony/display_server_openharmony.cpp
  platform/openharmony/display_server_openharmony.h
  platform/openharmony/export/export.cpp
  platform/openharmony/export/export_plugin.cpp
  platform/openharmony/export/export_plugin.h
  platform/openharmony/os_openharmony.cpp
  platform/openharmony/os_openharmony.h
  thirdparty/README.md
  thirdparty/volk/patches/0001-support-open-harmony.patch
  thirdparty/volk/volk.h
  thirdparty/vulkan/include/vulkan/vulkan_core.h
  thirdparty/vulkan/patches/0004-support-open-harmony.patch
Due: copyright-headers, header-guards

Fix ResourceLoader::load_threaded_get() deadlocks
  core/io/resource_loader.cpp
  core/io/resource_loader.h
Due: copyright-headers, header-guards

Wayland file drag support
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

Fix for conflicts
  platform/openharmony/doc_classes/EditorExportPlatformOpenHarmony.xml
  platform/openharmony/export/export_plugin.cpp
  platform/openharmony/export/export_plugin.h
Due: make-rst, doc-status, validate-xml, header-guards

Tests: fix unused variable
  tests/scene/test_tile_set.cpp
Due: copyright-headers

[Android] Improve build flow by automatically setting up the build directory
  editor/editor_node.cpp
  editor/editor_node.h
  editor/export/export_template_manager.cpp
  editor/export/export_template_manager.h
  platform/android/export/export.cpp
  platform/android/export/export_plugin.cpp
Due: copyright-headers, header-guards

Add `quest3s` to the list of supported devices
  platform/android/java/editor/src/horizonos/AndroidManifest.xml
Due: none

Fix fixed size flag on StandardMaterial3D when rendering in stereo
  scene/resources/material.cpp
Due: copyright-headers

Improve look of some buttons inside the inspector
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
Due: copyright-headers, header-guards

Specified delta interaction in CharacterBody docs
  doc/classes/CharacterBody2D.xml
  doc/classes/CharacterBody3D.xml
Due: make-rst, doc-status, validate-xml

Update meshoptimizer to v0.25
  scene/resources/surface_tool.h
  thirdparty/README.md
  thirdparty/meshoptimizer/allocator.cpp
  thirdparty/meshoptimizer/indexgenerator.cpp
  thirdparty/meshoptimizer/meshoptimizer.h
  thirdparty/meshoptimizer/overdrawoptimizer.cpp
  thirdparty/meshoptimizer/simplifier.cpp
  thirdparty/meshoptimizer/vertexfilter.cpp
Due: copyright-headers, header-guards

Use `Span` for `String.sprintf`, to accelerate `vformat` not needing to allocate an `Array`.
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/array.cpp
  core/variant/array.h
  core/variant/variant.h
Due: copyright-headers, header-guards

Shader Editor: Show "File" menu when no shaders are opened.
  editor/shader/shader_editor_plugin.cpp
  editor/shader/shader_editor_plugin.h
Due: copyright-headers, header-guards

Add depth resolve to the mobile renderer
  servers/rendering/renderer_rd/effects/resolve.cpp
  servers/rendering/renderer_rd/effects/resolve.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/effects/resolve_raster.glsl
Due: copyright-headers, header-guards

Document the interaction between Light3D cull mask and GI/volumetric fog
  doc/classes/Light3D.xml
Due: make-rst, doc-status, validate-xml

Rename internal fields and variables in `AHashMap`, `HashMap` and `HashSet` for consistency.
  core/templates/a_hash_map.h
  core/templates/hash_map.h
  core/templates/hash_set.h
Due: copyright-headers, header-guards

Fix reflection probes not recreating downsampled textures when mode changes.
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
Due: copyright-headers, header-guards

wayland-protocols: Update to 1.45
  thirdparty/README.md
  thirdparty/wayland-protocols/stable/tablet/README
  thirdparty/wayland-protocols/stable/tablet/tablet-v2.xml
  thirdparty/wayland-protocols/stable/viewporter/README
  thirdparty/wayland-protocols/stable/viewporter/viewporter.xml
  thirdparty/wayland-protocols/stable/xdg-shell/README
  thirdparty/wayland-protocols/stable/xdg-shell/xdg-shell.xml
  thirdparty/wayland-protocols/staging/fractional-scale/README
  thirdparty/wayland-protocols/staging/xdg-activation/README
  thirdparty/wayland-protocols/unstable/pointer-constraints/README
  thirdparty/wayland-protocols/unstable/pointer-constraints/pointer-constraints-unstable-v1.xml
  thirdparty/wayland-protocols/unstable/pointer-gestures/README
  thirdparty/wayland-protocols/unstable/pointer-gestures/pointer-gestures-unstable-v1.xml
  thirdparty/wayland-protocols/unstable/primary-selection/README
  thirdparty/wayland-protocols/unstable/relative-pointer/README
  thirdparty/wayland-protocols/unstable/text-input/README
  thirdparty/wayland-protocols/unstable/text-input/text-input-unstable-v3.xml
  thirdparty/wayland-protocols/unstable/xdg-decoration/README
  thirdparty/wayland-protocols/unstable/xdg-decoration/xdg-decoration-unstable-v1.xml
  thirdparty/wayland-protocols/unstable/xdg-foreign/README
Due: none

Fix modifier order in keycode string generation
  core/input/input_event.cpp
  core/os/keyboard.cpp
  tests/core/input/test_input_event_key.h
Due: copyright-headers, header-guards

Use 64-bit offset/loop points in `AudioStreamWAV`
  scene/resources/audio_stream_wav.cpp
  scene/resources/audio_stream_wav.h
Due: copyright-headers, header-guards

Optimize varray.
  core/variant/variant.h
Due: copyright-headers, header-guards

Avoid unnecessary copy in get_property_list
  core/object/class_db.cpp
Due: copyright-headers

Rename RDD::MemoryBarrier to avoid conflicts with the Windows headers.
  core/typedefs.h
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/d3d12/rendering_shader_container_d3d12.cpp
  drivers/metal/rendering_device_driver_metal.h
  drivers/metal/rendering_device_driver_metal.mm
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  servers/rendering/rendering_device_driver.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
Due: copyright-headers, header-guards

Move check for sky cubemap array back into the SkyRD initializer so it is set before being used.
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/environment/sky.h
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
Due: copyright-headers, header-guards

Core: Handle disabled class detection in ClassDB
  core/core_builders.py
  core/object/class_db.h
  core/object/object.h
  core/register_core_types.cpp
  modules/dds/register_types.cpp
  modules/gltf/tests/test_gltf.h
  modules/jpg/register_types.cpp
  modules/ktx/register_types.cpp
  modules/mono/register_types.cpp
  modules/multiplayer/register_types.cpp
  modules/theora/register_types.cpp
  scene/register_scene_types.cpp
  servers/register_server_types.cpp
Due: copyright-headers, header-guards

`Node3D` and `CanvasItem` children change to `LocalVector`
  scene/3d/node_3d.cpp
  scene/3d/node_3d.h
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
Due: copyright-headers, header-guards

Document typed dictionaries and arrays in the class reference
  doc/classes/Array.xml
  doc/classes/Dictionary.xml
Due: make-rst, doc-status, validate-xml

Vorbis: Add details to warning about invalid comment header
  modules/vorbis/audio_stream_ogg_vorbis.cpp
Due: copyright-headers

Configure SDL assuming we, in fact, have a libc.
  drivers/sdl/SDL_build_config_private.h
Due: copyright-headers, header-guards

Fix rounding error in clustered vertex light culling
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
Due: none

Editor: Generate translation data in separate cpp files
  editor/SCsub
  editor/editor_builders.py
Due: none

Check for `NUL` characters in string parsing functions.
  core/string/ustring.cpp
Due: copyright-headers

[Windows] Try reading GPU IDs directly from registry.
  platform/windows/display_server_windows.cpp
Due: copyright-headers

Fix array span constructors
  modules/mono/glue/GodotSharp/GodotSharp/Core/Array.cs
Due: none

Geometry2D minor optimization
  core/math/geometry_2d.cpp
Due: copyright-headers

Trim -loop & -cycle from animations during Godot 3 to 4 conversion
  editor/project_upgrade/project_converter_3_to_4.cpp
  editor/project_upgrade/project_converter_3_to_4.h
Due: copyright-headers, header-guards

Enable objects stored as dictionary keys to be selected in inspector.
  editor/inspector/editor_properties_array_dict.cpp
Due: copyright-headers

Delay Mouse signals until after internal processing
  scene/gui/control.cpp
  scene/main/viewport.cpp
Due: copyright-headers
