Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$


Fix the height of generated texture, texture for 2048 points should be 2048 x 1 not 2048 x 2.
  editor/scene/2d/particles_2d_editor_plugin.cpp
  editor/scene/3d/particles_3d_editor_plugin.cpp
Due: copyright-headers

Update
  AUTHORS.md
  PR_DESCRIPTION.md
  PR_DESCRIPTION.pt.md
  VirtualDevice.md
  VirtualDevice.pt.md
  core/input/input_event.cpp
  doc/classes/VirtualJoystickDynamic.xml
  doc/classes/VirtualTouchPad.xml
  scene/gui/virtual_button.cpp
  scene/gui/virtual_button.h
  scene/gui/virtual_device.cpp
  scene/gui/virtual_dpad.cpp
  scene/gui/virtual_joystick.cpp
  scene/gui/virtual_touch_pad.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

test1 pre-commit
  core/input/input.cpp
  core/input/input_event.cpp
  core/input/input_event.h
  core/input/input_event_codec.cpp
  doc/classes/VirtualDevice.xml
  doc/classes/VirtualJoystickDynamic.xml
  editor/settings/action_map_editor.cpp
  editor/settings/event_listener_line_edit.cpp
  editor/settings/input_event_configuration_dialog.cpp
  scene/gui/virtual_button.h
  scene/gui/virtual_device.cpp
  scene/gui/virtual_device.h
  scene/gui/virtual_dpad.cpp
  scene/gui/virtual_dpad.h
  scene/gui/virtual_joystick.h
  scene/gui/virtual_joystick_dynamic.h
  scene/gui/virtual_touch_pad.cpp
  scene/gui/virtual_touch_pad.h
  scene/theme/default_theme.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Update input.cpp
  core/input/input.cpp
  doc/classes/VirtualTouchPad.xml
Due: make-rst, doc-status, validate-xml, copyright-headers

Fix viewport scaling calculation for embedded windows
  scene/main/window.cpp
Due: copyright-headers

Fix GPU & CPU Particle Gizmos deforming based on CanvasItem
  core/math/geometry_2d.h
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/2d/gpu_particles_2d.cpp
  scene/2d/gpu_particles_2d.h
  scene/main/canvas_item.cpp
Due: copyright-headers, header-guards

Fix `Control` nodes cull rect not taking into account draw commands
  scene/gui/control.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
  servers/rendering/renderer_canvas_render.cpp
  servers/rendering/renderer_canvas_render.h
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
Due: copyright-headers, header-guards

Color stacktraces printed by the crash handler when in a TTY
  platform/linuxbsd/crash_handler_linuxbsd.cpp
  platform/macos/crash_handler_macos.mm
  platform/windows/crash_handler_windows_seh.cpp
Due: copyright-headers

Expression is unable to parse StringName Syntax &"
  core/math/expression.cpp
Due: copyright-headers

Fix boot splash on Macos
  main/main.cpp
  platform/macos/display_server_macos.mm
Due: copyright-headers

Standardize windows platform paths. Standardize file paths and the temp dir path used under drag and drop action in Windows platform specifically using `simplify_path()` method.
  platform/windows/drop_target_windows.cpp
Due: copyright-headers

Improve KEY_CODE/MODIFIER_MASK description
  doc/classes/@GlobalScope.xml
Due: make-rst, doc-status, validate-xml

Add `back()`, `pop_back()` and `remove_back()` to `LocalVector`, for stack-like access.
  core/templates/local_vector.h
Due: copyright-headers, header-guards

Improve EditorContextMenuPlugin description
  doc/classes/EditorContextMenuPlugin.xml
Due: make-rst, doc-status, validate-xml

Add note about physics interpolation in Camera2D.reset_smoothing
  doc/classes/Camera2D.xml
Due: make-rst, doc-status, validate-xml

Update DampledSpringJoint2D docs
  doc/classes/DampedSpringJoint2D.xml
Due: make-rst, doc-status, validate-xml

Apply zero rest length to DampedSpringJoint2D
  scene/2d/physics/joints/damped_spring_joint_2d.cpp
Due: copyright-headers

Fix rest length setter
  scene/2d/physics/joints/damped_spring_joint_2d.cpp
Due: copyright-headers

Fix child window popup crash when parent is invisible
  scene/main/window.cpp
  tests/scene/test_window.h
Due: copyright-headers, header-guards

Implement continuous scrolling in TabBars
  doc/classes/EditorSettings.xml
  doc/classes/TabBar.xml
  doc/classes/TabContainer.xml
  editor/settings/editor_settings.cpp
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Add files via upload
  scene/2d/camera_2d.cpp
Due: copyright-headers

Fix sub-pixel glyph positioning for RichTextEffect and shaped text drawing
  scene/gui/rich_text_label.cpp
  servers/text/text_server.cpp
Due: copyright-headers

GDScript: Respect external refs when cleaning up cyclic refs
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
Due: copyright-headers, header-guards

feat: AV1 decoding (partial)
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  modules/matroska/video_stream_av1.cpp
  modules/matroska/video_stream_av1.h
  modules/matroska/video_stream_matroska.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_driver.h
  servers/rendering/video/video_coding_av1.h
  servers/rendering/video/video_coding_av1_decode.h
Due: copyright-headers, header-guards

fix this
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  modules/matroska/video_stream_av1.cpp
  modules/matroska/video_stream_h264.cpp
  modules/matroska/video_stream_h264.h
  modules/matroska/video_stream_matroska.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/video/video_coding_av1.h
  servers/rendering/video/video_coding_av1_decode.h
  servers/rendering/video/video_coding_h264.h
Due: copyright-headers, header-guards

feat: generic matroska parsing
  modules/matroska/SCsub
  modules/matroska/config.py
  modules/matroska/doc_classes/VideoStreamMatroska.xml
  modules/matroska/matroska.h
  modules/matroska/register_types.cpp
  modules/matroska/register_types.h
  modules/matroska/video_stream_matroska.cpp
  modules/matroska/video_stream_matroska.h
  modules/matroska/ycbcr_sampler.glsl
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

feat: generic vulkan video decoding
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/vulkan/rendering_context_driver_vulkan.cpp
  drivers/vulkan/rendering_context_driver_vulkan.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  scene/resources/video_stream_encoding.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_commons.cpp
  servers/rendering/rendering_device_commons.h
  servers/rendering/rendering_device_driver.h
  servers/rendering/video/video_coding_common.h
Due: copyright-headers, header-guards

feat: H.264 decoding (broken)
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  modules/matroska/video_stream_h264.cpp
  modules/matroska/video_stream_h264.h
  modules/matroska/video_stream_matroska.cpp
  pyproject.toml
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_driver.h
  servers/rendering/video/video_coding_h264.h
  servers/rendering/video/video_coding_h264_decode.h
Due: copyright-headers, header-guards

refactor everything to allow presenting frames in decode order
  modules/matroska/matroska.h
  modules/matroska/video_stream_av1.cpp
  modules/matroska/video_stream_av1.h
  modules/matroska/video_stream_h264.cpp
  modules/matroska/video_stream_h264.h
  modules/matroska/video_stream_matroska.cpp
  modules/matroska/video_stream_matroska.h
  scene/resources/video_stream_encoding.h
Due: copyright-headers, header-guards

lightly edit matroska
  modules/matroska/matroska.h
  modules/matroska/video_stream_matroska.cpp
  modules/matroska/video_stream_matroska.h
Due: copyright-headers, header-guards

decode 16 frames
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  modules/matroska/video_stream_matroska.cpp
  servers/rendering/rendering_device.cpp
Due: copyright-headers

dubious performance optimisation
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  servers/rendering/rendering_device.cpp
Due: copyright-headers

about 5 seconds of AV1 video
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  modules/matroska/video_stream_av1.cpp
  modules/matroska/video_stream_av1.h
  modules/matroska/video_stream_h264.cpp
  modules/matroska/video_stream_h264.h
  modules/matroska/video_stream_matroska.cpp
  modules/matroska/video_stream_matroska.h
  scene/resources/video_stream_encoding.h
  servers/rendering/rendering_device.cpp
  servers/rendering/video/video_coding_av1.h
  servers/rendering/video/video_coding_av1_decode.h
Due: copyright-headers, header-guards

synchronise the render graph
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  modules/matroska/video_stream_av1.cpp
  modules/matroska/video_stream_av1.h
  modules/matroska/video_stream_h264.cpp
  modules/matroska/video_stream_h264.h
  modules/matroska/video_stream_matroska.cpp
  modules/matroska/video_stream_matroska.h
  scene/resources/video_stream_encoding.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_driver.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
Due: copyright-headers, header-guards

remove compute shader (for now)
  modules/matroska/video_stream_matroska.cpp
  modules/matroska/video_stream_matroska.h
Due: copyright-headers, header-guards

get pretty close to freeing all the garbage
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  modules/matroska/video_stream_matroska.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device_driver.h
Due: copyright-headers, header-guards

make rendering devide driver generic over the encoding format
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  modules/matroska/video_stream_av1.cpp
  modules/matroska/video_stream_av1.h
  modules/matroska/video_stream_h264.cpp
  modules/matroska/video_stream_matroska.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_driver.h
Due: copyright-headers, header-guards

badly add video queries
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device_driver.h
Due: copyright-headers, header-guards

FIX YCBCR SAMPLING
  modules/matroska/ycbcr_sampler.glsl
Due: none
