Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

add support in mobile renderer
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
Due: copyright-headers

write to mipmaps instead
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
Due: copyright-headers, header-guards

implement area light atlas
  drivers/gles3/storage/texture_storage.h
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
  scene/main/viewport.cpp
  scene/main/viewport.h
  servers/rendering/dummy/storage/texture_storage.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
  servers/rendering/renderer_rd/storage_rd/utilities.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_server.h
  servers/rendering/storage/texture_storage.h
Due: copyright-headers, header-guards

fix rebase problems
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: none

implement texture in fog
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/environment/fog.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/shaders/environment/volumetric_fog_process.glsl
Due: copyright-headers, header-guards

textures in lightmapper WIP
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/lightmapper_rd/lightmapper_rd.h
  modules/lightmapper_rd/lm_common_inc.glsl
  modules/lightmapper_rd/lm_compute.glsl
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmapper.h
Due: copyright-headers, header-guards

add texture warning in compat mode
  scene/3d/light_3d.cpp
Due: copyright-headers

remove comment
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Due: copyright-headers

fix CI
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/lightmapper_rd/lightmapper_rd.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_scene_cull.h
Due: copyright-headers, header-guards

set up using area light textures in lightmaps
  drivers/gles3/rasterizer_scene_gles3.h
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/lightmapper_rd/lightmapper_rd.h
  modules/lightmapper_rd/lm_compute.glsl
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
  scene/3d/lightmapper.h
  servers/rendering/dummy/rasterizer_scene_dummy.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
Due: copyright-headers, header-guards

improve fog attenuation
  servers/rendering/renderer_rd/shaders/environment/volumetric_fog_process.glsl
Due: none

add documentation
  doc/classes/AreaLight3D.xml
  doc/classes/Light3D.xml
  doc/classes/Viewport.xml
Due: make-rst, doc-status

fix normalization factor in lightmaps
  scene/3d/lightmap_gi.cpp
Due: copyright-headers

finish lightmap texture implementation
  drivers/gles3/rasterizer_scene_gles3.h
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/lightmapper_rd/lightmapper_rd.h
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmapper.h
  servers/rendering/dummy/rasterizer_scene_dummy.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
Due: copyright-headers, header-guards

fix horizon clipping
  modules/lightmapper_rd/lm_compute.glsl
  servers/rendering/renderer_rd/shaders/environment/voxel_gi.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: none

fix area light transmission
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: none

fix subsurface_scattering and backlight
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: none

change area light default shadow bias to 0.1
  scene/3d/light_3d.cpp
Due: copyright-headers

implement material effects transmittance, clearcoat, rim, backlight, toon
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: none

fix default shadow bias doc
  doc/classes/AreaLight3D.xml
Due: make-rst, doc-status

fix use of half precision
  doc/classes/AreaLight3D.xml
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: make-rst, doc-status

remove old debug if
  servers/rendering/rendering_device.cpp
Due: copyright-headers

`SpriteFramesEditor`: Reorganize/fix UI to make it fit in editor at its minimum size
  editor/editor_node.cpp
  editor/scene/sprite_frames_editor_plugin.cpp
  editor/scene/sprite_frames_editor_plugin.h
Due: copyright-headers, header-guards

Improve style changed signal in EditorDock
  editor/docks/editor_dock.cpp
  editor/docks/editor_dock.h
  editor/docks/editor_dock_manager.cpp
Due: copyright-headers, header-guards

Fix compiling Godot for Linux failing with `profiler_sample_callstack`
  core/profiling/SCsub
Due: none

Improve Editor shortcut searching
  editor/settings/editor_settings_dialog.cpp
  editor/settings/editor_settings_dialog.h
Due: copyright-headers, header-guards

Use ThemeDB and actual values for Window theme overrides
  editor/inspector/editor_inspector.cpp
  scene/main/window.cpp
  scene/main/window.h
Due: copyright-headers, header-guards

Update access-kit to 0.18.0
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/windows_builds.yml
  drivers/accesskit/accessibility_driver_accesskit.cpp
  drivers/accesskit/dynwrappers/accesskit-dll_wrap.c
  drivers/accesskit/dynwrappers/accesskit-dll_wrap.h
  drivers/accesskit/dynwrappers/accesskit-dylib_wrap.c
  drivers/accesskit/dynwrappers/accesskit-dylib_wrap.h
  drivers/accesskit/dynwrappers/accesskit-so_wrap.c
  drivers/accesskit/dynwrappers/accesskit-so_wrap.h
  thirdparty/README.md
  thirdparty/accesskit/include/accesskit.h
Due: copyright-headers, header-guards

Fix EditorSetting presets cannot be set from code
  editor/editor_node.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
  editor/settings/editor_settings.cpp
  editor/settings/editor_settings.h
  editor/settings/editor_settings_dialog.cpp
  editor/settings/editor_settings_dialog.h
Due: copyright-headers, header-guards

Enable HDR for editor previews when HDR output is enabled
  editor/import/3d/scene_import_settings.cpp
  editor/import/3d/scene_import_settings.h
  editor/scene/3d/camera_3d_editor_plugin.cpp
  editor/scene/3d/camera_3d_editor_plugin.h
  editor/scene/3d/mesh_editor_plugin.cpp
  editor/scene/3d/mesh_editor_plugin.h
  editor/scene/material_editor_plugin.cpp
  editor/scene/material_editor_plugin.h
Due: copyright-headers, header-guards

remove compute shader (for now)
  modules/matroska/video_stream_matroska.cpp
  modules/matroska/video_stream_matroska.h
Due: copyright-headers, header-guards

badly add video queries
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device_driver.h
Due: copyright-headers, header-guards

Fix unique button for `EditorAudioStreamPicker`
  editor/inspector/editor_resource_picker.cpp
Due: copyright-headers

Add get-vertex/index-count to SurfaceTool
  doc/classes/SurfaceTool.xml
  scene/resources/surface_tool.cpp
  scene/resources/surface_tool.h
Due: make-rst, doc-status, copyright-headers, header-guards

keep history tail when deleting tab in the middle
  editor/script/script_editor_plugin.cpp
Due: copyright-headers

keep complete history and recover closed tabs
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
Due: copyright-headers, header-guards

Expose XrSpace selection and eye visibility controls for composition layers
  modules/openxr/doc_classes/OpenXRCompositionLayer.xml
  modules/openxr/extensions/openxr_composition_layer_extension.cpp
  modules/openxr/extensions/openxr_composition_layer_extension.h
  modules/openxr/openxr_api.h
  modules/openxr/scene/openxr_composition_layer.cpp
  modules/openxr/scene/openxr_composition_layer.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add non-public `{Line,Text}Edit::_set_text()`
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/web/display_server_web.cpp
  platform/web/eslint.config.cjs
  platform/web/js/libs/library_godot_display.js
  platform/web/js/libs/library_godot_input.js
  pyproject.toml
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/main/window.cpp
  scene/main/window.h
Due: eslint, copyright-headers, header-guards

Write to animation import settings only when needed to prevent bloating the .import file
  editor/import/3d/scene_import_settings.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
