Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$


Add admonition support to editor help and make_rst.py
  doc/tools/make_rst.py
  editor/doc/editor_help.cpp
  editor/themes/editor_theme_manager.h
  editor/themes/theme_classic.cpp
  editor/themes/theme_modern.cpp
Due: copyright-headers, header-guards

Fix VoxelGI not recognizing albedo and emission from ShaderMaterial/VisualShader.
  scene/3d/voxelizer.cpp
  scene/3d/voxelizer.h
Due: copyright-headers, header-guards

Add signals to ResourcePreloader, connect to ResourcePreloaderEditor
  editor/scene/resource_preloader_editor_plugin.cpp
  scene/main/resource_preloader.cpp
Due: copyright-headers

Fix consume_line_continuations() skipping characters
  servers/rendering/shader_preprocessor.cpp
  servers/rendering/shader_preprocessor.h
Due: copyright-headers, header-guards

Add lightmap specular
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
Due: none

Add lightmap directional specular for mobile and compatibility
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Due: none

Hide specular strength attribute if no directional map is baked
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
Due: copyright-headers, header-guards

Fix mistake in rebase
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/light_storage.cpp
  drivers/gles3/storage/light_storage.h
  servers/rendering/dummy/storage/light_storage.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/light_storage.h
Due: copyright-headers, header-guards

Lightmap rotation for calculation
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
Due: none

Improve lightmap specular for forward
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
Due: none

Move specular intensity to LightmapGI
  doc/classes/LightmapGI.xml
  doc/classes/LightmapGIData.xml
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Move specular_intensity under is_directional
  doc/classes/LightmapGI.xml
  drivers/gles3/shaders/scene.glsl
  scene/3d/lightmap_gi.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Due: make-rst, doc-status, validate-xml, copyright-headers

Fix PR comments and camera moving issue
  doc/classes/LightmapGIData.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/light_storage.cpp
  drivers/gles3/storage/light_storage.h
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
  servers/rendering/dummy/storage/light_storage.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/light_storage.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Change strength to intensity
  doc/classes/LightmapGIData.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/light_storage.cpp
  drivers/gles3/storage/light_storage.h
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix popup menus not following window on move
  scene/gui/menu_bar.cpp
Due: copyright-headers

Update doc/classes/PhysicsDirectSpaceState3D.xml
  doc/classes/PhysicsDirectSpaceState3D.xml
Due: make-rst, doc-status, validate-xml

Add translation helper lines when moving objects in the 3D viewport
  doc/classes/EditorSettings.xml
  editor/scene/3d/node_3d_editor_viewport.cpp
  editor/scene/3d/node_3d_editor_viewport.h
  editor/settings/editor_settings.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Use spec constant
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
Due: copyright-headers, header-guards

Added weight painting and QoL to Polygon2D Editor.
  editor/scene/2d/polygon_2d_editor_plugin.cpp
  editor/scene/2d/polygon_2d_editor_plugin.h
Due: copyright-headers, header-guards

Missed some show/hide elements.
  editor/scene/2d/polygon_2d_editor_plugin.cpp
  editor/scene/2d/polygon_2d_editor_plugin.h
Due: copyright-headers, header-guards

Remove extra blank lines from RST files
  doc/tools/make_rst.py
Due: none

Rework audio bus dragging
  editor/audio/editor_audio_buses.cpp
  editor/audio/editor_audio_buses.h
Due: copyright-headers, header-guards

Editor: Fix crash when right-clicking properties/categories in Project Manager
  editor/inspector/editor_inspector.cpp
Due: copyright-headers

GraphEdit: Fix dragged connection preview thicker than settled connections
  scene/gui/graph_edit.cpp
Due: copyright-headers

Rename Engine
  version.py
Due: none

Fix visual glitch with connections lines in `GraphEdit`
  scene/gui/graph_edit.cpp
Due: copyright-headers

Fix default shader copy-paste mistake in `scene_shader_forward_clustered.cpp`
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
Due: copyright-headers

Flip Y when drawing vertical slider grabber
  scene/gui/slider.cpp
Due: copyright-headers

Use float literals and real_t consistently around square values
  editor/scene/2d/sprite_2d_editor_plugin.cpp
  editor/scene/2d/tiles/tile_data_editors.cpp
  editor/scene/canvas_item_editor_plugin.cpp
  modules/godot_physics_3d/godot_body_pair_3d.cpp
  modules/mobile_vr/mobile_vr_interface.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/physics/character_body_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/3d/gpu_particles_collision_3d.cpp
  scene/3d/physics/character_body_3d.cpp
  scene/3d/voxelizer.cpp
  scene/gui/color_picker_shape.cpp
  scene/main/viewport.cpp
Due: copyright-headers

Use R/F keys for local up/down and Space/Ctrl for global up/down
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_viewport.cpp
  scene/debugger/view_3d_controller.cpp
  scene/debugger/view_3d_controller.h
Due: copyright-headers, header-guards

Removed include.
  editor/scene/2d/polygon_2d_editor_plugin.cpp
Due: copyright-headers

Organize 3D editor code and rename a few 3D things
  editor/animation/animation_player_editor_plugin.cpp
  editor/animation/animation_player_editor_plugin.h
  editor/animation/animation_track_editor.cpp
  editor/animation/animation_track_editor.h
  editor/editor_node.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/inspector/editor_properties.cpp
  editor/plugins/editor_plugin.cpp
  editor/plugins/editor_plugin.h
  editor/register_editor_types.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_viewport.cpp
  editor/scene/3d/skeleton_3d_editor_plugin.cpp
  editor/scene/material_editor_plugin.h
  editor/scene/sprite_frames_editor_plugin.cpp
  editor/scene/texture/texture_region_editor_plugin.cpp
  editor/settings/editor_settings_dialog.cpp
  editor/settings/editor_settings_dialog.h
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/visual_shader/editor/visual_shader_editor_plugin.h
Due: copyright-headers, header-guards

Avoid unnecessary copies of container types
  core/config/project_settings.cpp
  core/input/input_map.cpp
  core/io/ip.cpp
  core/object/class_db.cpp
  editor/docks/filesystem_dock.cpp
  editor/docks/scene_tree_dock.cpp
  editor/docks/scene_tree_dock.h
  editor/export/editor_export.cpp
  editor/import/3d/scene_import_settings.cpp
  editor/inspector/editor_properties.cpp
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
  editor/scene/group_settings_editor.cpp
  editor/scene/scene_tree_editor.cpp
  editor/settings/editor_settings.cpp
  editor/settings/editor_settings_dialog.cpp
  editor/shader/shader_create_dialog.cpp
  editor/themes/editor_icons.cpp
  main/main.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/multiplayer/multiplayer_synchronizer.cpp
  modules/multiplayer/scene_multiplayer.h
  modules/multiplayer/scene_replication_interface.cpp
  modules/navigation_2d/2d/godot_navigation_server_2d.cpp
  modules/navigation_3d/3d/godot_navigation_server_3d.cpp
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/tile_map.cpp
  scene/gui/graph_edit.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
  scene/resources/2d/tile_set.cpp
Due: copyright-headers, header-guards

Fix PackedScene instantiate losing collection types if property default is NIL
  scene/property_utils.cpp
  scene/property_utils.h
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
  tests/scene/test_packed_scene.cpp
  tests/scene/test_property_utils.cpp
Due: copyright-headers, header-guards

Unify collection hint string parsing
  editor/inspector/editor_properties_array_dict.cpp
  scene/property_utils.cpp
  scene/property_utils.h
  scene/resources/packed_scene.cpp
  tests/scene/test_property_utils.cpp
Due: copyright-headers, header-guards

Add multi-selection and copy options to the debugger Errors panel
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
Due: copyright-headers, header-guards

macOS: Rebuild CoreAudio input AudioUnit when device sample rate changes
  drivers/coreaudio/audio_driver_coreaudio.h
  drivers/coreaudio/audio_driver_coreaudio.mm
Due: copyright-headers, header-guards

Don't create new proxy object for the same tile
  editor/scene/2d/tiles/tile_set_atlas_source_editor.cpp
  editor/scene/2d/tiles/tile_set_atlas_source_editor.h
Due: copyright-headers, header-guards

Fix issues in Container types related to max size
  scene/gui/flow_container.cpp
  scene/gui/graph_node.cpp
  scene/gui/grid_container.cpp
Due: copyright-headers

Fix conversion issue.
  editor/scene/2d/polygon_2d_editor_plugin.cpp
Due: copyright-headers
