Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Add UID to file tooltip
  editor/plugins/editor_resource_tooltip_plugins.cpp
Due: copyright-headers

Fixes Editor Scales in OpenXR GUI
  modules/openxr/editor/openxr_action_editor.cpp
  modules/openxr/editor/openxr_action_map_editor.cpp
  modules/openxr/editor/openxr_action_set_editor.cpp
  modules/openxr/editor/openxr_binding_modifiers_dialog.cpp
  modules/openxr/editor/openxr_select_action_dialog.cpp
  modules/openxr/editor/openxr_select_interaction_profile_dialog.cpp
Due: copyright-headers

Make navigation maps emit map_changed directly
  modules/navigation_2d/2d/godot_navigation_server_2d.cpp
  modules/navigation_2d/2d/godot_navigation_server_2d.h
  modules/navigation_2d/nav_map_2d.cpp
  modules/navigation_3d/3d/godot_navigation_server_3d.cpp
  modules/navigation_3d/3d/godot_navigation_server_3d.h
  modules/navigation_3d/nav_map_3d.cpp
Due: copyright-headers, header-guards

Allow to override editor settings per project
  core/config/project_settings.cpp
  core/config/project_settings.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_sectioned_inspector.cpp
  editor/editor_settings.cpp
  editor/editor_settings_dialog.cpp
  editor/editor_settings_dialog.h
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
  editor/themes/editor_theme_manager.cpp
Due: copyright-headers, header-guards

add missing word to canvas layer docs
  doc/classes/CanvasLayer.xml
Due: make-rst, doc-status

Removed note about "motion" parameter being often unused in 3d class
  doc/classes/PhysicsShapeQueryParameters3D.xml
Due: make-rst, doc-status

Update doc/classes/ShaderMaterial.xml
  doc/classes/ShaderMaterial.xml
Due: make-rst, doc-status

GDScript: Add autocompletion for `@export_tool_button`
  modules/gdscript/gdscript_editor.cpp
Due: copyright-headers

Avoid array allocation when signal have 0 arg
  modules/mono/glue/GodotSharp/GodotSharp/Core/SignalAwaiter.cs
Due: none

Editor: Improve capsule gizmos
  editor/plugins/gizmos/collision_shape_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/gizmo_3d_helper.cpp
  editor/plugins/gizmos/gizmo_3d_helper.h
  modules/csg/editor/csg_gizmos.cpp
Due: copyright-headers, header-guards

Remove unneeded code and make loop run faster.
  modules/jolt_physics/objects/jolt_soft_body_3d.cpp
Due: copyright-headers

Fold code sections back after being searched over
  editor/code_editor.cpp
  editor/code_editor.h
Due: copyright-headers, header-guards

Fix code style
  modules/jolt_physics/objects/jolt_soft_body_3d.cpp
Due: copyright-headers

Fix differences between RayCast2D and RayCast3D documentation
  doc/classes/RayCast2D.xml
  doc/classes/RayCast3D.xml
Due: make-rst, doc-status

[TextServer] Add monitors for fonts and shaped text buffers.
  doc/classes/Performance.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  main/performance.cpp
  main/performance.h
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

GLTF export: Allow using a PNG or JPEG fallback image
  modules/gltf/doc_classes/GLTFDocument.xml
  modules/gltf/editor/editor_scene_exporter_gltf_settings.cpp
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
Due: make-rst, doc-status, copyright-headers, header-guards

LSP: Extract annotations from `EditorHelp`
  modules/gdscript/language_server/gdscript_workspace.cpp
Due: copyright-headers

Add an option to disable capturing for a given control.
  doc/classes/Control.xml
  scene/gui/control.cpp
  scene/gui/control.h
  scene/main/viewport.cpp
  tests/scene/test_viewport.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fixed apply_central_impulse not applying the right impulse
  modules/jolt_physics/objects/jolt_soft_body_3d.cpp
Due: copyright-headers

Fix current_animation_changed emission on animation finish
  scene/animation/animation_player.cpp
Due: copyright-headers

Update rpc call_local docs
  doc/classes/Node.xml
  modules/gdscript/doc_classes/@GDScript.xml
Due: make-rst, doc-status

ufbx: Update to 0.18.0
  thirdparty/README.md
  thirdparty/ufbx/ufbx.c
  thirdparty/ufbx/ufbx.h
Due: none

Clarify that shaders can override modulate
  doc/classes/CanvasItem.xml
Due: make-rst, doc-status

LSP: Fix type bind, mark as experimental, deprecate direct LSP access
  doc/classes/@GlobalScope.xml
  doc/classes/GDScriptLanguageProtocol.xml
  doc/classes/GDScriptTextDocument.xml
  doc/classes/GDScriptWorkspace.xml
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_language_server.cpp
  modules/gdscript/language_server/gdscript_language_server.h
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/register_types.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix loading scene for every request on script file for workspace completion
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_language_protocol.h
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/gdscript_workspace.h
  modules/gdscript/language_server/godot_lsp.h
Due: copyright-headers, header-guards

validate any form of running project
  editor/editor_node.cpp
  editor/gui/editor_run_bar.cpp
Due: copyright-headers

Combined TileMapLayer debug quadrant shapes to a surface
  scene/2d/tile_map_layer.cpp
Due: copyright-headers

Renderer: Warn when images need to be converted due to their formats being unsupported by hardware
  drivers/gles3/storage/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
Due: copyright-headers

Use `FrozenDictionary`
  modules/mono/glue/GodotSharp/GodotSharp/Core/Colors.cs
Due: none

Clean and group NavigationServer headers
  servers/navigation_server_2d.h
  servers/navigation_server_3d.h
Due: copyright-headers, header-guards

Implement `--script-dump-ast` command line argument
  main/main.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_tree_converter.cpp
  modules/gdscript/gdscript_tree_converter.h
  modules/gdscript/gdscript_tree_printer.cpp
  modules/gdscript/gdscript_tree_printer.h
  modules/gdscript/tests/test_gdscript.cpp
Due: copyright-headers, header-guards

fix selected particles memory access violation
  editor/plugins/particles_editor_plugin.cpp
Due: copyright-headers

Fix `Cannot get class` error when searching `TextFile`/`OtherFile`
  editor/filesystem_dock.cpp
Due: copyright-headers

fix shader compile (region_rect after draw_data)
  servers/rendering/renderer_rd/shaders/canvas.glsl
Due: none

Physics Interpolation - Add InterpolatedProperty
  core/error_macros.h
  core/interpolated_property.cpp
  core/interpolated_property.h
  scene/3d/camera.cpp
  scene/3d/camera.h
  scene/3d/spatial.cpp
  scene/3d/spatial.h
  scene/3d/visual_instance.cpp
  scene/3d/visual_instance.h
  scene/main/scene_tree_fti.cpp
  scene/main/scene_tree_fti.h
Due: copyright-headers, header-guards

Fix EditorHelpBitTooltip in single window mode.
  editor/editor_help.cpp
Due: copyright-headers
