Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Convert 3.x `transform` animation tracks
  editor/import/3d/resource_importer_scene.cpp
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
  scene/resources/animation.cpp
  scene/resources/animation.h
Due: copyright-headers, header-guards

Convert 3.x shaders
  editor/shader/text_shader_editor.cpp
  editor/shader/text_shader_editor.h
  scene/resources/shader.cpp
  scene/resources/shader.h
  servers/rendering/shader_converter.cpp
  servers/rendering/shader_converter.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  tests/servers/rendering/test_shader_converter.h
  tests/servers/rendering/test_shader_language.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

Prevent degenerate case in DynamicBVH
  core/math/dynamic_bvh.cpp
  core/math/dynamic_bvh.h
Due: copyright-headers, header-guards

Misc editor speedups for large scenes
  editor/editor_node.cpp
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
  editor/scene/scene_tree_editor.cpp
Due: copyright-headers, header-guards

Speed up very large Trees
  scene/gui/tree.cpp
Due: copyright-headers

Implement JSON escape functionality for strings and enhance related tests
  core/string/ustring.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
  tests/core/io/test_json.h
  tests/core/string/test_string.h
Due: copyright-headers, header-guards

Refactor for code style guidelines
  core/string/ustring.cpp
  tests/core/io/test_json.h
  tests/core/string/test_string.h
Due: copyright-headers, header-guards

Fix C# environment variables (SDL-related issue)
  drivers/sdl/SDL_build_config_private.h
  thirdparty/README.md
  thirdparty/sdl/patches/0006-fix-cs-environ.patch
  thirdparty/sdl/stdlib/SDL_getenv.c
Due: copyright-headers, header-guards

Remove unnecessary reserve call in json_escape and clean up test_json.h
  core/string/ustring.cpp
  tests/core/io/test_json.h
Due: copyright-headers, header-guards

A fix for the Linux Mono GHA issue.
  platform/ios/display_server_ios.h
  servers/display_server.cpp
  servers/display_server.h
Due: copyright-headers, header-guards

Update core/string/ustring.cpp
  core/string/ustring.cpp
Due: copyright-headers

Update modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Due: none

Fix JSON escape for ASCII control characters by correcting escape sequence format
  core/string/ustring.cpp
Due: copyright-headers

Compatibility: Set `GL_TEXTURE_MAX_LEVEL` to the number of mipmaps
  drivers/gles3/storage/texture_storage.h
Due: copyright-headers, header-guards

Fix node can't be rotated by holding ctrl/command while in select mode
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

[3.x] Export: Modify Windows template without rcedit
  editor/editor_property_name_processor.cpp
  platform/windows/export/export.cpp
  platform/windows/export/template_modifier.cpp
  platform/windows/export/template_modifier.h
Due: copyright-headers, header-guards

Image: Add support for partial mipmap chains
  core/io/image.compat.inc
  core/io/image.cpp
  core/io/image.h
  doc/classes/Image.xml
  doc/classes/Texture3D.xml
  doc/classes/TextureLayered.xml
  drivers/gles3/storage/texture_storage.cpp
  editor/scene/texture/texture_3d_editor_plugin.cpp
  editor/scene/texture/texture_layered_editor_plugin.cpp
  modules/astcenc/image_compress_astcenc.cpp
  modules/basis_universal/image_compress_basisu.cpp
  modules/bcdec/image_decompress_bcdec.cpp
  modules/betsy/image_compress_betsy.cpp
  modules/camera/camera_android.cpp
  modules/cvtt/image_compress_cvtt.cpp
  modules/dds/texture_loader_dds.cpp
  modules/etcpak/image_compress_etcpak.cpp
  modules/etcpak/image_decompress_etcpak.cpp
  modules/ktx/texture_loader_ktx.cpp
  scene/resources/compressed_texture.cpp
  scene/resources/compressed_texture.h
  scene/resources/image_texture.cpp
  scene/resources/image_texture.h
  scene/resources/portable_compressed_texture.cpp
  scene/resources/portable_compressed_texture.h
  scene/resources/texture.cpp
  scene/resources/texture.h
  scene/resources/texture_rd.cpp
  scene/resources/texture_rd.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  tests/core/io/test_image.h
Due: make-rst, doc-status, copyright-headers, header-guards

Don't open folders as file in script editor
  editor/script/script_text_editor.cpp
Due: copyright-headers

Implement `mipmap_limit` functionality for Texture importers
  core/io/image.cpp
  doc/classes/ResourceImporterLayeredTexture.xml
  doc/classes/ResourceImporterTexture.xml
  editor/import/resource_importer_layered_texture.cpp
  editor/import/resource_importer_layered_texture.h
  editor/import/resource_importer_texture.cpp
  editor/import/resource_importer_texture.h
Due: make-rst, doc-status, copyright-headers, header-guards

Use show_warning() in Scene dock
  editor/docks/scene_tree_dock.cpp
  editor/docks/scene_tree_dock.h
Due: copyright-headers, header-guards

Show symlink target in the resource tooltip.
  editor/inspector/editor_resource_tooltip_plugins.cpp
Due: copyright-headers

Decode image using BufferDecoder
  modules/camera/SCsub
  modules/camera/buffer_decoder.cpp
  modules/camera/buffer_decoder.h
  modules/camera/camera_feed_linux.cpp
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Update CameraServer and CameraFeed xml
  doc/classes/CameraFeed.xml
  doc/classes/CameraServer.xml
Due: make-rst, doc-status

Add CameraFeed support for Windows
  modules/camera/SCsub
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Support signals
  modules/camera/camera_win.cpp
Due: copyright-headers

Refactor error handling
  modules/camera/camera_win.cpp
Due: copyright-headers

Add Media Foundation conversion and support for additional camera formats
  modules/camera/camera_win.cpp
  modules/camera/camera_win.h
Due: copyright-headers, header-guards

Fix drive selection issue on Android
  doc/classes/DirAccess.xml
  platform/android/java/lib/src/org/godotengine/godot/io/directory/FilesystemDirectoryAccess.kt
  scene/gui/file_dialog.cpp
Due: make-rst, doc-status, copyright-headers

Android: Add method to set root window color at runtime
  doc/classes/DisplayServer.xml
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
  servers/display_server.cpp
  servers/display_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Android Editor: Set the window color to match background color
  editor/editor_node.cpp
  editor/project_manager/project_manager.cpp
Due: copyright-headers

Simplified the shader and improved the PRNG.
  drivers/gles3/effects/post_effects.cpp
  drivers/gles3/shaders/effects/post.glsl
  drivers/gles3/shaders/s4ao_inc.glsl
Due: copyright-headers

Change script doc cache to plain file
  editor/doc/editor_help.cpp
Due: copyright-headers

[TVG] Use heap for XML parser allocs.
  thirdparty/README.md
  thirdparty/thorvg/patches/0002-use-heap-alloc.patch
  thirdparty/thorvg/src/loaders/svg/tvgXmlParser.cpp
Due: none

Fix scrolling to bottom panel selected button.
  editor/gui/editor_bottom_panel.cpp
  editor/gui/editor_bottom_panel.h
Due: copyright-headers, header-guards

use tabs not spaces
  core/math/math_funcs.cpp
Due: copyright-headers

Expose CameraFeed::set_ycbcr_images
  doc/classes/CameraFeed.xml
  servers/camera/camera_feed.cpp
Due: make-rst, doc-status, copyright-headers

OpenXR: Safely set environment blend mode when rendering on a separate thread
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
Due: copyright-headers, header-guards

OpenXR: Prevent adding/removing extension wrappers after session start
  modules/openxr/openxr_api.cpp
Due: copyright-headers

Fix: Auto set default font to svg module
  modules/spx/spx_res_mgr.cpp
  scene/theme/theme_db.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
