Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Fix stencil mode FOV override not applied in next pass material
  scene/resources/material.cpp
Due: copyright-headers

Added paste_selected to TextEdit, made it default to true in the editor.
  editor/code_editor.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Due: copyright-headers, header-guards

Fixed indentation on empty lines
  scene/gui/text_edit.cpp
Due: copyright-headers

Show inspector warning on deprecated properties
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
Due: copyright-headers, header-guards

Editor: Add and Delete Tags from Project List
  doc/classes/EditorSettings.xml
  editor/project_manager/project_list.cpp
  editor/project_manager/project_list.h
  editor/project_manager/project_manager.cpp
  editor/project_manager/project_manager.h
  editor/project_manager/project_tag.cpp
  editor/project_manager/project_tag.h
  editor/settings/editor_settings.cpp
  editor/themes/theme_classic.cpp
  editor/themes/theme_modern.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

GDScript: Use full parser in `find_function`
  core/object/editor_language.h
  core/object/script_language_extension.h
  editor/scene/connections_dialog.cpp
  editor/script/script_text_editor.cpp
  modules/gdscript/editor/gdscript_editor_language.h
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/tests/gdscript_test_runner_suite.h
Due: copyright-headers, header-guards

Fix Decal gizmo arrow being too tall at certain sizes in the 3D editor
  editor/scene/3d/gizmos/decal_gizmo_plugin.cpp
Due: copyright-headers

Mark additional editor properties as linked
  core/math/a_star_grid_2d.cpp
  editor/import/3d/resource_importer_obj.cpp
  modules/csg/csg_shape.cpp
  modules/gltf/structures/gltf_node.cpp
  modules/visual_shader/visual_shader.cpp
  scene/3d/decal.cpp
  scene/3d/fog_volume.cpp
  scene/3d/gpu_particles_collision_3d.cpp
  scene/3d/occluder_instance_3d.cpp
  scene/3d/reflection_probe.cpp
  scene/3d/voxel_gi.cpp
  scene/gui/control.cpp
  scene/main/viewport.cpp
  scene/main/window.cpp
  scene/resources/2d/rectangle_shape_2d.cpp
  scene/resources/3d/box_shape_3d.cpp
  scene/resources/3d/primitive_meshes.cpp
  scene/resources/placeholder_textures.cpp
  scene/resources/portable_compressed_texture.cpp
Due: copyright-headers

Improve `JSON.stringify()` documentation
  doc/classes/JSON.xml
Due: make-rst, doc-status, validate-xml

Improve documentation on `PackedByteArray()` Array constructor
  doc/classes/PackedByteArray.xml
Due: make-rst, doc-status, validate-xml

Allow disabling 2D when compiling export templates
  SConstruct
  scene/2d/SCsub
  scene/SCsub
  scene/debugger/runtime_node_select.cpp
  scene/debugger/runtime_node_select.h
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
  scene/main/canvas_item.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/register_scene_types.cpp
  scene/resources/SCsub
  scene/resources/packed_scene.cpp
  scene/resources/world_2d.h
Due: copyright-headers, header-guards

Add support for more items to the context menu of multi-selected instances.
  editor/docks/scene_tree_dock.cpp
  editor/docks/scene_tree_dock.h
Due: copyright-headers, header-guards

Improve PCK loading filename handling
  core/config/project_settings.cpp
  core/config/project_settings.h
Due: copyright-headers, header-guards

Add class filtering for file system
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
Due: copyright-headers, header-guards

Mark OS.RenderingDriver Enum as Deprecated
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/OS.xml
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Unify Script Editor color pickers Inline picker now supports constants
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
Due: copyright-headers, header-guards

[CrashHandler] Save and restore signal handlers.
  platform/linuxbsd/crash_handler_linuxbsd.cpp
  platform/linuxbsd/crash_handler_linuxbsd.h
  platform/macos/crash_handler_macos.h
  platform/macos/crash_handler_macos.mm
  platform/windows/crash_handler_windows.h
  platform/windows/crash_handler_windows_seh.cpp
  platform/windows/crash_handler_windows_signal.cpp
Due: copyright-headers, header-guards

Some fixes for boolean conversion in shaders
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Due: copyright-headers, header-guards

make height/width stretch set minimum size on aspect ratio container
  scene/gui/aspect_ratio_container.cpp
Due: copyright-headers

[Editor] Replace few hardcoded `Alt` strings with `keycode_get_string(KeyModifierMask::ALT)`.
  editor/run/game_view_plugin.cpp
  editor/scene/2d/scene_paint_2d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_viewport.cpp
  editor/scene/canvas_item_editor_plugin.cpp
  editor/script/script_text_editor.cpp
Due: copyright-headers

Detect locale from file name when adding localization remaps.
  editor/translations/localization_editor.cpp
Due: copyright-headers

Fix `Polygon2D` editor draw line being placed incorrect on first click
  editor/scene/2d/polygon_2d_editor_plugin.cpp
Due: copyright-headers

GDScript: remove temporary when calling void function or uncaptured return value
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/tests/scripts/runtime/features/release_at_end_of_statement.gd
  modules/gdscript/tests/scripts/runtime/features/release_at_end_of_statement.out
Due: copyright-headers

Reduce assignments in setup_resources_*
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
Due: copyright-headers, header-guards

Resize cache dict before assignments
  modules/gdscript/gdscript.cpp
Due: copyright-headers

Reduce excessive array allocations/copies to check local resources in dictionaries during scene instantiation
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
Due: copyright-headers, header-guards

Optimize loops with foreach
  scene/resources/packed_scene.cpp
Due: copyright-headers

Avoid variant assignment in GDScriptInstance::set
  modules/gdscript/gdscript.cpp
Due: copyright-headers

Fix crash in `CowData` `Span` constructor with empty span
  core/cowdata.h
Due: copyright-headers, header-guards

`Vector` and `CowData` move semantics
  core/cowdata.h
  core/vector.h
Due: copyright-headers, header-guards

Protect empty `CowData` inits.
  core/templates/cowdata.h
Due: copyright-headers, header-guards

`Vector` reduce writes in `invert` & `append`
  core/vector.h
Due: copyright-headers, header-guards

Fix all data formats being assumed to be the same size.
  drivers/gles3/storage/mesh_storage.cpp
Due: copyright-headers

Fix error when creating new scene
  editor/docks/scene_tree_dock.cpp
Due: copyright-headers

Fix SubViewport with own_world_3d=true disabling editor preview world
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: copyright-headers, header-guards

`Vector` & `LocalVector` ordered_insert uses binary search
  core/local_vector.h
  core/vector.h
Due: copyright-headers, header-guards

`Vector` & `LocalVector` ordered_insert uses binary search
  core/templates/local_vector.h
  core/templates/vector.h
Due: copyright-headers, header-guards

Hide status bar when no errors in AnimationTree
  editor/animation/animation_tree_editor_plugin.cpp
  editor/animation/animation_tree_editor_plugin.h
Due: copyright-headers, header-guards

Refactor `CowData` around `_insert_uninitialized` and `_remove` to simplify callees. Add `Vector.append_array` with `Span`. Optimize `Vector.append_array`.
  core/templates/cowdata.h
  core/templates/vector.h
  core/variant/variant_call.cpp
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

