Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Decorate rare !data.inside_tree condition with unlikely
  scene/main/node.h
Due: copyright-headers, header-guards

Fix container minimum size with hidden parent
  scene/gui/aspect_ratio_container.cpp
  scene/gui/center_container.cpp
  scene/gui/flow_container.cpp
  scene/gui/split_container.cpp
  scene/gui/split_container.h
Due: copyright-headers, header-guards

2345
  modules/game_help/logic/body_main.cpp
  modules/game_help/logic/body_main.h
  modules/game_help/logic/charecter_manager.cpp
  modules/game_help/logic/charecter_manager.h
  scene/main/node.cpp
  scene/main/node.h
Due: copyright-headers, header-guards

Add collapse/expand right click option to remote scene view
  editor/debugger/editor_debugger_tree.cpp
  editor/debugger/editor_debugger_tree.h
Due: copyright-headers, header-guards

Add few new outputs to the visual shaders
  scene/resources/visual_shader.cpp
Due: copyright-headers

Core: Change BitField int to unsigned
  core/variant/binder_common.h
  core/variant/type_info.h
  platform/android/android_input_handler.cpp
Due: copyright-headers, header-guards

Fix audio stream being considered as playing after it has ended
  servers/audio_server.cpp
Due: copyright-headers

CI: Bump Python/SCons versions
  .github/actions/godot-deps/action.yml
Due: none

2222
  modules/game_help/logic/body_main.h
  modules/game_help/logic/charecter_manager.cpp
  modules/game_help/logic/charecter_manager.h
  scene/main/node.cpp
  scene/main/node.h
Due: copyright-headers, header-guards

Add `SwitchVector4D` shortcut to visual shader members
  editor/plugins/visual_shader_editor_plugin.cpp
Due: copyright-headers

Windows: Consolidate MSVC and MinGW crash handlers
  platform/windows/SCsub
  platform/windows/crash_handler_windows.h
  platform/windows/crash_handler_windows_seh.cpp
  platform/windows/crash_handler_windows_signal.cpp
Due: copyright-headers, header-guards

Make script method connection gutter appear/disappear instantly after connect/disconnect
  editor/connections_dialog.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
Due: copyright-headers, header-guards

Only print physics sync warning on dev builds to avoid warning spam from using move_and_slide
  servers/physics_server_2d_wrap_mt.h
  servers/physics_server_3d_wrap_mt.h
Due: copyright-headers, header-guards

Windows: Print module and offset in crash handler if no symbols
  platform/windows/crash_handler_windows_seh.cpp
Due: copyright-headers

Fix SSR orientation issues when using orthogonal camera
  servers/rendering/renderer_rd/shaders/effects/screen_space_reflection.glsl
  servers/rendering/renderer_rd/shaders/effects/screen_space_reflection_inc.glsl
Due: none

Android Editor: Add immersive mode option
  editor/editor_settings.cpp
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
Due: copyright-headers

Windows: Lookup export symbol names in crash handler
  platform/windows/crash_handler_windows_seh.cpp
Due: copyright-headers

Use a spec constant to control whether the MultiMesh branch is used in the vertex shader.
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Due: copyright-headers, header-guards

Add Direct3D 12 setup script for distribution with binary releases
  misc/dist/windows/setup_d3d12_support.bat
Due: none

Remove DXIL installation which is no longer needed
  misc/dist/windows/optimize_d3d12_support.bat
  misc/dist/windows/setup_d3d12_support.bat
Due: none

Reset position to 0 after animation selected on AnimationPlayerEditor
  editor/plugins/animation_player_editor_plugin.cpp
Due: copyright-headers

Fix StateMachine process when transition to end & optimize StringName
  editor/plugins/animation_state_machine_editor.cpp
  scene/animation/animation_node_state_machine.cpp
  scene/animation/animation_node_state_machine.h
Due: copyright-headers, header-guards

Snap half-px sprite offset the opposite way as canvas items
  scene/2d/animated_sprite_2d.cpp
  scene/2d/sprite_2d.cpp
Due: copyright-headers

Generate `arghint` for script types
  modules/gdscript/gdscript_editor.cpp
Due: copyright-headers

Able to select multiple properties
  editor/property_selector.cpp
  editor/property_selector.h
Due: copyright-headers, header-guards

Style and refactor.
  editor/property_selector.cpp
  editor/property_selector.h
Due: copyright-headers, header-guards

Default select single property for propertySelector and switching between track types set multi or single.
  editor/animation_track_editor.cpp
  editor/property_selector.cpp
  editor/property_selector.h
Due: copyright-headers, header-guards

Refactor function name when adding multiple tracks/properties.
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Due: copyright-headers, header-guards

Use a signal to send array of multiple properties rather than sending multiple signals.
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/property_selector.cpp
Due: copyright-headers, header-guards

Expose Texture2D's Size Override and add it as Display Scale import option
  doc/classes/ImageTexture.xml
  doc/classes/PortableCompressedTexture2D.xml
  doc/classes/ResourceImporterTexture.xml
  doc/classes/Texture2D.xml
  editor/import/resource_importer_texture.cpp
  editor/import/resource_importer_texture.h
  editor/renames_map_3_to_4.cpp
  scene/resources/compressed_texture.cpp
  scene/resources/compressed_texture.h
  scene/resources/image_texture.cpp
  scene/resources/image_texture.h
  scene/resources/portable_compressed_texture.cpp
  scene/resources/portable_compressed_texture.h
  scene/resources/texture.cpp
  scene/resources/texture.h
Due: make-rst, doc-status, copyright-headers, header-guards

Update FileDialog.xml for dependency clarity.
  doc/classes/FileDialog.xml
Due: make-rst, doc-status

Remove litter in FileDialog.xml used for edit
  doc/classes/FileDialog.xml
Due: make-rst, doc-status

Remove defining new_track_property_selected twice.
  editor/animation_track_editor.h
Due: copyright-headers, header-guards

Update FileDialog.xml with grammar fix.
  doc/classes/FileDialog.xml
Due: make-rst, doc-status

Lightmapper: Prevent infinite loop when blitting lightmaps into an atlas
  doc/classes/LightmapGI.xml
  editor/plugins/lightmap_gi_editor_plugin.cpp
  modules/lightmapper_rd/lightmapper_rd.cpp
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
  scene/3d/lightmapper.h
Due: make-rst, doc-status, copyright-headers, header-guards

Clear selected props dict on property selector window closing.
  editor/property_selector.cpp
Due: copyright-headers

Fix wrong tooltip behavior in `PopupMenu`s that have styles with top borders
  scene/main/viewport.cpp
Due: copyright-headers

Windows: Fix window pos when shown on monitor with diff. dpi scale
  platform/windows/display_server_windows.cpp
Due: copyright-headers

678
  modules/game_help/logic/body_main.cpp
  modules/game_help/logic/character_manager.cpp
  modules/game_help/logic/character_manager.h
  modules/game_help/logic/charecter_manager.cpp
  modules/game_help/logic/charecter_manager.h
  modules/game_help/register_types.cpp
  modules/glslang/register_types.cpp
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/register_scene_types.cpp
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
