Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

[Core] Fix `FileAccessCompressed.get_buffer` size error on multiples of block size
  core/io/file_access_compressed.cpp
Due: copyright-headers

[Core] Add convenience access to front/back element of `List`
  core/templates/list.h
Due: copyright-headers, header-guards

Subscript cases
  core/debugger/remote_debugger_peer.cpp
  core/io/udp_server.cpp
  editor/debugger/editor_debugger_tree.cpp
  editor/editor_inspector.cpp
  editor/export/project_export.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/scene_import_settings.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  modules/enet/enet_multiplayer_peer.cpp
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/multiplayer/scene_replication_interface.cpp
  modules/websocket/remote_debugger_peer_websocket.cpp
  scene/2d/animated_sprite_2d.cpp
  scene/3d/sprite_3d.cpp
  scene/debugger/scene_debugger.cpp
  scene/resources/2d/skeleton/skeleton_modification_2d_physicalbones.cpp
  servers/rendering/renderer_viewport.cpp
  tests/core/object/test_object.h
  tests/core/variant/test_dictionary.h
Due: copyright-headers, header-guards

Use `Dictionary.get_key_list` where appropriate
  editor/dependency_editor.cpp
  editor/editor_command_palette.cpp
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_preset.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/localization_editor.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  modules/gltf/editor/editor_import_blend_runner.cpp
  modules/gltf/gltf_template_convert.h
  modules/gltf/structures/gltf_skin.cpp
  modules/openxr/editor/openxr_select_runtime.cpp
  modules/openxr/extensions/openxr_extension_wrapper_extension.cpp
  scene/gui/code_edit.cpp
Due: copyright-headers, header-guards

Update inspector theme when changed
  editor/editor_inspector.cpp
  editor/editor_inspector.h
Due: copyright-headers, header-guards

Fix ColorPicker sliders in overbright RGB
  scene/gui/color_mode.cpp
  scene/gui/color_mode.h
  scene/gui/color_picker.cpp
Due: copyright-headers, header-guards

Update String.xml
  doc/classes/String.xml
Due: make-rst, doc-status

Update StringName.xml
  doc/classes/StringName.xml
Due: make-rst, doc-status

Scene Tree prevent inspecting node while scrolling
  editor/scene_tree_dock.cpp
Due: copyright-headers

[Core] Make `Dictionary.get_or_add` check for read-only
  core/variant/dictionary.cpp
  tests/core/variant/test_dictionary.h
Due: copyright-headers, header-guards

[Core] Add `set_safe` method to `Array` and `Dictionary`
  core/variant/array.cpp
  core/variant/array.h
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  tests/core/variant/test_dictionary.h
Due: copyright-headers, header-guards

Add plural form support for Translation, OptimizedTranslation and CSV translation import.
  core/string/locales.h
  core/string/optimized_translation.cpp
  core/string/optimized_translation.h
  core/string/translation.cpp
  core/string/translation.h
  core/string/translation_po.cpp
  core/string/translation_po.h
  core/string/translation_server.cpp
  core/string/translation_server.h
  doc/classes/Translation.xml
  doc/classes/TranslationServer.xml
  editor/import/resource_importer_csv_translation.cpp
  tests/core/string/test_translation.h
  tests/data/translations.csv
Due: make-rst, doc-status, copyright-headers, header-guards

Add instruction to wrap nested classes in JavaClassWrapper
  doc/classes/JavaClassWrapper.xml
Due: make-rst, doc-status

Remove bool from `Object::notification` virtual function; replace with separate functions to avoid branching.
  core/object/object.cpp
  core/object/object.h
Due: copyright-headers, header-guards

Fix clicks when AudioStreamPlayer3D routes to an Area3D's reverb send
  scene/3d/audio_stream_player_3d.cpp
Due: copyright-headers

Synchronized Boundary behaviors & adjusted comments
  core/string/ustring.cpp
  core/templates/span.h
  core/templates/vector.h
Due: copyright-headers, header-guards

Depreacate `CanvasItem::get_viewport_transform`
  doc/classes/CanvasItem.xml
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fixed Merge Mistake
  core/templates/vector.h
Due: copyright-headers, header-guards

Fixed Parameter Type Mistake
  core/templates/span.h
Due: copyright-headers, header-guards

Double fixed parameter type mistake
  core/templates/span.h
Due: copyright-headers, header-guards

Triple Fix Parameter Type mistake
  core/templates/span.h
Due: copyright-headers, header-guards

Style Fix for Git Workflow
  core/templates/span.h
Due: copyright-headers, header-guards

Style Fix
  core/templates/span.h
Due: copyright-headers, header-guards

Vector Parameter Fix
  core/templates/vector.h
Due: copyright-headers, header-guards

Add support for default arguments in utility functions
  core/extension/extension_api_dump.cpp
  core/math/math_funcs.h
  core/variant/variant.h
  core/variant/variant_utility.cpp
  core/variant/variant_utility.h
  doc/classes/@GlobalScope.xml
  editor/doc_tools.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
  tests/core/variant/test_variant.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix crash when reimporting nested gltf scenes
  editor/editor_node.cpp
Due: copyright-headers

Correcting default RFind_Seq from.
  core/templates/span.h
Due: copyright-headers, header-guards

Fix connections dialog connecting signal before adding new script function
  editor/connections_dialog.cpp
Due: copyright-headers

Update Inspector when rename a file via File System Dock
  editor/editor_node.cpp
  editor/inspector_dock.cpp
  editor/inspector_dock.h
Due: copyright-headers, header-guards

Add editor settings to close/restore the bottom panel when starting/stopping a project
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_settings.cpp
  editor/gui/editor_bottom_panel.cpp
  editor/gui/editor_bottom_panel.h
Due: copyright-headers, header-guards

Fix smooth scrolling tied to physics process
  scene/gui/scroll_bar.cpp
  scene/gui/scroll_container.cpp
  scene/gui/text_edit.cpp
Due: copyright-headers

Save instantiated branch as new scene.
  editor/new_scene_from_dialog.cpp
  editor/new_scene_from_dialog.h
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Due: copyright-headers, header-guards

Add Meshes to the Video RAM Profiler
  drivers/gles3/storage/mesh_storage.h
  drivers/gles3/storage/texture_storage.cpp
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
  servers/debugger/servers_debugger.cpp
  servers/debugger/servers_debugger.h
  servers/rendering/dummy/storage/mesh_storage.h
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/mesh_storage.h
  servers/rendering_server.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
