Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Rewrite semaphore handling for transfer workers.
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Due: copyright-headers, header-guards

Move transitions of textures initialized by transfer workers to the main graphics queue.
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_driver.cpp
  servers/rendering/rendering_device_driver.h
Due: copyright-headers, header-guards

ssss
  modules/game_help/logic/animator/character_update_tool.cpp
  modules/game_help/logic/animator/human_animation.h
  modules/game_help/logic/body_main.cpp
Due: copyright-headers, header-guards

Fix `BottomPanel` excessive width.
  editor/gui/editor_bottom_panel.cpp
  editor/gui/editor_bottom_panel.h
Due: copyright-headers, header-guards

Fix uneditable LineEdit, TexEdit and CodeEdit Virtual Keyboard popup
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
Due: copyright-headers

updated the images based on sshiiden's pr
  editor/icons/DefaultProjectIcon.svg
  editor/icons/Logo.svg
  editor/icons/TitleBarLogo.svg
  logo.svg
  logo_outlined.svg
  misc/dist/html/logo.svg
  misc/dist/icon_console.svg
  platform/android/java/lib/res/mipmap-hdpi/icon.png
  platform/android/java/lib/res/mipmap-hdpi/icon_foreground.png
  platform/android/java/lib/res/mipmap-mdpi/icon.png
  platform/android/java/lib/res/mipmap-mdpi/icon_foreground.png
  platform/android/java/lib/res/mipmap-xhdpi/icon.png
  platform/android/java/lib/res/mipmap-xhdpi/icon_foreground.png
  platform/android/java/lib/res/mipmap-xxhdpi/icon.png
  platform/android/java/lib/res/mipmap-xxhdpi/icon_foreground.png
  platform/android/java/lib/res/mipmap-xxxhdpi/icon.png
  platform/android/java/lib/res/mipmap-xxxhdpi/icon_foreground.png
  platform/android/java/lib/res/mipmap/icon.png
  platform/android/java/lib/res/mipmap/icon_foreground.png
  tests/data/images/icon.bmp
Due: svgo

removed monochrome icon, sshiiden fixed console_icon
  platform/android/java/lib/res/mipmap/icon_monochrome.png
  platform/windows/godot_console.ico
Due: none

Update publish-module.gradle
  platform/android/java/scripts/publish-module.gradle
Due: none

Support Codium as a standalone C# editor
  modules/mono/editor/GodotTools/GodotTools/ExternalEditorId.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
Due: none

reverted the patch files for android
  platform/android/java/lib/patches/com.google.android.vending.expansion.downloader.patch
  platform/android/java/lib/patches/com.google.android.vending.licensing.patch
Due: none

Remove note about missing per-vertex-shading
  doc/classes/BaseMaterial3D.xml
Due: make-rst, doc-status

Remove "Using present mode" verbose prints in Vulkan and Direct3D 12
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/vulkan/rendering_device_driver_vulkan.cpp
Due: copyright-headers

Fix workflow GODOT_BASE_BRANCH
  .github/workflows/android_builds.yml
  .github/workflows/godot_cpp_test.yml
  .github/workflows/ios_builds.yml
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/web_builds.yml
  .github/workflows/windows_builds.yml
Due: none

Set versioning back to 4.3 stable
  misc/dist/macos_tools.app/Contents/Info.plist
  misc/dist/windows/godot.iss
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Godot.NET.Sdk.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.csproj
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
  modules/mono/glue/GodotSharp/GodotSharpEditor/GodotSharpEditor.csproj
  version.py
Due: none

original patches, nothing changed
  platform/android/java/lib/patches/com.google.android.vending.expansion.downloader.patch
  platform/android/java/lib/patches/com.google.android.vending.licensing.patch
Due: none

added an default color for preview enviroment and a button to change horizon color
  doc/classes/ProjectSettings.xml
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
  main/main.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix formatting errors
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
Due: copyright-headers, header-guards

Add light index and directional shadow sampling, reorder lighting code for maintainability and extension
  editor/plugins/visual_shader_editor_plugin.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_lights_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_lights_inc.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_base_inc.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
  servers/rendering/shader_language.cpp
  servers/rendering/shader_types.cpp
Due: copyright-headers

Don't override auto translate mode of custom tooltip
  doc/classes/Control.xml
  scene/main/viewport.cpp
Due: make-rst, doc-status, copyright-headers

Spell Check
  editor/gui/editor_bottom_panel.cpp
Due: copyright-headers

Fix documentation tip for network/debug/remote_host editor setting
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status

Docs: Add link to 2D lights and shadows from CanvasModulate
  doc/classes/CanvasModulate.xml
Due: make-rst, doc-status

Fix exported typed dictionaries in .NET having an incorrect hint, which led to incorrect scene serialization
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportedFields_ScriptProperties.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportedProperties_ScriptProperties.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGenerator.cs
Due: none

clang-tidy editor/* warnings for unused variables
  editor/code_editor.h
  editor/debugger/debug_adapter/debug_adapter_protocol.h
  editor/debugger/debug_adapter/debug_adapter_types.h
  editor/debugger/editor_debugger_node.h
  editor/editor_data.h
  editor/editor_file_system.h
  editor/editor_help.h
  editor/editor_node.h
  editor/editor_settings.h
  editor/plugins/editor_plugin.h
  editor/project_manager.h
Due: copyright-headers, header-guards

[Core] Fix sorting of `Dictionary` keys
  core/io/json.cpp
  core/variant/variant.h
  core/variant/variant_parser.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  modules/gdscript/editor/gdscript_docgen.cpp
Due: copyright-headers, header-guards

Add test
  tests/core/variant/test_variant.h
Due: copyright-headers, header-guards

Update node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Due: copyright-headers

Optimized Node.find_children: Replaced recursion with stack and cached redundant hashmap lookups.
  scene/main/node.cpp
Due: copyright-headers

Add `#error` preprocessor directive to shading language
  servers/rendering/shader_preprocessor.cpp
  servers/rendering/shader_preprocessor.h
Due: copyright-headers, header-guards

LightmapGI: Clean up and improve lightmap atlas storage
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
Due: copyright-headers, header-guards

Add support for struct uniforms in shaders
  drivers/gles3/shader_gles3.cpp
  drivers/gles3/shader_gles3.h
  drivers/gles3/shaders/canvas.glsl
  drivers/gles3/shaders/particles.glsl
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/shaders/sky.glsl
  drivers/gles3/storage/material_storage.cpp
  scene/resources/material.cpp
  scene/resources/material.h
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/shader_rd.cpp
  servers/rendering/renderer_rd/shader_rd.h
  servers/rendering/renderer_rd/shaders/canvas.glsl
  servers/rendering/renderer_rd/shaders/environment/sky.glsl
  servers/rendering/renderer_rd/shaders/environment/volumetric_fog.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/particles.glsl
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_compiler.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Due: copyright-headers, header-guards

Fix error when undo tile deletion in TileSetAtlasSourceEditor
  scene/resources/2d/tile_set.cpp
Due: copyright-headers

Use a shared copy of placeholder textures, tweak placeholder appearance
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
Due: copyright-headers, header-guards

Prevent iOS builds attempting to access the mouse on startup
  scene/main/window.cpp
Due: copyright-headers

33333
  modules/game_help/logic/animator/human_animation.h
Due: copyright-headers, header-guards

Warn user about unrecognized or misspelled builtin_* options.
  SConstruct
Due: none
