Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

[Editor] Do not disable path overrides in tools build.
  main/main.cpp
Due: copyright-headers

Added add_apple_embedded_platform_spm_package method to EditorExportPlugin
  doc/classes/EditorExportPlugin.xml
  editor/export/editor_export_platform_apple_embedded.cpp
  editor/export/editor_export_plugin.cpp
  editor/export/editor_export_plugin.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix precision issues with 3D editor freelook/panning when far away from the origin
  editor/scene/3d/node_3d_editor_viewport.cpp
  scene/debugger/runtime_node_select.cpp
  scene/debugger/view_3d_controller.cpp
  scene/debugger/view_3d_controller.h
Due: copyright-headers, header-guards

Project Manager: Fix button sidebar size on different editor scales
  editor/project_manager/project_manager.cpp
Due: copyright-headers

Add option for tab sizing strategies
  doc/classes/TabBar.xml
  doc/classes/TabContainer.xml
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
  tests/scene/test_tab_bar.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Vulkan: Fix Swappy frame pacing black screen on Android Emulator
  drivers/vulkan/rendering_device_driver_vulkan.cpp
Due: copyright-headers

Add links from core to the docs, to guide contributors better.
  core/error/error_macros.h
  core/object/object.h
  core/string/string_name.h
  core/string/ustring.h
  core/templates/a_hash_map.h
  core/templates/fixed_vector.h
  core/templates/hash_map.h
  core/templates/hash_set.h
  core/templates/list.h
  core/templates/local_vector.h
  core/templates/rb_map.h
  core/templates/rb_set.h
  core/templates/vector.h
  core/templates/vset.h
  core/variant/array.h
  core/variant/dictionary.h
Due: copyright-headers, header-guards

Fix type mismatch between gdextension interface implementation source file and declaration json file about `object_get_script_instance` and `object_set_script_instance`.
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_interface.json
Due: copyright-headers

Added 'get_velocity_at_(local)_position()' to 'RigidBody3D'.
  doc/classes/RigidBody3D.xml
  scene/3d/physics/rigid_body_3d.cpp
  scene/3d/physics/rigid_body_3d.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

GDScript: Forbid scripts from inheriting their own inner classes
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/analyzer/errors/inner_base.gd
  modules/gdscript/tests/scripts/analyzer/errors/inner_base.out
  modules/gdscript/tests/scripts/analyzer/features/external_inner_base.gd
  modules/gdscript/tests/scripts/analyzer/features/external_inner_base.out
  modules/gdscript/tests/scripts/analyzer/features/inner_base.gd
  modules/gdscript/tests/scripts/analyzer/features/inner_base.out
  modules/gdscript/tests/scripts/analyzer/features/out_of_order.gd
Due: copyright-headers

Fix sky shader SCREEN_UV builtin in Compatibility renderer
  drivers/gles3/shaders/sky.glsl
Due: none

Mark OS.RenderingDriver Enum as Deprecated
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/OS.xml
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Add various `FileSystem` QoL features
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
  editor/settings/editor_settings.cpp
Due: copyright-headers, header-guards

Don't open everything in external editor when using and debugging with external editor
  editor/script/script_editor_plugin.cpp
Due: copyright-headers

Improve documentation on `PackedByteArray()` Array constructor
  doc/classes/PackedByteArray.xml
Due: make-rst, doc-status, validate-xml

Added 'get_velocity_at_(local)_position()' to 'RigidBody2D'.
  doc/classes/RigidBody2D.xml
  scene/2d/physics/rigid_body_2d.cpp
  scene/2d/physics/rigid_body_2d.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Make key EditorProperty pass mouse events without fully deactivating mouse input.
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
  editor/inspector/editor_properties.cpp
  editor/inspector/editor_properties.h
  editor/inspector/editor_properties_array_dict.cpp
  editor/inspector/editor_properties_array_dict.h
  editor/inspector/editor_resource_picker.cpp
  editor/inspector/editor_resource_picker.h
Due: copyright-headers, header-guards

Fix broken links in `modules/gdscript/README.md`
  modules/gdscript/README.md
Due: none

SCons: Only apply `-mcmodel=medium` to `x86_64`
  platform/linuxbsd/detect.py
Due: none

GDScript: Allow implicit conversion for `preload()` argument
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/tests/scripts/runtime/features/gdscript_utility_implicit_conversion.gd
  modules/gdscript/tests/scripts/runtime/features/gdscript_utility_implicit_conversion.out
Due: copyright-headers

Android editor: Enable screen orientation change on large screens
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
Due: none

`LocalVector::remove_unordered` should check unsigned index
  core/templates/local_vector.h
Due: copyright-headers, header-guards

SCons: Pass `-mcmodel=medium` on Linux GCC sanitizers
  platform/linuxbsd/detect.py
Due: none

[Editor] Fix Duplicate Keyboard Entries inside Input Event Configuration Dialog
  editor/settings/input_event_configuration_dialog.cpp
Due: copyright-headers

Some fixes for boolean conversion in shaders
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Due: copyright-headers, header-guards

Fix TileMap module craeting a river on Navigation2D disabled
  modules/tilemap/register_types.cpp
Due: copyright-headers

Underline GDScript warnings and errors in editor
  core/object/script_language.h
  core/object/script_language_extension.h
  doc/classes/EditorSettings.xml
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
  editor/settings/editor_settings.cpp
  editor/themes/editor_theme_manager.cpp
  modules/gdscript/gdscript_editor.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Remove unused `_ref(CowData*)` from `CowData`.
  core/templates/cowdata.h
Due: copyright-headers, header-guards

Extract DocumentList from ScriptEditor Organize tab changing logic
  editor/script/script_editor_base.cpp
  editor/script/script_editor_base.h
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
  editor/shader/shader_editor_plugin.cpp
  editor/shader/shader_text_editor.cpp
  editor/shader/shader_text_editor.h
Due: copyright-headers, header-guards

Fix performance issues when moving the mouse with high polling rate on Windows
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  platform/windows/godot_windows.cpp
Due: copyright-headers, header-guards

Fix window wrapper disabling prematurely on close request
  editor/run/game_view_plugin.cpp
Due: copyright-headers

Fix struct comparison crash in shaders
  servers/rendering/shader_language.cpp
Due: copyright-headers

Fix Project Manager size for portrait layout and Android auto-scale
  editor/project_manager/project_manager.cpp
  editor/project_manager/project_manager.h
  platform/android/display_server_android.cpp
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
Due: copyright-headers, header-guards

Add `Span` constructor/assignment to `LocalVector` and clean up constructors and assignments.
  core/templates/local_vector.h
Due: copyright-headers, header-guards

Fix issue causing the engine to crash when starting while the screen is off.
  platform/android/java/lib/src/main/java/org/godotengine/godot/GodotGLRenderView.java
  platform/android/java/lib/src/main/java/org/godotengine/godot/GodotVulkanRenderView.java
  platform/android/java/lib/src/main/java/org/godotengine/godot/vulkan/VkRenderer.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/vulkan/VkSurfaceView.kt
  platform/android/java_godot_lib_jni.cpp
  platform/android/os_android.cpp
  platform/android/rendering_context_driver_vulkan_android.cpp
Due: copyright-headers

Document that `Packed*Array`s' `remove_at` method cannot take negative indices
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  doc/classes/PackedVector4Array.xml
Due: make-rst, doc-status, validate-xml

Always set error.start_line in GDScriptTokenizerText::string()
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/tests/gdscript_test_runner_suite.h
Due: copyright-headers, header-guards

Hide `High Quality Mode` import setting when compress mode is not `VRAM Compressed`
  editor/import/resource_importer_layered_texture.cpp
  editor/import/resource_importer_texture.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

