Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, copyright-headers

make-rst:
  name: make-rst
  entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
  pass_filenames: false
  language: python

copyright-headers:
  name: copyright-headers
  language: python
  entry: python3 misc/scripts/copyright_headers.py

Update editor/debugger/editor_visual_profiler.cpp
  editor/debugger/editor_visual_profiler.cpp
Due: copyright-headers

Update editor/debugger/editor_profiler.cpp
  editor/debugger/editor_profiler.cpp
Due: copyright-headers

456
  core/object/ref_counted.h
  modules/game_help/SCsub
  modules/game_help/logic/body_animator.h
  modules/game_help/unity/unity_link_server.cpp
  modules/game_help/unity/unity_link_server.h
Due: copyright-headers

Fix first interaction line breaks
  .github/workflows/first_interaction.yml
Due: none

GLTF export: Propagate `property_list_changed` from extensions
  modules/gltf/editor/editor_scene_exporter_gltf_settings.cpp
  modules/gltf/editor/editor_scene_exporter_gltf_settings.h
Due: copyright-headers

Add renaming of PDB files to avoid blocking them
  core/extension/gdextension.cpp
  core/extension/gdextension.h
  core/os/os.h
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  platform/android/os_android.cpp
  platform/android/os_android.h
  platform/ios/os_ios.h
  platform/ios/os_ios.mm
  platform/macos/os_macos.h
  platform/macos/os_macos.mm
  platform/web/os_web.cpp
  platform/web/os_web.h
  platform/windows/SCsub
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  platform/windows/windows_utils.cpp
  platform/windows/windows_utils.h
Due: copyright-headers

Don't pass `self` when calling a static function from a non-static context
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.h
Due: copyright-headers

Add support for explicitly-defined compound triggers in GLTF files
  modules/gltf/extensions/physics/gltf_document_extension_physics.cpp
Due: copyright-headers

Allow control of texture repeat on Sprite3D
  doc/classes/SpriteBase3D.xml
  scene/3d/label_3d.cpp
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
  scene/resources/material.cpp
  scene/resources/material.h
Due: make-rst, copyright-headers

Use local variable to stop memory leak.
  modules/upnp/doc_classes/UPNPDevice.xml
  modules/upnp/upnp.cpp
Due: make-rst, copyright-headers

Separate Shape3D resource logic in GLTFPhysicsShape
  modules/gltf/doc_classes/GLTFPhysicsBody.xml
  modules/gltf/doc_classes/GLTFPhysicsShape.xml
  modules/gltf/extensions/physics/gltf_document_extension_physics.cpp
  modules/gltf/extensions/physics/gltf_physics_shape.cpp
  modules/gltf/extensions/physics/gltf_physics_shape.h
Due: make-rst, copyright-headers

Remove unavailable property binding reset_on_save from Skeleton3D
  scene/3d/skeleton_3d.cpp
Due: copyright-headers

Fix OpenGL: _shadow_atlas_find_shadow: Condition "!sli" is true.
  drivers/gles3/storage/light_storage.cpp
Due: copyright-headers

add support for visualizing bones in Advanced Import Settings
  editor/import/3d/scene_import_settings.cpp
  editor/import/3d/scene_import_settings.h
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.h
Due: copyright-headers

Fix #84983: Choosing EditorSyntaxHighlighter in TextEdit crashes the project
  core/object/class_db.cpp
Due: copyright-headers

thorvg: Update to 0.12.10
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/src/common/tvgMath.cpp
  thirdparty/thorvg/src/common/tvgMath.h
  thirdparty/thorvg/src/loaders/svg/tvgSvgLoader.cpp
  thirdparty/thorvg/src/loaders/svg/tvgSvgPath.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwShape.cpp
  thirdparty/thorvg/src/renderer/tvgPaint.cpp
  thirdparty/thorvg/src/renderer/tvgShape.cpp
  thirdparty/thorvg/update-thorvg.sh
Due: none

enet: Sync with upstream commit c44b7d0
  thirdparty/README.md
  thirdparty/enet/patches/godot_socket.patch
  thirdparty/enet/protocol.c
Due: none

glad: Re-generate files with glad 2.0.6
  thirdparty/README.md
  thirdparty/glad/EGL/eglplatform.h
  thirdparty/glad/gl.c
  thirdparty/glad/glad/egl.h
  thirdparty/glad/glad/gl.h
  thirdparty/glad/glad/glx.h
  thirdparty/glad/patches/patch_enable_both_gl_and_gles.diff
Due: none

Fix per-node physics interpolation setting
  scene/main/node.cpp
Due: copyright-headers

miniupnpc: Update to 2.2.7
  thirdparty/README.md
  thirdparty/miniupnpc/src/miniupnpcstrings.h
Due: none

squish: Clean up patches, add LICENSE.txt
  thirdparty/README.md
  thirdparty/squish/LICENSE.txt
  thirdparty/squish/godot-changes.patch
  thirdparty/squish/patches/config_sse.patch
  thirdparty/squish/patches/decompress_bc4_bc5.patch
Due: none

nanosvg: Sync with upstream 93ce879
  thirdparty/README.md
  thirdparty/nanosvg/nanosvg.h
  thirdparty/nanosvg/nanosvgrast.h
Due: none

Fix #89578: incorrect work of look_at function
  scene/main/window.cpp
Due: copyright-headers

libktx: Update to 4.3.2
  modules/ktx/SCsub
  thirdparty/README.md
  thirdparty/libktx/lib/dfdutils/createdfd.c
  thirdparty/libktx/lib/dfdutils/dfd.h
  thirdparty/libktx/lib/dfdutils/dfd2vk.inl
  thirdparty/libktx/lib/dfdutils/interpretdfd.c
  thirdparty/libktx/lib/dfdutils/queries.c
  thirdparty/libktx/lib/dfdutils/vk2dfd.inl
  thirdparty/libktx/lib/gl_format.h
  thirdparty/libktx/lib/texture2.c
  thirdparty/libktx/lib/vk_format.h
  thirdparty/libktx/lib/vkformat_check.c
  thirdparty/libktx/lib/vkformat_typesize.c
  thirdparty/libktx/patches/godot.patch
Due: none

Add missing platform implementations of release/make_rendering_thread()
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
Due: copyright-headers

SCons: Fix up build with Python 3.10
  SConstruct
Due: none

Add th possibility to edit dict keys.
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
Due: copyright-headers

Replace if/then with ternary in Math::ease
  core/math/math_funcs.cpp
Due: copyright-headers

Allow OpenXR extensions to add properties to the OpenXRCompositionLayer node
  modules/openxr/doc_classes/OpenXRExtensionWrapperExtension.xml
  modules/openxr/extensions/openxr_composition_layer_extension.cpp
  modules/openxr/extensions/openxr_composition_layer_extension.h
  modules/openxr/extensions/openxr_extension_wrapper.h
  modules/openxr/extensions/openxr_extension_wrapper_extension.cpp
  modules/openxr/extensions/openxr_extension_wrapper_extension.h
  modules/openxr/scene/openxr_composition_layer.cpp
  modules/openxr/scene/openxr_composition_layer.h
Due: make-rst, copyright-headers

Fix AudioStreamPlayer not paused on pause mode change
  scene/main/node.cpp
  scene/main/node.h
Due: copyright-headers

Remove buggy first interaction
  .github/workflows/first_interaction.yml
Due: none

Fix crash on invalid values in EditorPropertyArray/Dict
  editor/editor_properties_array_dict.cpp
Due: copyright-headers

SceneTreeEditor: Fix crash when TreeItem is removed before callback
  editor/gui/scene_tree_editor.cpp
  editor/gui/scene_tree_editor.h
Due: copyright-headers

SCons: Ensure *all* generated files can be cleaned
  methods.py
Due: none

Ignore ERR_FILE_CANT_OPEN error when loading scene
  core/variant/variant_parser.cpp
Due: copyright-headers

Add toggle for enabling or disabling RenderingDevice's pipeline cache.
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  servers/rendering/rendering_device.cpp
Due: make-rst, copyright-headers

Path conditions:
  make-rst: any of: ^(doc|modules|platform).*xml$
  copyright-headers: any of: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$, but not: (?x)^(
  tests/python_build.*|
  .*thirdparty.*|
  .*platform/android/java/lib/src/com.*|
  .*-so_wrap.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
)

