Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Address comments: store inline, use std::function, make monomorphic only
  core/object/object.cpp
  core/object/object.h
  core/object/script_instance.cpp
  core/object/script_instance.h
  core/object/script_language.cpp
  core/object/script_language.h
  core/variant/variant.h
  core/variant/variant_cache.h
  core/variant/variant_call.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/inline_cache.h
Due: copyright-headers, header-guards

Expose `Control.play_theme_sound()` so that custom controls can play theme audio items
  doc/classes/Control.xml
  scene/gui/control.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers

[macOS] Fix `NativeMenuMacOS::_menu_close_cb` crash.
  platform/macos/native_menu_macos.mm
Due: copyright-headers

Fix regressions with the new `CanvasItemManipulator`
  editor/run/game_view_plugin.cpp
  editor/scene/canvas_item_editor_plugin.cpp
  scene/debugger/canvas_item_manipulator.cpp
  scene/debugger/canvas_item_manipulator.h
  scene/debugger/runtime_node_select.cpp
Due: copyright-headers, header-guards

Use same cache for Shader Editor and Script Editor
  editor/script/script_editor_base.h
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
  editor/shader/shader_editor_plugin.cpp
Due: copyright-headers, header-guards

Document ProjectSettings viewport settings only affecting the root Viewport
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status, validate-xml

SDL: fix linker error for iOS platforms
  thirdparty/README.md
  thirdparty/sdl/io/SDL_iostream.c
  thirdparty/sdl/patches/0009-ios-iostream-no-prefpath.patch
Due: none

etcpack: Fix artifacts
  modules/etcpak/image_compress_etcpak.cpp
Due: copyright-headers

Add makima & Refactor animation key retrieve method for interpolation
  doc/classes/@GlobalScope.xml
  doc/classes/Animation.xml
  doc/classes/AnimationPlayer.xml
  doc/classes/Quaternion.xml
  doc/classes/Vector2.xml
  doc/classes/Vector3.xml
  doc/classes/Vector4.xml
  editor/animation/animation_track_editor.cpp
  editor/animation/animation_track_editor.h
  editor/icons/InterpMakima.svg
  editor/icons/InterpMakimaAngle.svg
  modules/gltf/structures/gltf_animation.cpp
  scene/animation/animation_mixer.cpp
  scene/resources/animation.cpp
  scene/resources/animation.h
Due: make-rst, doc-status, validate-xml, svgo, copyright-headers, header-guards

Add simple symbol renaming
  core/object/editor_language.h
  editor/script/find_in_files.cpp
  editor/script/find_in_files.h
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
  modules/gdscript/editor/gdscript_editor_language.h
  modules/gdscript/gdscript_editor.cpp
  scene/gui/text_edit.h
Due: copyright-headers, header-guards

Add a volumetric fog toggle to the editor environment preview
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
  scene/3d/fog_volume.cpp
Due: copyright-headers, header-guards

Update modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/bindings_generator.cpp
Due: copyright-headers

Fix blending in spherical interpolation when from vs to has 180deg gap
  core/math/quaternion.cpp
  core/math/quaternion.h
  scene/resources/animation.cpp
Due: copyright-headers, header-guards

Use fewer groups in LightmapGI for tidier inspector display
  scene/3d/lightmap_gi.cpp
Due: copyright-headers

Remove "Local Space" button from the tools group in the Game view
  editor/run/game_view_plugin.cpp
  editor/run/game_view_plugin.h
Due: copyright-headers, header-guards

GDScript: Add Code Actions and "Quick Fix" actions for warnings/errors
  core/object/editor_language.h
  doc/classes/EditorSettings.xml
  editor/gui/code_editor.cpp
  editor/gui/code_editor.h
  editor/icons/CodeAction.svg
  editor/icons/CodeActionDropdown.svg
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
  editor/script/script_text_editor.cpp
  editor/settings/editor_settings.cpp
  modules/gdscript/editor/gdscript_code_actions.cpp
  modules/gdscript/editor/gdscript_code_actions.h
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_warning.h
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_extend_parser.h
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_text_document.h
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/gdscript_workspace.h
  modules/gdscript/language_server/godot_lsp.h
Due: make-rst, doc-status, validate-xml, svgo, copyright-headers, header-guards

GDScript: Display deprecated symbols in editor and language server [no ci]
  core/object/editor_language.h
  doc/classes/CodeEdit.xml
  editor/gui/code_editor.cpp
  misc/extension_api_validation/4.7-stable/GH-100019.txt
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/godot_lsp.h
  modules/mono/glue/GodotSharp/GodotSharp/Compat.cs
  scene/gui/code_edit.compat.inc
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  tests/scene/test_code_edit.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Add support for Spatial pinch input on visionOS
  modules/visionos_xr/visionos_controller_tracking.mm
  modules/visionos_xr/visionos_definitions.h
  modules/visionos_xr/visionos_spatial_events.h
  modules/visionos_xr/visionos_spatial_events.mm
  modules/visionos_xr/visionos_xr_interface.h
  modules/visionos_xr/visionos_xr_interface.mm
  platform/visionos/app_visionos.swift
  platform/visionos/godot_compositor_services_renderer.h
  platform/visionos/godot_compositor_services_renderer.mm
Due: copyright-headers, header-guards

macOS: Use blocking frame delays in headless mode
  platform/macos/os_macos.h
  platform/macos/os_macos.mm
Due: copyright-headers, header-guards

Auto-reimport translation csv files after saving in the editor
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
Due: copyright-headers, header-guards

Fix code style
  modules/visual_shader/tests/test_visual_shader.h
Due: copyright-headers, header-guards

Wayland: Use unaccelerated relative motion when the mouse is captured
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

Fix menu can't click at mouse point.x=0 or point.y=0
  scene/gui/menu_bar.cpp
Due: copyright-headers

Fix the Android export logic
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/android/export/gradle_export_util.cpp
  platform/android/export/gradle_export_util.h
  platform/android/java/lib/src/main/res/values/strings.xml
Due: copyright-headers, header-guards

Add wall clock timescale to `OS`
  core/config/engine.h
  core/os/os.cpp
  core/os/os.h
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  scene/debugger/scene_debugger.cpp
Due: copyright-headers, header-guards

Call `OS::get_ticks_usec_raw()` where appropriate.
  core/debugger/local_debugger.cpp
  core/debugger/remote_debugger.cpp
  core/debugger/remote_debugger_peer.cpp
  core/os/os.cpp
  editor/audio/audio_stream_preview.cpp
  main/performance.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/godot_physics_2d/godot_physics_server_2d.cpp
  modules/godot_physics_2d/godot_step_2d.cpp
  modules/godot_physics_3d/godot_physics_server_3d.cpp
  modules/godot_physics_3d/godot_step_3d.cpp
  platform/android/tts_android.cpp
  platform/web/export/editor_http_server.cpp
  platform/windows/os_windows.cpp
  servers/audio/audio_driver.cpp
  servers/audio/audio_server.cpp
Due: copyright-headers

add missing check for disabled physics
  scene/main/scene_tree.cpp
Due: copyright-headers

GDScript: Initialize language when generating test output
  modules/gdscript/gdscript.cpp
  modules/gdscript/register_types.cpp
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/gdscript/tests/gdscript_test_runner.h
  modules/gdscript/tests/gdscript_test_runner_suite.h
  modules/gdscript/tests/test_gdscript.cpp
  modules/gdscript/tests/test_gdscript.h
  tests/test_macros.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

Allow importing `base_type` for theme variations
  editor/scene/gui/theme_editor_plugin.cpp
  editor/scene/gui/theme_editor_plugin.h
Due: copyright-headers, header-guards

GDScript: Move collection literal type adjustments to dedicated helper
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
Due: copyright-headers, header-guards

GDScript: De-bloat `export_annotations` template
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Due: copyright-headers, header-guards

SteamVR: Fix controllers not working if application name contains a slash
  modules/openxr/openxr_api.cpp
Due: copyright-headers

LSP: Simplify implementation of `completion` endpoint
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/gdscript_workspace.h
Due: copyright-headers, header-guards

Change `BlockingCollection` to `ConcurrentQueue` Prepares for web support as the `BlockingCollection` is not supported on browser OS
  modules/mono/glue/GodotSharp/GodotSharp/Core/GodotSynchronizationContext.cs
Due: none

Deprecate `PROPERTY_USAGE_STORE_IF_NULL` and replace it with `PROPERTY_USAGE_STORE_DEFAULT`
  core/core_constants.cpp
  core/extension/gdextension.cpp
  core/object/property_info.h
  doc/classes/@GlobalScope.xml
  scene/gui/graph_node.cpp
  scene/gui/menu_button.cpp
  scene/gui/option_button.cpp
  scene/gui/popup_menu.cpp
  scene/property_list_helper.cpp
  scene/resources/packed_scene.cpp
  scene/resources/resource_format_text.cpp
  scene/resources/theme.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Move constant queries to `EditorLanguage`
  core/object/editor_language.h
  core/object/script_language.h
  core/object/script_language_extension.h
  editor/inspector/editor_preview_plugins.cpp
  editor/inspector/editor_preview_plugins.h
  editor/script/script_create_dialog.cpp
  editor/script/script_text_editor.cpp
  editor/script/syntax_highlighters.cpp
  editor/settings/editor_autoload_settings.cpp
  modules/gdscript/editor/gdscript_editor_language.h
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_editor.cpp
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  modules/mono/editor/csharp_editor_language.cpp
  modules/mono/editor/csharp_editor_language.h
Due: copyright-headers, header-guards

Change default curve range for particle angles to [-1, 1]
  scene/2d/cpu_particles_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/resources/particle_process_material.cpp
Due: copyright-headers

Remove `ContainerTypeValidate` include from resource format text
  scene/resources/resource_format_text.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

