Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

GridMap & GridMapEditor hex-shaped cell support
  core/math/math_defs.h
  modules/gridmap/doc_classes/GridMap.xml
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/gridmap/editor/grid_map_editor_plugin.h
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
  modules/gridmap/tests/test_grid_map.h
  tests/core/math/test_vector3.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix issue in hex gridmap positioning not accounting for hex center.
  modules/gridmap/grid_map.cpp
Due: copyright-headers

Hex grid style guide fixes.
  modules/gridmap/grid_map.cpp
Due: copyright-headers

Support hexagonal cells in `GridMap`
  modules/gridmap/doc_classes/GridMap.xml
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/gridmap/editor/grid_map_editor_plugin.h
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix Viewport Texture must be set to use it
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: copyright-headers, header-guards

Single Layers Only
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_map_layer_editor.h
  editor/plugins/tiles/tiles_editor_plugin.cpp
  scene/2d/tile_map.cpp
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
  scene/resources/2d/tile_set.cpp
  scene/resources/2d/tile_set.h
Due: copyright-headers, header-guards

Add forgotten `get_space()` check in `GodotArea3D::remove_soft_body_from_query()`
  servers/physics_3d/godot_area_3d.h
Due: copyright-headers, header-guards

Fix compatibility canvas background depth issue
  drivers/gles3/rasterizer_scene_gles3.cpp
Due: copyright-headers

Cleanup of action map dialogs
  modules/openxr/editor/openxr_select_action_dialog.cpp
  modules/openxr/editor/openxr_select_interaction_profile_dialog.cpp
  modules/openxr/editor/openxr_select_interaction_profile_dialog.h
Due: copyright-headers, header-guards

Formatting Check
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_map_layer_editor.h
  editor/plugins/tiles/tiles_editor_plugin.cpp
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
  scene/resources/2d/tile_set.cpp
  scene/resources/2d/tile_set.h
Due: copyright-headers, header-guards

Fix `TabContainer` minimum size
  scene/gui/tab_container.cpp
Due: copyright-headers

Fix inconsistency in FileSystem naming in shader editor menu
  editor/plugins/shader_editor_plugin.cpp
Due: copyright-headers

temp
  modules/game_help/logic/animator/body_animator.h
  modules/game_help/logic/body_main.cpp
  modules/game_help/logic/body_main.h
  modules/game_help/logic/character_manager.cpp
  modules/game_help/logic/character_manager.h
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
Due: copyright-headers, header-guards

miniupnpc: Update to 2.2.8 (new major 18)
  modules/upnp/upnp.cpp
  thirdparty/README.md
  thirdparty/miniupnpc/include/miniupnpc.h
  thirdparty/miniupnpc/src/addr_is_reserved.c
  thirdparty/miniupnpc/src/minisoap.c
  thirdparty/miniupnpc/src/minissdpc.c
  thirdparty/miniupnpc/src/miniupnpc.c
  thirdparty/miniupnpc/src/miniupnpcstrings.h
  thirdparty/miniupnpc/src/miniwget.c
  thirdparty/miniupnpc/src/win32_snprintf.h
Due: copyright-headers

Fix typo in `string_get_character_breaks()` sample code
  doc/classes/TextServer.xml
Due: make-rst, doc-status

Don't show project settings starting with underscore
  editor/project_settings_editor.cpp
Due: copyright-headers

Enable Auto Reload Scripts on External Change by default in the editor settings
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
Due: make-rst, doc-status, copyright-headers

Expose ClassDB::class_get_api_type method
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/ClassDB.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Add mismatched type doc
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

Fix formatting errors
  modules/gdscript/gdscript_analyzer.cpp
Due: copyright-headers

Fix formatting
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

Fix existing tests
  modules/gdscript/gdscript_analyzer.cpp
Due: copyright-headers

Fix formatting
  modules/gdscript/gdscript_analyzer.cpp
Due: copyright-headers

Fix warnings
  modules/gdscript/gdscript_analyzer.cpp
Due: copyright-headers

Add match warnings
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
Due: copyright-headers, header-guards

Backwards Compatbility
  scene/resources/2d/tile_set.cpp
  scene/resources/2d/tile_set.h
Due: copyright-headers, header-guards

updated wording for clarity
  modules/csg/doc_classes/CSGShape3D.xml
Due: make-rst, doc-status

Fix dictionary variable matching dictionary
  modules/gdscript/gdscript_analyzer.cpp
Due: copyright-headers

Fix Undo/Redo not working in Bezier Animation Editor when moving keys
  editor/animation_bezier_editor.cpp
Due: copyright-headers

Don't warn for UNUSED_PARAMETER in _process and _physics_process functions regarding delta
  modules/gdscript/gdscript_analyzer.cpp
Due: copyright-headers

Improve error message when `OS.execute()` fails on Windows
  platform/windows/os_windows.cpp
Due: copyright-headers

Reorder C# script properties to fix editor serialization
  modules/mono/csharp_script.cpp
Due: copyright-headers

Expose has_undo() and has_redo() of LineEdit
  doc/classes/LineEdit.xml
  scene/gui/line_edit.cpp
Due: make-rst, doc-status, copyright-headers

Revert "Return error when no ResourceFormatLoader found."
  core/io/resource_loader.cpp
Due: copyright-headers

Set auto translate mode for drag previews
  editor/action_map_editor.cpp
  editor/animation_track_editor.cpp
  editor/create_dialog.cpp
  editor/editor_audio_buses.cpp
  editor/editor_autoload_settings.cpp
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/editor_settings_dialog.cpp
  editor/export/project_export.cpp
  editor/gui/scene_tree_editor.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/gui/line_edit.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/tab_bar.cpp
  scene/gui/text_edit.cpp
Due: copyright-headers

improve variable naming in update_tree method
  editor/editor_inspector.cpp
Due: copyright-headers

Move GridMapEditor to bottom panel
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/gridmap/editor/grid_map_editor_plugin.h
Due: copyright-headers, header-guards

`HTTPRequest` making working with headers easier
  core/io/http_client.cpp
  doc/classes/HTTPClient.xml
  doc/classes/HTTPRequest.xml
  scene/main/http_request.cpp
  scene/main/http_request.h
Due: make-rst, doc-status, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
