Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Free `Tree` `custom_ci` RID in destructor
  scene/gui/tree.cpp
Due: copyright-headers

Fix VU meter scale
  editor/audio/editor_audio_buses.cpp
  editor/audio/editor_audio_buses.h
Due: copyright-headers, header-guards

Add missing `angle` check to MSVC branch.
  platform/windows/detect.py
Due: none

Improved doc for bool operators.
  doc/classes/bool.xml
Due: make-rst, doc-status, validate-xml

Add a button to delete all installed templates
  editor/export/export_template_manager.cpp
  editor/export/export_template_manager.h
Due: copyright-headers, header-guards

Don't print UID errors when cache is not initialized
  core/io/resource_uid.cpp
  core/io/resource_uid.h
Due: copyright-headers, header-guards

Fix leftover AssetLib icon reference
  editor/project_manager/project_manager.cpp
Due: copyright-headers

Add a bunch of missing window existence checks to HDR methods
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos_base.h
  platform/macos/display_server_macos_base.mm
  platform/windows/display_server_windows.cpp
Due: copyright-headers, header-guards

Fixed tooltip grammar in theme contrast setting
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status, validate-xml

Add missing includes for web single thread
  drivers/unix/file_access_unix.cpp
  modules/theora/editor/movie_writer_ogv.cpp
Due: copyright-headers

[TextServer] Fix variable font transform.
  modules/text_server_adv/text_server_adv.cpp
Due: copyright-headers

Add search bar for the Opened Scenes List popup
  editor/scene/editor_scene_tabs.cpp
Due: copyright-headers

ufbx: Update to 0.21.3
  thirdparty/README.md
  thirdparty/ufbx/ufbx.c
  thirdparty/ufbx/ufbx.h
Due: none

minizip: Update to 1.3.2
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/minizip/MiniZip64_info.txt
  thirdparty/minizip/crypt.h
  thirdparty/minizip/ioapi.c
  thirdparty/minizip/ioapi.h
  thirdparty/minizip/skipset.h
  thirdparty/minizip/unzip.c
  thirdparty/minizip/unzip.h
  thirdparty/minizip/zip.c
  thirdparty/minizip/zip.h
Due: none

GDExtension: Don't `memdelete(gdtype)` on placeholders
  core/object/object.cpp
Due: copyright-headers

[macOS/Linux] Add module information to the crash handler.
  platform/linuxbsd/crash_handler_linuxbsd.cpp
  platform/macos/crash_handler_macos.mm
  platform/windows/crash_handler_windows_seh.cpp
  platform/windows/crash_handler_windows_signal.cpp
Due: copyright-headers

[WinRT] Update compiler version checks when WinRT is enabled.
  SConstruct
Due: none

Change `new` overloads to use a tag instead of a pointer, which can lead to problems. Inline the `new` definition to save on a call.
  core/object/class_db.h
  core/os/memory.cpp
  core/os/memory.h
Due: copyright-headers, header-guards

[Windows] Fix OneCore TTS language code formatting.
  platform/windows/tts_driver_onecore.cpp
Due: copyright-headers

Disable previews for loops
  editor/shader/text_shader_editor.cpp
  editor/shader/text_shader_editor.h
Due: copyright-headers, header-guards

Remove StyleBox hack from template manager
  editor/export/export_template_manager.cpp
  editor/export/export_template_manager.h
Due: copyright-headers, header-guards

Copy scene unique ID when replacing imported instance
  editor/editor_node.cpp
Due: copyright-headers

tinyexr: Update to 1.0.13
  thirdparty/README.md
  thirdparty/tinyexr/LICENSE
  thirdparty/tinyexr/exr_reader.hh
  thirdparty/tinyexr/streamreader.hh
  thirdparty/tinyexr/tinyexr.h
Due: none

Fix scroll hint margins in the asset library
  editor/asset_library/asset_library_editor_plugin.cpp
  editor/themes/theme_modern.cpp
  scene/debugger/view_3d_controller.cpp
Due: copyright-headers

Bypass physics command queue during physics processing
  servers/physics_2d/physics_server_2d_wrap_mt.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
Due: copyright-headers, header-guards

Fix animation and key buttons of inspector sections being off-center in the RTL layout
  editor/inspector/editor_inspector.cpp
Due: copyright-headers

Fix screen-space AA when upscaling using bilinear filtering
  drivers/gles3/effects/post_effects.cpp
  drivers/gles3/effects/post_effects.h
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/effects/copy_effects.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
Due: copyright-headers, header-guards

GDScript: Fix type deduction for functions without `return` statements
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/tests/scripts/analyzer/errors/untyped_override_untyped_return.gd
  modules/gdscript/tests/scripts/analyzer/errors/untyped_override_untyped_return.out
  modules/gdscript/tests/scripts/runtime/features/member_info.gd
  modules/gdscript/tests/scripts/runtime/features/member_info.out
  modules/gdscript/tests/scripts/runtime/features/member_info_abstract_methods.gd
  modules/gdscript/tests/scripts/runtime/features/member_info_abstract_methods.out
  modules/gdscript/tests/scripts/runtime/features/member_info_inheritance.out
Due: copyright-headers

GDExtension: Clean up types for new `classdb_register_extension_class6`
  core/extension/gdextension.cpp
  core/extension/gdextension.h
  core/extension/gdextension_interface.json
Due: copyright-headers, header-guards

Fix the credits not being centered
  editor/gui/credits_roll.cpp
Due: copyright-headers

Disable the WebXR module if `proxy_to_pthread` is enabled
  modules/webxr/config.py
Due: none

meshoptimizer: Update to 1.1
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/meshoptimizer/LICENSE.md
  thirdparty/meshoptimizer/clusterizer.cpp
  thirdparty/meshoptimizer/indexanalyzer.cpp
  thirdparty/meshoptimizer/indexcodec.cpp
  thirdparty/meshoptimizer/indexgenerator.cpp
  thirdparty/meshoptimizer/meshletcodec.cpp
  thirdparty/meshoptimizer/meshletutils.cpp
  thirdparty/meshoptimizer/meshoptimizer.h
  thirdparty/meshoptimizer/opacitymap.cpp
  thirdparty/meshoptimizer/simplifier.cpp
  thirdparty/meshoptimizer/vertexcodec.cpp
  thirdparty/meshoptimizer/vertexfilter.cpp
  thirdparty/meshoptimizer/vfetchoptimizer.cpp
Due: none

Fix embedded window minimum size bug on Android
  platform/android/java/editor/src/main/java/org/godotengine/editor/embed/EmbeddedGodotGame.kt
Due: none

reset brace stack
  editor/shader/text_shader_editor.cpp
Due: copyright-headers

Rearranged buttons in scene tree context menu (moved make_local closer to save_branch_as_scene; moved open_in_editor closer to show_in_file_system).
  editor/docks/scene_tree_dock.cpp
Due: copyright-headers

Add audio info to Copy System Info
  editor/editor_node.cpp
Due: copyright-headers

Disable rounding remainders and subpixel positioning for editor code fonts.
  editor/themes/editor_fonts.cpp
Due: copyright-headers

Remove the separate "Android Source" group in ExportTemplateManager
  editor/export/export_template_manager.cpp
  editor/export/export_template_manager.h
Due: copyright-headers, header-guards

GDScript: Add `CONFUSABLE_TEMPORARY_MODIFICATION` warning
  doc/classes/ProjectSettings.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/scripts/analyzer/warnings/confusable_temporary_modification.gd
  modules/gdscript/tests/scripts/analyzer/warnings/confusable_temporary_modification.out
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

