Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Assign final path when creating built-in Resources
  editor/docks/scene_tree_dock.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/inspector/editor_resource_picker.cpp
  editor/shader/shader_create_dialog.cpp
Due: copyright-headers, header-guards

Add NaN check to range set_value
  scene/gui/range.cpp
Due: copyright-headers

Fix incorrect tooltips in `PopupMenu` when the search bar is enabled
  scene/gui/popup_menu.cpp
  scene/main/viewport.cpp
Due: copyright-headers

Improve explanation for offline mode in export template manager
  editor/export/export_template_manager.cpp
  editor/export/export_template_manager.h
Due: copyright-headers, header-guards

Require listing solved problems in PR descriptions and add links and instructions.
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: lost DisplayServerEnums::MouseMode enum binding with `deprecated=no`
  servers/display/display_server.cpp
Due: copyright-headers

Metal: Reduce warnings and prevent incompatible library code when baking
  drivers/metal/metal_device_profile.h
  drivers/metal/rendering_device_driver_metal.cpp
  drivers/metal/rendering_shader_container_metal.cpp
  drivers/metal/rendering_shader_container_metal.h
Due: copyright-headers, header-guards

Fix null uniform set error when enabling SDFGI.
  servers/rendering/renderer_rd/environment/gi.cpp
  servers/rendering/renderer_rd/environment/gi.h
Due: copyright-headers, header-guards

Fix LightmapGI probe interpolation at lightmap AABB edges
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers

Expose _can_commit_handle_on_click()
  doc/classes/EditorNode3DGizmoPlugin.xml
  editor/scene/3d/node_3d_editor_gizmos.cpp
  editor/scene/3d/node_3d_editor_gizmos.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

[Windows] Remove `await` MSVC flags.
  platform/windows/SCsub
Due: none

Release X11 pressed events on true focus loss
  platform/linuxbsd/x11/display_server_x11.cpp
Due: copyright-headers

Wayland: Fix incorrect fallback value for height in _xdg_popup_on_configure
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Fix various editor state related regressions
  editor/editor_data.cpp
  editor/editor_node.cpp
  editor/scene/editor_scene_tabs.cpp
Due: copyright-headers

Always disable `all_tabs_in_front` in `TabContainer`
  doc/classes/TabContainer.xml
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix the command line parsing logic for the `--main-pack` argument
  platform/android/java/lib/src/main/java/org/godotengine/godot/Godot.kt
Due: none

Fix wrong path in `EditorExportPlugin._export_begin()` when zipping
  doc/classes/EditorExportPlatform.xml
  editor/export/editor_export_platform.compat.inc
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform.h
  editor/export/editor_export_platform_apple_embedded.cpp
  editor/export/editor_export_platform_apple_embedded.h
  editor/export/editor_export_platform_extension.cpp
  editor/export/editor_export_platform_extension.h
  editor/export/editor_export_platform_pc.cpp
  editor/export/editor_export_platform_pc.h
  misc/extension_api_validation/4.6-stable/GH-118787.txt
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/linuxbsd/export/export_plugin.cpp
  platform/linuxbsd/export/export_plugin.h
  platform/macos/export/export_plugin.cpp
  platform/macos/export/export_plugin.h
  platform/web/export/export_plugin.cpp
  platform/web/export/export_plugin.h
  platform/windows/export/export_plugin.cpp
  platform/windows/export/export_plugin.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix stale pressed state after focus changes
  scene/debugger/scene_debugger.cpp
  scene/main/scene_tree.cpp
Due: copyright-headers

Reorder notes in RandomNumberGenerator
  doc/classes/RandomNumberGenerator.xml
Due: make-rst, doc-status, validate-xml

[Accessibility] Do not set duplicate values for editor inspector elements.
  editor/inspector/editor_inspector.cpp
Due: copyright-headers

Fix error spam when resizing a control in a zero size parent with anchors mode enabled
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers

Fix #118218: BoneAttachment3D throws !is_inside_tree()
  scene/3d/bone_attachment_3d.cpp
Due: copyright-headers

[Android] Fix the use of `--main-pack`
  core/io/file_access.h
  main/main.cpp
  platform/android/os_android.cpp
Due: copyright-headers, header-guards

Fix: support multi-input for `BaseButton` with Alt + Click
  scene/gui/base_button.cpp
  scene/gui/base_button.h
Due: copyright-headers, header-guards

Fix reported crashes from the Play store
  editor/asset_library/asset_library_editor_plugin.cpp
  scene/debugger/runtime_node_select.cpp
Due: copyright-headers

Add project setting to disable new Volumetric fog blending behavior for existing projects that want to upgrade.
  doc/classes/ProjectSettings.xml
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/environment/sky.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/environment/sky.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/rendering_server.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix Android plugin signal regression
  platform/android/api/jni_singleton.cpp
  platform/android/api/jni_singleton.h
  platform/android/java/app/src/instrumented/assets/test/android_plugin/signal_tests.gd
Due: copyright-headers, header-guards

Fix misaligned timeline indicator on the Bezier editor
  editor/animation/animation_track_editor.cpp
  editor/animation/animation_track_editor.h
  editor/themes/theme_modern.cpp
Due: copyright-headers, header-guards

Warn when registering RefCounted as engine singleton
  core/config/engine.cpp
Due: copyright-headers

Fix `PopupMenu` input handling when scaled/padded
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
  scene/main/viewport.cpp
Due: copyright-headers, header-guards

Set the `Game` window to a different task affinity than the `Editor` window.
  platform/android/java/editor/src/main/AndroidManifest.xml
Due: none

Improve inline shader preview layout
  editor/scene/material_editor_plugin.cpp
  editor/scene/material_editor_plugin.h
  editor/shader/text_shader_editor.cpp
  editor/shader/text_shader_editor.h
Due: copyright-headers, header-guards

Fix shader crash when using parameter name identical to uniform name
  servers/rendering/shader_compiler.cpp
Due: copyright-headers

Suppress GCC 16's `sfinae-incomplete` warning
  SConstruct
Due: none

Fix `PopupMenu` submenu positioning not accounting for margins
  scene/gui/popup_menu.cpp
Due: copyright-headers

Fix various accessibility issues in `PopupMenu`
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Due: copyright-headers, header-guards

Fix compute barriers not working on Intel Iris Xe Graphics.
  misc/scripts/install_d3d12_sdk_windows.py
Due: none

Add search keywords for some Color methods in the class reference
  doc/classes/Color.xml
Due: make-rst, doc-status, validate-xml

avoiding an incorrect ERR_FILE_NOT_FOUND report when the DLL exists but fails to load for another reason
  core/extension/gdextension_library_loader.cpp
  platform/windows/os_windows.cpp
Due: copyright-headers

Document Viewport texture mipmap bias not being supported in Compatibility
  doc/classes/ProjectSettings.xml
  doc/classes/RenderSceneBuffersConfiguration.xml
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
Due: make-rst, doc-status, validate-xml

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

