Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

VisualShader: fix new node spawning position with display scaling
  editor/shader/visual_shader_editor_plugin.cpp
Due: copyright-headers

Fix save dialog clearing filename when navigating folders
  scene/gui/file_dialog.cpp
Due: copyright-headers

Ensure that the permission requests results are dispatched on the render thread
  platform/android/java/lib/src/main/java/org/godotengine/godot/Godot.kt
Due: none

Fix unique button for `EditorAudioStreamPicker`
  editor/inspector/editor_resource_picker.cpp
Due: copyright-headers

Update access-kit to 0.18.0
  .github/workflows/linux_builds.yml
  .github/workflows/macos_builds.yml
  .github/workflows/windows_builds.yml
  drivers/accesskit/accessibility_driver_accesskit.cpp
  drivers/accesskit/dynwrappers/accesskit-dll_wrap.c
  drivers/accesskit/dynwrappers/accesskit-dll_wrap.h
  drivers/accesskit/dynwrappers/accesskit-dylib_wrap.c
  drivers/accesskit/dynwrappers/accesskit-dylib_wrap.h
  drivers/accesskit/dynwrappers/accesskit-so_wrap.c
  drivers/accesskit/dynwrappers/accesskit-so_wrap.h
  thirdparty/README.md
  thirdparty/accesskit/include/accesskit.h
Due: copyright-headers

Fix GDScript extends path recursion to itself
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
Due: copyright-headers, header-guards

Fix different separations across different code editors
  editor/gui/code_editor.cpp
  editor/script/script_text_editor.cpp
  editor/script/text_editor.cpp
  editor/shader/text_shader_editor.cpp
  editor/shader/text_shader_editor.h
Due: copyright-headers, header-guards

Don't use selection list as reference
  editor/docks/scene_tree_dock.cpp
Due: copyright-headers

Hide properties on XRCamera3D that are managed by XRInterface
  scene/3d/xr/xr_nodes.cpp
  scene/3d/xr/xr_nodes.h
Due: copyright-headers, header-guards

Wayland: Fix accidental copy during global remove
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Make `display_server` enums non-editable
  main/main.cpp
Due: copyright-headers

RenderingDevice: Add null checks when retrieving uniform sets
  servers/rendering/rendering_device.cpp
Due: copyright-headers

Improve EditorDock shortcut property
  editor/docks/editor_dock.cpp
Due: copyright-headers

Wayland: Fix SIGFPE with repeat rate of 0
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Fix FileDialog icon scale in editor
  editor/themes/theme_classic.cpp
  editor/themes/theme_modern.cpp
Due: copyright-headers

Fix bottom panel dock layout popup position
  editor/docks/editor_dock_manager.cpp
Due: copyright-headers

Upgrade Agility SDK & DirectX Headers.
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  misc/scripts/install_d3d12_sdk_windows.py
  thirdparty/README.md
  thirdparty/directx_headers/include/directx/DirectML.h
  thirdparty/directx_headers/include/directx/d3d12.h
  thirdparty/directx_headers/include/directx/d3d12compatibility.h
  thirdparty/directx_headers/include/directx/d3d12compiler.h
  thirdparty/directx_headers/include/directx/d3d12sdklayers.h
  thirdparty/directx_headers/include/directx/d3d12shader.h
  thirdparty/directx_headers/include/directx/d3d12video.h
  thirdparty/directx_headers/include/directx/d3dcommon.h
  thirdparty/directx_headers/include/directx/d3dshadercacheregistration.h
  thirdparty/directx_headers/include/directx/d3dx12.h
  thirdparty/directx_headers/include/directx/d3dx12_barriers.h
  thirdparty/directx_headers/include/directx/d3dx12_check_feature_support.h
  thirdparty/directx_headers/include/directx/d3dx12_core.h
  thirdparty/directx_headers/include/directx/d3dx12_pipeline_state_stream.h
  thirdparty/directx_headers/include/directx/d3dx12_property_format_table.h
  thirdparty/directx_headers/include/directx/d3dx12_render_pass.h
  thirdparty/directx_headers/include/directx/d3dx12_resource_helpers.h
  thirdparty/directx_headers/include/directx/d3dx12_root_signature.h
  thirdparty/directx_headers/include/directx/d3dx12_state_object.h
  thirdparty/directx_headers/include/directx/dxcore_interface.h
  thirdparty/directx_headers/include/dxguids/dxguids.h
  thirdparty/directx_headers/patches/0001-mingw-pragma.patch
  thirdparty/directx_headers/patches/0001-win7-8-dynamic-load.patch
Due: make-rst, doc-status, validate-xml, copyright-headers

Wayland: Add missing destroy calls for text input and tablet
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

gitignore: Ignore GNU `patch` .orig and .rej backup files
  .gitignore
Due: none

libdecor: Regenerate dynamic wrapper
  platform/linuxbsd/wayland/dynwrappers/libdecor-so_wrap.c
  platform/linuxbsd/wayland/dynwrappers/libdecor-so_wrap.h
  thirdparty/linuxbsd_headers/README.md
Due: none

Defer updating dock tabs
  editor/docks/editor_dock_manager.cpp
  editor/docks/editor_dock_manager.h
Due: copyright-headers, header-guards

Wayland: Add default keyboard repetition values
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

[TextServer] Do not skip non-color font if system fallback is disabled.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
Due: copyright-headers, header-guards

Fix the clipping of keys when moving keys
  editor/animation/animation_track_editor.cpp
  editor/animation/animation_track_editor.h
  editor/animation/animation_track_editor_plugins.cpp
  editor/animation/animation_track_editor_plugins.h
Due: copyright-headers, header-guards

Add "Threaded Loading Demo" link to `ResourceLoader` tutorials
  doc/classes/ResourceLoader.xml
Due: make-rst, doc-status, validate-xml

Fix D3D12 device not getting created with Agility SDK.
  drivers/d3d12/rendering_context_driver_d3d12.cpp
Due: copyright-headers

Fix object icon in the resource picker not being visible when it should
  editor/inspector/editor_resource_picker.cpp
Due: copyright-headers

Destroy XKB keymap and state on seat capability change
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

LSP: Rework management of client owned files
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_extend_parser.h
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_language_protocol.h
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_text_document.h
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/gdscript_workspace.h
  modules/gdscript/language_server/godot_lsp.h
  modules/gdscript/tests/test_lsp.h
Due: copyright-headers, header-guards

Free octmap pipelines before freeing shaders and check pipeline validity before freeing pipelines in PipelineDeferredRD
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/pipeline_deferred_rd.h
Due: copyright-headers, header-guards

Fix opening errors from built-in scripts
  editor/debugger/editor_debugger_node.cpp
Due: copyright-headers

Fix `null` value when picking the empty item on editable enums
  editor/inspector/editor_properties.cpp
Due: copyright-headers

Fix `ScrollContainer`'s bottom scroll hint ignoring margins
  scene/gui/scroll_container.cpp
Due: copyright-headers

Fix: Validate script when navigating history in script editor
  editor/script/script_editor_plugin.cpp
Due: copyright-headers

Wayland: Work around window scale ambiguity
  editor/gui/window_wrapper.cpp
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
  scene/main/window.cpp
  servers/display/display_server.h
Due: copyright-headers, header-guards

Wayland: Add environment variable to disable libdecor loading
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Set marker z index to ensure visibility
  editor/animation/animation_track_editor.cpp
Due: copyright-headers

Add missing `cstdlib` include for `EXIT_SUCCESS` and `free`
  modules/tinyexr/image_saver_tinyexr.cpp
  scene/main/scene_tree.h
Due: copyright-headers, header-guards

[TextServer] Do not add empty lines if space trimming flag is set.
  servers/text/text_server.cpp
  tests/servers/test_text_server.h
Due: copyright-headers, header-guards

Reorganize editor menu setup, allow switching global menu without restart.
  editor/editor_node.cpp
  editor/editor_node.h
  editor/settings/editor_settings.cpp
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

