Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

SCons: Fix build with `disable_physics_3d` and disabled navigation
  modules/csg/csg_shape.h
  modules/gridmap/grid_map.cpp
  platform/linuxbsd/wayland/display_server_wayland.cpp
  tests/test_main.cpp
Due: copyright-headers, header-guards

Fix template compilation with `disable_physics_3d` and `disable_navigation_3d`
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/gridmap/grid_map.cpp
  modules/openxr/extensions/spatial_entities/openxr_spatial_plane_tracking.cpp
  modules/openxr/extensions/spatial_entities/openxr_spatial_plane_tracking.h
  platform/linuxbsd/wayland/display_server_wayland.cpp
  scene/2d/tile_map_layer.cpp
  scene/resources/3d/mesh_library.cpp
  scene/resources/3d/mesh_library.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

`ShaderEditor`: Change custom minimum size to prevent overflow in editor at its minimum size
  editor/editor_node.cpp
  editor/script/script_editor_plugin.cpp
  editor/shader/shader_editor_plugin.cpp
  modules/visual_shader/editor/visual_shader_editor_plugin.cpp
Due: copyright-headers

Update `argument_options.tscn` to load `AnimationPlayer` libraries in the most recent format
  modules/gdscript/tests/scripts/completion/argument_options/argument_options.tscn
  modules/gdscript/tests/test_completion.h
Due: copyright-headers, header-guards

Fix Copy / Move Node position miscalculation
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers

Add directional lightmap specular light
  doc/classes/LightmapGI.xml
  drivers/gles3/effects/copy_effects.cpp
  drivers/gles3/effects/glow.cpp
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/light_storage.cpp
  drivers/gles3/storage/light_storage.h
  drivers/gles3/storage/mesh_storage.cpp
  gles3_builders.py
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
  servers/rendering/dummy/storage/light_storage.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/light_storage.h
  tests/python_build/fixtures/gles3/vertex_fragment.out
Due: make-rst, doc-status, validate-builders, validate-xml, copyright-headers, header-guards

[iOS] Fix x86_64 simulator build.
  platform/iphone/detect.py
Due: none

Fix main scene errors on first scan
  editor/docks/filesystem_dock.cpp
  editor/scene/editor_scene_tabs.cpp
Due: copyright-headers

Prevent firing settings_changed when initializing settings
  core/config/project_settings.cpp
  core/config/project_settings.h
Due: copyright-headers, header-guards

Add internal `get_entropy()` function for web build
  core/math/bvh_abb.h
  platform/javascript/os_javascript.cpp
  platform/javascript/os_javascript.h
Due: copyright-headers, header-guards

[Export] Linux, Windows: Support exporting with debug symbols
  editor/export/editor_export_platform_pc.cpp
  editor/export/editor_export_platform_pc.h
  platform/linuxbsd/doc_classes/EditorExportPlatformLinuxBSD.xml
  platform/linuxbsd/export/export_plugin.cpp
  platform/linuxbsd/export/export_plugin.h
  platform/windows/doc_classes/EditorExportPlatformWindows.xml
  platform/windows/export/export_plugin.cpp
  platform/windows/export/export_plugin.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

allow setting shortcut for 'make local'
  editor/docks/scene_tree_dock.cpp
Due: copyright-headers

Docs: Link JetBrains Mono OpenType features in EditorSettings
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status, validate-xml

Make it possible to call methods in RefCounted predelete
  core/variant/callable.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_lambda_callable.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/features/refcounted_predelete_call.gd
  modules/gdscript/tests/scripts/runtime/features/refcounted_predelete_call.out
Due: copyright-headers

Keep `RichTextLabel` font cache on `Stylebox` override
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Due: copyright-headers, header-guards

Display GDScript warnings and errors in editor tooltip
  doc/classes/EditorSettings.xml
  editor/doc/editor_help.cpp
  editor/doc/editor_help.h
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
  editor/settings/editor_settings.cpp
  scene/gui/code_edit.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix crash on quit with CanvasTexture leaks
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Due: copyright-headers

Add toggle button for texture preview metadata overlay
  editor/scene/texture/texture_3d_editor_plugin.cpp
  editor/scene/texture/texture_3d_editor_plugin.h
  editor/scene/texture/texture_editor_plugin.cpp
  editor/scene/texture/texture_editor_plugin.h
  editor/scene/texture/texture_layered_editor_plugin.cpp
  editor/scene/texture/texture_layered_editor_plugin.h
Due: copyright-headers, header-guards

Improve VRAM compression format in Detect 3D editor message
  editor/import/resource_importer_texture.cpp
Due: copyright-headers

Fix black reflections when using a plain color as reflection source
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/shaders/scene_data_inc.glsl
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.h
Due: copyright-headers, header-guards

Add setting presets to optimize the project for specific use cases
  editor/editor_node.cpp
  editor/project_manager/project_dialog.cpp
  editor/project_manager/project_dialog.h
  editor/settings/project_settings_editor.cpp
  editor/settings/project_settings_editor.h
  editor/settings/setting_preset_editor.cpp
  editor/settings/setting_preset_editor.h
Due: copyright-headers, header-guards

Automate Android SDK setup
  editor/editor_node.cpp
  editor/editor_node.h
  editor/export/android_sdk_manager.cpp
  editor/export/android_sdk_manager.h
  editor/export/export_template_manager.cpp
  editor/export/export_template_manager.h
  editor/export/project_export.cpp
  editor/export/project_export.h
  editor/file_system/editor_paths.cpp
  editor/file_system/editor_paths.h
  platform/android/export/export.cpp
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/android/java/app/config.gradle
Due: copyright-headers, header-guards

don't set flag when value is unchanged
  scene/main/window.cpp
Due: copyright-headers

Add in support for completion tool tip for enum item declarations and fix missing docs for named enum constants
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Due: copyright-headers, header-guards

Add hover display warning and error tooltips for script diagnostics
  editor/doc/editor_help.cpp
  editor/doc/editor_help.h
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
  editor/settings/editor_settings.cpp
  scene/gui/code_edit.h
Due: copyright-headers, header-guards

Fix issue with duplicate extracted textures
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_state.cpp
  modules/gltf/tests/test_gltf_images.h
  tests/scene/test_gltf_document.cpp
Due: copyright-headers, header-guards

Show a proper error when there is invalid input in `EditorPropertyNodePath`
  editor/inspector/editor_properties.cpp
Due: copyright-headers

Fix handle mode being dropped for bezier curves in track editor
  editor/animation/animation_bezier_editor.cpp
  editor/animation/animation_track_editor.cpp
  editor/animation/animation_track_editor.h
Due: copyright-headers, header-guards

editor: Add visionOS templates to download manager
  editor/export/export_template_manager.cpp
  editor/export/export_template_manager.h
Due: copyright-headers, header-guards

Fix broken build when `deprecated` is disabled
  editor/gui/editor_object_selector.cpp
Due: copyright-headers

Fix GDScript inner class editor navigation and scene serialization
  doc/classes/Node.xml
  doc/classes/Object.xml
  editor/editor_data.cpp
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_resource_picker.cpp
  editor/script/script_editor_plugin.cpp
  modules/gdscript/gdscript.h
  scene/resources/packed_scene.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Correctly handle script paths in the Root Type property of scenes.
  editor/import/3d/resource_importer_scene.cpp
Due: copyright-headers

Add Windows Arm64 COFF headers to ResourceImporterOBJ
  editor/import/3d/resource_importer_obj.cpp
Due: copyright-headers

renderer: texture is used for atomic operations, so atomic bit
  servers/rendering/renderer_rd/environment/gi.cpp
Due: copyright-headers

fix skeleton deformation for softbody
  scene/3d/physics/soft_body_3d.cpp
  scene/3d/physics/soft_body_3d.h
Due: copyright-headers, header-guards

implement internal springs for softbody
  modules/godot_physics_3d/godot_physics_server_3d.cpp
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/godot_physics_3d/godot_soft_body_3d.cpp
  modules/godot_physics_3d/godot_soft_body_3d.h
  modules/jolt_physics/jolt_physics_server_3d.cpp
  modules/jolt_physics/jolt_physics_server_3d.h
  modules/jolt_physics/objects/jolt_soft_body_3d.cpp
  modules/jolt_physics/objects/jolt_soft_body_3d.h
  scene/3d/physics/soft_body_3d.cpp
  scene/3d/physics/soft_body_3d.h
  servers/physics_3d/physics_server_3d.cpp
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_dummy.h
  servers/physics_3d/physics_server_3d_extension.cpp
  servers/physics_3d/physics_server_3d_extension.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
Due: copyright-headers, header-guards

Impl pinning weight for softbody
  editor/register_editor_types.cpp
  editor/scene/3d/physics/soft_body_3d_editor_plugin.cpp
  editor/scene/3d/physics/soft_body_3d_editor_plugin.h
  modules/godot_physics_3d/godot_physics_server_3d.cpp
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/godot_physics_3d/godot_soft_body_3d.cpp
  modules/godot_physics_3d/godot_soft_body_3d.h
  modules/jolt_physics/jolt_physics_server_3d.cpp
  modules/jolt_physics/jolt_physics_server_3d.h
  modules/jolt_physics/objects/jolt_soft_body_3d.cpp
  modules/jolt_physics/objects/jolt_soft_body_3d.h
  scene/3d/physics/soft_body_3d.cpp
  scene/3d/physics/soft_body_3d.h
  servers/physics_3d/physics_server_3d.cpp
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_dummy.h
  servers/physics_3d/physics_server_3d_extension.cpp
  servers/physics_3d/physics_server_3d_extension.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
Due: copyright-headers, header-guards

Update editor recursion detection to function for scenes
  editor/editor_node.cpp
  editor/editor_node.h
  editor/inspector/editor_properties.cpp
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

