Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Fixes to previous cherry pick
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/rendering/renderer_rd/effects/tone_mapper.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/storage/environment_storage.cpp
  servers/rendering/storage/environment_storage.h
Due: copyright-headers, header-guards

Make glow blending behave consistently between rendering configurations and change default blend mode to screen.
  doc/classes/Environment.xml
  drivers/gles3/effects/post_effects.cpp
  drivers/gles3/effects/post_effects.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/effects/post.glsl
  scene/resources/environment.cpp
  scene/resources/environment.h
  servers/rendering/renderer_rd/effects/tone_mapper.h
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
  servers/rendering/storage/environment_storage.cpp
  servers/rendering/storage/environment_storage.h
Due: make-rst, doc-status, copyright-headers, header-guards

Make color adjustments consistent between rendering configurations.
  doc/classes/Environment.xml
  drivers/gles3/shaders/effects/post.glsl
  scene/resources/environment.cpp
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
  servers/rendering/storage/environment_storage.cpp
Due: make-rst, doc-status, copyright-headers

Corrected colour spaces and temporarily disabled low precision mode because it doesn't work correctly with external displays yet.
  drivers/metal/rendering_context_driver_metal.mm
Due: copyright-headers

Fix compile issues after rebase. These changes need more proper work.
  drivers/metal/rendering_context_driver_metal.mm
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
Due: copyright-headers, header-guards

Fixes to last cherry pick
  drivers/gles3/rasterizer_scene_gles3.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/storage/environment_storage.cpp
  servers/rendering/storage/environment_storage.h
Due: copyright-headers, header-guards

Update API from rebase.
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
Due: copyright-headers, header-guards

feat: Add EDR support to Metal and macOS
  drivers/metal/rendering_context_driver_metal.h
  drivers/metal/rendering_context_driver_metal.mm
  drivers/metal/rendering_device_driver_metal.h
  drivers/metal/rendering_device_driver_metal.mm
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/godot_application_delegate.mm
Due: copyright-headers, header-guards

Use RenderingContextDriverVulkan to conditionally disable metadata
  drivers/vulkan/rendering_context_driver_vulkan.cpp
  drivers/vulkan/rendering_context_driver_vulkan.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  platform/linuxbsd/wayland/rendering_context_driver_vulkan_wayland.cpp
  platform/linuxbsd/wayland/rendering_context_driver_vulkan_wayland.h
Due: copyright-headers, header-guards

HDR output for linuxbsd (wayland)
  doc/classes/DisplayServer.xml
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/renderer_rd/renderer_compositor_rd.h
  thirdparty/wayland-protocols/staging/color-management/README
  thirdparty/wayland-protocols/staging/color-management/color-management-v1.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Add OUTSIDE_REFACTOR macro for rename_symbol_from_base
  modules/gdscript/gdscript_editor.cpp
Due: copyright-headers

Allow disabling 2D when compiling export templates
  SConstruct
  scene/2d/SCsub
  scene/SCsub
  scene/debugger/scene_debugger.cpp
  scene/debugger/scene_debugger.h
  scene/main/canvas_item.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/main/viewport.h
  scene/register_scene_types.cpp
  scene/resources/SCsub
  scene/resources/packed_scene.cpp
  scene/resources/world_2d.h
  servers/physics_2d/physics_server_2d.cpp
  servers/physics_2d/physics_server_2d.h
  servers/physics_2d/physics_server_2d_wrap_mt.cpp
  servers/physics_2d/physics_server_2d_wrap_mt.h
Due: copyright-headers, header-guards

asymmetric projection matrix
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/sky.glsl
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/environment/sky.h
  servers/rendering/renderer_rd/shaders/environment/sky.glsl
Due: copyright-headers, header-guards

Check color backbuffer is initialized when copying screen
  drivers/gles3/storage/texture_storage.cpp
Due: copyright-headers

Add switch on hover to TabBar
  doc/classes/TabBar.xml
  doc/classes/TabContainer.xml
  editor/docks/editor_dock_manager.cpp
  editor/inspector/editor_properties.cpp
  editor/scene/scene_tree_editor.cpp
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
  scene/gui/tab_container.cpp
  scene/gui/tab_container.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix color text's tooltip not being updated when the intensity is more than 0
  scene/gui/color_picker.cpp
Due: copyright-headers

Add UID suport in global script class cache
  core/config/project_settings.cpp
  core/object/script_language.cpp
  core/object/script_language.h
  editor/editor_data.cpp
  editor/file_system/editor_file_system.cpp
  modules/gdscript/tests/gdscript_test_runner.cpp
  modules/gdscript/tests/test_completion.h
  modules/gdscript/tests/test_gdscript.cpp
Due: copyright-headers, header-guards

Add helper function in project setting to register global shader parameter
  core/config/project_settings.cpp
  core/config/project_settings.h
  doc/classes/ProjectSettings.xml
  editor/shader/shader_globals_editor.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Generic6DOFJoint3D: Rename FLAG_ENABLE_MOTOR to FLAG_ENABLE_ANGULAR_MOTOR
  doc/classes/Generic6DOFJoint3D.xml
  doc/classes/PhysicsServer3D.xml
  modules/godot_physics_3d/joints/godot_generic_6dof_joint_3d.cpp
  scene/3d/physics/joints/generic_6dof_joint_3d.cpp
  scene/3d/physics/joints/generic_6dof_joint_3d.h
  servers/physics_3d/physics_server_3d.cpp
  servers/physics_3d/physics_server_3d.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix warning spam in Compatibility when using depth texture
  drivers/gles3/storage/render_scene_buffers_gles3.cpp
Due: copyright-headers

Fix Area2D/3D not using node rotation for directional gravity
  modules/godot_physics_2d/godot_area_2d.cpp
  modules/godot_physics_3d/godot_area_3d.cpp
Due: copyright-headers

Replace Area gravity point bool with a gravity type enum
  doc/classes/Area2D.xml
  doc/classes/Area3D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  modules/godot_physics_2d/godot_area_2d.cpp
  modules/godot_physics_2d/godot_area_2d.h
  modules/godot_physics_3d/godot_area_3d.cpp
  modules/godot_physics_3d/godot_area_3d.h
  modules/jolt_physics/objects/jolt_area_3d.cpp
  modules/jolt_physics/objects/jolt_area_3d.h
  scene/2d/physics/area_2d.cpp
  scene/2d/physics/area_2d.h
  scene/3d/physics/area_3d.cpp
  scene/3d/physics/area_3d.h
  servers/physics_2d/physics_server_2d.cpp
  servers/physics_2d/physics_server_2d.h
  servers/physics_3d/physics_server_3d.cpp
  servers/physics_3d/physics_server_3d.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add a Target gravity type to Area for a custom target point
  doc/classes/Area2D.xml
  doc/classes/Area3D.xml
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer3D.xml
  modules/godot_physics_2d/godot_area_2d.cpp
  modules/godot_physics_2d/godot_area_2d.h
  modules/godot_physics_2d/godot_physics_server_2d.cpp
  modules/godot_physics_2d/godot_physics_server_2d.h
  modules/godot_physics_3d/godot_area_3d.cpp
  modules/godot_physics_3d/godot_area_3d.h
  modules/godot_physics_3d/godot_physics_server_3d.cpp
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/jolt_physics/jolt_physics_server_3d.cpp
  modules/jolt_physics/jolt_physics_server_3d.h
  modules/jolt_physics/objects/jolt_area_3d.cpp
  modules/jolt_physics/objects/jolt_area_3d.h
  scene/2d/physics/area_2d.cpp
  scene/2d/physics/area_2d.h
  scene/3d/physics/area_3d.cpp
  scene/3d/physics/area_3d.h
  servers/physics_2d/physics_server_2d.cpp
  servers/physics_2d/physics_server_2d.h
  servers/physics_2d/physics_server_2d_dummy.h
  servers/physics_2d/physics_server_2d_extension.h
  servers/physics_2d/physics_server_2d_wrap_mt.h
  servers/physics_3d/physics_server_3d.cpp
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_dummy.h
  servers/physics_3d/physics_server_3d_extension.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
Due: make-rst, doc-status, copyright-headers, header-guards

Cleanup some things in shader editor code
  editor/shader/shader_create_dialog.cpp
  editor/shader/shader_create_dialog.h
  editor/shader/shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.cpp
  editor/shader/visual_shader_editor_plugin.h
  scene/resources/shader.h
  servers/rendering/shader_types.cpp
Due: copyright-headers, header-guards

Separate visual shader code out of shader editor plugin and dialog
  editor/docks/filesystem_dock.cpp
  editor/shader/shader_create_dialog.cpp
  editor/shader/shader_create_dialog.h
  editor/shader/shader_editor_plugin.cpp
  editor/shader/shader_editor_plugin.h
  editor/shader/shader_language_editor_plugin.cpp
  editor/shader/shader_language_editor_plugin.h
  editor/shader/text_shader_language_plugin.cpp
  editor/shader/text_shader_language_plugin.h
  editor/shader/visual_shader_language_plugin.cpp
  editor/shader/visual_shader_language_plugin.h
Due: copyright-headers, header-guards

Organize toggle files button logic in shader editor
  editor/shader/shader_editor.h
  editor/shader/shader_editor_plugin.cpp
  editor/shader/text_shader_editor.cpp
  editor/shader/text_shader_editor.h
  editor/shader/visual_shader_editor_plugin.h
Due: copyright-headers, header-guards

Optimized Gizmos
  editor/scene/3d/gizmos/gizmo_optimization_3d.cpp
Due: copyright-headers

Apply suggestions from code review
  SConstruct
  core/extension/gdextension_function_loader.cpp
  core/extension/gdextension_function_loader.h
  core/extension/gdextension_manager.cpp
  core/extension/godot_instance.cpp
  core/extension/godot_instance.h
  doc/classes/GDExtensionManager.xml
  doc/classes/GodotInstance.xml
  methods.py
  platform/linuxbsd/SCsub
  platform/linuxbsd/detect.py
  platform/linuxbsd/libgodot_linuxbsd.cpp
  platform/macos/SCsub
  platform/macos/detect.py
  platform/macos/libgodot_macos.mm
  platform/windows/SCsub
  platform/windows/detect.py
  platform/windows/libgodot_windows.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

LibGodot: Core - Build Godot Engine as a Library
  SConstruct
  core/config/project_settings.cpp
  core/extension/gdextension_function_loader.cpp
  core/extension/gdextension_function_loader.h
  core/extension/gdextension_manager.cpp
  core/extension/gdextension_manager.h
  core/extension/godot_instance.cpp
  core/extension/godot_instance.h
  core/extension/libgodot.h
  core/register_core_types.cpp
  core/variant/native_ptr.h
  doc/classes/GDExtensionManager.xml
  doc/classes/GodotInstance.xml
  methods.py
  platform/linuxbsd/SCsub
  platform/linuxbsd/libgodot_linuxbsd.cpp
  platform/macos/SCsub
  platform/macos/detect.py
  platform/macos/libgodot_macos.mm
  platform/windows/SCsub
  platform/windows/detect.py
  platform/windows/libgodot_windows.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix display_server.h include path
  core/extension/godot_instance.cpp
Due: copyright-headers

Add capitalized `PRINT_VERBOSE` macro alongside the lowercase one
  core/string/print_string.h
Due: copyright-headers, header-guards

Expose `Input.warp_mouse_motion()` to scripting
  core/input/input.cpp
  doc/classes/Input.xml
Due: make-rst, doc-status, copyright-headers

Support CameraFeed format on macOS
  modules/camera/camera_macos.mm
Due: copyright-headers

Emit `format_changed` on CameraFeed datatype change
  servers/camera/camera_feed.cpp
Due: copyright-headers

Docs: Fix example in Dictionary.set description
  doc/classes/Dictionary.xml
Due: make-rst, doc-status

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
