Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Fix BBCode tag for NativeMenu class reference
  doc/classes/NativeMenu.xml
Due: make-rst, doc-status

PackedScene: Use ObjectID for DeferredNodePathProperties base
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
Due: copyright-headers, header-guards

fix vbox separation in sections with PROPERTY_USAGE_ARRAY
  editor/editor_inspector.cpp
Due: copyright-headers

Fix some i18n issues in visual shader editor
  editor/plugins/visual_shader_editor_plugin.cpp
Due: copyright-headers

Fix Tree keyboard navigation in RTL direction
  scene/gui/tree.cpp
Due: copyright-headers

Restore "Show in File Manager" button functionality in `ProjectManager`
  editor/project_manager/project_list.cpp
Due: copyright-headers

Make NavigationLink3D properly update on NOTIFICATION_VISIBILITY_CHANGED
  scene/3d/navigation_link_3d.cpp
Due: copyright-headers

Apply fix_alpha_edges for both theme icons and font glyphs. Only apply fix_alpha_edges for SVG glyphs. Allow modulate for svg glyphs.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  scene/theme/default_theme.cpp
Due: copyright-headers, header-guards

Use `FlowContainer` for `EditorNetworkProfiler` bar
  modules/multiplayer/editor/editor_network_profiler.cpp
Due: copyright-headers

Fix `SCRIPT ERROR/ERROR/WARNING` on test output
  modules/gdscript/tests/scripts/completion/argument_options/play_inferred.gd
  modules/gdscript/tests/scripts/completion/argument_options/play_typed.gd
  modules/gdscript/tests/scripts/completion/argument_options/play_untyped.gd
  modules/gdscript/tests/scripts/completion/get_node/literal/dollar.gd
  modules/gdscript/tests/scripts/completion/get_node/literal/percent.gd
  modules/gdscript/tests/scripts/completion/get_node/local_inferred/local_inferred.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_inferred/local_inferred.gd
  modules/gdscript/tests/scripts/completion/get_node/local_inferred_scene/class_local_inferred_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_inferred_scene/class_local_inferred_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/local_inferred_scene/native_local_inferred_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_inferred_scene/native_local_inferred_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_inferred/member_inferred.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_inferred/member_inferred.gd
  modules/gdscript/tests/scripts/completion/get_node/member_inferred_scene/class_member_inferred_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_inferred_scene/class_member_inferred_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_inferred_scene/native_member_inferred_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_inferred_scene/native_member_inferred_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_scene/class_member_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_scene/native_member_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_typehint_scene/native_member_typehint_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_typehint_scene_broad/class_member_typehint_scene_broad.gd
  modules/gdscript/tests/scripts/completion/get_node/member_typehint_scene_broad/native_member_typehint_scene_broad.gd
  modules/gdscript/tests/scripts/completion/get_node/member_typehint_scene_incompatible/class_member_typehint_scene_incompatible.gd
  modules/gdscript/tests/scripts/completion/get_node/member_typehint_scene_incompatible/native_member_typehint_scene_incompatible.gd
  modules/gdscript/tests/scripts/completion/types/local/inferred.cfg
  modules/gdscript/tests/scripts/completion/types/local/inferred.gd
  modules/gdscript/tests/scripts/completion/types/member/inferred.cfg
  modules/gdscript/tests/scripts/completion/types/member/inferred.gd
  modules/gdscript/tests/test_completion.h
  tests/core/templates/test_a_hash_map.h
  tests/scene/test_code_edit.h
  tests/scene/test_text_edit.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

fix changed signal emission in Curve::set_point_offset
  scene/resources/curve.cpp
  scene/resources/curve.h
Due: copyright-headers, header-guards

update logo/run icon path in README
  platform/android/README.md
  platform/linuxbsd/README.md
  platform/web/README.md
Due: none

Disabled depth test for line and handle materials
  editor/plugins/polygon_3d_editor_plugin.cpp
Due: copyright-headers

Use text_overrun for project export errors
  editor/export/project_export.cpp
Due: copyright-headers

Don't show Extend Script option for built-in scripts
  editor/scene_tree_dock.cpp
Due: copyright-headers

Expose 3D editor snap settings to EditorInterface
  doc/classes/EditorInterface.xml
  editor/editor_interface.cpp
  editor/editor_interface.h
Due: make-rst, doc-status, copyright-headers, header-guards

Optimize DirectionalLight shadows with energy culling
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers

Add Change Scene option to scene tree dock
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
Due: copyright-headers, header-guards

Format xml and svg for precommit
  doc/classes/DistanceConstraint3D.xml
  editor/icons/DistanceConstraint3D.svg
Due: make-rst, doc-status, svgo

[Polygon2DEditor] Add tool to automatically move center of gravity to origin.
  editor/icons/CurveCenter.svg
  editor/icons/EditorPathNullHandle.svg
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/abstract_polygon_2d_editor.h
Due: svgo, copyright-headers, header-guards

Implement OpenXR FB swapchain update extensions
  modules/openxr/doc_classes/OpenXRCompositionLayer.xml
  modules/openxr/extensions/openxr_composition_layer_extension.cpp
  modules/openxr/extensions/openxr_composition_layer_extension.h
  modules/openxr/extensions/openxr_fb_update_swapchain_extension.cpp
  modules/openxr/extensions/openxr_fb_update_swapchain_extension.h
  modules/openxr/scene/openxr_composition_layer.cpp
  modules/openxr/scene/openxr_composition_layer.h
Due: make-rst, doc-status, copyright-headers, header-guards

C#: Add missing `get_data` when calling `CFStringCreateWithCString` in `macos_utils`
  modules/mono/utils/macos_utils.cpp
Due: copyright-headers

Make build profile project detection also set build options
  core/io/resource_importer.cpp
  core/io/resource_importer.h
  doc/classes/ResourceImporter.xml
  editor/editor_build_profile.cpp
  editor/editor_build_profile.h
  editor/import/resource_importer_dynamic_font.cpp
  editor/import/resource_importer_dynamic_font.h
  scene/resources/resource_format_text.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Add Viewport methods to find controls and subwindows at global position
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: make-rst, doc-status, copyright-headers, header-guards

Update UID upgrade tool dialog message
  editor/uid_upgrade_tool.cpp
Due: copyright-headers

Fix wrong canvas camera override panning in the runtime debugger
  scene/debugger/scene_debugger.cpp
Due: copyright-headers

Add C array constructor to `Span`. [skip ci]
  core/templates/span.h
  tests/core/templates/test_span.h
Due: copyright-headers, header-guards

Implement XR_EXT_performance_settings OpenXR extension
  modules/openxr/doc_classes/OpenXRInterface.xml
  modules/openxr/extensions/openxr_performance_settings_extension.cpp
  modules/openxr/extensions/openxr_performance_settings_extension.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
  modules/openxr/register_types.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Delete SHOW_ALL_FILES_THRESHOLD and the corresponding logic, and add a switch to enable and disable the history file mode in the fast loading.
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
Due: copyright-headers, header-guards

Fix multiple debugger messages arriving before scene tree exists
  core/debugger/remote_debugger.cpp
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/script_editor_debugger.cpp
  editor/plugins/game_view_plugin.cpp
  editor/plugins/game_view_plugin.h
  main/main.cpp
Due: copyright-headers, header-guards

Add ConstIterator to Dictionary.
  core/extension/gdextension_interface.cpp
  core/io/json.cpp
  core/io/marshalls.cpp
  core/io/packed_data_container.cpp
  core/io/resource.cpp
  core/io/resource_format_binary.cpp
  core/io/resource_loader.cpp
  core/object/object.cpp
  core/object/script_language_extension.h
  core/string/translation.cpp
  core/string/translation_po.cpp
  core/string/ustring.cpp
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant.cpp
  core/variant/variant_setget.cpp
  editor/editor_build_profile.cpp
  editor/editor_data.cpp
  editor/editor_file_system.cpp
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/import/editor_import_plugin.cpp
  editor/import_dock.cpp
  editor/localization_editor.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  modules/interactive_music/audio_stream_interactive.cpp
  scene/animation/animation_mixer.cpp
  scene/animation/animation_tree.cpp
  scene/resources/3d/importer_mesh.cpp
  scene/resources/animation_library.cpp
  scene/resources/resource_format_text.cpp
  scene/resources/syntax_highlighter.cpp
  servers/rendering/rendering_device_binds.h
  tests/core/variant/test_dictionary.h
Due: copyright-headers, header-guards

Add borders to `BitMap` in `BitMapEditor`
  editor/plugins/bit_map_editor_plugin.cpp
  editor/plugins/bit_map_editor_plugin.h
Due: copyright-headers, header-guards

Scripting: Add script documentation cache to project
  editor/doc_tools.cpp
  editor/doc_tools.h
  editor/editor_file_system.cpp
  editor/editor_help.cpp
  editor/editor_help.h
  editor/editor_node.cpp
  editor/plugins/script_editor_plugin.cpp
  scene/resources/shader.cpp
Due: copyright-headers, header-guards

Fix `Invalid Task ID` error spam in `PipelineHashMapRD`.
  servers/rendering/renderer_rd/pipeline_hash_map_rd.h
Due: copyright-headers, header-guards

Allow to ignore debugger error breaks
  core/debugger/engine_debugger.cpp
  core/debugger/engine_debugger.h
  core/debugger/remote_debugger.cpp
  core/debugger/script_debugger.cpp
  core/debugger/script_debugger.h
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
  editor/editor_run.cpp
  main/main.cpp
Due: copyright-headers, header-guards

Expose `String` as `Godot::String`
  core/string/ustring.h
Due: copyright-headers, header-guards

Style: Convert namespaces to PascalCase
  core/core_bind.compat.inc
  core/core_bind.cpp
  core/core_bind.h
  core/io/resource_loader.cpp
  core/io/resource_loader.h
  core/register_core_types.cpp
  core/variant/type_info.h
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_extend_parser.h
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_text_document.h
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gdscript/language_server/gdscript_workspace.h
  modules/gdscript/language_server/godot_lsp.h
  modules/gdscript/tests/test_lsp.h
  modules/mono/csharp_script.cpp
  modules/mono/editor/bindings_generator.cpp
  modules/mono/editor/editor_internal_calls.cpp
  modules/mono/editor/hostfxr_resolver.cpp
  modules/mono/godotsharp_dirs.cpp
  modules/mono/mono_gd/gd_mono.cpp
  modules/mono/mono_gd/gd_mono.h
  modules/mono/register_types.cpp
  modules/mono/utils/path_utils.cpp
  modules/mono/utils/path_utils.h
  modules/navigation/3d/nav_base_iteration_3d.h
  modules/navigation/3d/nav_map_builder_3d.cpp
  modules/navigation/3d/nav_map_builder_3d.h
  modules/navigation/3d/nav_map_iteration_3d.h
  modules/navigation/3d/nav_mesh_queries_3d.cpp
  modules/navigation/3d/nav_mesh_queries_3d.h
  modules/navigation/nav_map_3d.cpp
  modules/navigation/nav_map_3d.h
  modules/navigation/nav_region_3d.cpp
  modules/navigation/nav_region_3d.h
  modules/navigation/nav_utils_3d.h
  platform/android/export/export_plugin.cpp
  scene/animation/easing_equations.h
  scene/animation/tween.cpp
Due: copyright-headers, header-guards

Fix interpolation in XR nodes
  doc/classes/XRCamera3D.xml
  doc/classes/XRNode3D.xml
  scene/3d/xr/xr_nodes.cpp
  scene/3d/xr/xr_nodes.h
Due: make-rst, doc-status, copyright-headers, header-guards

Physics Interpolation - Move 3D FTI to `SceneTree`
  core/local_vector.h
  doc/classes/BoneAttachment.xml
  doc/classes/VehicleWheel.xml
  doc/classes/VisualServer.xml
  scene/3d/arvr_nodes.cpp
  scene/3d/bone_attachment.cpp
  scene/3d/camera.cpp
  scene/3d/camera.h
  scene/3d/spatial.cpp
  scene/3d/spatial.h
  scene/3d/vehicle_body.cpp
  scene/3d/visual_instance.cpp
  scene/3d/visual_instance.h
  scene/animation/skeleton_ik.cpp
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/main/scene_tree_fti.cpp
  scene/main/scene_tree_fti.h
  servers/visual/rasterizer.h
  servers/visual/visual_server_raster.h
  servers/visual/visual_server_scene.cpp
  servers/visual/visual_server_scene.h
  servers/visual/visual_server_wrap_mt.h
  servers/visual_server.cpp
  servers/visual_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
