Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Fixed compilation errors with unnamed buffers
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/material_storage.h
  servers/rendering/dummy/storage/material_storage.h
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.h
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/storage/material_storage.h
Due: copyright-headers, header-guards

all API functions implemented + more type support
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/material_storage.h
  scene/resources/material.cpp
  scene/resources/material.h
  servers/rendering/dummy/storage/material_storage.h
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.h
  servers/rendering/rendering_server_default.h
  servers/rendering/shader_language.h
  servers/rendering/storage/material_storage.h
  servers/rendering_server.h
Due: copyright-headers, header-guards

set_shader_buffer supports more types now
  servers/rendering/storage/material_storage.h
Due: copyright-headers, header-guards

formatting fixes
  scene/resources/material.h
  servers/rendering/dummy/storage/material_storage.h
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.h
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  servers/rendering/storage/material_storage.h
Due: copyright-headers, header-guards

storage buffers work, ironing out issues
  scene/resources/material.h
  servers/rendering/renderer_rd/environment/fog.cpp
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
  servers/rendering/renderer_rd/storage_rd/material_storage.h
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
Due: copyright-headers, header-guards

Fix TextEdit styles and disable clipping.
  doc/classes/TextEdit.xml
  editor/script/script_text_editor.cpp
  scene/gui/code_edit.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix TextEdit drawing both normal and read_only styles together.
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Due: copyright-headers, header-guards

Rework editor docks
  doc/classes/EditorDock.xml
  doc/classes/EditorPlugin.xml
  doc/classes/FileSystemDock.xml
  editor/docks/editor_dock.cpp
  editor/docks/editor_dock.h
  editor/docks/editor_dock_manager.cpp
  editor/docks/editor_dock_manager.h
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
  editor/docks/history_dock.cpp
  editor/docks/history_dock.h
  editor/docks/import_dock.cpp
  editor/docks/import_dock.h
  editor/docks/inspector_dock.cpp
  editor/docks/inspector_dock.h
  editor/docks/node_dock.cpp
  editor/docks/node_dock.h
  editor/docks/scene_tree_dock.cpp
  editor/docks/scene_tree_dock.h
  editor/editor_node.cpp
  editor/plugins/editor_plugin.cpp
  editor/plugins/editor_plugin.h
  editor/register_editor_types.cpp
  editor/version_control/version_control_editor_plugin.cpp
  editor/version_control/version_control_editor_plugin.h
Due: make-rst, doc-status, copyright-headers, header-guards

Adds "Set as Main Scene" option to EditorSceneTabs context menu
  editor/editor_node.cpp
  editor/editor_node.h
  editor/scene/editor_scene_tabs.cpp
Due: copyright-headers, header-guards

Geometry2D minor optimization
  core/math/geometry_2d.cpp
Due: copyright-headers

Allow all ColorPicker Shapes to expand horizontally
  scene/gui/color_picker.cpp
  scene/gui/color_picker_shape.cpp
Due: copyright-headers

EditorSpinSlider Bug fixes and RTL support
  doc/classes/EditorSpinSlider.xml
  editor/gui/editor_spin_slider.cpp
  editor/gui/editor_spin_slider.h
  editor/themes/editor_theme_manager.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix built-in scripts not being restored after restarting the editor
  editor/script/script_editor_plugin.cpp
Due: copyright-headers

ShaderEditor Bug Fixes
  editor/shader/shader_editor_plugin.cpp
Due: copyright-headers

Added Find Sequence to Spans
  core/string/ustring.cpp
  core/templates/span.h
  doc/classes/String.xml
  doc/classes/StringName.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Make conversions from `LocalVector` to `Vector` explicit.
  core/templates/local_vector.h
  drivers/gles3/storage/texture_storage.cpp
  editor/scene/3d/gizmos/spring_bone_3d_gizmo_plugin.cpp
  editor/scene/3d/skeleton_3d_editor_plugin.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gltf/gltf_document.cpp
  modules/minimp3/audio_stream_mp3.cpp
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/web/export/export_plugin.cpp
  scene/animation/animation_tree.cpp
  scene/debugger/scene_debugger.cpp
  scene/gui/graph_edit.cpp
  scene/resources/2d/tile_set.cpp
  scene/resources/3d/convex_polygon_shape_3d.cpp
  scene/resources/3d/importer_mesh.cpp
  scene/resources/audio_stream_wav.cpp
  scene/resources/mesh.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Due: copyright-headers, header-guards

Fix wrong color for timeline indicator in the light theme
  editor/icons/TimelineIndicator.svg
Due: svgo

Fix docgen showing wrong parent class due to cyclic references
  modules/gdscript/editor/gdscript_docgen.cpp
Due: copyright-headers

Editor: Split doc translations to separate .cpp, it's too big
  editor/settings/editor_settings.cpp
  editor/translations/doc_translation.cpp
  editor/translations/doc_translation.h
  editor/translations/editor_translation.cpp
  main/main.cpp
Due: copyright-headers, header-guards

Add drag n drop export variables
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
Due: copyright-headers, header-guards

Show file when FileSystem is searched with UID
  editor/docks/filesystem_dock.cpp
Due: copyright-headers

[visionOS VR module] Add XRInterface::XR_AR capability
  modules/visionos_vr/visionos_vr_interface.mm
Due: copyright-headers

Rename
  modules/visionos_vr/visionos_vr_interface.mm
Due: copyright-headers

Fix minor grammar error in CollisionPolygon2D, CollisionPolygon3D, CollisionShape2D, and CollisionShape3D docs
  doc/classes/CollisionPolygon2D.xml
  doc/classes/CollisionPolygon3D.xml
  doc/classes/CollisionShape2D.xml
  doc/classes/CollisionShape3D.xml
Due: make-rst, doc-status

Tweak the enum visual order for Sort Scripts By editor setting
  editor/settings/editor_settings.cpp
Due: copyright-headers

Vulkan: Fix ´vkCmdDrawIndexed´ crash on Adreno 5XX devices
  drivers/vulkan/rendering_context_driver_vulkan.cpp
  servers/rendering/rendering_context_driver.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Due: copyright-headers, header-guards

DIAGONAL_MODE_NEVER
  modules/spx/spx_path_finder.cpp
Due: copyright-headers

[visionOS XR module] Rename
  drivers/metal/rendering_context_driver_metal.mm
  modules/visionos_vr/SCsub
  modules/visionos_xr/SCsub
  modules/visionos_xr/config.py
  modules/visionos_xr/doc_classes/VisionOSXRInterface.xml
  modules/visionos_xr/register_types.h
  modules/visionos_xr/register_types.mm
  modules/visionos_xr/visionos_xr_interface.h
  modules/visionos_xr/visionos_xr_interface.mm
Due: make-rst, doc-status, copyright-headers, header-guards

Implement `is_key_just_pressed/released`
  core/input/input.cpp
  core/input/input.h
  doc/classes/Input.xml
  scene/main/scene_tree.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Add taskbar progress and state support for Windows & macOS
  doc/classes/DisplayServer.xml
  doc/classes/Window.xml
  platform/macos/SCsub
  platform/macos/display_server_embedded.h
  platform/macos/display_server_embedded.mm
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/godot_progress_view.h
  platform/macos/godot_progress_view.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  scene/main/window.cpp
  scene/main/window.h
  servers/display_server.cpp
  servers/display_server.h
  servers/display_server_headless.h
Due: make-rst, doc-status, copyright-headers, header-guards

Avoid possible divide by zero in GPU particles
  scene/3d/gpu_particles_3d.cpp
Due: copyright-headers

Avoid possible divide by zero in scroll container
  scene/gui/scroll_container.cpp
Due: copyright-headers

Avoid possible divide by zero in scroll bar
  scene/gui/scroll_bar.cpp
Due: copyright-headers

Fix the bug causing `java.lang.StringIndexOutOfBoundsException` crashes when showing the virtual keyboard
  platform/android/java/lib/src/org/godotengine/godot/input/GodotEditText.java
Due: copyright-headers

Init Once
  modules/spx/spx_ext_mgr.cpp
Due: copyright-headers

Editor: Add some gizmo handles for `MeshInstance3D`
  editor/scene/3d/gizmos/gizmo_3d_helper.cpp
  editor/scene/3d/gizmos/gizmo_3d_helper.h
  editor/scene/3d/gizmos/mesh_instance_3d_gizmo_plugin.cpp
  editor/scene/3d/gizmos/mesh_instance_3d_gizmo_plugin.h
Due: copyright-headers, header-guards

Feat: audio affect by the distance between camera and audio source
  modules/spx/gdextension_spx_ext.cpp
  modules/spx/gdextension_spx_ext.h
  modules/spx/spx_audio.cpp
  modules/spx/spx_audio.h
  modules/spx/spx_audio_mgr.cpp
  modules/spx/spx_audio_mgr.h
  modules/spx/spx_camera_mgr.h
  platform/web/godot_js_spx.cpp
  platform/web/js/engine/gdspx.js
Due: eslint, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
