Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

EditorFileDialog: Document native file dialogs in sandboxed environments
  doc/classes/EditorFileDialog.xml
Due: make-rst, doc-status, validate-xml

Link Logging tutorial in the Logger class reference
  doc/classes/Logger.xml
Due: make-rst, doc-status, validate-xml

Remove unused MSG_ID_ACTIVE
  editor/plugins/plugin_config_dialog.cpp
  editor/plugins/plugin_config_dialog.h
Due: copyright-headers, header-guards

Wayland: only emit HDR request failed warning if HDR was actually requested
  platform/linuxbsd/wayland/display_server_wayland.cpp
Due: copyright-headers

[Windows] Fix invalid transient window getting stuck in infinite loop.
  platform/windows/display_server_windows.cpp
Due: copyright-headers

Fix incorrect parameter being set
  scene/animation/animation_blend_tree.cpp
Due: copyright-headers

[HarfBuzz] Use separate rendering context for each font.
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
Due: copyright-headers, header-guards

Fix GLES3 batching skipping rendering all items
  drivers/gles3/rasterizer_canvas_gles3.cpp
Due: copyright-headers

Fix early return preventing BlendTree graph update
  editor/animation/animation_blend_tree_editor_plugin.cpp
Due: copyright-headers

Wayland: Fix use-after-free of `Ref<ColorManagementProfile>`
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Logic for expansion of Tilde symbol
  core/os/os.cpp
  core/os/os.h
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  scene/gui/file_dialog.cpp
Due: copyright-headers, header-guards

Add missing word to SpinBox documentation
  doc/classes/SpinBox.xml
Due: make-rst, doc-status, validate-xml

Allow only classes derived from `Resource` and `Node` to be disabled
  editor/settings/editor_build_profile.cpp
Due: copyright-headers

Wayland: Deduplicate cleanup logic
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

Bump the minimum api version and hardware version for Vulkan support
  platform/android/export/export_plugin.cpp
  platform/android/java/editor/build.gradle
  platform/android/java/editor/src/main/AndroidManifest.xml
  platform/android/java/lib/src/main/java/org/godotengine/godot/Godot.kt
Due: copyright-headers

Disable the "Edit"/"Clear" menu item when the `EditorResourcePicker` is `force_allow_unique`
  editor/inspector/editor_resource_picker.cpp
Due: copyright-headers

Implement declaration and lambda function tooltips.
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Due: copyright-headers, header-guards

Make the resource type's default theme item editable in Theme editor
  editor/scene/gui/theme_editor_plugin.cpp
Due: copyright-headers

Add an example that uses `bind()` to `Array.find_custom()` documentation
  doc/classes/Array.xml
Due: make-rst, doc-status, validate-xml

[TextEdit] Ignore IME updates and Alt sequences when control is read-only.
  scene/gui/text_edit.cpp
Due: copyright-headers

Fix blend point setter can't restore the name in deprecated=no
  scene/animation/animation_blend_space_1d.cpp
  scene/animation/animation_blend_space_2d.cpp
Due: copyright-headers

Move signal ownership from `ClassDB` to `GDType`.
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/gdtype.cpp
  core/object/gdtype.h
  core/object/object.h
  modules/mono/class_db_api_json.cpp
  modules/mono/editor/bindings_generator.cpp
  tests/core/object/test_class_db.cpp
Due: copyright-headers, header-guards

Fix #116636: Undoing terrain set move duplicates terrain in second set
  doc/classes/TileSet.xml
  editor/scene/2d/tiles/tile_set_editor.cpp
  scene/resources/2d/tile_set.cpp
  scene/resources/2d/tile_set.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix connection dock not hiding underscored native signals.
  editor/scene/connections_dialog.cpp
Due: copyright-headers

Use `TRACY_ON_DEMAND` by default for Tracy integration
  SConstruct
  core/profiling/SCsub
  core/profiling/profiling_builders.py
Due: none

Make the `GridMap` editor ignore empty and repeated selections
  modules/gridmap/editor/grid_map_editor_plugin.cpp
Due: copyright-headers

Editor: Poll snapping state when updating a transform
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Clarify show_focus_state_on_pointer_event description
  core/config/project_settings.cpp
  doc/classes/Control.xml
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status, validate-xml, copyright-headers

Add options for billboarding on GPUParticles3D
  doc/classes/GPUParticles3D.xml
  doc/classes/ParticleProcessMaterial.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/shaders/particles_copy.glsl
  drivers/gles3/storage/particles_storage.cpp
  drivers/gles3/storage/particles_storage.h
  scene/3d/gpu_particles_3d.cpp
  scene/3d/gpu_particles_3d.h
  scene/resources/particle_process_material.cpp
  scene/resources/particle_process_material.h
  servers/rendering/dummy/storage/particles_storage.h
  servers/rendering/renderer_rd/shaders/particles_copy.glsl
  servers/rendering/renderer_rd/storage_rd/particles_storage.cpp
  servers/rendering/renderer_rd/storage_rd/particles_storage.h
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
  servers/rendering/rendering_server_enums.h
  servers/rendering/storage/particles_storage.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix `TextEdit` bugs with large `line_spacing`
  scene/gui/text_edit.cpp
Due: copyright-headers

Bind Object::ConnectFlags as a bitfield, instead of enum.
  core/object/object.cpp
  core/variant/variant_caster.h
  doc/classes/Object.xml
  misc/extension_api_validation/4.6-stable/GH-109892.txt
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Persist editor viewport splitter ratios on editor restart
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Fix 3D viewport selection getting stuck when editing a `GridMap`
  modules/gridmap/editor/grid_map_editor_plugin.cpp
Due: copyright-headers

Automatically remove incomplete file downloads
  scene/main/http_request.cpp
  scene/main/http_request.h
Due: copyright-headers, header-guards

OpenXR: Allow using Vulkan subsampled images with foveated rendered
  doc/classes/ProjectSettings.xml
  drivers/gles3/storage/texture_storage.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  drivers/vulkan/vulkan_hooks.h
  main/main.cpp
  modules/openxr/doc_classes/OpenXRInterface.xml
  modules/openxr/extensions/openxr_fb_foveation_extension.cpp
  modules/openxr/extensions/openxr_fb_foveation_extension.h
  modules/openxr/extensions/platform/openxr_vulkan_extension.cpp
  modules/openxr/extensions/platform/openxr_vulkan_extension.h
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
  servers/rendering/dummy/storage/texture_storage.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_buffers_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_buffers_rd.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_commons.h
  servers/rendering/storage/texture_storage.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

GDScript: Fix compiler generates incorrect bytecode for conversion return
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_codegen.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/analyzer/errors/untyped_override_return_incompatible_type.gd
  modules/gdscript/tests/scripts/analyzer/errors/untyped_override_return_incompatible_type.out
  modules/gdscript/tests/scripts/analyzer/features/untyped_override_return_compatible_type.gd
  modules/gdscript/tests/scripts/analyzer/features/untyped_override_return_compatible_type.out
  modules/gdscript/tests/scripts/runtime/errors/untyped_override_return_incompatible_value.gd
  modules/gdscript/tests/scripts/runtime/errors/untyped_override_return_incompatible_value.out
Due: copyright-headers, header-guards

Removed existing nested tags and added warnings for nested tags.
  doc/classes/@GlobalScope.xml
  doc/classes/JavaScriptBridge.xml
  doc/classes/OS.xml
  doc/classes/Signal.xml
  doc/tools/make_rst.py
Due: make-rst, doc-status, validate-xml

Improve inspector clipboard
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
Due: copyright-headers, header-guards

[Editor] Generate and display documentation for the properties generated by `PropertyListHelper`.
  doc/classes/AudioStreamRandomizer.xml
  doc/classes/Curve.xml
  doc/classes/Curve2D.xml
  doc/classes/Curve3D.xml
  doc/classes/FileDialog.xml
  doc/classes/ItemList.xml
  doc/classes/LabelSettings.xml
  doc/classes/MenuButton.xml
  doc/classes/OptionButton.xml
  doc/classes/PopupMenu.xml
  doc/classes/TabBar.xml
  doc/classes/TabContainer.xml
  editor/doc/doc_tools.cpp
  editor/doc/editor_help.cpp
  scene/2d/tile_map.cpp
  scene/gui/file_dialog.cpp
  scene/gui/item_list.cpp
  scene/gui/menu_button.cpp
  scene/gui/option_button.cpp
  scene/gui/popup_menu.cpp
  scene/gui/tab_bar.cpp
  scene/gui/tab_container.cpp
  scene/property_list_helper.cpp
  scene/property_list_helper.h
  scene/resources/curve.cpp
  scene/resources/label_settings.cpp
  servers/audio/audio_stream.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

