Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

[macOS] Update entered state from `mouseMoved`.
  platform/macos/godot_content_view.mm
Due: copyright-headers

Fixed Camera2D bug : right and bottom limit now clamp camera position based on bottom right corner
  scene/2d/camera_2d.cpp
Due: copyright-headers

optimized the expression of the two new warnings in gdscript_warning.cpp
  modules/gdscript/gdscript_warning.cpp
Due: copyright-headers

Use BitField instead of multiple boolean arguments
  editor/editor_interface.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/packed_scene_editor_plugin.cpp
Due: copyright-headers, header-guards

"){" instead of ") {" in camera_2d.cpp
  scene/2d/camera_2d.cpp
Due: copyright-headers

Fix RefCounted appearing in editor inspector when multiple nodes selected
  editor/editor_inspector.cpp
Due: copyright-headers

Core: Integrate `CharStringT`
  core/string/ustring.cpp
  core/string/ustring.h
Due: copyright-headers, header-guards

fixed test
  modules/gdscript/tests/scripts/analyzer/warnings/access_modifier_soft.out
Due: none

-Re-adding comment with altered spelling (thanks @5kmoe).
  modules/multiplayer/scene_multiplayer.cpp
Due: copyright-headers

[Web] Optimize GL.getSource for known-length shader sources
  drivers/gles3/shader_gles3.cpp
  platform/web/SCsub
  platform/web/detect.py
  platform/web/emscripten_helpers.py
  platform/web/eslint.config.cjs
  platform/web/js/patches/patch_em_gl.js
Due: eslint, copyright-headers

find export templates in XDG_DATA_DIRS
  core/core_bind.cpp
  core/os/os.cpp
  core/os/os.h
  drivers/unix/os_unix.cpp
  editor/editor_node.cpp
  editor/editor_paths.cpp
  editor/editor_paths.h
  editor/export/editor_export_platform.cpp
  editor/export/export_template_manager.cpp
  editor/project_manager/project_list.cpp
  platform/android/os_android.cpp
  platform/android/os_android.h
  platform/linuxbsd/os_linuxbsd.cpp
  platform/linuxbsd/os_linuxbsd.h
  platform/macos/os_macos.h
  platform/macos/os_macos.mm
  platform/web/os_web.cpp
  platform/web/os_web.h
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
  tests/core/os/test_os.h
Due: copyright-headers, header-guards

fix fbx runtime import not generating meshes properly
  modules/fbx/SCsub
  modules/fbx/extensions/SCsub
  modules/fbx/fbx_document.cpp
  modules/fbx/register_types.cpp
Due: copyright-headers

Fix GDScript stack leak.
  modules/gdscript/gdscript_function.cpp
Due: copyright-headers

Fix Signals dock only un-doubling parent class's first signal
  editor/connections_dialog.cpp
Due: copyright-headers

Remove deprecated `engine_version_update_mode` editor setting
  editor/editor_settings.cpp
Due: copyright-headers

Rename FoldableContainer's text to title
  doc/classes/FoldableContainer.xml
  scene/gui/foldable_container.cpp
  scene/gui/foldable_container.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix float/int comparison in acos_approx in sky template shader
  drivers/gles3/shaders/sky.glsl
  servers/rendering/renderer_rd/shaders/environment/sky.glsl
Due: none

Fixing mac vulkan install script to error if jq is not installed
  misc/scripts/install_vulkan_sdk_macos.sh
Due: none

Fix process callback state getting overwritten by calls to set_process_smoothing_speed
  scene/2d/camera_2d.cpp
Due: copyright-headers

Fix drag and drop regression on touchscreens in `Tree`
  doc/classes/Tree.xml
  scene/gui/tree.cpp
  scene/gui/tree.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix lock/unlock not being applied to all selected nodes.
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
Due: copyright-headers

Improve edited scene layout direction detection.
  core/string/translation_server.cpp
  core/string/translation_server.h
  editor/editor_node.cpp
  scene/gui/control.cpp
  scene/main/window.cpp
Due: copyright-headers, header-guards

Fix ColorPicker preset button format string typo.
  scene/gui/color_picker.cpp
Due: copyright-headers

[TextServer] Add monitors for fonts and shaped text buffers.
  doc/classes/Performance.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  main/performance.cpp
  main/performance.h
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Improve EditorAbout dialog auto-translation
  editor/credits_roll.cpp
  editor/editor_about.cpp
  editor/editor_about.h
Due: copyright-headers, header-guards

Update test_audio_stream_synchronized.h
  tests/scene/test_audio_stream_synchronized.h
Due: copyright-headers, header-guards

Implement global deep_equals function
  core/variant/variant_utility.cpp
  core/variant/variant_utility.h
  doc/classes/@GlobalScope.xml
  tests/core/variant/test_variant_utility.h
Due: make-rst, doc-status, copyright-headers, header-guards

Make silhouette fixer use arc Quaternion constrructor instead look_at
  editor/import/3d/post_import_plugin_skeleton_rest_fixer.cpp
Due: copyright-headers

Expose set_uid()
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/ResourceSaver.xml
Due: make-rst, doc-status, copyright-headers, header-guards

[TextEdit] Fix caret cut of in RTL layout, account for wrapped line indents in accessibility updates.
  scene/gui/text_edit.cpp
Due: copyright-headers

[ScrollContainer] Fix focus rect draw position in RTL layout.
  scene/gui/scroll_container.cpp
Due: copyright-headers

basis_universal: Rediff patches, remove Windows encoding fix
  thirdparty/README.md
  thirdparty/basis_universal/encoder/basisu_astc_hdr_6x6_enc.h
  thirdparty/basis_universal/patches/0002-external-jpgd.patch
  thirdparty/basis_universal/patches/0003-external-tinyexr.patch
  thirdparty/basis_universal/patches/0005-ambiguous-calls.patch
  thirdparty/basis_universal/patches/0005-windows-illegal-character.patch
Due: none

Use `PagedAllocator` for `StringName` to accelerate and localize allocations.
  core/string/string_name.cpp
Due: copyright-headers

raytracing: Initial Vulkan support
  doc/classes/RDShaderSPIRV.xml
  doc/classes/RDShaderSource.xml
  doc/classes/RenderingDevice.xml
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/metal/rendering_device_driver_metal.h
  drivers/metal/rendering_device_driver_metal.mm
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  editor/plugins/shader_file_editor_plugin.cpp
  gles3_builders.py
  glsl_builders.py
  modules/glslang/register_types.cpp
  servers/rendering/renderer_rd/shader_rd.cpp
  servers/rendering/renderer_rd/shader_rd.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_binds.cpp
  servers/rendering/rendering_device_binds.h
  servers/rendering/rendering_device_commons.h
  servers/rendering/rendering_device_driver.cpp
  servers/rendering/rendering_device_driver.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
  servers/rendering/shader_compiler.h
Due: make-rst, doc-status, copyright-headers, header-guards

Change FileDialog's Tree to ItemList
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Due: copyright-headers, header-guards

Fix invalid AnimationNode documentation syntax
  doc/classes/AnimationNode.xml
Due: make-rst, doc-status

Fix rotated/flipped tiles rendering origin
  editor/plugins/tiles/tile_map_layer_editor.cpp
  scene/2d/tile_map_layer.cpp
Due: copyright-headers

Fix group name completion for `get_node_count_in_group`
  editor/gui/editor_quick_open_dialog.cpp
  scene/main/scene_tree.cpp
Due: copyright-headers
