Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, copyright-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java|glsl)$
        types_or: [text]
        exclude: |
          (?x)^(
            tests/python_build.*|
            .*thirdparty.*|
            .*platform/android/java/lib/src/com.*|
            .*-so_wrap.*
          )

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.2.0
    hooks:
      - id: black
        files: (\.py$|SConstruct|SCsub)
        types_or: [text]
        exclude: .*thirdparty.*
        args:
          - --line-length=120

  - repo: local
    hooks:
      - id: make-rst
        name: make-rst
        entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
        pass_filenames: false
        language: python
        files: ^(doc|modules|platform).*xml$

      - id: copyright-headers
        name: copyright-headers
        language: python
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$
        entry: python3 misc/scripts/copyright_headers.py
        exclude: |
          (?x)^(
            .*thirdparty.*|
            .*-so_wrap.*|
            core/math/bvh_.*\.inc$|
            platform/android/java/lib/src/com.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
            platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
          )

      - id: dotnet-format
        name: dotnet-format
        language: python
        entry: python3 misc/scripts/dotnet_format.py
        types_or: [c#]

Fix compilation on gcc13
  editor/editor_inspector.cpp
Due: copyright-headers

Fix GCC 14 -Wtemplate-id-cdtor warnings
  core/templates/ring_buffer.h
  core/templates/safe_refcount.h
Due: copyright-headers

SCons: Fix Python 3.12 SyntaxError with regex escape sequences
  methods.py
  platform/linuxbsd/detect.py
Due: none

[Web] Fix closure compiler typedef annotation
  platform/web/js/engine/features.js
Due: none

Fix issue in shadow to opacity
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
Due: none

Make varray() variadic
  core/variant/variant.cpp
  core/variant/variant.h
Due: copyright-headers

Use existing plugin.cfg
  editor/plugin_config_dialog.cpp
Due: copyright-headers

Add tooltips for tile source types
  editor/plugins/tiles/tile_set_editor.cpp
Due: copyright-headers

Add separate feature tags for editor runtime
  core/config/project_settings.cpp
  core/os/os.cpp
  core/os/os.h
  doc/classes/ProjectSettings.xml
  editor/project_settings_editor.cpp
  main/main.cpp
  scene/main/viewport.cpp
Due: make-rst, copyright-headers

Misc code cleanup
  editor/editor_about.cpp
  scene/gui/texture_progress_bar.cpp
  servers/rendering/rendering_server_default.h
Due: copyright-headers

GDScript: Resolve types from autoload scenes
  modules/gdscript/gdscript_analyzer.cpp
Due: copyright-headers

Wayland: Improve compositor compatibility by allowing older globals
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers

Add a way to invalidate preview cache
  editor/editor_resource_preview.cpp
  editor/editor_resource_preview.h
Due: copyright-headers

Add a Reference Cycle Breaker
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/object.cpp
  core/object/object.h
  core/object/script_instance.h
  core/object/script_language.cpp
  core/object/script_language.h
  core/variant/array.cpp
  core/variant/array.h
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant.cpp
  core/variant/variant.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_function.h
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  servers/audio_server.cpp
  servers/audio_server.h
Due: copyright-headers

ResourceImporterWAV: remove unnecessary var declaration
  editor/import/resource_importer_wav.cpp
Due: copyright-headers

Fix inverted GPUParticlesCollisionHeightField3D
  servers/rendering/renderer_rd/shaders/particles.glsl
Due: none

Overhaul TextEdit selection. The caret is now a part of the selection.
  doc/classes/TextEdit.xml
  editor/code_editor.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/text_shader_editor.cpp
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: make-rst, copyright-headers

Overhaul multiple caret editing in TextEdit. Use a multicaret edit to delay merging overlapping carets until the end.
  doc/classes/CodeEdit.xml
  doc/classes/TextEdit.xml
  editor/code_editor.cpp
  editor/code_editor.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/text_shader_editor.cpp
  misc/extension_api_validation/4.2-stable.expected
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/text_edit.compat.inc
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  tests/display_server_mock.h
  tests/scene/test_code_edit.h
  tests/scene/test_text_edit.h
  tests/test_macros.h
Due: make-rst, copyright-headers

Fix Movie Writer writing black frames in Compatibility mode with hdr_2d on
  drivers/gles3/storage/texture_storage.cpp
Due: copyright-headers

EditorSettings/SceneTabs: Added option to restore only active tab
  doc/classes/EditorSettings.xml
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_settings.cpp
Due: make-rst, copyright-headers

Simplify the GPUParticles3D editor gizmo to improve readability
  editor/plugins/gizmos/gpu_particles_3d_gizmo_plugin.cpp
  editor/plugins/gizmos/gpu_particles_3d_gizmo_plugin.h
Due: copyright-headers

[Windows] Improve console IO redirection.
  platform/windows/console_wrapper_windows.cpp
  platform/windows/os_windows.cpp
  platform/windows/windows_terminal_logger.cpp
Due: copyright-headers

修改属性错误
  core/config/project_settings.cpp
  core/error/error_macros.cpp
  core/object/class_db.cpp
  modules/game_help/logic/body_animator.cpp
  modules/game_help/logic/body_animator.h
  modules/game_help/logic/body_main.cpp
  modules/game_help/logic/body_main.h
  modules/limboai/blackboard/blackboard.h
Due: copyright-headers

Make adding track process to set interpolation type on creating RESET
  editor/animation_track_editor.cpp
Due: copyright-headers

Add text to icon-only interpolation OptionButton
  editor/plugins/animation_blend_space_1d_editor.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
Due: copyright-headers

Make activating on ready in AnimationPlayer respect the property value
  scene/animation/animation_player.cpp
Due: copyright-headers

Don't call ReleaseCapture unless the window is actually capturing mouse input
  platform/windows/display_server_windows.cpp
Due: copyright-headers

Add animation_paused property to TileMapLayer
  scene/2d/tile_map.cpp
  scene/2d/tile_map.h
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: copyright-headers

Destroy toolip if no control is hovered
  scene/main/viewport.cpp
Due: copyright-headers

GDExtension: provide `free_property_list_func` with length of array
  core/extension/gdextension.cpp
  core/extension/gdextension.h
  core/extension/gdextension_interface.h
  core/object/class_db.cpp
  core/object/object.cpp
  core/object/object.h
Due: copyright-headers

Change an is_null() to !is_valid() to protect against Callables becoming invalid.
  core/io/logger.cpp
Due: copyright-headers

Update, pattern dragging working but not displaying
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_map_layer_editor.h
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
  scene/resources/2d/tile_set.cpp
  scene/resources/2d/tile_set.h
Due: copyright-headers

Only add warning label for Layout group in Control category
  editor/plugins/control_editor_plugin.cpp
  editor/plugins/control_editor_plugin.h
Due: copyright-headers

Fix unsafe uses of `Callable.is_null()`
  core/core_bind.cpp
  core/object/object.cpp
  core/object/undo_redo.cpp
  drivers/gles3/storage/utilities.cpp
  editor/gui/editor_validation_panel.cpp
  platform/android/display_server_android.cpp
  platform/ios/display_server_ios.mm
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/macos/godot_content_view.mm
  platform/macos/godot_window_delegate.mm
  platform/web/display_server_web.cpp
  platform/web/javascript_bridge_singleton.cpp
  platform/windows/display_server_windows.cpp
  servers/physics_2d/godot_area_2d.h
  servers/physics_3d/godot_area_3d.h
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_rd/storage_rd/utilities.cpp
  tests/display_server_mock.h
Due: copyright-headers

[Windows] Improve warning for path casing.
  drivers/windows/file_access_windows.cpp
Due: copyright-headers

Add start of unit tests for BaseButton
  tests/scene/test_base_button.h
  tests/test_main.cpp
Due: copyright-headers

Add tips detection to bone mapper
  editor/plugins/bone_map_editor_plugin.cpp
Due: copyright-headers

doc fix typo that flipped the description of window_set_max_size and window_set_min_size
  doc/classes/DisplayServer.xml
Due: make-rst

Fix editor tooltip flicker caused by _tree_changed
  editor/plugins/script_editor_plugin.cpp
Due: copyright-headers
