Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Add compatibility settings
  editor/editor_node.h
  editor/plugins/editor_plugin.h
  editor/plugins/editor_plugin_settings.cpp
  editor/plugins/editor_plugin_settings.h
  editor/plugins/plugin_config_dialog.cpp
  editor/plugins/plugin_config_dialog.h
  editor/settings/editor_settings_dialog.cpp
  editor/settings/editor_settings_dialog.h
Due: copyright-headers, header-guards

Display editor resources access in inspector on EditorFileDialog
  editor/gui/editor_file_dialog.cpp
Due: copyright-headers

Add Asset Store global asset installer.
  editor/asset_library/editor_asset_installer.cpp
  editor/asset_library/editor_asset_installer.h
  scene/gui/file_dialog.cpp
Due: copyright-headers, header-guards

Project Manager: Add Compact Mode Setting
  doc/classes/EditorSettings.xml
  editor/project_manager/project_list.cpp
  editor/project_manager/project_list.h
  editor/project_manager/project_manager.cpp
  editor/project_manager/project_manager.h
  editor/settings/editor_settings.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fail when trying to use local debugger in release exports
  main/main.cpp
Due: copyright-headers

Fix duplicate AnimationLibrary registration when renaming library keys during deserialization
  scene/animation/animation_mixer.cpp
Due: copyright-headers

Update drivers/wasapi/audio_driver_wasapi.cpp
  drivers/wasapi/audio_driver_wasapi.cpp
Due: copyright-headers

Add render layers to MeshLibrary
  doc/classes/MeshLibrary.xml
  editor/scene/3d/mesh_library_editor_plugin.cpp
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
  scene/resources/3d/mesh_library.cpp
  scene/resources/3d/mesh_library.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Address comments: store inline, use std::function, make monomorphic only
  core/object/object.cpp
  core/object/object.h
  core/object/script_instance.cpp
  core/object/script_instance.h
  core/object/script_language.cpp
  core/object/script_language.h
  core/object/script_language_extension.h
  core/variant/variant.h
  core/variant/variant_cache.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_byte_codegen.h
  modules/gdscript/gdscript_disassembler.cpp
  modules/gdscript/gdscript_function.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/inline_cache.h
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
  tests/core/object/test_object.cpp
Due: copyright-headers, header-guards

added unit tests for get_area() and is_inside_triangle()
  tests/core/math/test_triangulate.cpp
Due: copyright-headers

Remove extra loads when using `compare_exchange_weak`
  core/templates/safe_refcount.h
Due: copyright-headers, header-guards

Group Fit to Panel with zoom controls to prevent incorrect wrapping
  editor/animation/animation_track_editor.cpp
Due: copyright-headers

Fix out of bounds error when reparenting `SpringBoneSimulator3D`
  scene/3d/spring_bone_simulator_3d.cpp
Due: copyright-headers

Core: Fix UndoRedo silently dropping Callables bound to global functions
  core/object/undo_redo.cpp
Due: copyright-headers

Fix game speed physics delta
  main/main.cpp
Due: copyright-headers

Lightmapper: Compress albedo and emission atlases with Betsy if available
  modules/betsy/image_compress_betsy.cpp
  modules/betsy/image_compress_betsy.h
  modules/lightmapper_rd/lightmapper_rd.cpp
Due: copyright-headers, header-guards

Prevent UB when freeing object during `notification`
  core/object/object.cpp
  core/object/object.h
Due: copyright-headers, header-guards

GDExt: Allow specifying inclusion/exclusion tags
  core/extension/gdextension.cpp
  core/extension/gdextension_library_loader.cpp
  core/extension/gdextension_library_loader.h
  core/extension/gdextension_manager.cpp
  editor/export/gdextension_export_plugin.h
Due: copyright-headers, header-guards

Replace NOTIFICATION_DEBUG_COLLISIONS_HINT_CHANGED with a signal
  main/main.cpp
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/gridmap/grid_map.cpp
  modules/tilemap/tile_map_layer.cpp
  modules/tilemap/tile_map_layer.h
  scene/2d/physics/collision_polygon_2d.cpp
  scene/2d/physics/collision_shape_2d.cpp
  scene/2d/physics/joints/damped_spring_joint_2d.cpp
  scene/2d/physics/joints/groove_joint_2d.cpp
  scene/2d/physics/joints/joint_2d.cpp
  scene/2d/physics/joints/pin_joint_2d.cpp
  scene/2d/physics/ray_cast_2d.cpp
  scene/2d/physics/shape_cast_2d.cpp
  scene/2d/physics/touch_screen_button.cpp
  scene/3d/physics/collision_object_3d.cpp
  scene/3d/physics/collision_object_3d.h
  scene/3d/physics/ray_cast_3d.cpp
  scene/3d/physics/ray_cast_3d.h
  scene/3d/physics/shape_cast_3d.cpp
  scene/3d/physics/shape_cast_3d.h
  scene/3d/physics/spring_arm_3d.cpp
  scene/debugger/scene_debugger.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  scene/main/viewport.cpp
  servers/physics_2d/physics_server_2d.cpp
  servers/physics_2d/physics_server_2d.h
  servers/physics_3d/physics_server_3d.cpp
  servers/physics_3d/physics_server_3d.h
Due: copyright-headers, header-guards

Add tests for `Camera3D` frustum functions
  tests/scene/test_camera_3d.cpp
Due: copyright-headers

Fix `Camera3D` projection issues with frustum and viewport 2d override
  scene/3d/camera_3d.cpp
  tests/scene/test_camera_3d.cpp
Due: copyright-headers

added unit tests for append()
  tests/core/string/test_string_builder.cpp
Due: copyright-headers

delete this commit message
  tests/core/string/test_string_builder.cpp
Due: copyright-headers

[Android] Do not apply directory encryption if PCK encryption is disabled.
  platform/android/export/export_plugin.cpp
Due: copyright-headers

Automatically convert PO translation files to MO on export.
  core/string/translation.cpp
  core/string/translation.h
  editor/export/editor_export_platform.cpp
Due: copyright-headers, header-guards

Fix reflection probe ambient light blend factor in Compatibility renderer
  drivers/gles3/shaders/scene.glsl
Due: none

TextEdit: Reduce draw calls when selecting
  scene/gui/text_edit.cpp
Due: copyright-headers

Fix create_test.py resolving path relative to tests/ instead of caller's cwd
  tests/create_test.py
  tests/python/test_create_test.py
Due: none

Fix create_test.py to resolve path relative to tests/ dir, not caller cwd
  tests/create_test.py
  tests/python/test_create_test.py
Due: none

Allow creating GDExtension plugins from inside the Godot editor
  .github/changed_files.yml
  .pre-commit-config.yaml
  editor/gui/editor_validation_panel.cpp
  editor/gui/editor_validation_panel.h
  editor/settings/gdextension/SCsub
  editor/settings/gdextension/cpp_scons/SCsub
  editor/settings/gdextension/cpp_scons/cpp_scons_gdext_creator.cpp
  editor/settings/gdextension/cpp_scons/cpp_scons_gdext_creator.h
  editor/settings/gdextension/cpp_scons/template/SConstruct_top_level
  editor/settings/gdextension/cpp_scons/template/SCsub
  editor/settings/gdextension/cpp_scons/template/addon/SConstruct_addon
  editor/settings/gdextension/cpp_scons/template/addon/doc_classes/ExampleNode.xml
  editor/settings/gdextension/cpp_scons/template/addon/gdext.gitignore
  editor/settings/gdextension/cpp_scons/template/addon/icons/ExampleNode.svg
  editor/settings/gdextension/cpp_scons/template/addon/icons/ExampleNode.svg.import
  editor/settings/gdextension/cpp_scons/template/addon/library_name.gdextension
  editor/settings/gdextension/cpp_scons/template/addon/src/gdext_defines.h
  editor/settings/gdextension/cpp_scons/template/addon/src/initialize_gdextension.cpp
  editor/settings/gdextension/cpp_scons/template/config.py
  editor/settings/gdextension/cpp_scons/template/example_node.cpp
  editor/settings/gdextension/cpp_scons/template/example_node.h
  editor/settings/gdextension/cpp_scons/template/register_types.cpp
  editor/settings/gdextension/cpp_scons/template/register_types.h
  editor/settings/gdextension/cpp_scons/template/shared_defines.h
  editor/settings/gdextension/cpp_scons/template/tests/test_base_name.h
  editor/settings/gdextension/cpp_scons/template/tests/test_example_node.h
  editor/settings/gdextension/gdextension_create_dialog.cpp
  editor/settings/gdextension/gdextension_create_dialog.h
  editor/settings/gdextension/gdextension_creator_plugin.h
  editor/settings/gdextension/project_settings_gdextension.cpp
  misc/scripts/header_guards.py
Due: make-rst, doc-status, validate-xml, svgo, copyright-headers, header-guards

Use R/F keys for local up/down and Space/Ctrl for global up/down
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_viewport.cpp
  scene/debugger/view_3d_controller.cpp
  scene/debugger/view_3d_controller.h
Due: copyright-headers, header-guards

GLTF: Support MultiMesh objects using EXT_mesh_gpu_instancing
  modules/gltf/extensions/gltf_document_extension_multi_mesh.cpp
  modules/gltf/extensions/gltf_document_extension_multi_mesh.h
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
  modules/gltf/gltf_state.cpp
  modules/gltf/gltf_state.h
  modules/gltf/register_types.cpp
Due: copyright-headers, header-guards

GLTF: Fix node path to skinned meshes for KHR_animation_pointer
  modules/gltf/structures/gltf_node.cpp
Due: copyright-headers

Exclude user singletons from `@GlobalScope.xml`
  editor/doc/doc_tools.cpp
Due: copyright-headers

CI: Show doctool diffs inside submodules
  .github/workflows/linux_builds.yml
Due: none

[skip ci] (The tests doesn't work, but if custom classes are created with gdscript, it works)
  scene/resources/resource_format_text.cpp
  scene/resources/resource_format_text.h
  tests/core/io/test_scenes.cpp
Due: copyright-headers, header-guards

Expose RID.is_null() to scripting
  core/variant/variant_call.cpp
  doc/classes/RID.xml
Due: make-rst, doc-status, validate-xml, copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

