Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$


Fixed error in Action spec for RD_GLSL
  SConstruct
Due: none

Add Web libgodot build entrypoint
  platform/web/SCsub
  platform/web/detect.py
  platform/web/libgodot_web.cpp
Due: copyright-headers

Add --argfile support to glsl_builders.py and Windows long command line handling
  SConstruct
  glsl_builders.py
  methods.py
Due: validate-builders

Fix ruff formatting
  glsl_builders.py
  methods.py
Due: validate-builders

Fix GraphFrame `autoshrink_changed` signal arguments
  doc/classes/GraphFrame.xml
  scene/gui/graph_frame.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers

Improve object custom iterator performance by removing Array allocations
  doc/classes/Object.xml
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/errors/for_loop_iterator_array_size.gd
  modules/gdscript/tests/scripts/runtime/errors/for_loop_iterator_array_size.out
  modules/gdscript/tests/scripts/runtime/features/for_loop_iterator_object.gd
  modules/gdscript/tests/scripts/runtime/features/for_loop_iterator_object.out
Due: make-rst, doc-status, validate-xml, copyright-headers

Adds screen_texture mipmaps on compatibilty render for spatial shaders
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/storage/render_scene_buffers_gles3.cpp
Due: copyright-headers

Add option to close docks with middle mouse button
  editor/docks/dock_tab_container.cpp
  editor/docks/dock_tab_container.h
Due: copyright-headers, header-guards

Fixed formatting issues.
  modules/cross_runtime/tests/Web_Assets/main.js
Due: eslint

update to pass style checks
  scene/2d/physics/animatable_body_2d.cpp
  scene/3d/physics/animatable_body_3d.cpp
Due: copyright-headers

Fix a few race conditions in RD.
  servers/rendering/rendering_device.cpp
Due: copyright-headers

Area2D: Document that set_monitoring(false) emits exited signals
  doc/classes/Area2D.xml
Due: make-rst, doc-status, validate-xml

Added global resource filesystem
  core/config/project_settings.cpp
  core/config/project_settings.h
  core/io/dir_access.cpp
  core/io/dir_access.h
  core/io/file_access.cpp
  core/io/file_access.h
  core/string/ustring.cpp
  doc/classes/ProjectSettings.xml
  drivers/unix/os_unix.cpp
  editor/docks/filesystem_dock.cpp
  editor/editor_log.cpp
  editor/editor_node.cpp
  editor/file_system/editor_file_system.cpp
  editor/file_system/editor_file_system.h
  editor/file_system/editor_paths.cpp
  editor/file_system/editor_paths.h
  editor/plugins/editor_plugin_settings.cpp
  main/main.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_parser.cpp
  platform/android/os_android.cpp
  platform/macos/os_macos.mm
  platform/windows/os_windows.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Wire Web C# export publish path
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Godot.NET.Sdk.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Browser.props
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Browser.targets
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.props
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.targets
  modules/mono/editor/GodotTools/GodotTools/Build/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  platform/web/export/export_plugin.cpp
Due: copyright-headers

Add browser wasm managed bootstrap
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Godot.NET.Sdk.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Browser.props
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Browser.targets
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/BrowserMain.cs
  modules/mono/mono_gd/gd_mono.cpp
  platform/web/libgodot_web.cpp
Due: copyright-headers

Add editor:// path to the filesystem dock.
  core/config/project_settings.cpp
  core/io/resource_saver.cpp
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
  editor/editor_node.cpp
  editor/file_system/dependency_editor.cpp
  editor/file_system/editor_file_system.cpp
  editor/file_system/editor_file_system.h
  editor/gui/directory_create_dialog.cpp
  editor/gui/editor_dir_dialog.cpp
  editor/gui/editor_dir_dialog.h
  editor/gui/editor_file_dialog.cpp
  editor/icons/ShowEditorDirectory.svg
  editor/script/script_create_dialog.cpp
  editor/shader/shader_create_dialog.cpp
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Due: svgo, copyright-headers, header-guards

Moved editor plugins enabled to editor settings.
  editor/editor_node.cpp
  editor/plugins/editor_plugin_settings.cpp
  editor/plugins/editor_plugin_settings.h
  editor/plugins/plugin_config_dialog.cpp
  editor/plugins/plugin_config_dialog.h
  editor/settings/editor_settings_dialog.cpp
  editor/settings/editor_settings_dialog.h
  editor/settings/project_settings_editor.cpp
Due: copyright-headers, header-guards

Updated Object::cast_to to a Dedicated method ObjectDB::get_instance
  scene/2d/physics/character_body_2d.cpp
  scene/3d/physics/character_body_3d.cpp
Due: copyright-headers

Apply suggestions from code review
  core/string/char_utils.h
  core/string/ustring.cpp
Due: copyright-headers, header-guards

Tweak default property value display in descriptions in the editor help
  editor/doc/editor_help.cpp
Due: copyright-headers

Add primitive 2D meshes
  doc/classes/CapsuleMesh2D.xml
  doc/classes/CircleMesh2D.xml
  doc/classes/PrimitiveMesh2D.xml
  doc/classes/RectangleMesh2D.xml
  editor/icons/CapsuleMesh2D.svg
  editor/icons/CircleMesh2D.svg
  editor/icons/RectangleMesh2D.svg
  editor/register_editor_types.cpp
  editor/scene/2d/mesh_instance_2d_editor_plugin.cpp
  editor/scene/2d/mesh_instance_2d_editor_plugin.h
  scene/register_scene_types.cpp
  scene/resources/2d/SCsub
  scene/resources/2d/primitive_meshes_2d.cpp
  scene/resources/2d/primitive_meshes_2d.h
Due: make-rst, doc-status, validate-xml, svgo, copyright-headers, header-guards

Make primitive 2D mesh icons filled
  editor/icons/CapsuleMesh2D.svg
  editor/icons/CircleMesh2D.svg
  editor/icons/RectangleMesh2D.svg
Due: svgo

Fix BLEND_MODE_MAX using BLEND_OP_MAX sentinel instead of BLEND_OP_MAXIMUM.
  servers/rendering/renderer_rd/storage_rd/material_storage.cpp
Due: copyright-headers

fix warning declaration of b hides previous local declaration
  modules/godot_physics_2d/godot_step_2d.cpp
  modules/godot_physics_3d/godot_step_3d.cpp
Due: copyright-headers

Add GODOT_HALT_ON_ERROR env var to halt on first error.
  core/error/error_macros.cpp
Due: copyright-headers

Trim DEAD MONEY halt-on-error comments to non-obvious WHY only.
  core/error/error_macros.cpp
Due: copyright-headers

Cache MRT multi-attachment framebuffer to stop RID leak.
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
Due: copyright-headers, header-guards

Trim comments to non-obvious WHY only.
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
Due: copyright-headers, header-guards

Fix _exit missing-decl on stricter glibc/GCC by including unistd.h.
  core/error/error_macros.cpp
Due: copyright-headers

Free cached MRT framebuffer before its attachments.
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
Due: copyright-headers

add get_linear_velocity/get_angular_velocity get_pending_*_velocity for Jolt engine, same fix as for default engine
  modules/jolt_physics/objects/jolt_body_3d.cpp
  modules/jolt_physics/objects/jolt_body_3d.h
  modules/jolt_physics/objects/jolt_physics_direct_body_state_3d.cpp
Due: copyright-headers, header-guards

added MYTEMPFILE and set count to 2 so it should work with migrated scripts on windows and long command lines
  SConstruct
  methods.py
Due: none

fixed ruff format
  SConstruct
Due: none

Refactor script editor history navigation.
  doc/classes/ScriptEditorBase.xml
  editor/doc/editor_help.cpp
  editor/doc/editor_help.h
  editor/gui/code_editor.cpp
  editor/gui/code_editor.h
  editor/script/script_editor_base.cpp
  editor/script/script_editor_base.h
  editor/script/script_editor_navigation_marker.cpp
  editor/script/script_editor_navigation_marker.h
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
  scene/gui/control.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

add handle_long_lines SCons tool
  site_scons/site_tools/handle_long_lines.py
Due: none

Fix ruff spelling errors in handle_long_lines
  site_scons/site_tools/handle_long_lines.py
Due: none

Use MYTEMPFILE to handle long command lines for make_doc_header
  editor/SCsub
Due: none

Add --argfile support to editor_builders.py
  editor/editor_builders.py
Due: none

include argfile argument for tempfiles
  SConstruct
Due: none

use MYTEMPFILEPREFIX instead of TEMPFILEPREFIX so we won't affect other builders, (especially normal link)
  SConstruct
  site_scons/site_tools/handle_long_lines.py
Due: none
