Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Document exporting nested subgroups
  modules/gdscript/doc_classes/@GDScript.xml
Due: make-rst, doc-status

Improve get surrounding cells description
  doc/classes/TileMapLayer.xml
Due: make-rst, doc-status

Remove link to outdated CharFX example project
  doc/classes/CharFXTransform.xml
Due: make-rst, doc-status

Docs: Link to Project Settings tutorial from ProjectSettings class
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

Fix incorrect Transform2D docs
  doc/classes/Transform2D.xml
Due: make-rst, doc-status

Deleted more older VS specific code
  modules/SCsub
Due: none

Use atr for FileDialog filters
  scene/gui/file_dialog.cpp
Due: copyright-headers

Implemented multimesh_get_buffer_rd_rid function into RenderingServer.
  doc/classes/RenderingServer.xml
  drivers/gles3/storage/mesh_storage.cpp
  drivers/gles3/storage/mesh_storage.h
  servers/rendering/dummy/storage/mesh_storage.h
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/mesh_storage.cpp
  servers/rendering/storage/mesh_storage.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Improve TextEdit and CodeEdit documentation
  doc/classes/CodeEdit.xml
  doc/classes/EditorSettings.xml
  doc/classes/TextEdit.xml
Due: make-rst, doc-status

Simplify some UID conversions
  editor/editor_properties.cpp
  editor/plugins/script_text_editor.cpp
Due: copyright-headers

Added OnReady attribute source generator
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/CSharpSourceGeneratorVerifier.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/Godot.SourceGenerators.Tests.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/OnReadyGeneratorTests.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/OnReadyPropertiesOne_OnReady.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/OnReadyPropertiesTwo_OnReady.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/OnReadyPropertiesOne.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/OnReadyPropertiesTwo.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/AnalyzerReleases.Unshipped.md
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Common.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ExtensionMethods.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/GodotClasses.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/OnReadyGenerator.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/OnReadyAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
Due: none

Handle scene UIDs in MultiplayerSpawner
  modules/multiplayer/multiplayer_spawner.cpp
  modules/multiplayer/multiplayer_spawner.h
Due: copyright-headers, header-guards

add console logger for web to log warnings to console
  platform/web/SCsub
  platform/web/console_logger_web.cpp
  platform/web/console_logger_web.h
  platform/web/godot_js.h
  platform/web/js/engine/config.js
  platform/web/js/libs/library_godot_os.js
  platform/web/os_web.cpp
Due: eslint, jsdoc, copyright-headers, header-guards

Link to Screen-reading shaders tutorial in BackBufferCopy documentation
  doc/classes/BackBufferCopy.xml
Due: make-rst, doc-status

Clarify `EngineDebugger` and `EditorDebugger*` documentation
  doc/classes/EditorDebuggerPlugin.xml
  doc/classes/EditorDebuggerSession.xml
  doc/classes/EngineDebugger.xml
  editor/debugger/script_editor_debugger.cpp
Due: make-rst, doc-status, copyright-headers

Clarify in default texture repeat and filter docs that they only impact the built in texture
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

Add missing HTTPRequest Result descriptions.
  doc/classes/HTTPRequest.xml
Due: make-rst, doc-status

Fix documentation tip for network/debug/remote_host editor setting
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status

Update use_native_dialog description in FileDialog
  doc/classes/FileDialog.xml
Due: make-rst, doc-status

Fixed a documentation typo in Control._drop_data() C#-example.
  doc/classes/Control.xml
Due: make-rst, doc-status

Clarify SIMPLEX and SIMPLEX_SMOOTH types
  modules/noise/doc_classes/FastNoiseLite.xml
Due: make-rst, doc-status

Document non-resource file handling in FileAccess and ResourceLoader
  doc/classes/FileAccess.xml
  doc/classes/ResourceLoader.xml
Due: make-rst, doc-status

Update Node.xml: specify that normal processing happens in tree order
  doc/classes/Node.xml
Due: make-rst, doc-status

Clarify that fog_aerial_perspective does not actually use sky color
  doc/classes/Environment.xml
Due: make-rst, doc-status

Document `Object.has_signal()` in the Signal class reference
  doc/classes/Signal.xml
Due: make-rst, doc-status

Better description for multiplayer spawner signals
  modules/multiplayer/doc_classes/MultiplayerSpawner.xml
Due: make-rst, doc-status

Fix SplitContainer collapsed documentation
  doc/classes/SplitContainer.xml
Due: make-rst, doc-status

Fix a typo in make_rst.py (Packedfloat64Array -> PackedFloat64Array)
  doc/tools/make_rst.py
Due: none

Refactor signal documentation to improve clarity
  doc/classes/Signal.xml
Due: make-rst, doc-status

Clarify PCK path argument in `PCKPacker.pck_start`
  core/io/pck_packer.cpp
  core/io/pck_packer.h
  doc/classes/PCKPacker.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Clarify behavior of InputEvent.is_match and Shortcut.matches_event
  doc/classes/InputEvent.xml
  doc/classes/Shortcut.xml
Due: make-rst, doc-status

Clarify docs for when toggling `button_pressed` emits `toggled`
  doc/classes/BaseButton.xml
Due: make-rst, doc-status

Document SceneMultiplayer `auth_timeout` being in seconds
  modules/multiplayer/doc_classes/SceneMultiplayer.xml
Due: make-rst, doc-status

Warn for potential performance issues with Auto Switch to Remote Scene Tree editor setting
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status

Clarify the coordinate space for the bounding rectangle returned by Label.get_character_bounds
  doc/classes/Label.xml
Due: make-rst, doc-status

Fix typo in RenderingServer docs
  doc/classes/RenderingServer.xml
Due: make-rst, doc-status

Docs: Add cross-links to antialiasing project settings
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  doc/classes/Viewport.xml
Due: make-rst, doc-status

Fix grammar in AudioStreamInteractive.xml Minor grammar fix to make the sentences flow better.
  modules/interactive_music/doc_classes/AudioStreamInteractive.xml
Due: make-rst, doc-status

Improve documentation on Node2D transform properties such as Skew
  doc/classes/Node2D.xml
Due: make-rst, doc-status

[Doc] Clarify `is_null` methods of `Callable` and `Signal`
  doc/classes/Callable.xml
  doc/classes/Signal.xml
Due: make-rst, doc-status
