Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Fix focus shortcut when in the bezier curve editor
  editor/animation_bezier_editor.cpp
Due: copyright-headers

Fix request_save_previous_state signal type
  doc/classes/ScriptEditorBase.xml
  editor/plugins/script_editor_plugin.cpp
Due: make-rst, doc-status, copyright-headers

Mention ProjectSettings won't be affected by `convert_text_resources_to_binary`
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

Eartly return `_update_children_cache_impl` when not in main thread
  scene/main/node.cpp
Due: copyright-headers

Don't let embedded windows be placed where they don't fit
  scene/main/window.cpp
  scene/main/window.h
  tests/scene/test_window.h
Due: copyright-headers, header-guards

Fix LCD font AA modulation in RendererRD.
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Due: copyright-headers

[NativeMenu] Do not auto toggle check/multi-state items. Add `is_native_menu` method.
  doc/classes/PopupMenu.xml
  platform/macos/display_server_macos.mm
  platform/macos/godot_menu_item.h
  platform/macos/godot_menu_item.mm
  platform/macos/native_menu_macos.mm
  platform/windows/native_menu_windows.cpp
  platform/windows/native_menu_windows.h
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Due: make-rst, doc-status, copyright-headers, header-guards

ResourceLoader: Fixup management of thread-specific status
  core/io/resource_loader.cpp
Due: copyright-headers

Windows: Fix build error due to missing definition of Texture2D
  platform/windows/display_server_windows.cpp
Due: copyright-headers

Core: Remove unused method `_is_gpl_reversed()`
  core/object/object.h
Due: copyright-headers, header-guards

RenderingDevice: Leave handling of compressed block granularity to the driver
  servers/rendering/rendering_device.cpp
Due: copyright-headers

ResourceLoader: Fix error message due to already-awaited tasks being re-awaited
  core/io/resource_loader.cpp
Due: copyright-headers

Fix caret can disappear from script editor
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Due: copyright-headers, header-guards

Clarify that some exclude properties of physics query parameters are copied
  doc/classes/PhysicsPointQueryParameters2D.xml
  doc/classes/PhysicsPointQueryParameters3D.xml
  doc/classes/PhysicsRayQueryParameters2D.xml
  doc/classes/PhysicsRayQueryParameters3D.xml
  doc/classes/PhysicsShapeQueryParameters2D.xml
  doc/classes/PhysicsShapeQueryParameters3D.xml
Due: make-rst, doc-status

Add Home/End to text caret movements on macOS
  core/input/input_map.cpp
Due: copyright-headers

Add shortcut for Lookup symbol
  editor/plugins/script_text_editor.cpp
Due: copyright-headers

SCons: Don't override cl flags on msvc
  platform/windows/detect.py
Due: none

Let EditorLog use the right call queue for thread safety
  editor/editor_log.cpp
  editor/editor_log.h
Due: copyright-headers, header-guards

Autocompletion: rework argument options string literal completion
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/tests/scripts/completion/argument_options/string_literals/argument_options_inside_string_literal.cfg
  modules/gdscript/tests/scripts/completion/argument_options/string_literals/argument_options_inside_string_literal.gd
  modules/gdscript/tests/scripts/completion/common/identifiers_in_call.cfg
  modules/gdscript/tests/scripts/completion/common/identifiers_in_call.gd
  modules/gdscript/tests/scripts/completion/common/identifiers_in_function_body.cfg
  modules/gdscript/tests/scripts/completion/common/identifiers_in_function_body.gd
  modules/gdscript/tests/scripts/completion/common/identifiers_in_unclosed_call.cfg
  modules/gdscript/tests/scripts/completion/common/identifiers_in_unclosed_call.gd
  modules/gdscript/tests/scripts/completion/common/no_completion_in_string.cfg
  modules/gdscript/tests/scripts/completion/common/no_completion_in_string.gd
  modules/gdscript/tests/scripts/completion/filter/organized_export.gd
  modules/gdscript/tests/scripts/completion/get_node/local_infered/local_infered.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_infered/local_infered.gd
  modules/gdscript/tests/scripts/completion/get_node/local_infered_scene/class_local_infered_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_infered_scene/class_local_infered_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/local_infered_scene/native_local_infered_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/local_infered_scene/native_local_infered_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_infered/member_infered.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_infered/member_infered.gd
  modules/gdscript/tests/scripts/completion/get_node/member_infered_scene/class_member_infered_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_infered_scene/class_member_infered_scene.gd
  modules/gdscript/tests/scripts/completion/get_node/member_infered_scene/native_member_infered_scene.cfg
  modules/gdscript/tests/scripts/completion/get_node/member_infered_scene/native_member_infered_scene.gd
  modules/gdscript/tests/scripts/completion/types/local/infered.cfg
  modules/gdscript/tests/scripts/completion/types/local/infered.gd
  modules/gdscript/tests/scripts/completion/types/member/infered.cfg
  modules/gdscript/tests/scripts/completion/types/member/infered.gd
Due: copyright-headers, header-guards

Fix wrong format characters used in vformat()
  core/variant/array.cpp
Due: copyright-headers

[GDScript] Fix `get_method` for lambda self `Callable`s
  modules/gdscript/gdscript_lambda_callable.cpp
  modules/gdscript/gdscript_lambda_callable.h
  modules/gdscript/tests/scripts/runtime/features/lambda_get_method.gd
  modules/gdscript/tests/scripts/runtime/features/lambda_get_method.out
Due: copyright-headers, header-guards

Don't lose in/out handles when bezier keyframe inserted on top of existing keyframe
  editor/animation_track_editor.cpp
Due: copyright-headers

Fix a crash when p_object is null inside tile set editor.
  editor/plugins/tiles/tile_set_editor.cpp
Due: copyright-headers

調整代碼結構
  modules/game_help/SCsub
  modules/game_help/logic/animator/body_animator.h
  modules/game_help/logic/body_main.cpp
  modules/game_help/logic/body_main.h
  modules/game_help/logic/character_shape/character_body_part.cpp
  modules/game_help/logic/character_shape/character_body_part.h
  modules/game_help/logic/character_shape/character_body_prefab.h
  modules/game_help/logic/charecter_manager.h
  modules/game_help/register_types.cpp
  modules/game_help/unity/unity_link_server.cpp
  modules/godot_jolt/jolt/Core/Core.h
  modules/godot_jolt/jolt/Core/Profiler.cpp
  modules/godot_jolt/jolt/Core/Profiler.h
  modules/godot_jolt/jolt/Core/Result.h
  modules/godot_jolt/jolt/Geometry/GJKClosestPoint.h
  modules/godot_jolt/jolt/Physics/Collision/CollisionCollector.h
  modules/godot_jolt/jolt/Physics/Constraints/HingeConstraint.h
  modules/godot_jolt/jolt/Physics/PhysicsSystem.cpp
  modules/godot_jolt/jolt/Physics/SoftBody/SoftBodyShape.cpp
  modules/godot_jolt/src/joints/jolt_joint_impl_3d.cpp
  thirdparty/icu4c/common/ustrenum.cpp
Due: copyright-headers, header-guards

GDExtension: Fix setting base class properties on a runtime class
  core/object/class_db.cpp
  core/object/class_db.h
Due: copyright-headers, header-guards

Fix build fetching git_timestamp if git log.showsignature=true
  methods.py
Due: none

Use GL_COLOR_ATTACHMENT in depth prepass when using Multiview.
  drivers/gles3/rasterizer_scene_gles3.cpp
Due: copyright-headers

Fix debbuger call stack not selecting nodes in remote scene tree
  editor/debugger/editor_debugger_inspector.cpp
Due: copyright-headers

Remove unused Optimize Mesh import option from OBJ mesh import
  doc/classes/ResourceImporterOBJ.xml
  editor/import/3d/resource_importer_obj.cpp
Due: make-rst, doc-status, copyright-headers

Fix editor inspector crashing when the old object is no longer valid
  editor/editor_inspector.cpp
Due: copyright-headers

Ignore trailing slashes in new project’s path when disabling Create Folder
  editor/project_manager/project_dialog.cpp
Due: copyright-headers

Fix error message being printed when importing an OBJ with no surfaces
  editor/import/3d/resource_importer_obj.cpp
Due: copyright-headers

Animation: Fix reset value when adding new Bezier track
  editor/animation_track_editor.cpp
Due: copyright-headers

thorvg: Update to 0.14.1
  thirdparty/README.md
  thirdparty/thorvg/inc/config.h
  thirdparty/thorvg/inc/thorvg.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwCommon.h
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwFill.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRaster.cpp
  thirdparty/thorvg/src/renderer/sw_engine/tvgSwRenderer.cpp
  thirdparty/thorvg/src/renderer/tvgCanvas.h
  thirdparty/thorvg/src/renderer/tvgRender.h
  thirdparty/thorvg/src/renderer/tvgShape.h
  thirdparty/thorvg/update-thorvg.sh
Due: none

Fix wrong inspected node after drag&drop
  editor/scene_tree_dock.cpp
Due: copyright-headers

SCons: Default `optimize` to `auto`, fixing `target`/`dev_build` inference for Web
  SConstruct
  platform/web/detect.py
Due: none

Add Generate LODs, Shadow Mesh and Lightmap UV2 options to OBJ mesh import
  doc/classes/ResourceImporterOBJ.xml
  editor/import/3d/resource_importer_obj.cpp
Due: make-rst, doc-status, copyright-headers

Add a signal for when scripts reload
  core/core_string_names.cpp
  core/core_string_names.h
  core/object/script_language.cpp
  core/object/script_language.h
  doc/classes/Script.xml
  modules/gdscript/gdscript.cpp
  modules/mono/csharp_script.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix vsproj generation for custom_modules.
  methods.py
Due: none

[iOS/Text Input] Avoid deleting and reentering unchanged part of text.
  platform/ios/keyboard_input_view.mm
Due: copyright-headers
