Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

[Label] Fix empty paragraph height.
  scene/gui/label.cpp
Due: copyright-headers

Remove button number limit from Windows dialog_show() implementation.
  platform/windows/display_server_windows.cpp
Due: copyright-headers

[iOS] Add options to specify additional entitlements and capabilities in the export settings.
  misc/dist/ios_xcode/godot_ios/godot_ios.entitlements
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
  platform/ios/export/export_plugin.cpp
  platform/macos/doc_classes/EditorExportPlatformMacOS.xml
Due: make-rst, doc-status, copyright-headers

[macOS] Use native window drag for the custom editor title bars.
  doc/classes/DisplayServer.xml
  editor/gui/editor_title_bar.cpp
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  servers/display_server.cpp
  servers/display_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

[TextServer] Fix some line breaking edge cases.
  servers/text_server.cpp
  servers/text_server.h
  tests/servers/test_text_server.h
Due: copyright-headers, header-guards

Change file dialog all files filter name from `All Files (*)` to `All Files(*.*)`.
  doc/classes/EditorFileDialog.xml
  editor/gui/editor_file_dialog.cpp
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/windows/display_server_windows.cpp
  scene/gui/file_dialog.cpp
Due: make-rst, doc-status, copyright-headers

[Windows] Fix root and current folder in native file dialog.
  editor/gui/editor_file_dialog.cpp
  editor/gui/editor_file_dialog.h
  platform/windows/display_server_windows.cpp
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Due: copyright-headers, header-guards

[RTL] Fix clearing text with `set_text("")`.
  scene/gui/rich_text_label.cpp
Due: copyright-headers

Fix orphan strings in shader preprocessor
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  servers/rendering/shader_preprocessor.cpp
  servers/rendering/shader_preprocessor.h
Due: copyright-headers, header-guards

[RTL] Parse "\r\n" as a single paragraph break, add some documentation notes.
  doc/classes/RichTextLabel.xml
  doc/classes/TextServer.xml
  scene/gui/rich_text_label.cpp
Due: make-rst, doc-status, copyright-headers

Add runtime file loading to AudioStreamWAV
  doc/classes/AudioStreamWAV.xml
  editor/import/resource_importer_wav.cpp
  editor/import/resource_importer_wav.h
  scene/resources/audio_stream_wav.cpp
  scene/resources/audio_stream_wav.h
  servers/audio/effects/audio_effect_record.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Betsy: Update docs to reflect BC3 and BC5
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

Restore dirty list for BaseMaterial3D but don't use it on resource loader.
  scene/register_scene_types.cpp
  scene/resources/material.cpp
  scene/resources/material.h
Due: copyright-headers, header-guards

Fix run instances dialog scaling bug
  editor/run_instances_dialog.cpp
Due: copyright-headers

Adjust VoxelGI gizmo opacity
  editor/plugins/gizmos/voxel_gi_gizmo_plugin.cpp
Due: copyright-headers

Fix vsync on macOS getting disabled when using afterMinimumDuration
  drivers/metal/rendering_context_driver_metal.mm
Due: copyright-headers

[WebSocket] Clarify that connect_to_url is non-blocking
  modules/websocket/doc_classes/WebSocketPeer.xml
Due: make-rst, doc-status

Fix language server thread crash
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/gdscript_text_document.h
Due: copyright-headers, header-guards

Fix native file dialog filter selection in save dialogs.
  editor/gui/editor_file_dialog.cpp
  scene/gui/file_dialog.cpp
Due: copyright-headers

Destroy EditorFilesystem/EditorSettings on test shutdown
  editor/editor_file_system.cpp
  editor/editor_paths.cpp
  tests/test_main.cpp
Due: copyright-headers

Implement `DisplayServer.beep`.
  doc/classes/DisplayServer.xml
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  servers/display_server.cpp
  servers/display_server.h
  thirdparty/README.md
  thirdparty/wayland-protocols/staging/xdg-system-bell/README
  thirdparty/wayland-protocols/staging/xdg-system-bell/xdg-system-bell-v1.xml
Due: make-rst, doc-status, copyright-headers, header-guards

[RTL] Keep tag stack between `append_text` calls.
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Due: copyright-headers, header-guards

Improve appearance of external links in built-in docs
  editor/editor_help.cpp
Due: copyright-headers

Remove verbose prints from CameraServer on Linux due to being printed every second
  modules/camera/camera_linux.cpp
Due: copyright-headers

Deprecate the pointless unsafe threading model for rendering
  core/config/project_settings.cpp
  core/io/resource_loader.cpp
  core/os/os.h
  main/main.cpp
  platform/macos/os_macos.mm
Due: copyright-headers, header-guards

[FileAccess] Set `last_error` on file read/write errors.
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  drivers/windows/file_access_windows.cpp
  drivers/windows/file_access_windows.h
Due: copyright-headers, header-guards

Revert "Add warning when monochrome icon is not specified"
  platform/android/export/export_plugin.cpp
Due: copyright-headers

Metal: Ensure `texture_create_from_extension` returns correct pixel format
  drivers/metal/rendering_device_driver_metal.mm
Due: copyright-headers

strip trailing slashes in default project path
  editor/project_manager/project_dialog.cpp
Due: copyright-headers

Android: Make monochrome icon optional
  platform/android/export/export_plugin.cpp
  platform/android/java/lib/res/mipmap-anydpi-v26/icon.xml
  platform/android/java/lib/res/mipmap-anydpi-v26/themed_icon.xml
Due: copyright-headers

[Export] Write text server data from memory, instead of using temporary file.
  doc/classes/EditorExportPlatform.xml
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform.h
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix occlusion culling jitter
  modules/raycast/raycast_occlusion_cull.cpp
Due: copyright-headers

Add file and dir temporary utilities
  core/core_bind.cpp
  core/core_bind.h
  core/io/dir_access.cpp
  core/io/dir_access.h
  core/io/file_access.cpp
  core/io/file_access.h
  core/os/os.cpp
  core/os/os.h
  doc/classes/DirAccess.xml
  doc/classes/FileAccess.xml
  doc/classes/OS.xml
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  editor/editor_paths.cpp
  editor/editor_paths.h
  platform/android/java/lib/src/org/godotengine/godot/GodotIO.java
  platform/android/java_godot_io_wrapper.cpp
  platform/android/java_godot_io_wrapper.h
  platform/android/os_android.cpp
  platform/android/os_android.h
  platform/ios/os_ios.h
  platform/ios/os_ios.mm
  platform/macos/os_macos.h
  platform/macos/os_macos.mm
  platform/windows/os_windows.cpp
  platform/windows/os_windows.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add get_connetion_count function to GraphEdit
  doc/classes/GraphEdit.xml
  scene/gui/graph_edit.cpp
  scene/gui/graph_edit.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add a code sample that extracts all files to ZIPReader documentation
  doc/classes/PCKPacker.xml
  modules/zip/doc_classes/ZIPPacker.xml
  modules/zip/doc_classes/ZIPReader.xml
Due: make-rst, doc-status

Fix default preview environment sky.
  editor/plugins/node_3d_editor_plugin.cpp
Due: copyright-headers

Fix UID support in MultiplayerSpawner
  core/io/resource_uid.cpp
  modules/multiplayer/multiplayer_spawner.cpp
  modules/multiplayer/multiplayer_spawner.h
Due: copyright-headers, header-guards

When calling code has length of string, pass it to parse_utf8
  core/config/project_settings.cpp
  core/io/file_access.cpp
  core/io/file_access_pack.cpp
  core/io/http_client_tcp.cpp
  core/io/resource_format_binary.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_cache.cpp
  modules/mono/utils/string_utils.cpp
  platform/android/export/export_plugin.cpp
  platform/windows/windows_utils.cpp
Due: copyright-headers

[macOS] Handle bundles as files in the embedded file dialogs.
  core/io/dir_access.cpp
  core/io/dir_access.h
  doc/classes/DirAccess.xml
  editor/gui/editor_file_dialog.cpp
  editor/gui/editor_file_dialog.h
  platform/macos/dir_access_macos.h
  platform/macos/dir_access_macos.mm
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Due: make-rst, doc-status, copyright-headers, header-guards

Android: Set FileDialog default Filesystem root
  scene/gui/file_dialog.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
