Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

GDScript: Re-add `ord()` function
  core/variant/variant_call.cpp
  doc/classes/String.xml
  doc/classes/StringName.xml
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript_utility_functions.cpp
Due: make-rst, doc-status, copyright-headers

Fix ScriptEditor error line out of bounds
  editor/plugins/script_text_editor.cpp
Due: copyright-headers

Add depth function for spatial materials
  doc/classes/BaseMaterial3D.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/material_storage.h
  scene/resources/material.cpp
  scene/resources/material.h
  scene/resources/visual_shader.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/shader_language.h
  servers/rendering/shader_types.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix a crash when the first line of GDScript code is indented.
  modules/gdscript/gdscript_tokenizer.cpp
Due: copyright-headers

Update filesystem dock thumbnail size after changing setting
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Due: copyright-headers, header-guards

Slider: Add tick position property and tick offset theme item
  doc/classes/Slider.xml
  scene/gui/slider.cpp
  scene/gui/slider.h
  scene/theme/default_theme.cpp
  scene/theme/icons/hslider_tick.svg
  scene/theme/icons/vslider_tick.svg
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Improve performance of `visible_characters`updates in `VC_CHARS_BEFORE_SHAPING` mode.
  scene/gui/rich_text_label.cpp
Due: copyright-headers

Make `IPAddress` to `String` conversion explicit.
  core/io/ip.cpp
  core/io/ip_address.h
  core/io/packet_peer_udp.cpp
  core/variant/variant_internal.h
  editor/editor_settings.cpp
Due: copyright-headers, header-guards

Add stencil support for spatial materials
  doc/classes/BaseMaterial3D.xml
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/material_storage.h
  drivers/gles3/storage/render_scene_buffers_gles3.cpp
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  editor/plugins/text_shader_editor.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/material.cpp
  scene/resources/material.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_compiler.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  servers/rendering/shader_types.cpp
  servers/rendering/shader_types.h
Due: make-rst, doc-status, copyright-headers, header-guards

Allow customizing FileDialog's features
  doc/classes/FileDialog.xml
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
Due: make-rst, doc-status, copyright-headers, header-guards

LSP: Fix class documentation to include brief
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/tests/scripts/lsp/doc_comments.gd
  modules/gdscript/tests/test_lsp.h
Due: copyright-headers, header-guards

Mobile: Fix lightmap instances count
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
Due: copyright-headers

Fix `script` property of custom resources inherited from scripts are not saved
  core/io/resource_format_binary.cpp
  scene/resources/resource_format_text.cpp
Due: copyright-headers

`SceneTreeFTI` - Fix `force_update` flag getting out of sync with invisible nodes
  scene/main/scene_tree_fti.cpp
Due: copyright-headers

Fix 3D Ruler stuck in viewport if tool mode is switched during measurement
  editor/plugins/node_3d_editor_plugin.cpp
Due: copyright-headers

Add `line_breaking_strictness` project setting.
  doc/classes/ProjectSettings.xml
  main/main.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
Due: make-rst, doc-status, copyright-headers, header-guards

MacOS: Initialize member field
  platform/macos/embedded_gl_manager.h
Due: copyright-headers, header-guards

CodeEditor: Make possible to select and copy error text
  editor/code_editor.cpp
  editor/code_editor.h
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/text_editor.cpp
  editor/plugins/text_shader_editor.cpp
Due: copyright-headers, header-guards

Fix IME window position not taking into account window transform
  scene/gui/line_edit.cpp
  scene/gui/text_edit.cpp
Due: copyright-headers

Add PackedByteArray conversion to PackedVector2Array, PackedVector3Array, PackedVector4Array and PackedColorArray
  core/variant/variant_call.cpp
  doc/classes/PackedByteArray.xml
Due: make-rst, doc-status, copyright-headers

Add movement threshold before activating viewport rotation gizmo dragging
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Fix FileSystemDock signal connection for path navigation text box
  editor/filesystem_dock.cpp
Due: copyright-headers

Fix `Input.vibrate_handheld` on Android.
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
Due: none

Better explain texture repeat
  doc/classes/CanvasItem.xml
Due: make-rst, doc-status

FTI - `global_transform_interpolated()` on demand for invisible nodes
  scene/3d/node_3d.cpp
Due: copyright-headers

[Web] Include emscripten headers by default
  platform/web/detect.py
Due: none

Rename `String::resize` to `resize_uninitialized`, to better communicate to callers that new characters must be initialized.
  core/config/project_settings.cpp
  core/extension/gdextension_interface.cpp
  core/io/file_access.cpp
  core/io/file_access_pack.cpp
  core/io/plist.cpp
  core/io/resource.cpp
  core/io/resource_uid.cpp
  core/math/color.cpp
  core/string/optimized_translation.cpp
  core/string/string_buffer.h
  core/string/string_builder.cpp
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  drivers/windows/dir_access_windows.cpp
  drivers/windows/file_access_windows.cpp
  modules/text_server_adv/text_server_adv.cpp
  platform/macos/godot_content_view.mm
  platform/windows/display_server_windows.cpp
  platform/windows/drop_target_windows.cpp
  platform/windows/export/export_plugin.cpp
  platform/windows/native_menu_windows.cpp
  platform/windows/os_windows.cpp
  scene/gui/rich_text_label.cpp
  servers/rendering/shader_preprocessor.cpp
  tests/servers/rendering/test_shader_preprocessor.h
Due: copyright-headers, header-guards

Fix scale from cursor in Animation Player
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Due: copyright-headers, header-guards

Make conversions from `NodePath` to `String` explicit.
  core/string/node_path.h
  core/variant/variant.cpp
  editor/animation_bezier_editor.cpp
  editor/animation_track_editor.cpp
  editor/animation_track_editor_plugins.cpp
  editor/debugger/script_editor_debugger.cpp
  editor/editor_node.cpp
  editor/editor_properties.cpp
  editor/import/3d/editor_import_collada.cpp
  editor/import/3d/post_import_plugin_skeleton_renamer.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/animation_library_editor.cpp
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
  editor/plugins/multimesh_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/packed_scene_translation_parser_plugin.cpp
  editor/plugins/root_motion_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/skeleton_3d_editor_plugin.cpp
  editor/scene_tree_dock.cpp
  modules/fbx/fbx_document.cpp
  modules/gdscript/language_server/gdscript_workspace.cpp
  modules/gltf/gltf_document.cpp
  modules/mono/editor/code_completion.cpp
  modules/multiplayer/editor/replication_editor.cpp
  modules/multiplayer/multiplayer_debugger.cpp
  modules/multiplayer/scene_cache_interface.cpp
  modules/multiplayer/scene_rpc_interface.cpp
  scene/3d/lightmap_gi.cpp
  scene/3d/node_3d.cpp
  scene/3d/physics/area_3d.cpp
  scene/gui/control.cpp
  scene/main/node.cpp
  scene/main/scene_tree.cpp
  scene/main/viewport.cpp
  scene/resources/animation.cpp
Due: copyright-headers, header-guards

Vulkan Mobile: Fix reading builtins in `light()` of spatial shader
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: none

GDScript: Add missing type conversions in `for range`
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/tests/scripts/runtime/features/for_range.gd
  modules/gdscript/tests/scripts/runtime/features/for_range.out
Due: copyright-headers, header-guards

Fix outdated MODE_FULLSCREEN description
  doc/classes/Window.xml
Due: make-rst, doc-status

Add a smoke test to `Span` in debug builds to recover from non-empty `nullptr` `Span`.
  core/templates/span.h
  tests/core/templates/test_span.h
Due: copyright-headers, header-guards

Fix EditorObjectSelector popup size
  editor/gui/editor_object_selector.cpp
Due: copyright-headers

Add support for exporting to Google Play Instant
  platform/android/doc_classes/EditorExportPlatformAndroid.xml
  platform/android/export/export_plugin.cpp
  platform/android/export/gradle_export_util.cpp
  platform/android/java/app/build.gradle
  platform/android/java/app/config.gradle
Due: make-rst, doc-status, copyright-headers

Fix the VRS attachment being incorrectly added to color_attachments
  servers/rendering/rendering_device.cpp
Due: copyright-headers

Move font related project settings definitions to `TextServer`.
  scene/theme/theme_db.cpp
  servers/text_server.cpp
Due: copyright-headers

Improve error messages for method calls expecting only 1 argument
  core/math/expression.cpp
  core/variant/variant.cpp
  modules/gdscript/gdscript_vm.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Callable.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Callable.generics.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/ExceptionUtils.cs
  servers/rendering/shader_language.cpp
Due: copyright-headers

Fix bent normal maps not working with triplanar UVs
  scene/resources/material.cpp
Due: copyright-headers
