Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Fix error spam when dragging text in the script editor.
  editor/inspector/editor_properties.cpp
Due: copyright-headers

Change AudioStreamRandomizer random_pitch slider to random_pitch_semitones
  doc/classes/AudioStreamRandomizer.xml
  servers/audio/audio_stream.cpp
  servers/audio/audio_stream.h
Due: make-rst, doc-status, copyright-headers, header-guards

Improve performance of CSharpLanguage::reload_assemblies
  modules/mono/csharp_script.cpp
  modules/mono/csharp_script.h
Due: copyright-headers, header-guards

Find solution file by project assembly name
  modules/mono/editor/GodotTools/GodotTools/GodotTools.csproj
  modules/mono/editor/GodotTools/GodotTools/Internals/GodotSharpDirs.cs
Due: none

CLI issues
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: copyright-headers, header-guards

[.Net] Implment `GodotEnableExportNullChecks` for exported fields
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ExtensionMethods.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Godot.SourceGenerators.props
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGenerator.cs
Due: none

Refactor Bottom Panel to be a TabContainer
  doc/classes/EditorPlugin.xml
  editor/debugger/debugger_editor_plugin.cpp
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
  editor/docks/editor_dock_manager.cpp
  editor/docks/editor_dock_manager.h
  editor/editor_log.cpp
  editor/editor_log.h
  editor/editor_node.cpp
  editor/gui/editor_bottom_panel.cpp
  editor/gui/editor_bottom_panel.h
  editor/script/script_editor_plugin.cpp
  editor/shader/shader_editor_plugin.cpp
  editor/shader/shader_editor_plugin.h
  editor/themes/editor_theme_manager.cpp
  editor/version_control/version_control_editor_plugin.cpp
  editor/version_control/version_control_editor_plugin.h
Due: make-rst, doc-status, copyright-headers, header-guards

Update scene/gui/scroll_container.h
  scene/gui/scroll_container.h
Due: copyright-headers, header-guards

Fixed Scroll To Center Bug
  scene/gui/scroll_container.cpp
Due: copyright-headers

Update .gitignore
  .gitignore
Due: none

Added Content Alignment Feature
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
Due: copyright-headers, header-guards

Added Docs
  doc/classes/ScrollContainer.xml
Due: make-rst, doc-status

Done Requested Changes
  doc/classes/ScrollContainer.xml
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
Due: make-rst, doc-status, copyright-headers, header-guards

Change horizontal content align parameter type to work properly.
  scene/gui/scroll_container.h
Due: copyright-headers, header-guards

Fix missing newline at end of ScrollContainer.xml
  doc/classes/ScrollContainer.xml
Due: make-rst, doc-status

Fixed Getter/Setter Methods
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
Due: copyright-headers, header-guards

Fixed Docs
  doc/classes/ScrollContainer.xml
Due: make-rst, doc-status

Fix XML formatting and improve descriptions in ScrollContainer
  doc/classes/ScrollContainer.xml
Due: make-rst, doc-status

Revert "Fixed Docs"
  doc/classes/ScrollContainer.xml
Due: make-rst, doc-status

Implement proper nullability warning suppression.
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ExtensionMethods.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGenerator.cs
Due: none

Fix editor stuck in dragging state
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers

Initial refractoring for inheritance support
  core/io/resource_format_binary.cpp
  core/object/object.h
  modules/mono/csharp_script.cpp
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGenerator.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/CSharpInstanceBridge.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ManagedCallbacks.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/GodotObject.base.cs
  modules/mono/mono_gd/gd_mono_cache.cpp
  modules/mono/mono_gd/gd_mono_cache.h
  scene/resources/packed_scene.cpp
  scene/resources/resource_format_text.cpp
Due: copyright-headers, header-guards

Fix FileSystem item color not updated after changing main scene
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
Due: copyright-headers, header-guards

Adds Default Window Size.
  editor/run/game_view_plugin.cpp
Due: copyright-headers

Adds Resolution to Editor Settings and chnage gameview window size on change.
  editor/run/game_view_plugin.cpp
  editor/run/game_view_plugin.h
  editor/settings/editor_settings.cpp
Due: copyright-headers, header-guards

Add docs
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status

Fix pre-commit
  editor/run/game_view_plugin.cpp
Due: copyright-headers

Adds SafeArea.
  core/config/engine.cpp
  core/config/engine.h
  doc/classes/EditorSettings.xml
  editor/run/embedded_process.cpp
  editor/run/embedded_process.h
  editor/run/game_view_plugin.cpp
  editor/settings/editor_settings.cpp
  main/main.cpp
  scene/gui/safe_area_container.cpp
  scene/gui/safe_area_container.h
  scene/register_scene_types.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Make mute game button style consistent
  editor/run/game_view_plugin.cpp
  editor/run/game_view_plugin.h
Due: copyright-headers, header-guards

Specify the node this will be operating under, to prevent a crash if the user navigates to a different node and then triggers the undo operation.
  editor/scene/2d/polygon_2d_editor_plugin.cpp
  editor/scene/2d/polygon_2d_editor_plugin.h
Due: copyright-headers, header-guards

Add `RequiredParam<T>` and `RequiredValue<T>` to mark `Object *` arguments and return values as required
  core/error/error_macros.h
  core/extension/extension_api_dump.cpp
  core/extension/gdextension_interface.h
  core/object/object.h
  core/typedefs.h
  core/variant/binder_common.h
  core/variant/method_ptrcall.h
  core/variant/required_ptr.h
  core/variant/type_info.h
  core/variant/variant_internal.h
  tests/core/object/test_object.h
Due: copyright-headers, header-guards

Use `RequiredParam` and `RequiredResult` in a handful of places in order to test
  core/io/resource_saver.cpp
  core/io/resource_saver.h
  core/variant/method_ptrcall.h
  core/variant/required_ptr.h
  core/variant/type_info.h
  core/variant/variant_internal.h
  scene/animation/tween.cpp
  scene/animation/tween.h
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
Due: copyright-headers, header-guards

Fix call time for NOTIFICATION_EXPORT_ASSIGNED
  core/io/resource_format_binary.cpp
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGenerator.cs
  scene/resources/packed_scene.cpp
  scene/resources/resource_format_text.cpp
Due: copyright-headers

Add CSG2D for boolean operations
  modules/csg_2d/SCsub
  modules/csg_2d/config.py
  modules/csg_2d/csg_2d.cpp
  modules/csg_2d/csg_2d.h
  modules/csg_2d/csg_capsule_2d.cpp
  modules/csg_2d/csg_capsule_2d.h
  modules/csg_2d/csg_circle_2d.cpp
  modules/csg_2d/csg_circle_2d.h
  modules/csg_2d/csg_mesh_2d.cpp
  modules/csg_2d/csg_mesh_2d.h
  modules/csg_2d/csg_polygon_2d.cpp
  modules/csg_2d/csg_polygon_2d.h
  modules/csg_2d/csg_rectangle_2d.cpp
  modules/csg_2d/csg_rectangle_2d.h
  modules/csg_2d/csg_shape_2d.cpp
  modules/csg_2d/csg_shape_2d.h
  modules/csg_2d/doc_classes/CSGCapsule2D.xml
  modules/csg_2d/doc_classes/CSGCircle2D.xml
  modules/csg_2d/doc_classes/CSGCombiner2D.xml
  modules/csg_2d/doc_classes/CSGMesh2D.xml
  modules/csg_2d/doc_classes/CSGPolygon2D.xml
  modules/csg_2d/doc_classes/CSGPrimitive2D.xml
  modules/csg_2d/doc_classes/CSGRectangle2D.xml
  modules/csg_2d/doc_classes/CSGShape2D.xml
  modules/csg_2d/editor/csg_editor_plugin_2d.cpp
  modules/csg_2d/editor/csg_editor_plugin_2d.h
  modules/csg_2d/icons/CSGCapsule2D.svg
  modules/csg_2d/icons/CSGCircle2D.svg
  modules/csg_2d/icons/CSGCombiner2D.svg
  modules/csg_2d/icons/CSGMesh2D.svg
  modules/csg_2d/icons/CSGPolygon2D.svg
  modules/csg_2d/icons/CSGRectangle2D.svg
  modules/csg_2d/register_types.cpp
  modules/csg_2d/register_types.h
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Fix hover state for game speed button in game window
  editor/run/game_view_plugin.cpp
Due: copyright-headers

Add GridMap octant queries and tests
  modules/gridmap/doc_classes/GridMap.xml
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
  modules/gridmap/tests/test_grid_map.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix Light2D none shadow filter to use nearest sampling
  servers/rendering/renderer_rd/shaders/canvas.glsl
Due: none

Extend ResourceLoader Retrieval capabilities
  core/core_bind.cpp
  core/core_bind.h
  core/io/resource.cpp
  core/io/resource.h
  core/io/resource_loader.cpp
  core/io/resource_loader.h
Due: copyright-headers, header-guards

Fix author names not showing up in the AssetLib
  editor/asset_library/asset_library_editor_plugin.cpp
  editor/asset_library/asset_library_editor_plugin.h
  scene/gui/link_button.cpp
  scene/gui/link_button.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
