Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Remove redundant `ClearData` struct from `GDScript`
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_cache.cpp
Due: copyright-headers, header-guards

Toggle fullscreen mode when pressing Alt + Enter by default
  core/config/project_settings.cpp
  core/input/input_map.cpp
  doc/classes/ProjectSettings.xml
  doc/classes/Window.xml
  scene/main/window.cpp
  scene/main/window.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Add support for Swift Package Manager dependencies in Apple export plugins
  editor/export/editor_export_platform_apple_embedded.cpp
  editor/export/editor_export_platform_apple_embedded.h
  editor/export/plugin_config_apple_embedded.cpp
  editor/export/plugin_config_apple_embedded.h
  misc/dist/apple_embedded_xcode/godot_apple_embedded.xcodeproj/project.pbxproj
Due: copyright-headers, header-guards

Add octant visualization to `GridMap`
  modules/gridmap/doc_classes/GridMap.xml
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Improve connection bind deleting
  editor/scene/connections_dialog.cpp
  editor/scene/connections_dialog.h
Due: copyright-headers, header-guards

GLTF: Fix blend shape value tracks not being exported
  modules/gltf/gltf_document.cpp
Due: copyright-headers

GDScript: Prevent error spam during compile-time evaluation of some functions
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_utility_functions.cpp
  modules/gdscript/tests/scripts/analyzer/errors/compile_time_errors.gd
  modules/gdscript/tests/scripts/analyzer/errors/compile_time_errors.out
Due: copyright-headers

Fix Window clamping to embedder on resize
  scene/main/viewport.cpp
  tests/scene/test_viewport.cpp
Due: copyright-headers

Presort text draw calls.
  doc/classes/RenderingServer.xml
  drivers/gles3/rasterizer_canvas_gles3.cpp
  editor/script/script_text_editor.cpp
  scene/gui/code_edit.cpp
  scene/gui/label.cpp
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
  servers/rendering/renderer_canvas_render.cpp
  servers/rendering/renderer_canvas_render.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Editor: Wrap Long Project Title
  editor/project_manager/project_list.cpp
  editor/project_manager/project_list.h
  editor/project_manager/project_manager.cpp
  editor/project_manager/project_tag.cpp
Due: copyright-headers, header-guards

Add CanvasItemEditor drag and drop for Mesh resources
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
Due: copyright-headers, header-guards

Add quaternion rotation targets to Generic6DOFJoint3D:
  doc/classes/Generic6DOFJoint3D.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/PhysicsServer3DExtension.xml
  modules/godot_physics_3d/godot_physics_server_3d.cpp
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/jolt_physics/joints/jolt_generic_6dof_joint_3d.cpp
  modules/jolt_physics/joints/jolt_generic_6dof_joint_3d.h
  modules/jolt_physics/jolt_physics_server_3d.cpp
  modules/jolt_physics/jolt_physics_server_3d.h
  modules/jolt_physics/misc/jolt_type_conversions.h
  scene/3d/physics/joints/generic_6dof_joint_3d.cpp
  scene/3d/physics/joints/generic_6dof_joint_3d.h
  servers/physics_3d/physics_server_3d.cpp
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_dummy.h
  servers/physics_3d/physics_server_3d_extension.cpp
  servers/physics_3d/physics_server_3d_extension.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
  tests/scene/test_generic_6dof_joint_3d.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Highlight dock slot hovered in the popup
  editor/docks/dock_tab_container.cpp
  editor/docks/dock_tab_container.h
  editor/docks/editor_dock_manager.cpp
  editor/docks/editor_dock_manager.h
Due: copyright-headers, header-guards

Android editor: Update game menu bar to match desktop editor
  platform/android/editor/game_menu_utils_jni.cpp
  platform/android/editor/game_menu_utils_jni.h
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotGame.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/embed/GameMenuFragment.kt
  platform/android/java/editor/src/main/res/color/button_group_item_text.xml
  platform/android/java/editor/src/main/res/drawable/baseline_expand_more_16.xml
  platform/android/java/editor/src/main/res/drawable/button_group_background.xml
  platform/android/java/editor/src/main/res/drawable/button_group_item_bg.xml
  platform/android/java/editor/src/main/res/layout/game_menu_fragment_layout.xml
  platform/android/java/editor/src/main/res/menu/select_dropdown_menu.xml
  platform/android/java/editor/src/main/res/values/strings.xml
  platform/android/java/lib/src/main/java/org/godotengine/godot/editor/utils/GameMenuUtils.kt
Due: copyright-headers, header-guards

Update AUTHORS and DONORS list
  .mailmap
  AUTHORS.md
  DONORS.md
Due: none

Expose fuzzy search classes in public api
  core/register_core_types.cpp
  core/string/fuzzy_search.cpp
  core/string/fuzzy_search.h
  doc/classes/FuzzySearch.xml
  doc/classes/FuzzySearchMatch.xml
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
  editor/script/script_editor_plugin.cpp
  scene/gui/popup_menu.cpp
  tests/core/string/test_fuzzy_search.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

LSP: Fix `gdscript_client/changeWorkspace` notification
  modules/gdscript/language_server/gdscript_language_protocol.cpp
  modules/gdscript/language_server/gdscript_workspace.h
  modules/gdscript/tests/test_lsp.h
Due: copyright-headers, header-guards

Add signals to ResourcePreloader, connect to ResourcePreloaderEditor
  editor/scene/resource_preloader_editor_plugin.cpp
  scene/main/resource_preloader.cpp
Due: copyright-headers

Revert "Presort text draw calls."
  doc/classes/RenderingServer.xml
  drivers/gles3/rasterizer_canvas_gles3.cpp
  editor/script/script_text_editor.cpp
  scene/gui/code_edit.cpp
  scene/gui/label.cpp
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
  servers/rendering/renderer_canvas_render.cpp
  servers/rendering/renderer_canvas_render.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/rendering/rendering_server_default.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Exposes joint_rid based on Riordan-DCs approach.
  doc/classes/PhysicalBone3D.xml
  scene/3d/physics/physical_bone_3d.cpp
  scene/3d/physics/physical_bone_3d.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix issues in Container types related to max size
  scene/gui/flow_container.cpp
  scene/gui/graph_node.cpp
  scene/gui/grid_container.cpp
Due: copyright-headers

Allow negative indices in TreeItem's set_button_*() methods
  scene/gui/tree.cpp
Due: copyright-headers

Fix converting v3 mesh normals and tangents
  scene/resources/mesh.cpp
Due: copyright-headers

Fix context menu not opening favorite sections in Editor Inspector and remove the unused inspector_path concept
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_inspector.h
  editor/scene/3d/skeleton_3d_editor_plugin.cpp
Due: copyright-headers, header-guards

Make all AudioStreamPlayer type volume_db sliders cap out at 24dB, add or_greater
  scene/2d/audio_stream_player_2d.cpp
  scene/3d/audio_stream_player_3d.cpp
  scene/audio/audio_stream_player.cpp
Due: copyright-headers

Fix `hint_default_transparent` used with `sampler2DArray`
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
Due: copyright-headers

clear_cache_on_stop property for AnimationPlayer
  doc/classes/AnimationPlayer.xml
  scene/animation/animation_mixer.cpp
  scene/animation/animation_mixer.h
  scene/animation/animation_player.cpp
  scene/animation/animation_player.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix scene tab titles not updating on language change
  editor/scene/editor_scene_tabs.cpp
Due: copyright-headers

Fix Abort on Reset functionality in OneShot
  scene/animation/animation_blend_tree.cpp
Due: copyright-headers

Fix visual glitch with connections lines in `GraphEdit`
  scene/gui/graph_edit.cpp
Due: copyright-headers

Improve decal gizmo in the 3D editor
  editor/scene/3d/gizmos/decal_gizmo_plugin.cpp
  editor/scene/3d/gizmos/light_3d_gizmo_plugin.cpp
Due: copyright-headers

Fix layout rectangle computations
  doc/classes/Control.xml
  scene/gui/control.cpp
  scene/gui/control.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

[.NET] Add `IgnoreMember` attribute to exclude members from Godot
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportedFields_ScriptProperties.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportedProperties_ScriptProperties.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ExportedFields.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ExportedProperties.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/Methods.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ScriptBoilerplate.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ExtensionMethods.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/GodotClasses.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptMethodsGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertyDefValGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSerializationGenerator.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/IgnoreMemberAttribute.cs
  modules/mono/glue/GodotSharp/GodotSharp/GodotSharp.csproj
Due: none

Improve performance of WAV parsing
  scene/resources/audio_stream_wav.cpp
Due: copyright-headers

Fix `StringName` temporary loss in macOS export plugin, potentially leading to crashes.
  platform/macos/export/export_plugin.cpp
Due: copyright-headers

Fix scene tree drag-n-drop regression
  scene/gui/tree.cpp
Due: copyright-headers

Expose mesh vertex count method in SoftBody3D
  doc/classes/SoftBody3D.xml
  scene/3d/physics/soft_body_3d.cpp
  scene/3d/physics/soft_body_3d.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Add margin drop support for dock slots
  editor/docks/dock_tab_container.cpp
  editor/docks/dock_tab_container.h
  editor/docks/editor_dock_manager.cpp
  editor/docks/editor_dock_manager.h
  editor/editor_node.cpp
  editor/gui/editor_bottom_panel.cpp
Due: copyright-headers, header-guards

Organize 3D editor code and rename a few 3D things
  editor/animation/animation_player_editor_plugin.cpp
  editor/animation/animation_player_editor_plugin.h
  editor/animation/animation_track_editor.cpp
  editor/animation/animation_track_editor.h
  editor/editor_node.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/inspector/editor_properties.cpp
  editor/plugins/editor_plugin.cpp
  editor/plugins/editor_plugin.h
  editor/register_editor_types.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_viewport.cpp
  editor/scene/3d/skeleton_3d_editor_plugin.cpp
  editor/scene/material_editor_plugin.h
  editor/scene/sprite_frames_editor_plugin.cpp
  editor/scene/texture/texture_region_editor_plugin.cpp
  editor/settings/editor_settings_dialog.cpp
  editor/settings/editor_settings_dialog.h
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/visual_shader/editor/visual_shader_editor_plugin.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

