Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

GDScript: Reduce memory overhead from hot reloading
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_compiler.cpp
Due: copyright-headers, header-guards

Fix incorrect margin height calculation in WindowWrapper
  editor/gui/window_wrapper.cpp
Due: copyright-headers

Remove duplicated `path` from `GDScriptExtendParser`
  modules/gdscript/gdscript_parser.h
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_extend_parser.h
Due: copyright-headers, header-guards

Remove unused `GDScript::member_default_values`
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_compiler.h
Due: copyright-headers, header-guards

Add safety check to `Animation::track_move_up` so negative indices don't crash it
  scene/resources/animation.cpp
Due: copyright-headers

Fix the script of value type of `Dictionary` not being set
  core/variant/dictionary.cpp
Due: copyright-headers

Show doc tooltips in quick settings
  editor/project_manager/project_manager.cpp
  editor/project_manager/quick_settings_dialog.cpp
  editor/project_manager/quick_settings_dialog.h
Due: copyright-headers, header-guards

Decouple shadow & falloff from attenuation
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
  servers/rendering/shader_types.cpp
Due: copyright-headers

Wayland: Fix context menu reopening after right-click dismissal
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
Due: copyright-headers, header-guards

fix for #121263
  scene/resources/blit_material.cpp
Due: copyright-headers

Fix GridMap octant debug not freeing mesh
  modules/gridmap/grid_map.cpp
Due: copyright-headers

fixed code style for #121263
  scene/resources/blit_material.cpp
Due: copyright-headers

fixed code style
  scene/resources/blit_material.cpp
Due: copyright-headers

fixed code styling
  scene/resources/blit_material.cpp
Due: copyright-headers

add fail condition if node is null
  modules/gltf/gltf_state.cpp
Due: copyright-headers

Deprecate ScriptEditorBase signals
  doc/classes/ScriptEditorBase.xml
  editor/script/script_editor_base.cpp
  editor/script/script_editor_plugin.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers

Fix out-of-bounds access on invalid binary resource string length
  core/io/resource_format_binary.cpp
Due: copyright-headers

Add attenuation derivation & fix area light
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: copyright-headers

Use Standard syntax highlighter in CodeEditorBase instead of Plain Text
  editor/script/script_editor_base.cpp
Due: copyright-headers

Fix code style
  editor/script/script_editor_base.cpp
Due: copyright-headers

Allow getting aabb of collision object shapes
  modules/godot_physics_3d/godot_physics_server_3d.cpp
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/jolt_physics/jolt_physics_server_3d.cpp
  modules/jolt_physics/jolt_physics_server_3d.h
  scene/3d/physics/collision_object_3d.cpp
  scene/3d/physics/collision_object_3d.h
  servers/physics_3d/physics_server_3d.cpp
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_dummy.h
  servers/physics_3d/physics_server_3d_extension.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
Due: copyright-headers, header-guards

Add missing docs for new methods
  doc/classes/CollisionObject3D.xml
  doc/classes/PhysicsServer3D.xml
Due: make-rst, doc-status, validate-xml

Move set zoom above script init
  editor/script/script_editor_plugin.cpp
Due: copyright-headers

Fixed formatting
  servers/rendering/renderer_rd/shaders/scene_forward_lights_inc.glsl
Due: none

Fix certain Node shortcuts not functioning
  editor/docks/scene_tree_dock.cpp
Due: copyright-headers

Fix crash in GLTFNode.get_scene_node_path
  modules/gltf/structures/gltf_node.cpp
Due: copyright-headers

Apply suggestion from @AThousandShips
  scene/2d/camera_2d.cpp
Due: copyright-headers

Apply suggestion from @AThousandShips
  doc/classes/Camera2D.xml
Due: make-rst, doc-status, validate-xml

Fix BlitMaterial blend mode range check
  scene/resources/blit_material.cpp
  scene/resources/blit_material.h
Due: copyright-headers, header-guards

Added range check to get_texture_tex_id()
  servers/camera/camera_feed.cpp
Due: copyright-headers

Fix GLTFDocument.import_object_model_property crash
  modules/gltf/gltf_document.cpp
Due: copyright-headers

Add empty check on p_path, to check if parameter was valid
  core/io/resource.cpp
Due: copyright-headers

ERR_FAIL_COND_V() does not work inside void function so changed to ERR_FAIL_COND_MSG()
  core/io/resource.cpp
Due: copyright-headers

Fix trails sections not being updated
  scene/3d/gpu_particles_3d.cpp
Due: copyright-headers

Svgo'd 9 Patch Sprite Icon
  editor/icons/NinePatchSprite.svg
Due: svgo

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

