Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Warn if virtual_keyboard_get_height() is unsupported
  servers/display_server.cpp
Due: copyright-headers

Fix exclusive fullscreen on Wayland
  doc/classes/DisplayServer.xml
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: make-rst, doc-status, copyright-headers

Fix get_meta_list return type in description
  doc/classes/Object.xml
Due: make-rst, doc-status

astcenc: Allow runtime decompression of ASTC formats
  modules/astcenc/SCsub
  modules/astcenc/config.py
  modules/astcenc/image_compress_astcenc.cpp
  modules/astcenc/image_compress_astcenc.h
  modules/astcenc/register_types.cpp
Due: copyright-headers, header-guards

Delete .idsig on One Click Deploy
  platform/android/export/export_plugin.cpp
Due: copyright-headers

Simplify_`NavMeshQueries3D::_query_task_build_path_corridor`
  modules/navigation/3d/nav_mesh_queries_3d.cpp
  modules/navigation/nav_utils.h
Due: copyright-headers, header-guards

[TextServer] Fix space trimming around mandatory line breaks.
  servers/text_server.cpp
  tests/servers/test_text_server.h
Due: copyright-headers, header-guards

Make Inspector search inside sub-resources
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties.cpp
  editor/editor_properties.h
Due: copyright-headers, header-guards

[Core] Fix UID encoding
  core/io/resource_uid.cpp
  tests/core/io/test_resource_uid.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

Fix incorrect Unicode key mapping on Windows
  platform/windows/display_server_windows.cpp
Due: copyright-headers

added preservation of emission ring properties during conversion from GPUParticles3D to CPUParticles3D and vice versa
  scene/3d/cpu_particles_3d.cpp
  scene/3d/gpu_particles_3d.cpp
Due: copyright-headers

Don't toast shader code
  servers/rendering/rendering_device_binds.h
Due: copyright-headers, header-guards

ColorPicker: Improve the accuracy of hue slider in OKHSL mode
  doc/classes/ColorPicker.xml
  scene/gui/color_mode.cpp
  scene/gui/color_mode.h
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  scene/theme/default_theme.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Consolidate `Variant` int and float conversion functions to reduce duplicate logic.
  core/variant/variant.cpp
  core/variant/variant.h
Due: copyright-headers, header-guards

Fix ProjectTag button variation
  editor/project_manager/project_tag.cpp
  editor/themes/editor_theme_manager.cpp
  scene/resources/theme.cpp
Due: copyright-headers

Remove TODO from RenderingDevice regarding thread safety.
  servers/rendering/rendering_device.cpp
Due: copyright-headers

Speed up `Line2D._edit_get_rect()`
  scene/2d/line_2d.cpp
Due: copyright-headers

Don't print error when updating terrains tree without layer
  editor/plugins/tiles/tile_map_layer_editor.cpp
Due: copyright-headers

Don't scroll to selected file in FileSystem when saving scenes
  editor/filesystem_dock.cpp
  editor/filesystem_dock.h
Due: copyright-headers, header-guards

Add an editor setting for the GridMap grid color
  doc/classes/EditorSettings.xml
  editor/editor_property_name_processor.cpp
  editor/editor_settings.cpp
  modules/gridmap/editor/grid_map_editor_plugin.cpp
Due: make-rst, doc-status, copyright-headers

Fix converting root Sprite2D
  editor/plugins/sprite_2d_editor_plugin.cpp
Due: copyright-headers

Stop AudioStreamPlayback only if it's not playing
  servers/audio_server.cpp
Due: copyright-headers

Move enum BoneAxis to SkeletonModifier from LookAtModifier
  doc/classes/LookAtModifier3D.xml
  doc/classes/SkeletonModifier3D.xml
  scene/3d/look_at_modifier_3d.cpp
  scene/3d/look_at_modifier_3d.h
  scene/3d/skeleton_modifier_3d.cpp
  scene/3d/skeleton_modifier_3d.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix embedded game focus border
  editor/plugins/embedded_process.cpp
Due: copyright-headers

Fix OpenGL 3 fallback wording
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

Android Editor: Fix themed icon
  platform/android/java/editor/src/main/AndroidManifest.xml
Due: none

Make sure marked nodes are reset on scene change
  editor/gui/scene_tree_editor.cpp
Due: copyright-headers

Fix embedding not working intermittently
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/windows/display_server_windows.cpp
Due: copyright-headers

Update Light2D rect_cache even when not using shadows.
  servers/rendering/renderer_viewport.cpp
Due: copyright-headers

Make the GridMap editor cursor translucent
  modules/gridmap/editor/grid_map_editor_plugin.cpp
Due: copyright-headers

Fix warning in CollisionPolygon2D documentation description
  doc/classes/CollisionPolygon2D.xml
Due: make-rst, doc-status

Add support for colored shadows in LightmapGI
  modules/lightmapper_rd/lm_compute.glsl
Due: none

[Dictionary Property Editor] Use property editors instead of labels to display keys.
  doc/classes/EditorProperty.xml
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_properties_array_dict.cpp
  editor/editor_properties_array_dict.h
Due: make-rst, doc-status, copyright-headers, header-guards

Editor: Fix crash when using `--import --verbose` due to use-after-free
  editor/editor_resource_preview.cpp
  editor/editor_resource_preview.h
Due: copyright-headers, header-guards

[Windows] Fix StatusIndicator crash with empty tooltip (and few other similar unsafe `ptr()` uses).
  platform/windows/display_server_windows.cpp
Due: copyright-headers

GLTFDocument test case
  tests/data/models/cube.bin
  tests/data/models/cube.gltf
  tests/data/models/suzanne.glb
  tests/scene/test_gltf_document.h
Due: copyright-headers, header-guards

[TextServer] Improve embedded objects handling performance.
  doc/classes/TextServer.xml
  doc/classes/TextServerExtension.xml
  editor/gui/editor_spin_slider.cpp
  modules/text_server_adv/text_server_adv.cpp
  modules/text_server_adv/text_server_adv.h
  modules/text_server_fb/text_server_fb.cpp
  modules/text_server_fb/text_server_fb.h
  scene/3d/label_3d.cpp
  scene/gui/label.cpp
  scene/gui/rich_text_label.cpp
  servers/text/text_server_dummy.h
  servers/text/text_server_extension.cpp
  servers/text/text_server_extension.h
  servers/text_server.cpp
  servers/text_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Use thread_local for bones_backup
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
Due: copyright-headers, header-guards

Stop EditorNode from refreshing the current scene tab when not needed
  editor/editor_node.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
