Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Run
  editor/SCsub
  editor/debugger/debug_adapter/debug_adapter_parser.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_visual_profiler.cpp
  editor/editor_interface.cpp
  editor/editor_node.cpp
  editor/plugins/3d/node_3d_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/debugger_editor_plugin.cpp
  editor/plugins/game_view_plugin.cpp
  editor/plugins/script/script_editor_plugin.cpp
  editor/run/SCsub
  editor/run/editor_run.cpp
  editor/run/editor_run.h
  editor/run/editor_run_bar.cpp
  editor/run/editor_run_bar.h
  editor/run/editor_run_native.cpp
  editor/run/editor_run_native.h
  editor/run/run_instances_dialog.cpp
  editor/run/run_instances_dialog.h
  editor/scene/editor_scene_tabs.cpp
  modules/mono/editor/editor_internal_calls.cpp
  modules/multiplayer/editor/editor_network_profiler.cpp
  scu_builders.py
Due: copyright-headers, header-guards

Script 2
  editor/SCsub
  editor/docks/filesystem_dock.h
  editor/docks/scene_tree_dock.h
  editor/editor_node.cpp
  editor/gui/code_editor.cpp
  editor/gui/code_editor.h
  editor/plugins/script/editor_script_plugin.cpp
  editor/plugins/script/script_editor_plugin.cpp
  editor/plugins/script/script_text_editor.h
  editor/plugins/shader/text_shader_editor.h
  editor/plugins/text_editor.h
  editor/register_editor_types.cpp
  editor/script/SCsub
  editor/script/editor_script.cpp
  editor/script/editor_script.h
  editor/script/find_in_files.cpp
  editor/script/find_in_files.h
  editor/script/script_create_dialog.cpp
  editor/script/script_create_dialog.h
  scu_builders.py
Due: copyright-headers, header-guards

Theme
  editor/plugins/SCsub
  editor/plugins/theme/SCsub
  editor/plugins/theme/theme_editor_plugin.cpp
  editor/plugins/theme/theme_editor_plugin.h
  editor/plugins/theme/theme_editor_preview.cpp
  editor/plugins/theme/theme_editor_preview.h
  editor/register_editor_types.cpp
Due: copyright-headers, header-guards

Textures
  editor/plugins/3d/camera_3d_editor_plugin.h
  editor/plugins/SCsub
  editor/plugins/sub_viewport_preview_editor_plugin.h
  editor/plugins/texture/SCsub
  editor/plugins/texture/bit_map_editor_plugin.cpp
  editor/plugins/texture/bit_map_editor_plugin.h
  editor/plugins/texture/color_channel_selector.cpp
  editor/plugins/texture/color_channel_selector.h
  editor/plugins/texture/gradient_texture_2d_editor_plugin.cpp
  editor/plugins/texture/gradient_texture_2d_editor_plugin.h
  editor/plugins/texture/texture_3d_editor_plugin.cpp
  editor/plugins/texture/texture_3d_editor_plugin.h
  editor/plugins/texture/texture_editor_plugin.cpp
  editor/plugins/texture/texture_editor_plugin.h
  editor/plugins/texture/texture_layered_editor_plugin.cpp
  editor/plugins/texture/texture_layered_editor_plugin.h
  editor/plugins/texture/texture_region_editor_plugin.cpp
  editor/plugins/texture/texture_region_editor_plugin.h
  editor/register_editor_types.cpp
  scu_builders.py
Due: copyright-headers, header-guards

Export
  editor/SCsub
  editor/editor_node.cpp
  editor/export/register_exporters.h
  editor/register_editor_types.cpp
Due: copyright-headers, header-guards

Gui 2
  editor/plugins/SCsub
  editor/plugins/gui/SCsub
  editor/plugins/gui/control_editor_plugin.cpp
  editor/plugins/gui/control_editor_plugin.h
  editor/plugins/gui/font_config_plugin.cpp
  editor/plugins/gui/font_config_plugin.h
  editor/plugins/gui/style_box_editor_plugin.cpp
  editor/plugins/gui/style_box_editor_plugin.h
  editor/register_editor_types.cpp
  scene/gui/control.cpp
  scu_builders.py
Due: copyright-headers, header-guards

Gui
  editor/docks/filesystem_dock.cpp
  editor/docks/inspector_dock.h
  editor/editor_asset_installer.cpp
  editor/editor_interface.cpp
  editor/editor_node.cpp
  editor/export/export_template_manager.cpp
  editor/gui/create_dialog.cpp
  editor/gui/create_dialog.h
  editor/gui/directory_create_dialog.cpp
  editor/gui/directory_create_dialog.h
  editor/gui/editor_about.cpp
  editor/gui/editor_about.h
  editor/gui/editor_dir_dialog.cpp
  editor/gui/progress_dialog.cpp
  editor/gui/progress_dialog.h
  editor/inspector/editor_properties.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/project_manager/project_manager.cpp
  editor/scene/scene_create_dialog.cpp
  editor/script/script_create_dialog.cpp
  editor/window_wrapper.cpp
  main/main.cpp
  modules/openxr/editor/openxr_binding_modifiers_dialog.h
Due: copyright-headers, header-guards

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Add stencil support for spatial materials
  doc/classes/BaseMaterial3D.xml
  drivers/gles3/rasterizer_gles3.cpp
  drivers/gles3/rasterizer_gles3.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/storage/material_storage.cpp
  drivers/gles3/storage/material_storage.h
  drivers/gles3/storage/render_scene_buffers_gles3.cpp
  drivers/gles3/storage/texture_storage.cpp
  drivers/gles3/storage/texture_storage.h
  editor/plugins/text_shader_editor.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  scene/resources/material.cpp
  scene/resources/material.h
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_compiler.h
  servers/rendering/shader_language.cpp
  servers/rendering/shader_language.h
  servers/rendering/shader_types.cpp
  servers/rendering/shader_types.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add shuffle_array method to RandomNumberGenerator
  core/math/random_number_generator.cpp
  core/math/random_number_generator.h
  core/variant/array.cpp
  core/variant/array.h
  doc/classes/Array.xml
  doc/classes/RandomNumberGenerator.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Wayland: Implement the xdg-toplevel-icon-v1 protocol
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
  thirdparty/wayland-protocols/staging/xdg-toplevel-icon/README
  thirdparty/wayland-protocols/staging/xdg-toplevel-icon/xdg-toplevel-icon-v1.xml
Due: copyright-headers, header-guards

Fix mixed use of spaces and tabs for indentation
  core/input/input_map.cpp
Due: copyright-headers

Implemented themed annotations.
  core/object/script_language.h
  doc/classes/ProjectSettings.xml
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  scene/gui/control.cpp
  scene/main/window.cpp
  scene/theme/theme_db.cpp
  scene/theme/theme_db.h
Due: make-rst, doc-status, copyright-headers, header-guards

Clarify parameters in `@GlobalScope.wrap()` being inclusive/exclusive
  doc/classes/@GlobalScope.xml
Due: make-rst, doc-status

Clarify behavior of `Node.physics_interpolation_mode` in the class reference
  doc/classes/Node.xml
Due: make-rst, doc-status

Fix race condition in FontFile data access during threaded imports
  scene/resources/font.cpp
  scene/resources/font.h
Due: copyright-headers, header-guards

Document limitations of native touch event support (and impact on touch emulation)
  doc/classes/Input.xml
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

Uses SortArray to optimize nearest N lights.
  .gitignore
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers

Updating comments.
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers

Keeping the top N lights per mesh in the culling phase.
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  servers/rendering/dummy/rasterizer_scene_dummy.h
  servers/rendering/renderer_geometry_instance.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers, header-guards

Cleaned out test code.
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  servers/rendering/dummy/rasterizer_scene_dummy.h
  servers/rendering/renderer_geometry_instance.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers, header-guards

Takes Max Renderable Lights into account
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  servers/rendering/dummy/rasterizer_scene_dummy.h
  servers/rendering/renderer_geometry_instance.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers, header-guards

Fix capitalization for visionOS and tvOS
  editor/editor_property_name_processor.cpp
Due: copyright-headers

Fixed GDScript editor showing local method when global method is executed instead. Added warnings for overriding global methods.
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/scripts/analyzer/warnings/overriding_native_method.gd
  modules/gdscript/tests/scripts/analyzer/warnings/overriding_native_method.out
Due: copyright-headers, header-guards

Add new joints to XrBodyTracker
  doc/classes/XRBodyTracker.xml
  scene/3d/xr/xr_body_modifier_3d.cpp
  servers/xr/xr_body_tracker.cpp
  servers/xr/xr_body_tracker.h
Due: make-rst, doc-status, copyright-headers, header-guards

clarify forward dirction for VehicleBody3D
  doc/classes/VehicleBody3D.xml
Due: make-rst, doc-status

v2 Implement audio absolute time and scheduled play
  doc/classes/AudioServer.xml
  doc/classes/AudioStreamPlaybackScheduled.xml
  doc/classes/ScheduledAudioStreamPlayer.xml
  doc/classes/ScheduledAudioStreamPlayer2D.xml
  doc/classes/ScheduledAudioStreamPlayer3D.xml
  editor/icons/ScheduledAudioStreamPlayer.svg
  editor/icons/ScheduledAudioStreamPlayer2D.svg
  editor/icons/ScheduledAudioStreamPlayer3D.svg
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/audio_stream_player_2d.h
  scene/2d/scheduled_audio_stream_player_2d.cpp
  scene/2d/scheduled_audio_stream_player_2d.h
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/audio_stream_player_3d.h
  scene/3d/scheduled_audio_stream_player_3d.cpp
  scene/3d/scheduled_audio_stream_player_3d.h
  scene/audio/audio_stream_player.cpp
  scene/audio/audio_stream_player_internal.cpp
  scene/audio/audio_stream_player_internal.h
  scene/audio/scheduled_audio_stream_player.cpp
  scene/audio/scheduled_audio_stream_player.h
  scene/register_scene_types.cpp
  scene/resources/audio_stream_playback_scheduled.cpp
  scene/resources/audio_stream_playback_scheduled.h
  servers/audio_server.cpp
  servers/audio_server.h
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Ran clang-format.
  .gitignore
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  servers/rendering/dummy/rasterizer_scene_dummy.h
  servers/rendering/renderer_geometry_instance.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers, header-guards

GDTrait
  doc/classes/ProjectSettings.xml
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/editor/gdscript_translation_parser_plugin.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/gdscript_cache.cpp
  modules/gdscript/gdscript_cache.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_tokenizer.cpp
  modules/gdscript/gdscript_tokenizer.h
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/tests/scripts/Traits/analyzer/errors/invalid_trait_function.gd
  modules/gdscript/tests/scripts/Traits/analyzer/errors/invalid_trait_function.out
  modules/gdscript/tests/scripts/Traits/analyzer/errors/invalid_trait_inheritance.gd
  modules/gdscript/tests/scripts/Traits/analyzer/errors/invalid_trait_inheritance.out
  modules/gdscript/tests/scripts/Traits/analyzer/errors/invalid_trait_uses.gd
  modules/gdscript/tests/scripts/Traits/analyzer/errors/invalid_trait_uses.out
  modules/gdscript/tests/scripts/Traits/analyzer/features/trait_cohesion.gd
  modules/gdscript/tests/scripts/Traits/analyzer/features/trait_cohesion.out
  modules/gdscript/tests/scripts/Traits/analyzer/warnings/trait_static_function.gd
  modules/gdscript/tests/scripts/Traits/analyzer/warnings/trait_static_function.out
Due: make-rst, doc-status, copyright-headers, header-guards

Clarify behavior of `Timer.stop()`
  doc/classes/Timer.xml
Due: make-rst, doc-status

Add warnings for Viewport not supporting TAA/FSR with transparent background
  doc/classes/ProjectSettings.xml
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  servers/rendering/renderer_viewport.cpp
Due: make-rst, doc-status, copyright-headers

Fixed GDScript editor showing global constant when local variable/constant/enum/function is used instead. Added warnings for shadowing global constants.
  editor/plugins/script_text_editor.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/scripts/parser/features/allowed_keywords_as_identifiers.out
  modules/gdscript/tests/scripts/parser/warnings/shadowed_global_identifier.gd
  modules/gdscript/tests/scripts/parser/warnings/shadowed_global_identifier.out
Due: copyright-headers, header-guards

Implement permission request for Apple embedded platforms, fixes https://github.com/godotengine/godot/issues/107229
  doc/classes/OS.xml
  drivers/apple_embedded/os_apple_embedded.h
  drivers/apple_embedded/os_apple_embedded.mm
Due: make-rst, doc-status, copyright-headers, header-guards

Implement advanced breakpoints
  core/core_bind.cpp
  core/core_bind.h
  core/debugger/engine_debugger.cpp
  core/debugger/local_debugger.cpp
  core/debugger/remote_debugger.cpp
  core/debugger/script_debugger.cpp
  core/debugger/script_debugger.h
  doc/classes/EditorDebuggerPlugin.xml
  doc/classes/EditorDebuggerSession.xml
  doc/classes/EditorSettings.xml
  doc/classes/EngineDebugger.xml
  editor/code_editor.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.cpp
  editor/debugger/debug_adapter/debug_adapter_protocol.h
  editor/debugger/editor_debugger_node.cpp
  editor/debugger/editor_debugger_node.h
  editor/debugger/script_editor_debugger.cpp
  editor/debugger/script_editor_debugger.h
  editor/editor_settings.cpp
  editor/icons/BreakpointConditional.svg
  editor/icons/BreakpointConditionalNoSuspend.svg
  editor/icons/BreakpointNoSuspend.svg
  editor/plugins/editor_debugger_plugin.compat.inc
  editor/plugins/editor_debugger_plugin.cpp
  editor/plugins/editor_debugger_plugin.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/plugins/script_text_editor.cpp
  editor/plugins/script_text_editor.h
  editor/plugins/text_editor.h
  editor/themes/editor_theme_manager.cpp
  misc/extension_api_validation/4.4-stable.expected
  scene/gui/code_edit.cpp
  scene/theme/default_theme.cpp
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

OpenGL: Fix shader compilation failure with `shadow_to_opacity` and `unshaded`
  drivers/gles3/shaders/scene.glsl
Due: none

RendererRD: Fix swizzle on depth formats
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
Due: copyright-headers

Make drag-and-dropped resources unique when holding Ctrl/Cmd in the editor
  editor/editor_resource_picker.cpp
Due: copyright-headers

Add memory amount to output from the Copy System Info editor action
  editor/editor_node.cpp
Due: copyright-headers

Add a project setting and Engine property to toggle fixed FPS at runtime
  core/config/engine.cpp
  core/config/engine.h
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/Engine.xml
  doc/classes/ProjectSettings.xml
  main/main.cpp
  main/main_timer_sync.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
