Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Add proper flags when using external recast
  platform/server/detect.py
  platform/x11/detect.py
Due: none

Use pkg-config for recast flags
  platform/linuxbsd/detect.py
Due: none

Add some keywords to desktop entry
  misc/dist/linux/org.godotengine.Godot.desktop
Due: none

Fix copyright issues
  COPYRIGHT.txt
Due: none

Update DirAccessUnix::change_dir to also call simplify_path for absolute paths
  drivers/unix/dir_access_unix.cpp
Due: copyright-headers

Fix embedded window frame oversampling, fix DPITexture using uninitialized size in some conditions.
  scene/main/canvas_item.cpp
  scene/main/viewport.cpp
  scene/resources/dpi_texture.cpp
  scene/resources/style_box_flat.cpp
  servers/text/text_server.cpp
  servers/text/text_server.h
Due: copyright-headers, header-guards

Improve the material preview in the inspector
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  editor/scene/material_editor_plugin.cpp
  editor/scene/material_editor_plugin.h
Due: make-rst, doc-status, copyright-headers, header-guards

remove adhoc method for vision os xr
  doc/classes/RenderingServer.xml
  doc/classes/XRInterface.xml
  doc/classes/XRInterfaceExtension.xml
  drivers/metal/metal_objects.h
  drivers/metal/metal_objects.mm
  drivers/metal/rendering_device_driver_metal.h
  drivers/metal/rendering_device_driver_metal.mm
  modules/visionos_xr/visionos_xr_interface.h
  modules/visionos_xr/visionos_xr_interface.mm
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_data_rd.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_render.cpp
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_driver.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
  servers/rendering/rendering_server.cpp
  servers/rendering/rendering_server.h
  servers/xr/xr_interface.cpp
  servers/xr/xr_interface.h
  servers/xr/xr_interface_extension.cpp
  servers/xr/xr_interface_extension.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix dotnet class lookup returning modified names instead of engine names
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.cs
Due: none

Fix `memnew_placement` with `char *` arguments. Before, it would call the description version, allocating on the heap instead of ni the given memory.
  core/os/memory.h
Due: copyright-headers, header-guards

[Windows] [Input] Raw keyboard ID is ordered by plugin/input, starting from 0, not affected by unplug
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
  servers/display/display_server.cpp
  servers/display/display_server.h
Due: copyright-headers, header-guards

[macOS] Update clang version check.
  SConstruct
Due: none

Change `new` overloads to use a tag instead of a pointer, which can lead to problems. Inline the `new` definition to save on a call.
  core/object/class_db.h
  core/os/memory.cpp
  core/os/memory.h
Due: copyright-headers, header-guards

Fix PopupMenu submenu item not popping on mouse enter
  doc/classes/PopupMenu.xml
  scene/gui/popup_menu.cpp
  scene/gui/popup_menu.h
Due: make-rst, doc-status, copyright-headers, header-guards

Add elapsed_time property to Timer
  doc/classes/Timer.xml
  scene/main/timer.cpp
  scene/main/timer.h
Due: make-rst, doc-status, copyright-headers, header-guards

avoid saving connections twice and clean up connection code
  scene/main/node.cpp
  scene/main/node.h
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
  tests/scene/test_packed_scene.h
Due: copyright-headers, header-guards

Visual feedback update for viewport rotation gizmo.
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

Update vehicle_body_3d.cpp formatting
  scene/3d/physics/vehicle_body_3d.cpp
Due: copyright-headers

Update vehicle_body_3d.h formatting
  scene/3d/physics/vehicle_body_3d.h
Due: copyright-headers, header-guards

Add `profiler` option to `SCons` builds. Add `tracy` option to `profiler`. If set, a tracy profiling client will be injected into the Godot binary.
  SConstruct
  core/SCsub
  core/profiling/SCsub
  core/profiling/profiling.cpp
  core/profiling/profiling.h
  core/profiling/profiling_builders.py
  platform/android/java_godot_lib_jni.cpp
  platform/ios/main_ios.mm
  platform/macos/godot_main_macos.mm
  platform/macos/os_macos.mm
  platform/visionos/main_visionos.mm
  platform/web/web_main.cpp
  platform/windows/godot_windows.cpp
Due: copyright-headers, header-guards

Add some important profiling hooks.
  core/profiling/profiling.cpp
  core/profiling/profiling.h
  drivers/apple_embedded/os_apple_embedded.mm
  main/main.cpp
  platform/android/os_android.cpp
  platform/linuxbsd/os_linuxbsd.cpp
  platform/macos/godot_content_view.mm
  platform/macos/os_macos.mm
  platform/web/os_web.cpp
  platform/windows/os_windows.cpp
  scene/main/scene_tree.cpp
  servers/rendering/renderer_viewport.cpp
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_server_default.cpp
Due: copyright-headers, header-guards

Implemented set_time_left in Timer node
  doc/classes/Timer.xml
  misc/extension_api_validation/4.5-stable.expected
  scene/main/timer.cpp
  scene/main/timer.h
Due: make-rst, doc-status, copyright-headers, header-guards

Disable HDR output support on Windows when using the Vulkan driver. Error reporting is still needed.
  drivers/vulkan/rendering_device_driver_vulkan.cpp
Due: copyright-headers

Support CameraFeed format on macOS
  modules/camera/camera_macos.mm
Due: copyright-headers

[Linux] [X11] [Input] Return keyboard ID for raw input
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
Due: copyright-headers, header-guards

Allow creating GDExtension plugins from inside the Godot editor
  .pre-commit-config.yaml
  editor/gui/editor_validation_panel.cpp
  editor/settings/gdextension/SCsub
  editor/settings/gdextension/cpp_scons/SCsub
  editor/settings/gdextension/cpp_scons/cpp_scons_gdext_creator.cpp
  editor/settings/gdextension/cpp_scons/cpp_scons_gdext_creator.h
  editor/settings/gdextension/cpp_scons/template/SConstruct_top_level
  editor/settings/gdextension/cpp_scons/template/SCsub
  editor/settings/gdextension/cpp_scons/template/addon/SConstruct_addon
  editor/settings/gdextension/cpp_scons/template/addon/doc_classes/ExampleNode.xml
  editor/settings/gdextension/cpp_scons/template/addon/gdext.gitignore
  editor/settings/gdextension/cpp_scons/template/addon/icons/ExampleNode.svg
  editor/settings/gdextension/cpp_scons/template/addon/icons/ExampleNode.svg.import
  editor/settings/gdextension/cpp_scons/template/addon/library_name.gdextension
  editor/settings/gdextension/cpp_scons/template/addon/src/gdext_defines.h
  editor/settings/gdextension/cpp_scons/template/addon/src/initialize_gdextension.cpp
  editor/settings/gdextension/cpp_scons/template/config.py
  editor/settings/gdextension/cpp_scons/template/example_node.cpp
  editor/settings/gdextension/cpp_scons/template/example_node.h
  editor/settings/gdextension/cpp_scons/template/register_types.cpp
  editor/settings/gdextension/cpp_scons/template/register_types.h
  editor/settings/gdextension/cpp_scons/template/shared_defines.h
  editor/settings/gdextension/cpp_scons/template/tests/test_base_name.h
  editor/settings/gdextension/cpp_scons/template/tests/test_example_node.h
  editor/settings/gdextension/gdextension_create_dialog.cpp
  editor/settings/gdextension/gdextension_create_dialog.h
  editor/settings/gdextension/gdextension_creator_plugin.h
  editor/settings/gdextension/gdextension_edit_dialog.cpp
  editor/settings/gdextension/gdextension_edit_dialog.h
  editor/settings/gdextension/project_settings_gdextension.cpp
  editor/settings/gdextension/project_settings_gdextension.h
  editor/settings/project_settings_editor.cpp
  editor/settings/project_settings_editor.h
  misc/scripts/header_guards.py
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Add Bresenham Line to GridMap Drawing
  modules/gridmap/editor/grid_map_editor_plugin.cpp
Due: copyright-headers

Add support for CSV file comments
  editor/import/resource_importer_csv_translation.cpp
Due: copyright-headers

Separate branching ping-pong time and delta
  scene/animation/animation_blend_tree.cpp
Due: copyright-headers

Fix potential conflicts in FileSystem context menu plugins
  editor/docks/filesystem_dock.cpp
  editor/inspector/editor_context_menu_plugin.cpp
  editor/inspector/editor_context_menu_plugin.h
Due: copyright-headers, header-guards

Fix FileSystem file list mode button visibility
  editor/docks/filesystem_dock.cpp
Due: copyright-headers

Fix source generation of statically imported members
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportedFields_ScriptProperties.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportedFields_ScriptPropertyDefVal.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportedProperties_ScriptProperties.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/GeneratedSources/ExportedProperties_ScriptPropertyDefVal.generated.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ExportedFields.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/TestData/Sources/ExportedProperties.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ExtensionMethods.cs
Due: none

Fix TileMapLayer over-generalizing constraints causing problems #112025
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: copyright-headers, header-guards

update documentation
  doc/classes/VehicleWheel3D.xml
Due: make-rst, doc-status

Abort OneShot if previously interrupted
  scene/animation/animation_blend_tree.cpp
Due: copyright-headers

Allow anisotropic default canvas item texture filters in Viewport
  core/config/project_settings.cpp
  doc/classes/Viewport.xml
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: make-rst, doc-status, copyright-headers, header-guards

Update VehicleWheel3D.xml
  doc/classes/VehicleWheel3D.xml
Due: make-rst, doc-status

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
