Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)

Fix incorrect clear color flag on canvas renderer.
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
Due: copyright-headers

Resolve load and store ops automatically for render passes for discardable textures.
  doc/classes/RDTextureFormat.xml
  doc/classes/RenderSceneBuffersRD.xml
  doc/classes/RenderingDevice.xml
  misc/extension_api_validation/4.3-stable.expected
  modules/lightmapper_rd/lightmapper_rd.cpp
  servers/rendering/renderer_rd/cluster_builder_rd.cpp
  servers/rendering/renderer_rd/effects/bokeh_dof.cpp
  servers/rendering/renderer_rd/effects/copy_effects.cpp
  servers/rendering/renderer_rd/effects/debug_effects.cpp
  servers/rendering/renderer_rd/effects/fsr2.cpp
  servers/rendering/renderer_rd/effects/luminance.cpp
  servers/rendering/renderer_rd/effects/tone_mapper.cpp
  servers/rendering/renderer_rd/effects/vrs.cpp
  servers/rendering/renderer_rd/environment/gi.cpp
  servers/rendering/renderer_rd/environment/sky.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_buffers_rd.compat.inc
  servers/rendering/renderer_rd/storage_rd/render_scene_buffers_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_buffers_rd.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/rendering_device.compat.inc
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_binds.h
  servers/rendering/rendering_device_commons.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
Due: make-rst, doc-status, copyright-headers, header-guards

Avoid duplicating signals from scene instances into packed scenes
  core/object/object.h
  scene/resources/packed_scene.cpp
  tests/scene/test_packed_scene.h
Due: copyright-headers, header-guards

Add unit tests for TCPServer
  tests/core/io/test_tcp_server.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

Fix another incorrect clear color flag on texture storage.
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
Due: copyright-headers

Allow tool scripts to alter transform of Node3DEditorViewport camera
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Add tests for `Projection`
  tests/core/math/test_projection.h
  tests/test_macros.h
Due: copyright-headers, header-guards

Don't tint editor bottom panel icons when hovered or pressed
  editor/editor_log.h
  editor/themes/editor_theme_manager.cpp
  scene/gui/file_dialog.cpp
Due: copyright-headers, header-guards

Fix broken includes when compiling with builtin_miniupnpc=false
  modules/upnp/SCsub
  modules/upnp/upnp_device_miniupnp.cpp
  modules/upnp/upnp_miniupnp.cpp
  modules/upnp/upnp_miniupnp.h
  thirdparty/README.md
  thirdparty/miniupnpc/include/miniupnpc/igd_desc_parse.h
  thirdparty/miniupnpc/include/miniupnpc/miniupnpc.h
  thirdparty/miniupnpc/include/miniupnpc/miniupnpc_declspec.h
  thirdparty/miniupnpc/include/miniupnpc/miniupnpctypes.h
  thirdparty/miniupnpc/include/miniupnpc/miniwget.h
  thirdparty/miniupnpc/include/miniupnpc/portlistingparse.h
  thirdparty/miniupnpc/include/miniupnpc/upnpcommands.h
  thirdparty/miniupnpc/include/miniupnpc/upnpdev.h
  thirdparty/miniupnpc/include/miniupnpc/upnpreplyparse.h
Due: copyright-headers, header-guards

Betsy: Add BC3 and BC5 support
  core/io/image.cpp
  modules/betsy/SCsub
  modules/betsy/alpha_stitch.glsl
  modules/betsy/image_compress_betsy.cpp
  modules/betsy/image_compress_betsy.h
Due: copyright-headers, header-guards

Make Transform2D/3D, Basis, and Quaternion docs more consistent
  doc/classes/Basis.xml
  doc/classes/Quaternion.xml
  doc/classes/Transform2D.xml
  doc/classes/Transform3D.xml
Due: make-rst, doc-status

Remove double `is_editor_hint()` check inside `NOTIFICATION_READY` for `Camera2D` node
  scene/2d/camera_2d.cpp
Due: copyright-headers

Make NavMap objects request sync only on demand
  modules/navigation/nav_agent.cpp
  modules/navigation/nav_agent.h
  modules/navigation/nav_link.cpp
  modules/navigation/nav_link.h
  modules/navigation/nav_map.cpp
  modules/navigation/nav_map.h
  modules/navigation/nav_obstacle.cpp
  modules/navigation/nav_obstacle.h
  modules/navigation/nav_region.cpp
  modules/navigation/nav_region.h
Due: copyright-headers, header-guards

Fix physics picking when hovering an embedded window
  scene/main/viewport.cpp
Due: copyright-headers

Fix code consistency between AudioStreamPlayer2D and AudioStreamPlayer3D
  scene/3d/audio_stream_player_3d.cpp
Due: copyright-headers

CI: Add explicit problem matchers
  .github/actions/godot-deps/action.yml
  .github/workflows/godot_cpp_test.yml
  .github/workflows/linux_builds.yml
  .github/workflows/windows_builds.yml
  misc/utility/problem-matchers.json
Due: none

Update CanvasLayer 'Follow Viewport' documentation to match its behavior
  doc/classes/CanvasLayer.xml
Due: make-rst, doc-status

Show TextureProgressBar radial cross only when editing the scene
  scene/gui/texture_progress_bar.cpp
Due: copyright-headers

Disable Clear Guides menu item when no guides exist
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/canvas_item_editor_plugin.h
Due: copyright-headers, header-guards

Profiler plot zoom and pan
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_profiler.h
Due: copyright-headers, header-guards

Don't repeat calls to strlen in split, and make splitter_length const in get_slice.
  core/string/ustring.cpp
Due: copyright-headers

Fix non-empty project folder confirmation dialog
  editor/project_manager/project_dialog.cpp
  editor/project_manager/project_dialog.h
Due: copyright-headers, header-guards

Extend `Curve` to allow for arbitrary domains
  doc/classes/AnimationNodeOneShot.xml
  doc/classes/AnimationNodeStateMachineTransition.xml
  doc/classes/AnimationNodeTransition.xml
  doc/classes/CPUParticles2D.xml
  doc/classes/CPUParticles3D.xml
  doc/classes/Curve.xml
  doc/classes/CurveTexture.xml
  doc/classes/CurveXYZTexture.xml
  doc/classes/Line2D.xml
  doc/classes/RibbonTrailMesh.xml
  doc/classes/TubeTrailMesh.xml
  editor/plugins/curve_editor_plugin.cpp
  editor/plugins/curve_editor_plugin.h
  scene/resources/curve.cpp
  scene/resources/curve.h
  tests/scene/test_curve.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix various typos and code style issues
  core/extension/gdextension_interface.h
  core/object/script_language.cpp
  core/string/translation_server.cpp
  doc/classes/BaseMaterial3D.xml
  doc/classes/Node.xml
  doc/classes/String.xml
  doc/classes/Tween.xml
  doc/classes/Window.xml
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/editor_log.h
  editor/plugins/visual_shader_editor_plugin.cpp
  misc/dist/html/editor.html
  misc/dist/html/full-size.html
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/godot_physics_3d/godot_space_3d.cpp
  modules/godot_physics_3d/joints/godot_pin_joint_3d.cpp
  scene/2d/line_builder.cpp
  scene/3d/physics/vehicle_body_3d.cpp
  scene/gui/code_edit.cpp
  servers/audio/effects/audio_effect_record.cpp
  servers/audio/effects/audio_effect_stereo_enhance.cpp
Due: make-rst, doc-status, eslint, copyright-headers, header-guards

Fix some invalid `int` property ranges
  scene/2d/cpu_particles_2d.cpp
  scene/2d/gpu_particles_2d.cpp
  scene/3d/cpu_particles_3d.cpp
  scene/3d/gpu_particles_3d.cpp
  scene/resources/3d/height_map_shape_3d.cpp
Due: copyright-headers

Make File Dialog case insensitive
  editor/gui/editor_file_dialog.cpp
  scene/gui/file_dialog.cpp
Due: copyright-headers

Fix graph node sizing regression, improve blend tree contrast/margins
  editor/plugins/animation_blend_tree_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/themes/editor_theme_manager.cpp
Due: copyright-headers

[FileAccess] Return error codes from `store_*` methods.
  core/io/file_access.compat.inc
  core/io/file_access.cpp
  core/io/file_access.h
  core/io/file_access_compressed.cpp
  core/io/file_access_compressed.h
  core/io/file_access_encrypted.cpp
  core/io/file_access_encrypted.h
  core/io/file_access_memory.cpp
  core/io/file_access_memory.h
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  core/io/file_access_zip.cpp
  core/io/file_access_zip.h
  doc/classes/FileAccess.xml
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  drivers/unix/file_access_unix_pipe.cpp
  drivers/unix/file_access_unix_pipe.h
  drivers/windows/file_access_windows.cpp
  drivers/windows/file_access_windows.h
  drivers/windows/file_access_windows_pipe.cpp
  drivers/windows/file_access_windows_pipe.h
  misc/extension_api_validation/4.3-stable.expected
  platform/android/file_access_android.cpp
  platform/android/file_access_android.h
  platform/android/file_access_filesystem_jandroid.cpp
  platform/android/file_access_filesystem_jandroid.h
  platform/android/java/lib/src/org/godotengine/godot/io/file/AssetData.kt
  platform/android/java/lib/src/org/godotengine/godot/io/file/DataAccess.kt
  platform/android/java/lib/src/org/godotengine/godot/io/file/FileAccessHandler.kt
Due: make-rst, doc-status, copyright-headers, header-guards

GDScript: Add error messages to some compilation errors
  modules/gdscript/gdscript_compiler.cpp
Due: copyright-headers

various gui nodes now listen for the changed signal on textures
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/texture_button.cpp
Due: copyright-headers, header-guards

Use double comments in shader template light functions
  editor/shader_create_dialog.cpp
Due: copyright-headers

Blend file import: Don't keep original files when not unpacking them
  modules/gltf/editor/editor_scene_importer_blend.cpp
Due: copyright-headers

Fix jumping to editor help does not scroll correctly sometimes
  editor/editor_help.cpp
  editor/plugins/script_editor_plugin.cpp
Due: copyright-headers

Add a focus border on `ScrollContainer`
  doc/classes/EditorInspector.xml
  doc/classes/ScrollContainer.xml
  editor/editor_inspector.cpp
  editor/editor_properties.cpp
  editor/themes/editor_theme_manager.cpp
  scene/gui/scroll_container.cpp
  scene/gui/scroll_container.h
  scene/theme/default_theme.cpp
  tests/scene/test_control.h
Due: make-rst, doc-status, copyright-headers, header-guards

Keep existing VectorCompose input values when setting vector type
  scene/resources/visual_shader_nodes.cpp
Due: copyright-headers

[RTL] Allow setting image alignment as separate bbcode argument.
  scene/gui/rich_text_label.cpp
Due: copyright-headers

Support for XCode 8+ feature PROVISIONING_PROFILE_SPECIFIER
  .gitignore
  misc/dist/ios_xcode/godot_ios.xcodeproj/project.pbxproj
  platform/ios/doc_classes/EditorExportPlatformIOS.xml
  platform/ios/export/export_plugin.cpp
  platform/ios/export/export_plugin.h
Due: make-rst, doc-status, copyright-headers, header-guards

[RTL] Add support for vertical alignment.
  doc/classes/RichTextLabel.xml
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
Due: make-rst, doc-status, copyright-headers, header-guards
