Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

HashSet reduce memory usage and make more cache friendly
  core/templates/hash_set.h
Due: copyright-headers, header-guards

add microshadows
  doc/classes/BaseMaterial3D.xml
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/material_storage.cpp
  scene/resources/material.cpp
  scene/resources/material.h
  servers/rendering/renderer_rd/forward_clustered/scene_shader_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/shader_types.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Update Blender import to handle more Vertex Color options
  modules/gltf/editor/editor_scene_importer_blend.cpp
  modules/gltf/editor/editor_scene_importer_blend.h
Due: copyright-headers, header-guards

fix parsing for dictionary as well, and editor property
  editor/inspector/editor_properties_array_dict.cpp
  scene/resources/packed_scene.cpp
  scene/resources/packed_scene.h
Due: copyright-headers, header-guards

Make Vector bsearch method const.
  core/templates/vector.h
  core/variant/variant_call.cpp
  doc/classes/PackedByteArray.xml
  doc/classes/PackedColorArray.xml
  doc/classes/PackedFloat32Array.xml
  doc/classes/PackedFloat64Array.xml
  doc/classes/PackedInt32Array.xml
  doc/classes/PackedInt64Array.xml
  doc/classes/PackedStringArray.xml
  doc/classes/PackedVector2Array.xml
  doc/classes/PackedVector3Array.xml
  doc/classes/PackedVector4Array.xml
  misc/extension_api_validation/4.5-stable.expected
Due: make-rst, doc-status, copyright-headers, header-guards

fixed the edge case for nested dict in nested array/vice versa
  ]
Due: none

remove vim ] thing
  ]
Due: none

Clean up FindInFiles code
  editor/script/find_in_files.cpp
  editor/script/find_in_files.h
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
Due: copyright-headers, header-guards

[PopupMenu] Update global menu shortcuts when shortcut is externally changed.
  scene/gui/popup_menu.cpp
Due: copyright-headers

Update editor/docks/inspector_dock.cpp
  editor/docks/inspector_dock.cpp
Due: copyright-headers

Update editor/editor_node.cpp
  editor/editor_node.cpp
Due: copyright-headers

Update editor/inspector/editor_properties_array_dict.cpp
  editor/inspector/editor_properties_array_dict.cpp
Due: copyright-headers

Update scene/resources/packed_scene.cpp
  scene/resources/packed_scene.cpp
Due: copyright-headers

Update scene/resources/packed_scene.h
  scene/resources/packed_scene.h
Due: copyright-headers, header-guards

Apply suggestions from code review
  scene/resources/packed_scene.cpp
Due: copyright-headers

Fix spacing in packed_scene.cpp
  scene/resources/packed_scene.cpp
Due: copyright-headers

(hopefully) finally fix all styles
  scene/resources/packed_scene.cpp
Due: copyright-headers

This checks if the class exists or is a global class before checking if it's virtual or instantiable.
  editor/editor_node.cpp
Due: copyright-headers

Introduce the notion of an "inner" call error
  core/object/call_error_info.cpp
  core/object/call_error_info.h
  core/object/object.cpp
  core/variant/callable.h
  core/variant/variant.cpp
  core/variant/variant_call.cpp
  doc/classes/CallErrorInfo.xml
  doc/classes/Object.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_vm.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Change MSBuildPanel to EditorDock
  doc/classes/EditorDock.xml
  editor/docks/editor_dock.cpp
  editor/docks/editor_dock.h
  modules/mono/editor/GodotTools/GodotTools/Build/BuildManager.cs
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
Due: make-rst, doc-status, copyright-headers, header-guards

fix function signature
  scene/resources/packed_scene.cpp
Due: copyright-headers

v2 Implement audio absolute time and scheduled play
  doc/classes/AudioServer.xml
  doc/classes/AudioStreamPlaybackScheduled.xml
  doc/classes/ScheduledAudioStreamPlayer.xml
  doc/classes/ScheduledAudioStreamPlayer2D.xml
  doc/classes/ScheduledAudioStreamPlayer3D.xml
  editor/icons/ScheduledAudioStreamPlayer.svg
  editor/icons/ScheduledAudioStreamPlayer2D.svg
  editor/icons/ScheduledAudioStreamPlayer3D.svg
  scene/2d/audio_stream_player_2d.cpp
  scene/2d/audio_stream_player_2d.h
  scene/2d/scheduled_audio_stream_player_2d.cpp
  scene/2d/scheduled_audio_stream_player_2d.h
  scene/3d/audio_stream_player_3d.cpp
  scene/3d/audio_stream_player_3d.h
  scene/3d/scheduled_audio_stream_player_3d.cpp
  scene/3d/scheduled_audio_stream_player_3d.h
  scene/audio/audio_stream_player.cpp
  scene/audio/audio_stream_player.h
  scene/audio/audio_stream_player_internal.cpp
  scene/audio/audio_stream_player_internal.h
  scene/audio/scheduled_audio_stream_player.cpp
  scene/audio/scheduled_audio_stream_player.h
  scene/register_scene_types.cpp
  scene/resources/audio_stream_playback_scheduled.cpp
  scene/resources/audio_stream_playback_scheduled.h
  servers/audio/audio_server.cpp
  servers/audio/audio_server.h
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Android: Implement Storage Access Framework (SAF) support
  doc/classes/DisplayServer.xml
  platform/android/java/lib/build.gradle
  platform/android/java/lib/src/main/java/org/godotengine/godot/io/FilePicker.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/io/StorageScope.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/io/directory/DirectoryAccessHandler.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/io/file/DataAccess.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/io/file/MediaStoreData.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/io/file/SAFData.kt
Due: make-rst, doc-status

Fix SplitContainer crash on change type
  scene/gui/split_container.cpp
Due: copyright-headers

Check if OpenXR is enabled with feature tags of export preset
  modules/openxr/editor/openxr_editor_plugin.cpp
  modules/openxr/register_types.cpp
Due: copyright-headers

Update dock tabs on setting change
  editor/editor_node.cpp
Due: copyright-headers

Makes comments starting with #mark and #region visible in minimap
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Due: copyright-headers, header-guards

Strip VoxelGIData and LightmapGIData using placeholders for dedicated server exports
  doc/classes/LightmapGIData.xml
  doc/classes/PlaceholderLightmapGIData.xml
  doc/classes/PlaceholderVoxelGIData.xml
  doc/classes/VoxelGIData.xml
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
  scene/3d/voxel_gi.cpp
  scene/3d/voxel_gi.h
  scene/register_scene_types.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Clarify the purpose of MeshInstance2D and MultiMeshInstance2D
  doc/classes/MeshInstance2D.xml
  doc/classes/MultiMeshInstance2D.xml
Due: make-rst, doc-status

libpng: Update to 1.6.51
  thirdparty/README.md
  thirdparty/libpng/png.c
  thirdparty/libpng/png.h
  thirdparty/libpng/pngconf.h
  thirdparty/libpng/pngdebug.h
  thirdparty/libpng/pngerror.c
  thirdparty/libpng/pnglibconf.h
  thirdparty/libpng/pngpread.c
  thirdparty/libpng/pngpriv.h
  thirdparty/libpng/pngread.c
  thirdparty/libpng/pngrtran.c
  thirdparty/libpng/pngrutil.c
  thirdparty/libpng/pngstruct.h
  thirdparty/libpng/pngwrite.c
Due: none

Fix black reflections when using a plain color as reflection source
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/scene.glsl
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/scene_shader_forward_mobile.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/shaders/scene_data_inc.glsl
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_scene_data_rd.h
Due: copyright-headers, header-guards

Add search keywords for project settings
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

Don't redraw Sprite3D/AnimatedSprite3D outside the tree
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
