Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

UV fix patch
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
Due: copyright-headers, header-guards

Expose import flags in GLTFDocument, mark EditorSceneFormatImporter flags as bitfield
  doc/classes/EditorSceneFormatImporter.xml
  doc/classes/ResourceImporterOBJ.xml
  doc/classes/ResourceImporterScene.xml
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/resource_importer_scene.h
  modules/fbx/fbx_document.cpp
  modules/gltf/doc_classes/GLTFDocument.xml
  modules/gltf/gltf_document.cpp
  modules/gltf/gltf_document.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Adding CACHE_MODE_REPLACE to get the newly imported texture not a cached stale version
  editor/scene/2d/tiles/atlas_merging_dialog.cpp
  editor/scene/3d/gpu_particles_collision_sdf_editor_plugin.cpp
Due: copyright-headers

[iOS/macOS] Include fallback locale to the supported locale list in the exported app.
  editor/export/editor_export_platform_apple_embedded.cpp
  platform/macos/export/export_plugin.cpp
Due: copyright-headers

Add icon hint for `@icon()` annotation to the script editor
  doc/classes/EditorSettings.xml
  editor/script/script_text_editor.cpp
  editor/script/script_text_editor.h
  editor/settings/editor_settings.cpp
  scene/gui/text_edit.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Add docs for AudioStreamPlayer overwriting properties
  scene/audio/audio_stream_player_internal.cpp
Due: copyright-headers

Local implementation fix
  editor/scene/2d/abstract_polygon_2d_editor.cpp
Due: copyright-headers

Allow implementing java interfaces from GDScript
  doc/classes/JavaClassWrapper.xml
  platform/android/api/api.cpp
  platform/android/api/java_class_wrapper.h
  platform/android/java/app/src/instrumented/assets/.godot/global_script_class_cache.cfg
  platform/android/java/app/src/instrumented/assets/main.tscn
  platform/android/java/app/src/instrumented/assets/project.godot
  platform/android/java/app/src/instrumented/assets/test/javaclasswrapper/java_class_wrapper_tests.gd
  platform/android/java/lib/src/main/java/org/godotengine/godot/plugin/AndroidRuntimePlugin.kt
  platform/android/java_class_wrapper.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

attempting to fix UVs
  modules/csg/csg_shape.cpp
Due: copyright-headers

divided positions by 2
  modules/csg/csg_shape.cpp
Due: copyright-headers

edited xml file
  modules/csg/doc_classes/CSGBox3D.xml
Due: make-rst, doc-status, validate-xml

flip top and bottom faces
  modules/csg/csg_shape.cpp
Due: copyright-headers

attempt to fix UVs
  modules/csg/csg_shape.cpp
  modules/csg/doc_classes/CSGBox3D.xml
Due: make-rst, doc-status, validate-xml, copyright-headers

fixed styling
  modules/csg/csg_shape.cpp
Due: copyright-headers

oops
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
Due: copyright-headers, header-guards

I don't know
  modules/csg/csg_shape.cpp
Due: copyright-headers

uv_shift and various uv fixes
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/csg/doc_classes/CSGBox3D.xml
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

check if image is compressed and decompress in set_icon
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
Due: copyright-headers

Fix crash when passing `null` return ptr to GDExtension call methods
  core/extension/gdextension_interface.cpp
  core/extension/gdextension_interface.json
Due: copyright-headers

Fix applying ProjectSettings debug color changes to 2d & 3d shapes
  scene/2d/physics/collision_shape_2d.cpp
  scene/2d/physics/collision_shape_2d.h
  scene/3d/physics/collision_polygon_3d.cpp
  scene/3d/physics/collision_polygon_3d.h
  scene/3d/physics/collision_shape_3d.cpp
  scene/3d/physics/collision_shape_3d.h
Due: copyright-headers, header-guards

Cylinder update
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/csg/doc_classes/CSGBox3D.xml
  modules/csg/doc_classes/CSGCylinder3D.xml
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Implement call_deferred_unique support
  core/core_string_names.h
  core/object/message_queue.cpp
  core/object/message_queue.h
  core/object/object.cpp
  core/object/object.h
  core/variant/callable.cpp
  core/variant/callable.h
  core/variant/variant_call.cpp
  doc/classes/Callable.xml
  doc/classes/Object.xml
  tests/core/object/test_object.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

fixed style
  modules/csg/csg_shape.cpp
Due: copyright-headers

fixed error
  modules/csg/csg_shape.cpp
Due: copyright-headers

Fix icon padding causing big_icon null on custom icons when playing the game.
  platform/windows/display_server_windows.cpp
Due: copyright-headers

fixed cylinder and finished Box
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  modules/csg/doc_classes/CSGCylinder3D.xml
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

removed comment
  modules/csg/csg_shape.cpp
Due: copyright-headers

fix: change default class icon to cube in inherits and inherited by sections of the in-editor docs
  editor/doc/editor_help.cpp
Due: copyright-headers

[CrashHandler] Always print frame PCs and main module load address for retrace.
  platform/linuxbsd/crash_handler_linuxbsd.cpp
  platform/macos/crash_handler_macos.mm
  platform/windows/crash_handler_windows_seh.cpp
  platform/windows/crash_handler_windows_signal.cpp
Due: copyright-headers

Fix segfault in dir_access_windows
  drivers/windows/dir_access_windows.cpp
Due: copyright-headers

fix move LOCK_MUTEX to correct position
  core/object/message_queue.cpp
Due: copyright-headers

Add Blender import "Named Collection Only" option
  modules/gltf/editor/editor_scene_importer_blend.cpp
Due: copyright-headers

fix: address review suggestions
  core/core_string_names.h
  core/object/message_queue.cpp
  core/object/message_queue.h
  core/variant/variant_call.cpp
  doc/classes/Callable.xml
  doc/classes/Object.xml
  tests/core/object/test_object.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Lower directional shadow culling colinearity epsilon for better performance
  servers/rendering/rendering_light_culler.cpp
  servers/rendering/rendering_light_culler.h
Due: copyright-headers, header-guards

Fix push_call_unique to call correct backend function
  core/object/message_queue.h
Due: copyright-headers, header-guards

Fix "Pack Project as Zip" not saving permissions and time.
  editor/export/editor_export_platform.cpp
  editor/export/project_zip_packer.cpp
Due: copyright-headers

Add resource counting limit
  editor/editor_node.cpp
  editor/editor_node.h
  editor/inspector/editor_resource_picker.cpp
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

