Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Fix ambiguous AnimationNode's parameter type in default value
  scene/animation/animation_blend_space_1d.cpp
  scene/animation/animation_blend_space_2d.cpp
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_tree.cpp
  scene/animation/tween.cpp
  scene/animation/tween.h
  scene/resources/animation.cpp
  scene/resources/animation.h
Due: copyright-headers, header-guards

Improve EditorInspectorCategory
  editor/editor_inspector.cpp
  editor/editor_inspector.h
  editor/editor_node.cpp
Due: copyright-headers, header-guards

Fix crash when inspecting Variant export variable
  editor/editor_settings_dialog.cpp
Due: copyright-headers

Fix LineEdit's caret desyncing issue when toggling secret mode
  scene/gui/line_edit.cpp
Due: copyright-headers

[macOS] Fix clipboard and TTS not working in embedded game mode.
  platform/macos/SCsub
  platform/macos/display_server_embedded.h
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/display_server_macos_base.h
  platform/macos/display_server_macos_base.mm
Due: copyright-headers, header-guards

Add `OS::open_with_program` for opening files/directories with a specific program on macOS
  core/core_bind.cpp
  core/core_bind.h
  core/os/os.h
  doc/classes/OS.xml
  editor/filesystem_dock.cpp
  platform/macos/os_macos.h
  platform/macos/os_macos.mm
Due: make-rst, doc-status, copyright-headers, header-guards

Move MovieWriterMJPEG class to `jpg` module it depends on
  doc/classes/MovieWriter.xml
  main/main.cpp
  modules/jpg/movie_writer_mjpeg.cpp
  modules/jpg/movie_writer_mjpeg.h
  modules/jpg/register_types.cpp
  servers/register_server_types.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

[web] add support for pen pressure
  platform/web/display_server_web.cpp
  platform/web/display_server_web.h
  platform/web/godot_js.h
  platform/web/js/libs/library_godot_input.js
Due: eslint, copyright-headers, header-guards

[RTL] Add options to override underline color and default alpha.
  doc/classes/RichTextLabel.xml
  misc/extension_api_validation/4.4-stable.expected
  scene/gui/rich_text_label.compat.inc
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
  scene/theme/default_theme.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Add clarifications to PhysicsDirectSpaceState docs on how to get their instance
  doc/classes/PhysicsDirectSpaceState2D.xml
  doc/classes/PhysicsDirectSpaceState3D.xml
Due: make-rst, doc-status

Make TileMapLayer editor match layer's filter
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_map_layer_editor.h
Due: copyright-headers, header-guards

Fix creating outline for skinned meshes
  editor/plugins/mesh_instance_3d_editor_plugin.cpp
Due: copyright-headers

Export: Modify template without rcedit
  editor/editor_property_name_processor.cpp
  platform/windows/export/export.cpp
  platform/windows/export/export_plugin.cpp
  platform/windows/export/export_plugin.h
  platform/windows/export/template_modifier.cpp
  platform/windows/export/template_modifier.h
Due: copyright-headers, header-guards

Started refactoring AnimationTrackEditor class
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/animation_track_editor_plugins.cpp
Due: copyright-headers, header-guards

Add `WorkerThreadPool.get_caller_group_id`
  core/object/worker_thread_pool.cpp
  core/object/worker_thread_pool.h
  doc/classes/WorkerThreadPool.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Add C# web export support for Godot 4
  modules/mono/build_scripts/web_export_template.py
  modules/mono/config.py
  modules/mono/editor/GodotTools/GodotTools/Export/ExportPlugin.cs
  modules/mono/godotsharp_dirs.cpp
  modules/mono/mono_gd/gd_mono.cpp
Due: copyright-headers

Expose `RS.mesh_surface_update_index_region`
  doc/classes/RenderingServer.xml
  drivers/gles3/storage/mesh_storage.cpp
  drivers/gles3/storage/mesh_storage.h
  servers/rendering/dummy/storage/mesh_storage.h
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/mesh_storage.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Adding tests for Animation Blend Tree
  tests/scene/test_animation_blend_tree.h
  tests/test_main.cpp
Due: copyright-headers, header-guards

Fix code style issues in web export implementation
  modules/mono/build_scripts/web_export_template.py
Due: none

Added functionalities to fix invalid cells and clear all cells in GridMap
  modules/gridmap/doc_classes/GridMap.xml
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  modules/gridmap/editor/grid_map_editor_plugin.h
  modules/gridmap/grid_map.cpp
  modules/gridmap/grid_map.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix rotated/flipped tiles destination rect calculations
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_map_layer_editor.h
  scene/2d/tile_map_layer.cpp
  scene/2d/tile_map_layer.h
Due: copyright-headers, header-guards

Add POSITION to canvas-item-shaders
  drivers/gles3/shaders/canvas.glsl
  drivers/gles3/storage/material_storage.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/shaders/canvas.glsl
  servers/rendering/shader_types.cpp
Due: copyright-headers

Revert some instances of Math::INF back to 1e20
  core/math/geometry_3d.cpp
  scene/3d/voxelizer.cpp
Due: copyright-headers

Doc: Add "required" qualifier to methods
  core/doc_data.cpp
  doc/classes/AnimationNodeExtension.xml
  doc/classes/AudioEffect.xml
  doc/classes/AudioEffectInstance.xml
  doc/classes/AudioStreamPlayback.xml
  doc/classes/AudioStreamPlaybackResampled.xml
  doc/classes/EditorExportPlatformExtension.xml
  doc/classes/EditorExportPlugin.xml
  doc/classes/EditorFileSystemImportFormatSupportQuery.xml
  doc/classes/EditorScript.xml
  doc/classes/EditorVCSInterface.xml
  doc/classes/Material.xml
  doc/classes/Mesh.xml
  doc/classes/MovieWriter.xml
  doc/classes/MultiplayerPeerExtension.xml
  doc/classes/PacketPeerExtension.xml
  doc/classes/PhysicsDirectBodyState2DExtension.xml
  doc/classes/PhysicsDirectBodyState3DExtension.xml
  doc/classes/PhysicsDirectSpaceState2DExtension.xml
  doc/classes/PhysicsDirectSpaceState3DExtension.xml
  doc/classes/PhysicsServer2DExtension.xml
  doc/classes/PhysicsServer3DExtension.xml
  doc/classes/PhysicsServer3DRenderingServerHandler.xml
  doc/classes/ScriptExtension.xml
  doc/classes/ScriptLanguageExtension.xml
  doc/classes/StreamPeerExtension.xml
  doc/classes/StyleBox.xml
  doc/classes/TextServerExtension.xml
  doc/classes/Texture2D.xml
  doc/classes/Texture3D.xml
  doc/classes/TextureLayered.xml
  doc/classes/VideoStreamPlayback.xml
  doc/tools/make_rst.py
  editor/editor_help.cpp
  modules/openxr/doc_classes/OpenXRBindingModifier.xml
  modules/webrtc/doc_classes/WebRTCDataChannelExtension.xml
  modules/webrtc/doc_classes/WebRTCPeerConnectionExtension.xml
Due: make-rst, doc-status, copyright-headers

SCons: Fix support for compiling .S files on Windows/MinGW
  0001-zstd-Enable-x86_64-assembly-for-Windows-MinGW.patch
  platform/windows/detect.py
Due: none

LightmapGI: Search for shadowmask light index only after sorting the lights
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/lightmapper_rd/lightmapper_rd.h
Due: copyright-headers, header-guards

Refactoring and hotfix
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
  editor/animation_track_editor_plugins.cpp
  editor/animation_track_editor_plugins.h
Due: copyright-headers, header-guards

Add reveal secret text button to EditorPropertyText
  editor/editor_properties.cpp
  editor/editor_properties.h
Due: copyright-headers, header-guards

Implement ModifierBoneTarget3D which can be target of the other mods
  doc/classes/ModifierBoneTarget3D.xml
  editor/icons/ModifierBoneTarget3D.svg
  scene/3d/modifier_bone_target_3d.cpp
  scene/3d/modifier_bone_target_3d.h
  scene/register_scene_types.cpp
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Always use a dark background for 3D editor overlays even with light theme
  editor/icons/Camera3DDarkBackground.svg
  editor/icons/GuiTabMenuHlDarkBackground.svg
  editor/plugins/node_3d_editor_plugin.cpp
  editor/themes/editor_color_map.cpp
  editor/themes/editor_theme_manager.cpp
  editor/themes/editor_theme_manager.h
Due: svgo, copyright-headers, header-guards

Minor updates to thirdparty documentation/COPYRIGHT.txt
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/swappy-frame-pacing/LICENSE
Due: none

Add script pre creation plugin
  doc/classes/EditorPlugin.xml
  doc/classes/EditorScriptPreCreationPlugin.xml
  editor/editor_node.cpp
  editor/plugins/editor_plugin.cpp
  editor/plugins/editor_plugin.h
  editor/register_editor_types.cpp
  editor/script_create_dialog.cpp
  editor/script_create_dialog.h
Due: make-rst, doc-status, copyright-headers, header-guards

libpng: Update to 1.6.48
  thirdparty/README.md
  thirdparty/libpng/arm/arm_init.c
  thirdparty/libpng/png.c
  thirdparty/libpng/png.h
  thirdparty/libpng/pngconf.h
  thirdparty/libpng/pngdebug.h
  thirdparty/libpng/pngerror.c
  thirdparty/libpng/pngget.c
  thirdparty/libpng/pnginfo.h
  thirdparty/libpng/pnglibconf.h
  thirdparty/libpng/pngmem.c
  thirdparty/libpng/pngpread.c
  thirdparty/libpng/pngpriv.h
  thirdparty/libpng/pngread.c
  thirdparty/libpng/pngrio.c
  thirdparty/libpng/pngrtran.c
  thirdparty/libpng/pngrutil.c
  thirdparty/libpng/pngset.c
  thirdparty/libpng/pngstruct.h
  thirdparty/libpng/pngwio.c
  thirdparty/libpng/pngwrite.c
  thirdparty/libpng/pngwutil.c
  thirdparty/libpng/powerpc/filter_vsx_intrinsics.c
  thirdparty/libpng/powerpc/powerpc_init.c
Due: none

Move GDScript warnings to EditorSettings
  core/config/project_settings.cpp
  core/config/project_settings.h
  editor/editor_settings.cpp
  editor/editor_settings.h
  editor/plugins/script_text_editor.cpp
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/register_types.cpp
Due: copyright-headers, header-guards

doctest: Update to 2.4.12
  thirdparty/README.md
  thirdparty/doctest/doctest.h
  thirdparty/doctest/patches/0001-ciso646-version.patch
Due: none

openxr: Update to 1.1.48
  modules/openxr/SCsub
  thirdparty/README.md
  thirdparty/openxr/include/openxr/openxr.h
  thirdparty/openxr/include/openxr/openxr_platform.h
  thirdparty/openxr/include/openxr/openxr_reflection.h
  thirdparty/openxr/include/openxr/openxr_reflection_structs.h
  thirdparty/openxr/patches/0001-glad-egl.patch
  thirdparty/openxr/src/common/xr_dependencies.h
Due: none

msdfgen: Update to 1.12.1
  COPYRIGHT.txt
  thirdparty/README.md
  thirdparty/msdfgen/LICENSE.txt
  thirdparty/msdfgen/core/MSDFErrorCorrection.cpp
  thirdparty/msdfgen/core/msdf-error-correction.cpp
  thirdparty/msdfgen/core/msdf-error-correction.h
  thirdparty/msdfgen/core/rasterization.cpp
  thirdparty/msdfgen/core/save-bmp.cpp
  thirdparty/msdfgen/core/save-tiff.cpp
  thirdparty/msdfgen/core/shape-description.cpp
  thirdparty/msdfgen/msdfgen.h
Due: none

Add `has_editor_variant` to file cache
  editor/editor_file_system.cpp
  editor/editor_file_system.h
  editor/import/resource_importer_texture.cpp
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
