Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Create a proper editor for `MeshLibrary`
  core/io/resource.cpp
  doc/classes/MeshLibrary.xml
  doc/classes/Resource.xml
  editor/editor_node.cpp
  editor/icons/MeshLibraryEditor.svg
  editor/scene/3d/mesh_library_editor_plugin.cpp
  editor/scene/3d/mesh_library_editor_plugin.h
  editor/settings/editor_settings.cpp
  modules/gridmap/editor/grid_map_editor_plugin.cpp
  scene/resources/3d/mesh_library.cpp
  scene/resources/3d/mesh_library.h
Due: make-rst, doc-status, validate-xml, svgo, copyright-headers, header-guards

no message
  editor/editor_node.cpp
Due: copyright-headers

Remove error on duplicating res:// attempt
  editor/docks/filesystem_dock.cpp
Due: copyright-headers

Edit inacccurate comment from last commit
  editor/docks/filesystem_dock.cpp
Due: copyright-headers

Implement screen-space based selection outline as default alternative to AABB
  doc/classes/EditorSettings.xml
  editor/scene/3d/node_3d_editor_gizmos.cpp
  editor/scene/3d/node_3d_editor_gizmos.h
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
  editor/settings/editor_settings.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Deprecate `Input.should_ignore_device()`
  core/input/input.cpp
  core/input/input.h
  doc/classes/Input.xml
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Reorganise editor settings documentation
  doc/classes/EditorSettings.xml
Due: make-rst, doc-status, validate-xml

Add `_editor_ready()` virtual to `EditorPlugin` and fix is_editor_ready()
  doc/classes/EditorPlugin.xml
  editor/editor_data.cpp
  editor/editor_data.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/plugins/editor_plugin.cpp
  editor/plugins/editor_plugin.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Link Logging tutorial in the Logger class reference
  doc/classes/Logger.xml
Due: make-rst, doc-status, validate-xml

LSP: Disable "smart resolve" by default
  doc/classes/EditorSettings.xml
  editor/settings/editor_settings.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers

Emit events when HDR output state changes externally
  doc/classes/DisplayServer.xml
  doc/classes/Node.xml
  doc/classes/Window.xml
  platform/windows/display_server_windows.cpp
  scene/main/node.cpp
  scene/main/node.h
  scene/main/window.cpp
  servers/display/display_server.cpp
  servers/display/display_server_enums.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

fix: update streaming paths to direct atlas allocator
  modules/gaussian_splatting/core/streaming_eviction_controller.cpp
  modules/gaussian_splatting/core/streaming_upload_pipeline.cpp
Due: copyright-headers

perf: compact deferred deletion queue in linear time
  modules/gaussian_splatting/renderer/gpu_buffer_manager.h
Due: copyright-headers, header-guards

refactor: extract remaining gaussian streaming type headers
  modules/gaussian_splatting/core/gaussian_streaming.cpp
  modules/gaussian_splatting/core/gaussian_streaming.h
  modules/gaussian_splatting/core/streaming_asset_types.h
  modules/gaussian_splatting/core/streaming_config_overrides.h
  modules/gaussian_splatting/core/streaming_runtime_state.h
Due: copyright-headers, header-guards

refactor: replace renderer state .inc files with headers
  modules/gaussian_splatting/renderer/gaussian_splat_renderer.h
  modules/gaussian_splatting/renderer/gaussian_splat_renderer_config_state.inc
  modules/gaussian_splatting/renderer/gaussian_splat_renderer_debug_state.inc
  modules/gaussian_splatting/renderer/gaussian_splat_renderer_diagnostics_state.inc
  modules/gaussian_splatting/renderer/gaussian_splat_renderer_interactive_state.inc
  modules/gaussian_splatting/renderer/gaussian_splat_renderer_pipeline_types.inc
  modules/gaussian_splatting/renderer/render_types/render_config_types.h
  modules/gaussian_splatting/renderer/render_types/render_debug_types.h
  modules/gaussian_splatting/renderer/render_types/render_frame_types.h
  modules/gaussian_splatting/renderer/render_types/render_pipeline_io_types.h
Due: copyright-headers, header-guards

refactor: extract renderer facade state carriers
  modules/gaussian_splatting/renderer/gaussian_splat_renderer.cpp
  modules/gaussian_splatting/renderer/gaussian_splat_renderer.h
  modules/gaussian_splatting/renderer/render_types/render_facade_state_types.h
Due: copyright-headers, header-guards

refactor: move renderer facade helpers to orchestrators
  modules/gaussian_splatting/renderer/gaussian_splat_renderer.cpp
  modules/gaussian_splatting/renderer/gaussian_splat_renderer.h
  modules/gaussian_splatting/renderer/render_debug_state_orchestrator.cpp
  modules/gaussian_splatting/renderer/render_device_orchestrator.cpp
  modules/gaussian_splatting/renderer/render_device_orchestrator.h
  modules/gaussian_splatting/renderer/render_resource_orchestrator.cpp
  modules/gaussian_splatting/renderer/render_resource_orchestrator.h
  modules/gaussian_splatting/renderer/render_sorting_orchestrator.cpp
Due: copyright-headers, header-guards

Implement declaration and lambda function tooltips.
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Due: copyright-headers, header-guards

fix(ci): add fetch-depth: 0 to Linux CPU-only checkout
  .github/workflows/baseline_qa.yml
Due: none

Remove `paged_allocator.h` include from `message_queue.h`.
  core/object/message_queue.cpp
  core/object/message_queue.h
  scene/main/scene_tree.cpp
Due: copyright-headers, header-guards

gaussian: align editor UX with native asset flow
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
  modules/gaussian_splatting/docs/GAUSSIAN_EDITOR_UX_REDESIGN_CHECKLIST.md
  modules/gaussian_splatting/editor/gaussian_asset_preview_control.cpp
  modules/gaussian_splatting/editor/gaussian_asset_preview_control.h
  modules/gaussian_splatting/editor/gaussian_editor_plugin.cpp
  modules/gaussian_splatting/editor/gaussian_editor_plugin.h
  modules/gaussian_splatting/editor/gaussian_inspector_plugins.cpp
  modules/gaussian_splatting/editor/gaussian_resource_preview_generator.cpp
  modules/gaussian_splatting/editor/gaussian_resource_preview_generator.h
Due: copyright-headers, header-guards

Add user-defined code snippets support for GDScript
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_editor.cpp
Due: copyright-headers, header-guards

Fix GPUParticles3D aligning to imperceptible velocities
  scene/resources/particle_process_material.cpp
Due: copyright-headers

Fix unscaled physics timer using process time instead of physics time
  core/config/engine.h
  main/main.cpp
  scene/main/scene_tree.cpp
  scene/main/timer.cpp
Due: copyright-headers, header-guards

CI fixed
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_editor.cpp
Due: copyright-headers

gaussian: fix preview centering and drop/reimport semantics
  editor/scene/3d/node_3d_editor_plugin.cpp
  modules/gaussian_splatting/editor/gaussian_asset_preview_control.cpp
  modules/gaussian_splatting/editor/gaussian_editor_plugin.cpp
Due: copyright-headers

Add BitField[T] type to GDScript
  doc/classes/BitField.xml
  editor/doc/doc_tools.cpp
  editor/doc/editor_help.cpp
  editor/icons/BitField.svg
  editor/scene/connections_dialog.cpp
  modules/gdscript/editor/gdscript_docgen.cpp
  modules/gdscript/editor/gdscript_highlighter.cpp
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
Due: make-rst, doc-status, validate-xml, svgo, copyright-headers, header-guards

Fix GLES3 batching skipping rendering all items
  drivers/gles3/rasterizer_canvas_gles3.cpp
Due: copyright-headers

fix: reset lock rotation when opening/creating new scenes
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

Properly handle readonly resources in shapes editors
  editor/scene/2d/physics/collision_shape_2d_editor_plugin.cpp
  editor/scene/3d/gizmos/physics/collision_shape_3d_gizmo_plugin.cpp
Due: copyright-headers

SceneTree: Replace manual thread checks with ERR_MAIN_THREAD_GUARD
  scene/main/scene_tree.cpp
Due: copyright-headers

Fix shortcut input being disabled in MenuButton
  scene/gui/base_button.cpp
  scene/gui/base_button.h
  scene/gui/menu_button.cpp
  scene/gui/menu_button.h
  scene/gui/option_button.cpp
  scene/gui/option_button.h
Due: copyright-headers, header-guards

Fixes for nine patch sprite compilation
  scene/2d/nine_patch_sprite.cpp
Due: copyright-headers

Add _get_tooltip_auto_translate_mode_at() to Control
  doc/classes/Control.xml
  editor/settings/editor_autoload_settings.cpp
  scene/gui/control.cpp
  scene/gui/control.h
  scene/gui/item_list.cpp
  scene/gui/item_list.h
  scene/gui/tree.cpp
  scene/gui/tree.h
  scene/main/viewport.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Use a luminance histogram for calculating auto exposure
  servers/rendering/renderer_rd/effects/luminance.cpp
  servers/rendering/renderer_rd/effects/luminance.h
  servers/rendering/renderer_rd/shaders/effects/luminance_reduce.glsl
Due: copyright-headers, header-guards

Exclude unsupported pixel formats from Linux camera feed
  modules/camera/camera_feed_linux.cpp
  modules/camera/camera_feed_linux.h
Due: copyright-headers, header-guards

fix: relax vswhere command conditions for broader compatibility
  methods.py
Due: none

Fix MJPEG camera decoding with YUV plane output on Linux
  core/io/image.cpp
  core/io/image.h
  modules/camera/SCsub
  modules/camera/buffer_decoder.cpp
  modules/camera/buffer_decoder.h
  modules/camera/camera_feed_linux.cpp
  modules/jpg/image_loader_libjpeg_turbo.cpp
Due: copyright-headers, header-guards

percent-scaled lower and upper thresholds
  doc/classes/CameraAttributesPractical.xml
  scene/resources/camera_attributes.cpp
  servers/rendering/renderer_rd/effects/motion_blur.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers

Fix breakpoints resetting on external editor save
  editor/gui/code_editor.cpp
  editor/script/script_editor_plugin.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

