Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  - -c
  pass_filenames: false

validate-builders:
  name: validate-builders
  language: python
  entry: python tests/python_build/validate_builders.py
  pass_filenames: false

validate-xml:
  name: validate-xml
  language: python
  entry: python misc/scripts/validate_xml.py
  additional_dependencies:
  - xmlschema

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

SCons: Cleanup hardcoded D3D12 driver workarounds
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
Due: copyright-headers, header-guards

Supplement the case of scene instantiation for "Editable Children"
  scene/resources/packed_scene.cpp
Due: copyright-headers

Assign layout key to Debugger
  editor/debugger/editor_debugger_node.cpp
Due: copyright-headers

Change MSBuildPanel to EditorDock
  doc/classes/EditorDock.xml
  editor/docks/editor_dock.cpp
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
Due: make-rst, doc-status, validate-xml, copyright-headers

Editor: Improve accessibility in Create New Project dialog
  editor/project_manager/project_dialog.cpp
Due: copyright-headers

[Editor] Simplify native menu icon generation.
  editor/editor_node.cpp
  editor/themes/editor_icons.cpp
Due: copyright-headers

[iOS] Fix use of `godot_path`.
  main/main.cpp
Due: copyright-headers

Use re-spirv in the Vulkan driver to optimize shaders.
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  thirdparty/README.md
  thirdparty/re-spirv/re-spirv.cpp
Due: copyright-headers

Check for pending clears in every RD texture function.
  servers/rendering/rendering_device.cpp
Due: copyright-headers

Android: Add method to take persistable URI permission
  doc/classes/DisplayServer.xml
  platform/android/java/lib/src/main/java/org/godotengine/godot/io/FilePicker.kt
Due: make-rst, doc-status, validate-xml

Add extra panels to some areas of the editor
  editor/export/project_export.cpp
Due: copyright-headers

Fix redundant attempts to connect popup hidden signal on submenu
  scene/gui/popup_menu.cpp
Due: copyright-headers

OpenXR: Fix building with `vulkan=no`
  modules/openxr/extensions/openxr_fb_foveation_extension.cpp
  modules/openxr/extensions/openxr_fb_foveation_extension.h
Due: copyright-headers, header-guards

Fix bottom dock offsets and change Audio to EditorDock
  editor/audio/editor_audio_buses.cpp
  editor/editor_node.cpp
  editor/gui/editor_bottom_panel.h
Due: copyright-headers, header-guards

Rewrite Radiance and Reflection probes to use Octahedral maps.
  servers/rendering/renderer_rd/effects/copy_effects.h
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
Due: copyright-headers, header-guards

Add new monospace related hint strings
  editor/inspector/editor_properties.h
  platform/macos/export/export_plugin.cpp
Due: copyright-headers, header-guards

Resize right panel
  editor/editor_node.cpp
Due: copyright-headers

Hide mouse focus from project list
  editor/project_manager/project_list.cpp
  editor/project_manager/project_list.h
Due: copyright-headers, header-guards

Use EditorDock for Search Results
  editor/script/find_in_files.cpp
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
Due: copyright-headers, header-guards

Synchronize the names for `RequiredParam<T>` arguments in header files
  core/input/input.h
  core/io/resource_saver.h
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/jolt_physics/jolt_physics_server_3d.h
  scene/2d/physics/area_2d.h
  scene/2d/physics/collision_object_2d.h
  scene/2d/physics/physics_body_2d.h
  scene/2d/physics/ray_cast_2d.h
  scene/2d/physics/shape_cast_2d.h
  scene/3d/physics/area_3d.h
  scene/3d/physics/collision_object_3d.h
  scene/3d/physics/physics_body_3d.h
  scene/3d/physics/ray_cast_3d.h
  scene/3d/physics/shape_cast_3d.h
  scene/3d/physics/soft_body_3d.h
  scene/animation/tween.h
  scene/gui/container.h
  scene/gui/control.h
  scene/main/canvas_item.h
  scene/main/node.h
  scene/main/scene_tree.h
  scene/main/viewport.h
  scene/resources/2d/shape_2d.h
  servers/physics_2d/physics_server_2d.h
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_dummy.h
Due: copyright-headers, header-guards

added zoom to fit for SpriteFramesEditorPlugin
  editor/scene/sprite_frames_editor_plugin.cpp
Due: copyright-headers

Fix `ScrollContainer` ignoring internal nodes added externally
  scene/gui/scroll_container.cpp
Due: copyright-headers

Unmark `Node::is_editable_instance()` parameter as required
  scene/main/node.cpp
  scene/main/node.h
Due: copyright-headers, header-guards

Fix CreateDialog returning wrong type
  editor/gui/create_dialog.cpp
Due: copyright-headers

Use ScriptExportMode enum in EditorExportPreset
  editor/export/editor_export_preset.cpp
  editor/export/project_export.cpp
  editor/export/project_export.h
  misc/extension_api_validation/4.5-stable.expected
Due: copyright-headers, header-guards

Fix sprite_frames_editor_plugin compilation with deprecated=no
  editor/scene/sprite_frames_editor_plugin.cpp
Due: copyright-headers

Add `agx_white`, `agx_contrast` and HDR support to the AgX tonemapper.
  servers/rendering/renderer_rd/effects/tone_mapper.cpp
  servers/rendering/renderer_rd/shaders/effects/tonemap_mobile.glsl
Due: copyright-headers

Use new dock system for Animation dock
  editor/animation/animation_player_editor_plugin.cpp
  editor/animation/animation_track_editor.cpp
  editor/editor_node.cpp
Due: copyright-headers

Add special compat methods for EditorFileDialog enum fns
  editor/project_manager/project_manager.cpp
Due: copyright-headers

Fix the issue of no scan after dir creation and/or deletion
  editor/gui/editor_file_dialog.h
Due: copyright-headers, header-guards

Use EditorDock for Polygon2D editor
  editor/scene/2d/polygon_2d_editor_plugin.h
Due: copyright-headers, header-guards

Accessibility: Fix text field character count and line navigation
  doc/classes/DisplayServer.xml
  misc/extension_api_validation/4.5-stable.expected
Due: make-rst, doc-status, validate-xml

Ensure that all spec constants are given a value in the mobile post process shader so that re-spirv can pick up on them and optimize them out of the final shader
  servers/rendering/renderer_rd/effects/tone_mapper.cpp
Due: copyright-headers

CI: Add pre-commit hook for XML schema validation
  .github/workflows/static_checks.yml
Due: none

Make `!configured` checks in `profiling.cpp` soft checks, returning dummies.
  core/profiling/profiling.cpp
Due: copyright-headers

Ensure paths in autoload info
  main/main.cpp
Due: copyright-headers

Fix issues with property height in the inspector
  editor/gui/editor_spin_slider.cpp
  editor/inspector/editor_inspector.cpp
  editor/inspector/editor_properties.h
  editor/inspector/editor_resource_picker.cpp
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers, header-guards

Use `RequiredParam`/`RequiredResult` in some high value places
  core/input/input.cpp
  core/input/input.h
  core/variant/method_ptrcall.h
  core/variant/required_ptr.h
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/jolt_physics/jolt_physics_server_3d.h
  scene/2d/physics/area_2d.h
  scene/2d/physics/collision_object_2d.h
  scene/2d/physics/physics_body_2d.h
  scene/2d/physics/ray_cast_2d.h
  scene/2d/physics/shape_cast_2d.h
  scene/3d/physics/area_3d.h
  scene/3d/physics/collision_object_3d.h
  scene/3d/physics/physics_body_3d.h
  scene/3d/physics/ray_cast_3d.h
  scene/3d/physics/shape_cast_3d.h
  scene/3d/physics/soft_body_3d.h
  scene/animation/tween.h
  scene/gui/container.h
  scene/gui/control.h
  scene/main/canvas_item.h
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.h
  scene/main/viewport.h
  scene/resources/2d/shape_2d.h
  servers/physics_2d/physics_server_2d.h
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_dummy.h
  tests/core/object/test_object.h
  tests/scene/test_split_container.h
Due: copyright-headers, header-guards

Improvements to ResourcePreloader editor
  editor/scene/resource_preloader_editor_plugin.cpp
Due: copyright-headers

Core: Add Apple Instruments support
  core/profiling/SCsub
  core/profiling/profiling.cpp
  core/profiling/profiling.h
Due: copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

