Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$


gaussian_splatting: fix stage 0 editor source authority
  modules/gaussian_splatting/editor/gaussian_editor_plugin.cpp
  modules/gaussian_splatting/tests/test_gaussian_splatting.h
Due: copyright-headers, header-guards

Extend class docs
  doc/classes/NavigationMesh.xml
  doc/classes/NavigationMeshArea3D.xml
  doc/classes/NavigationMeshAreaBox3D.xml
  doc/classes/NavigationMeshAreaCylinder3D.xml
  doc/classes/NavigationMeshAreaPolygon3D.xml
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status, validate-xml

Fix GDExtension ptrcall Ref<T> return refcount leak
  core/extension/gdextension_interface.cpp
Due: copyright-headers

gaussian_splatting: add stage 1a submission scaffolding
  modules/gaussian_splatting/core/gaussian_splat_scene_director.cpp
  modules/gaussian_splatting/core/gaussian_splat_scene_director.h
  modules/gaussian_splatting/tests/test_gaussian_splatting.h
  modules/gaussian_splatting/tests/test_scene_director_submission_scaffolding.h
Due: copyright-headers, header-guards

Remove experimental flag from EditorDock
  doc/classes/EditorDock.xml
Due: make-rst, doc-status, validate-xml

gaussian_splatting: tighten stage 1a submission contract
  modules/gaussian_splatting/core/gaussian_splat_scene_director.cpp
  modules/gaussian_splatting/core/gaussian_splat_scene_director.h
  modules/gaussian_splatting/tests/test_scene_director_submission_scaffolding.h
Due: copyright-headers, header-guards

Use freeze guard instead of is_equal_approx
  scene/3d/physics/rigid_body_3d.cpp
Due: copyright-headers

gaussian_splatting: fix stage 1b world submission rollback
  modules/gaussian_splatting/core/gaussian_splat_scene_director.cpp
  modules/gaussian_splatting/core/gaussian_splat_scene_director.h
  modules/gaussian_splatting/nodes/gaussian_splat_world_3d.cpp
  modules/gaussian_splatting/nodes/gaussian_splat_world_3d.h
  modules/gaussian_splatting/renderer/gaussian_splat_renderer.h
  modules/gaussian_splatting/renderer/render_data_orchestrator.cpp
  modules/gaussian_splatting/tests/test_scene_director_submission_scaffolding.h
Due: copyright-headers, header-guards

Fix close dropdown popups correctly on focus loss
  platform/linuxbsd/x11/display_server_x11.cpp
Due: copyright-headers

Add buffer device address support to D3D12 driver.
  drivers/d3d12/rendering_device_driver_d3d12.cpp
  drivers/d3d12/rendering_device_driver_d3d12.h
  drivers/d3d12/rendering_shader_container_d3d12.cpp
  servers/rendering/rendering_device_commons.h
  servers/rendering/rendering_shader_container.cpp
  servers/rendering/rendering_shader_container.h
Due: copyright-headers, header-guards

gaussian_splatting: finish stage 1b rollback restore
  modules/gaussian_splatting/core/gaussian_splat_scene_director.cpp
Due: copyright-headers

Fix minimum height of Output buttons
  editor/editor_log.cpp
Due: copyright-headers

allow searching editor shortcuts by path
  editor/settings/editor_settings_dialog.cpp
  editor/settings/editor_settings_dialog.h
Due: copyright-headers, header-guards

fix #118029
  editor/gui/directory_create_dialog.cpp
Due: copyright-headers

Only propagate physics server transforms when different
  scene/2d/physics/rigid_body_2d.cpp
  scene/3d/physics/physical_bone_3d.cpp
  scene/3d/physics/rigid_body_3d.cpp
Due: copyright-headers

Degrade logging errors from `ClassDB` in cases where there weren't before `GDType`, and errors aren't technically needed.
  core/object/class_db.cpp
Due: copyright-headers

Fix RD header generation for raytracing shaders.
  glsl_builders.py
Due: validate-builders

Server-only approach (wip)
  doc/classes/NavigationMeshArea3D.xml
  doc/classes/NavigationServer3D.xml
  modules/navigation_3d/3d/godot_navigation_server_3d.cpp
  modules/navigation_3d/3d/godot_navigation_server_3d.h
  modules/navigation_3d/3d/nav_mesh_generator_3d.cpp
  modules/navigation_3d/3d/nav_mesh_generator_3d.h
  modules/navigation_3d/nav_area_3d.cpp
  modules/navigation_3d/nav_area_3d.h
  modules/navigation_3d/nav_map_3d.cpp
  modules/navigation_3d/nav_map_3d.h
  scene/3d/navigation/navigation_mesh_area_3d.cpp
  scene/3d/navigation/navigation_mesh_area_3d.h
  servers/navigation_3d/navigation_server_3d.cpp
  servers/navigation_3d/navigation_server_3d.h
  servers/navigation_3d/navigation_server_3d_dummy.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Refactor debug error/break in `GDScriptFunction::call` to be a method
  modules/gdscript/gdscript_function.h
  modules/gdscript/gdscript_vm.cpp
Due: copyright-headers, header-guards

Remove reference bump of instance during `GDScriptFunction::call`
  modules/gdscript/gdscript_vm.cpp
Due: copyright-headers

gaussian_splatting: add stage 2b resident instance path
  modules/gaussian_splatting/core/gaussian_splat_scene_director.cpp
  modules/gaussian_splatting/core/gaussian_splat_scene_director.h
  modules/gaussian_splatting/core/gs_project_settings.h
  modules/gaussian_splatting/interfaces/debug_overlay_system.cpp
  modules/gaussian_splatting/nodes/gaussian_splat_world_3d.cpp
  modules/gaussian_splatting/renderer/gaussian_splat_renderer.cpp
  modules/gaussian_splatting/renderer/gaussian_splat_renderer.h
  modules/gaussian_splatting/renderer/render_data_orchestrator.cpp
  modules/gaussian_splatting/renderer/render_debug_state_orchestrator.h
  modules/gaussian_splatting/renderer/render_diagnostics_orchestrator.cpp
  modules/gaussian_splatting/renderer/render_instancing_orchestrator.cpp
  modules/gaussian_splatting/renderer/render_instancing_orchestrator.h
  modules/gaussian_splatting/renderer/render_pipeline_stages.cpp
  modules/gaussian_splatting/renderer/render_pipeline_stages.h
  modules/gaussian_splatting/renderer/render_route_labels.cpp
  modules/gaussian_splatting/renderer/render_streaming_orchestrator.cpp
  modules/gaussian_splatting/renderer/render_types/render_debug_types.h
  modules/gaussian_splatting/renderer/render_types/render_facade_state_types.h
  modules/gaussian_splatting/renderer/render_types/render_pipeline_io_types.h
  modules/gaussian_splatting/renderer/resident_instance_contract_publisher.cpp
  modules/gaussian_splatting/renderer/resident_instance_contract_publisher.h
  modules/gaussian_splatting/tests/test_renderer_pipeline.h
  modules/gaussian_splatting/tests/test_scene_director_submission_scaffolding.h
Due: copyright-headers, header-guards

gaussian_splatting: improve route diagnostics surfaces
  modules/gaussian_splatting/editor/gaussian_editor_services.cpp
  modules/gaussian_splatting/interfaces/debug_overlay_system.cpp
  modules/gaussian_splatting/renderer/render_diagnostics_orchestrator.cpp
  modules/gaussian_splatting/renderer/render_route_labels.cpp
  modules/gaussian_splatting/renderer/render_route_labels.h
  modules/gaussian_splatting/tests/test_integration.cpp
  modules/gaussian_splatting/tests/test_renderer_pipeline.h
Due: copyright-headers, header-guards

gaussian_splatting: add stage 3b effective config provenance
  modules/gaussian_splatting/core/effective_config_snapshot.h
  modules/gaussian_splatting/editor/gaussian_editor_services.cpp
  modules/gaussian_splatting/nodes/gaussian_splat_node_3d.cpp
  modules/gaussian_splatting/nodes/gaussian_splat_node_3d.h
  modules/gaussian_splatting/nodes/gaussian_splat_node_helpers.cpp
  modules/gaussian_splatting/renderer/pipeline_feature_set.cpp
  modules/gaussian_splatting/renderer/pipeline_feature_set.h
  modules/gaussian_splatting/renderer/render_diagnostics_orchestrator.cpp
  modules/gaussian_splatting/renderer/sh_config.cpp
  modules/gaussian_splatting/renderer/sh_config.h
  modules/gaussian_splatting/tests/test_gaussian_splat_node.h
  modules/gaussian_splatting/tests/test_renderer_pipeline.h
Due: copyright-headers, header-guards

Change `self_destruction.gd` unit test to be an error test instead
  modules/gdscript/gdscript_vm.cpp
  modules/gdscript/tests/scripts/runtime/errors/self_destruction.gd
  modules/gdscript/tests/scripts/runtime/errors/self_destruction.out
  modules/gdscript/tests/scripts/runtime/features/self_destruction.out
Due: copyright-headers

Fix panning with 3 button emulation not working
  scene/debugger/view_3d_controller.cpp
Due: copyright-headers

gaussian_splatting: tighten stage 3b config provenance
  modules/gaussian_splatting/editor/gaussian_editor_services.cpp
  modules/gaussian_splatting/nodes/gaussian_splat_node_helpers.cpp
  modules/gaussian_splatting/renderer/pipeline_feature_set.cpp
  modules/gaussian_splatting/tests/test_gaussian_splat_node.h
  modules/gaussian_splatting/tests/test_renderer_pipeline.h
Due: copyright-headers, header-guards

Fix Scenetree conflict in editor script
  main/main.cpp
Due: copyright-headers

gaussian_splatting: clean up unified pipeline follow-through
  docs/architecture/gaussian-pipeline-unification-plan.md
  docs/architecture/gaussian-resident-instanced-contract.md
  modules/gaussian_splatting/core/gaussian_splat_scene_director.cpp
  modules/gaussian_splatting/core/gaussian_splat_scene_director.h
  modules/gaussian_splatting/renderer/gaussian_splat_renderer.cpp
  modules/gaussian_splatting/renderer/gaussian_splat_renderer.h
  modules/gaussian_splatting/renderer/resident_instance_contract_publisher.cpp
  modules/gaussian_splatting/tests/test_gaussian_splat_node.h
  modules/gaussian_splatting/tests/test_renderer_pipeline.h
  modules/gaussian_splatting/tests/test_scene_director_submission_scaffolding.h
Due: copyright-headers, header-guards

gaussian_splatting: close out refactor branch with build and test fixes
  docs/architecture/gaussian-pipeline-unification-plan.md
  docs/architecture/index.md
  docs/architecture/overview.md
  modules/gaussian_splatting/core/streaming_visibility_controller.cpp
  modules/gaussian_splatting/io/resource_importer_ply.cpp
  modules/gaussian_splatting/tests/synthetic_splat_generators.h
  modules/gaussian_splatting/tests/test_integration.cpp
  modules/gaussian_splatting/tests/test_scene_director_submission_scaffolding.h
  tests/examples/godot/test_project/tests/fixtures/test_splats.gsplatworld
Due: copyright-headers, header-guards

Allow viewing GDExtensions from inside project settings
  editor/settings/gdextension/SCsub
  editor/settings/gdextension/project_settings_gdextension.cpp
  editor/settings/gdextension/project_settings_gdextension.h
  editor/settings/project_settings_editor.cpp
  editor/settings/project_settings_editor.h
Due: copyright-headers, header-guards

Fix clashing shortcut between camera preview and quick open on Win/Linux
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

Android: Add missing set_restart_if_changed for haptic_on_long_press setting
  editor/settings/editor_settings.cpp
Due: copyright-headers

Fix 3D zoom indicator not showing in editor
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
  scene/debugger/view_3d_controller.cpp
Due: copyright-headers, header-guards

Add FXAA support to the Compatibility renderer
  COPYRIGHT.txt
  drivers/gles3/effects/post_effects.cpp
  drivers/gles3/effects/post_effects.h
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/effects/post.glsl
  drivers/gles3/storage/render_scene_buffers_gles3.cpp
  drivers/gles3/storage/render_scene_buffers_gles3.h
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
  servers/rendering/renderer_rd/shaders/effects/tonemap_mobile.glsl
  servers/rendering/renderer_viewport.cpp
Due: copyright-headers, header-guards

expand inspector sections while searching
  editor/inspector/editor_inspector.cpp
Due: copyright-headers

Add NOTIFICATION_RESOURCE_DESERIALIZED
  core/io/resource.cpp
  core/io/resource.h
  core/io/resource_format_binary.cpp
  doc/classes/Resource.xml
  scene/resources/resource_format_text.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Add Tapered Capsule 3D Shape and Mesh Classes
  doc/classes/PhysicsServer3DExtension.xml
  doc/classes/TaperedCapsuleMesh.xml
  doc/classes/TaperedCapsuleShape3D.xml
  editor/scene/3d/gizmos/physics/collision_shape_3d_gizmo_plugin.cpp
  modules/godot_physics_3d/godot_physics_server_3d.cpp
  modules/godot_physics_3d/godot_physics_server_3d.h
  modules/jolt_physics/jolt_physics_server_3d.cpp
  modules/jolt_physics/jolt_physics_server_3d.h
  modules/jolt_physics/shapes/jolt_tapered_capsule_shape_3d.cpp
  modules/jolt_physics/shapes/jolt_tapered_capsule_shape_3d.h
  scene/register_scene_types.cpp
  scene/resources/3d/SCsub
  scene/resources/3d/tapered_capsule_mesh.cpp
  scene/resources/3d/tapered_capsule_mesh.h
  scene/resources/3d/tapered_capsule_shape_3d.cpp
  scene/resources/3d/tapered_capsule_shape_3d.h
  servers/physics_3d/physics_server_3d.h
  servers/physics_3d/physics_server_3d_dummy.h
  servers/physics_3d/physics_server_3d_extension.cpp
  servers/physics_3d/physics_server_3d_extension.h
  servers/physics_3d/physics_server_3d_wrap_mt.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Use iterate_children() in Container nodes
  scene/gui/aspect_ratio_container.cpp
  scene/gui/box_container.cpp
  scene/gui/center_container.cpp
  scene/gui/flow_container.cpp
  scene/gui/foldable_container.cpp
  scene/gui/graph_element.cpp
  scene/gui/grid_container.cpp
  scene/gui/margin_container.cpp
  scene/gui/panel_container.cpp
  scene/gui/scroll_container.cpp
  scene/gui/subviewport_container.cpp
  scene/gui/tab_container.cpp
Due: copyright-headers

Implement EditorExtensionSourceCodePlugin
  core/object/object.h
  doc/classes/EditorExtensionSourceCodePlugin.xml
  doc/classes/EditorPlugin.xml
  doc/classes/EditorValidationContext.xml
  editor/SCsub
  editor/docks/filesystem_dock.cpp
  editor/docks/filesystem_dock.h
  editor/editor_node.cpp
  editor/editor_validation_context.cpp
  editor/editor_validation_context.h
  editor/extension/SCsub
  editor/extension/editor_extension_source_code_plugin.cpp
  editor/extension/editor_extension_source_code_plugin.h
  editor/extension/extension_class_create_dialog.cpp
  editor/extension/extension_class_create_dialog.h
  editor/extension/extension_source_code_manager.cpp
  editor/extension/extension_source_code_manager.h
  editor/icons/ExtensionClass.svg
  editor/plugins/editor_plugin.cpp
  editor/plugins/editor_plugin.h
  editor/register_editor_types.cpp
  editor/scene/connections_dialog.cpp
  editor/scene/scene_tree_editor.cpp
  editor/scene/scene_tree_editor.h
Due: make-rst, doc-status, validate-xml, svgo, copyright-headers, header-guards
