Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, validate-builders, validate-xml, eslint, jsdoc, svgo, copyright-headers, header-guards

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-builders: any of: ^(gles3|glsl)_builders\.py$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  validate-xml: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/GLSurfaceView\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/gl/EGLLogWrapper\.java|
  platform/android/java/lib/src/main/java/org/godotengine/godot/utils/ProcessPhoenix\.java
)$
) and not ((?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$
)
  header-guards: any of: \.(h|hpp|hh|hxx)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-(dll|dylib|so)_wrap\.[ch]|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/main/java/com/google/.*
)$


Add UTF-8 encoding to svg file open in platform_builders.py
  platform/platform_builders.py
Due: none

GDScript: Use `VariantInitializer` to initialize temporaries
  modules/gdscript/gdscript_vm.cpp
Due: copyright-headers

Mono: Fix nullable annotation CI failure in ScriptPathAttribute
  modules/mono/csharp_script.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/Attributes/ScriptPathAttribute.cs
Due: copyright-headers

Apply suggestions from code review
  tests/scene/test_control.cpp
Due: copyright-headers

Reorganize includes in test_control.cpp
  tests/scene/test_control.cpp
Due: copyright-headers

Fix parameter name mismatch
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_blend_tree.h
  scene/animation/animation_tree.h
Due: copyright-headers, header-guards

Refactor `_meta_clicked` to explicitly categorize and handle URLs, project resources, and engine source files.
  editor/editor_log.cpp
Due: copyright-headers

Catch Header Conflict for Macs
  platform/macos/display_server_macos_base.h
Due: copyright-headers, header-guards

Fix Audio bus effects section margin
  editor/themes/theme_classic.cpp
  editor/themes/theme_modern.cpp
Due: copyright-headers

Expose `AudioServer` stream playback functions Expose `AudioServer::start_playback_stream` Expose `AudioServer::stop_playback_stream` Move `AudioStreamPlayer::MixTarget` to `AudioServer`
  doc/classes/AudioServer.xml
  doc/classes/AudioStreamPlayer.xml
  misc/extension_api_validation/4.6-stable/GH-#117430.txt
  scene/audio/audio_stream_player.compat.inc
  scene/audio/audio_stream_player.cpp
  scene/audio/audio_stream_player.h
  servers/audio/audio_server.cpp
  servers/audio/audio_server.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

stop autocomplete from eating words by default
  core/input/input_map.cpp
Due: copyright-headers

Refactor `EditorLog::_meta_clicked` to use `rsplit` for path/line parsing and refine external editor fallback logic.
  editor/editor_log.cpp
Due: copyright-headers

add goto next error keybind
  editor/gui/code_editor.cpp
  editor/script/script_editor_base.cpp
  editor/script/script_editor_base.h
  editor/script/script_text_editor.cpp
  editor/shader/text_shader_editor.cpp
  editor/shader/text_shader_editor.h
Due: copyright-headers, header-guards

HDR Output for Android
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  platform/android/display_server_android.cpp
  platform/android/display_server_android.h
  platform/android/java/lib/src/main/java/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/main/java/org/godotengine/godot/GodotLib.java
  platform/android/java_godot_lib_jni.cpp
  platform/android/java_godot_wrapper.cpp
  platform/android/java_godot_wrapper.h
  servers/rendering/renderer_rd/renderer_compositor_rd.cpp
  servers/rendering/renderer_rd/shaders/blit.glsl
  servers/rendering/rendering_device_commons.h
Due: copyright-headers, header-guards

Add support for setting the max output on Android
  core/config/project_settings.cpp
  doc/classes/ProjectSettings.xml
  platform/android/display_server_android.cpp
  platform/android/java/lib/src/main/java/org/godotengine/godot/GodotGLRenderView.java
  platform/android/java/lib/src/main/java/org/godotengine/godot/GodotRenderView.java
  platform/android/java/lib/src/main/java/org/godotengine/godot/GodotVulkanRenderView.java
  platform/android/java_godot_view_wrapper.cpp
  platform/android/java_godot_view_wrapper.h
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Adding exporting of structs
  core/object/object.h
  core/variant/array.cpp
  editor/inspector/editor_properties.cpp
  editor/inspector/editor_properties_array_dict.cpp
  editor/inspector/editor_properties_array_dict.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
Due: copyright-headers, header-guards

Fix trails not updating for mesh property changes
  scene/3d/gpu_particles_3d.cpp
Due: copyright-headers

Implement rectangle selection for canvas item gizmos.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
  scene/main/canvas_item.cpp
Due: copyright-headers, header-guards

Implement handle dragging.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
  scene/main/canvas_item.cpp
Due: copyright-headers, header-guards

Apply review changes.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
Due: copyright-headers, header-guards

Add gizmo menu support.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
Due: copyright-headers, header-guards

Add infrastructure for CanvasItem gizmos.
  editor/register_editor_types.cpp
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.h
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
Due: copyright-headers, header-guards

Fix up first round of review comments.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
  scene/main/canvas_item.cpp
Due: copyright-headers, header-guards

Implement plugin registration and node picking by mouse click.
  editor/plugins/editor_plugin.cpp
  editor/plugins/editor_plugin.h
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  scene/scene_string_names.h
Due: copyright-headers, header-guards

Add subgizmo selection.
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
Due: copyright-headers, header-guards

Add subgizmo movement.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
  scene/main/canvas_item.cpp
Due: copyright-headers, header-guards

Add subgizmo rotation.
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers

Fix gizmo picking on transformed items, simplify interface.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers, header-guards

Fix gizmo movement on rotated and scaled transforms. Fix subgizmo deselection.
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers

Add support for editing boundaries and pivots (WIP, no undo yet).
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
Due: copyright-headers, header-guards

Fix handles drawing over the guide rulers.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/canvas_item_editor_plugin.h
Due: copyright-headers, header-guards

Add handle hover support.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers

Refactor gizmo integration. Add undo/redo for scale/pivot.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
Due: copyright-headers, header-guards

Address TODO comments.
  doc/classes/EditorCanvasItemGizmo.xml
  doc/classes/EditorCanvasItemGizmoPlugin.xml
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
Due: make-rst, doc-status, validate-xml, copyright-headers, header-guards

Fix missing parameter names.
  scene/main/canvas_item.cpp
Due: copyright-headers

Fix typo.
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers

Add documentation for new API.
  doc/classes/CanvasItem.xml
  doc/classes/CanvasItemGizmo.xml
  doc/classes/EditorCanvasItemGizmo.xml
  doc/classes/EditorCanvasItemGizmoPlugin.xml
  doc/classes/EditorPlugin.xml
Due: make-rst, doc-status, validate-xml

Fix implementation of boundary change.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
Due: copyright-headers, header-guards

Simplify code.
  editor/scene/2d/canvas_item_editor_gizmos.cpp
  editor/scene/2d/canvas_item_editor_gizmos.h
  editor/scene/canvas_item_editor_plugin.cpp
  editor/scene/canvas_item_editor_plugin.h
Due: copyright-headers, header-guards
