Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Initialize image and release
  modules/camera/camera_web.cpp
Due: copyright-headers

Add CameraFeed support for Web
  doc/classes/CameraFeed.xml
  doc/classes/CameraServer.xml
  modules/camera/SCsub
  modules/camera/camera_web.cpp
  modules/camera/camera_web.h
  modules/camera/config.py
  platform/web/SCsub
  platform/web/camera_driver_web.cpp
  platform/web/camera_driver_web.h
  platform/web/godot_camera.h
  platform/web/js/libs/library_godot_camera.js
Due: make-rst, doc-status, eslint, copyright-headers, header-guards

Use SafeFlag instead of atomic
  modules/camera/camera_web.cpp
  modules/camera/camera_web.h
Due: copyright-headers, header-guards

Remove Asyncify dependency
  modules/camera/camera_web.cpp
  modules/camera/camera_web.h
  platform/web/SCsub
  platform/web/camera_driver_web.cpp
  platform/web/camera_driver_web.h
  platform/web/godot_camera.h
  platform/web/js/libs/library_godot_camera.js
Due: eslint, copyright-headers, header-guards

Support signals
  modules/camera/camera_web.cpp
Due: copyright-headers

Visual feedback update for viewport rotation gizmo.
  editor/scene/3d/node_3d_editor_plugin.cpp
Due: copyright-headers

[macOS] Fix mouse enter/exit event and custom cursor shape in embedded game mode.
  platform/macos/display_server_embedded.mm
  platform/macos/editor/embedded_game_view_plugin.h
  platform/macos/editor/embedded_game_view_plugin.mm
  platform/macos/editor/embedded_process_macos.h
  platform/macos/editor/embedded_process_macos.mm
Due: copyright-headers, header-guards

Add prefix to WORD_SIZE
  platform/linuxbsd/wayland/snooper.cpp
Due: copyright-headers

[macOS] Move more methods to base DisplayServer.
  platform/macos/display_server_macos.h
  platform/macos/display_server_macos.mm
  platform/macos/display_server_macos_base.h
  platform/macos/display_server_macos_base.mm
Due: copyright-headers, header-guards

"snooper" -> "embedder"
  platform/linuxbsd/wayland/SCsub
  platform/linuxbsd/wayland/embedder.cpp
  platform/linuxbsd/wayland/embedder.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

Fix incorrect projection matrix for GI
  servers/rendering/renderer_rd/environment/gi.cpp
Due: copyright-headers

Pass all embedded client connections through the embedder
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Add minimum scale to shader list
  editor/shader/shader_editor_plugin.cpp
Due: copyright-headers

Sort bent normal output at the bottom to prevent visual shader breakage
  scene/resources/visual_shader.cpp
Due: copyright-headers

Disable tooltip fitting if FEATURE_SELF_FITTING_WINDOWS is available
  editor/doc/editor_help.cpp
  scene/main/viewport.cpp
Due: copyright-headers

Update doc/classes/AreaLight3D.xml
  doc/classes/AreaLight3D.xml
Due: make-rst, doc-status

Make rotation gizmo white outline a 4th handle that rotates around the camera's view-axis
  editor/scene/3d/node_3d_editor_plugin.cpp
  editor/scene/3d/node_3d_editor_plugin.h
Due: copyright-headers, header-guards

Remove unnecessary cpp files
  core/templates/command_queue_mt.cpp
  core/templates/command_queue_mt.h
  core/templates/rid_owner.cpp
  core/templates/rid_owner.h
  modules/godot_physics_2d/godot_broad_phase_2d.cpp
  modules/godot_physics_2d/godot_broad_phase_2d.h
  modules/godot_physics_3d/godot_broad_phase_3d.cpp
  modules/godot_physics_3d/godot_broad_phase_3d.h
  platform/web/SCsub
  platform/web/ip_web.cpp
  platform/web/ip_web.h
  platform/web/net_socket_web.cpp
  platform/web/net_socket_web.h
  servers/rendering/dummy/storage/texture_storage.cpp
  servers/rendering/dummy/storage/texture_storage.h
  servers/rendering/renderer_rd/storage_rd/forward_id_storage.cpp
  servers/rendering/renderer_rd/storage_rd/forward_id_storage.h
  servers/rendering/renderer_rd/storage_rd/render_data_rd.cpp
  servers/rendering/renderer_rd/storage_rd/render_data_rd.h
  servers/rendering/rendering_method.cpp
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server_globals.cpp
  servers/rendering/rendering_server_globals.h
  servers/xr/xr_controller_tracker.cpp
  servers/xr/xr_controller_tracker.h
Due: copyright-headers, header-guards

Handle multiple clients per PID properly
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/embedder.cpp
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/wayland/wayland_thread.h
Due: copyright-headers, header-guards

cleaning and such
  core/io/json.cpp
  core/io/marshalls.cpp
  core/io/packed_data_container.cpp
  core/io/resource_format_binary.cpp
  core/templates/heap_object.h
  core/templates/vtable_pointer.h
  core/variant/variant.cpp
  core/variant/variant_internal.h
  core/variant/variant_parser.cpp
  core/variant/variant_setget.cpp
  core/variant/variant_struct.cpp
  core/variant/variant_struct.h
  core/variant/variant_struct_native.h
  doc/classes/PhysicsDirectSpaceState3D.xml
  servers/physics_server_3d.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Add default texture filtering option
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  scene/3d/label_3d.cpp
  scene/3d/label_3d.h
  scene/3d/sprite_3d.cpp
  scene/3d/sprite_3d.h
  scene/resources/material.cpp
  scene/resources/material.h
  servers/rendering/dummy/rasterizer_scene_dummy.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: copyright-headers, header-guards

[Windows] Fix SSE4.2 detection with LTO build.
  platform/windows/cpu_feature_validation.c
Due: copyright-headers

Use `double` consistently in `Range::get_as_ratio`.
  scene/gui/range.cpp
Due: copyright-headers

change area width and height to Vector2 size
  doc/classes/AreaLight3D.xml
  doc/classes/Light3D.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/storage/light_storage.cpp
  drivers/gles3/storage/light_storage.h
  editor/plugins/gizmos/light_3d_gizmo_plugin.cpp
  scene/3d/light_3d.cpp
  scene/3d/light_3d.h
  servers/rendering/dummy/storage/light_storage.h
  servers/rendering/renderer_rd/cluster_builder_rd.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/rendering_light_culler.cpp
  servers/rendering/rendering_light_culler.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/light_storage.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix some Text Editor theme issues and clean up
  doc/classes/EditorSettings.xml
  editor/script/script_editor_plugin.cpp
  editor/script/script_editor_plugin.h
  editor/settings/editor_settings.cpp
  editor/settings/editor_settings.h
  editor/settings/editor_settings_dialog.cpp
  editor/themes/editor_theme_manager.cpp
  modules/gdscript/editor/gdscript_highlighter.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

Fix new autoload scripts using file name instead of user defined name
  editor/settings/editor_autoload_settings.cpp
Due: copyright-headers

More StringExtensions improvements
  modules/mono/glue/GodotSharp/GodotSharp/Core/StringExtensions.cs
Due: none

Optimize pattern search in TileSet editor with HashMap lookup
  editor/scene/2d/tiles/tile_map_layer_editor.cpp
  editor/scene/2d/tiles/tile_map_layer_editor.h
  editor/scene/2d/tiles/tile_set_editor.cpp
  editor/scene/2d/tiles/tile_set_editor.h
Due: copyright-headers, header-guards

[GDScript] Strip comments from abstract function signatures, fix crash on multi-line autocompletion string insert.
  modules/gdscript/gdscript_parser.cpp
  scene/gui/code_edit.cpp
Due: copyright-headers

[CI] Use Xcode 16 for macOS build.
  .github/workflows/macos_builds.yml
Due: none

Clarify type inference in ProjectSettings Inferred Declaration warning
  doc/classes/ProjectSettings.xml
Due: make-rst, doc-status

Fix random game crashes, plus some extra debug info
  platform/linuxbsd/wayland/embedder.cpp
  platform/linuxbsd/wayland/wayland_thread.cpp
Due: copyright-headers

Optimize retrieval-by-index methods in Dictionary
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  modules/mono/glue/runtime_interop.cpp
  tests/core/variant/test_dictionary.h
Due: copyright-headers, header-guards

Fast child iteration in `Node`, `Spatial`, `CanvasItem`
  core/local_vector.h
  scene/2d/canvas_item.cpp
  scene/3d/spatial.cpp
  scene/3d/spatial.h
  scene/main/node.cpp
Due: copyright-headers, header-guards

manifold: Update to upstream commit 76208dc
  thirdparty/README.md
  thirdparty/manifold/include/manifold/manifold.h
  thirdparty/manifold/src/boolean3.cpp
  thirdparty/manifold/src/boolean3.h
  thirdparty/manifold/src/boolean_result.cpp
  thirdparty/manifold/src/collider.h
  thirdparty/manifold/src/constructors.cpp
  thirdparty/manifold/src/cross_section/cross_section.cpp
  thirdparty/manifold/src/disjoint_sets.h
  thirdparty/manifold/src/impl.cpp
  thirdparty/manifold/src/impl.h
  thirdparty/manifold/src/polygon.cpp
  thirdparty/manifold/src/sort.cpp
  thirdparty/manifold/src/tree2d.cpp
  thirdparty/manifold/src/tree2d.h
  thirdparty/manifold/src/utils.h
  thirdparty/manifold/src/vec.h
Due: none

add complex geometry functions and documentation
  core/core_bind.cpp
  core/core_bind.h
  core/math/geometry_2d.cpp
  core/math/geometry_2d.h
  doc/classes/Geometry2D.xml
Due: make-rst, doc-status, copyright-headers, header-guards

[EditorExportPlatform] Move initialization to a dedicated method.
  doc/classes/EditorExportPlatformExtension.xml
  editor/export/editor_export.cpp
  editor/export/editor_export_platform.h
  editor/export/editor_export_platform_apple_embedded.cpp
  editor/export/editor_export_platform_apple_embedded.h
  editor/export/editor_export_platform_extension.cpp
  editor/export/editor_export_platform_extension.h
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/ios/export/export_plugin.cpp
  platform/ios/export/export_plugin.h
  platform/linuxbsd/export/export_plugin.cpp
  platform/linuxbsd/export/export_plugin.h
  platform/macos/export/export_plugin.cpp
  platform/macos/export/export_plugin.h
  platform/visionos/export/export_plugin.cpp
  platform/visionos/export/export_plugin.h
  platform/web/export/export_plugin.cpp
  platform/web/export/export_plugin.h
  platform/windows/export/export_plugin.cpp
  platform/windows/export/export_plugin.h
Due: make-rst, doc-status, copyright-headers, header-guards

[Linux] Fix narrowing conversion error in 32-bit builds.
  drivers/unix/dir_access_unix.cpp
Due: copyright-headers

Optimize clear
  core/templates/hash_set.h
Due: copyright-headers, header-guards

Fix error when dragging non-resource file
  editor/inspector/editor_resource_picker.cpp
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
