Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

`ColorChannelSelector`: add tooltip, fix `toggle_button` repositioning and channels autotranslation
  editor/plugins/color_channel_selector.cpp
Due: copyright-headers

Free nodes from instantiating if it is not a Control in the theme editor
  editor/plugins/theme_editor_preview.cpp
Due: copyright-headers

add toggle button support paste and duplicate operations and change the function resolve_insertion_offset()
  editor/animation_track_editor.cpp
  editor/animation_track_editor.h
Due: copyright-headers, header-guards

Rename tile_size to cell_size to match SHAPE_HEIGHTMAP enum
  modules/godot_physics_3d/godot_shape_3d.cpp
  modules/godot_physics_3d/godot_shape_3d.h
  scene/resources/3d/height_map_shape_3d.cpp
  scene/resources/3d/height_map_shape_3d.h
Due: copyright-headers, header-guards

Add null check on generating thumbnails for PackedScene
  editor/plugins/editor_preview_plugins.cpp
Due: copyright-headers

Prevent scene tabs to scroll when a tab is closed, so the user can keep closing other tabs
  doc/classes/TabBar.xml
  editor/editor_node.cpp
  editor/gui/editor_scene_tabs.cpp
  editor/gui/editor_scene_tabs.h
  scene/gui/tab_bar.cpp
  scene/gui/tab_bar.h
Due: make-rst, doc-status, copyright-headers, header-guards

SCons: Enable `lightmapper` and `xatlas_unwrap` modules on Android and iOS editors
  modules/lightmapper_rd/config.py
  modules/xatlas_unwrap/config.py
Due: none

Autocompletion: Don't use `next` for GET_NODE inference
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/tests/scripts/completion/get_node/local/local.gd
Due: copyright-headers

Add and test code from #91523 - change ptr to Ref counted object
  scene/2d/gpu_particles_2d.cpp
Due: copyright-headers

Warn user when user-marked deprecated method is used
  doc/classes/ProjectSettings.xml
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_warning.cpp
  modules/gdscript/gdscript_warning.h
  modules/gdscript/tests/scripts/analyzer/warnings/deprecated_identifier.gd
  modules/gdscript/tests/scripts/analyzer/warnings/deprecated_identifier.out
Due: make-rst, doc-status, copyright-headers, header-guards

Allow Quick Open dialog to preview change in scene
  doc/classes/EditorSettings.xml
  editor/editor_properties.cpp
  editor/editor_resource_picker.cpp
  editor/editor_resource_picker.h
  editor/editor_settings.cpp
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
Due: make-rst, doc-status, copyright-headers, header-guards

Only allow Instant Preview to be used if Quick Open menu is being used to modify a property
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
Due: copyright-headers, header-guards

Only allow property-based Quick Load when resource to modify is defined (otherwise default to old behavior)
  editor/editor_resource_picker.cpp
Due: copyright-headers

Address various suggestions/improvements
  doc/classes/EditorSettings.xml
  editor/editor_resource_picker.cpp
  editor/gui/editor_quick_open_dialog.cpp
  editor/gui/editor_quick_open_dialog.h
Due: make-rst, doc-status, copyright-headers, header-guards

Support for deprecated display in language server
  core/object/script_language.h
  doc/classes/CodeEdit.xml
  editor/code_editor.cpp
  misc/extension_api_validation/4.4-stable.expected
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/language_server/gdscript_extend_parser.cpp
  modules/gdscript/language_server/gdscript_text_document.cpp
  modules/gdscript/language_server/godot_lsp.h
  modules/mono/glue/GodotSharp/GodotSharp/Compat.cs
  scene/gui/code_edit.compat.inc
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  tests/scene/test_code_edit.h
Due: make-rst, doc-status, copyright-headers, header-guards

C#: Fix Shortcut example
  doc/classes/Shortcut.xml
Due: make-rst, doc-status

Do not generate integer division warning after casting expression to integer
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_analyzer.h
Due: copyright-headers, header-guards

Added "See Migration Guide" button to the Project Manager
  editor/project_manager.cpp
  editor/project_manager.h
Due: copyright-headers, header-guards

LightmapGI: Save directional lightmaps as ldr textures
  doc/classes/LightmapGIData.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/shaders/scene.glsl
  drivers/gles3/storage/light_storage.cpp
  drivers/gles3/storage/light_storage.h
  editor/plugins/lightmap_gi_editor_plugin.cpp
  editor/plugins/lightmap_gi_editor_plugin.h
  modules/lightmapper_rd/lightmapper_rd.cpp
  modules/lightmapper_rd/lightmapper_rd.h
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
  scene/3d/lightmapper.h
  servers/rendering/dummy/storage/light_storage.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_rd/storage_rd/light_storage.h
  servers/rendering/rendering_server_default.h
  servers/rendering/storage/light_storage.h
  servers/rendering_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Added Find Sequence to Spans
  core/string/ustring.cpp
  core/templates/span.h
  doc/classes/String.xml
  doc/classes/StringName.xml
Due: make-rst, doc-status, copyright-headers, header-guards

Add TransformContainer
  doc/classes/TransformContainer.xml
  editor/icons/TransformContainer.svg
  scene/gui/transform_container.cpp
  scene/gui/transform_container.h
  scene/register_scene_types.cpp
Due: make-rst, doc-status, svgo, copyright-headers, header-guards

Core: Fix invalid resize after appending
  core/string/ustring.cpp
Due: copyright-headers

Fix `EditorNode::push_node_item` not pushing deselection
  editor/editor_node.cpp
Due: copyright-headers

Add setup script for local development
  .codex/setup.sh
Due: none

Update setup.sh
  .codex/setup.sh
Due: none

fixing error message
  core/io/image.cpp
  core/io/image.h
Due: copyright-headers, header-guards

Update bool class operator list.
  doc/classes/bool.xml
  doc/tools/make_rst.py
Due: make-rst, doc-status

OpenXR: Add access to session state and change interaction profile update.
  modules/openxr/doc_classes/OpenXRInterface.xml
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
Due: make-rst, doc-status, copyright-headers, header-guards

LightmapGI: Limit the texture size based on the total pixel count
  scene/3d/lightmap_gi.cpp
Due: copyright-headers

Improve Camera2D limit editing
  editor/plugins/camera_2d_editor_plugin.cpp
  editor/plugins/camera_2d_editor_plugin.h
Due: copyright-headers, header-guards

Implement `EditorRangeDial` on top of `EditorSpinSlider`
  editor/gui/editor_range_dial.cpp
  editor/gui/editor_range_dial.h
  editor/gui/editor_spin_slider.cpp
  editor/gui/editor_spin_slider.h
  editor/register_editor_types.cpp
Due: copyright-headers, header-guards

Show "No Translations Configured" message for empty translation preview menu
  editor/gui/editor_translation_preview_menu.cpp
Due: copyright-headers

Revamp autoload creation
  editor/editor_autoload_settings.cpp
  editor/editor_autoload_settings.h
  editor/project_settings_editor.cpp
  editor/scene_create_dialog.cpp
  editor/scene_create_dialog.h
Due: copyright-headers, header-guards

Fix errors not being emitted when debugger breaks on script errors
  core/debugger/remote_debugger.cpp
  modules/gdscript/gdscript_vm.cpp
Due: copyright-headers

Use `Span<uint8_t>` in `RenderingDevice` allocation APIs to avoid intermediary arrays on calls.
  core/templates/span.h
  drivers/gles3/rasterizer_canvas_gles3.cpp
  modules/betsy/image_compress_betsy.cpp
  modules/lightmapper_rd/lightmapper_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/storage_rd/mesh_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/rendering_device.compat.inc
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
Due: copyright-headers, header-guards

Update CI `ruff` pre-commit hooks
  .pre-commit-config.yaml
Due: none

Bump to c++17
  SConstruct
Due: none

Apply glow and bcs adjustment in linear space
  scene/resources/environment.cpp
  servers/rendering/renderer_rd/shaders/effects/tonemap.glsl
Due: copyright-headers

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
