Repository godotengine/godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, doc-status, eslint, jsdoc, svgo, copyright-headers, header-guards

make-rst:
  name: make-rst
  language: python
  entry: python doc/tools/make_rst.py
  args:
  - doc/classes
  - modules
  - platform
  - --dry-run
  - --color
  pass_filenames: false

doc-status:
  name: doc-status
  language: python
  entry: python doc/tools/doc_status.py
  args:
  - doc/classes
  - modules/*/doc_classes
  - platform/*/doc_classes
  pass_filenames: false

eslint:
  name: eslint
  language: node
  entry: eslint
  args:
  - --fix
  - --no-warn-ignored
  - --no-config-lookup
  - --config
  - platform/web/eslint.config.cjs
  additional_dependencies:
  - '@eslint/js@^9.3.0'
  - '@html-eslint/eslint-plugin@^0.24.1'
  - '@html-eslint/parser@^0.24.1'
  - '@stylistic/eslint-plugin@^2.1.0'
  ...

jsdoc:
  name: jsdoc
  language: node
  entry: jsdoc
  args:
  - --template
  - platform/web/js/jsdoc2rst/
  - platform/web/js/engine/engine.js
  - platform/web/js/engine/config.js
  - platform/web/js/engine/features.js
  - --destination
  - ''
  - -d
  - dry-run
  pass_filenames: false
  additional_dependencies:
  - jsdoc@^4.0.3

svgo:
  name: svgo
  language: node
  entry: svgo
  args:
  - --quiet
  - --config
  - misc/utility/svgo.config.mjs
  additional_dependencies:
  - svgo@3.3.2

copyright-headers:
  name: copyright-headers
  language: python
  entry: python misc/scripts/copyright_headers.py

header-guards:
  name: header-guards
  language: python
  entry: python misc/scripts/header_guards.py

Don't return Tree items outside visible rect
  scene/gui/tree.cpp
  scene/gui/tree.h
Due: copyright-headers, header-guards

Setup working directory when quitting to project manager
  editor/editor_node.cpp
Due: copyright-headers

Add the ability to set the global position of Line2D points
  scene/2d/line_2d.cpp
  scene/2d/line_2d.h
Due: copyright-headers, header-guards

Fix Floating Window not visible after restore on KDE
  editor/window_wrapper.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
Due: copyright-headers

Fix Floating Window focus on run
  editor/plugins/game_view_plugin.cpp
Due: copyright-headers

Fix Floating Window overlapping when on screen edge
  platform/linuxbsd/x11/display_server_x11.cpp
Due: copyright-headers

Fix #66526 by removing PackedStringArray.to_byte_array
  core/variant/variant_call.cpp
  doc/classes/PackedStringArray.xml
Due: make-rst, doc-status, copyright-headers

Minimize some editor panels
  editor/animation_track_editor.cpp
  editor/debugger/editor_profiler.cpp
  editor/debugger/editor_visual_profiler.cpp
  editor/editor_audio_buses.cpp
  editor/plugins/animation_blend_space_2d_editor.cpp
  editor/plugins/animation_state_machine_editor.cpp
  editor/plugins/animation_tree_editor_plugin.cpp
  editor/plugins/polygon_2d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/shader_editor_plugin.cpp
  editor/plugins/shader_file_editor_plugin.cpp
  editor/plugins/sprite_frames_editor_plugin.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/theme_editor_preview.cpp
  editor/plugins/tiles/tile_map_layer_editor.cpp
  editor/plugins/tiles/tile_set_editor.cpp
  modules/multiplayer/editor/editor_network_profiler.cpp
Due: copyright-headers

Change to to_global and to_local functions, and add documentation.
  doc/classes/Line2D.xml
  scene/2d/line_2d.cpp
Due: make-rst, doc-status, copyright-headers

Fix runtime crash with 3D selection with no camera
  scene/debugger/scene_debugger.cpp
Due: copyright-headers

Fix Escape does not work the first time when pressed at the Find(Replace)Bar
  editor/code_editor.cpp
  editor/code_editor.h
  editor/editor_help.cpp
  editor/editor_help.h
Due: copyright-headers, header-guards

Linux/BSD: Modify only keypad keys
  platform/linuxbsd/wayland/key_mapping_xkb.cpp
  platform/linuxbsd/wayland/key_mapping_xkb.h
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/key_mapping_x11.cpp
  platform/linuxbsd/x11/key_mapping_x11.h
Due: copyright-headers, header-guards

Fix 'Show in FileSystem' jumps to incorrect entry under certain conditions
  editor/filesystem_dock.cpp
Due: copyright-headers

Style: Add `modernize-use-using` to clang-tidy
  .clang-tidy
Due: none

Clarify where INSTANCE_CUSTOM can be accessed
  doc/classes/MultiMesh.xml
Due: make-rst, doc-status

Make `CharFXTransform.font` property read only, add some extra documentation notes.
  doc/classes/CharFXTransform.xml
  scene/gui/rich_text_label.cpp
Due: make-rst, doc-status, copyright-headers

platform-specific overrides
  doc/classes/ProjectSettings.xml
  main/main.cpp
  platform/android/display_server_android.cpp
  platform/ios/display_server_ios.mm
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/macos/display_server_macos.mm
  platform/windows/display_server_windows.cpp
Due: make-rst, doc-status, copyright-headers

[RTL] Fix updating region without updating texture.
  scene/gui/rich_text_label.cpp
Due: copyright-headers

Set FileDialog access mode to FILESYSTEM when using a native dialog to match the behaviour described in the doccumentation.
  scene/gui/file_dialog.cpp
Due: copyright-headers

Ignore `modernize-use-using` commit
  .git-blame-ignore-revs
Due: none

Support Input and UI for multiple players
  core/config/project_settings.cpp
  core/config/project_settings.h
  core/input/input.cpp
  core/input/input.h
  core/input/input_event.cpp
  core/input/input_event.h
  editor/device_map_editor.cpp
  editor/device_map_editor.h
  editor/project_settings_editor.cpp
  editor/project_settings_editor.h
  scene/gui/control.cpp
  scene/gui/control.h
  scene/main/viewport.cpp
  scene/main/viewport.h
Due: copyright-headers, header-guards

Fix ColorPicker RAW alpha slider theme
  scene/gui/color_mode.cpp
Due: copyright-headers

Core: Integrate C++20 concepts in `HashMapHasherDefault`
  core/templates/hashfuncs.h
  drivers/metal/metal_objects.h
  drivers/metal/rendering_device_driver_metal.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
Due: copyright-headers, header-guards

Core: Integrate C++20 three-way comparison operators
  core/math/vector2.cpp
  core/math/vector2.h
  core/math/vector2i.cpp
  core/math/vector2i.h
  core/math/vector3.cpp
  core/math/vector3.h
  core/math/vector3i.h
  core/math/vector4.cpp
  core/math/vector4.h
  core/math/vector4i.h
  core/object/object_id.h
  core/object/ref_counted.h
  core/string/string_name.h
  core/templates/rid.h
  core/variant/callable.cpp
  core/variant/callable.h
  scene/resources/2d/tile_set.cpp
  scene/resources/2d/tile_set.h
  servers/rendering/rendering_device_commons.h
  servers/rendering/rendering_device_driver.h
Due: copyright-headers, header-guards

Core: Integrate C++20 `std::remove_cvref_t`
  core/templates/command_queue_mt.h
  core/templates/simple_type.h
  core/variant/binder_common.h
  core/variant/variant_internal.h
Due: copyright-headers, header-guards

Core: Integrate C++20 `using enum`
  core/core_bind.cpp
  core/core_bind.h
  core/io/resource_loader.h
  core/os/thread.h
Due: copyright-headers, header-guards

Optimize Lighting by culling omni and spot lights with no energy
  servers/rendering/renderer_rd/storage_rd/light_storage.cpp
  servers/rendering/renderer_scene_cull.cpp
Due: copyright-headers

Add Flecs, Message System modules
  modules/flecs/SCsub
  modules/flecs/config.py
  modules/flecs/flecs_singleton.h
  modules/flecs/flecs_world.cpp
  modules/flecs/flecs_world.h
  modules/flecs/register_types.cpp
  modules/flecs/register_types.h
  modules/flecs/thirdparty/flecs.c
  modules/flecs/thirdparty/flecs.h
  modules/gameplay_messaging/SCsub
  modules/gameplay_messaging/config.py
  modules/gameplay_messaging/message_system.cpp
  modules/gameplay_messaging/message_system.h
  modules/gameplay_messaging/message_types.h
  modules/gameplay_messaging/register_types.cpp
  modules/gameplay_messaging/register_types.h
Due: copyright-headers, header-guards

Fix playing of video Theora files
  modules/theora/video_stream_theora.cpp
  modules/theora/video_stream_theora.h
  scene/gui/video_stream_player.cpp
  servers/audio/audio_rb_resampler.h
Due: copyright-headers, header-guards

Add "active" state to one of the multiple selected Node3Ds to determine basis in Local mode
  doc/classes/EditorSettings.xml
  editor/editor_settings.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.h
Due: make-rst, doc-status, copyright-headers, header-guards

[WinTab] Use WT_Packet coordinates to improve precision.
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Due: copyright-headers, header-guards

[Linux] Implement native color picker.
  doc/classes/DisplayServer.xml
  platform/linuxbsd/freedesktop_portal_desktop.cpp
  platform/linuxbsd/freedesktop_portal_desktop.h
  platform/linuxbsd/wayland/display_server_wayland.cpp
  platform/linuxbsd/wayland/display_server_wayland.h
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  servers/display_server.cpp
  servers/display_server.h
Due: make-rst, doc-status, copyright-headers, header-guards

Implement `get_length()` for pipes.
  core/io/file_access.cpp
  doc/classes/FileAccess.xml
  drivers/unix/file_access_unix_pipe.cpp
  drivers/unix/file_access_unix_pipe.h
  drivers/windows/file_access_windows_pipe.cpp
  drivers/windows/file_access_windows_pipe.h
Due: make-rst, doc-status, copyright-headers, header-guards

Fix double click state for mouse button release input events.
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/linuxbsd/x11/display_server_x11.h
  platform/macos/godot_content_view.mm
  platform/windows/display_server_windows.cpp
  platform/windows/display_server_windows.h
Due: copyright-headers, header-guards

Add SubViewportContainer `stretch_factor`
  doc/classes/SubViewportContainer.xml
  editor/plugins/node_3d_editor_plugin.cpp
  scene/gui/subviewport_container.cpp
  scene/gui/subviewport_container.h
  scene/main/viewport.cpp
Due: make-rst, doc-status, copyright-headers, header-guards

SCons: Apply new ruff/mypy fixes
  SConstruct
  doc/tools/make_rst.py
  gles3_builders.py
  methods.py
  modules/text_server_adv/gdextension_build/SConstruct
  modules/text_server_fb/gdextension_build/SConstruct
Due: none

Path conditions:
  make-rst: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  doc-status: any of: ^(doc/classes|.*/doc_classes)/.*\.xml$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  eslint: any of: ^(platform/web/js/|modules/|misc/dist/html/).*\.(js|html)$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  jsdoc: any of: ^platform/web/js/engine/(engine|config|features)\.js$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  svgo: any of: \.svg$, but not: (?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)

  copyright-headers: any of: \.(c|h|cpp|hpp|cc|hh|cxx|hxx|m|mm|inc|java)$ and not ((?x)^(
  core/math/bvh_.*\.inc$|
  platform/(?!android|ios|linuxbsd|macos|web|windows)\w+/.*|
  platform/android/java/editor/src/main/java/com/android/.*|
  platform/android/java/lib/src/com/.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView\.java$|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper\.java$|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix\.java$
)
) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
  header-guards: any of: \.(h|hpp|hh|hxx)$ and not (^.*/(thread|platform_config|platform_gl)\.h$) and not ((?x)^(
  .*thirdparty/.*|
  .*-so_wrap\.(h|c)$
)
)
